10.12 Credit market constraints: Aprincipalagent problem
Lending is risky. A loan is made now and has to be repaid in the future. Between now and then, unanticipated events beyond the control of the borrower can occur. If the crops in Chambar, Pakistan were destroyed by bad weather or disease, the moneylenders would not be repaid even though the farmers were hard-working. The obsolescence of the skill you have invested in using your student loan is an unavoidable risk, and will mean the loan may not be repaid. The interest rate set by a bank or a moneylender would be greater if the default risk due to unavoidable events was greater.
But lenders face two further problems. When loans are taken out for investment projects, the lender cannot be sure that a borrower will exert enough effort to make the project succeed. Moreover, often the borrower has more information than the lender about the quality of the project and its likelihood of success. Both of these problems arise from the difference between the information the borrower and the lender have about the borrowers project and actions.

principalagent relationshipThis relationship exists when one party (the principal) would like another party (the agent) to act in some way, or have some attribute that is in the interest of the principal, and that cannot be enforced or guaranteed in a binding contract. See also: incomplete contract. Also known as: principalagent problem.collateralAn asset that a borrower pledges to a lender as a security for a loan. If the borrower is not able to make the loan payments as promised, the lender becomes the owner of the asset.

This creates a conflict of interest. If the project doesnt succeed because the borrower made too little effort, or because it just wasnt a good project, the lender loses money. If the borrower were using only her own money, it is likely that she would have been more conscientious or maybe not engaged in the project at all.
The relationship between the lender and the borrower is a principalagent problem. The lender is the principal and the borrower is the agent. The principalagent problem between borrower and lender is similar to the somebody elses money problem discussed in Unit 6. In that case, the manager of a firm (the agent) is making decisions about the use of the funds supplied by the firms investors (the principals), but they are not in a position to require him to act in a way that maximizes their wealth, rather than pursuing his own objectives.
In the case of borrowing and lending, it is often not possible for the lender (the principal) to write a contract that ensures a loan will be repaid by the borrower (the agent). The reason is that it is impossible for the lender to ensure by contract that the borrower will use the funds in a prudent way that will allow repayment according to the terms of the loan.
The table in Figure 10.19 compares two principalagent problems.






Actors
Conflict of interest over
Enforceable contract covers
Left out of contract (or unenforceable)
Result


Labour market (Units 6 and 9)
EmployerEmployee
Wages, work (quality and amount)
Wages, time, conditions
Work (quality and amount), duration of employment
Effort under-provided; unemployment


Credit market (Units 10 and 12)
LenderBorrower
Interest rate, conduct of project (effort, prudence)
Interest rate
Effort, prudence, repayment
Too much risk, credit constraints




Figure 10.19 
Principalagent problems: The credit market and the labour market.
        




One response of the lender to this conflict of interest is to require the borrower to put some of her wealth into the project (this is called equity). The more of the borrowers own wealth is invested in the project, the more closely aligned her interests are with those of the lender. Another common response, whether the borrowers are home buyers in New Zealand or car buyers in New Orleans, is to require the borrower to set aside property that will be transferred to the lender if the loan is not repaid (this is called collateral).






Those seeking loans to purchase a car are often required to allow a device to be installed in the vehicle that is controlled by the bank, which will disable the ignition of the car if the loan payments are not made as required, as this New York Times video shows. The practice has not made lenders very popular.


Equity or collateral reduces the conflict of interest between the borrower and the lender. The reason is that when the borrower has some of her money (either equity or collateral) at stake:

She has a greater interest in working hard: She will try harder to make prudent business decisions to ensure the projects success.
It is a signal to the lender: It signals that the borrower thinks that the project is of sufficient quality to succeed.


credit rationingThe process by which those with less wealth borrow on unfavourable terms, compared to those with more wealth.

But there is a hitch. If the borrower had been wealthy, she could either use her wealth as collateral and as equity in the project, or she could have been on the other side of the market, lending money. Typically the reason why the borrower needs a loan is that she is not wealthy. As a result, she may be unable to provide enough equity or collateral to sufficiently reduce the conflict of interest and hence the risk faced by the lender, and the lender refuses to offer a loan.

credit-excludedA description of individuals who are unable to borrow on any terms. See also: credit-constrained.credit-constrainedA description of individuals who are able to borrow only on unfavourable terms. See also: credit-excluded.

This is called credit rationing: those with less wealth borrow on unfavourable terms compared with those with more wealth, or are refused loans entirely.
Borrowers whose limited wealth makes it impossible to get a loan at any interest rate are termed credit-excluded. Those who borrow, but only on unfavourable terms, are termed credit-constrained. Both are sometimes said to be wealth-constrained, meaning that their wealth limits their credit market opportunities. Adam Smith had credit rationing in mind when he wrote:

Money, says the proverb, makes money. When you have got a little it is often easy to get more. The great difficulty is to get that little. (An Inquiry into the Nature and Causes of the Wealth of Nations, 1776)7

The relationship between wealth and credit is summarized in Figure 10.20.











Figure 10.20 
Wealth, project quality, and credit.
        




The exclusion of those without wealth from credit markets or their borrowing on unfavourable terms is evident in these facts:

In a survey, one in eight US families had their request for credit rejected by a financial institution: The assets of these credit-constrained families were 63% lower than the unconstrained families. Discouraged borrowers (those who did not apply for a loan because they expected to be rejected) had even lower wealth than the rejected applicants.
Credit card borrowing limits are often increased automatically: If borrowing increases in response to an automatic change in the borrowing limit, we can conclude that the individual was credit-constrained. The authors of this study suggested that approximately two-thirds of US families may be credit-constrained or excluded.8
Inheritance leads the self-employed to considerably increase the scale of their operations: An inheritance of 5,000 in 1981 (around $24,000 today) doubled a typical British youths likelihood of setting up a business.
Owning a house can be used as collateral: A 10% rise in value of housing assets that could be used as collateral to secure loans in the UK increases the number of startup businesses by 5%.
Asset-poor people in the US frequently take out short-term payday loans: In the state of Illinois, the typical short-term borrower is a low-income woman in her mid-thirties ($24,104 annual income), living in rental housing, borrowing between $100 and $200, and paying an average annual rate of interest of 486%.
Poor and middle-income Indian farmers could substantially raise their incomes if they did not face credit constraints: Not only do they generally underinvest in productive assets, but the assets they hold are biased towards those they can sell in times of need (bullocks) and against highly profitable equipment (irrigation pumps), which have little resale value.9


Question 10.11 Choose the correct answer(s)
Which of the following statements are correct regarding the principalagent problem?

A principalagent problem exists in loans due to a positive possibility of the principal not being repaid.
The principalagent problem can be resolved by writing a binding contract for the borrower to exert full effort.
One solution for the principalagent problem in loans is for the borrower to provide equity.
The principalagent problem leads to credit rationing in the loans market.


A principalagent problem exists in loans due to the asymmetric information regarding the borrowers effort or the quality of the project.
The principalagent problem exists because one cannot write a binding contract for full effort.
Equity implies that the agent has more to lose if the project fails, reducing the difference in the incentives between the principal and the agent.
This occurs because some otherwise-viable projects will not be funded owing to the principalagent problem. In particular, those with few assets or little wealth, who cannot afford to put in equity or provide collateral, will be more likely to be credit rationed because of the principalagent problem.



Exercise 10.7 Microfinance and lending to the poor
Read the paper The Microfinance Promise.10 The Grameen Bank in Bangladesh makes loans available to groups of individuals who together apply for individual loans, under the condition that the loans to the group members will be renewed in the future if (but only if) each member has repaid the loan on schedule.
Explain how you think such an arrangement would affect the borrowers decision about what to spend the money on, and how hard she will work to make sure that repayment is possible.

Inequality