10.9 The central bank, the money market, and interest rates

interest rate (short-term)The price of borrowing base money.

Commercial banks make profits from providing banking services and loans. To run the business, they need to be able to make transactions, for which they need base money. There is no automatic relationship between the amount of base money they require and the amount of lending they do. Rather, they need whatever amount of base money will cover the net transactions they have to make on a daily basis. The price of borrowing base money is the short-term interest rate.
Suppose in the above example that Gino wants to pay $50 to Marco (and there are no other transactions that day). Ginos bank, Bonus Bank, doesnt have enough base money to make the transfer to Abacus Bank, as we can see from its balance sheet in Figure 10.13f.





Bonus Bank's assets
Bonus Bank's liabilities


Base money
$20
Payable on demand to Gino
$120


Bank loan
$100


Total
$120




Figure 10.13f 
Bonus Bank does not have enough base money to pay $50 to Abacus Bank.
        




So Bonus Bank has to borrow $30 of base money to make the payment. Banks borrow from each other in the money markets since, at any moment, some banks will have excess money in their bank account, and others not enough. They could try to induce someone to deposit additional money in another bank account, but deposits also have costs due to interest payments, marketing, and maintaining bank branches. Thus, cash deposits are only one part of bank financing.
But what determines the price of borrowing in the money market (the interest rate)? We can think in terms of supply and demand:



The demand for base money depends on how many transactions commercial banks have to make.


The supply of base money is simply a decision by the central bank.



Since the central bank controls the supply of base money, it can also decide the interest rate. The central bank intervenes in the money market by saying it will lend whatever quantity of base money is demanded at the interest rate (i) that it chooses.
The technicalities of how the central bank implements its chosen policy interest rate vary among central banks around the world. The details can be found on each central banks website.

policy (interest) rateThe interest rate set by the central bank, which applies to banks that borrow base money from each other, and from the central bank. Also known as: base rate, official rate. See also: real interest rate, nominal interest rate.

Banks in the money market will respect that price: no bank will borrow at a higher rate or lend at a lower rate, since they can borrow at rate i from the central bank. This i is also called the base rate, official rate or policy rate.

lending rate (bank)The average interest rate charged by commercial banks to firms and households. This rate will typically be above the policy interest rate: the difference is the markup or spread on commercial lending. Also known as: market interest rate. See also: interest rate, policy rate.

The base rate applies to banks that borrow base money from each other, and from the central bank. But it matters in the rest of the economy because of its knock-on effect on other interest rates. The average interest rate charged by commercial banks to firms and households is called the bank lending rate. This rate will typically be above the policy interest rate, to ensure that banks make profits (it will also be higher for borrowers perceived as risky by the bank, as we saw earlier). The difference between the bank lending rate and the base rate is the markup or spread on commercial lending.
In the UK, for example, the policy interest rate set by the Bank of England was 0.5% in 2014, but few banks would lend at less than 3%. In emerging economies this gap can be quite large, owing to the uncertain economic environment. In Brazil, for instance, the central bank policy rate in 2014 was 11% but the bank lending rate was 32%.
The central bank does not control this markup, but generally the bank lending rate goes up and down with the base rate, just as other firms typically vary their prices according to their costs.

government bondA financial instrument issued by governments that promises to pay flows of money at specific intervals.yieldThe implied rate of return that the buyer gets on their money when they buy a bond at its market price.present valueThe value today of a stream of future income or other benefits, when these are discounted using an interest rate or the persons own discount rate. See also: net present value.

Figure 10.14 greatly simplifies the financial system. In this model, we show savers facing just two choices: to deposit money in a bank current account, which we assume pays no interest, or buy government bonds in the money market. The interest rate on government bonds is called the yield. Read the Einstein at the end of this section for an explanation of these bonds, and why the yield on government bonds is close to the policy interest rate. We also give an explanation of what are called present value calculations, which are essential for you to understand how assets like bonds are priced.











Figure 10.14 
Banks, the central bank, borrowers, and savers.
        





Adapted from Figure 5.12 in Chapter 5 of Wendy Carlin and David Soskice. 2015. Macroeconomics: Institutions, Instability, and the Financial System. Oxford: Oxford University Press.



We have now seen a model of how the central bank sets the policy interest rate and how this affects the lending interest rate. But why should a central bank do this at all? To understand the role of the central bank, we must look at two questions:

How does the lending rate affect spending in the economy? We will answer this question in Section 10.11.
Why does the central bank wish to affect spending by changing the interest rate (as mentioned in Figure 10.14)? We will answer this much larger question in Units 1315, when we explain fluctuations in employment and inflation in the economy as a whole, and reasons why central banks are frequently given responsibility for moderating those fluctuations by changing the interest rate.


Exercise 10.5 Interest rate markups
Use the websites of two central banks of your choice to collect data on the monthly policy interest rate and the mortgage interest rate between 2000 and the most recent year available.

Plot the data, with the date on the horizontal axis and the interest rate on the vertical axis.
How does the banking markup (interest rate margin) compare between the two countries?
Do banking markups change over time? Suggest possible reasons for what you observe.



arbitrageThe practice of buying a good at a low price in a market to sell it at a higher price in another. Traders engaging in arbitrage take advantage of the price difference for the same good between two countries or regions. As long as the trade costs are lower than the price gap, they make a profit. See also: price gap.


Einstein Present value (PV)
Assets like shares in companies, bank loans, or bonds typically provide a stream of income in the future. Since these assets are bought and sold, we have to ask the question: how do we value a stream of future payments? The answer is the present value (PV) of the expected future income.
To make this calculation, we have to assume that people participating in the market to buy and sell assets have the capability to save and borrow at a certain interest rate. So, imagine you face an interest rate of 6% and are offered a financial contract that says you will be paid 100 in one years time. That contract is an asset. How much would you be willing to pay for it today?
You would not pay 100 today for the contract, because if you had 100 today, you could put it in the bank and get 106 in a years time, which would be better than buying the asset.
Imagine you are offered the asset for 90 today. Now you will want to buy it, because you could borrow 90 today from the bank at 6%, and in a years time you would pay back 95.40 while you receive 100 from the asset, making a profit of 4.60.
The break-even price (PV) for this contract would make you indifferent between buying the contract and not buying it. It has to be equal to whatever amount of money would give you 100 in a years time if you put it in the bank today. With an interest rate of 6%, that amount is:

94.34 today is worth the same to you as 100 in a years time, because if you put 94.34 in the bank, then it would be worth 100 in a year. Equivalently, if you borrowed 94.34 today from the bank to buy the asset, you would have to pay back 100 in a years time, exactly offsetting the 100 the asset gives you.
We say that the income next year is discounted by the interest rate: a positive interest rate makes it worth less than income today.
The same logic applies further in the future, where we allow for interest compounding over time. If you receive 100 in t years time, then today its value to you is:

Now suppose an asset gives a payment each year for T years, paying Xt in year t, starting next year in year 1. Then each payment Xt has to be discounted according to how far in the future it is. So with an interest rate of i the PV of this asset is:

The present value of these payments obviously depends on the amounts of the payments themselves. But it also depends on the interest rate: if the interest rate increases, then the PV will decline, because future payments are discounted (their PV reduced) by more. Note that it is easy to adjust the present value formula to take into account different interest rates for years 1, 2, and so on.
Net present value (NPV)
This logic applies to any asset that provides income in the future. So if a firm is considering whether or not to make an investment, they have to compare the cost of making the investment with the present value of the profits they expect it to provide in the future. In this context we consider the net present value (NPV), which takes into account the cost of making the investment as well as the expected profits. If the cost is c and the present value of the expected profits is PV, then the NPV of making the investment is:

If this is positive then the investment is worth making, because the expected profits are worth more than the cost (and vice versa).
Bond prices and yields
A bond is a particular kind of financial asset, where the bond issuer promises to pay a given amount over time to the bondholder. Issuing or selling a bond is equivalent to borrowing, because the bond issuer receives cash today and promises to repay in the future. Conversely, a bond buyer is a lender or saver, because the buyer gives up cash today, expecting to be repaid in the future. Both governments and firms borrow by issuing bonds. Households buy bonds as a form of saving both directly and indirectly through pension funds.
Bonds typically last a predetermined amount of time, called the maturity of the bond, and provide two forms of payment: the face value F, which is an amount paid when the bond matures, and a fixed payment every period (for example, every year or every 3 months) until maturity. In the past, bonds were physical pieces of paper and when one of the fixed payments was redeemed, a coupon was clipped from the bond. For this reason, the fixed payments are called coupons and we label them C.
As we saw in the calculation of PV, the amount that a lender will be willing to pay for a bond will be its present value, which depends on the bonds face value, the series of coupon payments, and also on the interest rate. No one will buy a bond for more than its present value because they would be better off putting their money in the bank. No one will sell a bond for less than its present value, because they would be better off borrowing from the bank. So:

Or, for a bond with a maturity of T years:

An important characteristic of a bond is its yield. This is the implied rate of return that the buyer gets on their money when they buy the bond at its market price. We calculate the yield using an equation just like the PV equation. The yield y will solve the following:

If the interest rate stays constant, as we have assumed, then the yield will be the same as that interest rate. But in reality, we cannot be sure how interest rates are going to change over time. In contrast, we know the price of a bond, its coupon payments, and its face value, so we can always calculate a bonds yield. Buying a bond with yield y is equivalent to saving your money at the guaranteed constant interest rate of i = y.
Since a saver (a lender) can choose between buying a government bond, lending the money in the money market, or putting it into a bank account, the yield on the government bond will be very close to the rate of interest in the money market. If it werent, money would be switched very quickly from one asset to the other by traders until the rates of return were equalized, a strategy called arbitrage.
Lets take a numerical example: a government bond with a face value of 100, yearly coupon of 5, and a maturity of 4 years. The nominal interest rate in the money market is 3%, and we use this to discount the cash flows we receive.
So the price of this bond is given by:

We would be willing to pay at most 107.43 for this bond today, even though it generates 120 of revenue over four years. The yield is equal to the interest rate of 3%. If the central bank raises the policy interest rate, then this will reduce the market price of the bond, increasing the yield in line with the interest rate.