10.10 The business of banking and bank balance sheets
To understand the business of banking in more detail, we can look at a banks costs and revenues:

The banks operational costs: These include the administration costs of making loans. For example, the salaries of loan officers who evaluate loan applications, the costs of renting and maintaining a network of branches and call centres used to supply banking services.
The banks interest costs: Banks must pay interest on their liabilities, including deposits and other borrowing.
The banks revenue: This is the interest on and repayment of the loans it has extended to its customers.
The banks expected return: This is the return on the loans it provides, taking into account the fact that not all customers will repay their loans.

Like moneylenders, if the risk of making loans (the default rate) is higher, then there will be a larger gap (or spread or markup) between the interest rate banks charge on the loans they make and the cost of their borrowing.
The profitability of the business depends on the difference between the cost of borrowing and the return to lending, taking account of the default rate and the operational costs of screening the loans and running the bank.
A good way to understand a bank is to look at its entire balance sheet, which summarizes its core business of lending and borrowing. Banks borrow and lend to make profits:

Bank borrowing is on the liabilities side: Deposits, and borrowing (secured and unsecured) are recorded as liabilities.
Bank lending is on the assets side.






Assets (owned by the bank or owed toit)

% of balance sheet
Liabilities (what the bank owes households, firms and other banks)

% of balance sheet


Cash reserve balances at the central bank (A1)
Owned by the bank: immediately accessible funds
2
Deposits (L1)
Owned by households and firms
50


Financial assets, some of which (government bonds) may be used as collateral for borrowing) (A2)
Owned by the bank
30
Secured borrowing (collateral provided) (L2)
Includes borrowing from other banks via the money market
30


Loans to other banks (A3)
Via the money market
11
Unsecured borrowing (no collateral provided) (L3)
16


Loans to households (A4)

55





Fixed assets such as buildings and equipment (A5)
Owned by the bank
2





Total assets

100
Total liabilities

96


Net worth = total assets  totalliabilities = equity (L4)



4




Figure 10.15 
A simplified bank balance sheet.
        





Adapted from Figure 5.9 in Chapter 5 of Wendy Carlin and David Soskice. 2015. Macroeconomics: Institutions, Instability, and the Financial System. Oxford: Oxford University Press.



As we saw above:


insolventAn entity is this if the value of its assets is less than the value of its liabilities. See also: solvent.liquidityEase of buying or selling a financial asset at a predictable price.

Another way of saying this is that the net worth of a firm, like a bank, is equal to what is owed to the shareholders or owners. This explains why net worth is on the liabilities side of the balance sheet. If the value of the banks assets is less than the value of what the bank owes others, then its net worth is negative, and the bank is insolvent.
Lets examine the asset side of the bank balance sheet:

(A1) Cash and central bank reserves: Item A1 on the balance sheet is the cash it holds, plus the banks balance in its account at the central bank, called its reserve balances. Cash and reserves at the central bank are the banks readily accessible, or liquid, funds. This is base money and amounts to a tiny fraction of the banks balance sheetjust 2% in this example of a typical contemporary bank. As we saw above, money created by the central bank is a very small proportion of the broad money that circulates in the economy.
(A2) Banks own financial assets: These assets can be used as collateral for the banks borrowing in the money market. As we discussed above, they borrow to replenish their cash balances (item A1, Figure 10.15) when depositors withdraw (or transfer) more funds than the bank has available.
(A3) Loans to other banks: A bank will also have loans to other banks on its balance sheet.
(A4) Loans to households and firms: The banks lending activities are the largest item on the asset side. The loans made by the bank to households and firms make up 55% of the balance sheet in Figure 10.15. This is the banks core business. Some of this will be secured lending. A loan is secured if the borrower has provided collateral. In the case of housing loans, called mortgages, the value of the house is the collateral. Other bank loans are unsecured, like overdrafts, credit card balances, and consumer loans.
(A5) Bank assets such as buildings and equipment will be recorded on the asset side of the balance sheet.

On the liability side of the bank balance sheet, there are three forms of bank borrowing, shown in Figure 10.15:

equityAn individuals own investment in a project. This is recorded in an individuals or firms balance sheet as net worth. See also: net worth. An entirely different use of the term is synonymous with fairness.leverage ratio (for banks or households)The value of assets divided by the equity stake in those assets.


(L1) The most important one is bank deposits, making up 50% of the banks balance sheet in this example. The bank owes these to households and firms. As part of its profit-maximization decision, the bank makes a judgement about the likely demand by depositors to withdraw their deposits. Across the banking system withdrawals and deposits occur continuously, and when the cross-bank transactions are cleared, most cancel each other out. Any bank must ensure that it has cash and reserves at the central bank to meet the demand by depositors for funds, and the net transfers they have made that day. Holding cash and reserves for this purpose has an opportunity cost, because those funds could instead be lent out in the money market in order to earn interest, so banks aim to hold the minimum prudent balances of cash and reserves.
(L2) and (L3) on the liabilities side of the balance sheet are what the bank has borrowed from households, firms, and other banks in the money market. Some of this is secured borrowing: The bank provides collateral using its financial assets (which appear on the left-hand side of the balance sheet in item (L2)). Some borrowing is unsecured.
(L4) on the balance sheet is the banks net worth. This is the banks equity. It comprises the shares issued by the bank and the accumulated profits, which have not been paid out as dividends to shareholders over the years. For a typical bank, its equity is only a few per cent of its balance sheet. The bank is a very debt-heavy company.

We can see this from real-world examples illustrated in Figures 10.16 and 10.17.
Figure 10.16 shows the simplified balance sheet of Barclays Bank (just before the financial crisis) and Figure 10.17 shows the simplified balance sheet of a company from the non-financial sector, Honda.





Assets
Liabilities


Cash reserve balances at the central bank
7,345
Deposits
336,316


Wholesale reserve repo lending
174,090
Wholesale repo borrowing secured with collateral
136,956


Loans (for example mortgages)
313,226
Unsecured borrowing
111,137


Fixed assets (for example buildings, equipment)
2,492
Trading portfolio liabilities
71,874


Trading portfolio assets
177,867
Derivative financial instruments
140,697


Derivative financial instruments
138,353
Other liabilities
172,417


Other assets
183,414




Total assets
996,787
Total liabilities
969,397




Net worth




Equity
27,390




Memorandum item: Leverage ratio (total assets/net worth)
996,787/27,390 = 36.4




Figure 10.16 
Barclays Banks balance sheet in 2006 (m).
        





Barclays Bank. 2006. Barclays Bank PLC Annual Report. Also presented as Figure 5.10 in Chapter 5 of Wendy Carlin and David Soskice. 2015. Macroeconomics: Institutions, Instability, and the Financial System. Oxford: Oxford University Press.








Assets
Liabilities


Current assets
5,323,053
Current liabilities
4,096,685


Finance subsidiaries-receivables, net
2,788,135
Long-term debt
2,710,845


Investments
668,790
Other liabilities
1,630,085


Property on operating leases
1,843,132




Property, plant and equipment
2,399,530




Other assets
612,717




Total assets
13,635,357
Total liabilities
8,437,615




Net worth




Equity
5,197,742




Memorandum item: Leverage ratio as defined for banks (total assets/net worth)
13,635,357/5,197,742 = 2.62


Memorandum item: Leverage ratio as defined for non-banks (total liabilities/total assets)
8,437,615/13,635,357 = 61.9%




Figure 10.17 
Honda Motor Companys balance sheet in 2013 (m).
        





Honda Motor Co. 2013. Annual Report.



Current assets refers to cash, inventories, and other short-term assets. Current liabilities refer to short-term debts and other pending payments.
A way of describing the reliance of a company on debt is to refer to its leverage ratio or gearing.
Unfortunately the term leverage ratio is defined differently for financial and non-financial companies (both definitions are shown in Figures 10.16 and 10.17). Here, we calculate the leverage for Barclays and Honda using the definition used for banks: total assets divided by net worth. Barclays total assets are 36 times their net worth. This means that given the size of its liabilities (its debt), a very small change in the value of its assets (1/36  3%) would be enough to wipe out its net worth and make the bank insolvent. By contrast, using the same definition we see that Hondas leverage is less than three. Compared to Barclays, Hondas equity is far higher in relation to its assets. Another way to say this is that Honda finances its assets by a mixture of debt (62%) and equity (38%), whereas Barclays finances its assets with 97% debt and 3% equity.

Leverage for non-banks
This is defined differently from leverage for banks. For companies, the leverage ratio is defined as the value of total liabilities divided by total assets. For an example of the use of the leverage definition for non-banks, see: Marina-Eliza Spaliara. 2009. Do Financial Factors Affect the Capitallabour Ratio? Evidence from UK Firm-Level Data. Journal of Banking & Finance 33 (10) (October): pp.19321947.


Question 10.9 Choose the correct answer(s)
The following example is a simplified balance sheet of a commercial bank. Based on this information, which of the following statements is correct?


Assets
Liabilities


Cash and reserves
2m
Deposits
45m


Financial assets
27m
Secured borrowing
32m


Loans to other banks
10m
Unsecured borrowing
20m


Loans to households and firms
55m




Fixed assets
6m




Total assets
100m
Total liabilities
97m



The banks base money consists of cash and reserves and financial assets.
Secured borrowing is borrowing with zero default risk.
The banks net worth is its cash and reserves of 2 million.
The banks leverage is 33.3.


The base money is cash plus reserves at the central bank. It does not include the financial assets.
Secured borrowing is banks borrowing with collateral, using its financial assets. It has positive default risk (hence collateral).
The banks net worth is its assets  liabilities = 3 million.
Leverage is total assets divided by net worth, here 100 million/3 million = 33.3.


Politics and policy