10.14 Conclusion
As the Irish bank closure showed, money and credit are so fundamental to economic interactions that people find ways to recreate money even when formal institutions fail. Indeed, archaeologists have discovered evidence of lending and the use of money to denominate debts and to facilitate exchange, from long before banks or governments existed. This is because substantial mutual gains are made possible when a group of people develop sufficient trust in each other and in a particular medium of exchange.
In modern economies, the creation of money is inextricably tied up with the creation of credit, or the process of lending by commercial banks whose actions are regulated by government and managed by the central bank. Borrowing and lending allows people to smooth consumption when they have irregular incomes, to satisfy their impatience, or to finance investment that can increase their future consumption possibilities. The credit market produces mutual gains for borrowers and lenders but, like many economic transactions, the distribution of those gains via the interest rate represents a conflict of interest.

Concepts introduced in Unit 10
Before you move on, review these definitions:

Money, broad money, base money, bank money
Wealth
Income
Diminishing marginal returns to consumption
A persons discount rate
Pure impatience
Collateral
Balance sheet, assets, liabilities, net worth, equity, solvency
Leverage ratio
Credit-constrained, credit-excluded
The central banks policy interest rate