10.1 Money and wealth
Borrowing and lending money, and the trust that makes this possible, are about shifting consumption and production over time. The moneylender offers funds to the farmer to purchase fertilizer now, and he will pay back after the crop matures, as long as it was not destroyed by a drought. The payday borrower will be paid at the end of the month but needs to buy food now. She wants to bring some of her future buying power to the present.
The passage of time is an essential part of concepts such as money, income, wealth, consumption, savings, and investment.
Money

moneyMoney is something that facilitates exchange (called a medium of exchange) consisting of bank notes and bank deposits, or anything else that can be used to purchase goods and services, and is generally accepted by others as payment because others can use it for the same purpose. The because is important and it distinguishes exchange facilitated by money from barter exchange in which goods are directly exchanged without money changing hands.

Money is a medium of exchange consisting of bank notes and bank deposits, or anything else that can be used to purchase goods and services, and is accepted as payment because others can use it for the same purpose. The because is important and it distinguishes exchange facilitated by money from barter exchange. In a barter economy I might exchange my apples for your oranges because I want some oranges, not because I intend to use the oranges to pay my rent. Money makes more exchanges possible because its not hard to find someone who will be happy to have your money (in exchange for something), whereas unloading a large quantity of apples could be a problem. This is why barter plays a limited role in virtually all modern economies.6
For money to do its work, almost everyone must believe that if they accept money from you in return for handing over their good or service, then they will be able to use the money to buy something else in turn. In other words, they must trust that others will accept your money as payment. Governments and banks usually provide this trust. But the Irish bank closure shows that, when there is sufficient trust among households and businesses, money can function in the absence of banks. The publicans and shops accepted a cheque as payment, even though they knew it could not be cleared by a bank in the foreseeable future. As the bank dispute went on, the cheque presented to the pub or shop relied on a lengthening chain of uncleared cheques received by the person or business presenting the cheque. Some cheques circulated many times, endorsed on the back by the pub or shop owner, just like a bank note.
This is the fundamental characteristic of money. It is a medium of exchange.
Money allows purchasing power to be transferred among people so that they can exchange goods and services, even when payment takes place at a later date (for example, through the clearing of a cheque or settlement of credit card or trade credit balances). Therefore, money requires trust to function.
Wealth

wealthStock of things owned or value of that stock. It includes the market value of a home, car, any land, buildings, machinery or other capital goods that a person may own, and any financial assets such as shares or bonds. Debts are subtractedfor example, the mortgage owed to the bank. Debts owed to the person are added.

One way to think about wealth is that it is the largest amount that you could consume without borrowing, after having paid off your debts and collected any money owed to youfor example if you sold your house, car, and everything you owned.

human capitalThe stock of knowledge, skills, behavioural attributes, and personal characteristics that determine the labour productivity or labour earnings of an individual. Investment in this through education, training, and socialization can increase the stock, and such investment is one of the sources of economic growth. Part of an individuals endowments. See also: endowment.

The term wealth is also sometimes used in a broader sense to include immaterial aspects such as your health, skills, and ability to earn an income (your human capital). But we will use the narrower definition of material wealth in this unit.
Income

incomeThe amount of profit, interest, rent, labour earnings, and other payments (including transfers from the government) received, net of taxes paid, measured over a period of time such as a year. The maximum amount that you could consume and leave your wealth unchanged. Also known as: disposable income. See also: gross income.earningsWages, salaries, and other income from labour.

Income is the amount of money you receive over some period of time, whether from market earnings, investments, or from the government.

flowA quantity measured per unit of time, such as annual income or hourly wage.stockA quantity measured at a point in time. Its units do not depend on time. See also: flow.

Since it is measured over a period of time (such weekly or yearly), it is a flow variable. Wealth is a stock variable, meaning that it has no time dimension. At any moment of time it is just there. In this unit we only consider after-tax income, also known as disposable income.
To remember the difference between wealth and income, think of filling a bathtub, as in Figure 10.1. Wealth is the amount (stock) of water in the tub, while income is the flow of water into the tub. The inflow is measured by litres (or gallons) per minute; the stock of water is measured by litres (or gallons) at a particular moment in time.











Figure 10.1 
Wealth, income, depreciation, and consumption: The bathtub analogy.
        




As we have seen, wealth often takes physical forms such as a house, or car, or office, or factory. The value of this wealth tends to decline, either due to use or simply the passage of time.

depreciationThe loss in value of a form of wealth that occurs either through use (wear and tear) or the passage of time (obsolescence).net incomeGross income minus depreciation. See also: income, gross income, depreciation.

This reduction in the value of a stock of wealth over time is called depreciation. Using the bathtub analogy, depreciation would be the amount of evaporation of the water. Like income, it is a flow (you could measure it in litres per year), but a negative one. So when we take account of depreciation we have to distinguish between net income and gross income. Gross income is the flow into the bathtub (remember that income means disposable or after-tax income), while net income is this flow less depreciation. Net income is the maximum amount that you could consume and leave your wealth unchanged.
Expenditure

consumption (C)Expenditure on consumer goods including both short-lived goods and services and long-lived goods, which are called consumer durables.

The tub also has an outflow pipe or drain. The flow through the drain is called consumption expenditure, and it reduces wealth just as net income increases it.

savingWhen consumption expenditure is less than net income, saving takes place and wealth rises. See also: wealth.investment (I)Expenditure on newly produced capital goods (machinery and equipment) and buildings, including new housing.

An individual (or household) saves when consumption is less than net income, so wealth increases. Wealth is the accumulation of past and current saving. One form that saving can take is the purchase of a financial asset such as shares (or stocks) in a company or a government bond. Although in everyday language these purchases are sometimes referred to as investment, in economics, investment means expenditure on capital goods, which are goods such as machinery or buildings.
The distinction between investment and purchasing shares or bonds is illustrated by a sole-proprietor business. At the end of the year, the owner decides what to do with her net income. Out of the net income, she decides on her consumption expenditure for the year ahead and saves the remainder. By default, the saving would take the form of bank deposits since her income would be paid into the bank. With her savings, she could buy financial assets such as shares or bonds, which provide funds to businesses or the government. Or, instead, she could spend on new assets to expand her business, which would be considered an investment.

Question 10.1 Choose the correct answer(s)
Which of the following statements are correct?

Your material wealth is the largest amount that you can consume without borrowing, which includes the value of your house, car, financial savings, and human capital.
Net income is the maximum amount that you can consume and leave your wealth unchanged.
In economics, investment means saving in financial assets such as stocks and bonds.
Depreciation is the loss in your financial savings due to unfavourable movements in the market.


Human capital, such as your health, skills and ability to earn an income, is immaterial wealth.
Net income is the flow that corresponds to your stock of wealth, so if you consume it all your wealth is unchanged.
Although in everyday language this is sometimes referred to as investment, in economics, investment means expenditure on capital goods such as machinery, equipment, and housing.
Depreciation is the loss in the value of a form of wealth through wear and tear or the passage of time.



Question 10.2 Choose the correct answer(s)
Mr Bond has wealth of 500,000. He has a market income of 40,000 per year, on which he is taxed 30%. Mr Bonds wealth includes some equipment, which depreciates by 5,000 every year. Based on this information, which of the following statements is correct?

Mr Bonds disposable income is 40,000.
Mr Bonds net income is 28,000.
The maximum amount of consumption expenditure possible for Mr Bond is 23,000.
If Mr Bond decides to spend 60% of his net income on consumption and the rest on investment, then his investment is 9,200.


Mr Bonds disposable income is his market income less tax, which is 40,000  0.7 = 28,000.
Mr Bonds net income is his disposable income minus depreciation, which is 28,000  5,000 = 23,000.
23,000 is Mr Bonds net income. Consuming this amount does not alter his wealth. However Mr Bond can also consume all of his wealth. Therefore his maximum possible consumption expenditure is 500,000 + 23,000 = 523,000.
60% of his net income is 13,800, leaving 9,200 to spend on investment.