10.2 Borrowing: Bringing consumption forward in time
To understand borrowing and lending we will use feasible sets and indifference curves. In Units 3 and 5 you studied how Alexei and Angela make choices between conflicting objectives such as free time and grades or bushels of grain. They made choices from the feasible set, based on preferences described by indifference curves that represented how much they valued one objective relative to the other.

opportunity costWhen taking an action implies forgoing the next best alternative action, this is the net benefit of the foregone alternative.

Here you will see that the same feasible set and indifference curve analysis applies to choosing between having something now, and having something later. In earlier units we saw that giving up free time is a way of getting more goods, or grades, or grain. Now we see that giving up some goods to be enjoyed now will sometimes allow us to have more goods later. The opportunity cost of having more goods now is having fewer goods later.
Borrowing and lending allow us to rearrange our capacity to buy goods and services across time. Borrowing allows us to buy more now, but constrains us to buy less later. To see how this works, think about Julia, who needs to consume now but has no money today. She knows that in the next period (later) she will have $100 from her paycheck or harvest. Julias situation is shown in Figure 10.2. Each point in the figure shows a combination of Julias capacity to consume things, now and later. We assume that she spends everything that she has, so each point in the figure gives her consumption now (measured on the horizontal axis) and later (measured on the vertical axis).












Figure 10.2 
Borrowing, the interest rate, and the feasible set.
        















Julia has nothing


Julia has no money now, but she knows that in the next period she will have $100.














Bringing future income to the present


Julia could, for example, borrow $91 now and promise to pay the lender the $100 that she will have later. The interest rate would be 10%.














Borrowing less


At the same interest rate (10%), she could also borrow $70 to spend now, and repay $77 at the end of the year. In that case she would have $23 to spend next year.














Borrowing even less


At the same interest rate (10%), she could also borrow $30 to spend now, and repay $33 at the end of the year. In that case she would have $67 to spend next year.














Julias feasible set


The boundary of Julias feasible set is her feasible frontier, shown for the interest rate of 10%.














Julias feasible frontier


Juila can borrow now and choose any combination on her feasible frontier.














A higher interest rate


If, instead of 10%, the interest rate is 78%, Julia can only borrow a maximum of $56 now.














The feasible set


The feasible set with the interest rate of 78% is the dark shaded area, while the feasible set with an interest rate of 10% is the dark shaded area plus the light shaded area.




Initially Julia is at the point labelled Julias endowment in Figure 10.2. To consume now, Julia is considering taking out a payday loan (or she could be a farmer borrowing to finance her consumption before she can harvest and sell her crop).
Julia could, for example, borrow $91 now and promise to pay the lender the whole $100 that she will have later. Her total repayment of $100 would include the principal (how much she borrowed) plus the interest charge at the rate r, or:


interest rateThe price of bringing some buying power forward in time. See also: nominal interest rate, real interest rate.

And if later means in one year from now, then the annual interest rate, r, is:

You can think of the interest rate as the price of bringing some buying power forward in time.
At the same interest rate (10%), she could also borrow $70 to spend now, and repay $77 at the end of the year, that is:

In that case she would have $23 to spend next year. Another possible combination is to borrow and spend just $30 now, which would leave Julia with $67 to spend next year, after repaying her loan.
All of her possible combinations of consumption now and consumption later (($91, $0), ($70, $23) ($30, $67), and so on) generate the feasible frontier shown in Figure 10.2, which is the boundary of the feasible set when the interest rate is 10%.
The fact that Julia can borrow means that she does not have to consume only in the later period. She can borrow now and choose any combination on her feasible frontier. But the more she consumes now, the less she can consume later. With an interest rate of r = 10%, the opportunity cost of spending one dollar now is that Julia will have to spend 1.10 = 1 + r dollars less later.
One plus the interest rate (1 + r) is the marginal rate of transformation of goods from the future to the present, because to have one unit of the good now you have to give up 1 + r goods in the future. This is the same concept as the marginal rate of transformation of goods, grain, or grades into free time that you encountered in Units 3 and 5.
But suppose that, instead of 10%, the interest rate is now 78%, the average rate paid by the farmers in Chambar. At this interest rate Julia can now only borrow a maximum of $56, because at 78% the interest on a loan of $56 is $44, using up all $100 of her future income. Her feasible frontier therefore pivots inward and the feasible set becomes smaller. Because the price of bringing buying power forward in time has increased, the capacity to consume in the present has fallen, just as your capacity to consume grain would fall if the price of grain went up (assuming you are not a producer of grain).
Of course the lender will benefit from a higher interest rate, as long as the loan is repaid, so there is a conflict of interest between the borrower and the lender.