10.3 Impatience and the diminishing marginal returns to consumption
Given the opportunities for bringing forward consumption shown by the feasible set, what will Julia choose to do? How much consumption she will bring forward depends on how impatient she is. She could be impatient for two reasons:

She prefers to smooth out her consumption instead of consuming everything later and nothing now.
She may be an impatient type of person.

Smoothing
She would like to smooth her consumption because she enjoys an additional unit of something more when she has not already consumed a lot of it. Think about foodthe first few bites of a dish are likely to be much more pleasurable than bites from your third serving. This is a fundamental psychological reality, sometimes termed the law of satiation of wants.

diminishing marginal returns to consumptionThe value to the individual of an additional unit of consumption declines, the more consumption the individual has. Also known as: diminishing marginal utility.

More generally, the value to the individual of an additional unit of consumption in a given period declines the more that is consumed. This is called diminishing marginal returns to consumption. You have already encountered something similar in Unit 3, in which Alexei experienced diminishing marginal returns to free time. Holding his grade constant, the more free time he had, the less each additional unit was worth to him, relative to how important the grade would be.
Use the analysis in Figure 10.3a to see how Julia can choose her consumption now and later, and how her preferences can be represented by indifference curves. Diminishing marginal returns to consumption in each period mean that Julia would like to smooth her consumption, that is, to avoid consuming a lot in one period and little in the other.












Figure 10.3a 
Consumption smoothing: Diminishing marginal returns to consumption.
        















Julias choices


The dashed line shows the combinations of consumption now and consumption later from which Julia can choose.














Diminishing marginal returns to consumption


Julias indifference curve is bowed toward the origin as a consequence of diminishing marginal returns to consumption in each period: the more goods she has in the present, the less she values an additional one now relative to more in the future. The slope of the indifference curve is the marginal rate of substitution (MRS) between consumption now and consumption later.














What choices would Julia make?


The MRS at C is high (the slope of her indifference curve is steep): Julia has little consumption now and a lot later, so diminishing marginal returns mean that she would like to move some consumption to the present. The MRS at E is low: She has a lot of consumption now and less later, so diminishing marginal returns mean that she would like to move some consumption to the future. So she will choose a point between C and E.














MRS falls


We can see that the MRS is falling as we move along the indifference curve from C to E: the slope is steeper at C than at E.














Julias optimal choice


Given the choice shown by the line CE, Julia will choose point F. It is on the highest attainable indifference curve. She prefers to smooth consumption between now and later.




Pure impatience, or how impatient you are as a person
If Julia knows she can have two meals tomorrow but she has none today, then we have seen that diminishing marginal returns to consumption could explain why she might prefer to have one meal today and one tomorrow instead. Note that Julia would opt for the meal now not because she is an impatient person, but because she does not expect to be hungry in the future. She prefers to smooth her consumption of food.

pure impatienceThis is a characteristic of a person who values an additional unit of consumption now over an additional unit later, when the amount of consumption is the same now and later. It arises when a person is impatient to consume more now because she places less value on consumption in the future for reasons of myopia, weakness of will, or for other reasons.

But there is a different reason for preferring the good now, called pure impatience. To see whether someone is impatient as a person, we ask whether she values a good now more highly than later, when her initial endowment is having the same amount in both periods. There are two reasons for pure impatience:

Myopia (short-sightedness): People experience the present satisfaction of hunger or some other desire more strongly than they imagine the same satisfaction at a future date.
Prudence: People know that they may not be around in the future, and so choosing present consumption may be a good idea.


Impatience
Any preference to move consumption from the future to the present. This preference may be derived from:

pure impatience
diminishing marginal returns to consumption


To see what pure impatience means, we compare two points on the same indifference curve in Figure 10.3b. At point A she has $50 now and $50 later. We ask how much extra consumption she would need to have later in order to compensate her for losing $1 now. Point B on the same indifference curve gives us the answer. If she had only $49 now, she would need $51.50 later in order to stay on the same indifference curve and be equally happy. So she needed $1.50 later to compensate for losing $1 now. Julia has pure impatience because rather than preferring to perfectly smooth her consumption, she places more value on an additional unit of consumption today than in the future.











Pure impatience.


Figure 10.3b 
Pure impatience.
        




The slope of the indifference curve of 1.5 (in absolute value) at point A in Figure 10.3b means that she values an extra unit of consumption now 1.5 times as much as an extra unit of consumption later.

Exercise 10.1 The consequences of pure impatience


Draw the indifference curves of a person who is more impatient than Julia in Figure 10.3b, for any level of consumption now and consumption later.


Draw a set of indifference curves for Julia if she does not experience diminishing marginal returns to consumption but has pure impatience. Would she then want to smooth her consumption?


Draw a set of indifference curves for Julia if she does not experience diminishing marginal returns to consumption and has no pure impatience.




Question 10.3 Choose the correct answer(s)
Figure 10.3a depicts Julias indifference curves for consumption in periods 1 (now) and 2 (later). Based on this information, which of the following statements is correct?

The slope of the indifference curve is the marginal rate of substitution between the consumption in the two periods.
The marginal return to consumption in period 1 is higher at E than at C.
Julias consumption is more equal (more smoothed) at C than at E. Therefore she prefers consumption choice C to E.
Consuming exactly the same amount in the two periods is Julias most preferred choice.


In order to stay on the same indifference curve, the change in utility due to a marginal change in consumption now must be precisely offset by the change in utility due to the change in consumption later.
At E, Julia is consuming more now than at C. Due to diminishing marginal returns to consumption, Julias marginal return to consumption now is lower at E than at C.
The two points are on the same indifference curve. Therefore she will be indifferent between the two.
This depends on the interest rate (one plus interest rate is the slope of the feasible frontier) and the shape of the indifference curves. Julias preferred choice is at F, where the consumption in the two periods is not necessarily equal.