10.4 Borrowing allows smoothing by bringing consumption to the present

A persons discount rate
A persons discount rate, , is a measure of a persons impatience: how much she values an extra unit of consumption now over an extra unit of consumption later. This is the slope of her indifference curve between consumption now and consumption later, minus one.
Her discount rate depends on two factors:


Her desire to smooth consumption: This is affected by the situation she is in (the current distribution of consumption now and later).


Her pure impatience as a person: This is also sometimes referred to as her subjective discount rate because it is based in part on her psychology.



How much will Julia borrow? If we combine Figures 10.2 and 10.3a we will have the answer. As in the other examples of a feasible set and indifference curves, Julia wishes to get to the highest possible indifference curve, but is limited by her feasible frontier. The highest feasible indifference curve when the interest rate is 10% will be the one that is tangent to the feasible frontier, shown as point E in Figure 10.4.
Here, she chooses to borrow and consume $58 and repay $64 later, leaving her $36 to consume later. We know that at this tangency point, the slope of the indifference curve is equal to the slope of the feasible frontier (otherwise the curves would cross). We define a persons discount rate,  (economists use the Greek letter rho, which rhymes with toe), as the slope of the indifference curve minus one, which is a measure of how much Julia values an extra unit of consumption now, relative to an extra unit of consumption later.
For example, in Figure 10.3b,  = 50% at point A because an extra unit of consumption today was worth 1.5 extra units later. This means that Julia borrows just enough so that:

We know that:

So:

If we subtract 1 from both sides of this equation we have:

Her discount rate  depends on both her desire to smooth consumption and on her degree of pure impatience.
Use the analysis in Figure 10.4 to see how Julia will choose consumption when the interest rate is 10% and when it is 78%.












Figure 10.4 
Moving consumption over time by borrowing.
        















Julias feasible frontier


Julia wishes to get to the highest indifference curve but is limited by her feasible frontier.














Julias best option


When the interest rate is 10%, the highest attainable indifference curve will be the one that is tangent to the feasible frontier shown as point E.














MRS and MRT


At this point, MRS = MRT.














The decision to borrow


At point F, her discount rate, , exceeds r, the interest rate, so she would like to bring consumption forward in time. Similar reasoning eliminates all points on the feasible frontier except E.














An increase in the interest rate


If the interest rate at which she can borrow increases, the feasible set gets smaller.














The effect of a higher interest rate


The best Julia can do now is to borrow less ($35 instead of $58), as shown by point G.





Exercise 10.2 Income and substitution effects

Use Figure 10.4 to show that the difference in current consumption at the lower and higher interest rate (at E and G), namely $23, is composed of an income effect and a substitution effect. It will be helpful to review income and substitution effects from Unit 3 before doing this.
Why do the income and substitution effects work in the same direction in this example?



Question 10.4 Choose the correct answer(s)
Figure 10.4 depicts Julias choice of consumptions in periods 1 and 2. She has no income in period 1 (now) and an income of $100 in period 2 (later). The current interest rate is 10%. Based on this information, which of the following statements is correct?

At F, the interest rate exceeds Julias discount rate (degree of impatience).
At E, Julia is on the highest possible indifference curve given her feasible set.
E is Julias optimal choice, as she is able to completely smooth out her consumption over the two periods and consume the same amount.
G is not a feasible choice for Julia.


At F, the slope of the indifference curve is steeper than that of the feasible frontier. Therefore Julias discount rate exceeds the interest rate.
E is on the highest feasible indifference curve because any higher indifference curves would not touch the budget constraint line.
At E, Julia consumes 58 in period 1 and 36 in period 2.
G is in Julias feasible set. She does not choose it because it is not the optimal choice (it is on a lower indifference curve).