10.5 Lending and storing: Smoothing and moving consumption to the future
Now think about Marco, an individual facing a different situation from Julia who was considering a payday loan, or a farmer in Chambar seeking a loan until the harvest. While Julia is deciding how much to borrow, Marco has some goods or funds worth $100, but does not (yet) anticipate receiving any income later. Julia and Marco will both get $100 eventually, but time creates a difference. Marcos wealth, narrowly defined, is $100. Julias wealth is zero.
We saw that Julia, who will earn $100 in the future, wants to borrow. The situation that she is in gives her a strong desire to smooth by borrowing. Think about what Julias indifference curve, passing through her endowment point, might look like. As shown in Figure 10.5, it is very steep. Because she currently has nothing, she has a strong preference for increasing consumption now.

reservation indifference curveA curve that indicates allocations (combinations) that are as highly valued as ones reservation option.

This is called Julias reservation indifference curve, because it is made of all of the points at which Julia would be just as well off as at her reservation position, which is her endowment with no borrowing or lending (Julias endowment and reservation indifference curves are similar to those of Angela, the farmer, in Unit 5).











Figure 10.5 
Reservation indifference curves and endowments.
        




Look at Marcos indifference curve passing through his endowment point, which is $100 now and nothing later. As shown in Figure 10.5, it is quite flat now, indicating that he is looking for a way to transfer some of his consumption to the future.
Marco and Julias indifference curves and hence their pure impatience are similar. They differ according to their situation, not their preferences. Julia borrows because she is poor in the present, unlike Marco, and that is why she is impatientshe needs to smooth her consumption.
Marco has $100 worth of grain just harvested, and no debts to pay off. He could consume it all now, but as we have seen, this would probably not be the best he could do given the circumstances:

We have assumed his income in the future is zero.
Like Julia, he has diminishing marginal returns to consumption of grain.

In order to smooth, he wishes to move some goods to the future. He could store the grain, but if he did, mice would eat some of it. Mice are a form of depreciation. The grain they eat represents a reduction in Marcos wealth due to the passage of time. So, taking account of the mice, if he consumed nothing at all during this period he would have just $80 worth of grain a year later. This means that the cost of moving grain from the present to the future is 20% per year.
In Figure 10.6, we see that Marcos endowment is on the horizontal axis, as he has $100 of grain available now. The dark line shows Marcos feasible frontier using storage, and the dark shaded area shows his feasible set. If this were the only option, and if his indifference curves were as indicated, he would definitely store some of the grain. In Figure 10.6, some part of his feasible frontier lies outside his endowment indifference curve, so he can do better by storing some grain.












Figure 10.6 
Smoothing consumption by storing and lending.
        















Marco has wealth today


Marco has $100 of grain available now.














Marcos feasible frontier


The dark line shows Marcos feasible frontier using storage, and the shaded area shows his feasible set.














Marcos preferences


Marcos reservation indifference curve goes through his endowment.














Marcos decision to store


Point H on Marcos indifference curve denotes the amount of storage that he will choose.














Marcos decision to lend


The light line shows the feasible frontier when Marco lends at 10%.














The effect of the decision to lend


Marco is now able to reach a higher indifference curve.




But how much? Like Julia, Marco will find the amount of storage that gets him to the highest feasible indifference curve by finding the point of tangency between the indifference curve and the feasible frontier. This is point H, so he will eat $68 of the grain now, and consume $26 of it later (mice ate $6 of the grain). At point H, Marco has equated his MRS between consumption now and in the future to the MRT, which is the cost of moving goods from the present to the future.
He could avoid the mice by selling the grain and putting $100 under his mattress. His feasible frontier would then be a straight line (not shown) from consumption now of $100, to consumption later of $100. We are assuming that his $100 note will not be stolen and that $100 will purchase the same amount of grain now and later because there is no inflation (we explain inflation, and its effects, in Unit 13). Under these assumptions, storing money under the mattress is definitely better than storing grain when there are mice.
A better plan, if Marco could find a trustworthy borrower, would be to lend the money. If he did this and could be assured of repayment of $(1 + r) for every $1 lent, then he could have feasible consumption of 100  (1 + r) later, or any of the combinations along his new feasible consumption line. The light line in Figure 10.6 shows the feasible frontier when Marco lends at 10%. As you can see from the figure, compared to storage or putting the money under his mattress, his feasible set is now expanded by the opportunity to lend money at interest. Marco is able to reach a higher indifference curve.
As we have seen, in a contemporary economy, there are a variety of financial instruments that Marco can use to shift consumption to the future by lending such as  term deposits, or bonds issued by companies or by the government.
If Marco faced an investment opportunity that meant he could invest his asset today and have it be worth more in a yearfor instance, if he owns land where he could use the grain as seed and cultivate more grainthen that would similarly expand his feasible set.
Inequality