10.6 Investing: Another way to move consumption to the future
If Marco owns some land, he could do even better. He could invest the grain (planting it as seed and feeding it to his draft animals to help him work the fields until harvest). This opportunity to invest will further expand his feasible set. Suppose that if he were to invest all of his grain, he could harvest $150 worth of grain later, as shown in Figure 10.7. He has invested $100, harvested $150, and so earned a profit of $150  $100 = $50, or a profit rate (profits divided by the investment required) of $50/$100 = 50%. The slope of the red line is 1.5, where the absolute value (1.5) is the marginal rate of transformation of investment into returns, or 1 plus the rate of return on the investment.












Figure 10.7 
Investing in a high-return project.
        















The return on investment


If Marco were to invest all of his grain, he could harvest $150 worth of grain later.














The return on investment


The slope of the red line is 1.5, where the absolute value (1.5) is 1 plus the rate of return on the investment.














Marcos optimal choice


Marco chooses to consume $60 now and $60 later, as shown by point K. At this point, the feasible frontier is tangent to an indifference curve.




If Marco could get a loan at 10%, he would quickly see that he would be better off with an entirely new plan: invest everything he has, with a harvest next year of $150, but also borrow now in order to be able to consume more both now and in the future. This invest-it-all plan is shown in Figure10.8. The plan shifts Marcos feasible frontier out even further, as shown by the dotted red line. Marco ends up consuming at a new point, L, with more both now and in the future.












Figure 10.8 
Borrowing to invest in a high-return project.
        















Marcos optimal choice when he can invest


His optimal choice when he can invest is at point K.














Marco gets a loan


If he could get a loan at 10%, he would be better off by investing everything he has. This expands his feasible set, as shown by the dotted red line.














Optimal choice after getting a loan


Marco ends up consuming at point L, with $80 now and $62 in the future.




Figure 10.9 summarizes how the invest-it-all and borrow plan works compared to the other options.





Plan (points in Figures 10.6 and 10.8)
Rate of return or interest
Consumption now, consumption later
Investment
Ranking by utility (or combined consumption)


Storage (H)
20% (loss)
$68, $26
n/a
Worst ($94)


Lending only (J)
10%
$65, $39
n/a
Third best ($104)


Investment only (K)
50%
$60, $60
$40
Second best ($120)


Investment and borrowing (L)
50% (investment), 10% (lending)
$80, $62
$100
Best ($142)




Figure 10.9 
Storage, lending, investment, and borrowing provide Marco with many feasible sets.
        




The feasible sets for all of Marcos options are shown in Figure 10.10.











Figure 10.10 
Options for the individual (Marco) who starts with assets.
        




Lets return to how Marco differs from Julia. Compare the feasible sets of Julia shown in Figure 10.4 and of Marco, whose options are shown in Figure 10.10.
Three differences between Marco and Julia explain the disparity in their outcomes.

Marco starts with an asset while Julia starts with nothing: Julia has the prospect of a similar asset later, but this puts the two on opposite sides of the credit market.
Marco has a productive investment opportunity while Julia does not.
Marco and Julia may face different interest rates: The less-obvious difference is that if Marco (after investing his entire asset at a 50% return) wants to move his buying power forward in time, he borrows against his future income at a rate of 10%. Julia, lacking assets like the poor farmers in Chambar, may have no alternative but to borrow at the higher rate of 78%. The paradox is that Marco can borrow at a low interest rate because he does not need to borrow.

To summarize, borrowing, lending, storing, and investing are ways of moving goods consumption forward (to the present) or backwards (to the future) in time.
People engage in these activities because:

They can increase their utility by smoothing consumption: Or, if they have pure impatience, by moving consumption to the present.
They can increase their consumption in both periods: By lending, or investing.

People differ in which of these activities they engage (some borrowing, some lending) because:

They have differences in their situation: For example, having an income now or later will affect their discount rates and their opportunities. Also, some have investment opportunities (like Marco), while others do not.
They differ in their level of pure impatience.


Exercise 10.3 An increase in the interest rate

Use a diagram like Figure 10.4 to show the income and the substitution effects of an increase in the interest rate for Marco who receives his endowment today.
Compare these effects with those for Julia in Exercise 10.2 and explain your results.



Exercise 10.4 Lifetime income
Consider an individuals income over his or her lifetime from leaving school to retirement. Explain how an individual may move from a situation like Julias to one like Marcos over the course of their lifetime (assume that their pure impatience remains unchanged over their lifetime).


Question 10.5 Choose the correct answer(s)
Figure 10.6 depicts Marcos choice of consumption in periods 1 (now) and 2 (later). He has $100 worth of grain in period 1 and no income in period 2. Marco has two choices. In scheme 1, he can store the grain that he does not consume in period 1. This results in a loss of 20% of the grain due to pests and rotting. In scheme 2, he can sell the grain that he does not consume and lend the money at 10%. Based on this information, which of the following statements is correct?

With scheme 1, if Marco consumes $68 worth of grain in period 1, he can consume $32 worth of grain in period 2.
With scheme 2, if Marco consumes $68 worth of grain in period 1, he can consume $35 worth of grain in period 2.
The marginal rate of transformation is higher under scheme 1 than under scheme 2.
Marco will always be on a higher indifference curve under scheme 2 than under scheme 1.


Due to the loss of 20%, Marco is only able to consume 32  0.8 = $26 in period 2.
He saves $32 which then increases in value by 10% to $35.20
The MRT is 0.8 under scheme 1 and 1.1 under scheme 2.
The budget constraint in scheme 2 is higher than in scheme 1 at any positive level of saving.



Question 10.6 Choose the correct answer(s)
Figure 10.10 depicts four possible feasible frontiers for Marco, who has $100 worth of grain in period 1 (now) and no income in period 2 (later). In scheme 1, he can store the grain that he does not consume in period 1. This results in 20% loss of the grain due to pests and rotting. In scheme 2, he can sell the grain that he does not consume and lend the money at 10%. In scheme 3, he can invest the remaining grain (for example by planting it as seed) for a return of 50%. Finally in scheme 4, he can invest the entire amount of grain and borrow against his future income at 10%. Based on this information, which of the following statements is correct?

20% depreciation from storage means that Marco is worse off at H than at his initial endowment of consuming all $100 worth of grain in period 1.
The consumption choice J can only be attained under scheme 2.
If the rate of lending increases, the feasible frontier for scheme 2 tilts inwards from the point 100 on the horizontal axis (becomes flatter).
If the rate of borrowing increases, the feasible frontier for scheme 4 tilts inwards from the point 150 on the vertical axis (becomes steeper).


Marco is on a higher indifference curve at H than at his endowment point. Therefore he is better off.
J is in the feasible set of schemes 2, 3 and 4. Therefore it can be attained under these three schemes. However, J is only optimal under scheme 2.
With a higher rate of lending, the feasible frontier becomes steeper, pivoting from the point 100 on the horizontal axis. In particular, the intercept with the vertical axis will be higher than 110.
150 in period 2 is feasible whatever the interest rate so that point is fixed, but a higher interest rate implies that he can borrow less in period 1. So the budget constraint intersects the horizontal axis at less than 136, becoming steeper.