10.7 Assets, liabilities, and net worth

balance sheetA record of the assets, liabilities, and net worth of an economic actor such as a household, bank, firm, or government.

We will see that a persons wealth is an important aspect of their situation in the process of borrowing, lending, and investing, and that those with more wealth like Marco have opportunities not available to those with less wealth, like Julia. Balance sheets are an essential tool for understanding how wealth changes when an individual or a firm borrows and lends.

assetAnything of value that is owned. See also: balance sheet, liability.liabilityAnything of value that is owed. See also: balance sheet, asset.net worthAssets less liabilities. See also: balance sheet, equity.

A balance sheet summarizes what the household or firm owns, and what it owes to others. What you own (including what you are owed by others) is called your assets, and what you owe others is called your liabilities (to be liable means to be responsible for something, in this case to repay your debts to others). The difference between your assets and your liabilities is called your net worth. The relationship between assets, liabilities, and net worth is shown in Figure 10.11.











Figure 10.11 
A balance sheet.
        




When the components of an equation are such that by definition, the left-hand side is equal to the right-hand side, it is called an accounting identity, or identity for short. The balance sheet identity states:

Net worth is accumulated savings over time. We can also turn the identity around by subtracting liabilities from both sides, so that:

In the bathtub analogy, the water in the bathtub represents wealth as accumulated savings, and is the same as net worth. As we saw, net worth or wealth increases with income, and declines with consumption and depreciation. For a household, income increases bank deposits, while consumption is paid with bank deposits. Because bank deposits are an asset for their owner, these operations affect the asset side of the households balance sheet.
But your wealth or net worth does not change when you lend or borrow. This is because a loan creates both an asset and a liability on your balance sheet: if you borrow money you receive cash as an asset, while the debt is an equal liability.
Julia started off with neither assets nor liabilities and a net worth of zero, but on the basis of her expected future income she borrowed $58 when the interest rate was 10% (point E in Figure 10.4). At this time her asset is the $58 in cash that she is holding, while her liability is the loan that she has to pay back later. We record the value of the loan as $58 now, since that is what she received for getting into debt (her liability rises to $64 later only once interest has been added). This is why taking out the loan has no effect on her current net worththe liability and the asset are equal to one another, so her net worth remains unchanged at zero. In Figure 10.12 this is recorded in her balance sheet under the heading Now (before consuming).
She then consumes the $58it flows out through the bathtub drain, to use our earlier analogy. Since she still has the $58 liability, her net worth falls to $58. This is recorded in Figure 10.12 in her balance sheet under the heading Now (after consuming).
Later, she receives income of $100 (an inflow to the bathtub). Also, because of accumulated interest, the value of her loan has risen to $64. So her net worth becomes $100  $64 = $36. Again, we suppose that she then consumes the $36, leaving her with $64 in cash to pay off her debt of $64. At this point her net worth falls back to zero. The corresponding balance sheets are also shown in Figure 10.12.



Now  before consuming


Julia's assets
Julia's liabilities


Cash
$58
Loan
$58


Net worth = $58  $58 = $0Now  after consuming


Julia's assets
Julia's liabilities


Cash
0
Loan
$58


Net worth = $58Later  before consuming


Julia's assets
Julia's liabilities


Cash
$100
Loan
$64


Net worth = $100  $64 = $36Later  after consuming


Julia's assets
Julia's liabilities


Cash
$64
Loan
$64


Net worth = 0


Figure 10.12 
Julias balance sheets.
        





Question 10.7 Choose the correct answer(s)
The following diagram depicts Julias choice of consumption in periods 1 (now) and 2 (later) when the interest rate is 78%. She has no income in period 1 and an income of $100 in period 2. She chooses the consumption choice G. Based on this information, which of the following statements regarding Julias balance sheet is correct?













The asset after borrowing but before consumption in period 1 is 56.
The net worth after consumption in period 1 is 0.
The liability before consumption in period 2 is 35.
The asset after consumption but before repaying the loan in period 2 is 62.


The asset after borrowing but before consumption in period 1 is 35.
The net worth after consumption in period 1 is 35, which is what she borrowed.
The liability before consumption in period 2 is 62, which is the principal plus interest of her loan of 35 in period 1.
Her income in period 2 is 100, of which she consumes 38, leaving 62 before she repays the loan.


History, instability, and growthPolitics and policy