10.8 Banks, money, and the central bank
Among the moneylenders in Chambar, the profitability of their lending business depends on:

the cost of their borrowing
the default rate on the loans they extended to farmers
the interest rate they set

The closure of Irish banks for six months revealed how money can be created in an economy and how it depends on trust.
These case studies and the two-period model provide much of what we need in order to understand the role of the financial system in the economy. But we must introduce two more actors on the economic stage: banks and the central bank.

bankA firm that creates money in the form of bank deposits in the process of supplying credit.

A bank is a firm that makes profits through its lending and borrowing activities. The terms on which banks lend to households and firms differ from their borrowing terms. The interest they pay on deposits is lower than the interest they charge when they make loans, and this allows banks to make profits.
To explain this process, we first have to explore in more detail the concept of money.

Types of money
Money can take the form of bank notes, bank deposits, or whatever else one purchases things with.

Base money: Cash held by households, firms, and banks, and the balances held by commercial banks in their accounts at the central bank, known as reserves. Base money is the liability of the central bank.
Bank money: Money in the form of bank deposits created by commercial banks when they extend credit to firms and households. Bank money is the liability of commercial banks.
Broad money: The amount of broad money in the economy is measured by the stock of money in circulation. This is defined as the sum of bank money and the base money that is in the hands of the non-bank public.



central bankThe only bank that can create base money. Usually part of the government. Commercial banks have accounts at this bank, holding base money.

We saw that anything that is accepted as payment can be counted as money. But money in this sense is different from legal tender, which is also called base money or high-powered money. Unlike bank deposits or cheques, legal tender has to be accepted as payment by law. It comprises cash (notes and coins) and accounts held by commercial banks at the central bank, called commercial bank reserves. Reserves are equivalent to cash because a commercial bank can always take out reserves as cash from the central bank, and the central bank can always print any cash it needs to provide. As we will see, this is not the case with accounts held by households or businesses at commercial bankscommercial banks do not necessarily have the cash available to satisfy all their customers needs.
Most of what we count as money is not legal tender issued by the central bank, but instead is created by commercial banks when they make loans. We explain using bank balance sheets.
Our hypothetical Abacus Bank is not linked to the real-life Abacus Federal Savings Bank, which had an interesting role in the financial crisis of 2008.
Unlike our earlier example in which a bank deposit arises from a loan, let us suppose in this case that Marco has $100 in cash and he puts it in a bank account in Abacus Bank. Abacus Bank will put the cash in a vault, or it will deposit the cash in its account at the central bank. Abacus Banks balance sheet gains $100 of base money as an asset, and a liability of $100 that is payable on demand to Marco, as shown in Figure 10.13a.





Abacus Bank's assets
Abacus Bank's liabilities


Base money
$100
Payable on demand to Marco
$100




Figure 10.13a 
Marco deposits $100 in Abacus Bank.
        




Marco wants to pay $20 to his local grocer, Gino, in return for groceries, so he instructs Abacus Bank to transfer the money to Ginos account in Bonus Bank (he could do this by paying Gino using a debit card). This is shown on the balance sheets of the two banks in Figure 10.13b: Abacus Banks assets and liabilities both go down by $20, while Bonus Banks assets are increased by this addition of $20 of base money, and its liabilities increase by $20 payable on demand to Gino.





Abacus Bank's assets
Abacus Bank's liabilities


Base money
$80
Payable on demand to Marco
$80




Bonus Bank's assets
Bonus Bank's liabilities


Base money
$20
Payable on demand to Gino
$20




Figure 10.13b 
Marco pays $20 to Gino.
        




This illustrates the payment services provided by banks. So far we have just considered transactions using base money, or legal tender. We now show how banks create money in the process of making loans.
Suppose that Gino borrows $100 from Bonus Bank. Bonus Bank lends him the money by crediting his bank account with $100, so he is now owed $120. But he owes a debt of $100 to the bank. So Bonus Banks balance sheet has expanded. Its assets have grown by the $100 it is owed by Gino, and its liabilities have grown by the $100 it has credited to his bank account, shown in Figure 10.13c.





Bonus Bank's assets
Bonus Bank's liabilities


Base money
$20
Payable on demand to Gino
$120


Bank loan
$100


Total
$120




Figure 10.13c 
Bonus Bank gives Gino a loan of $100.
        




Bonus Bank has now expanded the money supply: Gino can make payments up to $120, so in this sense the money supply has grown by $100even though base money has not grown. The money created by his bank is called bank money.
Base money remains essential, however, partly because customers sometimes take out cash, but also because when Gino wants to spend his loan, his bank has to transfer base money. Suppose Gino employs Marco to work in his shop, and pays him $10. Then Bonus Bank has to transfer $10 of base money from Ginos bank account to Marcos bank account in Abacus Bank. This transaction is shown in Figure 10.13d.





Abacus Bank's assets
Abacus Bank's liabilities


Base money
$90
Payable on demand to Marco
$90




Bonus Bank's assets
Bonus Bank's liabilities


Base money
$10
Payable on demand to Gino
$110


Bank loan
$100


Total
$110




Figure 10.13d 
Gino pays Marco $10.
        




In practice, banks make many transactions to one another in a given day, most cancelling each other out, and they settle up at the end of each day. So at the end of each day, each bank will transfer or receive the net amount of transactions they have made. This means they do not need to have available the legal tender to cover all transactions or demand for cash.
Note that if Marco and Gino were customers of the same bank, there will be no loss of base money. This is one reason why banks fight to get a larger share of deposits.
Because of the loan, the total money in the banking system has grown, as Figure 10.13e shows.





Abacus Bank and Bonus Bank's assets
Abacus Bank and Bonus Bank's liabilities


Base money
$100
Payable on demand
$200


Bank loan
$100


Total
$200




Figure 10.13e 
The total money in the banking system has grown.
        




Creating money may sound like an easy way to make profits, but the money banks create is a liability, not an asset, because it has to be paid on demand to the borrower. It is the corresponding loan that is an asset for the bank. Banks make profits out of this process by charging interest on the loans. So if Bonus Bank lends Gino the $100 at an interest rate of 10%, then next year the banks liabilities have fallen by $10 (the interest paid on the loan, which is a fall in Ginos deposits). This income for the bank increases its accumulated profits and therefore its net worth by $10. Since net worth is equal to the value of assets minus the value of liabilities, this allows banks to create positive net worth.
Base money (excluding legal tender held by banks) plus bank money is called broad money. Broad money is money in the hands of the non-bank public.
The ratio of base money to broad money varies across countries and over time. For example, before the financial crisis, base money comprised about 34% of broad money in the UK, 68% in South Africa, and 810% in China.

maturity transformationThe practice of borrowing money short-term and lending it long-term. For example, a bank accepts deposits, which it promises to repay at short notice or no notice, and makes long-term loans (which can be repaid over many years). Also known as: liquidity transformationmortgage (or mortgage loan)A loan contracted by households and businesses to purchase a property without paying the total value at one time. Over a period of many years, the borrower repays the loan, plus interest. The debt is secured by the property itself, referred to as collateral. See also: collateral.


liquidity riskThe risk that an asset cannot be exchanged for cash rapidly enough to prevent a financial loss.default riskThe risk that credit given as loans will not be repaid.

By taking deposits and making loans, banks provide the economy with the service of maturity transformation. Bank depositors (individuals or firms) can withdraw their money from the bank without notice. But when banks lend, they give a fixed date on which the loan will be repaid, which in the case of a mortgage loan for a house purchase, may be 30 years in the future. They cannot require the borrower to repay sooner, which allows those receiving bank loans to engage in long-term planning. This is called maturity transformation because the length of a loan is termed its maturity, so the bank is engaging in short-term borrowing and long-term lending. It is also called liquidity transformation: The lenders deposits are liquid (free to flow out of the bank on demand) whereas bank loans to borrowers are illiquid.
While maturity transformation is an essential service in any economy, it also exposes the bank to a new form of risk (called liquidity risk), aside from the possibility that its loans will not be repaid (called default risk).

bank runA situation in which depositors withdraw funds from a bank because they fear that it may go bankrupt and not honour its liabilities (that is, not repay the funds owed to depositors).

Banks make money by lending much more than they hold in legal tender, because they count on depositors not to need their funds all at the same time. The risk they face is that depositors can all decide they want to withdraw money instantaneously, but the money wont be there. In Figure 10.13e, the banking system owed $200 but only held $100 of base money. If all customers demanded their money at once, the banks would not be able to repay. Thisis called a bank run. If theres a run, the bank is in trouble. Liquidity risk is a cause of bank failures.

Once people become frightened that a bank is experiencing a shortage of liquidity, there will be a rush to be the first to withdraw deposits. If everyone tries to withdraw their deposits at once, the bank will be unable to meet their demands because it has made long-term loans that cannot be called in at short notice, as an article in The Economist explains.

Like any other firm in a capitalist system, banks can also fail by making bad investments, such as by giving loans that do not get paid back. But in some cases, banks are so large or so deeply involved throughout the financial system that governments decide to rescue them if they are at risk of going bankrupt. This is because, unlike the failure of a firm, a banking crisis can bring down the financial system as a whole and threaten the livelihoods of people throughout the economy. In Unit 17 we will see how bank failures were involved in the global financial crisis of 2008.

Question 10.8 Choose the correct answer(s)
Which of the following statements is correct?

Money is the cash (coins and notes) used as the medium of exchange to purchase goods and services.
Bank money is the total money in the savers deposit accounts at the bank.
Base money is broad money minus bank money.
Liquidity transformation occurs when the banks transform illiquid deposits into liquid loans.


Money is a medium of exchange used to purchase goods and services, but it can also take the form of cheques and credits, as well as coins and notes.
Bank money is the money created by commercial banks when they extend credit to firms and households.
Broad money is base money created by the central bank plus bank money created by commercial banks.
Liquidity transformation occurs when the banks transform liquid deposits into illiquid loans.


History, instability, and growthPolitics and policy