11.9 Non-clearing markets: Rationing, queuing, and secondary markets
Tickets for Beyoncs 2013 world tour sold out in 15 minutes for the Auckland show in New Zealand, in 12 minutes for three UK venues, and in less than a minute for Washington DC in the US. When American singer Billy Joel announced a surprise concert in his native Long Island, New York in October 2013, all available tickets were snapped up in minutes. In both cases its safe to say that there were many disappointed buyers who would have paid well above the ticket price. At the price chosen by the concert organizers, demand exceeded supply.
We see excess demand for tickets for sporting events, too. The London organizing committee for the 2012 Olympic games received 22 million applications for 7 million tickets. Figure 11.21 is a stylized representation of the situation for one Olympic event.
The number of available tickets, 40,000, is fixed by the capacity of the stadium. The ticket price at which supply and demand are equal is 225. The organizing committee do not choose this price, but a lower price of 100; at this price 70,000 tickets are demanded. There is excess demand of 30,000 tickets.











Figure 11.21 
Excess demand for tickets.
        




Some of those who obtain tickets for a popular event may be tempted to sell them rather than use them. In Figure 11.21, anyone who buys a ticket for 100 with the intention of reselling could sell it for at least 225, receiving a rent of 125 (compared with the next best alternative of not buying a ticket).
The potential for rents may create a parallel or secondary market. In the case of tickets for concerts and sporting events, part of the initial demand comes from scalpers: people who plan to resell at a profit. Tickets appear almost instantly on peer-to-peer trading platforms such as StubHub or Ticketmaster, listed at prices that may be multiples of what was originally paid. In the last few days of the 2014 Winter Olympics in Sochi, tickets for the Olympic Park with a face value of 200 roubles were sold outside the Park for up to 4,000 roubles.
Prices in the secondary market equate demand and supply, and allocations are accordingly made to those with the greatest willingness to pay. The assumption that this market-clearing price will be much higher than the listed price is responsible, in part, for the initial frenzied demand for tickets. Nevertheless, some individuals who buy at the lower prices hold on to their tickets, and attend an event that they would otherwise be unable to afford.
Event organizers may try to prevent scalping. In Sochi, the security officers were supposed to intervene. But prevention is increasingly difficult, as online sales provide new opportunities for scalping on a large scale using ticket-bots: software that automatically buys tickets within moments of their release. The New York Times estimated that scalpers made $15.5 million from just 100 performances of the Broadway musical Hamilton in the summer of 2016.

rationed goodsGoods that are allocated to buyers by a process other than price (such as queueing, or a lottery).

In the case of the London Olympics, the organizing committee set the price, and the tickets were allocated by lottery. This is an example of goods being rationed rather than allocated by price. The organizers could have chosen a much higher price (225 for the event in Figure 11.21), which would have cleared the market. But that would have meant that people willing to pay less than 225 would not have seen the event. By allocating the tickets through a lottery, some people with a lesser willingness to pay (perhaps because they had limited incomes) would also get to see the Games.
There was much public debate about the process, and some anger, but IOC President Jacques Rogge defended it as open, transparent and fair.
There are other cases where the producer of a good chooses to operate with persistent excess demand. The New York restaurant Momofuku Ko offers a 16-course tasting menu at lunch for $175, and has just 12 seats. Online reservations may be made one week in advance, open at 10 a.m. daily, and typically sell out in three seconds. In 2008, the proprietor David Chang sold a reservation at a charity auction for $2,870. Even taking into account the willingness of individuals to pay more for an item when the proceeds go to charity, this suggests substantial excess demand for reservationsbut he has not raised the price.

Exercise 11.9 IOC policy

Do you think the IOC policy of using a lottery is fair?
Is it Pareto efficient? Explain why or why not.
Using the criteria of fairness and Pareto efficiency, how would you judge the widely criticized practice of scalping tickets.
Can you think of any other arguments for or against scalping?



Exercise 11.10 The price of a ticket
Explain why the seller of a good in fixed supply (such as concert tickets or restaurant reservations) might set a price that the seller knows to be too low to clear the market.


Question 11.9 Choose the correct answer(s)
Figure 11.21 is a stylized representation of the market for an event at the 2012 London Olympic Games. 40,000 tickets were allocated by lottery, at 100 each.
Assume that buyers could resell their tickets in the secondary market. Which of the following statements is correct?

The market cleared at 100.
The probability of obtaining a ticket was 4/7.
The economic rent earned by those selling in the secondary market was 100.
The lottery organizers should have chosen a price of 225.


The market would have cleared at 225 for the supply of 40,000 tickets.
70,000 people wanted tickets, but only 40,000 were allocated, randomly.
In the secondary market the ticket could be sold at 225, making the economic rent earned 125.
With supply limited to 40,000, selling them all at 225 would have increased the organizers profit. But they preferred to set a price that was affordable for more people.


Politics and policy