11.10 Markets with controlled prices
In December 2013, on an unusually cold and snowy Saturday in New York City, demand for taxi services rose appreciably. The familiar metered yellow and green cabs, which operate at a fixed rate (subject to minor adjustments for peak and night-time hours), were hard to find. Those looking for taxis were accordingly rationed, or faced long waiting times.
But there was an alternative availableanother example of a secondary market: the on-demand, app-based taxi service called Uber, which by March 2017 would be operating in 81 countries. This recent entrant in the local transportation market uses a secret algorithm that responds rapidly to changing demand and supply conditions.
Standard cab fares do not change with the weather, but Ubers prices can change substantially. On this December night, Ubers surge-pricing algorithm resulted in fares that were more than seven times Ubers standard rate. This spike in pricing choked off some demand and also led to some increased supply, as drivers who would have clocked off remained on the road and were joined by others.
City authorities often regulate taxi fares as part of their transport policy, for example to maintain safety standards, and minimize congestion. In some countries, local or national government also controls housing rents. Sometimes this is to protect tenants, who may have little bargaining power in their relationships with landlords, or sometimes because urban rents would be too high for key groups of workers.
Figure 11.22 shows a situation in which local government might decide to control the housing rent in a city (note that here we mean rent in the everyday sense of a payment from tenant to landlord for use of the accommodation). Initially the market is in equilibrium, with 8,000 tenancies at a rent of 500the market clears. Now suppose that there is an increase in demand for tenancies. Rents will rise, because the supply of rental housing is inelastic, at least in the short run: it would take time to build new houses, so more tenancies can only be supplied immediately if some owner-occupiers decide to become landlords and live elsewhere themselves.

rent ceilingThe maximum legal price a landlord can charge for a rent.

Suppose that the city authorities are concerned that this rise would be unaffordable for many families, so they impose a rent ceiling at 500. Follow the steps in Figure 11.22 to see what happens.












Figure 11.22 
Housing rents and economic rents.
        















The market clears


Initially the market clears with 8,000 tenancies at rent of 500.














An increase in demand


Now suppose that there is an increase in demand for tenancies.














Rent increases


The supply of housing for rent is inelastic, at least in the short run. The new market-clearing rent, 830, is much higher.














A rent ceiling?


Suppose the city authorities impose a rent ceiling at 500. Landlords will continue to supply 8,000 tenancies, so there is excess demand.














The short side of the market


When the price is below the market-clearing level, the suppliers are on the short side of the market. They, not the demanders, determine the number of tenancies.














Some people would pay much more


There are 12,000 people on the long side of the market. Only 8,000 obtain tenancies. There are 8,000 people willing to pay 1,100 or more, but tenancies are not necessarily allocated to the people with highest willingness to pay.














A secondary market


If it were legal, some tenants could sublet their accommodation at 1,100, obtaining an economic rent of 600 (the difference between 1,100 and the controlled rent of 500).














The long-run equilibrium


The long-run solution for making more tenancies available at a reasonable rent is for the city authorities to encourage house-building so as to shift out the supply curve.





short side (of a market)The side (either supply or demand) on which the number of desired transactions is least (for example, employers are on the short side of the labour market, because typically there are more workers seeking work than there are jobs being offered). The opposite of short side is the long side. See also: supply side, demand side.

With a controlled price of 500 there is excess demand. In general a controlled price will not clear the market, and trade will then take place on the short side of the market: that is, the quantity traded will be whichever is lower of the quantities supplied and demanded. In Figure 11.22, the price is low and suppliers are on the short side. If the price were high (above the market-clearing price), demanders would be on the short side.
When the rent is 500, the number of tenancies will be 8,000. Of the 12,000 people on the long side of the market, 8000 would pay 1,100 or more, but tenancies are not allocated to those with highest willingness to pay. Those lucky enough to obtain tenancies may be anywhere on the new demand curve above 500.

This brief economic analysis of rent controls in Paris points out the counter-productive effects: Jean Bosvieux and Oliver Waine. 2012. Rent Control: A Miracle Solution to the Housing Crisis?. Metropolitics. Updated 21 November 2012.
Richard Arnott, on the other hand, argues that economists should rethink their traditional opposition to rent control: Richard Arnott. 1995. Time for Revisionism on Rent Control?. Journal of Economic Perspectives 9 (1) (February): pp.99120.

The rent control policy puts more weight on maintaining a rent that is seen to be fair, and affordable by existing tenants who might otherwise be forced to move out, than it does on Pareto efficiency. The scarcity of rental accommodation gives rise to a potential economic rent: if it were legal (it usually isnt), some tenants could sublet their accommodation, obtaining an economic rent of 600 (the difference between 1,100 and 500).
If the increase in demand proves to be permanent, the long-run solution for the city authorities may be policies that encourage house-building, shifting out the supply curve so that more tenancies are available at a reasonable rent.

Exercise 11.11 Why not raise the price?
Discuss the following statement: The sharp increase in cab fares on a snowy day in New York led to severe criticism of Uber on social media, but a sharp increase in the price of gold has no such effect.


Question 11.10 Choose the correct answer(s)
Figure 11.22 illustrates the rental housing market. Initially, the market clears at 500 with 8,000 tenancies. Then, there is an outward shift in the demand curve, as shown in the diagram. In response, the city authority imposes a rent ceiling of 500 and prohibits subletting. Based on this information, which of the following statements are correct?

There are 4,000 potential tenants who are left unhoused.
The market would clear at 1,100.
If subletting was possible, then those renting could earn an economic rent of 330.
Excess demand could be eliminated in the long run by building more houses.


At 500, 12,000 people want tenancies, but there are only 8,000 available.
The market would clear at 830.
Those subletting would be able to charge a rent of 1,100 under the new demand curve, obtaining economic rent of 600.
If enough houses were built the supply curve would shift outwards and the market would again clear at 500.


InequalityInnovationPolitics and policy