11.1 How people changing prices to gain rents can lead to a market equilibrium
When Lincolns decision to blockade the southern ports led to a drastic shortage of cotton on the world market (Unit 8), people saw the opportunity to benefit by changing the price. In turn, these price changes sent a message to producers and consumers around the world to change their behaviour.
The blockade was an exogenous shock that changed the market equilibrium. In a competitive equilibrium, all trades take place at the same price (the market-clearing price), and buyers and sellers are price-takers. An exogenous shift in supply or demand means that the price has to change if the market is to reach the new equilibrium. The following example shows how this can happen.
Figure 11.2 shows the competitive equilibrium in a market for hats. At point A, the equilibrium price equalizes the number of hats demanded by consumers to the number produced and sold by hat-sellers. At this point, no one can benefit by offering or charging a different price, given the price everyone else is offering or chargingit is a Nash equilibrium. Follow the steps in Figure 11.2 to see how an increase in the demand for hats gives hat-sellers an opportunity to benefit.













Figure 11.2 
An increase in demand in a competitive market: Opportunities for rent-seeking.
        















Equilibrium


At point A, the market is in equilibrium at a price of $8. The supply curve is the marginal cost curve, so the marginal cost of producing a hat is $8.














An exogenous demand shock


The shock shifts the demand curve to the right.














Excess demand


At the going price, the number of hats demanded exceeds the number supplied (point D).














Raising the price


When demand has increased, a hat-seller who observes more customers will realize that she can make higher profits by raising the price. She could sell as many hats at any price between A and B.














Increasing quantity


If she sells the same quantity as before at a higher price, the price exceeds the marginal cost of a hat. She earns an economic rent. But she could do even better by increasing the quantity as well.














A new equilibrium


As a result of the rent-seeking behaviour of hat-sellers, the hat industry adjusts. Prices and quantities increase until a new equilibrium emerges at point C.




At the original point of competitive equilibrium (A) the price was $8, and all buyers and sellers were acting as price-takers. When demand increases, the buyers or sellers do not immediately know that the equilibrium price has risen to $10. If everyone were to remain a price-taker, the price would not change. But when demand shifts, some of the buyers or sellers will realize that they can benefit by being a price-maker, and decide to charge a different price from the others.
For example, when a hat-seller notices that every day there are customers wishing to buy hats, but none left on the shelf, she realizes that some customers would have been happy to pay more than the going price, and that some who paid the going price for their hat would have been willing to pay more. So the hat-seller will raise her price the next dayprice-taking is no longer her best strategy, and she becomes a price-maker. She does not know exactly where the new demand curve is, but she cannot fail to see the people who want to buy hats go home disappointed.
By raising the price she raises her profit rate, and earns an economic rent (at least temporarily)that is, she makes higher profits than are necessary to keep her hat business going. Moreover, because her price now exceeds her marginal cost, she will produce and sell more hats. The same is true of other hat-sellers who will experiment with higher prices and increased outputs.
As a result of the rent-seeking behaviour of hat-sellers, the industry adjusts to the new equilibrium at point C in Figure 11.2. At this point the market again clears, supply is equal to demand, and none of the sellers or buyers can benefit from charging a price different from $10. They all return to being price-takers, until the next change in supply or demand comes along.
When a market is not in equilibrium, both buyers and sellers can act as price-makers, transacting at a price different from the previous equilibrium price. If we start from the original equilibrium and take the opposite case of a fall in demand for hats, there will be excess supply at the going price of $8. A customer at the hat shop might say to the hat-seller: I see you have quite a few unsold hats piling up on your shelf. Id be happy to buy one of those for $7. To the buyer this would be a bargain. But its also a good deal for the seller, because at the reduced level of sales, $7 is still greater than the hat-sellers marginal cost of producing the hat.
Market equilibration through rent-seeking

disequilibrium rentThe economic rent that arises when a market is not in equilibrium, for example when there is excess demand or excess supply in a market for some good or service. In contrast, rents that arise in equilibrium are called equilibrium rents.

The hats example illustrates how markets adjust to equilibrium through the pursuit of disequilibrium economic rents:

When a market is in competitive equilibrium: If there is an exogenous change in demand or supply, there will be either excess demand or excess supply at the original price.
Then, there are potential rents: Some buyers are willing to pay prices that are different from the original price, but above the marginal cost for the seller.
While the market is in disequilibrium: Buyers and sellers can gain these rents by transacting at different prices. They become price-makers.
This process continues until there is a new competitive equilibrium: At this point there is no excess demand or supply, and buyers and sellers are price-takers again.


innovation rentsProfits in excess of the opportunity cost of capital that an innovator gets by introducing a new technology, organizational form, or marketing strategy. Also known as: Schumpeterian rents.

Notice how market equilibration through rent-seeking resembles the process of technological improvement through rent-seeking modelled in Unit 2. There the exogenous change was the possibility of adopting a new technology. The first firm to do so gained innovation rents: profits in excess of the normal profit rate. This process went on until the innovation was widely diffused in the industry and prices had adjusted so that there were no further innovation rents to be had.

Einstein Equilibration through rent-seeking in an experimental market
Economists have studied the behaviour of buyers and sellers in laboratory experiments to assess whether prices do adjust to equalize supply and demand. In the first such experiment, done in 1948, Edward Chamberlin gave each member of a group of Harvard students a card designating them as buyers or sellers and stating their willingness to pay or reservation price in dollars. They could then bargain amongst themselves, and he recorded the trades that took place. He found that prices tended to be lower, and the number of trades higher, than the equilibrium levels. Chamberlin would repeat the experiment every year. One of the students who took part in 1952, Vernon Smith, later conducted his own experiments and won a Nobel Prize in economics as a result.
He modified the rules of the game so that participants had more information about what was happening: buyers and sellers called out prices that they were willing to offer or accept. When anyone agreed to a proposed deal, a trade took place and the two participants dropped out of the market. His second modification was to repeat the game several times, with the participants keeping the same card in each round.
Figure 11.3 shows his results. There were 11 sellers, with reservation prices between $0.75 and $3.25, and 11 buyers with WTP in the same range. The diagram shows the corresponding supply and demand functions. You can see that, in equilibrium, six trades will take place at a price of $2. But the participants did not know this, since they did not know the price on anyone elses card. The right-hand-side of the diagram shows the price for each trade that occurred. In the first period there were five trades, all at prices below $2. But by the fifth period most prices were very close to $2, and the number of trades was equal to the equilibrium quantity.











Figure 11.3 
Vernon Smiths experimental results.
        





Vernon L. Smith. 1962. An Experimental Study of Competitive Market Behavior.Journal of Political Economy 70(3) (January): p.322.



Smiths experiment provides some support for applying the model of competitive equilibrium to describe markets in which goods are identicalthere are enough buyers and sellers, and they are well informed about the trading of others. The outcome was close to equilibrium even in the first period, and converged quickly towards it in subsequent periods as the participants learned more about supply and demand. The competitive model does not capture the rent-seeking behaviour during periods of adjustment in the experiment, but it correctly predicts the eventual outcome to be the price-taking equilibrium.


Exercise 11.1 A supply shock and adjustment to a new market
Consider a market in which bakeries supply bread to the restaurant trade. A new technology becomes available to the bakeries, shifting the supply curve as shown in the figure.













Explain why the bakeries would want to increase sales. Why can they not do so at the original price?
Describe how the actions of bakeries could adjust the industry to a new equilibrium.
Is it always the seller who benefits from the economic rents that arise when the market is in disequilibrium?
What action might restaurants take while the market is not in equilibrium?



Exercise 11.2 Cotton prices and the American Civil War
Read the introduction to Unit 8 and the Great Economist box about Friedrich Hayek in this unit. Use the supply-and-demand model to represent:

The increase in the price of US raw cotton (show the market for US raw cotton, a market with many producers and buyers).
The increase in the price of Indian cotton (show the market for Indian raw cotton, a market with many producers and buyers).
The reduction in textile output in an English textile mill (show a single firm in a competitive product market).

In each case, indicate which curve(s) shift and explain the result.


Question 11.2 Choose the correct answer(s)
Figure 11.2 shows the hat market before and after a demand shift. Based on this information, which of the following statements are correct?

After the demand increase, sellers will initially sell more hats at $8.
The adjustment to the new equilibrium is driven by the rent-seeking behaviour of the buyers and the sellers.
While the market adjusts, some buyers may pay more for a hat than others.
The new equilibrium price may be anywhere between A and B.


Sellers would not increase sales beyond A at $8, because their marginal cost would be higher than $8.
Adjustment requires prices and quantities to be changed. rent-seeking provides incentives for buyers and sellers to make these changes.
Until the new equilibrium is reached, buyers and sellers may find opportunities to benefit from transactions at different prices.
In the new equilibrium, the law of one price holds and supply equals demand (at the new demand curve). The price will be $10.