11.2 How market organization can influence prices
Social interactions and market organization can both have a powerful impact on prices. Data from fish markets (which are good for comparison because fish are relatively homogeneous) show how influential both can be.
On the eastern coast of Italy, the Ancona fish market uses a Dutch auction system. When a crate of fish goes down a conveyor belt, a screen displays the initial price of the crate. That price declines incrementally until a seller pushes a button to buy the case. Transactions occur every four seconds on three active belts and 25 million of fish are sold annually. An auctioneer decides the initial prices, and buyers representing supermarkets and restaurants compete to determine final prices.
The Marseille fish market uses a different system. Sellers agree a price with each buyer who approaches their stand. This is called pairwise trading. If Paul is a seller, and buyer George approaches his stand to purchase a box of sardines, Paul offers him a price. That price may differ from the price Paul offers his next buyer. There is minimal haggling but George is free to reject a price and find another seller.
Some individual vendors in the Marseille market vary the prices of the same fish to different consumers by up to 30%. An individual buyer can end up paying very different amounts for different transactions of the same fish. Despite this, there is a typical downward-sloping relationship between price and quantity in the aggregate market.

price discriminationA selling strategy in which different prices are set for different buyers or groups of buyers, or prices vary depending on the number of units purchased.

Alan Kirman used data on buyer loyalty to explain this kind of price discrimination. The Marseille market is composed of approximately 45 sellers and 500 buyers, many of whom are retailers like those in Ancona. Some buyers are extremely loyal to certain fishmongers, and others circulate. More loyal customers pay slightly higher prices than their less loyal counterparts. Kirmans data reveal that this arrangement has led to higher profits for sellers and higher payoffs for 90% of loyal customers.
How does this make sense? Buyer payoffs come from both price and the satisfaction of demand. Imagine you are a buyer. On your first day at the Marseille market you are equally likely to buy from any of the fishmongers. You buy cod from Sarah and your supermarket makes a profit, making you more likely to return to Sarah next day. In this way, your past experiences inform your present decisions.
After continuing to buy from Sarah for some time, she begins serving you cod before her other customers as a reward for your loyalty. So you keep buying from Sarah because you are more likely to get all of the fish that you demand. The benefits of being a loyal customer are especially apparent when the weather limits the quantity of fish available.
Now imagine you are the fishmonger. Seller payoffs come from profits and the satisfaction of your supply. By increasing the number of loyal customers you have, your revenue becomes more reliable and your demand predictions become more accurate.
If you give loyal customers priority over othersperhaps by serving them firstyou improve their experience buying from you, making them more likely to return. Over time these customers become so loyal that they will remain despite a small increase in the prices that you charge them.
In this manner, individual relationships and past experiences influence prices. The pairwise trading structure allows for customer loyalty to have a heavy influence on prices in the Marseille market.
Remarkably something very similar happens in Ancona, which has been studied by Mauro Gallegati and his co-authors. Figure 11.4 shows that some individual buyers in the market have very atypical price-quantity relationships. But as shown in Figure 11.5, the aggregate price quantity relationship is standard. Even without face-to-face interaction, buyer loyalty is present and some consumers are more likely to buy from certain ships. Unlike the Marseille market, however, many of these loyal customers pay lower prices than their less loyal counterparts. This is puzzling, since there is no face-to-face contact between buyers and sellers. The authors believe that this is due to a complex learning process.
Another noteworthy fact about the Ancona market is that prices fall during the day. In this case, why dont buyers simply wait for better prices? Once again we must consider a trade-offif buyers wait until later in the day, it becomes more likely that they will not be able to buy the fish that they want. Many buyers may not be willing to accept that risk and will pay higher prices to guarantee that they get their fish. Consistent with this explanation, prices rise sharply at the end of the day when total supply is low.
Prices ultimately come from the interests of and relationships between buyers and sellers. Market organization determines precisely how these relationships influence prices.











Figure 11.4 
The price-quantity relationship for a single buyer in the Ancona fish market.
        





Mauro Gallegati, Gianfranco Giulioni, Alan Kirman, and Antonio Palestrini. 2011. Whats that got to do with the price of fish? Buyers behavior on the Ancona fish market.Journal of Economic Behavior & Organization 80(1) (September): pp.2033.














Figure 11.5 
The aggregate price-quantity relationship in the Ancona market.
        





Mauro Gallegati, Gianfranco Giulioni, Alan Kirman, and Antonio Palestrini. 2011. Whats that got to do with the price of fish? Buyers behavior on the Ancona fish market.Journal of Economic Behavior & Organization 80(1) (September): pp.2033.