11.3 Short-run and long-run equilibria
When we modelled equilibrium in the market for bread in Unit 8, we assumed that there were a fixed number of bakeries (50) in the city. We worked out the industry supply curve by adding together the amounts of bread each bakery would supply at each price, and then found the equilibrium price and quantity.
But we also saw that at the equilibrium price, the bakeries were earning rents (their economic profits were greater than zero), providing an opportunity for other firms to benefit by entering the market. Entry of new firms would shift market supply, leading to a new equilibrium. This is an example of how rent-seeking can move a market to a different equilibrium in the long run.

short-run equilibriumAn equilibrium that will prevail while certain variables (for example, the number of firms in a market) remain constant, but where we expect these variables to change when people have time to respond to the situation.long-run equilibriumAn equilibrium that is achieved whenvariables that were held constant in the short run(for example, the number of firms in a market)are allowed to adjust, as people have time to respond the situation.

Figure 11.6 shows the bread market equilibrium with 50 bakeries at point A in the right-hand panel: 5,000 loaves are sold at 2 each. The left-hand panel shows the isoprofit and marginal cost curves for each bakery (assuming they are identical) and the point where it produces when the price is 2: it produces 100 loaves (where price equals marginal cost). And we can see that at point A it is above the average cost curve, earning a positive economic profit.
The market equilibrium at point A is described as a short-run equilibrium. The phrase short-run is used to indicate that we are holding something constant for now, although it might change in future. In this case, we mean that point A is the equilibrium while the number of firms in the market remains constant. But because firms are earning rents, we do not expect this situation to last. Follow the steps to see what happens in the longer run.












Figure 11.6 
The market for bread in the short run and the long run.
        















The short-run equilibrium


Initially there are 50 bakeries. The market is at a short-run equilibrium at point A. The price of a loaf of bread is 2, and the bakeries profits are above the normal level. They are earning rents, so more bakeries will wish to enter.














More firms enter


When new firms enter, the supply curve shifts to the right. The new equilibrium is at point B. The price has fallen to 1.75. There are more bakeries selling more bread in total, but each one is producing less than before and making less profit.














Price is still greater than average cost


At B, the price is still above the average costbakeries are making greater-than-normal profits. This is still only a short-run equilibrium, because more firms will want to enter.














The long-run equilibrium


More bakeries will enter, lowering the market price, until the price is equal to the average cost of a loaf, and bakeries are making normal profits. The long-run equilibrium is at point C.




When the long-run equilibrium is reached at point C, the price of bread is equal to both the marginal and the average cost (P = MC = AC), and every bakerys economic profit is zero.
In the long run, profits to be made in the bread market are no higher than the profits that potential bakery owners could make by using their assets elsewhere. And, if any owners could do better by putting their premises to a different use (or by selling them and investing in a different business) we would expect them to do so. Although no one would be earning more than normal profits, no one should be earning less than normal profits either.
We can use Figure 11.6 to work out how many bakeries there will be in the long-run equilibrium. The left-hand panel shows that the price must be 1.52, because that is the point on the firms supply curve where the firm makes normal profits (P = MC = AC), and each bakery produces 66 loaves. From the demand curve in the right-hand panel, we can deduce that at this price the quantity of bread sold will be 6,500 loaves. So the number of bakeries in the market must be 6,500/66 = 98.
Notice how the short-run and long-run equilibrium differ. In the short run, the number of firms is exogenousit is assumed to remain constant at 50. In the long run, the number of bakeries can change through the endogenous rent-seeking responses of firms. The number of firms in the long-run equilibrium is endogenousit is determined by the model.
The concepts of short- and long-run equilibria dont have much to do with specific periods of time, except that some variables (such as the market price and the quantity produced by individual firms) can adjust more quickly than others (such as the number of firms participating in a market). So what we mean by the short run and the long run depends on the model. The short-run equilibrium is achieved when everyone has done the best they can from adjusting the easily adjustable variables while the others remain constant. The long-run equilibrium happens when these other variables have adjusted too.
Short-run and long-run elasticities
Remember from Unit 8 that when demand for a good increases, the increase in the quantity sold depends on the elasticity of the supply curve (that is, the marginal cost curve). So if the demand for bread increases, a steep (inelastic) supply curve means that the price of bread rises a lot in the short run while the number of bakeries is fixed, with a relatively small rise in quantity. But in the longer run, this will lead to more bakeries entering, so the price falls, and quantity increases more. We say that, because of the possibility of entry and exit of firms, the supply of bread is more elastic in the long run.
The distinction between the short run and the long run applies in many economic models. Besides the number of firms in an industry, there are lots of other economic variables that adjust slowly, and it is useful to distinguish between what happens before and after they adjust.
In the next section, we will see another example: both the supply and the demand for oil are more elastic in the long run, because producers can eventually build new oil wells, and consumers can switch to different fuels for cars or heating. What we mean by the short run in this case is the period during which firms are limited by their existing production capacity, and consumers by the cars and heating appliances they currently own.

Question 11.3 Choose the correct answer(s)
Figure 11.6 shows the market for bread in the short run, with 50 bakeries, and in the long run when more bakeries can enter. All bakeries are identical. Which of the following statements is correct?

The supply curve of each bakery shifts as more bakeries enter the market.
A and B cannot be long-run equilibria, as the bakeries are making a positive economic rent.
More bakeries will want to enter the market when C is reached.
Bakeries will want to leave the market when C is reached, because they dont make any profit.


The supply curve of each bakery remains the same. It is the market supply curve that shifts.
A and B can only be short-run equilibria, for a given number of bakeries. The economic rent will encourage more bakeries to enter.
No more bakeries will enter because the price would then fall below average cost and they would make a loss.
At C the bakeries are making normal profits, so there is no reason to leave.


History, instability, and growthGlobal economyPolitics and policy