11.6 Changing supply and demand for financial assets

secondary and primary marketsThe primary market is where goods or financial assets are sold for the first time. For example, the initial sale of shares by a company to an investor (known as an initial public offering or IPO) is on the primary market. The subsequent trading of those shares on the stock exchange is on the secondary market. The terms are also used to describe the initial sale of tickets (primary market) and the secondary market in which they are traded.stock exchangeA financial marketplace where shares (or stocks) and other financial assets are traded. It has a list of companies whose shares are traded there.

When a company sells new shares (or stocks) to the public for the first time, this is called an initial public offering (IPO).  After that, the shares are traded on the stock exchange. This is called trading on the secondary market.
Prices in trading in secondary markets are constantly changing. The graph in Figure 11.11 shows how News Corps (NWS) share price on the Nasdaq stock exchange fluctuated over one day in May 2014 and, in the lower panel, the number of shares traded at each point. Soon after the market opened at 9.30a.m., the price was $16.66 per share. As investors bought and sold shares through the day, the price reached a low point of $16.45 at both 10a.m. and 2p.m. By the time the market closed, with the share price at $16.54, nearly 556,000 shares had been traded.











Figure 11.11 
News Corps share price and volume traded (7 May 2014).
        





Bloomberg L.P., accessed 28 May 2014.



At any time when the market for shares in News Corp is open, each of the existing shareholders has a reservation price, namely the least price at which the shareholder would be willing to sell. Others are in the market to buy, as long as they can find an acceptable price. As traders beliefs about the profitability of News Corp change, their willingness to buy and sell changes. To see how the prices of financial assets are affected by such shifts in demand and supply, follow the steps in Figure 11.12. The curves show the hourly volume of shares that would be demanded and supplied at each price.












Figure 11.12 
Good news about profitability.
        















The initial equilibrium


Initially the market is in equilibrium at A: 6,000 shares are sold per hour at a price of $16.50.














Good news about profitability


Some good news about the future profitability of News Corp simultaneously shifts the demand curve














Good news about profitability


 and the supply curve.














A new equilibrium


The new temporary market equilibrium is at B. The price has risen from $16.50 to $16.65. In this illustration, demand changes more than supply, so volume rises too.




In practice, stock markets dont operate in fixed time periods, such as an hour. Trade takes place continuously and prices are always changing, through a trading mechanism known as a continuous double auction.

limit orderAn announced price and quantity combination for an asset, either to be sold or bought.order bookA record of limit orders placed by buyers and sellers, but not yet fulfilled.

Anyone wishing to buy can submit a price and quantity combination known as a limit order. For instance, a limit order to buy 100 shares in News Corp at a price of $16.50 per share indicates that the buyer commits to buying 100 shares, as long as they can be obtained at a price no greater than $16.50 per share. This is the buyers reservation price. Similarly, a limit sell order indicates a commitment to sell a given quantity of shares, as long as the price is no less than the amount specified (the sellers reservation price).
When a limit buy order is placed, one of two things can happen. If a previously placed limit sell order exists that has not yet been filled, and it offers the required number of shares at a price that is at or below the amount indicated by the buyer, a trade occurs. If there is no such order available, then the limit order is placed in what is called an order book (which is really just an electronic record), and becomes available to trade against new sell orders that arrive.
Orders to buy are referred to as bids, and orders to sell as asks. The order book lists bids in decreasing order of price, and asks in increasing order. The top of the book for shares in NWS at around midday on 8 May 2014 looked like the table in Figure 11.13.







                        Other video options
                    


Bilibili
Download
View transcript




Watch our video in which Rajiv Sethi, one of the authors of this unit, demonstrates how orders are processed in a continuous double auction.







Bid
Ask 


Price ($)
Quantity
Price ($)
Quantity


16.56
400
16.59
500


16.55
400
16.60
700


16.54
400
16.61
800


16.53
600
16.62
500


16.52
200
16.63
500




Figure 11.13 
A continuous double auction order book: Bid and ask prices for News Corp (NWS) shares.
        





Yahoo Finance, accessed 8 May 2014.



Given this situation, a buy order for 100 shares at $16.57 would remain unfilled and would enter the book at the top of the bid column. However, a bid for 600 shares at $16.60 would be filled immediately, since it can be matched against existing limit sell orders. 500 shares would trade at $16.59 apiece, and 100 shares would trade at $16.60. Whenever a buy order is immediately filled, trade occurs at the best possible price for the buyer (the ask price). Similarly, if a sell order is placed and immediately filled from existing orders, trade occurs at the best possible price for the seller (the bid price).
We can now see how prices in such a market change over time. Someone who receives negative news about News Corp, such as a rumour that a board member is about to resign, and believes this information has not yet been incorporated into the price, may place a large sell order at a price below $16.56, which will immediately trade against existing bids. As these trades occur, bids are removed from the order book and the price of the stock declines. Similarly, in response to good news, orders to buy at prices above the lowest ask will trade against existing sell orders, and transactions will occur at successively increasing prices.
Since the price fluctuates, it is not easy to think of this market as being in equilibrium. But it is nevertheless the case that the price is always adjusting to reconcile supply and demand and hence clear the market.
Financial assets provide another example of markets equilibrating through economic rent-seeking:

Those who believe they will benefit from buying News Corp shares at a particular price lodge a bid at that price.
Those who believe they will benefit by selling lodge an ask at a particular price.
The price at any moment reflects the aggregate outcome of the rent-seeking behaviour of all the actors in the marketincluding those who are simply holding on to their shares.


Exercise 11.5 Supply and demand curves

Use the data from the NWS order book in Figure 11.13 to plot supply and demand curves for shares.
Explain why the two curves do not intersect.



Question 11.5 Choose the correct answer(s)
The figure shows an order book for News Corp shares. Which of the following statements about this order book is correct?





Bid
Ask 


Price ($)
Quantity
Price ($)
Quantity


16.56
400
16.59
500


16.55
400
16.60
700


16.54
400
16.61
800


16.53
600
16.62
500


16.52
200
16.63
500






A buyer wants 500 shares at $16.59.
A limit buy order at $16.56 means that the buyer would pay at least $16.56 per share.
A limit sell order for 100 shares at $16.58 will be unfilled.
A limit buy order for 600 shares at $16.59 will be filled with 500 shares bought at $16.59 and the remaining 100 shares at $16.60.


$16.59 is on the ask side. Therefore someone wants to sell 500 shares at this price.
The price indicates the buyers or the sellers reservation price. So in this case the buyer would pay at most $16.56.
The order cannot be filled because there are no buy orders at a price as high as $16.58.
The buyer will not pay more than $16.59, so 500 shares will be bought, and the order for the other 100 will remain unfilled.