11.7 Asset market bubbles

commoditiesPhysical goods traded in a manner similar to stocks. They include metals such as gold and silver, and agricultural products such as coffee and sugar, oil and gas. Sometimes more generally used to mean anything produced for sale.

The flexibility demonstrated by News Corp stock prices is common in markets for other financial assets such as government bonds, currencies under floating exchange rates, commodities such as gold, crude oil and corn, and tangible assets such as houses and works of art.

asset price bubbleSustained and significant rise in the price of an asset fuelled by expectations of future price increases.

But share prices are not only volatile hour-by-hour and day-by-day. They can also display large swings, often referred to as bubbles. Figure 11.14 shows the value of the Nasdaq Composite Index between 1995 and 2004. This index is an average of prices for a set of stocks, with companies weighted in proportion to their market capitalization. The Nasdaq Composite Index at this time included many fast-growing and hard-to-value companies in technology sectors.











Figure 11.14 
The tech bubble: Nasdaq Composite Index (19952004).
        





Yahoo Finance, accessed 14 January 2014.



The index began the period at less than 750, and rose in five years to more than 5,000 with a remarkable annualized rate of return of around 45%. It then lost two-thirds of its value in less than a year, and eventually bottomed out at around 1,100, almost 80% below its peak. The episode has come to be called the tech bubble.
Information, uncertainty, and beliefs
The term bubble refers to a sustained and significant departure of the price of any asset (financial or otherwise) from its fundamental value.
Sometimes, new information about the fundamental value of an asset is quickly and reliably expressed in markets. Changes in beliefs about a firms future earnings growth result in virtually instantaneous adjustments in its share price. Both good and bad news about patents or lawsuits, the illness or departure of important personnel, earnings surprises, or mergers and acquisitions can all result in active tradingand swift price movements.
Because stock price movements often reflect important information about the financial health of a firm, traders who lack this information can try to deduce it from price movements. Using Hayeks language, changes in prices are messages containing information. If markets are to work well, traders must respond to these messages. But when they interpret a price increase as a sign of further price increases (momentum trading strategies) the result can be self-reinforcing cycles of price increases, resulting in asset price bubbles followed by sudden price declines, called crashes.

momentum tradingShare trading strategy based on the idea that new information is not incorporated into prices instantly, so that prices exhibit positive correlation over short periods.

Three distinctive and related features of markets may give rise to bubbles:

Resale value: The demand for the asset arises both from the benefit to its owner (for example, the flow of dividends from a stock, or the enjoyment of having a painting by a well-known artist in your living room) and because it offers the opportunity for speculation on a change in its price. Similarly, a landlord may buy a house both for the rental income and also to create a capital gain by holding the asset for a period of time and then selling it. Peoples beliefs about what will happen to asset prices differ, and change as they receive new information or believe others are responding to new information.
Ease of trading: In financial markets, the ease of trading means that you can switch between being a buyer and being a seller if you change your mind about whether you think the price will rise or fall. Switching between buying and selling is not possible in markets for ordinary goods and services, where sellers are firms with specialized capital goods and skilled workers, and buyers are other types of firms, or households.
Ease of borrowing to finance purchases: If market participants can borrow to increase their demand for an asset that they believe will increase in price, this allows an upward movement of prices to continue, creating the possibility of a bubble and subsequent crash.


When economists disagree Do bubbles exist?
The price movements in Figure 11.14 (and Figure 11.20 in the next section), give the impression that asset prices can swing wildly, bearing little relation to the stream of income that might reasonably be expected from holding them.
But do bubbles really exist, or are they an illusion based only on hindsight? In other words, is it possible to know that a market is experiencing a bubble before it crashes? Perhaps surprisingly, some prominent economists working with financial market data disagree on this question. They include Eugene Fama and Robert Shiller, two of the three recipients of the 2013 Nobel Prize.
Fama denies that the term bubble has any useful meaning at all:5

These words have become popular. I dont think they have any meaning Its easy to say prices went down, it must have been a bubble, after the fact. I think most bubbles are twenty-twenty hindsight. Now after the fact you always find people who said before the fact that prices are too high. People are always saying that prices are too high. When they turn out to be right, we anoint them. When they turn out to be wrong, we ignore them. They are typically right and wrong about half the time.

This is an expression of what economists call the efficient market hypothesis, which claims that all generally available information about fundamental values is incorporated into prices virtually instantaneously.6 Robert Lucasanother Nobel laureate, firmly in Famas campexplained the logic of this argument in 2009, in the middle of the financial crisis:7

One thing we are not going to have, now or ever, is a set of models that forecasts sudden falls in the value of financial assets, like the declines that followed the failure of Lehman Brothers in September. This is nothing new. It has been known for more than 40 years and is one of the main implications of Eugene Famas efficient-market hypothesis If an economist had a formula that could reliably forecast crises a week in advance, say, then that formula would become part of generally available information and prices would fall a week earlier.

Responding to Lucas, Markus Brunnermeier explains why this argument is not watertight:8

Of course, as Bob Lucas points out, when it is commonly known among all investors that a bubble will burst next week, then they will prick it already today. However, in practice each individual investor does not know when other investors will start trading against the bubble. This uncertainty makes each individual investor nervous about whether he can be out of (or short) the market sufficiently long until the bubble finally bursts. Consequently, each investor is reluctant to lean against the wind. Indeed, investors may in fact prefer to ride a bubble for a long time such that price corrections only occur after a long delay, and often abruptly. Empirical research on stock price predictability supports this view. Furthermore, since funding frictions limit arbitrage activity, the fact that you cant make money does not imply that the price is right.
This way of thinking suggests a radically different approach for the future financial architecture. Central banks and financial regulators have to be vigilant and look out for bubbles, and should help investors to synchronize their effort to lean against asset price bubbles. As the current episode has shown, it is not sufficient to clean up after the bubble bursts, but essential to lean against the formation of the bubble in the first place.

Shiller has argued that relatively simple and publicly observable statistics, such as the ratio of stock prices to earnings per share, can be used to identify bubbles as they form. Leaning against the wind by buying assets that are cheap based on this criterion, and selling those that are dear, can result in losses in the short run, but long-term gains that, in Shillers view, exceed the returns to be made by simply investing in a diversified basket of securities with similar risk attributes.
In collaboration with Barclays Bank, Shiller has launched a product called an exchange-traded note (ETN) that can be used to invest in accordance with his theory. This asset is linked to the value of the cyclically adjusted price-to-earnings (CAPE) ratio, which Shiller believes is predictive of future prices over long periods. So this is one economist who has put his money where his mouth is: you can follow the fluctuation of Shillers index on Barclays Banks website.9

So there are two quite different interpretations of the tech bubble episode in Figure 11.14:

Famas view: Asset prices throughout the episode were based on the best information available at the time and fluctuated because information about the prospects of the companies was changing sharply. In John Cassidys 2010 interview with Fama in The New Yorker, he describes many of the arguments for the existence of bubbles as entirely sloppy.10
Shillers view: Prices in the late 1990s had been driven up simply by expectations that the price would still rise further. He called this irrational exuberance among investors. The first chapter of his book Irrational Exuberance explains the idea.11


irrational exuberanceA process by which assets become overvalued. The expression was first used by Alan Greenspan, then chairman of the US Federal Reserve Board, in 1996. It was popularized as an economic concept by the economist Robert Shiller.


Exercise 11.6 Markets for gems
A New York Times article, describes how the worldwide markets for opals, sapphires, and emeralds are affected by discoveries of new sources of gems.

Explain, using supply and demand analysis, why Australian dealers were unhappy about the discovery of opals in Ethiopia.
What determines the willingness to pay for gems? Why do Madagascan sapphires command lower prices than Asian ones?
Explain why the reputation of gems from particular sources might matter to a consumer. Shouldnt you judge how much you are willing to pay for a stone by how much you like it yourself?
Do you think that the high reputation of gems from particular origins necessarily reflects true differences in quality?
Could we see bubbles in the markets for gems?



Question 11.6 Choose the correct answer(s)
Which of the following statements about bubbles is correct?

A bubble occurs when the fundamental value of a share rises too quickly.
A bubble is less likely to occur in a market where people can easily switch from buying to selling.
Momentum trading strategies make bubbles more likely to occur.
Bubbles can only occur in financial markets.


A bubble occurs when the market price deviates in a sustained and significant way from the fundamental value.
Bubbles are more likely in these circumstances.
Momentum traders buy or sell according to whether prices are rising or falling, rather than fundamental values, so can contribute to the formation of a bubble.
A bubble could occur in a market for any asset that can be re-sold, for example the housing market.


History, instability, and growth