Unit 12 Markets, efficiency, and public policy  The Economy





































The Economy






Contents








Unit 12 Markets, efficiency, and public policy
Themes and capstone units   17: History, instability, and growth            19: Inequality            20: Environment            21: Innovation            22: Politics and policy         
History, instability, and growthEnvironmentInnovationPolitics and policy
When market-determined prices induce people to account for the full effects of their actions on others, outcomes are efficient. When prices do not capture significant effects, markets fail, and other remedies are needed

These external effects arise when property rights and legal contracts do not cover some of the effects of the decision-makers actions. For example, one cannot sue the smoker for the damages experienced from second-hand smoke.
Property rights and contracts that would reward actors for the positive external effects imposed on others, and make them liable to pay damages for the negative effects, are infeasible when the necessary information is not available to one or more of the parties or cannot be used in a court of law.
Policies can address market failures by inducing actors to internalize these effects, for example by subsidizing a firms R&D when it may benefit other firms, or by imposing taxes that raise the price of goods whose production or use is environmentally destructive.
Other policies can directly regulate the actions of firms and households, for example by banning the use of chemicals such as pesticides that impose costs on others.
Private bargaining among parties can sometimes constrain actors to take account of the effect of their actions on others, for example a merger between a firm emitting pollutants and a firm suffering damage as a result.
For moral and political reasons, some goods and services, such as our vital organs, emergency medical care, or our votes are not traded on markets, but are allocated by other means.

The logic of Adam Smiths famous claim, that the businessman in pursuit of his own interest is led by an invisible hand to promote the interests of society, is the basis of the economic model of a perfectly competitive market (see Unit 8). Price-taking firms and consumers, each pursuing their own private objectives, implement market outcomes that are Pareto efficient.
Friedrich Hayek explained how Smiths invisible hand could work (see Unit 11). Prices send messages about the real scarcity of goods and services, messages that motivate people to produce, consume, invest, and innovate in ways that make the best use of an economys productive potential.
It is this process that allows the market systemmany markets interlinkedto coordinate the division of labour through the exchange of goods among entire strangers from the four corners of the world, without centralized direction.
Hayek suggested we think of the market as a giant information-processing machine that produces prices, which provide information that guides the economy, usually in desirable directions. The remarkable thing about this massive computational device is that its not really a machine at all. Nobody designed it, and nobody is at the controls. When it works well, we use phrases like the magic of the market.1
But sometimes the magic fails. The happy coincidence of private motives and socially valued outcomes summarized by Smiths phrase is an attribute of a modela very useful one for many purposesbut not a description of how real markets work in general, and therefore not a good guide to public policy.
In this unit, we will consider cases in which prices send the wrong messages. Smith explained that, in areas such as education and the legal system, government policies are needed to promote social wellbeing and ensure that markets work well. Smith was also clear that there were some things that should not be bought and sold in markets. The modern equivalents might include human kidneys, votes, a good school, or life-saving medical care.
Here are two cases in which Hayeks and Smiths logic fails:


Pesticides: The pesticide chlordecone was used on banana plantations in the Caribbean islands of Guadeloupe and Martinique (both part of France) to kill the banana weevil. It was perfectly legal, and to the plantation owners it was an effective way of reducing costs and boosting the plantations profits.
As the chemical was washed off the land into rivers that flowed to the coast, it contaminated freshwater prawn farms, the mangrove swamps where crabs were caught, and what had been rich coastal spiny lobster fisheries. The livelihoods of fishing communities were destroyed and those who ate contaminated fish fell ill.
The fact that this pesticide was a grave danger to humans had been known since the time it was introduced, when workers in the US producing the chemical reported symptoms of neurological damage, leading to its prohibition in 1976. The French government received reports on contamination in Guadeloupe a few years later, but waited until 1990 to ban the substance, and were pressured by banana plantation owners to give them a special exemption until 1993.
Twenty years later, fishermen protesting the slow pace of French government assistance in addressing the fallout from the contamination demonstrated in the streets of Fort de France (the largest town in Martinique) and barricaded the port. Looking back, Franck Ntri, a Gaudeloupean fisherman, worried: Ive been eating pesticide for 30 years. But what will happen to my grandchildren?
He was right to worry. In 2012, the fraction of Martiniquean men suffering from prostate cancer was the highest in the world and almost twice that of the second-highest country, and the mortality rate was well over four times the world average. Neurological damage in children, including cognitive performance, has also been documented.



social dilemmaA situation in which actions taken independently by individuals in pursuit of their own private objectives result in an outcome which is inferior to some other feasible outcome that could have occurred if people had acted together, rather than as individuals.



Antibiotics: Since the discovery of penicillin in 1928, the development of antibiotics has brought huge benefits to mankind. Diseases that were once fatal are now treated easily with medicines that are cheap to produce. But the World Health Organization has recently warned that we are heading for a post-antibiotic era as many bacteria are becoming resistant: Unless we take significant actions to change how we produce, prescribe and use antibiotics, the world will lose more and more of these global public health goods and the implications will be devastating.
Overuse of antibiotics is an example of a social dilemma (see Unit 4), in which the unregulated pursuit of self-interest leads to outcomes that are Pareto inefficient. Bacteria become resistant to antibiotics when we use them too often, in the wrong dosage, or for conditions that are not caused by bacteria. In India, for example, antibiotics are easily available over the counter in pharmacies without a doctors prescription.
Doctors recognize that leaving the allocation of antibiotics to the market has damaging consequences. Following the advice of unlicensed private medical practitioners, people use antibiotics when other treatments would be better. To save money, the patients often stop taking the antibiotics when they feel a little better. This is exactly the pattern of use that will produce antibiotic-resistant pathogens. But for the patient, the treatment worked, and the unlicensed doctors business will prosper.


Contamination by pesticides and the creation of superbugs are quite similar problems. Lets think of these issues as a doctor would.
First, we diagnose the problem. In the case of chlordecone, the problem is that the actions of the banana plantation owners endanger the fishermens livelihood and health, but these costs of using the pesticide do not show up anywhere in the profit-and-loss calculations of the owners or the price of pesticides. The overuse of antibiotics occurs because the user does not take account of the costs that will be imposed on others when antibiotic superbugs proliferate.
Our diagnosis: Actors do not take account of the costs their decisions impose on others.
Next, we aim to devise a treatment. In some cases, the treatment is obvious. Chlordecone was simply banned in France and the US, and its use could have been vastly reduced if the plantation owners had been required (by law or by private agreement with those affected) to pay the damages that their pesticide use inflicted on the fishing communities and others.
In other cases, like the misuse of antibiotics by both patients and medical practitioners, effective treatments are more difficult to devise, and may necessarily involve an ethical appeal to the actors sense of responsibility towards others.
Our suggested treatment: Either directly regulate the actions that impose costs on others, or force the decision-maker to bear these costs.

private propertySomething is private property if the person possessing it has the right to exclude others from it, to benefit from the use of it, and to exchange it with others.property rightsLegal protection of ownership, including the right to exclude others and to benefit from or sell the thing owned.contractA legal document or understanding that specifies a set of actions that parties to the contract must undertake.social normAn understanding that is common to most members of a society about what people should do in a given situation when their actions affect others.

To understand why markets fail in cases like these, it is helpful to remember the conditions that are needed for markets to work well. As we saw in Unit 1, private property is a key requirement for a market system. If something is to be bought and sold, then it must be possible to claim the right to own it. A purchase is simply a transfer of ownership rights from the seller to the buyer. You would hesitate to pay for something unless you believed that others would acknowledge (and if necessary protect) your right to keep it.
So for a market to work effectively (or even to exist), other social institutions and social norms are required. Governments provide a system of laws and law enforcement that guarantee property rights and enforce contracts. Social norms dictate that you respect the property rights of others, even when enforcement is unlikely or impossible.
Douglass North argued that institutions were not only necessary for the good functioning of the economy, but also the fundamental cause of long-run growth: Douglass C. North. 1990. Institutions, Institutional Change and Economic Performance. Cambridge: Cambridge University Press.
Daron Acemoglu, Simon Johnson, and James Robinson argue that institutions are fundamental for growth. They also provide evidence based on the European colonial history and the division of Korea: Acemoglu, Daron, Simon Johnson, and James A. Robinson. 2005. Institutions as a Fundamental Cause of Long-Run Growth. In Handbook of Economic Growth, Volume 1A., edited by Philippe Aghion and Steven N. Durlauf, North Holland. Daron Acemoglu and James A. Robinson. 2012. Why Nations Fail: The Origins of Power, Prosperity and Poverty, 1st ed. New York, NY: Crown Publishers.
Whenever you agree with a seller to pay a certain amount of money in exchange for a goodsay, a pair of shoesyou implicitly enter into a contract with the seller. If you have the protection of a legal system, you can expect the contract to be honoured. When you get home and open the box the shoes will be there, and if they fall apart within days you will receive a refund. It is the government that determines the rules of the game in which market trade takes place. Of course, enforcement by a court is rarely necessary because of social norms that motivate both buyers and sellers to play by the rules of the game, even in cases where there is not an actual contract or a transfer of a title of ownership.
More complex transactions require explicit written contracts that can be used in court as evidence that the parties agreed to a transfer of ownership. For example, an author may sign a contract that gives a publisher the sole right to publish a book. Contracts govern relationships that are to be maintained over a period of time, particularly employment. In the labour market, a court upholds the right of the worker to work no more than the contracted hours and to receive the agreed-upon pay.
Laws and legal traditions can also help markets function when they provide compensation for individuals who are harmed by the actions of others. Liability law, for example, ensures that if a firm sells a car with a design fault and someone is injured as a result, the firm must pay for the damage. Employers usually have a duty of care towards their employees, requiring them to provide a safe working environment, and incurring fines or other penalties when they do not.
Many of the problems we investigate in this unit arise because of difficulties of guaranteeing property rights or writing appropriate contracts. There are goodslike clean riversthat matter to people but cannot easily be bought and sold. We begin with a closer look at the diagnosis and treatment of a case like the pesticides in Martinique and Guadeloupe.2

Exercise 12.1 Property rights and contracts in Madagascar
Marcel Fafchamps and Bart Minten studied grain markets in Madagascar in 1997, where the legal institutions for enforcing property rights and contracts were weak. Despite this, they found that theft and breach of contract were rare. The grain traders avoided theft by keeping their stocks very low, and if necessary, sleeping in the grain stores. They refrained from employing additional workers for fear of employee-related theft. When transporting their goods, they paid protection money and travelled in convoy. Most transactions took a simple cash and carry form. Trust was established through repeated interaction with the same traders.

Do these findings suggest that strong legal institutions are not necessary for markets to work?
Consider some market transactions in which you have been involved. Could these markets work in the absence of a legal framework, and how would they be different if they did?
Can you think of any examples in which repeated interaction helps to facilitate market transactions?
Why might repeated interaction be important even when a legal framework is present?


Environment