12.2 External effects and bargaining
To demonstrate that the market allocation of bananas (producing 80,000 tonnes, using Weevokil) is not Pareto efficient, we showed that the fishermen could pay the plantation owners to produce fewer bananas, and both would be better off.
Does this suggest a remedy for this market failure that might be implemented in the real world?
It does. The fishermen and the plantation owners could negotiate a private bargain. Solutions of this type are often called Coasean bargaining, after Ronald Coase who pioneered the idea that private bargaining might be preferable to dealing with external effects by governmental intervention. He argued that the two parties to the exchange often have more of the information necessary to implement an efficient outcome than the government does.

Great economists Ronald Coase

You have already met Ronald Coase (19102013). He was featured in Unit 6 for his representation of the firm as a political organization. He is also known for his idea that private bargaining could address market failures.
He explained that when one party is engaged in an activity that has the incidental effect of causing damage to another, a negotiated settlement between the two may result in a Pareto-efficient allocation of resources. He used the legal case of Sturges v Bridgman to illustrate his argument. The case concerned Bridgman, a confectioner (candy-maker) who for many years had been using machinery that generated noise and vibration. This caused no external effects until his neighbour Sturges built a consulting room on the boundary of his property, close to the confectioners kitchen. The courts granted the doctor an injunction that prevented Bridgman from using his machinery.
Coase pointed out that once the doctors right to prevent the use of the machinery had been established, the two sides could modify the outcome. The doctor would be willing to waive his right to stop the noise in return for a compensation payment. And the confectioner would be willing to pay if the value of his annoying activities exceeded the costs that they imposed on the doctor.
Also, the courts decision in favour of Sturges rather than Bridgman would make no difference to whether Bridgman continued to use his machinery. If the confectioner had been granted the right to use it, the doctor would have paid him to stop if, and only if, the doctors costs were greater than the confectioners profits.
In other words, private bargaining would ensure that the machinery was used if, and only if, its use, alongside a compensation payment, made both better off. Private bargaining would ensure Pareto efficiency. Bargaining gives the confectioner an incentive to take into account not only the marginal private costs of using the machine to produce candy, but also the external costs imposed on the doctor. That is, the confectioner takes account of the entire social cost. To the confectioner, the price of using the annoying machinery during the doctors visiting hours would now send the right message. Private bargaining could be a substitute for legal liability. It ensures that those harmed would be compensated, and that those who could inflict harm would make efforts to avoid harmful behaviour.
To summarize:

The courts role was to establish the initial property rights of the two parties: Bridgmans right to make noise or Sturges right to quiet.
Then, as long as private bargaining exhausted all the potential mutual gains, the result would (by definition) be Pareto efficient, independently of which party owned the initial rights.
We might object that the courts decision resulted in an unfair distribution of profits, but however one evaluates this concern (or if, like Coase himself, one puts questions of equity aside), the outcome would be Pareto efficient.


transaction costsCosts that impede the bargaining process or the agreement of a contract. They include costs of acquiring information about the good to be traded, and costs of enforcing a contract.

But Coase emphasized that his model could not be directly applied to most situations because of the costs of bargaining and other impediments that prevent the parties from exploiting all possible mutual gains. Costs of bargaining, sometimes called transaction costs, may prevent Pareto efficiency. If the confectioner cannot find out how badly the noise affects the doctor, the doctor has an incentive to overstate the costs to get a better deal. Establishing each partys actual costs and benefits is part of the cost of the transaction, and this cost might be too high to make a bargain possible.
Coases analysis suggests that a lack of established property rights, and other impediments leading to high transaction costs, may stand in the way of using bargaining to resolve externalities. We know from the experiments in Unit 4 that bargaining may also fail if one party regards the outcome as unfair. But with a clear legal framework in which one side initially owned the rights to produce (or to prevent production of) the externality, as long as these rights were tradable between the two parties there might be no need for further intervention.

Until now you have probably thought about property rights as referring to goods that are typically bought and sold in markets, like food, clothes, or houses. Coases approach suggests that we could think of other rightsin his example, the right to make a noise or to have a quiet work environmentas goods that can be bargained over and traded in return for money.

reservation optionA persons next best alternative among all options in a particular transaction. Also known as: fallback option. See also: reservation price.

Lets see how a private bargain might solve the pesticide problem. Initially it is not illegal to use Weevokil: the allocation of property rights is such that the plantations have the right to use it, and choose to produce 80,000 tonnes of bananas. This allocation and the associated incomes and environmental effects represent the reservation option of the plantation owners and fishermen. This is what they will get if they do not come to some agreement.
For the fishermen and the plantation owners to negotiate effectively, they would each have to be organized so that a single person (or body) could make agreements on behalf of the entire group. So lets imagine that a representative of an association of fishermen sits down to bargain with a representative of an association of banana growers. To keep things simple we will assume that, at present, there are no feasible alternatives to Weevokil, so they bargain only over the output of bananas.
Both sides should recognize that they could gain from an agreement to reduce output to the Pareto-efficient level. In Figure 12.4, the situation before bargaining begins is point A, and the Pareto-efficient quantity is 38,000 tonnes. The total shaded area shows the gain for the fishermen (from cleaner water) if output is reduced from 80,000 to 38,000. But reducing banana production will lead to lower profits for the plantations. Use the analysis in Figure 12.4 to see that the fall in profit is smaller than the gain for the fishermen, so there is a net social gain that they could agree to share.












Figure 12.4 
The gains from bargaining.
        















The status quo


The situation before bargaining is represented by point A, and the Pareto-efficient quantity of bananas is 38,000 tonnes. The total shaded area shows the gain for fishermen if output is reduced from 80,000 to 38,000 (that is, the reduction in the fishermens costs).














Lost profit


Reducing output from 80,000 to 38,000 tonnes reduces the profits of plantations. The lost profit is equal to the loss of producer surplus, shown by the blue area.














The net social gain


The net social gain is the gain for the fishermen minus the loss for the plantations, shown by the remaining green area.




Since the gain to the fishermen would be greater than the loss to the plantations, the fishermen would be willing to pay the banana growers to reduce output to 38,000 tonnes if they had the funds to do so.

minimum acceptable offerIn the ultimatum game, the smallest offer by the Proposer that will not be rejected by the Responder. Generally applied in bargaining situations to mean the least favourable offer that would be accepted.

The minimum acceptable offer from the fishermen depends on what the plantations get in the existing situation, which is their reservation profit (shown by the blue area labelled loss of profit). If plantation owners agreed to this minimum payment to compensate them for their loss of profit, the fishing industry would achieve a net gain from the agreement equal to the net social gain, while plantations would be no better (and no worse) off.
The maximum the fishing industry would pay is determined by their fallback (reservation) option, as in the case of the plantations. It is the sum of the blue and green areas. In this case, the plantations would get all of the net social gain while the fishermen would be no better off. As in the cases of bargaining in Unit 5, the compensation they agree on, between these maximum and minimum levels, will be determined by the bargaining power of the two groups.
You may think it unfair that the fishermen need to pay for a reduction in pollution. At the Pareto-efficient level of banana production, the fishing industry is still suffering from pollution, and it has to pay to stop the pollution getting worse. This happens because we have assumed that the plantations have a legal right to use Weevokil.
An alternative legal framework could give the fishermen a right to clean water. If that were the case, the plantation owners wishing to use Weevokil could propose a bargain in which they paid the fishermen to give up some of their right to clean water to allow the Pareto-efficient level of banana production, which will be a much more favourable outcome for the fishermen. In principle, the bargaining process would result in a Pareto-efficient allocation independently of whether the initial rights were granted to the plantations (right to pollute) or to the fishermen (right to unpolluted water). But the two cases differ dramatically in the distribution of the benefits of solving the market failure.
As Coase acknowledged, practical obstacles to bargaining may prevent the achievement of Pareto efficiency:

Impediments to collective action: Private bargaining may be impossible if there are many parties on both sides of the external effect, for example many fishermen and many plantation owners. Each side needs to find someone they trust to bargain for them, and agree how payments will be shared within each industry. The individuals representing the two groups would be performing a public service that might be difficult to secure.
Missing information: Devising the payment scheme makes it necessary to measure the costs of Weevokil, not just in aggregate, but to each fisherman. We also need to establish the exact origin of the pollutant, plantation by plantation. Only when we have this information can we calculate the size of the payment that each fisherman has to pay, and how much each plantation should receive. Its easy to see that it is far harder to make a polluting industry accountable for the damage it does than to calculate the liability for damage done, for example, by a single reckless driver.
Tradability and enforcement: The bargain involves the trading of property rights, and the contract governing the trade must be enforceable. Having agreed to pay thousands of dollars, the fishermen must be able to rely on the legal system if a plantation owner does not reduce output as agreed. This may require the fishermen and the courts to discover information about the plantations operations that are not publicly known or available.
Limited funds: The fishermen may not have enough money (we have seen in Unit 10 why they would probably not be able to borrow large sums) to pay the plantations to reduce output to 38,000 tonnes.

The pesticide example illustrates that although correcting market failures through bargaining may not require direct government intervention, it does require a legal framework for enforcing contracts so that property rights are tradable and so that all parties stick to the bargains they make. Even with this framework, the problems of collective action, missing information, and enforcement of what will inevitably be complex contracts make it unlikely that Coasean bargaining alone can address market failures.
According to the 1992 Rio Declaration of the United Nations: National authorities should endeavour to promote the internalization of environmental costs and the use of economic instruments, taking into account the approach that the polluter should, in principle, bear the cost of pollution, with due regard to the public interest and without distorting international trade and investment. Several of the approaches we describe in this unit are consistent with this principle. Either giving the fisherman a right to clean water or enforcing compensation means that the plantations will have to pay at least as much as the costs incurred by the fishing industry. A tax also means that the polluter pays, although it pays the government rather than the fishing industry.

Exercise 12.2 Bargaining power
In the example of plantation owners and fishermen, can you think of any factors that might affect the bargaining power of these parties?


marginal private benefit (MPB)The benefit (in terms of profit, or utility) of producing or consuming an additional unit of a good for the individual who decides to produce or consume it, not taking into account any benefit received by others.marginal social benefit (MSB)The benefit (in terms of utility) of producing or consuming an additional unit of a good, taking into account both the benefit to the individual who decides to produce or consume it, and the benefit to anyone else affected by the decision.


Exercise 12.3 A positive externality
Imagine a beekeeper, who produces honey and sells it at a constant price per kilogram.

Draw a diagram with the quantity of honey on the horizontal axis, showing the marginal cost of honey production as an upward-sloping line, and the price of honey as a horizontal line. Show the amount of honey that the profit-maximizing beekeeper will produce.
For the beekeeper, the marginal private benefit of producing a kilo of honey is equal to the price. But since the bees benefit a neighbouring farmer, by helping to pollinate her crops, honey production has a positive external effect. Draw a line on your diagram to represent the marginal social benefit of honey production. Show the quantity of honey that would be Pareto efficient. How does it compare with the quantity chosen by the beekeeper?
Explain how the farmer and beekeeper could both be made better off through bargaining.



Question 12.2 Choose the correct answer(s)
The graph depicts the MPC and MSC of the robot factory production in Question 12.1.












The robot market is competitive and the market price is $340. Currently the factory is producing an output of 120, but 80 would be Pareto efficient. Which of the following statements is correct?

To reduce output to 80, the factorys minimum acceptable payment would be $1,600.
The maximum that the nurses are willing to pay to induce the factory to reduce the output to 80 is $2,400.
The factory would not reduce its output to 80 unless it received at least $4,000.
The net social gain from the output reduction to 80 depends on the amount paid by the nurses to the factory.


The minimum acceptable payment is the loss of surplus, which is the green shaded area = 0.5  (340  260)  40 = $1,600.
The maximum that the nurses would pay is the total gain (of reduction in noise cost) associated with the fall in output. This is the total area of the shaded shape, which is ((80 + 120)  40)/2 = $4,000.
$4,000 is the maximum the nurses would pay (the whole shaded area). The minimum acceptable payment is the green shaded area.
The net social gain is the difference between the nurses reduction in the noise cost and the loss of profit for the factory. This is the purple shaded area. It is not affected by the payment, which only determines the distribution of the net social gain.



Question 12.3 Choose the correct answer(s)
Consider the situation where the noise of a factorys production affects nurses in the dormitory next door. If there are no transaction costs to impede Coasean bargaining, which of the following statements is correct?

Whether the final output level will be Pareto efficient depends on who has the initial property rights.
The nurses would be better off in the bargained allocation if they initially had a right to undisturbed sleep than they would if the factory has the right to make noise.
If the factory has the right to make noise, it will prefer not to bargain with the nurses.
If the nurses have the initial rights, they will obtain all of the net social gain from robot production.


The final allocation will be Pareto efficient regardless of whether the factory has the right to make noise or the nurses have the right for undisturbed sleep. This is the main result of Coasean bargaining.
If the factory has the initial rights, the nurses will have to pay for a reduction in noise; if they have the initial rights they will gain both a noise reduction and a payment from the factory.
The factory can be made better off by obtaining a payment from the nurses in return for reducing output.
This is the maximum that the nurses can obtain, but whether they will do so depends on their bargaining power.


InequalityEnvironmentPolitics and policy