Unit 13 Economic fluctuations and unemployment  The Economy





































The Economy






Contents








Unit 13 Economic fluctuations and unemployment
Themes and capstone units   17: History, instability, and growth            18: Global economy            21: Innovation            22: Politics and policy         
How economies fluctuate between booms and recessions as they are continuously hit by good and bad shocks

Fluctuations in the total output of a nation (GDP) affect unemployment, and unemployment is a serious hardship for people.
Economists measure the size of the economy using the national accounts: these measure economic fluctuations and growth.
Households respond to shocks by saving, borrowing, and sharing to smooth their consumption of goods and services.
Due to limits on peoples ability to borrow (credit constraints) and their weakness of will, these strategies are not sufficient to eliminate shocks to their consumption.
Investment spending by firms (on capital goods) and households (on new housing) fluctuates more than consumption.

Losing your job hurts. It causes stress. Following the global financial crisis in 2008, unemployment went up, as did the number of searches for antistress medication on Google. By plotting the increase in search intensity against the increase in the unemployment rate in the different states of the US (Figure 13.1), we see that states that had a larger increase in the unemployment rate between 2007 and 2010, also had a larger increase in searches for antistress medication. This suggests that higher unemployment is related to higher stress. We say the two are correlated.











Figure 13.1 
Changes in unemployment and wellbeing during the financial crisis: Evidence from the US states (20072010).
        






                                View this data at OWiD
                        


Yann Algan, Elizabeth Beasley, Florian Guyot, and Fabrice Murtin. 2014. Big Data Measures of Human Well-Being: Evidence from a Google Stress Index on US States. Sciences Po Working Paper.



The upward-sloping line summarizes the data by finding the line that best fits the scatter of points. This is called a line of best fit or a linear regression line. When a line of best fit is upward sloping, it means that higher values of the variable on the horizontal axis (in this case the rise in unemployment) are associated with higher values of the variable on the vertical axis (in this case, the increase in Google searches for antistress medication).
Many kinds of evidence show that being unemployed or fearing unemployment is a major source of unhappiness for people. It ranks alongside major disease and divorce as a stressful life event.
Economists have estimated that becoming unemployed produces more unhappiness than is measured solely by the loss of earnings from being out of work. Economists Andrew Clark and Andrew Oswald have measured the effect of important life events on how happy people claim to be when they are asked. In 2002, they calculated that the average British person would need to be compensated by 15,000 ($22,500) per month after losing their job in order to be as happy as they were when they were employed. This is considerably larger than the loss of earnings (which at the time were 2,000 per month on average).1
The compensation needed to restore wellbeing is an enormous amount, much greater than the monetary loss associated with a spell of unemployment. The reason is that unemployment dramatically reduces self-esteem and leads to a much greater reduction in happiness. As we saw in Unit 1, wellbeing depends on more than just income.
Correlation may not be causation

reverse causalityA two-way causal relationship in which A affects B and B also affects A.linear regression lineThe best-fitting line through a set of data.

Can we draw the conclusion from the data in Figure 13.1 that higher unemployment causes higher stress? Maybe we have it the wrong way round, and actually Google searches cause unemployment. Economists call this reverse causality. We can rule this out because it is unlikely that individual Google searches on the side effects of antidepressants could cause an increase in unemployment at the state level. Yet there are other possible explanations for this pattern.

The Spurious Correlations website shows how dangerous it is to draw a conclusion from correlation. James Fletcher. 2014. Spurious Correlations: Margarine Linked to Divorce?. BBC News.

A natural disaster like Hurricane Katrina in the US state of Louisiana in 2005 could have triggered an increase in both stress and unemployment. This is an example where a third factorin this case, the weathermight account for the positive correlation between searches for antidepressants and unemployment. It warns us to be careful in concluding that an observed correlation implies a causal relationship between variables.

correlationA statistical association in which knowing the value of one variable provides information on the likely value of the other, for example high values of one variable being commonly observed along with high values of the other variable. It can be positive or negative (it is negative when high values of one variable are observed with low values of the other). It does not mean that there is a causal relationship between the variables. See also: causality, correlation coefficient.

To establish a causal relationship between variables, economists devise experiments (like those in Unit 4) or exploit natural experiments (like the comparison of East and West Germany in Unit 1 or the estimate of the size of employment rents in Unit 6).
In Exercise 13.1, we show you a tool that you can use to examine your ideas about how the overall wellbeing in a country can be compared with wellbeing in other countries. What is your recipe for a better life in your country? How important do you think unemployment is? Do other things matter more or just as muchfor example, good education, clean air, a high level of trust among citizens, high income, or not too much inequality?
In this unit, we learn about why economies go through upswings, during which unemployment falls, and downswings, during which it rises. We focus on the total spending (by households, firms, the government and people outside the home economy) on the goods and services produced by people employed in the home economy.

Exercise 13.1 The OECD Better Life Index
The OECD is an international organization based in Paris, with 35 member countries, most with high levels of GDP per capita. It was formed in 1948 to facilitate postwar reconstruction in Western Europe. The OECD is an important source of internationally comparable statistics on economic and social performance.
The Better Life Index, was created by the Organization for Economic Cooperation and Development (OECD). It lets you design a measure of the quality of life in a country by deciding how much weight to put on each component of the index.

Should a better life index include the following elements: income, housing, jobs, community, education, environment, civic engagement, health, life satisfaction, safety, and work-life balance? For each of these elements, explain why or why not.
Use the Better Life Index tool to create your own better life index for the country where you are living. How does this country score on the topics that are important to you?
Rank the countries in the database using your own newly created better life index, and compare it with a ranking based exclusively on income.
For both of these indices, choose two countries with contrasting rankings and briefly suggest why this may be the case.


History, instability, and growthPolitics and policy