13.1 Growth and fluctuations
Economies in which the capitalist revolution has taken place have grown over the long run, as illustrated in the hockey stick charts for GDP per capita in Unit 1.

logarithmic scaleA way of measuring a quantity based on the logarithm function, f(x) = log(x). The logarithm function converts a ratio to a difference: log (a/b) = log a  log b. This is very useful for working with growth rates. For instance, if national income doubles from 50 to 100 in a poor country and from 1,000 to 2,000 in a rich country, the absolute difference in the first case is 50 and in the second 1,000, but log(100)  log(50) = 0.693, and log(2,000)log(1,000) = 0.693. The ratio in each case is 2 and log(2) = 0.693.

But growth has not been smooth. Figure 13.2 shows the case of the British economy, for which data over a long period is available. The first chart shows GDP per person (per capita) of the population from 1875. This is part of the hockey stick graph from Unit 1. The chart next to it shows the same data but plots the natural logarithm (log) of GDP per capita. This is a way of presenting the ratio scale that we used in Unit1.
See the Einstein at the end of this section to explore the relationship between plotting the log of a variable and the use of a ratio scale on the vertical axis.












Figure 13.2 
UK GDP per capita (18752014).
        






                                View the latest data at OWiD
                        

                                View the latest data at OWiD
                        


Ryland Thomas and Nicholas Dimsdale. (2017). A Millennium of UK Data. Bank of England OBRA dataset.














Annual growth rate after 1921


In the right-hand panel, the slope of the line (the dashed black line) represents the average annual growth rate from 1921 to 2014. It was 2.0% per annum. We can see that growth was steady.




Ryland Thomas and Nicholas Dimsdale. (2017). A Millennium of UK Data. Bank of England OBRA dataset.














Annual growth rate 1875 to 1914


A line drawn through the log series from 1875 to 1914 is flatter than the line from 1921. The average growth rate in that period was only 0.9% per annum.




Ryland Thomas and Nicholas Dimsdale. (2017). A Millennium of UK Data. Bank of England OBRA dataset.




By looking at the graph in levels of GDP per capita in the left-hand panel of Figure 13.2, it is hard to tell whether the economy was growing at a steady pace, accelerating, or decelerating over time. Transforming the data into natural logs in the right-hand panel allows us to answer the question about the pace of growth more easily. For example, for the period after the First World War, a straight line from 1921 to 2014 fits the data well. For a graph in which the vertical axis represents the log of GDP per capita, the slope of the line (the dashed black line) represents the average annual growth rate of the series. Immediately we notice that growth was steady from 1921 to 2014 (with a little uptick during the Second World War). You can see that a line drawn through the log series from 1875 to 1914 is flatter than the line from 1921, indicating that the growth rate was lower.
We will explore long-run growth further in Units 16 and 17. In this unit we focus on fluctuations. These are the deviations from the dotted black line showing the long-run growth rate in Figure 13.2.

gross domestic product (GDP)A measure of the market value of the output of final goods and services in the economy in a given period. Output of intermediate goods that are inputs to final production is excluded to prevent double counting.

The top panel of Figure 13.3 plots the annual growth rate of UK GDP between 1875 and 2014. Since we want to focus on the size of the economy and how it changes from year to year, we will examine total GDP rather than GDP per capita.












Figure 13.3 
UK GDP growth and unemployment rate (18752014).
        






                                View a different visualization of the latest data at OWiD
                        


Ryland Thomas and Nicholas Dimsdale. (2017). A Millennium of UK Data. Bank of England OBRA dataset.














UK GDP growth and unemployment


The panels show UK GDP growth and the unemployment rate for the period 18752014.




Ryland Thomas and Nicholas Dimsdale. (2017). A Millennium of UK Data. Bank of England OBRA dataset.














Peaks and troughs


The arrows highlight the peak and trough of a business cycle during the late 1980s and early 1990s.




Ryland Thomas and Nicholas Dimsdale. (2017). A Millennium of UK Data. Bank of England OBRA dataset.














The global financial crisis


In the twenty-first century, the 2008 financial crisis followed a period in which fluctuations were limited.




Ryland Thomas and Nicholas Dimsdale. (2017). A Millennium of UK Data. Bank of England OBRA dataset.














Downturns and unemployment


We can see that downturns in the business cycle are associated with rising unemployment. In the business cycle of the early 1990s, unemployment continued to rise for a time after the growth rate began to rise.




Ryland Thomas and Nicholas Dimsdale. (2017). A Millennium of UK Data. Bank of England OBRA dataset.





recessionThe US National Bureau of Economic Research defines it as a period when output is declining. It is over once the economy begins to grow again. An alternative definition is a period when the level of output is below its normal level, even if the economy is growing. It is not over until output has grown enough to get back to normal. The latter definition has the problem that the normal level is subjective.

It is clear from the ups and downs of the series in Figure 13.3 that economic growth is not a smooth process. We often hear about economies going through a boom or a recession as growth swings from positive to negative, but there is no standard definition of these words. The National Bureau of Economic Research (NBER), a US organization, defines it like this: During a recession, a significant decline in economic activity spreads across the economy and can last from a few months to more than a year. An alternative definition says that an economy is in recession during a period when the level of output is below its normal level. So we have two definitions of recession:

NBER definition: output is declining. A recession is over once the economy begins to grow again.
Alternative definition: the level of output is below its normal level, even if the economy is growing. A recession is not over until output has grown enough to get back to normal.

There is a practical problem with the second definition: it is a matter of judgement, and sometimes controversy, over what an economys normal output would be (we return to this issue in later units, where we will see that normal output is often defined as that consistent with stable inflation).

business cycleAlternating periods of faster and slower (or even negative) growth rates. The economy goes from boom to recession and back to boom. See also: short-run equilibrium.

The movement from boom, to recession, and back to boom is known as the business cycle. In Figure 13.3 you will notice that in addition to the yearly change in GDP, in which recessions measured by negative growth seem to happen about twice every 10 years, there are less frequent episodes of much larger fluctuations in output. In the twentieth century, the big downward spikes coincided with the end of the First and Second World Wars, and with the economic crisis of the Great Depression. In the twenty-first century, the global financial crisis followed a period in which fluctuations were limited.
In the lower part of Figure 13.3 you can see that the unemployment rate varies over the business cycle. During the Great Depression, unemployment in the UK was higher than it had ever been, and it was particularly low during the World Wars.

Exercise 13.2 Defining recessions
A recession can be defined as a period when output is declining, or as a period when the level of output is below normal (sometimes referred to as its potential level). Look at this article, especially Figures 5, 6, and 7, to find out more.

Consider a country that has been producing a lot of oil and suppose that from one year to the next its oil wells run out. The country will be poorer than previously. According to the two definitions above, is it in a recession?
Does knowing whether a country is in recession make a difference to policymakers whose job it is to manage the economy?



Question 13.1 Choose the correct answer(s)
The following is the graph of the natural log of UK real GDP per capita between 1875 and 2014:












Based on this information, which of the following statements is correct?

The graph shows that real GDP per capita in the UK in 1955 was about 8,000.
The slope of the best-fit straight line is the average annual growth rate.
The graph shows that the average growth rate was lower in the decades after 1921 than in the decades before 1918.
The graph of real GDP per capita plotted using a ratio scale would look very different to the graph above.


The graph shows that the natural log of GDP per capita in the UK in 1955 was about 8.9, that is, ln(GDP per capita) = 8.9. This means that GDP per capita = e8.9 = 7,332. (It was, in fact, e8.91 = 7,370.)
This is stated in Figure 13.2, Section 13.1.
While the log of real GDP per capita was lower immediately after 1921 than before 1918, the slope of the log graph is steeper. This means that the growth rate was higher after 1921 than before 1918.
The graph of real GDP per capita plotted using a ratio scale would look the same as the graph of the natural log of real GDP per capita plotted on a linear scale.



Einstein Ratio scales and logarithms
In Unit 1, we made frequent use of a ratio or log scale on the vertical axis to display long-run data. For example, we used ratio scales with the units doubling in Figure 1.1b and rising tenfold in Figure 1.2. The ratio scale is also called a logarithmic (or log) scale. We can write a scale where the tick marks on the vertical axis double like this:

Or a scale where they rise tenfold, like this:

The first is called a logarithmic scale in base 2; the second is in base 10.
As we saw in the charts in Unit 1, if the data forms a straight line on a ratio (logarithmic) scale, then the growth rate is constant. A different method of using this property of logarithms is to first convert the data into natural logs and then plot it on a scale that is linear in logs. Naturallogs use base e, where e is a number (approximately 2.718) that has mathematically useful properties.
We can use a calculator or a spreadsheet program to convert levels into natural logs. As you can see, when applied to this data, it converts the curved line in Figure 13.2 in the left-hand panel into one that is almost a straight line in the right-hand one.
Using the chart functions in Microsoft Excel helps illustrate the relationship between plotting the data with a ratio scale on the vertical axis (Figure 13.4a, which uses the doubling or base 2 scale) and transforming the data into natural logs and plotting on a linear scale (in logs) on the axis (Figure 13.4b). Note that the tick marks double from 4,096 to 8,192 to 16,384 in Figure 13.4a and rise from 8.5 to 9 to 9.5 in Figure 13.4b.











Figure 13.4a 
The ratio scale and an exponential function.
        






                                View the latest data at OWiD
                        
















Figure 13.4b 
The linear scale in natural logs and a linear function.
        






                                View the latest data at OWiD
                        





In each chart, a line appears alongside the data series. Using Excel, we created Figure 13.4a by selecting Analysis/Trendline, and then selecting Exponential. Excel finds the line or curve that best fits the data points: since the scale is a ratio scale, a straight line is displayed. The equation of the line is given. Other spreadsheet or graphing software offers similar features.
We can see that the exponential function uses what is called base e in contrast to base 2 (doubling) or base 10 (increasing tenfold). The exponent on e tells us the compound annual growth rate of the series: it is 0.0214100 =2.14% per annum.
In Figure 13.4b, if we use Excel to select the Fit a linear function option, a straight line appears. This time, we see an equation for a straight line with intercept 8.7782 and slope 0.0214. Now the slope of the line tells us the exponential, or equivalently, the compound annual growth rate of the series: 0.0214100 =2.14% per annum.
In summary:

When a data series is plotted, either using a ratio scale or by transforming the data into natural logs, and the outcome is approximately linear, it means that the growth rate of the series is approximately constant. This constant growth rate is called an exponential growth rate.
The exponential growth rate (known also as the compound annual growth rate or CAGR) is the slope of the line when the natural logarithm of the data series is plotted.
Notice the persistent deviation of the British economy from the trend line following the 2008 financial crisis.


Global economy