13.3 Measuring the aggregate economy
Economists use what are called aggregate statistics to describe the economy as a whole (known as the aggregate economy, meaning simply the sum of its parts brought together).

aggregate outputThe total output in an economy, across all sectors and regions.

In Figure 13.5, aggregate output (GDP) is the output of all producers in a country, not just those of some region, firm, or sector. Recall from Unit 1 that Diane Coyle, an economist who specializes in how we measure GDP, describes it as:

Everything from nails to toothbrushes, tractors, shoes, haircuts, management consultancy, street cleaning, yoga teaching, plates, bandages, books, and the millions of other services and products in the economy.


national accountsThe system used for measuring overall output and expenditure in a country.value addedFor a production process this is the value of output minus the value of all inputs (called intermediate goods). The capital goods and labour used in production are not intermediate goods. The value added is equal to profits before taxes plus wages.

The national accounts are statistics published by national statistical offices that use information about individual behaviour to construct a quantitative picture of the economy as a whole. There are three different ways to estimate GDP:

Spending: The total spent by households, firms, the government, and residents of other countries on the home economys products.
Production: The total produced by the industries that operate in the home economy. Production is measured by the value added by each industry: this means that the cost of goods and services used as inputs to production is subtracted from the value of output. These inputs will be measured in the value added of other industries, which prevents double-counting when measuring production in the economy as a whole.
Income: The sum of all the incomes received, comprising wages, profits, the incomes of the self-employed, and taxes received by the government.


In eighteenth century France, a group of economists, called the Physiocrats, studied the economy and compared the way it functioned to the circular flow of blood in the human body. This was a forerunner to how we think today about the circular flow in the economy that allows us to calculate GDP. Money flows from the spender to the producer, from the producer to its employees or shareholders, and then is spent again on further output, continuing the cycle.

The relationship between spending, production, and incomes in the economy as a whole can be represented as a circular flow: the national accounts measurement of GDP can be taken at the spending stage, the production stage, or the income stage. If accurate measurement were possible, the total of expenditure, output, and incomes in a year would be the same so the point at which the measurement is taken would not matter.
Households and firms both receive income and spend it. Figure 13.6 shows the circular flow between households and firms (ignoring the role of government and purchases from and sales abroad for now).











Figure 13.6 
The circular flow model: Three ways to measure GDP.
        




In the model of the economy in Figure 1.12, we looked at the physical flows among households, firms, and the biosphere instead of the circular flow of income. In Unit 20, we look at how the interaction of households and firms with the biosphere can be measured.
GDP can be defined according to any of these three perspectives.
The three methods for measuring GDP are best understood using a very simple economy comprising just three industries. The economy produces a single good, cotton shirts, which are sold to consumers for $100. The shirt industry buys cloth for $80, which in turn buys cotton from the raw cotton industry for $50. The final product or GDP of this economy is equal to $100 because that is the value of the sale to the final consumer.
GDP can also be measured by the value added by each industry: the raw cotton industrys value added is equal to the value of its output, which is $50, because it purchases no inputs; the cloth industrys value added is 8050 =$30; and the shirt industrys value added is 10080 =$20. The total value added in the economy is $100, exactly equal to the value of final production and equal to total final expenditure.
Incomes are received as wages and profits. Across all industries in the economy, wages plus profits will be equal to the value of final production (which is equal to the total value added).

imports (M)Goods and services produced in other countries and purchased by domestic households, firms, and the government.exports (X)Goods and services produced in a particular country and sold to households, firms and governments in other countries.

Therefore, GDP can be defined according to any of these three perspectives. But we have to be careful in the definition because, while it is always the case that one persons expenditure is another persons income, globalization means that often the two people are in different countries. This is the case with imports and exports: someone in China may buy rice from someone in Japan, implying that the expenditure is Chinese while the income is Japanese.
How do we account for these transactions? Since GDP is defined as domestic product, it counts as Japanese GDP because the rice was produced (and sold) by Japan. So exports are included in GDP because they are part of domestic production, but imports are not because they are produced elsewhere. For this reason, GDP is defined to include exports and exclude imports:

as the value added of domestic production, or as expenditure on domestic production
as income due to domestic production

The circular flow model in Figure 13.6 considered only households and firms, but the government, and the public services the government provides, can be incorporated in a similar way. Households receive some goods and services that are supplied by the government, for which they do not pay at the point of consumption. A good example is primary school education.
The consumption and production of these services can be visualized using the circular flow model:

Households to government: Households pay taxes.
Government to households: These taxes pay for the production of public services used by households.

In this way the government can be seen as another producer, like a firmwith the difference that the taxes paid by a particular household pay for public services in general, and do not necessarily correspond to the services received by that household. In Unit 19, we will look at how the payment of taxes and the receipt of public services or benefits varies across households. Since public services are not sold in the market, we also have to make a further assumption: that the value added of government production is equal to the amount it costs the government to produce.
So we can say that if, for example, citizens on average pay $15,000 per year in taxes (the expenditure), that is $15,000 of revenues to the government (the income), which uses it to produce $15,000 worth of public goods and services (the value added).
The fact that expenditure, output, and incomes are all equal means that we can use any one of these perspectives to help us understand the others. We described recessions as periods of negative output growth. But this means they must also be periods of negative expenditure growth (output will only decline if people are buying less). Often, we can even say that output declines because people are buying less. This is very useful because we know a lot about what determines expenditure, which in turn helps us to understand recessions, as we will see in Unit 14.
Politics and policy