13.6 Why is consumption smooth?
A basic source of stabilization in any economy comes from the desire of households to keep the level of their consumption of goods and services constant. Keeping a steady level of consumption means households have to plan. They think about what might happen to their income in the future, and they save and borrow to smooth the bumps in income. This is the self-insurance we discussed above.
We have seen that this behaviour occurs in agrarian societies faced by weather and war shocks, but modern households also try to smooth their consumption. One way to visualize this behaviour is to focus on predictable events. A young person thinking about life can imagine getting a job, then enjoying a period of working life with income higher than the starting salary, followed by years in retirement when income is lower than during working life.
As we saw in Unit 10, people prefer to smooth their consumption because there are diminishing marginal returns to consumption at any given time. So having a lot of consumption later and little now, for example, is worse than having some intermediate amount of consumption in the two periods (Figure 10.3a).
The person contemplating a future promotion and planning their spending would be in a position similar to Julia in Unit 10 (Figure 10.2), who had limited funds in the present but knew she would have more later, and consequently was interested in moving some of her future buying power to the present by borrowing. The model of decision making for the individual that we introduced in Unit 3 and Unit 10 is the basis for thinking about consumption throughout a persons life. It predicts that, although income fluctuates throughout our lives, our desired consumption is smoother.
We can use Figure 13.10 to visualize an individuals tendency to smooth consumption expenditure. In this simple example, before starting work, the individuals income and consumption expenditure are the samewe assume, for example, that parents support their children until the children start work. Follow the analysis in Figure 13.10 to see their income and consumption over time.












Figure 13.10 
Consumption smoothing through our lifetime.
        















Income over time


The blue line shows the path of income over time: it starts low, rises when the individual is promoted and falls at retirement.














Consumption expenditure


This is the red line. It is smooth (flat) from the point at which the individual first gets a job.














The individual borrows while young


At this time income is low. The individual saves and repays the debt when older and earning more, and finally runs down savings after retirement, when income falls again.




A notable feature of Figure 13.10 is that consumption changes before income does.
Like a family in an agrarian economy that begins saving for a daughters dowry before she is old enough to marry, the individual shown in Figure 13.10 anticipates receiving higher income after a promotion, and adjusts consumption upward ahead of time. As we have seen in Unit 10, this assumes that the individual can borrow. Maybe it is possible to convince the bank that the job is secure and prospects are good. If so, the individual can probably get a mortgage now, and live in a more comfortable house with a higher standard of living than would be the case if long-term earnings were to remain at the starting salary. The labels on Figure 13.10 show that the individual borrows while young and income is low, saves and repays the debt when older and earning more, and finally runs down savings after retirement, when income falls again.
The model of decision making highlights the desire of households for a smooth path of consumption. We next ask what happens when something unexpected occurs to disturb the lifetime consumption plan. What if the individual shown in the figure encounters an unexpected income shock? The consumption-smoothing model suggests that:

The individual will make a judgement: This will be about whether the shock is temporary or permanent.
If the shock is permanent: We should adjust the red line in Figure 13.10 up or down to reflect the new long-run level of consumption that the individual adopts, consistent with the new pattern of forecast income.
If the shock is temporary: Little will change. A temporary fluctuation in income has almost no effect on the lifetime consumption plan, because it makes only a small change to lifetime income.

To summarize, when individuals and households behave in the way shown in Figure 13.10, shocks to the economy will be dampened because spending decisions are based on long-term considerations. They aim to avoid fluctuations in consumption even when income fluctuates.

In Portfolios of the Poor: How the Worlds Poor Live on $2 a Day, Daryl Collins, Jonathan Morduch, Stuart Rutherford, and Orlanda Ruthven show how poor households manage finances to avoid literally living hand-to-mouth. Smooth Operators. The Economist. Updated 14 May 2009. Some of the stories can be read online.

What limits a households consumption smoothing? Many individuals and households are not able to make or implement long-term consumption plans. Making plans can be difficult because of a lack of information. Even if we have information, we may not be able to use it to predict the future with confidence. For example, it is often very hard to judge whether a change in circumstances is temporary or permanent.
There are three other things that constrain the ways in which households can smooth their consumption when faced with income shocks. The first two concern limits on self-insurance, the third is a limit on co-insurance:

Credit constraints or credit market exclusion: Introduced in Unit 10, this restricts a familys ability to borrow in order to sustain consumption when income has fallen.
Weakness of will: A characteristic of human behaviour that leads people to be unable to carry out the plansfor example, saving in anticipation of a negative income shockthat they know would make them better off.
Limited co-insurance: So that those with a fall in income cannot expect much support in sustaining their incomes from others more fortunate than them.

Credit constraints
As we saw in Unit 10, the amount a family can borrow is limited, particularly if it is not wealthy. Households with little money cannot borrow at all, or only at extraordinarily high interest rates. Thus the people who most need credit to smooth their consumption are often unable to do so. The credit constraints and credit market exclusion discussed in Units 10 and 12 help explain why borrowing is often not possible.
Figure 13.11 shows the reaction of two different types of households to an anticipated rise in income. Households that are able to borrow as much as they like are in the top panel. Credit-constrained households that are unable to get a loan or take out a credit card are in the bottom panel. Follow the analysis in Figure 13.11 to see how the two households react to two key events:

News is received that income will rise at a predictable time in the future (for example, a promotion or a bequest).
The households income actually rises (the promotion happens, the inheritance comes through).













Figure 13.11 
Consumption when credit constraints bind: An anticipated rise in income.
        















Income over time


The blue lines on the figure show that the path of income over time is the same in both households.














Consumption smoothing


The red line in the top panel shows that, in a consumption-smoothing household, consumption changes immediately once the household receives the news.














The effect of credit constraints


On the other hand, a credit-constrained household that cannot borrow has to wait until the income arrives before adjusting its standard of living.




We can think about these decisions using the two-period model of borrowing and lending from Unit 10, shown in Figure 13.12. First consider a household that receives the same income, y, this period and next period, indicated by the endowment point A in Figure 13.12. The interest rate is r so if the household can borrow and save, then it can choose any point on the budget constraint, which has the slope (1 + r). The budget constraint is another term for the frontier of the feasible set with the slope of (1 + r) which we used in Unit 10.












Figure 13.12 
Credit-constrained and unconstrained households: An unanticipated temporary fall in income.
        















Same income in both periods


Consider a household that receives the same income, y, this period and next period, indicated by the endowment point A.














An unconstrained household


The interest rate is r so if the household can borrow and save, then it can choose any point on the budget constraint, which has the slope (1 + r).














Preference for smoothing


Assume that the household prefers to consume the same amount each period, shown by the point A where the indifference curve is tangent to the budget constraint.














A negative shock


Now suppose that the household experiences an unexpected negative temporary shock to its income this year, such as a bad harvest, which lowers this years income to y, leaving expected income next year unaffected at y.














The budget constraint


If it can borrow and save, then its budget constraint has a slope of (1 + r) and passes through point A.














The highest indifference curve


The highest curve that touches this budget constraint does so at point A, showing that the household prefers to smooth consumption, consuming c in both periods. The household borrows c  y now and repays (1 + r)(c  y) next period following the shock.




We learn from this example that:

Without borrowing or lending, the endowment point and pattern of consumption coincide.
Compared with the smoothing household, the credit-constrained household consumes less this period and more next period.

We can also see that the indifference curve that passes through A (not shown) is lower than the one that passes through A. So the household that can smooth consumption by borrowing is better off than the credit-constrained household.
A temporary change in income affects the current consumption of credit-constrained households more than it does that of the unconstrained.
Weakness of will

weakness of willThe inability to commit to a course of action (dieting or foregoing some other present pleasure, for example) that one will regret later. It differs from impatience, which may also lead a person to favour pleasures in the present, but not necessarily act in a way that one regrets.

In Figure 13.13, an individual learns that income is going to fall in the future. This could be because of retirement or job loss. It could also be because the individual is becoming pessimistic. Perhaps the newspapers predict an economic crisis. In the top panel of Figure 13.13 we again show a household behaving in a forward-looking manner to smooth consumption. The bottom panel shows a household with weakness of will that consumes all its income today even though it implies a large reduction in consumption in the future.












Figure 13.13 
Consumption when households are weak-willed: An anticipated fall in income.
        















The path of income


The blue lines in the figure show that income follows the same path in both sets of households.














Consumption smoothing


The red line in the top panel shows the consumption path for a consumption-smoothing household. When it receives news of the imminent fall in income, it immediately starts saving to supplement consumption when income falls.














A weak-willed household


In contrast, the weak-willed household does not react to the news, and keeps consumption high until income falls.




This feature of human behaviour is familiar to many of us. We often lack willpower.
The problem of not being able to save obviously differs from the problem of not being able to borrow: saving is a form of self-insurance and doesnt involve anyone else.

How economists learn from facts My diet starts tomorrow
Economists have conducted experiments to test for behaviour that would help to explain why we dont save even when we can. For example, Daniel Read and Barbara van Leeuwen conducted an experiment with 200 employees at firms in Amsterdam. They asked them to choose today what they thought they would eat next week. The choice was between fruit and chocolate.
When asked, 50% of subjects replied that they would eat fruit next week. But, when next week came, only 17% actually chose to eat fruit. The experiment shows that, although people may plan to do something that they know will be beneficial (eat fruit, save money), when the time comes they often dont do it.
Read: Daniel, and Barbara van Leeuwen. 1998. Predicting Hunger: The Effects of Appetite and Delay on Choice. Organizational Behavior and Human Decision Processes 76 (2): pp.189205.

Limited co-insurance
Most households lack a network of family and friends who can help out in substantial ways over a long period when a negative income shock occurs. As we have seen, unemployment benefits provide this kind of co-insurancethe citizens who turn out to be lucky in one year insure those who are unlucky. But in many societies the coverage of these policies is very limited.6
A vivid demonstration of the value of smoothing through co-insurance is the experience of Germany during the drastic reduction in income experienced by that economy in 2009 (see Figure 13.5). When the demand for firms products fell, workers hours of work were cut, but as a result of both government policy and agreements between firms and their employees, very few Germans lost their jobs, and many of those at work were still paid as if they were working many more hours than they did. The result was that although aggregate income fell, consumption did notand unemployment did not increase.

Empirical evidence shows that, even when income changes in predictable ways, consumption responds. Tullio Jappelli and Luigi Pistaferri. 2010. The Consumption Response to Income Changes. VoxEU.org.

But most empirical evidence shows that credit constraints, weakness of will, and limited co-insurance mean that, for many households, a change in income results in an equal change in consumption. In the case of a negative income shock such as the loss of a job, this means that the income shock will now be passed on to other families who would have produced and sold the consumption goods that are now not demanded.
We will see in the next unit how the initial shock in income may be multiplied (or amplified) by the fact that families are limited in their ability to smooth their consumption. This in turn helps us understand the business cycle and how policymakers may or may not help to manage it.

Exercise 13.6 Changes in income, changes in consumption
Consider a credit-constrained household type and a consumption smoothing household type.

For each household type, use a figure with time on the horizontal axis and income and consumption on the vertical axis to explain the relationship between the change in income and the change in consumption when income returns to normal after an unexpected temporary decline.
Based on this analysis, explain the predicted relationship between temporary changes in income and consumption for an economy with a mixture of the two household types.



Question 13.6 Choose the correct answer(s)
Figure 13.12 shows the consumption choice of a consumer over two periods. His initial endowment is (y, y), that is, an income y in both periods, which is depicted by point A. If possible, the consumer prefers to consume the same amount in both periods. The interest rate is r.
Now assume that there has been a temporary shock such that the income in period 1 is reduced to y, while the period 2 income is expected to return to y. Assume that a credit-constrained consumer is not able to borrow at all. Based on this information, which of the following statements is correct?

If the consumer is credit-constrained, then he will consume less in period 2 than he would have done without the temporary shock.
If the consumer is not credit-constrained, then he will be able to borrow to consume the same amount as he would have done in both periods without the temporary shock.
If the consumer is not credit-constrained, then he will borrow y  c in period 1 in order to smooth out his consumption in the two periods.
If the consumer is not credit-constrained, then he will consume c in both periods such that c = y  (c  y)(1 + r) (income minus repayment in period 2).


If the consumer is credit-constrained he will have to consume his endowment (y, y). Hence he consumes the same amount as he would have done without the temporary shock.
Even if the consumer can borrow he can only borrow from his period 2 income of y. Therefore he will definitely not be able to consume (y, y).
The consumer will borrow c  y to consume c in period 1.
The amount c defined by this equation ensures that c can be consumed each period and no income is left over.



Question 13.7 Choose the correct answer(s)
The following diagram shows the path of income for a household that receives news about an expected rise and fall in future income at the depicted times.












Assume that the household prefers to smooth out its consumption if it can. Based on this information, which of the following statements is correct?

If the household is not credit-constrained, then it will consume the same level after t = 1.
If the household is credit-constrained and has weakness of will, then its consumption will match precisely its income path.
If the household is not credit-constrained but has weakness of will, then it will borrow at t = 1 and save at t = 3.
If the household is credit-constrained but does not have weakness of will, then it will borrow at t = 1 and save at t = 3.


If the household is not credit-constrained, then it can smooth consumption over the next three periods by borrowing at t = 1, then repaying debt once income rises. Therefore it will not consume at the same level after t = 1.
The fact that the household is credit-constrained implies that it cannot borrow. The fact that it has weakness of will implies that it will not save. So income will be equal to consumption at all times.
A household with weakness of will will not save at t = 3.
A credit-constrained household will not be able to borrow at t = 1.


History, instability, and growthGlobal economyInnovation