13.7 Why is investment volatile?
Households tend to smooth their consumption spending when they can, but there is no similar motivation for a firm to smooth investment spending. Firms increase their stock of machinery and equipment and build new premises whenever they see an opportunity to make profits. But, unlike eating and most other consumption expenditures, investment expenditures can be postponed. There are several reasons why this is likely to produce clusters of investment projects at some times, while few projects at other times.
In Unit 2, we saw how firms responded to profit opportunities in the Industrial Revolution by innovating. This helps explain why investment occurs in waves. When an innovation like the spinning jenny is introduced, firms using the new technology can produce output at lower cost or produce higher-quality output. They expand their share of the market. Firms that fail to follow may be forced out of business because they are unable to make a profit using the old technology. But new technology means that firms must install new machines. As firms do this, there is an investment boom. This will be amplified if the firms producing the machinery and equipment need to expand their own production facilities to meet the extra demand expected.
In this case, investment by one firm pushes other firms to invest: if they dont, they may lose market share or even be unable to cover their costs and eventually have to leave the industry. But investment by one firm can also pull other firms to invest by helping to increase their market and potential profits.
An example of push investment is the hi-tech investment boom in the US. From the mid-1990s, new information and communications technology (ICT) was introduced into the US economy on a large scale. Figure 13.14 shows the sustained growth of investment in new technologies through the second half of the 1990s.











Figure 13.14 
Investment in new technologies and the dotcom bubble (19912015).
        





US Bureau of Economic Analysis. 2015. Fixed Assets Accounts Tables. Note: the series are in current US dollars. Nasdaq value is the yearly average of the close price value of the Nasdaq. Investment in new technologies is the investment in information processing equipment, computers and peripheral equipment, communication equipment, communication structure, and IPPR investments for software, semiconductors, and other electronic components and computers.



As we saw in Unit 11, investment in new technology can lead to a stock market bubble and over-investment in machinery and equipment. The chart shows in green the behaviour of the US stock market index on which hi-tech companies are listed. This is the Nasdaq index, introduced in Unit11.

Robert Shiller has explained in a VoxEU podcast how animal spirits contribute to the volatility of investment.

The index rose strongly from the mid-1990s to an all-time peak in 1999 as stock market investors confidence in the profitability of new tech firms grew. Investment in IT equipment (the red line) grew rapidly as a result of this confidence, but dropped sharply following the collapse in confidence that caused the fall of the stock market index. This suggests that over-investment in machinery and equipment had occurred: investment did not begin growing again until 2003. Robert Shiller, the economist, argued that the Nasdaq index was driven high by what he called irrational exuberance, as you might recall from Unit 11. Beliefs in the future of hi-tech led not only to share prices rising to levels that were unsustainable, but also to excessive investment in machinery and equipment in the hi-tech sector.
Credit constraints are another reason for the clustering of investment projects and the volatility of aggregate investment. In a buoyant economy, profits are high and firms can use these profits to finance investment projects. Access to external finance from sources outside the firm is also easier: in the US hi-tech boom, for example, the expansion of the Nasdaq exchange reflected the appetite of investors to provide finance by buying shares (stocks) in firms in the emerging ICT industries.
To understand how one firms investment can induce another firm to invest, think of a local economy comprising of just two firms. Firm As machinery and equipment are not fully used, so the firm can produce more if it hires more employees. But there is not enough demand to sell the products it would produce. This situation is called low capacity utilization. The owners of Firm A have no incentive to hire more workers or to install additional machinery (that is, to invest).

capacity utilization rateA measure of the extent to which a firm, industry, or entire economy is producing as much as the stock of its capital goods and current knowledge would allow.

Firm B has the same problem. Because of low capacity utilization, profits are low for both. Thus when we think about both firms together we have a vicious circle:











Figure 13.15 
Negative expectations of future demand create a vicious circle.
        




If the owners of both A and B decide to invest and hire at the same time, they would employ more workers, who would spend more, increasing the demand for the products of both firms. The profits of both would rise, and we have a virtuous circle:











Figure 13.16 
Positive expectations of future demand create a virtuous circle.
        




These two circles highlight the role of expectations of future demand, which depend on the behaviour of other actors. A game similar to those studied in Unit 4 can illustrate how to get out of the vicious circle and into the virtuous one. As in every game, we specify:

The actors: The two firms.
The actions that they can take: Invest, or do not invest.
The information they have: They decide simultaneously, so they do not know what the other has done.
The payoff: The profits resulting from each of the four pairs of actions that they could possibly take.

The four possible outcomes of the interaction and the payoffs are given in Figure 13.17.
From this figure you can see what happens when the virtuous (both invest) and vicious (neither invest) circles occur. Note what happens if one of the firms invests but the other does not. If Firm A invests and B does not (the upper-right cell in the figure) then A pays to install new equipment and premises, but because the other firm did not invest there is no demand for the products that the new capacity could produce; so A makes a loss. But had B known that A would invest, then B would have made higher profits by investing as well (getting 100 rather than only 80). On the other hand, had B known that A was not going to invest, then it would have done better to also not invest.











Figure 13.17 
Investment decisions as a coordination game.
        




In this game, the two firms will do better if they do the same thing, and the best outcome is when both firms invest. This is another reason that investment tends to fluctuate a lot. If owners of firms think that other firms will not invest, then they will not invest, confirming the pessimism of the other owners. This is why the vicious circle is self-reinforcing. The virtuous circle is self-reinforcing for the same reason. Optimism about what other firms will do leads to investment, which sustains the optimism.

Nash equilibriumA set of strategies, one for each player in the game, such that each players strategy is a best response to the strategies chosen by everyone else.

There are two Nash equilibria in this game (upper-left and lower-right). To find the Nash equilibria use the dot and circle method of Unit 4, beginning with As best responses to Bs choices. If B invests, As best response is also to invest so a dot goes into the upper-left cell. If B does not invest, A chooses also not to invest so we place a dot in the bottom right-hand cell. Notice that A does not have a dominant strategy. Now, we consider Bs best responses. If A invests, Bs best response is to invest and if A does not invest, B chooses not to invest. The circles showing Bs best responses coincide with the dots: B also does not have a dominant strategy. Where the dots and circles coincide, there are Nash equilibria.
The Nash equilibrium (lower-right) in which both firms have low capacity utilization and low hiring and investment is not Pareto efficient, because there is a change in which both make higher profits, namely if both firms decide to invest. This situation is like the driving on the right or left side of the road game, discussed in Unit 4, or the interaction described in Figure 4.15 concerning specialization in different crops, or global climate change described in Figure 4.17b. These are all called coordination games.

Coordination game
A game in which there are two Nash equilibria and in which one may be Pareto superior to the other is called a coordination game.

Driving on the right or the left is a coordination game in which neither equilibrium is preferable to either player.
In the crop specialization coordination game in Unit 4 (Figure 4.15), specialization in the right crops (a different crop for the two farmers, which their land is more suited for) is better for both than the wrong specialization.
In the investment coordination game (Figure 13.17), an outcome in which both invest is better for both than neither investing.


The name is very apt here because to make the move from the vicious to the virtuous circle, the firms have to coordinate in some way (both agree to invest) or develop optimistic beliefs about what the other will do. This kind of optimism is often called business confidence, and it has a major role in the fluctuations in the economy as a whole. As we will see in the next unit, under some circumstances, government policy can also help shift an economy from the Pareto-inefficient outcome to the Pareto-efficient outcome.
We can generalize the argument about the role of coordination in investment to say that investment spending by firms will respond positively to the growth of demand in the economy. Once an increase in aggregate spending on homes production of goods and services (that is, on C + I + G + X  M) occurs, this helps to coordinate the forward-looking plans of firms about their future capacity needs, and stimulates investment spending.
Figure 13.18 illustrates the relationship between the growth of aggregate demand (excluding investment), business confidence, and investment for the Eurozone. The business confidence indicator moves closely with aggregate demand (excluding investment) and investment.











Figure 13.18 
Investment and business confidence in the Eurozone (19962012).
        





Eurostat. 2015. Confidence Indicators by Sector. Federal Reserve Bank of St. Louis. 2015.FRED.



Therefore we would expect the data from the national accounts to confirm that consumption spending is smoother and investment spending more volatile than GDP in the economy as a whole.
As expected, Figures 13.19a and 13.19b show that investment is much more volatile than consumption in two rich countries (the UK and the US) and two middle-income countries (Mexico and South Africa). The upward and downward spikes in the red series for investment are larger than those for the green series for consumption.
A close look at the charts for the rich countries also shows that, as predicted, consumption is less volatile than GDP. The purple peaks and troughs for GDP are larger than the green ones for consumption. This is less evident in the middle-income countries, perhaps because households are more credit-constrained and therefore are less able to borrow in order to smooth their consumption.











Figure 13.19a 
Growth rates of consumption, investment, and GDP in the UK and US, per cent per annum (19562012).
        






                                View the latest data for the UK at OWiD
                        

                                View the latest data for the US at OWiD
                        


Federal Reserve Bank of St. Louis. 2015.FRED.














Figure 13.19b 
Growth rates of consumption, investment, and GDP in Mexico and South Africa (19612012).
        






                                View the latest data for Mexico at OWiD
                        

                                View the latest data for South Africa at OWiD
                        


OECD. 2015.OECD Statistics; The World Bank. 2015.World Development Indicators.



How volatile is government spending? Unlike investment, government spending (the G in the national accounts) does not respond to innovation or fluctuate with business confidence. We would predict it to be less volatile than investment. And net exports? The demand for exports will fluctuate with the business cycle in other countries, and will be affected more by the booms and recessions of the countries that are large export markets. Find out about the volatility of government spending and net exports by consulting FRED.

Exercise 13.7 Consulting FRED
For your own country, use data from FRED to construct charts for the growth rate of real GDP, consumption, investment, net exports, and government expenditure.
For example, for the US these series are, respectively: Real Gross Domestic Product (GDPC1), Personal Consumption Expenditures (PCE), Gross Private Domestic Investment (GDPI), Net Exports of Goods and Services (NETEXP), Government Consumption Expenditures and Gross Investment (GCE). For PCE, GDPI, NETEXP and GCE, you simply need to add Real to get the equivalent series in real terms. For all these series, you should find the equivalent ones for your own country.
You can watch this short tutorial to understand how FRED works.

How has government expenditure evolved in your own country throughout the period for which data is available?
Comment on the relationship between the growth rate of output and government spending during this period.
Describe the volatility of government spending and net exports relative to that of GDP and suggest an explanation for the patterns you observe.



Question 13.8 Choose the correct answer(s)
Consider a local economy comprising of just two firms, Firm A and Firm B. Currently both firms have low capacity utilization. The following table shows the profits (or losses if negative) when the firms invest or do not invest:












Based on this information, which of the following statements is correct?

Investing is a dominant strategy for both firms.
The only Nash equilibrium is for both firms to invest.
Firm A investing and Firm B not investing is a Pareto-inefficient Nash equilibrium.
To achieve the Pareto-efficient Nash equilibrium, the firms have to coordinate in some way or develop business confidence.


When the other firm invests, the best response strategy is for the firm to invest. Similarly, when the other firm does not invest, the best response strategy is for the firm not to invest. Therefore there is no dominant strategy.
Both firms not investing is also a Nash equilibrium.
Firm A investing and Firm B not investing is Pareto-inefficient, but it is not a Nash equilibrium.
The Pareto-efficient Nash equilibrium is when both firms invest, and to achieve this outcome, both have to believe that the other firm will invest. If either thought the other would not invest, then they would also not invest.


History, instability, and growthGlobal economy