14.9 Fiscal policy and the rest of the world
In Unit 13 we saw that agrarian economies suffered shocks from wars, disease, and the weather. In Unit 11, we saw that the American Civil War affected economies including Brazil, India and the UK. In modern economies, what happens in the rest of the world is a source of shocks, and also affects how domestic economic policy works. To avoid making mistakes, policymakers need to know about these interactions.
Foreign markets matter
Fluctuations in growth in important markets abroad can explain why the economy moves into an upswing or downswing: this is a change in the net export component of aggregate demand, that is, (X  M). China, for example, is a very important market for Australian exports (32% of Australian exports went to China in 2013, accounting for 6.5% of Australian aggregate demand). When the Chinese economy slowed down from a growth rate of 10.6% in 2010 to 7.8% in 2013, this was transmitted directly to a slowdown in growth in Australia via a fall in net exports.
Similarly, the slowdown in the Eurozone because of the 2010 crisis that followed the 2008 global financial crisis, was an important reason for the sluggishness of the British economys exit from recession. This is because a high proportion of UK exports go to the EU. For example, 44% of the UKs exports went to the EU in 2013, accounting for 13% of UK aggregate demand.
Imports dampen domestic fluctuations
As we have seen, the size of the multiplier is reduced by the marginal propensity to import. When autonomous demand goes up, it stimulates spending, and some of the products bought are produced abroad. This dampens the domestic upswing.
Trade constrains the use of fiscal stimulus
Trade with other countries constrains the ability of domestic fiscal policymakers to use stimulus policies in a recession. A striking example comes from France in the 1980s. At the start of the 1980s, the French economy remained weak following the oil shocks of the 1970s, which disrupted the world economy. In 1981, the socialist candidate Franois Mitterrand won the presidential election. His appointed prime minister, Pierre Mauroy, implemented a program to stimulate aggregate demand through increased government spending and tax cuts (in the multiplier model, this is a rise in G and a fall in t, the tax rate).
In Figure 14.16, we show what happened in France and in its biggest trading partner, Germany. The purple bars show the outcomes for France and the orange bars show the outcomes for Germany. The figure presents the outcomes for three years. In the first year, there was no stimulus, in the second, there was a fiscal stimulus in France, and the third year was the year following the stimulus.











Figure 14.16 
Successes and failures of the French fiscal stimulus (19801983).
        





OECD. 2015. OECD Statistics.



If you look at Figure 14.16, you will see that the budget balance in France (measured as (T  G)/Y) becomes negative. We can read this as saying that from a balanced budget in 1980, there was a budget deficit of nearly 3% of GDP in 1982, which increased further by 1983.
Meanwhile, in Germany, the budget remained close to balance through the three years. The budget surpluses were 0%, 0%, and 0.2% respectively.
The expansionary demand policy in France was an exception in Europe. There was an initial boost to French growth in 1982 (from 1.6% to 2.4%) but it quickly vanished, with growth falling back to 1.2% in 1983. Why?
The upturn in the French economy led French households to increase their spending, but much of this was on foreign goods. The French stimulus spilled over to countries that produced more competitive products, like Japan (electronic goods) and Germany (cars). There was a surge of imports into France: measured relative to the level in 1979, imports were higher by 17.9%, as shown in Figure 14.16. Germanys exports were higher by 17.1% in 1982 and by nearly 14% in 1983. As a result, GDP growth was higher in Germany than in France in 1983. The French stimulus policy mostly benefitted its trading partners who had more competitive goods. France slipped behind the pack of European countries, with lower growth and a high government budget deficit (above 3% in 1983).
The failure of Mitterrands policy was reflected in economic terms by pressure on the French franc (the unit of currency during the period). Between 1981 and 1983, the French government had to devalue the franc three times in an effort to make French goods more competitive with those produced abroad. Mauroy stepped down in 1984 and the new prime minister introduced an austerity policy.
The Mitterrand experiment highlights the limits of using a fiscal stimulus to successfully stabilize a deep recession. In the case of France, the policy was badly designed and it delayed the adjustment of the French economy to the shocks that had affected it in the 1970s. Note that the problem in France was not only high unemployment. Injecting more aggregate demand stimulated spending, but not spending on French output.

A fiscal stimulus may not be the only (or best) policy option in a recession: Olivier Blanchard, the former chief economist of the IMF, explains how fiscal consolidation worked in the case of Latvia in 2008, even though he had initially advised against it.13

The multiplier was very low and the spillover effects to other economies meant that most of the stimulus leaked out of France. Had the major European economies adopted fiscal expansionary policies simultaneously the results would have been different, as the spillover effects of Germany, say, would have stimulated the French economy. This is an example of poor policymaking due to a failure to understand the countrys links with the rest of the world. It would fit in the final row of the third column in Figure 14.12.

coordination gameA game in which there are two Nash equilibria, of which one may be Pareto superior to the other. Also known as: assurance game.


Exercise 14.10 Coordinating a stimulus
Assume the world is made up of just two countries, or blocs, called North and South. The world is in a deep recession. The situation can be described using the coordination game used for investment in Unit 13. Here the two strategies are Stimulus and No stimulus.
Explain in words how the coordination game reflects the problems faced by policymakers in the two countries that arise because of their interdependence.


Question 14.9 Choose the correct answer(s)
Figure 14.16 shows the effects of Frances increased government spending and tax cuts in 1982 on the economies of France and Germany.
Based on this information, which of the following statements are correct?

The French budget balance worsened by more than 3% as a result of the fiscal expansion.
The fiscal expansion successfully resulted in a long-run shift in the French GDP growth rate to above 2%.
The German economy benefitted from the spillover effect of higher French imports of German goods.
Fiscal expansionary policy should never be adopted by European economies, as they have high levels of trade with each other.


In 1983, G  T was below 3%, compared with 0 in 1980.
The GDP growth rate did increase to above 2% in the year of fiscal expansion (1982). However this quickly fell back to near 1% in 1983.
German exports were much higher in 19821983 than in 19791980.
The fiscal expansionary policy can be effective if all countries adopted expansionary policies simultaneously.


Politics and policy