14.11 Conclusion
Economies often experience shocks to aggregate demand, such as a decline in business investment or an increase in desired savings by households. These shocks tend to be amplified by the process described by the multiplier. In addition to their first-round effects, there are second-round or other indirect effects due to further declines in spending.
In the second half of the twentieth century, the advanced economies enjoyed a great decline in economic instability, which was due in part to larger governments and the existence of automatic stabilizers that moderated swings in aggregate demand.
While active fiscal policy played its part, it had a mixed record. France discovered in the early 1980s that a poorly planned fiscal expansion can lead to a fiscal deficit with little benefit to the domestic economy.
In 2008, the world was reminded that even the rich countries can suffer from economic crises, and the importance of fiscal policy in deep recessions was reaffirmed. Unfortunately for the Eurozone, the hardest-hit countries were unable to implement the necessary fiscal stimulus because of fears of sovereign debt crises.

Concepts introduced in Unit 14
Before you move on, review these definitions:

Multiplier process, multiplier model
Marginal propensity to consume, marginal propensity to import
Consumption function
Investment function
Goods market equilibrium
Autonomous consumption, autonomous demand
Target wealth
Financial accelerator
Automatic stabilizer
Fiscal stimulus
Paradox of thrift
Government budget balance, deficit, surplus
Primary deficit
Government debt
Sovereign debt crisis
Positive and negative feedback
Supply and demand sides of aggregate economy
Business cycle fluctuations
Long run, medium run, short run