14.3 Household target wealth, collateral, and consumption spending
From Unit 13, we know that consumption is the largest component of GDP in most economies. Therefore an important part of understanding changes in output and employment is understanding why consumption changes.
We saw that a shock to investment shifts the aggregate demand curve, and is transmitted through the economy as households adjust their spending in response to changes in income. We focused on incomplete consumption smoothing, such as credit constraints. This behaviour is reflected in the size of the multiplier and the slope of the aggregate demand curve. But consumption and saving behaviour can also shift the aggregate demand curve.
A shift in aggregate demand can be caused by a shift in autonomous consumption, represented by the term c0 in the aggregate consumption function, C = c0 + c1Y. A change in c0 will in turn produce a multiplier response of output and employment through the circular flow of expenditure, output, and income in the same way as the fall in investment in the previous section was multiplied.

mortgage (or mortgage loan)A loan contracted by households and businesses to purchase a property without paying the total value at one time. Over a period of many years, the borrower repays the loan, plus interest. The debt is secured by the property itself, referred to as collateral. See also: collateral.precautionary savingAn increase in saving to restore wealth to its target level. See also: target wealth.target wealthThe level of wealth that a household aims to hold, based on its economic goals (or preferences) and expectations. We assume that households try to maintain this level of wealth in the face of changes in their economic situation, as long as it is possible to do so.

Think about a family with a mortgage on its house. If the price of houses falls, the family will be concerned that its wealth, too, has fallen. A likely reaction to this is for the household to save more. This is called precautionary saving. One way to analyse this behaviour is to assume that households have in mind a target wealth that they aim to hold.
When something happens to affect the stock of the households wealth relative to this target, it reacts by either increasing or decreasing its savings to restore wealth back to its target level. If this adjustment involves precautionary saving, it is modelled as a fall in autonomous consumption.

Great DepressionThe period of a sharp fall in output and employment in many countries in the 1930s.

In 1929, a downturn in the US business cycle that initially appeared similar to others in the preceding decade turned into a large-scale economic disasterthe Great Depression.1
The fall in output and employment during the Great Depression highlights two ways in which aggregate consumption might fallcredit constraints in the multiplier process, and changes in wealth relative to target wealth.
To understand the economic mechanisms at work in the Great Depression, we use the multiplier diagram shown in Figure 14.6. Point A shows the initial situation of the economy in the third quarter of 1929. There was then a fall in investment. This shifts the aggregate demand curve from the pre-crisis to the crisis level. The dotted line from point B shows the level of output that would have been observed in the business cycle trough if the usual multiplier process had been at work. There would have been a recession, but no Great Depression. But the downturn was made much worse because there was a fall in the demand for consumer goods, even by those who kept their jobs.












Figure 14.6 
Aggregate demand in the Great Depression
        





Robert J. Gordon. 1986. The American Business Cycle: Continuity and Change. Chicago, Il: University of Chicago Press.














The 1929 peak


Point A shows the initial situation of the economy.




Robert J. Gordon. 1986. The American Business Cycle: Continuity and Change. Chicago, Il: University of Chicago Press.














A fall in investment


This shifts the aggregate demand curve from the pre-crisis to the crisis level.




Robert J. Gordon. 1986. The American Business Cycle: Continuity and Change. Chicago, Il: University of Chicago Press.














A normal recession


The economy would normally be at point B.




Robert J. Gordon. 1986. The American Business Cycle: Continuity and Change. Chicago, Il: University of Chicago Press.














The 1933 trough


However, instead of a typical downswing (from A to B), output fell by much more than can be explained by the multiplier process alone, which is shown by the move from B to C.




Robert J. Gordon. 1986. The American Business Cycle: Continuity and Change. Chicago, Il: University of Chicago Press.




Consumption was cut back through two mechanisms:

The shift from A to B: As output and employment fell, some households cut spending on housing and consumer durables because they were credit-constrained, and therefore unable to borrow in the deteriorating conditions. Some economists have estimated that the size of the multiplier at the time was about 1.8.
The shift from B to C: Even households that remained in work cut back spending because it became increasingly clear that the downturn was the new reality, not a temporary shock. This shifted the consumption function down and pulled the economy further into depression from B to C in Figure 14.6.

Research done since the Great Depression (which we examine in more depth in Unit 17) provides a number of explanations for the fall in autonomous consumption in the US:

Uncertainty: Uncertainty about the state of the economy provoked by the dramatic stock market crash of October 1929 made both firms and households more cautious, prompting them to postpone purchases of machinery and equipment and consumer durables.
Pessimism and the desire to save more: Households also became more pessimistic about their ability to maintain current levels of spending, as they feared unemployment and lower earnings in the future. Their assessment of their material wealth was also affected as the prices of houses and financial assets fell. The 1920s had seen a build-up of debt by households, as they were able to use instalment agreements for the first time to buy consumer durables.
The banking crisis and the collapse of credit: A third factor that shifted the aggregate demand line down to the level labelled trough was the banking crisis of 1930 and 1931, which affected both consumption and investment. There was a wave of failures of small, weak, and largely unregulated banks across the US. The system of small banks was vulnerable to panic. Savers began to fear that they would not be able to get access to their deposits. As explained in Unit 10, as panic spread from bank to bank, bank runs affected the entire banking system. With the collapse of the banking system, households lost deposits and small firms lost their access to credit.


human capitalThe stock of knowledge, skills, behavioural attributes, and personal characteristics that determine the labour productivity or labour earnings of an individual. Investment in this through education, training, and socialization can increase the stock, and such investment is one of the sources of economic growth. Part of an individuals endowments. See also: endowment.

To illustrate why households who were not affected by credit constraints nevertheless cut consumption, we look at the composition of a households wealth or assets. In Unit 10 we introduced the concept of wealth by comparing it with the volume of water in a bathtub. At that time we focused on material wealth. In Figure 14.7 we extend the concept of wealth to broad wealth so as to include the households expected future earnings from employment, known as the value of its human capital.
Follow the analysis in Figure 14.7 to see the composition of the households broad wealth, which is equal to the value of all its assets, minus its debt (which we assume is a mortgage on the house).

equityAn individuals own investment in a project. This is recorded in an individuals or firms balance sheet as net worth. See also: net worth. An entirely different use of the term is synonymous with fairness.













Figure 14.7 
Household wealth: Key concepts.
        















Expected future earnings from employment


These are represented by the orange rectangle.














Financial wealth


This is the green rectangle.














The households ownership stake in the house


This is the blue rectangle.














The households total broad wealth


This is the sum of the green, blue, and orange rectangles.














Households also hold debt


This is shown by the red rectangle.














The households net worth


Also called material wealth. We find it by taking the total assets (excluding expected future earnings), which is the value of the house plus financial wealth, and then subtracting the debt it owes.














The value of the house


This is equal to the households equity in the house, plus what it owes to the bank (the mortgage).














Target wealth


For the household shown in the figure, expected broad wealth (orange + green + blue) is equal to target wealth.




As we shall see:

If target wealth is above expected wealth: The household will increase savings and decrease consumption.
If target wealth is below expected wealth: The household will decrease savings and increase consumption.

In early 1929, how would a household with the wealth position shown in column A of Figure 14.8 have interpreted news about factory closures, the collapse of the stock market, and bank failures? How would it have adjusted spending on consumer durables, housing, and non-durables? Answers to these questions help tell us why the Great Depression happened.












Figure 14.8 
The Great Depression: Households cut consumption to restore their target broad wealth.
        















Before the Depression


Households are making consumption decisions in line with their expectations about their net worth and future earnings from employment. This is shown by the fact that total wealth is equal to target wealth.














The Depression


In late 1929, column B, the downturn was underway and beliefs had changed.














Precautionary saving


The result was a gap between the households target wealth and expected wealth. Households increased their savings.





financial acceleratorThe mechanism through which firms and households ability to borrow increases when the value of the collateral they have pledged to the lender (often a bank) goes up.


Before the Depression: Viewed from early in 1929 (column A in Figure 14.8), households are shown as making consumption decisions in line with their expectations: total wealth is equal to target wealth.
The Depression: By late 1929 (column B), the downturn was underway and beliefs had changed. With job losses throughout the economy, households revised expected earnings downward. Falling asset prices (of shares and houses) reduced the value of the households material wealth. The result was a gap between the households target wealth and expected wealth. This helps to explain the cutback in consumption by households who could (and in an ordinary downturn, would) have helped to smooth a temporary fall in aggregate demand. Instead, these households increased their saving. This fall in autonomous consumption is part of the explanation for the downward shift of the aggregate demand curve from crisis to trough in Figure 14.6.
The financial accelerator, collateral, and credit constraints: Changes in household wealth affect consumption through another channel. In Unit 10, we saw that having collateral may enable a household to borrow. An important example is the case of home loans, where the bank extends a loan using the value of the house as collateral. If the value of your house falls, the bank will be willing to lend less, making you more credit-constrained, which may reduce your consumption.

The same mechanisms are at work if house prices increase, which will tend to increase consumption:

For those who are not credit-constrained: If the value of your house increases, this improves your net worth and raises your wealth relative to target. We would predict that this would reduce your precautionary savings, increasing consumption.
For those who are credit-constrained: A rise in the price of your house can lead you to increase your consumption spending because the higher collateral enables you to borrow more.


Exercise 14.1  A households balance sheet
Consider a family of two parents and two children who have a mortgage on their home. They have paid off half the mortgage. The family also owns a car and a portfolio of shares in companies. They spend their income on food, clothing, and private school fees, and have retirement savings held in a pension fund.

Which of these items would be on a balance sheet for the household?
Using the example of the banks balance sheet in Figure 10.16 as a guide, construct an annual balance sheet for your hypothetical household. You may want to research the typical values for these items for a family of this type.



Exercise 14.2 Housing in France and Germany
In France and Germany, it is difficult for a household to increase its borrowing based on an increase in the market value of the house. In addition, large down-payments (as a percentage of the house price) are required for house purchases.

On the basis of this information, how would you expect a rise in house prices in France or Germany to affect spending by households?
In the US or UK, loans are more easily available based on a rise in home equity and only a small down-payment is required. How would you expect your answer to question 1 to change when considering the US or UK?
What do you conclude about the role of the financial accelerator in France and Germany compared with the UK and the US?

Note: A December 2014 VoxEU article, Combatting Eurozone deflation: QE for the people, tells you more about the influence of a change in house prices on spending in Europe and the US.


Question 14.3 Choose the correct answer(s)
Which of the following statements is correct regarding household wealth?

A households material wealth is its financial wealth plus the value of its house.
The total broad wealth equals material wealth plus expected future earnings.
A household adjusts its precautionary saving in response to changes in its target wealth.
If the households target wealth is above its expected wealth, then it will decrease savings and increase consumption.


The material wealth is the net worth, that is, financial wealth plus value of house minus its debt.
This is the definition of broad wealth.
A household adjusts its precautionary saving in response to the gap (positive or negative) between its actual and target wealth.
If the target wealth is above its expected wealth, then the household will increase its savings to fill the gap, reducing its consumption as a result.


InnovationPolitics and policy