14.4 Investment spending
In Unit 13, we contrasted the volatility of investment with the smoothness of consumption spending. But how do firms make investment decisions? Think of the manager or owner of a firm deciding what to do with their accumulated profits. There are four choices:

Dividends: Allocate the funds to managerial or employee salaries, or to dividends for owners.
Saving: Buy an interest-bearing financial asset such as a bond, or retire (pay off) existing debt.
Investment abroad: Build new productive capacity in another country.
Investment at home: Build new capacity in the home country.

The fourth choice is called investment in our model (the third choice is also investment, but since it is spent in the foreign country it is measured in the foreign countrys national accounts as part of its I, not in the home countrys).
If we assume that there is no reason to change salaries then we can also break down the owners decision as we did Marcos decision in Unit 10:

The owner has the choice to consume now or consume later: Taking the revenue as dividends means the owner can, if desired, simply consume the extra income now.
If the decision is to consume later: The owner can either save (lend by buying a financial asset such as a bond or retire debt) or invest in a new project.
If the decision is to invest: Whether the owner does it in the home country or abroad will depend on the expected rate of profit for the potential investment projects in the two locations.

The desirability of consuming more now rather than later depends on the owners discount rate (), as discussed in Unit 10. The owner will compare this to the return they can get by not consuming now. If the firm saves by buying a financial asset then the return is the interest rate r. If the firm invests in productive capacity then the return will be the profit rate on investment, which we will call  as in Unit 10:

If  is greater than both r and : The owner will keep the funds and increase consumption spending.
If r is greater than  and : The decision will be to repay debt or purchase a financial asset.
If  is greater than  and r: The owner will invest (either at home or abroad).


monetary policyCentral bank (or government) actions aimed at influencing economic activity through changing interest rates or the prices of financial assets. See also: quantitative easing.

Because of these options, the interest rate is one of the factors determining whether investment takes place. We saw in Unit 10 that this can be altered by central bank policy (monetary policy). The interest rate is the opportunity cost of purchases of machinery, equipment, and structures that increase the capital stockif you have money available, you could save it with a return of r instead of investing it. Alternatively, if you do not have money available, then the cost of borrowing for investment is also r. If we rank investment projects by their expected post-tax rate of profit, then a lower interest rate raises the number of projects for which the expected rate of profit is greater than the interest rate. We saw this when Marco faced the decision of whether or not to invest (Figure 10.10). Thus a higher interest rate reduces investment, and a lower interest rate increases it.
Figure 14.9 illustrates this fact for an economy consisting of two firms, A and B. For each firm in this example, there are three investment projects of different scale and rate of return. They are shown in decreasing order of the expected rate of profit. Follow the analysis in Figure 14.9 to see how the interest rate determines which investment projects go ahead. The lower panel aggregates the two firms to show how investment in the economy as a whole responds to a change in the interest rate.












Figure 14.9 
Investment, expected rate of profit, and the interest rate in an economy with two firms.
        















Firm A


Firm A has three investment projects of different scale and rate of profit. They are shown in decreasing order of the expected rate of profit.














Firm B


Firm B also has three different investment projects.














The decision to invest


If the interest rate remains at 5%, Firm A goes ahead with project 1 and Firm B does not invest at all. But if the interest rate was 2%, A would undertake projects 1 and 2 and B would undertake all three of its projects.














The decision to invest


The lower panel aggregates the potential investments of the two firms, arranged by the expected profit rate as before.














Aggregate investment increases


Investment in the economy increases after a fall in the interest rate. Five projects go ahead, instead of just one.




In Figures 14.10ac, we look at how a change in profit expectations affects investment.
In the two-firm economy in Figure 14.10a, the expected rate of profit for each project rises because of an improvement in the supply-side conditions in the economy. The height of each column rises, and as a result, there is more investment at a given interest rate.












Figure 14.10a 
The aggregate economy, where the expected rate of profit rises for a given set of projects (supply effect).
        















Interest rate at 5%


With the interest rate equal to 5%, only one project will go ahead.














Improvement in supply conditions


The improvement in supply conditions increases the expected rate of profit for each project.














Effect on investment


For the same interest rate, investment rises: two more projects go ahead.




An upward shift can be caused by a fall in expected input prices, such as a forecast fall in the price of energy or wages, or a fall in taxation over the life of the project.

expropriation riskThe probability that an asset will be taken from its owner by the government or some other actor.

Another example of a positive supply effect is an improvement in the security of property rights so that there is a smaller chance that the government or another powerful actor (such as a landowner, like Bruno in Unit 5, who might threaten a smallholder) will take over ownership of the investment project. This is called a fall in the risk of expropriation and is an example of an improvement in the business environment.
In Figure 14.10b, the height of the columns remains unchanged, but their width (representing the amount of investment that is profitable in many projects) has increased. This is the result of a permanent increase in demand and the lack of sufficient capacity to meet forecast sales.












Figure 14.10b 
The aggregate economy, where the desired capacity rises for each project (demand effect).
        















Interest rate at 2%


With the interest rate equal to 2%, and the initial desired capacity, investment is shown by the darker coloured blocks.














Higher forecast demand


Pressure on existing capacity from higher forecast demand raises the desired size of each project, so investment rises to include the lighter coloured blocks.





investment function (aggregate)An equation that shows how investment spending in the economy as a whole depends on other variables, namely, the interest rate and profit expectations. See also: interest rate, profit.

In an economy with many thousands of firms, a downward-sloping line (as in Figure 14.10c) represents the potential investment projects. This is called the aggregate investment function. The response of investment to a change in the interest rate is shown as a shift from C to E. Figure 14.10c also shows the effect of a change in the profitability of investment, which arises from supply and demand effects and raises investment from C to D for the same interest rate.












Figure 14.10c 
Aggregate investment function: Effects of the interest rate and profit expectations.
        















Potential investment projects


In an economy with many thousands of firms, all their potential investment projects are represented by a downward-sloping aggregate investment function.














Investment increases


In response to a fall in the interest rate, investment increases from C to E.














An increase in profit expectations


This shifts the investment function to the right: if the interest rate is held constant at 4%, investment increases from C to D.




The empirical evidence suggests that business spending on machinery and equipment is not very sensitive to the interest rate. The limited effect of changes in the interest rate on business investment (illustrated by the steepness of the lines in the figure) highlights the importance of the supply- and demand-side factors that shift the investment function (Figures 14.10a and 14.10b).
The interest rate affects investment spending outside the business sector through its effects on households decisions to purchase new or larger homes, which influence new housing construction. The interest rate also has substantial effects on the demand for durable consumer goods, such as cars and home appliances, which are often purchased using credit.

Question 14.4 Choose the correct answer(s)
Figure 14.9 depicts possible investment projects for Firms A and B.
Based on this information, which of the following statements is correct?

Both firms only undertake their project 1 when the interest rate is 5%.
The central bank can ensure that all projects will be undertaken by cutting the interest rate to 1.5%.
When the demand is expected to permanently increase beyond the capacity of existing plants and equipment, the level of investment increases due to an upward shift in the expected profit rate.
An expected rise in energy prices leads to a fall in the expected profit rates, resulting in fewer projects being profitable at a given interest rate. This results in reduced investment.


For Firm B, the expected profit rate from its project 1 is less than 5%. Therefore only Firm A undertakes its project 1.
At an interest rate of 1.5%, Firm A will not undertake project 3.
With a permanent positive demand shock, the heights of the columns remain unchanged but the amount of investment that is profitable increases. This increases the widths of the columns, leading to higher investment (for any given interest rate).
The rise in energy prices increases costs for firms so expected profits decrease, implying that fewer projects have an expected profit rate greater than the interest rate.



Question 14.5 Choose the correct answer(s)
Figure 14.10c depicts the aggregate investment function of an economy.
Based on this information, which of the following statements is correct?

Ceteris paribus, an increase in the interest rate would lead to a fall in investment due to an inward shift of the investment line.
A rise in corporate tax would shift the investment line outwards.
A forecast of a permanent demand increase shifts the investment line outwards.
A steeper line indicates the higher sensitivity of the level of aggregate investment to changes in interest rate.


The investment line represents the relationship between investment and interest rate, ceteris paribus. Therefore the fall in investment would be shown by a movement up the original line (from E to C for example), not a shift of the line.
A rise in corporate tax would decrease the expected profit rate, shifting the investment line inwards. This results in a fall in investment.
Higher demand makes it profitable to invest in larger projects, increasing investment at a given interest rate.
A steeper line means smaller changes in investment when the interest rate moves, that is, lower sensitivity of investment to the interest rate.


Politics and policy