15.9 The exchange rate channel of monetary policy

exchange rateThe number of units of home currency that can be exchanged for one unit of foreign currency. For example, the number of Australian dollars (AUD) needed to buy one US dollar (USD) is defined as number of AUD per USD. An increase in this rate is a depreciation of the AUD and a decrease is an appreciation of the AUD.

Monetary policy in the US works mainly through the effect of changes in the interest rate on investment, particularly on new housing and consumer durables. But in many other economies, especially smaller ones, an important channel for monetary policy is through the effect of interest rate changes on the exchange rate and the economys competitiveness in international markets, and hence on net exports.
Why does the interest rate affect the exchange rate? Much of the demand for different countries currencies comes from international investors who want to hold and trade financial assets from around the world. These investors prefer to earn a higher return, so they prefer assets with a high yield, or interest rate. For this reason, if a countrys central bank lowers the interest rate, demand for that countrys bonds declines: international investors are less attracted to their financial assets. With the demand for bonds lower, the demand for the currency to buy those bonds declines. The decline in demand for the currency will lead to depreciation, that is, a decline in its price in terms of other currencies.
Take the case of a slowdown in the Australian economy caused by a decline in investment demand. The Reserve Bank of Australia responds to this by cutting the interest rate. This lowers the yield on Australian financial assets, making them less attractive to international investors. For example, when the Reserve Bank of Australia reduces the interest rate, there is less demand for three-month or ten-year Australian government bonds. If the demand for Australian financial assets like government bonds goes down, then the demand for the Australian dollars needed to buy them also goes down.
Because of this, the cut in the interest rate leads to a depreciation of the Australian dollar, which means that it will buy a smaller number of US dollars, Chinese yuan, euros, or any other currency. Depreciation makes Australian exports and home-produced goods more competitive, boosting aggregate demand and stabilizing the economy. Both higher export demand for home-built products (X) and lower demand from Australians for goods and services produced abroad (M) raise aggregate demand in the home economy.
The foreign exchange market is a market in which currencies are traded against each other, such as the Australian dollar (AUD) and the US dollar (USD). The exchange rate is defined as the number of units of home currency for one unit of foreign currency, in other words:

When one USD buys more AUD, the AUD is said to have depreciated. When one AUD buys more USD, the AUD is said to have appreciated.
A depreciation of the home countrys exchange rate makes their exports cheaper, and imports from abroad more expensive. For example, if a T-shirt in Australia costs 20 AUD, and the exchange rate with the USD is 1.07 (remember this is the number of AUD for one USD), then the T-shirt costs 20/1.07 = 18.69 USD in the US. Equivalently, a T-shirt sold for 18.69 USD in the US would cost 20 AUD in Australia. If the exchange rate of the Australian dollar then depreciates to 1.25, what happens to the price of exports and imports of T-shirts in Australia? Exports of Australian T-shirts become cheaper; a 20 AUD T-shirt now costs only 16 USD in the US rather than 18.69 USD. In contrast, imports of US T-shirts into Australia become more expensivea 18.69 USD T-shirt now costs 23.36 AUD rather than 20AUD.
Figure 15.16 is a rough summary of the chain of events in Australia.











Figure 15.16 
A cut in Australias interest rate.
        





Exercise 15.8 Why bonds?
Explain why a change in the central banks policy interest rate affects the exchange rate through the market for financial assets (such as government bonds).


Question 15.9 Choose the correct answer(s)
The following is a table of the British pound (GBP) exchange rate against the dollar (USD) and euro (Source: Bank of England):




24 Nov 2014
23 Nov 2015




USD/GBP
1.5698
1.5131


euro/GBP
1.2622
1.4256



In this table, the exchange rates are defined as the number of USD or euro per GBP. Based on this information, which of the following statements are correct?

USD appreciated against GBP over the year.
GBP depreciated against euro over the year.
Exports of British goods were cheaper in the US in November 2015 than a year before.
Imports from Europe were more expensive in Britain in November 2015 than a year before.


1 GBP bought fewer USD on 24 Nov 2015 than one year earlier, so the USD appreciated against the GBP.
1 GBP bought more euros on 24 Nov 2015 than one year earlier, so the GBP appreciated against the euro.
The GBP depreciated relative to the USD over the period, so exports of British goods became cheaper.
Euros became cheaper relative to the GBP over the year, so goods imported from Europe also became cheaper.


InnovationPolitics and policy