15.13 Conclusion
Voters want the economy to operate with low unemployment and low but positive inflation. But achieving this outcome is not easy. In the short run there is a trade-off between inflation and unemployment, which means that policy makers could choose to reduce unemployment at a cost of higher inflation. But this can lead to higher inflation expectations and a wage-price spiral, which means that inflation is not just temporarily higher, but continues to rise over time.
Central banks are believed to be more likely to consider the future impact of their actions than politicians, who respond to short-term democratic pressures. For this reason, many countries have adopted inflation targeting with independent central banks, who rely on the nominal interest rate as their policy tool in response to both supply and demand shocks.
The new macroeconomic policy framework of inflation targeting seemed to be working well when tested by the oil shock in the 2000s. Then came the global financial crisis, which rocked the consensus. Many central banks hit the zero lower bound for nominal interest rates, leading to a renewed interest in fiscal policy as a stabilization tool.

Concepts introduced in Unit 15
Before you move on, review these definitions:

Disinflation, expected inflation
Real interest rate
Conflicting claims on output
Phillips curve, shifting Phillips curve
Bargaining gap
Policymakers preferences
Monetary policy transmission, exchange rate channel
Exchange rate
Quantitative easing
Supply shocks, demand shocks
Central bank independence
Inflation target
Capacity-constrained firms