Unit 15 Inflation, unemployment, and monetary policy  The Economy





































The Economy






Contents








Unit 15 Inflation, unemployment, and monetary policy
Themes and capstone units   17: History, instability, and growth            18: Global economy            19: Inequality            21: Innovation            22: Politics and policy         
History, instability, and growthPolitics and policy
How the rate of unemployment and the level of output in the economy affect inflation, the challenges this poses to policymakers, and how this knowledge can support effective policies to stabilize employment and incomes

When unemployment is low, inflation tends to rise. When unemployment is high, inflation falls.
Policymakers and voters prefer low unemployment and low inflation (but not a falling price level).
They typically cannot have both and face a trade-off instead.
There is an inflation-stabilizing rate of unemployment, and a wage-price inflation spiral develops if unemployment is kept lower than this.
Monetary policy affects aggregate demand and inflation through a variety of channels.
Adverse shocks, such as an oil price increase, can lead to higher unemployment and higher inflation.
Many governments have given responsibility for monetary policyoften described as inflation targetingto central banks.

Before his successful 1992 US presidential campaign, Bill Clintons electoral strategists had decided that two of their campaign issues should be health policy and change. But it was the third focus of his campaignthe recession of 1991that resonated with the public. The reason was the phrase the campaign workers used: The economy, stupid!
The 1991 recession meant that many Americans lost their jobs, and the Clinton campaign slogan brought this issue to the attention of the voters. When the ballots were counted in November 1992, Clinton received almost 6 million more votes than George H.W.Bush, the incumbent president.
In a democracy, election outcomes are always affected by the state of the economy, and how the public judges the economic competence of the government and the opposition. Two important measures of this economic performance are unemployment and inflation. In Unit 13 we saw that unemployment undermines our wellbeing, but inflation worries us too. Figure 15.1 shows that in US presidential elections, the margin of victory of the ruling party is higher when inflation is lower.











Figure 15.1 
Inflation and presidential election victory in the US (19122012).
        






                                View this data at OWiD
                        


Note: In the chart, two years in which deflation occurred have been omitted. If the two observations in which deflation (falling prices) occurred are included in the regression in absolute valuesreflecting the fact that it is changes in prices that are unpopularthen the relationship shown in the figure is stronger. The R-squared is 0.42 compared to 0.36, and the coefficient on inflation is still negative and significant. Inflation before 1950: Michael Bordo, Barry Eichengreen, Daniela Klingebiel, and Maria Soledad Martinez-Peria. 2001. Is the crisis problem growing more severe?. Economic Policy 16 (32) (April): pp.5282; CPI after 1950: Federal Reserve Bank of St. Louis. 2015. FRED; Electoral results: US National Archives. 2012. 17892012 Presidential Elections. US Electoral College.



So if you are a politician worrying about your citizens concerns as well as your own career, you should minimize both unemployment and inflation. Is this possible?
We get an insight by looking at how a German minister of finance, trained as an economist, handled his dual role as a politician (at an election rally in the evening) and as an economist (in his office the next day).
Helmut Schmidt was called the super minister in the West German government of Chancellor Willy Brandt because he was both minister of economics and minister of finance.
At an election rally in 1972, he claimed that: Five per cent inflation is easier to bear than five per cent unemployment. He promised that his party would prioritize lower unemployment while keeping inflation low and stable.
Helmut Schmidt (19182015) was West German Chancellor from 1974 until 1982. In 1972, inflation in West Germany was 5.5% (up from 5.2% the previous year) and unemployment was 0.7% (up from 0.5% the previous year). By 1975, inflation was 5.9% and unemployment was 3.1%.
The following day Professor Otto Schlecht, head of the economics policy department at the Federal Ministry of Economics, said to Schmidt: Herr Minister, what you said yesterday, which is in the newspapers this morning, is false.
Schmidt replied: I agree that what I said was technically wrong. But you cannot advise me about what I decide is politically expedient to say to an election rally in front of 10,000 Ruhr miners in the Westfalenhalle in Dortmund.
Helmut Schmidts commitment at the rally and his explanation afterward, show two things about the relationship between economics and politics. The first is that politicians are elected to office, and so respond to the views of voters. The second is that politicians as policymakers face constraints on their choice of policies. They cant just promise the economic outcomes that voters care aboutin Schmidts case: low unemployment, and low and stable inflation. The economist in Schmidt was well aware of the constraints but, at the rally, he was speaking as a politician.

opportunity costWhen taking an action implies forgoing the next best alternative action, this is the net benefit of the foregone alternative.

While the policymaker wants to deliver both low unemployment and low inflation, the economy operates in such a way that when unemployment goes down, inflation tends to go up. And when inflation falls, unemployment tends to go up. This is a problem we have seen before: policymakers must deliver what is feasible, and this involves trading one objective off against the other. Another way to say this: more inflation is the opportunity cost of higher unemployment, and less inflation is the opportunity cost of lower unemployment. Moreover, the economy is subject to shocks that can make both inflation and unemployment worse, limiting the set of feasible outcomes. And experience from the late 1960s showed that inflation would carry on rising if unemployment were too low. This was the setting for Helmut Schmidts reflections on his election promise.

inflation targetingMonetary policy regime where the central bank changes interest rates to influence aggregate demand in order to keep the economy close to an inflation target, which is normally specified by the government.

Following the experience of rising inflation across the world, during the late 1980s there was a rethinking of how macroeconomic policy should be designed. In the 1990s, the policy known as inflation targeting by central banks was widely adopted. Many governments delegated the management of fluctuations in the economy to the central bank, with fiscal policy playing a lesser role, and recognized that policies to improve the supply side of their economiessuch as increasing competition and better functioning labour marketswere necessary if they wanted to achieve a lower rate of unemployment compatible with low and stable inflation.
As we saw in Unit 11, prices are messages. They send signals about scarce resources. We looked at how shifts in demand or supply for a good resulted in a change in its price relative to other goods and services, and how this signalled a change in the relative scarcity of the good or service. In this unit, we look not at relative prices but at inflation or deflation: a rise or fall in prices in general. We begin by asking how inflation got a bad name.
Inequality