15.1 Whats wrong with inflation?
Before we turn to the question, we need to clarify a few terms.

inflationAn increase in the general price level in the economy. Usually measured over a year. See also: deflation, disinflation.deflationA decrease in the general price level. See also: inflation.disinflationA decrease in the rate of inflation. See also: inflation, deflation.

What is the difference between inflation, deflation, and disinflation?
A car analogy is a useful way to think about these differences. We can compare what happens to the price level in the economy with a cars initial location and the speed at which it travels:

Zero inflation: A constant price level from year to year means that inflation is zero. This is like a stationary car: the cars location is constant and its speed is zero.
Inflation: Now, consider a rate of inflation, such as 2% per year. This means that the price level goes up by 2% each year. This is the case of a car travelling at a constant speed, for example 20 km/h.
Deflation: Deflation is when the price level falls.
Rising inflation: If the rate of inflation is increasing, the price level is increasing at an increasing rate. Suppose now that the rate of inflation increases from 2% to 4% to 6% in successive years, so the economy experiences rising inflation. This is the case of a car accelerating: it travels for a period of time at 20 km/h, then at 25 km/h.
Falling inflation: This is called disinflation and is equivalent to a car reducing its speed, for example from 20 km/h to 15 km/h and then 10 km/h. Once the speed reaches zero, the cars location does not change. The equivalent in the economy is that when inflation falls to zero, the price level does not change.


Describing a change in price level

Inflation: The price level is rising
Deflation: The price level is falling
Disinflation: The inflation rate is falling


We have seen why voters dislike unemployment. But why do voters dislike inflation? For some people in the economy, such as some pensioners, incomes are fixed in nominal terms, meaning that they receive a fixed number of yuan or dollars or euros. If prices rise during the year, these households can buy fewer goods and services at the end of the year than they could at the beginning. They are worse off and will tend to vote against a party they believe will permit higher inflation.
Whether one loses or benefits from inflation also depends on which side of the credit market one is on. Julia the borrower and Marco the lender (in Unit 10) have a conflict about the interest rate at which Julia borrows. They also have differing interests about inflation, because if prices rise before Julia repays her loan, Marco will find that he can buy less with the repayment than would have been the case if there were zero inflation.

nominal interest rateThe interest rate uncorrected for inflation. It is the interest rate quoted by high-street banks. See also: real interest rate, interest rate.real interest rateThe interest rate corrected for inflation (that is, the nominal interest rate minus the rate of inflation). It represents how many goods in the future one gets for the goods not consumed now. See also: nominal interest rate, interest rate.

More generally, using the same logic as we used when discussing the governments debt in the previous unit, inflation means that:

Borrowers with nominal debt will benefit: Those with mortgages on fixed nominal interest rate loans, for example, will benefit from inflation, because the debt stays the same in nominal terms, and so becomes smaller in real terms.
Lenders with nominal assets will lose: Banks or others who have loaned money at fixed nominal interest rates will lose, because when the sum is repaid it will be worth less in terms of the goods or services it can buy. Very high inflation will wipe out the value of nominal assets, which happened in Zimbabwe in 20082009.1


Fisher equationThe relation that gives the real interest rate as the difference between the nominal interest rate and expected inflation: real interest rate = nominal interest rate  expected inflation.

To take account of inflation when analysing borrowing and lending, we use what is termed the real interest rate, which is defined as follows and is also known as the Fisher equation:

The real interest rate measures the buying power of the repayment of a loan at the prices that exist when the loan is repaid. To see what this means, lets suppose Julia were to borrow $50 from Marco with a repayment of $55 next year. The nominal interest rate is 10%. But if next years prices were 6% higher than this years (6% inflation rate), then what Marco could buy with the repayment is not 10% more than he could have bought with the sum he loaned to Julia, but instead only 4%. The real interest rate is 4%.
In addition to redistributing income from creditors (those with assets) and those on nominally fixed incomes (like pensioners) to debtors, in some cases inflation can also make the economy work less well. While there is no evidence that moderate inflation is bad for the economy, when inflation is high it is often also volatile and therefore hard to predict. Large price changes create uncertainty, and make it more difficult for individuals and firms to make decisions based on prices.

relative priceThe price of one good or service compared to another (usually expressed as a ratio).


menu costsThe resources used in setting and changing prices.

In an environment of high and volatile inflation, it is hard to separate the signal about the scarcity of resources (sent by relative prices) from the noise of erratically rising prices. Firms might find it harder to know which sector to invest in, or which crop would be better to plant (quinoa or barley, for example); individuals would find it harder to decide whether quinoa has become more expensive relative to other sources of protein. Moreover, in an inflationary environment, firms have to update their prices more frequently than they would prefer. This requires time and resources, referred to as menu costs.
Would households and firms be better off with falling prices? No. A sustained fall in the price level is undesirable for many of the same reasons that inflation is undesirable, and could have even more dramatic economic consequences. When prices are falling, households will postpone consumption (particularly of expensive items such as fridges, televisions, and cars) because they expect goods will be cheaper in the future. Similarly, deflation increases the debt burden of borrowers, for the same reason that inflation reduces it.
As we have seen in Unit 14, a rise in the debt burden depresses consumption because some affected households save to restore their target wealth and others find themselves credit-constrained. The fall in consumption will induce a drop in aggregate demand and economic activity. Weaker aggregate spending will tend to depress prices further and can trigger a vicious circle of falling prices and economic stagnation.
This happened in Japan. The Japanese economy was one of the great success stories of the period after the Second World War. The upward slope of its hockey stick was remarkably steep, as you saw in Unit 1. Living standards, as measured by GDP per capita, went from less than one-fifth of the level in the US in 1950 to more than 70% by 1980. But in the past 25 years, Japan has faced low growth and rising unemployment. For the first time for an advanced economy in the postwar period, there has been persistent deflation: deflation was observed in 12 years out of 21 between 1995 and 2015.
Many economists think that a little bit of inflation is a good thing, as long as it remains stable. In the next unit we will see one reason why this is the case. The process of innovation and change that characterizes a dynamic economy means that, in any given year, workers in some firms and sectors will be more in demand than in others. With rising prices, a fall in real income among the losers may be masked by the fact that nominal incomes are rising, or at least not falling. For example, many people will not even notice a slight fall in their real wage due to modest inflation, but nobody would fail to notice a reduction in his or her nominal wage. With some low inflation, the adjustment of workers and resources between different firms and industries in response to changes in relative wages can take place without losers experiencing falling nominal wages. Inflation greases the wheels of the labour market.
Another important reason to prefer a bit of inflation to none is that it gives monetary policy more room to manoeuvre. As we will see later, positive inflation allows the real interest rate to go lower in order to offset a major recession than if inflation is zero.

Question 15.1 Choose the correct answer(s)
The following table shows the annual inflation rate (the GDP deflator) of Japan, the UK, China and Nauru in the period 20102013 (Source, World Bank):




2010
2011
2012
2013




Japan
1.9%
1.7%
0.8%
0.3%


UK
1.6%
2.0%
1.6%
1.9%


China
6.9%
8.2%
2.4%
2.2%


Nauru
18.2%
18.1%
24.1%
21.7%



Based on this information, which of the following statements is correct?

Japan experienced a persistent period of disinflation between 2010 and 2013.
In the UK the price of goods and services remained stable between 2010 and 2013.
China has been experiencing deflationary pressure between 2011 and 2013.
Naurus price level at the end of 2013 is lower than it was at the start of 2010.


Disinflation describes a falling inflation rate. While Japan experienced deflation between 2010 and 2013, the inflation rate became less negative, so actually increased over that period.
In the UK the inflation rate remained stable. This means that the price increased at a stable rate, not that the price levels remained stable.
China has been experiencing disinflationary pressure (a falling inflation rate), not deflationary pressure (falling price levels).
The price level at the end of 2013 is (1 - 0.182)  (1 + 0.181)  (1 + 0.241)  (1 - 0.217) = 0.939 of that at the start of 2010, i.e. a fall of 6.1%.



Question 15.2 Choose the correct answer(s)
The following table shows the nominal interest rate and the annual inflation rate (the GDP deflator) of Japan in the period 19962015 (Source: World Bank).




19962000
20012005
20062010
20112015




Interest rate
1.5%
1.4%
1.3%
1.2%


Inflation rate
1.9%
0.9%
0.5%
1.6%



Based on this information, which of the following statements are correct?

The real interest rate in 19962000 was 0.4%.
Japans real interest rate has been rising consistently over this period.
Japans real interest rate turned from being positive to negative during the period.
The real interest rate has been falling faster than the nominal interest rate.


Using the Fisher equation, the real interest rate in 19962000 was 1.5  (1.9) = 3.4%.
The real interest rates for the four periods are: 3.4%, 2.3%, 1.8%, and 0.4% respectively. Therefore the real interest rate has been falling consistently over the period.
It was positive in the first three periods and turned negative in 20112015.
The decline in the real interest rate each year is larger than the decline in the nominal interest rate because the inflation rate was also rising.