15.2 Inflation results from conflicting and inconsistent claims on output
Inflation arises from conflicts among economic actors, when they are powerful enough that their claims on goods and services are inconsistent.
To see how this works, think of an economy composed of many firms (each of which is owned by a single individual) and their employees, who are also the consumers of the various goods produced by the firms. To keep track of what is happening in the firms, we assume that prices are set by the marketing department and wages by the human resources (HR) department.
Initially the marketing department in each firm is setting prices based on the markup that maximizes its profits, given the degree of competition in the markets in which it sells (as we saw in Units 7 and 9). And the HR department is also setting the real wage for its workers (which is the nominal wage in the firm, divided by the price level in the economy) as the lowest wage consistent with workers actually working, given the level of unemployment in the economy (as we saw in Units 6 and 9).
If, once all firms have set their wages and prices, the wage rate and the price level are consistent with the firms maximizing their profits, then there will be no reason for either prices or wages to be changed. At this unemployment rate, the price level is constant (inflation is zero). This is the level of unemployment where the wage-setting and price-setting curves intersect, that is, the labour market Nash equilibrium that we saw in Unit 9.

protectionist policyMeasures taken by a government to limit trade; in particular, to reduce the amount of imports in the economy. These are designed to protect local industries from external competition. They can take different forms, such as taxes on imported goods or import quotas.

Suppose now that the government adopts protectionist policies, which make it difficult for foreign firms to enter its markets. Then the markets facing the firm become less competitive, so that the firm can charge a higher markup on its costs. If this is the case across the economy, the resulting increase in the price level will lower the real wage of the workers. But while the owner of an individual firm is happy with the higher price that the marketing department can now charge, the workers are unhappy with the fall in the real wage. The result is that workers now lack the motivation to work. So the HR department of the firm will raise its nominal wage, and all other firms will do the same. Both prices and wages have risen and the economy experiences inflation.
Will it end there? No. The nominal wage increase has raised the cost of production to firms and they will use this as the basis of their markup pricing, leading to a further increase in prices and a fall in the real wage, which the HR department will correct by again raising the nominal wage. The process of rising wages and prices will continue as long as:

firms are powerful enough to charge the higher markup
workers at the given unemployment rate have enough bargaining power to require the initial real wage in order to motivate them to work

In the example given, inflation rose while unemployment did not change, following a change in the competitive conditions facing firms that allowed them to raise their markup, increasing the owners profits. But there are other ways that the process could have begun from the same starting point. Suppose the degree of competition in product markets remains the same, but the level of employment rises. At the new lower level of unemployment the firms would want to pay workers a higher real wage to keep them working. This induces the marketing departments of firms to raise their prices, so as to maintain the markup that competitive conditions allowed. And the inflationary process would begin.
To summarize, inflation may result from:

An increase in the bargaining power of firms over their consumers: This is caused by a reduction in competition, which allows firms to charge a higher markup. It is a downward shift of the price-setting curve.
An increase in the bargaining power of workers over firms: This allows them to get a higher wage in return for working hard.

There are two ways that the increase in the bargaining power of workers could take place:

A shift upward of the wage-setting curve: The wage they would receive is higher at every level of employment.
An increase in the level of employment, moving along the wage-setting curve: In this case, the wage-setting curve is unchanged.

We studied reasons for the shift in the wage-setting curve, such as improved generosity of unemployment benefits or stronger trade unions, in Unit 9. The movement along the wage-setting curve, rather than a shift in the curve, is what we will analyse next.

wage inflationAn increase in the nominal wage. Usually measured over a year. See also: nominal wage.

Figure 15.2 summarizes three causes of inflation. In Section 15.3, we explain how the changes in bargaining power illustrated in Figure 15.2 translate into inflation. The third causehigher employment may result in inflationcame to light when William (Bill) Phillips, the economist, published a scatter plot of annual wage inflation and unemployment in the British economy. This is shown in Figure 15.3.












Figure 15.2 
Three causes of inflation: changes in bargaining power.
        















Owners power rises relative to consumers


For example, due to lower competition (medium- to long-run effect).














Employees power rises relative to owners


For example, due to stronger unions (medium- to long-run effect).














Employees power rises relative to owners


For example, due to a business cycle upswing (short- to medium-run effect).















Figure 15.3 
Phillipss original curve: Wage inflation and unemployment (18611913).
        






                                View a different visualization of this data at OWiD
                        


Ryland Thomas and Nicholas Dimsdale. (2017). A Millennium of UK Data. Bank of England OBRA dataset.




Great economists Bill Phillips

A. W. (Bill) Phillips (19141975) was an unusually colourful character for a world-renowned economist. Raised in New Zealand, Phillips spent time as a crocodile hunter, a movie director, and a prisoner of war in Indonesia during the Second World War, before finally becoming a professor at the London School of Economics.
Phillips had engineering know-how, and while studying sociology in London in 1949, he built a hydraulic machine to model the British economy. The Monetary National Income Analogue Computer (MONIAC) used transparent pipes and coloured water to bring economists equations to life. It was like the hydraulic economy model produced by Irving Fisher half a century earlier (mentioned in Unit 2), but much more elaborate. 
MONIAC had tanks for each of the components of domestic GDP, such as investment, consumption, and government expenditures. Imports and exports were shown by water being added or drained from the model. The machine could be used to model the effect on the economy of shocks to different variables, such as tax rates and government spending, which would set in motion flows between the tanks. Working versions of the machine can still be found in the London Science Museum and universities around the world.2

Phillips curveAn inverse relationship between the rate of inflation and the rate of unemployment.

In a 1958 paper, Phillips made another major contribution to the study of economics. By drawing a scatterplot of the data for the rates of unemployment and inflation in the British economy between 1861 and 1913, he found that low rates of unemployment were associated with high rates of inflation, and high unemployment with low inflation. The relationship has since been referred to as the Phillips curve.


Question 15.3 Choose the correct answer(s)
The following diagram depicts the model of the labour market:












Suppose now that the government adopts policies that make it difficult for foreign firms to enter its markets. Assume that the level of employment and the labour supply remain constant. Which of the following statements regarding mechanisms by which inflation is created are correct?

With reduced competition, firms can now charge a higher markup on their costs, raising the price-setting curve.
With the labour market not in equilibrium at the lower real wage, the workers now lack the motivation to work at the given unemployment rate. Therefore the wage is increased, described by an upward shift in the wage-setting curve.
If the firms are able to continue charging the new higher markup, now applied to the new higher wage, the price rises again, lowering the real wage to the price-setting curve.
After the price rise, if the workers are able to continue demanding the initial real wage as the minimum level required to motivate them to work, the wage rises again, increasing the real wage to the level on the wage-setting curve.


A higher markup implies a downward shift in the price-setting curve.
Wages rise because the economy is below the wage-setting curve at the unchanged unemployment rate. The wage-setting curve does not shift.
This process is described in the text.
This process is described in the text.



Question 15.4 Choose the correct answer(s)
The following diagram depicts the model of the labour market:












Suppose there is an increase in workers bargaining power that causes inflation. Which of the following statements are correct?

Workers bargaining power can increase due to an increase in unemployment benefits, resulting in a rise in the wage-setting curve.
Workers bargaining power can increase due to an increase in the unemployment level along a given wage-setting curve.
After the initial increase in the workers bargaining power, the firms adjust the wages and prices by shifting the wage-setting curve, creating inflation.
After the initial increase in the workers bargaining power, the firms adjust the wages and prices, creating inflation. Neither the wage nor the price-setting curve shifts.


The wage-setting curve rises if workers bargaining power increases.
An increase in the unemployment level along a given wage-setting curve results in a fall in the real wage required to motivate to work, to below the price-setting curve. This represents a decline in workers bargaining power and will lead to deflation, not inflation.
The increase in workers bargaining power can be due to an upward shift of the wage-setting curve or a decline in unemployment along the wage-setting curve. Once this has occurred, there is no further shift in the curves. Inflation is due to the fact that the economy is no longer at the intersection of the two curves.
Inflation occurs due to the fact that the economy is no longer at the intersection of the two curves, and does not involve further moves in the curves.