15.7 Supply shocks and inflation
Friedman was correct in two ways:

Expected inflation shifts the Phillips curve.
Policymakers were wrong to think of the Phillips curve as a feasible set from which they could simply select the most electorally popular combination of inflation and unemployment.

But there are other causes of high and rising inflation. The Phillips curve will shift up if the price-setting curve shifts down or the wage-setting curve shifts up. Recall Figure 15.2: if the power of owners of firms relative to consumers increases, the marketing department raises prices and kicks off a wage-price spiral. In that example, owners of firms in the home economy became more powerful because the government adopted policies that made it more difficult for foreign firms to enter the economy. Similarly, a wage-price spiral can begin if the power of employees increases relative to ownersas would be the case if trade unions become more powerful and exercise that power to achieve higher wage increases from the HR department.

supply shockAn unexpected change on the supply side of the economy, such as a rise or fall in oil prices or an improvement in technology. See also: wage-setting curve, price-setting curve, Phillips curve.demand shockAn unexpected change in aggregate demand, such as a rise or fall in autonomous consumption, investment, or exports. See also: supply shock.

Shocks that move the Phillips curve by changing the labour market equilibrium are described as supply shocks, because the labour market represents production or supply in the economy. They are different from demand shocks, like a change in investment or in consumption, which work via their effect on aggregate demand. While a negative demand shock will increase unemployment and reduce inflation, a negative supply shock can lead to increased unemployment and inflation at the same time.
Changes in the global economy can also cause supply shocks that trigger inflation. A particularly important change for understanding the shifts in Phillips curves, such as those for the US economy shown in Figure 15.6, is a change in the world oil price (we look at other possible causes in Units 16 and 17). The labour market model and the Phillips curve can explain why a one-off increase in the world oil price can lead to a combination of:

a one-off increase in the price level (inflation) at the time of the shock, and
rising inflation over time

To do this, we show that a rise in the oil price:

Shifts the price-setting curve down: This leads to a positive bargaining gap and inflation.
Shifts the Phillips curve up: It will continue to shift up as expected inflation rises.

An increase in the oil price pushes down the price-setting curve. A typical firm uses imported oil in the production process. With increased costs for oil, the firms profits can only remain unchanged if real wages fall. At the level of the economy as a whole, the national pie to be divided between owners and employees shrinks when more has to be paid for imports.
We show in the Einstein at the end of this section how to modify the price-setting curve once firms in the economy use imported materials in production.
A rise in the oil price creates a bargaining gap and triggers a wage-price spiral through its effect on the price level. Firms raise their prices to protect their profit margins when the cost of imported oil rises. Firms across the economy will behave this way so the price level will rise. This reduces the real wage of employees, so the price-setting curve shifts down (to see how firms set their prices following an oil price rise, see the Einstein at the end of this section). At the initial employment level this opens up a bargaining gap between the real wage on the price-setting curve and the real wage on the wage-setting curve. That is, the rise in prices satisfies firms, but the corresponding fall in real wages does not satisfy workers.
In Figure 15.11, the price-setting curve shifts down following the oil shock. In this example, a bargaining gap of 2% opens up between the wage-setting curve and the post-shock price-setting curve. This fits the scenario in Figure 15.10, where a bargaining gap of 2% appears at the beginning of year 1. This increases inflation from its pre-existing level of 3% to 5% and as expected inflation adjusts, inflation rises thereafter every year. The Phillips curve shifts up year by year.












Figure 15.11 
An oil shock and the price-setting curve.
        















Labour market equilibrium


The economy is initially at point A.














An oil shock


The oil price increases and shifts the price-setting curve down.














The bargaining gap


If aggregate demand is maintained to keep the economy at A, there is a positive bargaining gap. Inflation will increase year by year.














A new equilibrium


There is a new labour market equilibrium at B with higher unemployment.




As long as employment remains at its pre-oil-shock level, inflation will increase every period, as illustrated in Figure 15.10. The new labour market equilibrium and post-shock inflation-stabilizing employment level is shown in Figure 15.11. Unemployment is higher at the new labour market equilibrium where the post-shock price-setting curve intersects the wage-setting curve.
Shocks to the world oil price are a major source of macroeconomic disturbance.
Following the early 1970s oil shock, for example, US inflation jumped from 6.2% in 1973 to 9.1% in 1975 and unemployment went from 4.9% to 8.5% at the same time.
This pattern was common across the developed world. For example, in the same period, inflation in Spain rose from 11.4% to 17% and unemployment increased from 2.7% to 4.7%.
We can see from Figure 15.12 that there were two big recessions in the UK in the 1970s. They were due to the oil shocks of 197374 and 197980, which were associated with a rise in both unemployment and inflation to their highest levels since the Second World War (you can see the effect on inflation in Figure 13.19a and Figure 13.19b).











Figure 15.12 
UK GDP growth and real oil prices (19502015).
        





UK Office for National Statistics; Ryland Thomas and Nicholas Dimsdale. (2017). A Millennium of UK Data. Bank of England OBRA dataset.



High inflation in the 1970s and early 1980s was associated with high unemployment in many countries. Unemployment in the UK peaked at nearly 12% in the mid-1980s.
The model helps us to understand why the rise in the oil price led to rising inflation and high unemployment. But it also helps to explain the role that high unemployment played in bringing inflation down.
In the model, the only ways that high inflation can be brought down are:

a reduction in the bargaining gap
a fall in expected inflation

If unemployment is sufficiently high, then there will be a negative bargaining gap and inflation will fall. Remember that for the bargaining gap to be negative, unemployment has to rise above the new higher inflation-stabilizing unemployment rate. Once inflation begins to fall, it will continue to fall as the Phillips curve shifts downwards and the economy follows the path shown in Figure 15.10 in reverse.











Figure 15.13 
UK inflation and unemployment rate (19502015).
        






                                View the latest data at OWiD
                        


UK Office for National Statistics; Ryland Thomas and Nicholas Dimsdale. (2017). A Millennium of UK Data. Bank of England OBRA dataset.



Figure 15.13 shows a scatterplot of unemployment and inflation for the British economy from 1950 to 2014. Instead of fitting Phillips curves to the observations, as in Figure 15.6, the points are joined and dated. This helps us to follow the path taken by the economy. Notice the large increase in unemployment in the 1980s associated with bringing inflation down. This is sometimes referred to as the cost of disinflation.
But theres a puzzle here: why did the third oil shock from 200208 not lead to increased inflation, just like the earlier ones? This section should have provided you with some starting points to investigate this, and a speech given in 2006 by David Walton, an economist, will help you.4 If you read both carefully, you might ask the following questions:

Was the unit cost increase smaller due to less energy-intensive production? This would have made the increase in the materials cost per unit of output smaller and reduced the size of the initial downward shift in the price-setting curve.
Did the wage-setting curve shift downwards at the same time as the third oil price shock? This also would have reduced or perhaps even eliminated the bargaining gap opened up by the oil price shock.
Did a wage-price spiral fail to develop because expected inflation did not adjust upward, as in the past oil shocks?

What could stop expected inflation rising? In the next section, we examine the role of monetary policy.

Exercise 15.6 An oil shock
Think about the three questions related to oil shocks that we listed above. In each case:

Explain the mechanism linking the oil shock to inflation using a diagram.
Identify some evidence (for example, data or commentary in the economics press) that is consistent with the hypothesis proposed.



Einstein The price-setting curve with imported materials
In the Einstein in Unit 9, we explained how the price-setting curve for the economy as a whole results from the decisions of individual firms. Here we take a shortcut and go straight to the economy as a whole. Firms in the economy use both the products of other firms in the economy and imported products as inputs. The cost of these inputs will be affected by wage costs and costs of imported materials. Once we put together all the firms in an economy, we have only two types of cost: labour and imported materials. (Here we are setting aside the opportunity cost of the capital goods used in production that are the property of the firm owners and the basis of their profits.)
In Unit 9, we assumed that other than the firms own capital goods, there were no inputs other than labour and hence no costs other than wages. In this case, the value of a firms output was the same as the firms value added. Expressed on a per worker basis this was divided into wage and profits:

Here, there are imported materials such as oil that are necessary to produce the output. As a result, the firms costs include not only wages but also the costs of purchasing these imported materials.

This makes it clear that unlike in Unit 9 where there were just two claimants on the value of the output (wages and profits), we now have three: labour costs, imported materials costs, and profits. This affects the price-setting curve, as we shall see.
In the Unit 9 Einstein,  represented value added per worker, or labour productivity. Now, where we have inputs other than labour, we define q as the units of output per worker, which is not the same thing as labour productivity because output now exceeds value added by the value of imported inputs.
Since output per worker is q and the nominal wage is W, the firms unit labour cost (ulc) is:

Now the firms cost per unit is its unit labour cost (ulc) plus its unit imported materials cost (umc).
So unit costs (uc) are:

We define the markup, , as the share of the price that represents profits to the firm (what is left over after subtracting unit costs):

Note that umc/P is the imported materials cost as a share of the price of a unit of output, while ulc/P is the wage cost as a share of the price of a unit of output. For example, suppose the price per unit is $5, imported materials cost $1 per unit and labour costs $2.50 per unit. Then imported materials comprise 20% of the cost, wages another 50%, and the share of profit, or the markup, is:

which is 30%.
Substituting ulc = W/q gives us:

Multiplying each side by q and rearranging, and remembering that P is both the price of the individual firms output and the general price level in the economy, we get the price-setting curve:

This shows that the real wage per worker is equal to output per worker, q, minus a share  that goes as profits to the owner, minus a share umc/P that goes to foreign producers who supply the imported materials. Any increase in unit materials costs such as a rise in the price of oil will shift the price-setting curve down.
In the absence of imported materials, q =  and umc = 0, and we get the familiar expression for the price-setting curve from Unit 9:

An equivalent but alternative version of the markup equation is provided in the next section.
The markup price-setting equation for the firm
As we saw in the Einstein in Unit 9, the price set by a profit maximizing firm is a markup on its costs, where the markup  is the share of the price that was the firms profits, and is lower the more competition there is in the product market.
When explaining the process of inflation, economists often simplify by setting aside changes in the degree of competition so as to focus on the ways that increasing costs contribute to price increases. For this it is useful to have an equation describing how firms will set different prices as their costs change, assuming that the degree of competition in product markets (and therefore ) is unchanged.
For this purpose economists use the following equation:

where the percentage markup on costs is m, umc is the unit cost of materials, and ulc is the unit cost of labour.
The markup price-setting equation says that if unit costs are $3.00 and the markup m is 10%, the price will be $3.30. So the extra $0.30 charged above unit costs is equal to 10% of those costs. If we want to know  in this case, we ask what the extra $0.30 is as a share of the total price, rather than as a share of the cost. Then  = $0.30/$3.30 = 0.09 or 9%.
One advantage of using m is that it makes it easy to see that if the markup is fixed, then a rise in unit costs must imply a proportionate price rise (for example, an increase in unit costs of 5% must imply a price rise of 5%). This follows directly from the markup price-setting equation above.
We can also ask what happens to P when just one part of the costs rise, such as the imported materials cost. Assuming m remains constant, the percentage change in the price is equal to the percentage change in total unit costs:

We now divide both the numerator and the denominator of the first term on the right hand side by umc, and the second term by ulc:

This is equivalent to:

In words, the percentage change in P is equal to the percentage change in umc times umcs share of unit costs, plus the percentage change in ulc times ulcs share of unit costs. For example, suppose the markup is 60% and unit cost is $5, of which $4 is labour cost and $1 is imported materials, so the price is P = 1.6  $5 = $8. Wages are 80% of the cost, so if wages go up 10% then the price will rise by 80%  10% = 8%. In this example, unit costs rise to $4.4 + $1 = $5.4 and the price rises to P=1.6$5.4 =$8.64 (a rise of 8%). Equally, if the price of imports, such as oil, were to rise by 10% then the price would rise by 20%  10% = 2%.

Global economyPolitics and policy