16.10 Changes in institutions and policies
We have seen that differences in institutions and policies make a big difference for employment and wage growth, and that citizens of Spain might wish to have institutions like those of Japan or a Nordic country. But changing institutions is difficult because it inevitably creates winners and losers.
Countries that changed their policies changed their fortunes. Both the UK and the Netherlands suffered sharply increased unemployment rates in the 1970s and early 1980s due to the first and second oil shocks (which shifted the price-setting curve down) and the increased bargaining power of labour (which shifted the wage-setting curve up). These effects are illustrated in Figure 16.17. But a change in policy eventually turned the bad news around. In the UK, the unemployment rate fell from 11.6% in 1985 to 5.1% in 2002, and in the Netherlands it fell from 9.2% to 2.8% over the same period.











Figure 16.17 
Different ways of pushing down the wage-setting curve: The Netherlands and the UK.
        






                                View the latest data at OWiD
                        


David R. Howell, Dean Baker, Andrew Glyn, and John Schmitt. 2007. Are Protective Labor Market Institutions at the Root of Unemployment? A Critical Review of the Evidence.Capitalism and Society 2(1) (January). Data from 2005 to 2012: OECD harmonized unemployment rates, OECD. 2015.OECD Statistics.



Both countries turned around their economies and shifted the wage-setting curves down, but they used different institutions and policies:

In the Dutch case: Institutions became more inclusive, moving in a Nordic direction by common agreement.
In the British case: Policy reduced the power of the non-inclusive unions and increased competition in labour markets.14

In the Netherlands, a key component was an agreement in 1982 between employers and unions called the Wassenaar Accord. Unions offered wage restraint (a downward shift in the wage-setting curve) and in exchange, the employers agreed to a reduction in working hours. The union agreed that the reduction in working hours would not increase labour costs (and hence would not shift the price-setting curve down).
In the Dutch case, unions and employers associations were capable of coordinating wage-setting to achieve a better macroeconomic outcome. They were powerful enough that they could ensure their members stuck to the agreement. The unions were exercising bargaining restraint in the interests of improved performance of the labour market, and hence in the economy as a whole.
In the UK, the wage-setting curve also shifted down but in this case, it was because of a fall in union power brought about by changing industrial relations legislation, which weakened the ability of the non-inclusive unions to organize strike action.

Exercise 16.8 The labour market model
Explain how to use the labour market model (wage-setting curve and price-setting curve) to show the changes in labour market performance of the UK and the Netherlands from the early 1970s to the early 2000s, as discussed in this section. The article by Nickell and van Ours (2000) referenced above is a good research resource for this question.

History, instability, and growthGlobal economyInnovation