16.9 Technological change, labour markets, and trade unions
Policies and institutions make a difference. The models shed light on the experience of some of the best and worst performers. We take three countries as examples: Norway and Japan as good performers, and Spain as a poor performer.
In Norway and Spain, unions are important, but not in Japan. In Norway, more than half of all wage and salary workers are trade union members, and union wage deals affect most workers in the economy. In Spain, although union wage deals are important for the entire economy, less than one-fifth of Spanish workers are in unions.











Figure 16.14 
Union wage bargaining coverage and unemployment across the OECD (20002014).
        






                                View the latest data at OWiD
                        


OECD. 2015.OECD Statistics. Labour force statistics. Visser, Jelle. 2016. ICTWSS: Database on Institutional Characteristics of Trade Unions, Wage Setting, State Intervention and Social Pacts in 51 countries between 1960 and 2014Amsterdam Institute for Advanced Labour Studies (AIAS).



Figure 16.14 provides information on the importance of union wage deals and unemployment. On the horizontal axis, we plot the percentage of employees whose wages are determined by union wage deals. As you can see, in some European countries, union wage deals cover almost all employees. And in the set of countries with coverage of more than 80%, unemployment rates range from less than 4% (Netherlands) to almost 14% (Spain). Figure 16.14 suggests that there is no tendency for unemployment to be higher in countries in which unions are more influential in wage-setting. Low unemployment is found in countries extending across the whole range of union strength. Compare South Korea and the Netherlands, Japan and Austria, or the US and Sweden.
Just as the employer does not offer the lowest wage possible, most unions do not seek the highest wage they could win in bargaining. Employers offer wages above the minimum because they cannot control how hard the worker works. Unions do not bargain for the maximum wage possible (the wage that would leave none of the pie for the owners) because unions cannot control the firms decisions about hiring, firing, and investment, and higher wages may reduce employment by reducing the firms profits.

medium run (model)The term does not refer to a period of time, but instead to what is exogenous. In this case capital stock, technology, and institutions are exogenous. Output, employment, prices, and wages are endogenous. See also: capital goods, technology, institution, short run (model), long run (model).

A union organized across many firms and sectors will not exploit all the bargaining power it possesses. It knows that large wage gains will lead to:

In the medium run: Restrictive aggregate demand policies, as the government and central bank seek to keep inflation close to target (as we saw in Unit 15).
In the long run: The exit of firms and a smaller stock of capital goods, which will slow the rate of productivity growth.


inclusive trade unionA union, representing many firms and sectors, which takes into account the consequences of wage increases for job creation in the entire economy in the long run.

Unions that act this way are called inclusive trade unions. Non-inclusive unions may bargain for high wages in their own corner of the economy without regard for the effects on other firms or workers, both employed and unemployed. Employers associations that take account of the interests of all businesses, including those that might enter an industry and compete with its incumbent firms, are called inclusive business or employers associations. When unions and businesses act in an inclusive manner there is also more likely to be a positive union voice effect. As discussed in Unit 9, this lowers the disutility of work, helping to push down the wage-setting curve.
The Nordic case: Inclusive unions and employers associations
This inclusive behaviour is exactly what the trade unions and employers associations of Norway (as well as in the other Nordic countries) did over this period: their centralized wage bargaining insisted on a common wage for a given kind of labour, depriving low-productivity firms of access to inexpensive labour and driving many of them out of business. As workers were quickly redeployed to employment in more productive firms, the main impact was to raise average labour productivity, pushing up the price-setting curve and allowing higher wages.
Inclusive trade unions also support generous income floors and high-quality publicly provided healthcare, occupational retraining, and educational servicesall of which reduce the risk to which most individuals are exposed. This has the effect of making the creative destruction of technological change less destructive for peoples personal lives and allows them to be generally more open to change and to risk-taking. Both of these attributes are essential for a technologically dynamic society.12
These so-called active labour market policies improve the matching process between workers looking for work and job vacancies available for workers. A result is that workers whose jobs are eliminated (for example, by the failure of low-productivity firms under the pressure of centrally bargained uniform wages) can find an alternative job more quickly. The result is a Beveridge curve closer to the origin, superior to both the German and US Beveridge curves (shown in Figure 16.6). It is far inside that of Spain, as we see in Figure 16.15.











Figure 16.15 
Beveridge curves for Spain and Norway (2001 Q1  2013 Q4).
        





OECD Employment Outlook: OECD. 2015. OECD Statistics.



An inclusive union knows that the economy has to respect the two major incentive problems of a capitalist economy: providing incentives for workers to work and for employers to invest. In some casesfor example, in Sweden with its highly centralized trade union federationtrade union leaders knew and persuaded their members that in the long run, pushing down the wage-setting curve will increase employment and will not reduce wages.
As a result, the inclusive unions of the Nordic countries (Norway, Sweden, Finland, and Denmark) set their wage demands in accordance with the productivity of labour. When it rose they demanded a fair share. They had bargaining power from low unemployment, high membership, and their ability to implement wage agreements across the economy, but they did not use this power to push the wage-setting curve up unless it was warranted by productivity growth. These unions also supported legislation and policies that make working less onerous, shifting downward the wage-setting curve, and further expanding long-run employment.
The Japanese case: Inclusive employers associations
In contrast to the Nordic countries, Japanese unions are weak, but workers are well organized in the large companies. Employers associations are strong and work to coordinate wage-setting among the large firms. These associations therefore operate in a similar way to the unions in Norway: the impact of wage decisions on the economy as a whole is taken into account when wages are set. Specifically, the corporations deliberately do not compete in hiring workers, so as to avoid raising wages.
The Spanish case: Non-inclusive unions
Unions protect jobs in Spain, supported by government policy. Wage-setters in Spain are strong enough to wield power, but are not inclusive. Acombination of non-inclusive unions and supportive government legislation that protects jobs may help to account for the poor performance of the Spanish labour market.
Based on the model, we would predict high unemployment in Spain, and low unemployment in Norway and Japan. And that is what we see in the data.
Unemployment benefits and unemployment

gross unemployment benefit replacement rateThe proportion of a workers previous gross (pre-tax) wage that is received (gross of taxation) when unemployed.

The employment-enhancing effects of inclusive trade union and government co-insurance policies may help to explain an apparent anomaly: countries with generous unemployment benefits do not have higher rates of unemployment (see Figure 16.16).











Figure 16.16 
Unemployment benefit generosity and unemployment rates across the OECD (20012011).
        






                                View the latest data at OWiD
                        


OECD. 2015. OECD Statistics.



This is anomalous, because in our model an increase in the unemployment benefit would, ceteris paribus, reduce the workers cost of job loss, and shift the wage-setting curve up.
The contrast between unemployment rates and benefits in Norway and Italy illustrates the point. An unemployed person gets a benefit of almost 50% of previous gross earnings in Norway, and unemployment is low; in contrast, benefits in Italy offer a 10% gross replacement rate, and unemployment is much higher than in Norway. The implication is that countries that are able to implement generous but well-designed unemployment insurance schemes, coordinated with job placement services and other active labour market policies, can achieve low rates of unemployment. Providing people with opportunities to smooth consumption may make them readier to embrace new technology, which will shift the price-setting curve upward.

Exercise 16.7 Unemployment rates and labour market institutions
Some people have argued that high unemployment in some European countries relative to the US during the 1990s and 2000s was due to the existence of rigid labour market institutions (for example, powerful unions, generous unemployment benefits, and strong employment protection legislation).13

Using Figure 16.1, check if the unemployment rate has always been higher in most European countries compared to the US.
From what you have learned from this section, and by looking at Figures 16.1, 16.14, and 16.16, evaluate the claim that high unemployment in Europe was due to the existence of rigid labour market institutions.



Question 16.10 Choose the correct answer(s)
The following is a plot of unemployment rate and trade union density for the period 20002012. Trade union density is defined as the fraction of employees who are union members.












Based on this information, which of the following statements is correct?

High trade union density is a necessary condition for a low unemployment rate.
Low trade union density results in high unemployment.
Considering only the Nordic countries (Norway, Denmark, Sweden, and Finland), it can be concluded that high trade union density leads to a low unemployment rate.
Given the trade union density, the relative unemployment outcomes indicate that inclusiveness of trade unions is higher in Norway than in Belgium.


Korea has very low trade union density but manages to have a low unemployment rate.
Czech Republic has a similar trade union density as Slovakia but has a low unemployment rate.
For Norway, Denmark, Sweden, and Finland, the correlation between the unemployment rate and trade union density is positive, that is, the unemployment rate is higher despite having higher trade union density.
Lower unemployment in Norway, despite the same high rate of union density, suggests that unions are more inclusive there than in Belgium.


History, instability, and growthPolitics and policy