16.11 Slower productivity growth in services, and the changing nature of work
The rise and fall of manufacturing employment
As discussed in Unit 1, before the Industrial Revolution most of the output of the economy was made by family members. They were not employees but instead were independent producers of the goods and services both for their own use (called home production) and for sale to others. The Industrial Revolution and the emergence of the capitalist economic system shifted labour from the family and the farm to firms: independent producers became employees.

industryGoods-producing business activity: agriculture, mining, manufacturing, and construction. Manufacturing is the most important component.

Due to technological progress in machine-based production, manufactured goods became cheaper. As a result, textiles and clothing once produced in the home were now purchased and paid for with the wages gained through industrial and other employment. The result was a sustained increase in employment in the industrial sector of the economy. Manufacturing makes up most of the employment in industry, and the terms manufacturing and industry are often used interchangeably.
Labour-saving innovation also made farming more productive. And as people became richer they spent less of their budget on food. Therefore the fraction of the labour force engaged in farming fell.
For many, the shift out of farming and the rise of manufacturing employment meant an improvement in economic opportunities, especially when the trade unions and worker-based political parties forced employers to improve industrial working conditions.
This did not last forever though. Figure 16.18 shows that for most of the worlds large economies, the era of expanding manufacturing employment ended sometime in the third quarter of the twentieth century. Just as manufacturing had initially displaced agriculture as the main kind of employment, the production of services rather than goods has replaced manufacturing. Follow the steps in the analysis in Figure 16.18 to see how major industrial economies passed through stages of rising and falling manufacturing employment at different times.












Figure 16.18 
The rise and fall of the share of employment in industry (18702013).
        






                                View the latest data at OWiD
                        


US Bureau of Labor Statistics. 2004. International Labor Comparisons (ILC). Updated 14 October; International Labour Association. 2015. ILOSTAT Database; The Conference Board. International Comparisons of Annual Labor Force Statistics, 2013.














The shift of employment out of industry


This was led by the UK and the US around 1950, followed by Japan and Germany about 20 years later.




US Bureau of Labor Statistics. 2004. International Labor Comparisons (ILC). Updated 14 October; International Labour Association. 2015. ILOSTAT Database; The Conference Board. International Comparisons of Annual Labor Force Statistics, 2013.














South Koreas rise to industrial prominence


This began only in the last quarter of the twentieth century, yet the share of manufacturing employment in South Korea was already falling by the end of the century.




US Bureau of Labor Statistics. 2004. International Labor Comparisons (ILC). Updated 14 October 2004; International Labour Association. 2015. ILOSTAT Database; The Conference Board. International Comparisons of Annual Labor Force Statistics, 2013.














Manufacturing in Taiwan and Germany


Taiwan now has a larger share of the labour force in manufacturing than Germany.




US Bureau of Labor Statistics. 2004. International Labor Comparisons (ILC). Updated 14 October 2004; International Labour Association. 2015. ILOSTAT Database; The Conference Board. International Comparisons of Annual Labor Force Statistics, 2013.














Manufacturing in China


Unlike the other countries in the figure, in China labour continued to be pulled into the manufacturing sector in the first decade of the 21st century.




US Bureau of Labor Statistics. 2004. International Labor Comparisons (ILC). Updated 14 October 2004; International Labour Association. 2015. ILOSTAT Database; The Conference Board. International Comparisons of Annual Labor Force Statistics, 2013.




The economics of slower productivity growth in services
The amount of labour devoted to agriculture has declined in all of the countries shown in Figure 16.18. Fewer than one in 20 workers in rich countries work in agriculture. The recent big shift in work has been from the production of goods (manufacturing and agriculture) to the production of services. We know that output per hour of labour (productivity) is growing more slowly in the production of services than in manufacturing. This has two effects:

An employment shift: To produce the same mix of goods and services it now takes relatively less labour devoted to goods and more to services.
A consumption shift: The costs of producing goods have fallen relative to the costs of producing services, and so the prices of goods have fallen relative to the prices of services. This leads people to buy more goods and fewer services than they otherwise would have done.

The first of these effects has been stronger than the second.
To see how this process works, lets simplify by using a model in which only the first effect occurs. So we assume that people consume a given ratio of goods (shirts, for example) and services (haircuts). The examples illustrate the reason for slower productivity growth in services: it takes about as long today to cut someones hair as it did 100 or even 200 years ago, but to produce a shirt it takes much less time than it did 200 years ago (probably less than a fifth).
Figure 16.19 shows the model. The total amount of labour employed in the economy is assumed to be 1 (it could be 1 million hours, for example). If all of this labour is devoted to the production of goods, 1 unit of goods is produced. And the same is true of services: if all the labour produces services, then 1 unit of services is produced.
The solid red line is the feasible frontier, showing the amounts of goods and services that are possible given the existing technologies and the amount of labour employed. We assume that the same number of units of goods and services are consumed, so in the figure the quantity of services and the quantity of goods consumed both equal half a unit in the first period. In the second period, productivity rises in manufacturing while staying constant in services, meaning that the cost and hence the price of goods declines relative to services. Follow the steps in the analysis to see the effect on employment.












Figure 16.19 
Increased productivity in goods production raises the fraction of workers in services.
        















The feasible frontier


The solid red line is the feasible frontier and shows the amounts of goods and services that can be produced given the existing technologies and labour available.














Equal split of goods and services


We assume equal amounts of goods and services are consumed: at A, the amount consumed of each equals 1/2.














Manufacturing productivity increases


The productivity of labour in the production of goods doubles, but productivity remains unchanged in services. The new feasible frontier is shown as the dashed line.














More goods, more services


If people continue to consume equal amounts of goods and services, the economy will be at point B with production and consumption of 2/3 units of each.














A shift in employment


At B, labour has shifted from the production of goods to the production of services: 1/3 of the labour produces goods, and 2/3 produces services.




Labour has shifted from goods production to services production. This model is designed to illustrate why the shift took place. Two things left out of the model have, in reality, reduced the shift, and a third one has increasedit:

Productivity increases in some services reduces the shift: We assumed that there was no productivity increase in services. But think of the kinds of services we have discussed in this unit, such as the sharing of music or other forms of digital information, where the productivity advances have been large. If productivity in services increased, then in our model it would at least partially offset the shift in labour. We will see just below, however, that much of the service sector of the economy is made up of such things as personal care, which is more like haircuts than the reproduction of music.
Substitution of goods for services reduces the shift: We increase the proportion of goods we consume if their relative price falls. By assuming that the ratio of goods (shirts) to services (haircuts) did not change, we ignored this process. It would partially offset the decline in goods employment.
An increase in relative demand for services increases the shift: We also ignored the possibility that as incomes rise, people choose to spend more of their budget on services. Remember that services include tourism and other forms of recreation, and also include health, education, and care, which may not be paid directly out of the households disposable income. This would reinforce the shift of labour into services. We have seen this before: it is equivalent to the earlier shift of labour out of agriculture that occurred when the share of food in household budgets shrank.

However, in the countries showing a decline in goods employment relative to services, the net effect of the things we have excluded from the model did not completely offset the deindustrialization of the workforce.
Another complicating factor is that some countries are net importers of goods while others are net exporters, meaning that many goods are purchased in a different country from where they were produced. This is part of the explanation for why different countries have different patterns for the hump-shaped relationship shown in Figure 16.18. International trade and the opportunities for specialization that came with it accelerated the decline in the goods-producing share of employment in some countries (the US and the UK, for example), but slowed it down in others (Germany, South Korea).
Chinas growing share of employment in goods reflects the forces seen elsewhere in the now-rich countries and its specialization in exporting manufactured goods. The Einstein at the end of this section illustrates the logic behind Figure 16.19 and analyses the result of a productivity increase in goods production.

Einstein How faster productivity growth in goods production may shift employment from goods to services
This Einstein explains the logic behind Figure 16.19 and explains why a productivity increase in goods production shifts employment to firms that produce services. We define s as the productivity of labour in services. Then s = Qs/Ls, the quantity of services divided by the amount of labour employed to produce it. In our model, the following equation holds:


sLs = Qs: The productivity of labour in services multiplied by the amount of labour in services is equal to the amount of services produced.
Qs = Qg: The output of goods must be the same as the output of services. This isnt always true, but we defined it that way in our model.
Qg = gLg: The output of goods is equal to the productivity of labour in the production of goods multiplied by the amount of labour employed in producing goods.

We can now equate the first and last terms of the above equation to give us an expression for the amount of labour that must be employed in the two sectors, given the productivity levels in each sector, if they produce an equal number of units of output:

We then rewrite this expression, using the fact that the total amount of labour in the two sectors sums to one:

Then we rearrange the equation using the first and last terms to get an expression for the amount of labour engaged in service production:

In the figure, productivity in both of the two sectors was 1, so the amount of labour engaged in goods production was 1/2. When the productivity of labour in goods production doubles:

This is the share of labour devoted to the production of services after the increase in productivity of the labour used in the production of goods.


Question 16.11 Choose the correct answer(s)
Figure 16.18 is a graph of the share of employment in manufacturing industry in different countries.
Based on this information, which of the following statements are correct?

The share of employment in industry has been falling in all countries shown.
The shift of employment out of industry was led by the UK and the US around 1950.
The UK has consistently had a higher share of total employment in industry than the US.
The Far East countries now all have higher shares in industry than Germany, the UK, or the US.


This is not true for Taiwan or China.
These countries saw the earliest decline in the share of manufacturing in employment.
The line for the UK is consistently above that for the US.
Germany still has a higher share in industry than Japan or Korea.


InnovationPolitics and policy