16.1 Technological progress and living standards

innovation rentsProfits in excess of the opportunity cost of capital that an innovator gets by introducing a new technology, organizational form, or marketing strategy. Also known as: Schumpeterian rents.creative destructionJoseph Schumpeters name for the process by which old technologies and the firms that do not adapt are swept away by the new, because they cannot compete in the market. In his view, the failure of unprofitable firms is creative because it releases labour and capital goods for use in new combinations.capital goodsThe durable and costly non-labour inputs used in production (machinery, buildings) not including some essential inputs, e.g. air, water, knowledge that are used in production at zero cost to the user.

In Unit 2 we saw how firms could earn Schumpeterian innovation rents by introducing new technology. Firms that fail to innovate (or copy other innovators) are unable to sell their product for a price above the cost of production, and eventually fail. This process of creative destruction led to sustained increases in living standards on average because technological progress and the accumulation of capital goods are complementary: each provides the conditions necessary for the other to proceed.

New technologies require new machines: The accumulation of capital goods is a necessary condition for the advance of technology, as we saw in the case of the spinning jenny.
Technological advance is required to sustain the process of capital goods accumulation: It means that the introduction of increasingly capital-intensive methods of production continues to be profitable.

The second point here needs explanation. Start with the production function that we used in Units 2 and 3. We discovered that output depends on labour input, and that the function describing this relationship shifts upward with technological progress, so that the same amount of labour now produces more output. In Unit 3 the farmer had a fixed amount of land: we assumed the amount of capital goods was fixed. But as we have seen, the amount of capital goods which the modern worker uses is vastly greater than that used by farmers in the past.

capital-intensiveMaking greater use of capital goods (for example machinery and equipment) as compared with labour and other inputs. See also: labour-intensive.labour productivityTotal output divided by the number of hours or some other measure of labour input.

Now we include capital goods (machinery, equipment, and structures) explicitly in the production function. If you look at the horizontal axis in Figure 16.2, you will see that it records the amount of capital goods per worker. This is a measure of what is called the capital intensity of production. On the vertical axis, we have the amount of output per worker, also known as labour productivity.












Figure 16.2 
The economys production function and technological progress.
        















Diminishing returns to capital


The production function is characterized by diminishing returns to capital.














The marginal product of capital


The magnified section at point A shows how the marginal product of capital is calculated: it is the slope of the tangent to the production function at A.














Higher capital intensity


The marginal product of capital is falling as we move along the production function to higher capital intensity.














Technological progress


This rotates the production function upward.














The original production function


At point B on the original production function, capital per worker is $20,000 and output per worker is $15,000.














After technological progress


Consider point C on the new production function (after technological progress), at which capital per worker has risen to $30,000 and output per worker has risen to $22,500.














The slope of the production function


We have chosen point C so that the slope of the production function, and therefore the marginal product of capital, is the same as at point B.














The average product of capital


The dotted blue line goes from the origin through the production functions for the old and new technologies. Its slope is the average product of capital.




As was the case in Unit 3, the production function describes diminishing marginal returns: as the worker works with more capital goods, output increases, but at a diminishing rate (Charlie Chaplin showed in the 1936 film Modern Times that there is a limit to the number of machines a worker can make use of). This means that with increasing quantities of capital goods, we have a diminishing marginal product of capital goods. The slope of the production function at each level of capital per worker shows the marginal product of capital. It shows how much output increases if capital equipment per worker increases by one unit.
The magnified section at point A in Figure 16.2 shows how the marginal product of capital is calculated: note that Y/worker is used as shorthand for output per worker, and the marginal product of capital (MPK) is Y/K. The marginal product of capital at each level of capital per worker is the slope of the tangent to the production function at that point.
Leibniz: Malthusian economics
Leibniz: Labour and production
Previous Leibnizes have showed how to use calculus to calculate the MPK at any point on a given production function. Take a moment to have another look at them.

concave functionA function of two variables for which the line segment between any two points on the function lies entirely below the curve representing the function (the function is convex when the line segment lies above the function).

We can see from Figure 16.2 that the marginal product of capital is falling as we move along the production function. A production function that exhibits diminishing returns to capital is concave. Concavity captures the fact that output per worker increases with capital per worker, but less than proportionally.
Concavity means that an economy will not be able to sustain growth in output per worker simply by adding more of the same type of capital. At a certain point, the marginal productivity of capital becomes so low that it is not worth investing any further. As we saw in Unit 14, business owners will invest domestically only if the return is higher than the return to buying bonds (the yield) or investing abroad, and at the same time, high enough that they do not simply want to spend their profits on consumption goods.
Sustained economic growth requires technological change that increases the marginal productivity of capital. This rotates the production function upwards and makes it profitable to invest domestically, leading to increased capital intensity. Follow the steps in the analysis in Figure 16.2 to see how the combination of technological change and capital investment raises output per worker.

TaylorismInnovation in management that seeks to reduce labour costs, for example by dividing skilled jobs into separate less-skilled tasks so as to lower wages.

New technology can also refer to new ways of organizing work. Remember that a technology is a set of instructions for combining inputs to make output. The managerial revolution in the early twentieth century called Taylorism is a good example: labour and capital equipment were reorganized in a streamlined way, and new systems of supervision were introduced to make workers work harder. More recently, the information technology revolution allows one engineer to be connected with thousands of other engineers and machines all over the world. The ICT revolution therefore rotates the production function upward, increasing its slope at every level of capital per worker.
In Figure 16.2, you can see a dotted blue line from the origin through the production functions for the old and new technologies. The slope of this line tells us the amount of output per unit of capital goods at the point where it intersects the production function: it is the amount of output per worker divided by the capital goods per worker. From the diagram, we note that points B and C on the two production functions have the same output per unit of capital goods.
To see how technological progress and capital accumulation shaped the world, we focus on the countries that have been the technology leaders. Britain was the technological leader from the Industrial Revolution until the eve of the First World War, when the US took over leadership. Figure 16.3 has capital per worker on the horizontal axis and output per worker on the vertical axis.
We can now look at the path traced out over time by the UK and the US. Looking first at Britain, the data begins in 1760 (the bottom corner of the chart) and ends in 1990 with much higher capital intensity and productivity. The bottom right-hand side of the diagram shows the same points in the familiar hockey-stick chart for GDP per worker. As Britain moved up the hockey stick over time, both capital intensity and productivity rose. In the US, productivity overtook the UK by 1910 and has remained higher since. In 1990, the US had higher productivity and capital intensity than the UK.












Figure 16.3 
Long-run growth trajectories of selected economies.
        






                                View this data at OWiD
                        


Robert C. Allen. 2012. Technology and the Great Divergence: Global Economic Development Since 1820.Explorations in Economic History 49(1) (January): pp.116.














The UK


The data begins in 1760 at the bottom corner of the chart, and ends in 1990 with much higher capital intensity and productivity.




Robert C. Allen. 2012. Technology and the Great Divergence: Global Economic Development Since 1820.Explorations in Economic History 49(1) (January): pp.116.














GDP per worker


The bottom right-hand side of the diagram shows the same points in the familiar hockey-stick chart for GDP per worker, using the ratio scale.




Robert C. Allen. 2012. Technology and the Great Divergence: Global Economic Development Since 1820.Explorations in Economic History 49(1) (January): pp.116.














The US


In the US, productivity overtook the UK by 1910 and has remained higher since.




Robert C. Allen. 2012. Technology and the Great Divergence: Global Economic Development Since 1820.Explorations in Economic History 49(1) (January): pp.116.














Japan, Taiwan, and India


The paths of Japan, Taiwan, and India show that moving along the hockey-stick curve of living standards requires capital accumulation and the adoption of new technology.




Robert C. Allen. 2012. Technology and the Great Divergence: Global Economic Development Since 1820.Explorations in Economic History 49(1) (January): pp.116.




Figure 16.3 shows that the countries that are rich today have seen labour productivity rise over time as they became more capital-intensive. For example, if we look at the US, capital per worker (measured in 1985 US dollars) rose from $4,325 in 1880 to $14,407 in 1953, and $34,705 in 1990. Alongside this increase in capital intensity, US labour productivity rose from $7,400 in 1880 to $21,610 in 1953, to $36,771 in 1990. John Habakkuk, an economic historian, has argued that wages were high for factory workers in the US in the late nineteenth century because they had the option to move to the west of the country: therefore the factory owners had the incentive to develop labour-saving technology.3
Productivity growth has reduced labour input per unit of output: the fear of the Luddites and the forecasts of the end of work authors was that this would cause permanent job loss.
From Figure 16.3 it is clear that the historical paths traced out by these economies are not curved like the single production function in Figure 16.2. This is because they experienced a combination of capital accumulation and technological progress. Successfully growing economies move along paths similar to the blue dotted line between B and C in Figure16.2.
We know from Unit 1 that other countries moved up the hockey stick at very different times. Consider Japan, Taiwan and India in Figure 16.3. Notice that by 1990, capital per worker in Japan was not only higher than in the US, but also almost twice as high as in Britain. Japan had reached this level in less than half the time it took Britain. Taiwan in 1990 was also more capital-intensive than Britain. The lead in mass production and science-based industries that the US had established was eroded as other countries invested in education and research, and adopted American management techniques.4
Interpreting Figure 16.3 using the model of the production function in Figure 16.2 shows that countries adopted more capital-intensive methods of production as they became richer. However, while Japan and Taiwan both experienced substantial technological progress, the fact that output per worker remained below that of both the US and Britain means that they remained on a lower production function.
To summarize:

Technological progress shifted the production function up: It was stimulated by the prospect of innovation rents.
This offset the diminishing marginal returns to capital: Capital productivity, measured by the slope of a ray from the origin, remained roughly constant over time in the technology leaders.

Technological progress played a crucial role in preventing diminishing returns from ending the long-run improvement in living standards resulting from the accumulation of capital goods.

Question 16.2 Choose the correct answer(s)
The following diagram shows an economys production function before and after technological progress:












Based on this information, which of the following statements is correct?

The average product of capital at B is 20,000 / 15,000 = 1.33.
The marginal product of capital at C is (22,500  15,000) / (30,000  20,000) = 0.75.
The concavity of the production function indicates a diminishing marginal product of capital.
As a result of a technological progress, the marginal product of capital rises but the average product of capital remains constant, for a given level of capital per worker.


The average product of capital at B is 15,000/20,000 = 0.75.
The marginal product of capital at C is the slope of the production function at C.
This means that the slope gets flatter as it moves to the right.
On the diagram, C and B have the same average product of capital. These are not at the same level of capital per worker, however. At a given level of capital per worker, both average and marginal products of capital rise with technological progress.


Global economyInequalityPolitics and policy