16.2 The job creation and destruction process
Labour-saving technological progress of the type illustrated in Figures 16.2 and 16.3 allows more outputs to be produced with a given amount of labour, and it also contributes to the expansion of production. By incentivizing investment, it compensates for some of the jobs it has destroyed, and may even create more jobs than previously existed. When more jobs are created than destroyed in a given year, employment increases. When more jobs are destroyed than created, employment decreases.

stockA quantity measured at a point in time. Its units do not depend on time. See also: flow.flowA quantity measured per unit of time, such as annual income or hourly wage.

We know that at any moment there are some people who are involuntarily unemployed. They would prefer to be working, but dont have a job. The number of unemployed people is a stock variable, measured without a time dimension. It changes from day to day, or year to year, as some of the jobless are hired (or give up seeking work), other people lose a job, and yet others decide to seek work for the first time (young people leaving school or university, for example). Those without work are sometimes called the pool of the unemployed: people getting a job or ceasing to look for one exit the pool, while those who lose their jobs enter the pool. The number of people getting and losing jobs is a flow variable.
The total job reallocation process is the sum of job creation and destruction. Compared to that, the net growth of employment is typically small and positive.
Figure 16.4 shows the job destruction, job creation, and net employment growth in some countries. Note that in the UK from 1980 to 1998, more jobs were destroyed than created: net employment growth was negative. Across a set of countries at different stages of development, and with different openness to international trade, we see a fairly similar rate of job reallocation. In most countries, about one-fifth of jobs are created or destroyed each year, in spite of widely varying rates of net employment growth.











Figure 16.4 
Job destruction, job creation, and net employment across countries.
        





John Haltiwanger, Stefano Scarpetta, and Helena Schweiger. 2014. Cross Country Differences in Job Reallocation: The Role of Industry, Firm Size and Regulations.Labour Economics (26): pp.1125.



Now imagine an economic system in which new jobs are created at a rate of 2% each year, and job destruction is banned (that is, the job destruction rate is zero). This economy would also see a net employment growth of 2%. This is what a planner might seek to do. Figure 16.4 shows this is not the way a capitalist economy works in practice: there is no planner. Competition and the prospect of gaining economic rents both mean that creating some jobs often implies destroying others.
To understand how job creation and destruction take place in an industry, we look at the impact of the information technology revolution in the US retail sector since the 1990s. The adoption of systems that electronically link cash registers to scanners, credit card processing machines, and to management systems for both inventories and customer relationships allowed tremendous increases in output per worker. Think of the volume of retail transactions handled per cashier in a new retail outlet.
Research shows that labour productivity growth in the retail sector was entirely accounted for by more productive new establishments (such as retail units or plants) displacing much less productive existing establishments (including older establishments of the same firm, as well as shops and plants owned by others, where jobs were lost).
We showed the massive expansion of employment in the US firm Walmart in Figure 7.1 of Unit 7. Walmarts growth was partly based on opening more efficient out-of-town stores, made possible by new retail and wholesale technologies.
For the manufacturing sector, detailed evidence collected from all the firms in the economy shows how productivity growth takes place through the creation and destruction of jobs inside firms, and by their entry and exit. Data for Finland in the years from 1989 to 1994, for example, shows that 58% of productivity growth took place within firms (similar to the Walmart example). The exit of low-productivity firms contributed to a quarter of the increase, and 17% was contributed by the reallocation of jobs and output from low- to high-productivity firms.
The French construction industry provides another example of the reallocation of work from weaker to stronger firms. According to the French National Institute of Statistics, more of the jobs in the economy were destroyed than created in firms with very low productivity (in the bottom 25%). Between 1994 and 1997, these firms created 7.1% of new jobs and destroyed 16.1%, implying that employment in those firms shrank by 9.0%. In contrast, job creation exceeded destruction (17.1% against 11.8%) in the top 25% of construction firms.

Exercise 16.2 Schumpeter revisited

In Unit 2 we discussed how Joseph Schumpeter characterized capitalist economies by the process of creative destruction. In your own words, explain what this term means.
Based on this definition, give examples of destruction and creation, and identify the winners and the losers in the short and long run.


Politics and policy