16.5 New technology, wages, and unemployment in the long run
We have seen that, contrary to the fears of the Luddites, the constant increase in the amount produced in an hour of work has not resulted in ever-increasing unemployment. It is wages that on average have risen, not unemployment.
In many countries, the combination of technological progress and investment that raises the capital stock roughly doubled the productivity of labour each generation. Our model showed the result: a rise in the real wage that was consistent with profits high enough to motivate firm owners to continue investing, rather than using their wealth in other ways.
The Luddites were right to be concerned about the hardships experienced by those thrown out of work. What they missed is that the additional profits made possible by the introduction of the new technologies provided a kind of self-corrective: additional investments that would sooner or later result in the creation of new jobs.
The upward shift in the price-setting curve is illustrated in Figure 16.9a, which shows the status quo (old technology) with the long-run equilibrium at A, and a technological advance that shifts the long-run equilibrium to B. At point B, the real wage is higher and so is the employment rate, in other words, unemployment is lower. The model shows that technological progress need not raise unemployment in the economy as a whole.
Before examining the experiences of unemployment in different countries, we need to understand:

What determines the rate of increase in the productivity of labour? This accounts for the upward shift in the price-setting curve.
How does the economy shift from A to B? Both are long-run equilibria in the labour market.













Figure 16.9a 
The long-run unemployment rate and new technology.
        















The long-run equilibrium before the new technology is introduced


This is at point A.














A technological advance


This shifts output per worker and the price-setting curve upwards.














The long run equilibrium effect on employment


At point B, the real wage is higher and unemployment is lower.




New knowledge and new technology: The innovation diffusion gap

diffusion gapThe lag between the first introduction of an innovation and its general use. See also: diffusion.

It often takes years, if not decades, before an improved technology is widely introduced in an economy. This diffusion gap causes differences between the productivity of labour in the most advanced firms and the firms that lag technologically.
In the UK, one study found that the top firms are more than five times as productive as the bottom firms. Similar differences in productivity have been found in firms in India and China. In Indonesias electronics industrya part of the highly competitive global marketdata from the late 1990s show that the firms at the 75th percentile were eight times as productive as those in the 25th percentile.
The low-productivity firms manage to stay in business because they pay lower wages to their employees, and in many cases earn a lower rate of profit on the owners capital as well. Closing diffusion gaps can greatly increase the speed at which new knowledge and management practices are in widespread use.
This may occur when a union bargains for wages such that equivalent workers are paid the same throughout the economy. One consequence of this is that the least productive firms (which are also those paying low wages) will experience wage increases, making some of these firms unprofitable and putting them out of business. The union might also support government policies that complement its role in hastening the exit of unproductive firms, raising average productivity in the economy and shifting up the price-setting curve. In this case, associations of workers can help bring about creative destruction instead of resisting it.
Associations of owners may also be part of the process of creative destruction by not seeking to prolong the life of unproductive firms, knowing that their demise is part of the process of making the pie larger. But in many cases, employees and owners of the lagging firms do not act in this way. They gain protection through subsidies, tariff protection, and bailouts that guarantee, at least for a time, the survival of the unproductive firm and its jobs.
The rate at which the economys price-setting curve shifts upward depends on which of these attitudes towards the process of creative destruction is predominant. Economies differ greatly in this respect.
Adjustment to technological change: The employment and wage adjustment gap
Economies differ too in how they make the journey from the status-quo equilibrium like A to a new equilibrium such as B in Figure 16.9b.
Recall that the price-setting curve in the long-run model is the level of the real wage such that firms will neither enter nor leave the economy. So the move from point A (at 6% unemployment) to point B (at 4% unemployment) occurred because firms entered the economy, a process that takes some time. What happened along the way? Follow the steps in the analysis in Figure 16.9b to see one possible path.












Figure 16.9b 
The long-run unemployment rate and new technology.
        















The response to new technology


A new technology means that fewer workers can produce the same output. How does the economy adjust?














The implementation of the new technology


The new technology initially displaces a substantial number of workers from their jobs. At point D, the wage is the same but there are fewer jobs.














Economic profits are high at D


New firms will be attracted to the economy and investment will rise. Unemployment eventually falls as the economy moves from D to E.














Wages rise


With lower unemployment, firms have to set higher wages to secure adequate worker effort, so wages go up.














A new equilibrium


Adjustment stops when the economy is at point B, with higher real wages and lower long-run unemployment.




Was this a win-win journey? Only if you compare the start and end points or have a sufficiently long time horizon. The time between the introduction of new technology and the new long-run equilibrium is usually measured in years or even decades, not weeks or months. Younger workers might have more to gain from the eventual higher wages and employment, but older workers might never experience the outcome at B.
Also, note that in Figure 16.9b, we assumed that the real wage did not decline in the short run. But if the economy were to move to point D, firms could lower the real wage so that it lies on the wage-setting curve at the new level of unemployment. This is more likely to happen if the new investment that would take the economy to point E is slow in arriving. In that case, wages may fall under the pressure of greater unemployment before employment adjusts upwards.
We have already seen that in Britain, the adjustment to the technological progress in the eighteenth and nineteenth centuries (the Industrial Revolution) was not rapid. There was a prolonged delay before real wages began to rise continually, starting around 1830.

adjustment gapThe lag between some outside change in labour market conditions and the movement of the economy to the neighbourhood of the new equilibrium.

Just as was the case with the diffusion gap, public policies, trade union, and employer association practices can alter the size of this employment and wage adjustment gap. Government policy can help reallocate workers to new firms and sectors by providing job-matching and retraining services, and by providing generous but time-limited unemployment benefits. This helps workers released from failing firms to move quickly to better ones.
The size of these adjustment gaps also depends on institutions and policies that could ease or hamper the creation of jobs in new sectors. If the wage is below the price-setting curve, profits are sufficient to create new investment and form new firms. This is part of the process of adjusting to creative destruction. Some countries have well-designed product-market regulation and competition policy that make it easier to start a new business. In others, incumbent businesses have succeeded in making it difficult for new firms to enter, which slows or even prevents the economy moving to point B.
Looking back at Figure 16.1, you may wonder why the unemployment rate does not shrink continuously in a world with continuous technological progress. The reason is that other forces in the economy lead to the wage-setting curve shifting upwards. Trade unions could be responsible for this shift (as in Unit 9), but there are other explanations:

Unemployment benefits: Elected members of government may adopt more generous unemployment benefits as the economy adjusts to the new technology. They wish to assist those out of work. This improves the reservation position of workers and shifts the wage-setting curve up.
Rural wages: Technological improvements in the countryside and migration from rural areas to cities associated with the implementation of new technology in manufacturing may raise rural incomes and therefore increase the workers reservation option, which lowers the cost of losing a manufacturing job. As a result, urban employers must pay more to induce employees to work. This situation could occur in developing countries with large rural sectors.

We further explore these forces in Unit 17, when we investigate the golden age of capitalism following the Second World War.
Lessons from creative destruction and consumption smoothing
By this time, you may have noticed two recurring themes in this course:

Creative destruction: Improvements in living standards often occur by a process of technological progress in which jobs, skills, entire sectors, and communities become obsolete and are abandoned. We study this process in Units 1, 2, 16, and 21.
Consumption smoothing: Households faced with shocks to their income seek to even out the ups and downs of their standard of living through borrowing, unemployment benefits, mutual assistance among family and friends, and other forms of co-insurance. We studied this process in Units 10, 13, and 14.

The two themes above are related. People suffering from job destruction will suffer less if they can smooth their consumption. Economies differ greatly in the extent to which their policies, culture, and institutions allow consumption smoothing. In those that do this well, resistance to the creative-destructive forces of technological progress is likely to be low. In those that do not, owners and employees alike will try to find ways to resist (or halt) the process of creative destruction, preferring to defend their firms assets and existing jobs.
The attitude of unions to the process of job destruction and creation is an example. In countries with adequate consumption-smoothing opportunities, trade unions tend not to insist on a workers right to keep a particular job. Instead they demand adequate new job opportunities, and support in searching and training for new work.

employment protection legislationLaws making job dismissal more costly (or impossible) for employers.

In other countries, unions and government policy seek to protect the status quo matching of workers to jobs, for example by making it more difficult to terminate a labour contract, even when the worker has performed inadequately. This employment protection legislation may be harmful to labour market performance by enlarging the diffusion and adjustment gaps, and slowing the rate of technical progress, while at the same time pushing the wage-setting curve up.9
These differing responses to the opportunities and challenges presented by creative destruction will help us understand why some economies performed better than others in recent history.







                        Other video options
                    


Bilibili
Download
View transcript




In our Economist in action video, John Van Reenen uses the game of cricket to explain how the economys average productivity is affected by the survival of low productivity firms.



Question 16.6 Choose the correct answer(s)
Watch our Economist in action video featuring John Van Reenen about the determinants of the productivity of firms. Based on the video, which of the following statements is correct?

The huge variation in productivity across countries and firms is due to differences in management practices.
A countrys openness to foreign direct investment (FDI) is more important for improving productivity than creative destruction.
The creative part of creative destruction is effective in improving productivity in the short and long run.
A countrys openness to imports can affect its productivity.


Different management practices are part of the explanation, but do not entirely explain the huge variation. Technology and the rate of innovation diffusion is another important determinant.
While a countrys openness to FDI is an important factor for improving productivity, the video did not suggest that it is more important than creative destruction.
Driving up average productivity through new entry and innovation (the creative part) takes time and the effects can usually only be seen in the long run. The closure of low productivity plants will raise average productivity in the short run, a phenomenon sometimes referred to as the batting average effect.
Openness to imports affects the flow of new ideas into the economy, which can promote technological advances and innovation.



Question 16.7 Choose the correct answer(s)
Figure 16.9b depicts the long-run adjustment process in the labour market after technological progress.
Based on this information, which of the following statements is correct?

The new technology does not cause any increase in unemployment, either in the short run or in the long run.
At D firms increase investment, and hence employment, due to the large gap between the real wage paid and the workers wage-setting curve.
Lower unemployment at E implies a higher wage required to induce workers to exert high effort, resulting in the higher real wage at B.
The adjustment from equilibrium A to the new equilibrium at B is immediate.


In the short-run, initially there is a displacement of some workers from their jobs, which increases unemployment, as shown by the movement from point A to point D.
Firms increase investment due to the large gap between the old real wage (solid line) and the new output per worker (dashed line), which implies higher profits.
E is below the wage-setting curve so workers need a higher wage to be induced to work.
The adjustment to the new equilibrium requires entry of new firms, which can take a substantial amount of time.


InequalityInnovation