16.7 How long does it take for labour markets to adjust to shocks?
How long is the long run? In 1923, John Maynard Keynes wrote:

The long run is a misleading guide to current affairs. In the long run we are all dead. Economists set themselves too easy, too useless a task if in tempestuous seasons they can only tell us that when the storm is past the ocean is flat again. (A Tract on Monetary Reform)10

What you think about Keynes quote, especially the italicized part, may depend on your age (he was 40 at time and would live another 23 years). The sea is flat in equilibrium, in Keynes metaphor, but if you are interested in safe navigation what may be more important is what happens in the passage from one equilibrium to another, in other words, getting through the storm. Keynes advocated what we have earlier termed a dynamic view of the economy, that is, one that focuses on changes.
In Section 16.5 we studied how, if the labour market is knocked out of equilibrium by a labour-saving innovation that puts employees out of work, there may be a new long-run equilibrium in which the displaced workers are re-employed at higher wages. Keynes point is that good economic policies have to be based on an understanding of how the economy gets from one equilibrium to the other and how long it takes.
But many economists since have taken what Keynes called the easy approach and just focused on one or more equilibria. When something changes (like a new technology), economists compare the equilibrium before and after the change. This is termed the comparative static approach (static means unchanging, so the idea is to compare two things that are differentthe before and afterbut are themselves static.)
Hal Varian (1947 ), an important American economic theorist, points out the difficulties in knowing what happens out of equilibrium and so tells the readers of his popular microeconomics text: we will generally ignore the question of how the equilibrium is reached, and focus only on the issue of how firms behave in the equilibrium.
Varian is right: it is important to know what happens in equilibrium and how the level of employment, wages, and profits that occur in equilibrium will differ depending on conditions and policies adopted. It is also not true that in the long run we are all dead, unless the only people you count as we are those alive now, not future generations who will live after you and experience the long run effects of the policies adopted now. And we know from Unit 4 that people do care about the wellbeing of others, so the long run matters even if it is very long.
If when things change, the economy moves quickly from one equilibrium to another, the comparative static approach advocated by Varian makes sense. If the process of equilibration takes a long time or if we cannot even be sure that the economy will move to another equilibrium (see Do bubbles exist? in Unit 11), then Keynes emphasis on the dynamics of the adjustment process seems appropriate.
In Unit 11 we explained that when a market is not in equilibrium, there are opportunities for economic actors to benefit by changing the price or quantity they are selling or buying. These so-called rent-seeking activities are part of the process by which a new equilibrium is established. In a fish market, for example, rent seeking just means offering or charging a different price, and the process of getting to a new equilibrium is relatively quick.







                        Other video options
                    


Bilibili
Download
View transcript




Kathryn Graddy: Fishing for perfect competition


But in the labour market, if competition from other firms has reduced the demand for the good you are producing and put you out of work, the process is going to be slower. The reason is that the rent seeking that may bring about a new equilibrium may involve you retraining to develop a new set of skills, or you may have to uproot your family and seek work in a new location.
The debate on how quickly the US labour markets would adjust to the shock of competition from imports of manufactured goods from China is a case in point. Around the turn of the current century after more than a decade of rapidly rising imports from China, there was a consensus among US economists that imports were not having any major negative effect on wages or employment, in part because workers producing goods competing with imports could easily relocate to other regions. In another of our earlier Economist in action videos on global production and outsourcing, Richard Freeman asked if wages in the US were being set in Beijing and answered with a resounding no.







                        Other video options
                    


Bilibili
Download
View transcript




Richard Freeman: You cant outsource responsibility


Yet evidence was accumulating even then that the adjustment of the US economy to the China shock was not going to be a simple textbook comparative static jump from one equilibrium to another. Most economists did not then anticipate the extent to which China would quickly come to dominate global production of manufactured goods: having produced one-twentieth of the worlds manufactured goods in 1990, a quarter of a century later it produced a quarter of the global total.
But it was not just the unexpected size of the China shock that overturned the optimism of many economists; the labour markets adjustment did not work as quickly as they had assumed.
The impact on US labour markets was geographically concentrated: parts of the state of Tennessee specializing in furniture production and facing competition from China were hard hit, while nearby Alabama specializing in heavy industry was barely affected since China did not export heavy industrial goods. The geographical concentration of the effects of the China shock has allowed economists to study how labour markets adjusted.11
They found that in US labour markets, the long run is a very long time. China exposed regions suffered major losses in manufacturing employment; many of the jobless found it impossible to find work locally and gave up, they left the labour force. Very few left the region. Localities hit by import competition in the 1990s continued to be depressed into the second decade of this century. Between 1999 and 2011, the China shock led to a loss of 2.4 million jobs.
The conclusion of a major study of the China shock sounded more like Keynes than Varian. If one had to project the impact for the US labour market with nothing to go on other than a standard undergraduate economics textbook, one would predict large movements of workers between US tradable industries (meaning, exporting or competing with imports), for example, from apparel and furniture to pharmaceuticals and jet aircraft. You would also expect limited reallocation of jobs from tradables to non-tradables, and no net impacts on US aggregate employment. The reality of adjustment to the China trade shock has been very different.
Adjustment to the introduction of labour-saving machinery, which we have studied in this unit, is likely to be similarly slow. In Unit 18 we return to China in the world economy, and show that the response to the China shock in Germany was quite different.
History, instability, and growthGlobal economyInequalityInnovationPolitics and policy