17.12 The economy as teacher
Economists learned about the importance of aggregate demand from the Great Depression, but it gave them an undue confidence that a combination of fiscal and monetary policy would virtually eliminate unemployment in the long run. In Section 17.6, we saw the limits to this policy when the golden age broke down, with intensified conflict between workers and employers reflected in rising inflation.
The dominance of the prevailing Keynesian aggregate demand-oriented view helps explain most economists failure to diagnose the supply-side nature of the first oil shock in 1973. Figure 17.28 illustrates this policy mistake for the US. The doubling of the oil price (in real terms) is indicated by the increase in the index from 5 to 10 in the chart in 1973. From Unit 15 and this unit, we know that when the national economic pie is reduced by a commodity price shock, this will intensify the conflict of interest over its division, and so inflation increased to more than 10% in 1974. Yet policymakers were focused on the effect of the oil price shock in reducing aggregate demand and raising unemployment. They responded by loosening monetary policy (look at the falling nominal and real interest rates). Fiscal policy was not tightened.











Figure 17.28 
Policy choices during the end of the golden age: The US (196079).
        






                                View this data at OWiD
                        


Federal Reserve Bank of St Louis (FRED); Congressional Budget Office; US Bureau of Labor Statistics.



A different response followed the second oil shock in 1979. The focus was on the need to reduce inflation and to restore expected profits. Instead of attempting to support aggregate demand, policymakers paid attention to the upward pressure on inflation created by the oil shock. Monetary and fiscal policy were directed toward the control of inflation as advocated by Milton Friedman a decade earlier; policy was tightened and governments were prepared to allow unemployment to rise in order to reduce inflation.
Expressed in terms of the labour market model, policymakers now recognized that the oil shock raised the inflation-stabilizing unemployment rate, which led them to implement supply-side policies to weaken trade unions (to shift the wage-setting curve down) and to increase competition in monopolized industries such as telecommunications (to shift the price-setting curve up). These policies were closely associated with Prime Minister Margaret Thatcher in the UK and President Ronald Reagan in theUS.
By extending deregulation from labour and product markets to the financial system, policymakers of the post-1979 epoch created the conditions in which financial practices that led to the global financial crisis could proliferate. Hyman Minsky had warned as early as 1982 how this could occur in tranquil macroeconomic circumstances.
Some had echoed Minskys thinking well before the crisis. For example, in September 2000, Sir Andrew Crockett, general manager at the Bank for International Settlements, told banking supervisors:

The received wisdom is that risk increases in recessions and falls in booms. In contrast, it may be more helpful to think of risk as increasing during upswings, as financial imbalances build up, and materializing in recessions.5

In the table in Figure 17.29 we summarize the lessons for economists from each epoch.





Epoch
Dates
Prior conventional wisdom
Economic outcomes
What economists learned
Primary author


1920s and the Great Depression
19211941
Markets are self-correcting, efficient, and ensure the full use of resources.
Collapse of aggregate demand, high and persistent unemployment.
Instability is an intrinsic feature of the aggregate economy and aggregate demand can be stabilized by government policy.
Keynes


Golden age of capitalism and its demise
19451979
Government policy can implement an employment target by picking a point on the Phillips curve.
Late-60s decline in profits, investment, and productivity growth.Stable Phillips curve trade-off disappears.
With given institutions, the need to maintain profits, investment, and productivity growth can limit the ability of a government to implement sustainable low unemployment using aggregate demand policies.
Friedman


From stagnation to the financial crisis
19792016
Instability has been purged from capitalist dynamics; minimally regulated financial markets work well.
Financial and housing market crash of 2008.
Debt-fuelled financial and housing bubbles can co-exist with low and stable inflation, and will destabilize an economy in the absence of appropriate regulations.
Minsky




Figure 17.29 
The economy as teacher: What economists learned in the three epochs.
        




We can draw three conclusions:

Economists have learned from the successes and the failures of the three epochs: Though the process has been slow, economics today is the result of this process.
Successful policies in each epoch did not prevent positive feedback processes that contributed to subsequent crises: Each epoch succeeded initially because the policies and institutions that had been adopted addressed the shortcomings of the previous epoch. But then policymakers and economists have been taken by surprise when virtuous circles have turned into vicious circles.
No school of thought has policy advice that would have been good in every epoch: The value of competing approaches and insights depends on the situation. Ideas from both Friedman and Keynes have been essential to what economists have learned.

When Germany invaded France in 1914 at the beginning of the First World War, the French soldier Andr Maginot was wounded in the attack. When he later became minister of war he was determined to construct an impregnable line of defence, which we remember as the Maginot Line, in case German soldiers tried to march into France again.
But come the beginning of the Second World War, Germanys blitzkrieg (lightning war) attack used tanks and motorized troop carriers. The Germans didnt breach the Maginot line, they just drove around it.
Economists today are trying to avoid Maginots error. A careful study of the economic history of the past century will help us to not simply fight the last war, but to prepare for whatever new difficulties will arise.

Exercise 17.9 Banking regulations can help bring on financial crises
An Economist in action video shows Anat Admati, an economist, explaining the problems with the regulation of the banking system.







                        Other video options
                    


Bilibili
Download
View transcript




Anat Admati: Whats wrong with banking (and what to do about it).



Using housing prices as an example, explain the upsides and downsides of leverage.
According to the video, what is the key difference between banks and other corporations, and why is this dangerous for the banking system?
What are some factors that contribute to the fragility and riskiness of the banking system, and how can we prevent future financial crises from occurring?



Exercise 17.10 Hoovers balanced budget
On 4 April 1932, as the US economy spiraled downward, President Hoover wrote to the US Congress to advocate a balanced budget and cuts in government spending.
Read Hoovers letter and write a critique of it, using the economics concepts from Units 13 to 17.


Exercise 17.11 Austerity policy
In Unit 14, we introduced the paradox of thrift and examined the use of austerity policies in many countries before their economies had recovered from the recession that followed the 2008 crisis.
Were the lessons of the Great Depression forgotten when austerity policies were introduced? An analysis written by Barry Eichengreen and Kevin ORourke will help you answer this question.


paradox of thriftIf a single individual consumes less, her savings will increase; but if everyone consumes less, the result may be lower rather than higher savings overall. The attempt to increase saving is thwarted if an increase in the saving rate is unmatched by an increase in investment (or other source of aggregate demand such as government spending on goods and services). The outcome is a reduction in aggregate demand and lower output so that actual levels of saving do not increase.austerityA policy where a government tries to improve its budgetary position in a recession by increasing its saving. See also: paradox of thrift.