17.9 Modelling housing bubbles
In Unit 11 (Section 11.8), we introduced the concepts of stable and unstable equilibria. Here we develop those concepts further. We will show that a market like the housing market can have a stable equilibrium at a low price and another stable equilibrium at a high price level. In between is an unstable equilibrium. This is represented by an S-shaped price dynamics curve (PDC).
Figure 17.22 reproduces diagrams from Figures 11.18 and 11.19. The left hand panel shows what happens at an unstable equilibrium. Beginning at the price P0, an increase in the price leads away from equilibrium because it is interpreted as a sign that the price will rise further, which drives up demand for houses as people demand more of the asset they believe will increase in value. If at the price P0 something were to occur that lowered the price, a similar process would take the price even lower, as people would take that to be a signal that houses are falling in value, and so would be less likely to buy.
The right-hand panel shows how a stable equilibrium is one in which initial price changes are dampened rather than exaggerated as a result of what is called negative feedback. Here a rise in price leads to a fall in demand for houses, which depresses the price. Eventually the price returns to the initial level. This is a stable equilibrium.

negative feedback (process)A process whereby some initial change sets in motion a process that dampens the initial change. See also: positive feedback (process).positive feedback (process)A process whereby some initial change sets in motion a process that magnifies the initial change. See also: negative feedback (process).

The process that leads a market to adjust to a small shock by returning to its pre-existing equilibrium is called a negative feedback process because the initial price change causes further price changes (feedbacks) that are in the opposite direction (negative) of the initial change. A positive feedback process is one in which some initial change leads to further changes in the same direction (positive).











Figure 17.22 
Unstable and stable equilibria in the housing market.
        




In order to see how a market could have two equilibria and how movement from one to the other could represent a price bubble or a price crash, we can combine the stable and unstable equilibria in the two panels of Figure 17.22 into the S-shaped figure shown in Figure 17.23. Notice that at A the PDC has a slope that is steeper than 45 degrees (like the left panel in Figure 17.22). So point A is an unstable equilibrium and the price will not remain here if it is disturbed by either a price rise or fall no matter how small: positive feedbacks will lead the price away from the equilibrium. There will be a house price bubble if the price increases at A, and a crash if the price decreases.
Notice that at points C and B the PDC is flatter that the 45-degree line, so for these points the right panel of Figure 17.22 explains what will happen if the market is at either one of these points and something shifts the price up or down. Because of negative feedback, the initial shock will be dampened and the price will return to the equilibrium value.
Point A is called a tipping point. For a price above A, prices increase continuously until point B; for a price below A, prices decrease continuously until point C. The direction of the change in price switches from rising to falling at the tipping point A.

Tipping point
An unstable equilibrium at the boundary between two regions characterized by distinct movements in some variable. If the variable takes a value on one side of the tipping point, the variable moves in one direction; on the other, it moves in the other direction. A ridge dividing two valleys is a tipping point; for example, water falling on one side runs away from the ridge in one direction towards an inland lake while water falling on the other side (even very close to the ridge) flows in the other direction towards the sea. In the case of the housing bubble, beyond a certain price (the tipping point price), prices will increase creating a bubble and below that price they fall (a bust).












Figure 17.23 
Unstable and stable equilibria in the housing market: The S-shaped PDC.
        




Remember that at B, house prices are high, but stable. They will remain unchanged at the high level from year to year. Even if there are blips up or down, we know that the price will return to its level at B.
But now suppose that at the high price (point B) some people get cold feet. They think prices are far too high given the fundamentals of house affordability (the demand side) and the supply of houses. These high prices can never last, they say to themselves. They begin to think that house prices will fall: Its time to sell so that when prices fall, I can get a better house for the same money. Owners with a mortgage start to worry that lower house prices could leave them with negative equity in their house, that is, a situation in which the market value of the house is less than the mortgage they owe to the bank.
These people will believe that house prices are going to be lower next period than shown by B. This is represented in Figure 17.24 by a downward shift of the S-shaped price dynamics curve to the darker blue one. As more people come round to the view that prices will fall and sell their houses, the S-shaped curve shifts down and prices fall along the broken arrow from B to Z.
Once sentiment in the housing market has shifted sufficiently that the S-shaped curve (now dark blue) is below the 45-degree line, there is no tipping point left. The market collapses to K. This model helps to explain the fear that a bubble in the housing market can be followed by a devastating crash. Note that the financial accelerator is part of the reason why these collapses can be so large and why the new equilibrium can be so far below the old equilibrium.












Figure 17.24 
A tipping point in the housing market.
        















An equilibrium at B


At Point B, house prices are high, but stable.














Some owners get cold feet


Suppose some people start to believe that prices are too high and sell their houses. This is shown by a downward shift of the S-shaped price dynamics curve to the darker blue one.














A change in sentiment


As more people come round to the view that prices will fall and also sell, the S-shaped curve shifts down and prices fall along the broken arrow from B to Z.














Prices collapse


The sentiment in the housing market has shifted so much that there is no tipping point left. The market collapses to K.





Exercise 17.5 Differences between equilibrium and stability
Explain in your own words, giving examples, the difference between the terms equilibrium and stability.


Question 17.10 Choose the correct answer(s)
Figure 17.24 shows some S-shaped price dynamics curves for the housing market.
Based on the figure, which of the following statements is true?

The parts of the PDC where the slope is less than 45 degrees represent a negative feedback process.
Points Z and K represent unstable equilibria.
A positive feedback process means that housing prices are always increasing.
Optimism about housing prices would shift the PDC upwards.


At these points, next periods price will be a movement towards a stable equilibrium, in the opposite direction from the initial shock.
Point Z is an unstable equilibrium, but point K is a stable equilibrium.
A positive feedback process could result in housing prices decreasing, for example, on the pale blue PDC, a negative shock at point A would cause housing prices to decrease until the intersection between the pale blue PDC and the 45-degree line.
Optimism would result in higher prices for both of the stable equilibria (the opposite of what the figure shows).