17.1 Three economic epochs
In the past 100 years, the economies we often refer to as advanced (basically meaning rich), including the US, western Europe, Australia, Canada, and New Zealand, have seen average living standards measured by output per capita grow six-fold. Over the same period, hours of work have fallen. This is a remarkable economic success, but it has not been a smooth ride.

aggregate demandThe total of the components of spending in the economy, added to get GDP: Y = C + I + G + X  M. It is the total amount of demand for (or expenditure on) goods and services produced in the economy. See also: consumption, investment, government spending, exports, imports.supply side (aggregate economy)How labour and capital are used to produce goods and services. It uses the labour market model (also referred to as the wage-setting curve and price-setting curve model). See also: demand side (aggregate economy).great moderationPeriod of low volatility in aggregate output in advanced economies between the 1980s and the 2008 financial crisis. The name was suggested by James Stock and Mark Watson, the economists, and popularized by Ben Bernanke, then chairman of the Federal Reserve.

Units 1 and 2 told the story of how rapid growth began. In Figures 13.2 and 13.3, we contrasted the steady long-run growth rate from 1921 to 2011 with the fluctuations of the business cycle, which go from peak to peak every three to five years.
In this unit we will study three distinctive epochs. Each begins with a period of good years (the light shading in Figure 17.2), followed by a period of bad years (the dark shading):

1921 to 1941: The crisis of the Great Depression is the defining feature of the first epoch. It inspired Keynes concept of aggregate demand, now standard in economics teaching and policymaking.
1948 to 1979: The golden age epoch stretched from the end of the Second World War to 1979, and is named for the economic success of the 1950s and 1960s. The golden age ended in the 1970s with a crisis of profitability and productivity, and the emphasis in economics teaching and policymaking shifted away from the role of aggregate demand toward supply-side problems, such as productivity and decisions by firms to enter and exit markets.
1979 to 2015: In the most recent epoch, the global financial crisis caught the world by surprise. The potential of a debt-fuelled boom to cause havoc was neglected during the preceding years of stable growth and seemingly successful macroeconomic management, which had been called the great moderation.












Figure 17.2 
Unemployment, productivity growth, and inequality in the US (19142015).
        





United States Bureau of the Census. 2003. Historical Statistics of the United States: Colonial Times to 1970, Part 1. United States: United States Govt Printing Office; Facundo Alvaredo, Anthony B Atkinson, Thomas Piketty, Emmanuel Saez, and Gabriel Zucman. 2016. The World Wealth and Income Database (WID).; US Bureau of Labor Statistics; US Bureau of Economic Analysis.



The term crisis is routinely applied to the first and the last of these episodes because they represented an unusual but recurrent cataclysmic divergence from the normal ups-and-downs of the economy. In the second epoch, the end of the golden age also marked a sharp deviation from what had become normal. The three unhappy surprises that ended the epochs are different in many respects, but they share a common feature: positive feedbacks magnified the effects of routine shocks that would have been dampened under other circumstances.
What does Figure 17.2 show?

Productivity growth: A broad measure of economic performance is the growth of hourly productivity in the business sector. Productivity growth hit low points in the Great Depression, at the end of the golden age epoch in 1979, and in the wake of the financial crisis. The golden age of capitalism got its name due to the extraordinary productivity growth until late in that epoch. The dashed blue lines show the average growth of productivity for each sub-period.
Unemployment: High unemployment, shown in green, dominated the first epoch. The success of the golden age was marked by low unemployment as well as high productivity growth. The end of the golden age produced spikes in unemployment in the mid 1970s and early 1980s. In the third epoch, unemployment was lower at each successive business cycle trough until the financial crisis, when high unemployment re-emerged.
Inequality: Figure 17.2 also presents data on inequality for the US: the income share of the top 1%. The richest 1% had nearly one-fifth of income in the late 1920s just before the Great Depression. Their share then steadily declined until a U-turn at the end of the golden age eventually restored the income share of the very rich to 1920s levels.

We saw in earlier units that continuous technological progress has characterized capitalist economies, driven by the incentives to introduce new technology. Based on their expected after-tax profits, entrepreneurs make investment decisions to get a step ahead of their competitors. Productivity growth reflects their collective decisions to invest in new machinery and equipment that embody improvements in technology. Figure 17.3 shows the growth rate of the capital stock and the profit rate of firms in the non-financial corporate sector of the US economy (before and after the payment of taxes on profits).











Figure 17.3 
Upper panel: Capital stock growth and profit rates for US non-financial corporations (19272015). Lower panel: Effective tax rate on profits for US non-financial corporations (19292015).
        





US Bureau of Economic Analysis.



The data in Figure 17.3 illustrates that capital stock growth and firm profitability tend to rise and fall together. As we saw in Unit 14, investment is a function of expected post-tax profits, and expectations will be influenced by what has happened to profitability in the recent past. Once firms make a decision to invest, there is a lag before the new capital stock is ordered and installed.

effective tax rate on profitsThis is calculated by taking the before-tax profit rate, subtracting the after-tax profit rate, and dividing the result by the before-tax profit rate. This fraction is usually multiplied by 100 and reported as a percentage.

As profitability was restored following the collapse of the stock market in 1929 and the banking crises of 192931, investment recovered and the capital stock began to grow again. During the golden age, profitability and investment were both buoyant. A closer look at Figure 17.3 is revealing. Investment depends on post-tax profitability and we can see that the gap between the pre-tax (red) and post-tax (green) rate of profit declined during the golden age. The lower panel shows the effective tax rate on corporate profits.
Wars have to be financed, and the tax on businesses increased during the Second World War and the Korean War, and more slowly over the course of the Vietnam War. The effective tax rate on profits fell from 8% to 2% during the 30 years from the early 1950s. This helped to stabilize the post-tax rate of profit. In the late 1970s and early 1980s, taxes on profits were cut sharply. Thereafter the pre-tax profit rate fluctuated without a trend. But in spite of the stabilization of profitability in the third epoch, the growth rate of the capital stock fell.
On the eve of the financial crisis, Figures 17.2 and 17.3 show that the richest Americans were doing very well. But this did not stimulate investment, with the capital stock growing more slowly than at any time since the Second World War. The onset of the financial crisis also coincided with a peak in private sector debt (shown in Figure 17.4). Debt in financial firms and in households was at a postwar high (relative to the size of GDP). The swelling in the amount of debt was clearest for financial firms, but households also increased their debt-to-GDP ratio steadily through the 2000s.











Figure 17.4 
Debt as a percentage of GDP in the US: Households, non-financial business sector, financial business sector, and the government (19452015).
        






                                View the latest data at OWiD
                        


US Federal Reserve. 2016. Financial Accounts of the United States, Historical. December 10; US Bureau of Economic Analysis.



Figure 17.5a summarizes the key features of each period in the US economy over the past century.





Name of Period
Dates
Important features of the US economy


1920s
19211929
Low unemployment
    High productivity growth
    Rising inequality


Great Depression
19291941
High unemployment
    Falling prices
    Unusually low growth rate of business capital stock
    Falling inequality


Golden age
19481973
Low unemployment
    Unusually high productivity growth
    Unusually high growth rate of capital stock
    Falling effective tax rate on corporate profits
    Falling inequality


Stagflation
19731979
High unemployment and inflation
    Low productivity growth
    Lower profits


1980s and the great moderation
19792008
Low unemployment and inflation
    Falling growth rate of business capital stock
    Sharply rising inequality
    Rising indebtedness of households and banks


Financial crisis
20082015
High unemployment
    Low inflation
    Rising inequality




Figure 17.5a 
The performance of the US economy over a century.
        




The three epochs of modern capitalism were worldwide phenomena, but some countries experienced them differently compared to the US. By 1921, the US had been the world productivity leader for a decade, and the worlds largest economy for 50 years. Its global leadership in technology and its global firms help explain rapid catch-up growth in Europe and Japan during the golden age. On either side of the golden age, the crises that began in the US in 1929 and 2008 became global crises. Figure 17.5b summarizes important differences between the US and other rich countries.





Name of Period
Differences between US and other rich countries


Great Depression
US: Large, sustained downturn in GDP starting from 1929
    UK: Avoided a banking crisis, experienced a modest fall in GDP


Golden age
US: Technology leader
    Outside US: Diffusion of technology creates catch-up growth, improving productivity


Financial crisis
US: Housing bubble creates banking crisis
    Germany, Nordic countries, Japan, Canada, Australia: Did not experience bubble, largely avoided financial crisis


International openness (all three periods)
More important in most countries than in the US




Figure 17.5b 
A cross-national comparison of the Great Depression, the golden age, and the financial crisis: Distinctive features of the US.
        




The three epochs of modern capitalism are very different, as Figures 17.5a and 17.5b show. We need to use the full range of tools of analysis we have developed in previous units to understand their dynamics, and how one epoch is related to another.

Question 17.1 Choose the correct answer(s)
The following figure shows the unemployment rate (left-hand axis) and productivity growth (right-hand axis) in the US between 1914 and 2015.












Based on this information, which of the following statements is correct?

The US has been able to achieve increasingly lower unemployment rates in its boom years through this period.
There was a consistent and significant fall in productivity growth during the Great Depression era.
The US economys performance in 19792008 was less strong than during the other two boom periods, with a higher average unemployment rate and lower average productivity growth.
The unemployment rate reached in the recent financial crisis was the highest since the stagflation years of 197379.


The average unemployment rates in the boom years of the first two epochs were below 5%, while that in the 19792008 period was around 6%.
Productivity growth fell very sharply at the onset of the Great Depression. However it also rebounded sharply, making the average productivity growth for the era about 2%, very similar to the average productivity growth of the 19792008 growth years.
The average unemployment rates in the boom years of the first two epochs were below 5%, while the average productivity growth rates were around 2.2% and 3.2% respectively. Over the 19792008 period, the average unemployment rate was around 6% while the average productivity growth rate was 2.1%.
The unemployment rate almost reached 10% in the early 1980s, higher than the peak hit during the financial crisis period.



Question 17.2 Choose the correct answer(s)
The following figure shows the income share of the top 1% richest households in the US between 1914 and 2013.












Based on this information, which of the following statements are correct?

Inequality always rises in boom years.
Inequality can either rise or fall during recessions.
The great moderation era was distinct from the other two boom periods in that inequality rose during the period.
The top 1% richest US households received nearly one-fifth of the total income in 2010.


This is not true. For example, the share of top 1% fell consistently during the golden Age of 194873.
Inequality had years of decline and years of increase in both the Great Depression and the recession after the financial crisis.
Inequality also rose in the boom years of the 1920s. The golden age was distinct in that inequality fell consistently during the period.
They received 19% of total income.