17.3 Policymakers in the Great Depression
Just as the day of Australias major bushfire is now called Black Saturday, the day that the Great Depression started is now known as Black Thursday. On Thursday 24 October 1929, the US Dow Jones Industrial Average fell 11% on opening, starting three years of decline for the US stock market. Figure 17.7 shows the business cycle upswings and downswings from 1924 to 1941.











Figure 17.7 
Changes in the components of aggregate demand during upswings and downswings (1924 Q31941 Q4).
        





Appendix B in Robert J. Gordon. 1986. The American Business Cycle: Continuity and Change. Chicago, Il: University of Chicago Press.



The long downswing from the third quarter of 1929 until the first quarter of 1933 was driven by big falls in household and business investment (the red bar), and in consumption of non-durables (the green bar). Recall that in Figure 14.6 we used the multiplier model to describe how this shock created a fall in aggregate demand, and in Figure 14.8 we described a model of how households had cut consumption to restore their target wealth, to understand the observed behaviour of households and firms in the Great Depression.
In Unit 14, we showed how government policy could amplify or dampen fluctuations. In the opening years of the Great Depression, government policy both amplified and prolonged the shock. Initially, government purchases and net exports hardly changed. As late as April 1932 President Herbert Hoover told Congress that far-reaching reduction of governmental expenditures was necessary, and advocated a balanced budget. Hoover was replaced by Franklin Delano Roosevelt in 1932, at which point government policy changed.
Fiscal policy in the Great Depression
Fiscal policy made little contribution to recovery until the early 1940s. Estimates suggest that output was 20% below the full employment level in 1931, for example, which means that the small budget surplus in that year would have implied a large cyclically adjusted surplus, given the decline in tax revenues in the depressed economy.
Under Roosevelt, from 1932 to 1936 the government ran deficits. When the economy went into recession in 193839, the deficit shrank from its peak of 5.3% in 1936 to 3% in 1938. This was another mistake that reinforced the downturn. The big increase in military spending from early 1940 (well before the US entered the Second World War in late 1941) contributed to the recovery.
Monetary policy in the Great Depression
Monetary policy prolonged the Great Depression. The real interest rate data in Figure 17.8 suggest that monetary policy was contractionary in the US economy from 1925 onwards: the real interest rate increased, reaching a peak of 13% in 1932. Once the downturn began in 1929, this policy stance reinforced, rather than offset, the decline of aggregate demand. But note that the nominal interest rate was falling after its peak in 1929; the real interest rate went up because prices were falling too. Interest-sensitive spending on buildings and consumer durables decreased sharply.











Figure 17.8 
Policy choices in the Great Depression: The US (19211941).
        






                                View this data at OWiD
                        


Milton Friedman and Anna Jacobson J. Schwartz. 1982. Monetary Trends in the United States and the United Kingdom, Their Relation to Income, Prices, and Interest Rates, 18671975. Chicago, Il: University of Chicago Press; United States Bureau of the Census. 2003. Historical Statistics of the United States: Colonial Times to 1970, Part 1. United States: United States Govt Printing Office; Federal Reserve Bank of St Louis (FRED).



The gold standard

gold standardThe system of fixed exchange rates, abandoned in the Great Depression, by which the value of a currency was defined in terms of gold, for which the currency could be exchanged. See also: Great Depression.zero lower boundThis refers to the fact that the nominal interest rate cannot be negative, thus setting a floor on the nominal interest rate that can be set by the central bank at zero. See also: quantitative easing.

The US was still on what was known as the gold standard. This meant that the US authorities promised to exchange dollars for a specific quantity of gold (the promise was to pay an ounce of gold for $20.67). Under the gold standard, the authorities had to continue to pay out gold at the fixed rate and, if there was a fall in demand for US dollars, gold would flow out of the country. To prevent this, either the countrys tradable goods had to become more competitive (boosting gold inflows through higher net exports) or gold had to be attracted through capital inflows. This could done by either putting up the nominal interest rate or keeping it high relative to the interest rate in other countries. To avoid contributing to the gold outflow, policymakers were reluctant to push the interest rate down to the zero lower bound. This closed off the possibility of using monetary policy to counteract the recession.
Unless wages decline rapidly to raise international competitiveness and boost the inflow of gold through higher exports and lower imports, sticking to the gold standard in a recession is destabilizing, as it will amplify the downturn. There was a very large outflow of gold from the US after the UK left the gold standard in September 1931. One reason for speculation against the US dollar (that is, investors selling dollars for gold) was that there were expectations that the US would also abandon the gold standard and devalue the dollar. If it did, those holding dollars would lose.
A change in expectations
In 1933 Roosevelt began a program of changes to economic policy:

New DealUS President Franklin Roosevelts program, begun in 1933, of emergency public works and relief programs to employ millions of people. It established the basic structures for modern state social welfare programs, labour policies, and regulation.


The Great Depression
The period during the 1930s in which there was a sharp fall in output and employment, experienced in many countries.

Countries that left the gold standard earlier in the 1930s recovered earlier.
In the US, Roosevelts New Deal policies accelerated recovery from the Great Depression, partly by causing a change in expectations.



The New Deal: This committed federal government spending to a range of programs to increase aggregate demand.
The US left the gold standard: In April 1933 the US dollar was devalued to $35 per ounce of gold, and the nominal interest rate was reduced to close to the zero lower bound (see Figure 17.8).
Roosevelt also introduced reforms to the banking system: This followed bank runs in 1932 and early 1933.

The change in peoples beliefs about the future was just as important as these policy changes. On 4 March 1933, in his inaugural address as president, Roosevelt had told Americans that: the only thing we have to fear is fear itselfnameless, unreasoning, unjustified terror.
We have seen that the terrors of consumers and investors in 1929 had been justified. But due to a combination of Roosevelts New Deal policies and early signs of recovery that were already present before he became president, households and firms began to think that prices would stop falling and that employment would expand.











Figure 17.9 
The Great Depression and recovery: Households cut consumption to restore target wealth in the depression; and increased consumption from 1933.
        




Figure 17.9 adds a third column to the model of household wealth that we first encountered in Figure 14.8. Column C shows the households perspective from late 1933. By that time, output and employment were growing. With much of the uncertainty about the future resolved, households re-evaluated their expected wealth (including their expected earnings from employment). They reversed the cutbacks in consumption because they saw no need to make additional savings. To the extent that they now expected their income prospects and asset prices to return to pre-crisis levels, consumption would be restored. Any increase in wealth above target due to the increased savings during the Great Depression years (shown by wealth above target in column C) would create an additional boost to consumption.
The slow path to recovery had begun. But the US economy would not return to pre-Great Depression levels of employment until Roosevelt was in his third term as president and the Second World War had begun.

Exercise 17.2 Advantages and disadvantages of fixed exchange rates







                        Other video options
                    


Bilibili
Download
View transcript




Barry Eichengreen: Pegged exchange rates


In an Economist in action video, Barry Eichengreen, an economist and economic historian, discusses fixed exchange rate systems such as the gold standard in the Great Depression and the euro system in the aftermath of the financial crisis.

According to the video, what are some advantages and disadvantages of fixed exchange rate systems?
How can countries that are in these exchange rate systems effectively respond to economic shocks? What are some features of the euro system that make it difficult to respond effectively?



Question 17.3 Choose the correct answer(s)
Franklin Roosevelt became the US President in 1933. In the period after he became the president:

The federal government deficit increased to 5.6% of GNP in 1934.
The short-term nominal interest rate fell from 1.7% in 1933 to 0.75% in 1935.
The CPI fell by 5.2% in 1933 and rose by 3.5% in 1934.
The US left the gold standard in April 1933.
The New Deal was launched in 1933 and included proposals to increase federal government spending in a wide range of programs and reforms to the banking system.

Which of the following statements is correct regarding the years immediately after Roosevelt became the US president?

A change in the expectations of consumers of their future earnings, as a result of the New Deal, would have contributed to an expansion in the economys aggregate demand.
The value of the US dollar increased as the result of the abandonment of the gold standard and allowed the nominal interest rate to be cut to close to zero.
The real interest rate rose after 1933.
Fiscal contraction from the increased government deficit would have contributed to the economy escaping from the Depression.


More optimistic expectations lead to increased consumer spending, as shown in Figure 17.9.
The abandonment of the gold standard meant that the US dollar could be devalued, (from $20.67 to $35 per ounce of gold). It was no longer necessary to keep the interest rate high to maintain the dollar at the higher rate (meaning fewer dollars per ounce).
With the nominal interest rate falling, and with inflation turning positive from negative, the real interest rate fell sharply (and became negative in 1934).
Increased government deficit means fiscal expansion.