17.5 Workers and employers in the golden age
High investment, rapid productivity growth, rising wages, and low unemployment defined the golden age. How did this virtuous circle work?

After-tax profits in the US economy remained high: This persisted from the end of the Second World War through the 1960s (look again at Figure 17.3), and the situation was similar in other advanced economies.
Profits led to investment: The widespread expectation that high profits would continue in the future provided the conditions for sustained high levels of investment (refer back to the model of investment spending in Section 14.4).
High investment and continued technological progress created more jobs: Unemployment stayed low.
The power of workers: Trade unions and political movements allied with employees were sufficiently strong to secure sustained increases in wages. But accords between unions and employers meant that unions tended to act in an inclusive manner (Unit 16), and sustained the union voice effect (Unit 9), encouraging cooperation between workers and firms in the face of new technology adoption.

Follow the steps in the analysis in Figure 17.12 to see how these four bullet points explaining the golden age can be translated into shifts in the price-setting curve and the wage-setting curve. Recall from Unit 16 that the price-setting curve shows the real wage consistent with employers maintaining investment at a level that keeps employment constant. This means that a real wage below the price-setting curve will encourage firms to enter or raise their investment, and employment rises.












Figure 17.12 
The golden age: Using the wage- and price-setting curves.
        















The beginning of the golden age


Suppose that the US economy was at point A at the beginning of the golden age, with unemployment of 5%.














Technological progress


This shifts the price-setting curve up (to the one labelled late 1950s/60s). This stimulates high investment, consistent with the data for the growth of the capital stock in the US shown in Figure 17.3.














The wage-setting curve shifts up, but less than the price-setting curve


Strong unions and favourable government policies increased labours bargaining power. But through accords with employers, the resulting upward shift in the wage-setting curve was modest.














The actors agree


At point B, unions and employers agree about the scope for wage increases.




In the US, technological progress was rapid in the golden age as the innovations developed during the Great Depression and the Second World War were embodied in new capital equipment. The new technologies and new management techniques already in use in the US could also be used in the catch-up economies. In many of these countries golden age growth was even faster than at the technology frontier as defined by the US in Figure17.11.
The strength of unions in wage-setting and the improvement in unemployment insurance during the 1950s and 60s are illustrated as an upward shift of the wage-setting curve in Figure 17.12. The outcome observed, with wages growing in line with productivity at low unemployment, is illustrated by point B.
Both trade unions and governments were important in this process. Between 1920 and 1933, trade unions in the US lost two-fifths of their members. During the 1930s, changes in the laws affecting trade unions, as well as the hardship of the Great Depression, reversed this decline. High demand for labour during the Second World War strengthened labours bargaining power, but trade union membership as a fraction of total employment peaked in the early 1950s. There was a subsequent steady decline during the next 50 years.

postwar accordAn informal agreement (taking different forms in different countries) among employers, governments, and trade unions that created the conditions for rapid economic growth in advanced economies from the late 1940s to the early 1970s. Trade unions accepted the basic institutions of the capitalist economy and did not resist technological change in return for low unemployment, tolerance of unions and other rights, and a rise in real incomes that matched rises in productivity.

Figure 17.13 shows both the growth of the government and the historically high level of trade union membership in the US. As we have seen, larger government partly reflected the new entitlements to unemployment benefits. In the wage- and price-setting curve model, higher unemployment benefits and stronger trade unions shift the wage-setting curve upwards, but when unions are inclusive and when there is a strong union voice effect, then this upwards shift is restrained.











Figure 17.13 
Trade union membership and the size of government in the US (19132015).
        






                                View the latest data at OWiD
                        


John Joseph Wallis. 2000. American Government Finance in the Long Run: 1790 to 1990. Journal of Economic Perspectives 14 (1): pp. 6182; Gerald Mayer. 2004. Union Membership Trends in the United States. Washington, DC: Congressional Research Service; US Bureau of Economic Analysis.



Unions would tend to act in an inclusive manner, meaning that they refrained from using the full extent of their bargaining power (for example, in firms or plants where they had a very strong position). Instead, they cooperated in an economy-wide bargain designed to keep wage growth consistent with the constraint imposed by the price-setting curve. In return, employers would maintain investment at a level sufficient to keep unemployment low. This unwritten but widely observed pattern of sharing the gains to technological progress between employees and employers is termed the postwar accord.
These postwar accord relationships between employers, unions, and governments, which sustained high productivity growth, high real wage growth, and low unemployment, differed across countries. In Scandinavia, Austria, Belgium, Netherlands, Switzerland, and West Germany, wage-setting was either centralized in a single union, or coordinated among unions or employers associations, resulting in wage restraint. In technologically advanced sectors in France and Italy, governments intervened to set wages in dominant state-owned firms, creating wage guidance across the economy. The outcome was similar to the result in the countries with centralized wage-setting.
Where there was little cooperation between employers and unions, a countrys performance in the golden age was worse. In Figure 17.11, the UKs relatively poor golden age performance shows up clearly. It started with higher productivity than the other large countries shown (that is, its productivity level in 1950 was the closest to that of the US) but was overtaken by France, Italy, and West Germany in the 1960s.
The British industrial relations system made an accord difficult. It combined very strong union power at the factory level with fragmented unions, which were unable to cooperate in the economy as a whole. The strength of local union shop stewards (representatives) in a system of multiple unions per plant led unions to attempt to outdo each other when negotiating wage deals, and created opposition to the introduction of new technology and new ways of organizing work.
The problems of the British economy were compounded because markets of British firms in former colonies were protected from competition, which weakened pressure to innovate. In the creative destruction process, competition creates incentives for firms to get a step ahead of their rivals and reduces the number of low-productivity firms. When competition is weak, existing firms and jobs are protected. The employers and workers in these firms share the monopoly rents, but the overall size of the pie is reduced because technological progress is slower.
In the US and the successful catch-up countries, postwar accords succeeded in creating the conditions for a high profit and high investment equilibrium. It delivered rapid productivity and real wage growth at low unemployment, but the British experience during the 1950s and 1960s (Figure 17.11) emphasizes that there is nothing automatic about achieving this outcome.

Question 17.4 Choose the correct answer(s)
Figure 17.12 describes the movements in employment, profits and wages in the 1950s to 1960s using the labour market model.
Which of the following statements is correct regarding this period?

The rise in the wage-setting curve due to stronger trade unions and higher unemployment benefits led to postwar innovation. This shifted the price-setting curve up.
A rise in the wage-setting curve depresses profits and reduces investment. This conflict of interest between workers and employers means that low unemployment, high profits, and high investment would not have been sustainable.
The substantial increase in the bargaining power of trade unions and political movements allied with workers meant that they could demand the highest possible wages, pushing the wage-setting curve to its highest possible level.
Continuing technological progress owing to widespread expectations of sustained high profits, together with high wages resulting from the strong bargaining power of trade unions, created a virtuous circle of high investment, rapid productivity growth, rising wages, and low unemployment.


Persistent high profits since the end of the Second World War led to sustained high levels of investment, resulting in continuing technological progress.
With workers cooperating to increase the size of the pie rather than claiming a larger share of the pie, the wage-setting curves rise was modest, allowing for high profits and investment.
The golden age worked because workers had gained sufficient bargaining power to be confident that they could claim a substantial share in the mutual gains that technological progress made possible. Strong unions strengthened the union voice effect. Therefore they cooperated to increase the size of the pie (the postwar accord), leading to modest rises in the wage-setting curve.
This virtuous cycle led to a rapidly rising price-setting curve, and a wage-setting curve that rose with it, but not faster.