17.8 Before the financial crisis: Households, banks, and the credit boom
The great moderation masked three changes that would create the environment for the global financial crisis. While to some extent these changes were shared across most advanced economies, actors in the US economy played a pivotal role in the global financial crisis, just as they had during the Great Depression:

Rising debt: The sum of the debt of the government and of non-financial firms changed relatively little as a proportion of GDP between 1995 and 2008, but the mountainous shape of total debt in the US economy shown in Figure 17.4 was created by growth in household and financial sector debt.
Increasing house prices: The rise in house prices became more pronounced after 1995.
Rising inequality: The long-run decline in inequality that began after the Great Depression reversed after 1979 (Figure 17.2). Workers no longer shared in the gains from productivity (Figure 17.17).

How can we make an argument that connects the financial crisis to the great moderation, and to long-run rising debt, house prices, and inequality? We use what we learned in Units 9, 10, 13, and Section 17.4 to help us. We know that during the great moderation, from the mid-1990s to the eve of the financial crisis, the real wages of those with earnings in the bottom 50% hardly grew. Relative to the earnings of the top 50%, they lost out. One way they could improve their consumption possibilities was to take out a home loan. Before the 1980s, financial institutions had been restricted in the kinds of loans they could make and in the interest rates they could charge. Financial deregulation generated aggressive competition for customers, and gave those customers much easier access to credit.

financial deregulationPolicies allowing banks and other financial institutions greater freedom in the types of financial assets they can sell, as well as other practices.bank bailoutThe government buys an equity stake in a bank or some other intervention to prevent it from failing.great recessionThe prolonged recession that followed the global financial crisis of 2008.


The great moderation and the global financial crisis
The great moderation was a period of low volatility in output between the mid-1980s and 2008. It was ended by the global financial crisis, triggered by falling US house prices from 2007 onwards.

At the onset of the crisis, government and central bank stabilization policies, notably including bank bailouts, avoided a repeat of the Great Depression.
Nevertheless, there followed a sustained global fall in aggregate output, popularly known as the great recession.


Housing booms and the financial accelerator
When households borrow to buy a house, this is a secured or collateralized loan. As part of the mortgage agreement, the bank can take possession of the house if the borrower does not keep up repayments. Collateral plays an important role in sustaining a house price boom. When the house price goes updriven, for example, by beliefs that a further price rise will occurthis increases the value of the households collateral (see the left-hand diagram in Figure 17.18). Using this higher collateral, households can increase their borrowing, and move up the housing ladder to a better property. This, in turn, pushes up house prices further and sustains the bubble, because the banks extend more credit based on the higher collateral. Increased borrowing, made possible by the rise in the value of the collateral, is spent on goods and services as well as on housing.

leverage ratio (for banks or households)The value of assets divided by the equity stake in those assets.












Figure 17.18 
The housing market on the way up and on the way down.
        





Adapted from figure in Hyun Song Shin. 2009. Discussion of The Leverage Cycle by John Geanakoplos.



When house prices are expected to rise, it is attractive to households to increase their borrowing. Suppose a house costs $200,000, and the household makes a down payment of 10% ($20,000). This means it borrows $180,000. Its initial leverage ratio, in this case the value of its assets divided by its equity stake in the house, is 200/20 = 10. Suppose the house price rises by 10% to $220,000. The return to the equity the household has invested in the house is 100% (since the value of the equity stake has risen from $20,000 to $40,000: it has doubled). Households who are convinced that house prices will rise further will want to increase their leverage: that is how they get a high return. The increase in collateral, due to the rise in the price of their house, means they can satisfy their desire to borrow more.

financial acceleratorThe mechanism through which firms and households ability to borrow increases when the value of the collateral they have pledged to the lender (often a bank) goes up.

The mechanism through which a rise in the value of collateral leads to an increase in borrowing and spending by households and firms is called the financial accelerator (see Section 14.3 for these details). The left-hand side of Figure 17.18 shows the outcome of the interaction between the bubble in house prices and its transmission through the economy via the financial accelerator during a boom. On the right-hand side, we see what happens when house prices decline. The value of collateral falls and the households spending declines, pushing house prices down.
The assets and liabilities of a household can be represented in its balance sheet, and this can be used to explain the interaction of a house price bubble and the financial accelerator. The house is on the asset side of the households balance sheet. The mortgage owed to the bank is on the liabilities side. When the market value of the house falls below what is owed on the mortgage, the household has negative net worth. This condition is sometimes referred to as the household being underwater. Using the example above, if the leverage ratio is 10, a fall in the house price by 10% wipes out the households equity. A fall of more than 10% would place the household underwater.
As we saw with households in the Great Depression, if a decline in net worth means that a household is below its target wealth, it responds by cutting what it spends. When a housing bubble is forming, the rise in the value of collateral reinforces the boom by boosting both borrowing and spending; on the way down, the fall in the value of house increases household debt and the household reduces spending. Rising house prices immediately before 2008 were prices that sent the wrong message. We know that resources were misallocated, because the US and some countries in Europe were left with thousands of abandoned houses.
Financial deregulation and subprime borrowers
In the boom period when house prices were expected to rise, the riskiness of home loans to the banks making them fell and, as a result, banks extended more loans. The opportunities for poor people to borrow for a home loan expanded as lenders asked for lower deposits, or even no deposit at all. This is shown in Figure 17.19. The financial accelerator mechanism is an example of positive feedback: from higher collateral, to more borrowing, to further increases in house prices.











Figure 17.19 
The household debt-to-income ratio and house prices in the US (19502015).
        






                                View the latest data at OWiD
                        


US Federal Reserve. 2016. Financial Accounts of the United States, Historical. December 10; US Bureau of Economic Analysis; Federal Reserve Bank of St Louis (FRED).



Figure 17.20 shows the contrast between the material wealth of a household in the bottom and top fifth of households, according to their net worth in 2007. Using the definitions introduced in Section 14.3 and used in Section 17.3, the households material wealth is equal to the value of its house (which will by definition be equal to the sum of the debt outstanding and the households home equity) minus the mortgage debt, plus financial wealth (net of non-housing debt).











Figure 17.20 
Household wealth and debt in the US: Poorest and richest quintiles by net worth (2007).
        





Adapted from Figure 2.1 in Atif Mian and Amir Sufi. 2014. House of Debt: How They (and You) Caused the Great Recession, and How We Can Prevent It from Happening Again. Chicago, Il: The University of Chicago Press.



The left-hand bar is the poorest 20% of households. The right-hand bar is the richest 20%. The data is shown in a way that allows us to compare the assets and liabilities (debt) of the two groups. In each case, total assets, or equivalently, the total of debt plus net worth is made equal to 100%. This means we cannot compare the absolute amount of wealth or debt held by each group, but the data allows us to see clearly the type of asset (housing or financial) each household type holds, and how much debt each type has relative to the assets it holds. This tells us a lot about how a fall in house prices would affect the spending behaviour of each type.
The left-hand bar represents borrower households. These are poor households, normally only able to borrow when they have housing collateral to use as security. They have little financial wealth, as shown by the size of the green rectangle. These households have much more debt than equity in their houses, and are vulnerable to a fall in house prices.
Rich households have a lot of assets, mainly in the form of financial wealth: bank account and money market deposits, government and corporate bonds, and shares. They also have little debt. These are the saver households of Unit 10.
Financial deregulation and bank leverage

derivativeA financial instrument in the form of a contract that can be traded, whose value is based on the performance of underlying assets such as shares, bonds or real estate. See also: collateralized debt obligation.collateralized debt obligation (CDO)A structured financial instrument (a derivative) consisting of a bond or note backed by a pool of fixed-income assets. The collapse in the value of the instruments of this type that were backed by subprime mortgage loans was a major factor in the financial crisis of 20072008.mortgage-backed security (MBS)A financial asset that uses mortgages as collateral. Investors receive payments derived from the interest and principal of the underlying mortgages. See also: collateral.credit ratings agencyA firm which collects information to calculate the credit-worthiness of individuals or companies, and sells the resulting rating for a fee to interested parties.

In the context of the deregulated financial system, banks increased their borrowing:

to extend more loans for housing
to extend more loans for consumer durables like cars and furnishings
to buy more financial assets based on bundles of home loans

The combination of the great moderation, rising house prices, and the development of new, apparently less risky financial assets such as the derivatives called collateralized debt obligations (CDOs), based on bundles of home loans called mortgage-backed securities (MBSs), made it profitable for banks to become more highly leveraged.
Figure 17.21 shows the leverage of US investment banks and all UK banks.











Figure 17.21 
Leverage ratio of banks in the UK and US (19602014).
        






                                View the latest data at OWiD
                        


US Federal Reserve. 2016. Financial Accounts of the United States, Historical. December 10; Bank of England. 2012. Financial Stability Report, Issue 31.



In the US, the leverage ratio of investment banks was between 12 and 14 in the late 1970s, rising to more than 30 in the early 1990s. It hit 40 in 1996 and peaked at 43 just before the financial crisis. By contrast, the leverage of the median UK bank remained at the level of around 20 until 2000. Leverage then increased very rapidly to a peak of 48 in 2007. In the 2000s, British and European global banks, including firms called shadow banks, increased borrowing to buy CDOs and other financial assets that originated in the US housing market.
Leverage increased because of financial deregulation and the business model of banks. But why were savers prepared to continue lending to the increasingly leveraged financial system and, indirectly, to the highly leveraged household sector?
Firms called credit ratings agencies (the big three are Fitch Ratings, Moodys and Standard & Poors) assess the risk of financial products, and part of their role is to provide evidence to reassure lenders that their investments are safe. After almost 20 years of the great moderation, economic crises seemed like a historical idea, and so these companies gave the highest ratings (meaning the lowest risk) to many of the assets created from subprime mortgages.

subprime mortgageA residential mortgage issued to a high-risk borrower, for example, a borrower with a history of bankruptcy and delayed repayments. See also: subprime borrower.

The subprime housing crisis of 2007
The interrelated growth of the indebtedness of poor households in the US and global banks meant that when homeowners began to default on their repayments in 2006, the effects could not be contained within the local or even the national economy. The crisis caused by the problems of subprime mortgage borrowers in the US spread to other countries. Financial markets were frightened on 9 August 2007 when French bank BNP Paribas halted withdrawals from three investment funds because it could not fairly value financial products based on US mortgage-based securitiesit simply did not know how much they were worth.
The recession that swept across the world in 200809 was the worst contraction of the global economy since the Great Depression. Unlike the bushfires in southeastern Australia in 2009, the financial crisis took the world by surprise. The worlds economic policymakers were unprepared. They discovered belatedly that a long period of calm in financial markets could make a crisis more likely.
This was an argument that Hyman Minsky, the economist, had made long before the great moderation. Minsky developed these ideas while a professor of economics at the University of California, Berkeley, and so he may even have been thinking of fires. In northern Mexico, the fire management authorities allow small fires to burn, and as a result dry undergrowth does not accumulate. Major fires are more frequent across the US border in California, where small fires are quickly extinguished.
In 1982, Minsky wrote Can It Happen Again? about the way in which tranquil conditions lead firms to choose riskier methods of financing their investment.4 His warning went unheeded. Instead of producing increased vigilance, the calm conditions of the great moderation bred complacency among regulators and economists. It was the increasingly risky behaviour of banks, as Minsky had predicted, that created the conditions for the crisis.

Great economists Hyman Minsky

Hyman Minsky (19191996) was an American economist who developed a financial theory of the business cycle. His ideas have attracted renewed attention among both academics and banking and finance professionals since the global economic crisis of 2008.
Minsky argued that macroeconomic fluctuations could not be properly understood without taking account of the manner in which business investment is financed. At a time when most economists viewed firms as the location of a production function, Minsky focused instead on the assets and liabilities on the firms balance sheet. The assets, including plant and equipment, but also less tangible assets such as patents, copyrights, and trademarks, are expected to generate a stream of revenues stretching far into the future. The liabilities include the firms obligations to its creditors, and imply a stream of payments due at various points in time.

hedge financeFinancing used by firms to fulfil contractual payment obligations using cashflow. Term coined by Hyman Minsky in his Financial Instability Hypothesis. See also: speculative finance.speculative financeA strategy used by firms to meet payment commitments on liabilities using cash flow, although the firm cannot repay the principal in this way. Firms in this position need to roll over their liabilities, usually by issuing new debt to meet commitments on maturing debt. Term coined by Hyman Minsky in his Financial Instability Hypothesis. See also: hedge finance.

New investment by the firm expands its capacity to produce goods and services, and thus alters its expected stream of revenues. If it is financed by debt, it also changes the firms financial obligations at future dates. In deciding how to finance its investment, the firm faces a choice:

Issue long-term debt: It anticipates that revenues would be sufficient to cover obligations at all points in time.
Issue short-term debt: This debt needs to be repaid before the anticipated revenues are available. It creates the need for further borrowing to repay debt at the end of this term.

In general, long-term borrowing is more expensive, since lenders demand a higher interest rate. But short-term borrowing is risky, because the firm may be unable to refinance debt as it comes due. Even if it can refinance, it may be forced to borrow at high rates if credit availability is constrained.
Firms that chose the safer but more expensive option, matching revenues and debt obligations, were said by Minsky to be engaged in hedge finance. Those that took the cheaper but more risky option, borrowing short-term to finance long-term investments, were engaging in speculative finance.
A key component of Minskys theory concerned the manner in which the distribution of financial practices in the economy changed over time. As long as financial market conditions remained relatively tranquil, so that rolling over short-term debt was easy, firms with the most aggressive financial practices would prosper at the expense of those that were the most prudent. Not only would the most aggressive firms grow faster, they would also attract imitators, and the distribution of financial practices in the economy would become increasingly speculative. There would be a rise in the demand for refinancing short-term debt, and hence an increase in financial fragility: a severe financial market disruption, with a contraction in credit or a spike in short-term interest rates, would become increasingly likely.
In Minskys view, this process leads inevitably to a crisis because, as long as a crisis is averted, the most aggressive financial practices proliferate and financial fragility continues to rise. When a crisis finally occurs, the most aggressive firms will suffer disproportionately and the prudent firms will prosper. The sharp shift in the aggregate distribution of financial practices lowers fragility and sets the stage for the process to begin again. In Minskys words:

Stabilityeven of an expansionis destabilizing in that more adventurous financing of investment pays off to the leaders, and others follow. (John Maynard Keynes, 1975)

In other words, a period like the great moderation sows the seeds of the next financial crisis.
In 2007, Charles Prince, chief executive of Citigroup, explained to the Financial Times the difficulty of resisting adventurous financing during booms. As long as the music is playing, youve got to get up and dance, he said in July, as the global economy hurtled towards a crisis deeper than anything seen since the Great Depression, Were still dancing.


Exercise 17.4 Household wealth as a balance sheet

Show the information in Figure 17.20 in the form of a balance sheet, for one household from the lowest and one from the highest net worth quintile (use the balance sheets in Figures 10.16 and 10.17 as a guide). Assume that the sum of assets and liabilities is $200,000 for the poorer household and $600,000 for the richer household, both households have some savings, and that assets do not depreciate.

Think about the proportions of debt held by these households that might consist of mortgage debt. Now consider the relative effects on the households of a fall in house prices.

Define negative equity as a situation where the market value of a house is less than the debt secured on it. In your example balance sheet for the poorer family, calculate the fall in house prices that would push this household into negative equity.
If house prices fell by just enough to push the household into negative equity, would this household be insolvent? Explain.



Question 17.8 Choose the correct answer(s)
Figure 17.19 shows the household debt-to-income ratio and the house prices in the US between 1950 and 2014. Based on this information, which of the following statements is correct?

The real value of household debt more than doubled from the end of the golden age to the peak on the eve of the financial crisis.
The causality is from the house price to household debt, that is, higher house prices encourage higher debt, but not the other way round.
A household debt-to-income ratio of over 100 means that the household is bankrupt.
Subprime mortgages partly explain the rise in debt in the US prior to the financial crisis.


It is not the real value but the ratio in proportion to household income that has more than doubled in the 35 years.
There exists a positive feedback in both directions (the financial accelerator). Thus not only do higher house prices encourage higher debt via rising collateral values, but higher debt leads to higher prices through increased demand.
A household debt-to-income ratio of over 100 does not necessarily mean that the household is bankrupt. In a low interest rate environment such a high debt level can still be maintained. A household is bankrupt if its debt is higher than its assets, not its income.
Some of the rise in household debt in the US was lent as mortgages to households who could not really afford to repay.



Question 17.9 Choose the correct answer(s)
Figure 17.21 is the graph of leverage of banks in the UK and the US between 1960 and 2014.
The leverage ratio is defined as the ratio of the banks total assets to their equity. Which of the following statements are correct?

A leverage ratio of 40 means that only 2.5% of the asset is funded by equity.
The total asset value of US banks doubled between 1980 and later 1990s.
A leverage ratio of 25 means that a fall of 4% in the asset value would make a bank insolvent.
UK banks increased their leverage rapidly in the 2000s in order to make more loans to UK house buyers.


2.5% equity means total assets are equal to 40 times the value of equity.
Doubling of the leverage does not imply that the value of assets has doubled. The leverage could double even if the asset value is constant, if the amount of equity is halved.
If assets fall by 4% then they lose one twenty-fifth of their value, which is exactly the value of the equity. This would imply a net worth of zero, so the bank would be just insolvent.
UK banks increased their borrowing not to lend to UK house buyers directly, but to buy CDOs and other financial assets which originated in the US housing market.