18.9 Globalization and anti-globalization
As the nineteenth-century examples of European agricultural protection and New World immigration restrictions show, globalization can undermine itself. It produces winners and losers. We have seen that by allowing countries to specialize, globalization of trade in goods and services can expand the consumption possibilities of all nations. But the freer movement of capital around the world in search of profit-making opportunities also allows businesses to seek countries with lax environmental regulation and low taxation or where workers do not have rights to organize in trade unions.
So governments that wish to attract overseas investments are often under pressure to oppose policies that would address problems of environmental sustainability and economic justice. The freer movement of goods and capital, as we saw in Units 13 to 15, also limits the effectiveness of policies to stabilize aggregate demand and employment. The movement of labour from one country to another creates gains for some, but threatens losses for others.
If the losers, whether from the mobility of goods, investment or people, are ignored, globalization may turn out to be politically unsustainable in a democracy.

trilemma of the world economyThe likely impossibility that any country, in a globalized world, can simultaneously maintain deep market integration (across borders), national sovereignty, and democratic governance. First suggested by Dani Rodrik, an economist.

These concerns have been analysed by Dani Rodrik, an economist, who developed what he calls the fundamental political trilemma of the world economy. His trilemma refers to three things, all of which are valued, but which (according to Rodrik) cannot all occur at the same time. Rodriks trilemma is really just another trade-off, like that between low inflation and low unemployment (its hard to have both), except that Rodriks trade-off is in three dimensions.4
He defines the three dimensions as:

Hyperglobalization: A world in which there are virtually no political or cultural barriers to the location of goods and investment.
Democracy within nation states: This means (as we said in Unit 1) that the government respects both individual liberty and political equality.
National sovereignty: Each national government can pursue policies that it chooses without any significant limits imposed on it by other nations or by global institutions.


hyperglobalizationAn extreme (and so far hypothetical) type of globalization in which there is virtually no barrier to the free flows of goods, services, and capital. See also: globalization.

As an example of one of the tensions among these objectives, according to Rodrik, hyperglobalization means that countries have to compete with each other for investment, with the result that wealth owners will seek locations for their investments in which labour has fewer rights and the environment is less protected. This makes it difficult for national governments to adopt regulatory standards or other policies, or raise taxes on mobile capital or highly paid workers, even when citizens think that fairness requires this. Implementing hyperglobalization may be impossible in a democratic society. The outcome may therefore either be the demise of hyperglobalization (top row of Figure 18.22) or the demise of democracy (middle row).
Figure 18.22 illustrates the three possible outcomes of Rodriks political trilemma.











Figure 18.22 
Rodriks political trilemma.
        





Adapted from Dani Rodrik. 2012.The Globalization Paradox: Democracy and the Future of the World Economy. United States: W. W. Norton & Company.



Let us take each row of the table in turn to clarify the trade-offs.

Hyperglobalization is ruled out (top row): This happens if national sovereignty and democracy at the national level endure. The reason is that there have to be limits on labour and capital mobility in order to deliver effective national policies of stabilization, environmental sustainability, and redistribution that will be demanded by a democratic electorate.
Democracy is ruled out (middle row): Hyperglobalization policies can only be implemented by the national government if the citizens opposition to them is weakened by a dilution of democratic processes.
National sovereignty is ruled out (bottom row): If hyperglobalization policies are accompanied by supranational institutions that can prevent a race to the bottom in environmental and labour standards, for example, and therefore gain democratic support, this restricts the ability of countries to choose national policies independently.


race to the bottomSelf-destructive competition between national or regional governments, resulting in lower wages and less regulation to attract foreign investment in a globalized economy.

A way of understanding the bottom row is to think of existing arrangements in a federation like the US or Germany. There is free flow of goods, investment, and people across states of the federation. The race to the bottom is prevented by federal legislation and by democratic elections at federal level. This restricts the ability of the states to implement policies that would interfere with the benefits of hyperglobalization across the whole country, with the protection of standards and the operation of stabilization policy.
A second example is the political integration of Europe over the last few decades. It happened, in part, so that governments could obtain the benefits of free trade, plus the free movement of capital and labour, while retaining some ability at the supranational EU-wide level to regulate profit-making in the interests of fairness and economic stability.
The obvious problem is how to make sure that this EU-wide or global governance is democratic as well as technocratic, and to allow voters to change the system if they dont like it.
Other supranational governance initiatives include world agreements on climate change, and efforts by the International Labour Organization to require that all nations meet at least minimal standards for the treatment of labour (eliminating child labour or the physical coercion of employees, for example).







                        Other video options
                    


Bilibili
Download
View transcript




Dani Rodrik explains in our Economist in action video that economics is a science of trade-offs, and that we can have too much globalization. His Globalization Trilemma shows that when economies are increasingly globalized, they must give up some sovereignty or some democracy.



Exercise 18.10 Rodriks Trilemma
Watch Dani Rodriks Economist in action video.

According to the video, what are some of the benefits and trade-offs due to globalization?
State some historical examples of the policy trilemma that were given in the video.

Use Rodriks trilemma and other information you can find to describe:

The popular support that led to the election of Donald Trump as president of the US in 2016.
The popular support that led to the vote in 2016 for Brexit, that is, for the UK to leave the European Union.



Exercise 18.11 Examine the respective strengths and costs of economic independence, and interdependency
In an essay titled National Self-Sufficiency, published in 1933, John Maynard Keynes warned of the consequences of globalization before the word even existed:

We each have our own fancy. Not believing that we are saved already, we each should like to have a try at working out our own salvation. We do not wish, therefore, to be at the mercy of world forces working out, or trying to work out some uniform equilibrium according to the ideal principles, if they can be called such, of laissez-faire capitalism We wish for the time at least to be our own masters and to be as free as we can to make our own favourite experiments towards the ideal social republic of the future.

It became conventional wisdom that global integration would eventually make the idea of national economic sovereignty impractical. A third of a century after Keynes wished for time to be our own masters, Charles Kindleberger, an international trade economist, wrote that:

The nation-state is just about through as an economic unit It is too easy to get about.
Two-hundred-thousand-ton tankers airbuses and the like will not permit the sovereign independence of the nation-state in economic affairs. (American Business Abroad, 1969)


Explain in your own words Keynes case in favour of national self-sufficiency and Kindlebergers claim that the national state is through.
Frame the views of Keynes and Kindleberger in terms of Rodriks Trilemma, and use the data in this unit and other units to assess their statements. (You may want to recall the role of economic policies in helping nations adjust to technological change and trade in Sections 16.816.10, and look ahead to the data on the size of the government and how this has changed over time in Unit 22.)