18.10 Trade and growth
What are the best policies for governments to adopt if they seek to promote long-run growth in living standards? Some argue that it is a choice between two policy extremes:

Seal the national borders and withdraw from the world economy!
Let trade, immigration, and investment across national boundaries take place in the absence of government regulation of any kind!

Few (if any) economists advocate either policy. The question is how to exploit the contributions of the global economy to a nations wellbeing, while minimizing the ways in which integration into the global economy may retard it. Among the growth-enhancing aspects of greater global economic integration are:

Competition: Limiting the impediments to trade in goods and services among nations increases the degree of competition faced by firms in the local economy. This means that firms that fail to adopt new technologies and other cost-cutting methods are more likely to fail and to be replaced by more dynamic firms. The result will be an increase in the rate of technological progress.
The size of the market: A firm that can export to the world market has the opportunity (if it can meet the competition) of selling far more than it could were it restricted to the domestic market. This allows lower-cost production, which benefits home-economy buyers, employees, and owners of these successful firms, as well as external buyers.


infant industryA relatively new industrial sector in a country that has relatively high costs, because its recent establishment means that it has few benefits from learning by doing, its small size deprives it of economies of scale, or a lack of similar firms means that it does not benefit from economies of agglomeration. Temporary tariff protection of this sector or other support may increase productivity in an economy in the long run.learning by doingThis occurs when the output per unit of inputs increases with greater experience in producing a good or service.

Ways that greater integration into the global economy might retard growth include:

Learning by doing in infant industries: In addition to economies of scale, another factor contributing to cost reductions is termed learning by doing. Even if the firm never achieves large-scale production, costs of production typically fall over time. Tariffs protecting infant industries can give firms the time and possibly the scale of operation necessary to become competitive.
Disadvantageous specialization: For reasons of history, some countries may specialize in sectors where there is a lot of potential for innovation, whereas others specialize in sectors with little such potential. Many Latin American countries, for example, slowed growth by specializing in low-innovation sectors such as natural resource extraction. Developing new specializations may require direct government intervention, including infant industry protection.

It is clear from Figure 18.23 that during the second period of globalization, workers in some countriesChina and South Korea for examplehave seen rapid increases in their income levels. But the same figure also makes it clear that in other countries, such as Mexico and Sri Lanka, workers have seen few benefits from the increasingly integrated world economy.











Figure 18.23 
Catching up and stagnating: Manufacturing wages relative to the US (19502015).
        






                                View the latest data at OWiD
                        


(1) Andrew Glyn. 2006.Capitalism Unleashed: Finance, Globalization, and Welfare. Oxford: Oxford University Press; (2) National Bureau of Statistics of China.Annual Data; (3) Bank of England; (4) US Bureau of Labor Statistics. 2015. International Labor Comparisons. Note: Annual US BLS data for Mexico, the Philippines and Sri Lanka has been smoothed using a backward-looking five-year moving average.



There has not been a unique route to economic success during the past 150 years. For example:

Early protectionism in Germany and the US: These countries developed modern manufacturing sectors behind high tariff barriers that sheltered them from British competition. In the late nineteenth century, the correlation between tariffs and economic growth across relatively rich countries was positive. In particular, higher manufacturing tariffs were associated with higher growth. During the interwar period, tariffs were also positively correlated with growth.
Scandinavian prosperity through openness: These countries have been very open to trade for more than 100 years and have prospered. So as to mitigate the fluctuations in household income associated with changes in international prices, they also have high tax rates to support generous social insurance and subsidies for retraining.
Picking national winners: Many East Asian governments have promoted trade while influencing its pattern by favouring certain industries, or even certain firms, and by directing firms to compete in export markets whilst providing some protection from import competition.
Two directions after 1945: On the one hand, countries in East Asia that encouraged their firms to compete in international markets grew faster than Latin American countries that were more closed to international trade. On the other hand, after those Latin American countries reduced their tariffs in the early 1990s, their subsequent economic growth rates were lower than during the more closed period 1945 to 1980.

If there is a lesson from this, it is that success does not depend on whether a country is more or less integrated into the world economic systemmore or fewer exports and imports, for example, or a greater amount of international investment by its firmsbut rather on how well economic integration is managed by policies that promote growth.

When economists disagree HeckscherOhlin, the Leontief paradox, and the new trade theory
It was once thought that if countries were identical none would have a comparative advantage in the production of any good, and there would be no reason for them to specialize and to exchange goods. For example, Eli Heckscher (18791952) and Bertil Ohlin (18991979) reasoned that, when accounting for comparative advantage and trade, the key differences between countries were the relative scarcity of land, labour, or capital. Canada and the US had abundant land relative to the amount of labour, and hence would specialize in and export agricultural goods. With more capital and less labour than China, Germany would export capital-intensive goods to China.
Wassily Leontief (19061999) challenged the widely accepted Heckscher-Ohlin theory in 1953. Using a method of input-output analysis that he had invented, he measured the amount of labour and capital goods used in the production of the goods exported from, and imported to, the US. He determined, for example, the amount of labour required:

to produce a car
to produce the steel, that went into the car
to produce the coal, that fired the steel plant, that produced the steel, that went into the car

 and so on.

Leontief paradoxThe unexpected finding by Wassily Leontief that exports from the US were labour-intensive and its imports capital-intensive, a result that contradicts what the economic theories predicted: namely that a country abundant in capital (like the US) would export goods that used a large quantity of capital in their production.

Based on the HeckscherOhlin theory he expected that, because the US was the most capital-abundant country in the world when measured by the stock of machinery, buildings and other capital goods per worker, its exports would be capital-intensive and its imports labour-intensive. He found the opposite.
For more than 50 years, economists have struggled to resolve this so-called Leontief paradox. Leontief speculated that the US might be labour-abundant if instead of simply measuring the quantity of employees, we include cultural and organizational factors that support a high level of effective work per employee. While his hypothesis has not yet been adequately tested empirically, it reminds us that culture and institutions may be an essential part of explaining how an economy works and may be a source of comparative advantage.
During the 1980s, economists Avinash Dixit, Elhanan Helpman, Paul Krugman, and others, developed models of trade in which trade was not due to differences between countries, but instead to increasing returns to scale. As we have seen in this unit if, through specialization, trade allows countries to reap greater economies of scale, this makes trade a good idea even if the countries do not differ in endowments, including culture and institutions. This new trade theory supports arguments for tariff protection. For example, increasing returns means monopoly profitsso perhaps it would be a good thing if your country gets these profits, rather than someone else. Read Paul Krugmans Nobel lecture, and an earlier paper that he wrote on free trade, to find out more.5


Exercise 18.12 The effect of trade on growth
The empirical evidence on how trade affects growth is mixed.

Suppose you are a consultant with the World Trade Organization and are asked to design an empirical study to find the effect of a countrys openness to trade on growth. How would you approach this exercise? (Hint: see Section 1.9, the introduction to Unit 13, and Section 14.7 for some ways that economists learn from data.)
How would you measure openness to trade (tariffs, export ratios, or other indices of openness)? Discuss the advantages and limitations of your chosen method.
Explain the problems you would face in designing a convincing study. Hint: think back to the examples given in Section 1.9, the introduction to Unit 13, and Section 14.7 about the ways that it is sometimes possible to establish that something (like trade, in this example) causes something else (like growth or lack of growth).