18.4 Specialization and the gains from trade among nations
The result of this process of global economic integration means that today virtually all nations are part of a global economy characterized by:

Specialization: Particular locations specialize in the production of distinct goods.
International trade: These goods are then exchanged with other locations specializing in other goods.


specializationThis takes place when a country or some other entity produces a more narrow range of goods and services than it consumes, acquiring the goods and services that it does not produce by trade.

Specialization entails trade because by producing a narrower range of goods and services than you use, you must engage in trade to acquire the ones you do not produce. International trade is the outcome of specialization among countries.
Machine tools (such as precision-cutting tools) produced in southern Germany are used in the production of computers in coastal south China running software produced in Bangalore and California. These are then flown on aircraft produced near Seattle in the US to be sold to users throughout the world. Producers of these commodities put food on their table grown in the Canada or Ukraine and wear shirts made in Mauritius.
As these examples show, trade and specialization are two sides of the same process. Each provides the conditions necessary for the other. In the absence of trade, machine tool workers in Stuttgart could not eat bread made from grain grown in Ukraine or Canada and wear clothes made in Mauritius. If they had to provide for themselves, many of them would be farmers or clothing workers. In the absence of specialization, there would be little to trade.
In Section 1.8, you met Greta and Carlos, who each wanted to consume both apples and wheat. With their own land and labour they each could have produced both crops, and been entirely self-sufficient. But they found that they could be better off by specializing; Carlos producing only apples and Greta producing only wheat.

comparative advantageA person or country has comparative advantage in the production of a particular good, if the cost of producing an additional unit of that good relative to the cost of producing another good is lower than another person or countrys cost to produce the same two goods. See also: absolute advantage.

The two were better off by specializing because their land differed in what it was best at producing. While Carlos could produce 50 times as many apples as tonnes of wheat on his land if he produced just one crop, Greta could only produce 25 times as many apples as tonnes of wheat (again, if she produced just one or the other). Although Greta could produce more of either crop than could Carlos, Carlos had a comparative advantage in producing apples (in terms of productivity, he was less inferior to her in producing that crop compared to the other). Make sure you understand the term comparative advantage and Figures 1.9a and b before going on.
We are going to use the same reasoning to explain why entire countries specialize in some goods and services, and some in others.
For Greta and Carlos, the reason for specialization was that they had different land. In the same way, the natural resources and climate of countries differ. It would be very costly to produce bananas in Germany given the climate, and this is one of the reasons why Germans make their living doing other things. But there are many other reasons for specialization.

economies of scaleThese occur when doubling all of the inputs to a production process more than doubles the output. The shape of a firms long-run average cost curve depends both on returns to scale in production and the effect of scale on the prices it pays for its inputs. Also known as: increasing returns to scale. See also: diseconomies of scale.

Suppose instead that Greta and Carlos had identical plots of land and the same set of skills. They are equally adept at growing either wheat or apples, but the production of both apples and wheat is subject to economies of scale. This would mean, for example, that doubling the amount of land and their own time devoted to the production of, say, apples would more than double the quantity of apples produced. Whether or not this is a reasonable assumption depends on the production technology of each good.
So we will replace Figure 1.9a, which showed the case of specialization based on factor endowments, with Figure 18.13. In the table in this figure, you see that if 25 hectares (and a proportional amount of either Gretas or Carlos labour is devoted to the production of apples), 625 apples will be produced. If the land devoted to apple production is doubled to 50 (with half of labour time still applied to its production) apple production increases by a factor of four, to 2,500.






Area of land used in production (hectares)
1
25
50
75
100




Wheat (tonnes)
0.1
62.5
250
562.5
1,000


Apples
1
625
2,500
5,625
10,000





Figure 18.13 
Economies of scale in the production of wheat and apples. Note that the entries in the Apples row are just the square of the amount of land devoted to the production of apples, and the Wheat row is just one-tenth of the number of apples produced in each column.
        




Imagine the two working as self-sufficient farmers, each with 100 hectares, dividing their land and labour equally between the two crops. They would each have 250 tonnes of wheat and 2,500 apples to consume.
But if either one of them were to specialize in wheat and the other in apples and then share the resulting crops equally, they could have four times as much wheat and apples as they would have in the absence of specialization. The important point here is that it doesnt matter who specializes in what. The advantage of specialization does not come from any difference between the endowments (skills, land) of Greta and Carlos but instead from the fact that people each producing a lot of one thing may be more efficient than them producing lesser amounts of many things.
Well get back to Carlos and Greta in the next section, but what do the examples featuring them tell us about global integration and trade between nations? For example, why do southern Germans specialize in producing machine tools, high-end automobiles and other manufactured goods, while the southern coast of China is the world centre of manufacturing computers that run on US-produced software, while Mauritians produce shirts, and the residents of Alberta, Canada grow grain? There are two kinds of answers:

Economies of scale, agglomeration, and other positive feedbacks: The production of aircraft is subject to extraordinary economies of scale. The Boeing Plant in Everett, Washington is the largest building in the world (over 13 million cubic metres in volume). Writing computer code is not subject to economies of scale, but good software is produced in areas in which a very large number of people are working on similar tasks, sharing information and innovating.
Differences between regions: Alberta has an appropriate climate and soil for growing grain. The production of clothing requires a lot of labour but not an extensive amount of capital goods, fitting the availability of these factors of production in Mauritius. German apprenticeship training schemes support the high level of skills needed for the machine tool industry.

The distinctive aspect of the first source of specialization is its accidental quality. Why Everett, Washington rather than Osaka, Japan? Why is Bangalore a software hub, and not Singapore or Sydney?

Economies of agglomeration
The cost reductions that firms may enjoy when they are located close to other firms in the same or related industries.
Dont confuse this with economies of scale or economies of scope, which apply to a single firm as it grows.

To explain specialization we often need to draw on both types of explanation. German machine tool production, for example, benefits not only from the high level of skill of the German workforce but also from economies of co-location, called economies of agglomeration. Firms also share information and develop common industry standards for components, and they stimulate research in the region, from which they benefit.
Figure 18.14 summarizes our explanation of specialization and trade.











Figure 18.14 
Between-country cost differences, specialization, and trade.
        





Exercise 18.4 Assess some country production specialization patterns
Choose a few goods and services not discussed in this unit (for example, wine, automobiles, professional services such as accounting and auditing, consumer electronics, bicycles, or fashion goods). Use Figure 18.14, along with what you know or can research about your chosen products, to provide an explanation of country specialization patterns.