18.8 Migration: Globalization of labour
Just as the Italian farmers had not been happy to see the cheap Indian grain being offloaded from the steamer Manila in Genoa, workers in North America did not always welcome Europeans in search of a more affluent life, like the 69 passengers sailing west on the Manila after leaving Genoa on their way to New York. Immigration hurt unskilled workers in the New World. Where unskilled wages lagged furthest behind average incomes, immigration barriers were raised the most.
This resulted in another type of globalization backlash during the first period of globalization in the nineteenth and early twentieth centuries: gradually rising barriers to immigration.
In Unit 9, we analysed the effect of immigration on unemployment (see Figure 9.19). The model helps us to see why opposition to immigration was common among workers in land-abundant economies like the US or Canada at that time and in many countries since. When new people arrive in a nation they are unemployed, so we might expect the first impact of immigration to be that it increases unemployment. This means that immigration also increases the cost of job loss for residents, because the worker who loses a job is now in a larger pool of unemployed workers. Workers have more to fear from losing their jobs, and firms will be able to make employees work effectively at a lower wage.
This is not the end of the story. Firms are now getting work at lower wages, and so are more profitable. As a result they will seek to expand production. To do this, they will invest in new machinery. This will increase labour demand in the rest of the economy, and when the new capacity is ready, firms will hire more workers. Return to the analysis in Figure 9.19 to follow the steps from the impact effect to the long-run outcome.
In this story, the short-run impact of immigration is bad for existing workers in that country: wages fall and the expected duration of unemployment increases. The short run may last for years or even decades.
In the longer run, the increased profitability of firms leads to expanded employment that eventually will restore the real wage and return the economy to its initial rate of unemployment (if no further changes in the situation take place, like another wave of immigration). As a result, incumbent workers are no worse off. Immigrants are likely to be economically better off tooespecially if they left their home country because it was difficult to make a living.






The economic effects of immigration are widely debated among the public. This interview from 2006 with Christian Dustmann, an economist who specializes in the effects of migration, captures this debatein particular the impact of migrant workers on the British town of Swindon.



Exercise 18.9 The economic effects of immigration

Summarize the evidence on migrants skills suggested in the video.
Use the labour market model to show what may happen to wages and employment after an influx of migrant workers.
What is the evidence on the effect of immigration on wages in Britain reported in the video? Compare this with your prediction from question 2. Try to modify the price- and wage-setting model to come up with an explanation of this evidence.