19.9 Explaining recent trends in inequality in market income
Can these policies or other changes help explain the trends in market income inequality? Figure 19.24 indicates three of these trends and suggests possible explanations based on the models you have learned.





Trends
Data
Contributing causes
Models


Declining within-country inequality (19201980)
Figures 19.2, 19.3, 19.4
Increasing education and productivity reduced unemployment.Reduced labour market segmentation and other sources of inequality among workers. Technological improvements that were complementary to low and middle-skill workers.
Figure 19.20, Figure 19.21


Stable or rising within-country inequality (19802017)
Figures 19.2, 19.3, 19.4, 19.6, 17.3 (upper panel)
Increased inequality among workers due to new technologies that were complementary to the skills of higher paid workers, and substitutes for workers doing routine tasks. Weaker trade unions and conservative political parties in power saw bargaining power shift in favour of employers, whilst the resulting higher profits after taxes were not translated into expanding employment (in some countries).
Figure 19.22


Stable or decreasing between-country inequality (19952017)
Figure 19.5
Reduced global labour market segmentation due to rapid growth of labour productivity and demand in China and other poorer countries.
Figure 19.25




Figure 19.24 
Using economic models to explain trends in inequality in market income.
        




To explain the reduction in between-country inequality (and the associated reduction in between-household inequality) in the world, think of the world as a single capitalist economy with a labour market that is segmented along national lines. To do this, we propose a very simple economy of the world with just two countries: China and Europe-and-North-America. So instead of two labour market segments in the same country, there are two countries, a low-wage country and a high-wage country, a little like China and the US in Unit 18.
Just as it is not easy for workers to move up from the secondary to the primary labour market within a country, the global economy has nationally segmented labour markets because of the barriers facing workers who would like to relocate from one country to the other. And, just as in the national economy, owners are not segmented. They invest their wealth wherever it will get the highest return. As we saw in Unit 18, globalization is only partial: the world labour market is far from integrated while capital mobility is high, because money does not need a green card or a work visa to be allowed to work in a country.
The process of globalization has been associated with a reduction in global labour market inequality, as the once-low wages in successful exporter countries like China begin to catch up with wages in the higher-wage economies like France. A second effect has been a vast increase in the amount of labour that is now available for employment in the global capitalist economy, and this has been associated with an increase in the share of income going to owners of firms rather than employees.












Figure 19.25 
The world as a unified capitalist economy with a segmented labour market.The red segment shows the impact of globalization increasing inequality by reducing wages in the rich countries relative to their employers while the green part shows the effects of greater incomes among poor employees in China.
        















The world before China took off


Much of the hypothetical Chinese economy is initially rural and not directly engaged in the capitalist economy. The Chinese urban labour forcehalf of the hypothetical worlds total labour forcereceives just 20% of the worlds income. The European and North American labour forcehalf the size of Chinasreceives twice as much. The world Gini coefficient is 0.59.














China takes off


The rural sector in China has shrunk to 10%, increasing Chinas share of the labour force engaged in the global capitalist economy, which now receives the same share of world income as the European and North American workers (30% each).














A new labour-abundant and more equal world with winners and losers


Red shading shows owners share of world output increasing from 30% to 40% while Western workers lose income. But the dashed Lorenz curve and disappearing green-shaded portions show an increased income share for poorer workers. The world Gini falls from 0.59 to 0.545.