19.2. Accidents of birth: Another lens to study inequality
Much of the inequality in the world today can be traced to differences among people in things over which they have virtually no control, such as their race, sex, nation, or parents. We call these differences accidents of birth.6
To see how important accidents of birth can be, try the following thought experiment. Go back to Figure 1.2. Suppose that all you care about is income, and you can choose either:

the income decile you are in, but the country you are born in will be decided by chance
the country you are born in, but the decile you are in within the country will be decided by chance

Did you choose option 1 (the decile) or option 2 (the country)?
If you chose option 1, you would of course choose to be in the top decile, so you would be somewhere at the back of Figure 1.2. But where? You would have an equal chance of being born in Nigeria on the left-hand side or in the UK on the right-hand side.
If you chose option 2, you could select one of countries at the right-hand end with the highest average income. You are as likely to be in the lowest decile, at the front of the figure, as in the highest decile, at the back.
Ones citizenship is one of the great accidents of birth affecting income. Passports and borders limit the economic opportunities people from different countries face. People with the same education, capacities, and ambition but born on different sides of a national border face very different life chances, whether that is the border between Mexico and the US, The Peoples Democratic Republic of Korea (North Korea) and South Korea, or the Mediterranean Sea that divides North Africa from Europe. Even where migration is allowed, migrants are often denied access to political and labour rights, as in the Gulf States and some East Asian countries.
Gender and other forms of categorical inequality
Inequalities based on accidents of birth also exist within countries:

Caste: Vast disparities in life chances in India, for example, follow from long-established hereditary and hierarchical caste boundaries. Caste is a social status that ranges from high-status Brahmins to Dalits (once called untouchables).
Formalized discrimination: Until 1994, apartheid in South Africa formalized inequality with a complex system of racial barriers.
Colonists and indigenous people: In Australia, the US, and much of Latin America, extraordinary economic and social inequality exists between descendants of European colonists and those who arrived tens of thousands of years earlier, called indigenous people.


categorical inequalityInequality between particular social groups (identified, for instance, by a category such as race, nation, caste, gender or religion). Also known as: group inequality.

Inequalities based on ones ethnic identity or caste are examples of categorical inequality (also known as group inequality), meaning economic differences among people who are treated as being in different social categories as defined by more powerful social classes. The Indian castes are categories, as are those of African, White, Coloured and Asian in South Africa. Categorical inequalities are for the most part based on accidents of birth, because one is born into membership in one of the categories, and switching category is typically difficult if not impossible.
To understand how easily segregation by race or some other categorical characteristic arises, take two minutes to play the online game The Parable of the Polygons.
The most common form of categorical inequality is that between men and women. There are many economic differences between men and women on average. This is a bit puzzling because other than differing biological roles in reproduction, men and women are so similar: similar parents, similar schools (in most countries), similar genetic inheritance on matters affecting intellectual skills and so on. But it is clear that the economy treats men and women differently. This is much more true in some countries than in others, but it is true for all countries.
Income disparities between men and women among otherwise similar individuals are one measure of this inequality. Figure 19.8 shows the expected lifetime earnings (labour income) of men and women in the US, who work full time from the time they leave school until retirement. As a result, any differences in the figure are not due to women having more time out of the labour force (on average) because of child rearing.
Because the quality of schooling does not differ between males and females on average (and girls tend to do as well on most tests), the gender differences in pay are not due to differences in cognitive ability or quality of schooling. Yet for every level of schooling, women can expect to earn much less than men.











Figure 19.8 
Categorical inequality: Schooling and lifetime earnings for men and women in the US.
        





Adapted from Figure 5 in Anthony P. Carnevale, Stephen J. Rose, and Ban Cheah. 2011. The College Payoff. Georgetown University Center on Education and the Workforce. (Note: The average for males is $2,520,286, while for females it is $1,909,714.)



The figure also shows, however, that additional schooling contributes to higher lifetime incomes, and that those women who complete university (a bachelors degree) can expect to earn much more than men who ended their schooling after secondary school.
In many parts of the world girls receive considerably less schooling than boys, but as Figure 19.9 shows, girls go to school for the same number of years on average as boys in both the US and France, and longer in Brazil. Countries in which women have historically suffered extraordinary social and economic disadvantages, such as China and Indonesia, have virtually eliminated the gender gap in years of schooling, and India, though far behind, is rapidly closing it.











Figure 19.9 
Categorical inequality: Average years of schooling, girls relative to boys (19702010).
        






                                View this data at OWiD
                        


The World Bank. 2016. IIASA/VID Educational Attainment Model. Dataset produced by the International Institute for Applied Systems Analysis (IIASA) in Luxemburg, Austria and the Vienna Institute of Demography, Austrian Academy of Sciences. Educational Attainment Statistics.



Intergenerational inequality
In addition to categorical differences such as nation, gender, race, or ethnic group, a second source of economic inequality within a nation is inherited. You may be rich or poor simply because your parents were rich or poor.
Two hundred years ago, in most countries it was taken for granted that somebody would expect a life of poverty simply because her parents had been poor, or that someone else would inherit the ownership of his fathers company and social status, without having to prove that he was the best person for the job. The inheritance of inequality from one generation to the next seemed to be part of the natural order of things.
But this has changed with the spread of public education and, in many countries, with the decline in discrimination against poor people due to their race, religion, or simply their humble origins. In some countries, the economic status of ones parents matters a great deal for the economic success of their children; in other countries, differences among parents are only weakly transmitted to their offspring.

intergenerational transmission of economic differencesThe processes by which the economic status of the adult sons and daughters comes to resemble the economic status of the parents. See also: intergenerational elasticity, intergenerational mobility.

The expression intergenerational transmission of economic differences refers to the processes by which the economic status of the adult sons and daughters comes to resemble the economic status of the parents. The transmission process takes many forms:

Children inherit the wealth of their parents.
The genetic makeup of the children is similar to the parents.
Through parental influence in child rearing, parents and children tend to share similar preferences, social norms, and knowledge, skills and social connections acquired outside formal schooling.


intergenerational inequalityThe extent to which differences in parental generations are passed on to the next generation, as measured by the intergenerational elasticity or the intergenerational correlation. See also: intergenerational elasticity, intergenerational mobility, intergenerational transmission of economic differences.

Intergenerational inequality occurs where these processes result in similarity between the economic status of parents and their children: the children of the well off become rich themselves, while the children of the less well off stay poor.7
Economists and sociologists measure intergenerational inequality by ranking parents by their incomes or wealth, and then looking at what income or wealth their kids end up with when they become adults. They confirm that there is substantial intergenerational inequality. Kids whose parents had a high income are likely to grow up to have high incomes themselves, and kids from low-income families are likely to have low incomes as adults.8
This is what we see in Figure 19.10, which gives measures of the intergenerational inequality of men in the US (left panel) and Denmark (the right panel), based on their labour earnings (wages or salaries). The tall bar on the left in the US panel means that among those whose fathers were in the bottom fifth of the earnings distribution, 40% were themselves in the poorest fifth, while 7% ended up in the top fifth of the earnings distribution. By contrast, 36% of those born to the richest fifth were themselves in the richest fifththe tall purple bar on the right.











Figure 19.10 
Intergenerational inequality in earnings: The US and Denmark.
        





Table 14 in Markus Jntti, Bernt Bratsberg, Knut Red, Oddbjrn Raaum, Robin Naylor, Eva sterbacka, Anders Bjrklund, and Tor Eriksson. 2006. American Exceptionalism in a New Light: A Comparison of Intergenerational Earnings Mobility in the Nordic Countries, the United Kingdom and the United States. Discussion Paper Series 1938. Institute for the Study of Labor.



One of the reasons that children of the rich tend to be richer than the children of the poor is the financial support that rich parents give to their children, both during the parents lifetimes and at death in the form of inheritances. The data in Figure 19.10, however, is based on labour earnings, not inherited wealth. The earnings of parents and their children appear to be similar in the US, partly because children of well off parents receive more, higher-quality, schooling. They also benefit from the networks and connections of their parents, which improve access to the labour market.
The data from Denmark in the right panel suggests a more level playing field. Only 25% of those born to parents in the poorest fifth of the population end up in the poorest fifth themselves, compared to 40% in the US. This suggests that those born to relatively poor parents are less disadvantaged in Denmark. Similarly, 33% of those born to parents in the richest fifth end up in the richest fifth themselves, compared to 36% in the US. Based on this data, we would conclude that intergenerational inequality is lower in Denmark than in the US, though it still does not appear to be a completely level playing field.

intergenerational elasticityWhen comparing parents and grown offspring, the percentage difference in the second generations status that is associated with a 1% difference in the adult generations status. See also: intergenerational inequality, intergenerational mobility, intergenerational transmission of economic differences.

A measure that can summarize the overall rate of intergenerational inequality in a society is the intergenerational elasticity of income or wealth. To see what this measures, consider two pairs of fathers and children. The father in the first pair is richer than the father in the second. The intergenerational elasticity measures how much richer the child of the well off father will be than the child of the poorer father. An elasticity of 0.5, for example, means that if one father is 10% richer, then his child, when grown up, will be on average 5% richer than the other child. The higher the intergenerational elasticity, the greater the degree of intergenerational transmission of economic status and the greater the level of intergenerational inequality. In a society with a high intergenerational elasticity, intergenerational mobility is low.
The term intergenerational elasticity has nothing to do with the usual meaning of the word elastic. But, like the price elasticity of demand for a good, it concerns the percentage change in something that is associated with a percentage change in something else.

intergenerational mobilityChanges in the relative economic or social status between parents and children. Upward mobility occurs when the status of a child surpasses that of the parents. Downward mobility is the converse. A widely used measure of intergenerational mobility is the correlation between the positions of parents and children (for example, in their years of schooling or income). Another is the intergenerational elasticity. See also: intergenerational elasticity, intergenerational transmission of economic differences.

What is the relationship between a measure of intergenerational inequality such as the intergenerational elasticity and the extent of inequality among the members of a population at a given point in time? You can think of many reasons why the two would go together.
Figure 19.11 presents evidence on the relationship between intergenerational elasticity for earnings and earnings inequality at a particular time. We refer to earnings inequality at a particular time, which we measure using the Gini coefficient for income, as cross-sectional inequality. Note that we do not include the effects of taxes and government transfers in Figure 19.11 when we measure both income inequality and intergenerational transmission of earnings, because we are interested in the movements of these two dimensions of inequality that are independent of government policy.











Figure 19.11 
Intergenerational and cross-sectional inequality.
        






                                View this data at OWiD
                        


Miles Corak. 2013. Inequality from Generation to Generation: The United States in Comparison. In The Economics of Inequality, Poverty, and Discrimination in the 21st Century, edited by Robert S. Rycroft. Santa Barbara, CA: Greenwood Pub Group; Wen-Hao Chen, Michael Frster, and Ana Llena-Nozal. 2013. Globalisation, Technological Progress and Changes in Regulations and Institutions: Which Impact on the Rise of Earnings Inequality in OECD Countries? Working Paper Series 597. LIS.



The figure shows that for the countries considered, inequality in earnings at any particular point in time tends to be higher when intergenerational inequality is high. The US, UK, and Italy are examples of countries that have both high cross-sectional inequality and high intergenerational inequality. In other countries (Norway, Denmark, Finland) both intergenerational inequality and cross-sectional inequality are quite limited. But some countries differ according to which type of inequality is most pronounced. Compare, for example, Canada and Switzerland.
Does cross-sectional inequality cause intergenerational inequality, or the other way around, or both, or neither? We know that societies with a strong culture of fairness and equal treatment, such as Denmark, adopt policies to reduce inequality between people at a given moment, including offering generous benefits to unemployed and retired individuals through the welfare state. At the same time, they also attempt to limit intergenerational inequality by providing equal opportunities for high-quality education, and through other policies that would reduce intergenerational transmission of economic status. This is part of the explanation of the contrast between Denmark and the US in Figure 19.10.
Another likely source of the correlation in Figure 19.11 is that in any period (a generation for example), some individuals experience good luckfor example, living in a region that experienced an economic boom, while others experience bad luckserious illness (their own or a family member), unplanned pregnancy, business failure, or because technological change or shifts in demand make their skills less valuable. These shocks create more inequality in any given generation.
But if having high-income parents gives their sons and daughters economic advantages when they grow up, then these shocks live on even after the parents pass away. A persons father may have been rich just by good fortune, but his son and daughter will also be rich (or at least richer than they would have been) by inheritance.
Thus, in countries where intergenerational inequality is substantial, for example in the US, Italy, and the UK, high or low incomes resulting from good luck or bad luck are passed on to the next generation, and added to whatever shocks of good or bad fortune that the next generation experiences. As a result, intergenerational inequality contributes to cross-sectional inequality.
You now know some basic facts about inequalities around the world. Knowing these facts, we ask what, if anything, is wrong with economic inequality?

Exercise 19.4 How inequalities of birth persist between generations

Go back to the stories of Yichen, Renfu, Stephanie, and Mark and indicate all of the accidents of birth that affected their economic successes or failures.
Give some reasons why the intergenerational inequality and inequality between members of a population at a given moment in time are positively correlated.



Question 19.4 Choose the correct answer(s)
Figure 19.10 shows the proportion of children in earnings quantile conditional on their fathers earnings quantile in the US and Denmark, respectively.
Based on this information, which of the following statements is correct?

The data provides support for the American Dream, a term coined in 1931 by James Truslow Adams that refers to a dream of social order in which each man and woman shall be able to attain to the fullest stature of which they are innately capable regardless of the fortuitous circumstances of birth or position (in The Epic of America, 1931).
In the US, 7.4% of those from the poorest 20% of families managed to move up to become part of the richest 20%.
In Denmark, it is far more difficult for the richest families to preserve their status for the next generation than in the US.
The figure suggests that there is very little governments can do to reduce intergenerational transmission of economic status.


The intergenerational elasticity is higher for the US than for Denmark, which does not support the claim in the ideal of the American Dream.
The first purple bar in the left panel shows this information.
The percentage of the richest 20% fathers whose children also ended up in the richest 20% are comparable in Denmark and the US: 33.7% compared to 36%.
The diagrams show that in Denmark, the advantage of being born in a rich family is relatively smaller and the disadvantage of being born poor is certainly smaller than in the US. This may be attributed to Denmarks attempt to improve intergenerational mobility by, for example, providing equal opportunities for high-quality education and reducing the importance of inherited wealth.