19.3 What (if anything) is wrong with inequality?
In November 2016, we asked students beginning economics at Humboldt University in Berlin, What is the most pressing issue that economists today should address? Their replies are shown in the word cloud in Figure 19.12, in which the size of the word or phrase indicates the frequency with which that term was mentioned. Students in other universities around the world gave similar answers.











Figure 19.12 
Inequality is one of the main problems that students think economics should address.
        




Perceived, ideal and actual inequalities
One of the reasons why inequality is seen as a problem is that many people think there is too much of it.
Michael Norton, a professor of business administration, and Dan Ariely, a psychologist and behavioural economist, asked a large sample of Americans how they thought the wealth of the US should be distributed: what fraction of it, for example, should go to the wealthiest 20%? They also asked them to estimate what they thought the distribution of wealth actually was.9
Figure 19.13 gives the results, with the top three bars showing the distribution that different groups of respondents considered would be ideal, and the fourth bar the wealth distribution that they thought actually existed in the US. The top bar shows that Americans thought that, ideally, the richest 20% should own a little more than 30% of total wealthsome inequality was desirable, but not a lot. Now contrast this with the fourth bar (Estimated), which shows that they thought that the richest 20% owned about 60% of the wealth. The bottom bar shows the actual distribution. In reality, the richest fifth owns 85% of the wealth. The actual distribution is much more unequal than the publics estimateand contrasts sharply with the lower inequality that people would like to see.











Figure 19.13 
Ideal, estimated, and actual distribution of wealth for people in the US.
        





Adapted from Figures 2 and 3 in Michael I. Norton and Dan Ariely. 2011. Building a Better AmericaOne Wealth Quintile at a Time. Perspectives on Psychological Science 6 (1): pp.912.



Different groups largely agree on the ideal distribution of wealth. Americans with an annual income greater than $100,000 thought that the share going to the top 20% should be slightly larger than those who earned less than $50,000 thought it should be. Not shown in the figure: Democratic Party voters wished for a more equal distribution than Republican Party voters, and women preferred more equality than did men. The differences between these groups, however, were small.
When is inequality unfair?
Although there seems to be a consensus on the ideal outcome in the US, policies that would redistribute income and wealth are controversial and debated passionatelyas they are in most countries. Differences in self-interest contribute to the arguments. Richer Americans, for example, tend to oppose redistribution that favours the poor, while poorer Americans support it.
But, as the experiments in Unit 4 would lead us to expect, self-interest is just part of the explanation. People differ also because they hold different beliefs about why the poor are poor and how the rich became rich. In laboratory settings, people often express strong feelings of fairness, and give up considerable sums of money to ensure that outcomes are consistent with ideas of economic justice.
For example, Responders in the ultimatum game reject what they consider an unfair offer, preferring to receive nothing and to impose the same fate on the Proposer than to agree to being treated unfairly. Both rich and poor may think that high levels of inequality are unfair and that the government should reduce economic disparities, even if it means voting for policies that would reduce the disposable income of the voter.
In Unit 5, you read about contrasting ideas about fairness, not based on how people play in experimental games, but instead on moral principles. Procedural theories, which are ideas of fairness based on how the inequality came to be, focus not on how poor or rich someone is, but instead on why the person is poor or rich.
Christina Fong, an economist, wanted to know if people in the US think this way when it comes to their political support or opposition to policies to raise the incomes of the poor, financed by general taxation. She found that a person who thinks that hard work and risk-taking are essential to economic success is much less likely to support redistribution to the poor than one who thinks that the key to success is inheritance, being white, your connections, or who your parents are.
The results of her study are in Figure 19.14. Notice that white people who think that being white is important to getting ahead strongly support redistribution to the poorevidently because they think that the process that determines economic success is unfair.











Figure 19.14 
How beliefs about what it takes to get ahead predict whether people in the US support or oppose government programs to redistribute income to the poor.
        






                                View this data at OWiD
                        


Figure 5.3 in Samuel Bowles. 2012. The New Economics of Inequality and Redistribution. Cambridge: Cambridge University Press; Christina Fong, Samuel Bowles, and Herbert Gintis. 2005. Strong Reciprocity and the Welfare State. In Handbook of Giving, Reciprocity and Altruism. Edited by Serge-Christophe Kolm and Jean Mercier Ythier. Amsterdam: Elsevier.



This suggests that for many people, the question how much inequality is too much? cannot be answered unless we know why a family or person is rich or poor. Many people think it is unfair if income depends substantially on what we call an accident of birth (categorical inequality)your race, your sex, or your country. Inequalities based on hard work or taking risks are less likely to be seen as a problem.

Exercise 19.5 Estimated, ideal, and actual distributions of wealth
Use this Gini coefficient calculator to determine the Gini coefficients for wealth ownership given by the estimated, ideal, and actual distributions in Figure 19.13. 
Note: You will have to estimate the data visually from the chart.


Exercise 19.6 A level playing field
When people think about too much inequality, some think about the Gini coefficient measuring inequality at a point in time, while others are more interested in intergenerational inequality.

Use an example of two fictional families in each country to explain the combination of cross-sectional and intergenerational income inequality in Canada and Switzerland shown in Figure 19.11.

Now think about the indifference curves that you could draw in this figure that would indicate the combinations of inequality and intergenerational inequality that would be equally fair in your judgement.

If you cared only about the Gini coefficient and you disliked inequality, what would they look like?
If you cared only about the intergenerational elasticity and you disliked inequality, what would your indifference curves look like?
On Figure 19.11, draw indifference curves according to your personal preferences for cross-sectional and intergenerational inequality. Use your indifference curves to rank the countries from the fairest to the least fair.