19.4 How much inequality is too much (or too little)?
We know that accidents of birth matter. But even if the playing field were level (that is, accidents of birth did not matter), we would still face a question: how rich should the winners be compared to the losers?
A lens for looking at unfairness: The veil of ignorance.
To think about this question, transport yourself to a hypothetical world in which you (perhaps along with other fellow citizens) are asked to design your model society. There will be two groups or classes of equal size, one called richer and the other poorer. You will get to live in the society you design after you have answered the question how rich should the richer class be and how poor should the poorer class be?
But there is a hitch: which class you get to be in will be determined by the flip of a coin after you have decided how unequal the society will be.
This thought experiment is what the American philosopher John Rawls, whom we encountered in Unit 5, termed choosing a social contract from behind a veil of ignorance. The veil of ignorance ensures that we do not know which position we would occupy in the society we were designing.
Behind the curious device of the veil is an important concept. Rawls fundamental idea is that justice should be impartial. It should not favour one group over another, and the veil of ignorance invites you to think this way (because you do not yet know which group you are going to be in). Rawls asked us to think about justice as if:

[N]o one knows his place in society, his class position or social status; nor does he know his fortune in the distribution of natural assets and abilities, his intelligence and strength, and the like. (A Theory of Justice, 1971)

This does not tell us the answer to how much inequality there should be, but it does suggest a way to look at it.
Feasible inequality
Economics gives us tools for studying what combinations of the income of the rich and the poor are feasible, and how we might reason about which ones are preferable to others.
Lets try one way to answer the question of how rich should the richer class be and how poor should the poorer class be. Lets say there should be no difference between the incomes of the rich and the poor. Suppose that, in this case, both classes would receive $100,000 annually (per adult). This is shown by point E (for Equality) in Figure 19.15, where the 45-degree line gives all of the points of equal income between the two classes (so there is really no meaning to rich and poor). The figure shows the annual income per adult of the poor and the rich on separate axes.












Figure 19.15 
Choosing between feasible income distributions.
        















Equality between rich and poor


Point E shows the case in which rich and poor receive the same income.














Rawls ideal


Rawls preferred point is R, where the poor are as rich as possible.














The feasible set


The red curved line made passing through R and E (and the other points above R) is the frontier of the feasible set of income distributions of this economy. Its slope is the MRT.














Maximum expected income


If you were interested in maximizing your expected income then you would choose point A, where the income gains of the rich are exactly offset by income losses by the poor, so the marginal rate of transformation is equal to one.














If you knew you would be rich


If you could rig the coin flip so that you knew you would end up rich (and you had no concern about fairness) you would select point F.














The worst solution for the poor


Point D denotes the minimal income of the poor and, like E, is not Pareto efficient.














Inequality aversion


An inequality-averse citizen with indifference curves as depicted by the blue curves would choose point B.




Would this be your choice? In this version of an ideal society, you would not run the risk of ending up poorer than others after the coin flip. But as an economist you might think that complete equality in the society would mean that there were insufficient incentives for people to work, study, and take risks innovating and investing, so that at least some inequality could actually be better for everyone.
In the figure, points between E and R show possible combinations in which the rich are richer than the poor, but where the poor also are richer than they would be under complete equality. To put it another way, from any one of these points, including point E, there is a win-win possibility: giving more income to the rich allows the poor to have more income as well.
Comparing the two points, you can see that E is Pareto inefficient because both the rich and poor are better off at R than at E. The income distribution at R is also the one at which the poor are as rich as they can possibly be in this economy, as indicated by the feasible frontier. This is the point that Rawls favoured (and why we called it point R).
Would you choose R? Notice that, above R, the frontier is very steep. This means that its possible to make the rich much richer by making a small reduction in the income of the poor.
The red curved line passing through R and E (and the other points above R) is the frontier of the feasible set of income distributions for the economy in question. We assume that a government can adopt policies to bring about any one of these economically feasible points, but in Unit 22 we will introduce limits on the governments ability to do so, which would have the effect of shrinking the feasible set. As with all feasible frontiers, the slope is a marginal rate of transformation. In this case, the transformation is of income losses of the poor into income gains for the rich.

If the point R had been proposed, would you want to consider other points higher up on the feasible frontier? Remember, after the coin flip, you will get either the income of the rich or that of the poor with equal probability (one half), so you know that:

As long as income gains for the rich come at little expense of income losses for the poor, you would definitely do better to move above point R. If you were interested in maximizing your expected income and did not care about the degree of inequality, then you would choose point A, where the income gains of the rich are exactly offset by income losses by the poor, so the marginal rate of transformation is equal to one.
But after point A, the inequalities would become so severe that the average income would fall, and the rich would be getting a larger slice of a smaller pie. This might occur if the poor were not fed enough to work hard, or were angry enough about their condition to motivate the rich to divert some economic resources from goods and services production into protecting their wealth, which reduces total output. By looking ahead to Figure 19.30c, you will see data showing that more unequal societies (such as the US, UK, and Italy) devote more resources to workers employed in private and public security activities than do other more equal countries with similar GDP per capita.
Like the feasible set when Angela and Bruno were bargaining in Unit 5, there is a minimum level of income that the poor can get. This minimum could be set by their biological survival needs, or perhaps by the fact that if income fell below this level they would revolt. Notice that if the poor were to be even poorer than at point F, the rich would also suffer. So like point E (maximal equality), point D (minimal income of the poor) is not Pareto efficient.
In the figure we have considered the following income distributions:

E: complete equality
R: the distribution with the highest income for the poor
A: the highest average income of rich and poor
F: the maximum income of the rich
D: the distribution in which the poor are at their minimum feasible living standard

A preference for fairness
Which would you choose? Points between D and F are easy to eliminate from the running, as they are all inferior to point F for both classes. And the same goes for points between E and R. Eliminating all Pareto-inefficient distributions from consideration means that no points in the interior (inside) of the feasible set would be considered.
That leaves points between F and R. How will you choose among them? To answer this, you need to consult your indifference curves. In this case, an indifference curve gives combinations of the incomes of the two classes that you value equally.
Curves further away from the origin are preferred (more income for both groups is always better). The slope of these indifference curves is the marginal rate of substitution between income for the rich and income for the poor.

You would then maximize your utility by finding the point on the feasible frontier at which the marginal rate of transformation is equal to the marginal rate of substitution. If you wished to maximize your own expected income, then you would place an equal value on the income of the rich and the poor because you are equally likely to be one or the other.

inequality aversionA dislike of outcomes in which some individuals receive more than others.

But you might care about the condition of the poorer class even if you were lucky enough to be assigned to the richer class in the coin flip (remember, you have to make your choice before you know your assignment). That is, you might be inequality averse, caring about your own payoffs but also disliking inequality across groups. In this case, you would have an indifference curve like the blue one shown in the figure. You would choose point B, somewhere between Rawls ideal (the highest feasible income of the poor) and point A, the highest average income.
The familiar graph of the feasible set and a family of indifference curves helps to clarify the choices about inequality and fairness that a citizen or group of citizens may wish to make. But it does not tell us how any of the points on the feasible frontier might actually be implemented. Changing the level of inequality in a society requires altering one or more of the causes of the current state of inequality. To understand income inequality, we first have to understand the factors that determine an individuals income.

Question 19.5 Choose the correct answer(s)
Figure 19.15 shows the feasible frontier of the incomes of the rich and the poor.
Which of the following statements is correct?

E, the point of maximum equality, is Pareto efficient.
For the inequality-averse citizen shown, any point between R and F on the frontier is preferable to any point inside the frontier.
If you had a 50-50 chance of being rich or poor, then your expected income is maximized at point B.
Between D and F, lower income for the poor leads also to lower income for the rich.


Point E is not Pareto efficient as at point R, both the rich and the poor are better off than at E. This reflects the belief that complete equality in society would remove incentives for its citizens to work, study, and take risks, so a little inequality could actually be better for all.
For example, instead of point R, the inequality-averse citizen would prefer any point in the region enclosed by the indifference curve through R and the feasible frontier.
If you had a 50-50 chance of being rich or poor, then the average income is maximized at the point where the MRT = 1, that is, one unit loss of income for rich / poor leads to exactly the same gain for poor / rich (otherwise you would be able to increase the total income by choosing another point). This is point A.
Between D and F, incomes of both the rich and poor decrease. This could occur because the rich have to dedicate resources to protecting their wealth from the poor, resulting in lower total output.