19.5 Endowments, technology, and institutions
Income and endowments
In this section, we provide a framework that helps explain why different individuals receive different incomes.

endowmentThe facts about an individual that may affect his or her income, such as the physical wealth a person has, either land, housing, or a portfolio of shares (stocks). Also includes level and quality of schooling, special training, the computer languages in which the individual can work, work experience in internships, citizenship, whether the individual has a visa (or green card) allowing employment in a particular labour market, the nationality and gender of the individual, and even the persons race or social class background. See also: human capital.

An individuals income depends on things that they own, or are, or have that allow them to receive income. These things affecting a persons income are called endowments and include:

human capitalThe stock of knowledge, skills, behavioural attributes, and personal characteristics that determine the labour productivity or labour earnings of an individual. Investment in this through education, training, and socialization can increase the stock, and such investment is one of the sources of economic growth. Part of an individuals endowments. See also: endowment.


Their financial wealth: Their savings or stocks or bonds that they own, on which they receive interest or dividends.
The physical assets they own: For example, land or the buildings and machinery of a company on which they may receive profits or rents, and which they can use as collateral.
Their schooling and work experience, which affects their value to an employer and therefore their earnings on the labour market (sometimes termed their human capital).
Their race, gender, age, and other aspects that may affect wages, access to credit, or other exchanges.
Their citizenship and whether the individual has a visa, which determine whether they can legally work in a particular country and therefore their earnings on the labour market.
Any other attribute, or possession, or capacity that affects the income an individual will receive.

As a result, we can think of an individuals income as depending on:

their endowments
the income resulting from each item in the set of their endowments

So, for example, consider a person, Ella, whose endowment is the ability to work full time (1,750 hours) at a wage based on her skill as a medical technician (30 per hour). She also receives a child benefit of 2,000 as an entitlement from the government for her child. Her endowment would be the following list:

ability to work 1,750 hours of labour per annum as a medical technician
the right to a child benefit to assist in caring for her child

She has been able to secure only half-time work (875 hours) so the annual income she derived from all sources is: 
(875 hours  30) + (1 child grant  2,000) = 26,250.
Now consider Kamal, who recently inherited a sum from his late father sufficient to start a small business. He was previously working as the manager of a similar small firm for 120,000 per year. Kamals endowment is:

ability to work full time using skills and experience as a manager
ownership of the buildings, equipment, and other assets of his firm, worth 8 million

If he did not manage the firm himself, he would have to hire a full time manager with similar skills and experience, costing him 120,000. Last year, his firms (accounting) profit was 600,000 without counting Kamals own efforts as a manager, worth 120,000 a year. So his income is the 600,000 in profit, which we divide into the returns to his managerial efforts (120,000) and the returns to the ownership of assets (480,000).
By studying why people have differing endowments, and what determines the income associated with each of the endowments, we can understand income inequality.
The factors influencing individual income can be understood using the model of cause-and-effect relationships in Figure 19.16. The arrows point from a cause to an effect.











Figure 19.16 
The causal relationships between technology, institutions and policies, endowments, and inequality.
        




Both institutions and technologies are part of the explanation of differing endowments among individuals. Inherited wealth gave Kamal a valuable asset, while subsidized higher education helped Ella qualify as a medical technician. Both are examples of the effect of institutions on endowments.
We have seen that intergenerational inequality will be greater where inheritances are not heavily taxed and where educational policies allow the wealthy to acquire more and better education for their children. If marriage customs result in spouses having similar levels of wealthcalled positive assortmentthis will contribute to inequalities in endowments. Elite private universities, for example, contribute to positive assortment because like exclusive social clubs, they provide meeting and matching opportunities for the sons and daughters of the wealthy. These are also examples of institutions influencing differences in endowments.
Technology matters, too. Where there are strong economies of scale such as in the technology of digital platforms, these will support the winner-take-all forms of competition that we explain in Unit 21. In this setting, a few peoplethe winnerswill end up with substantial endowments in the form of valuable financial or real assets, while the rest end up with little.
The value of a particular endowment, say a programming skill or ownership of a 3D printer, depends on both technology and institutions, as well as on other factors, including supply and demand. The demand for Ellas skill was limited, perhaps due to cuts in health care spending, so she was unable to work full time. Next year Kamals firm may face competition from a new competitor, making the 7.5% rate of return ($600,000/$8,000,000) that he made this year impossible. Both are examples of how institutions affect the income provided by an asset.
Technology matters, too. Being physically strong was a valuable endowment in agricultureat least until mechanization made it less important in determining earnings. In that case a change in technology (mechanization) reduced the demand for a particular kind of skill, and so its value (relative to other skills) fell. The value of land, for example, will depend on how productive it is in growing marketable crops (technology) and whether it is zoned for commercial or residential uses (institutions).
Using the model to review inequality from previous units
In previous units, we studied how differences in endowments determined economic outcomes, including inequality. Figure 19.17 summarizes these situations, starting with the interaction in Unit 5 between Bruno, the landlord, and Angela, the farmer he employed.
Recall that how much Bruno got and the inequality between them depended on:

Their endowments: The fact that Bruno owned the land meant he could exclude Angela from working on it
Angelas productivity as a worker: This is determined by Angelas endowment of skills and capacities, as well as the available technology.
Angelas reservation option: What Angela would get if she were to refuse to work for Bruno or he refused to hire her. This is an important influence on her bargaining power in her dealings with Bruno. It is determined by her endowments and the institutions or policies in place.

The endowments of the pairs of individuals in Figure 19.17 appear in the second column of the figure. In the first example, Bruno owns the land and Angela only owns her time and capacity to work. This inequality in land ownership matters because it determines who has to work for whom, and who can earn income from allowing others to work with their capital goods or their land.
Endowments matter in another way, because they change Angelas reservation option. If Angela owned land that she could work herself, then Bruno would need to pay her at least enough to ensure that she would rather work for him than work on her own land.
Recall that a change in institutions and policies can change Angelas reservation option. Before the rule of law, the institutions were such that Bruno could simply coerce her to work, and the only thing that constrained the size of the surplus he could get was the need to keep Angela healthy enough to work the next day.
The institutional change, which gave her the right to say no, improved this reservation option. Bruno had to offer Angela a deal that would make her better off working for him than not working. Angelas new right to say no raised the value of her labour endowment.






Situation, actors and unit
Endowment
Reservation option
Conflict over?
Institutions and policies (examples)
Technology (examples)




Landlord and farmer: Bruno and Angela (Unit 5)
Bruno owns the land; Angela has 24 hours of potential labour
Bruno: rent land to another farmer; Angela: government support
Rent paid by Angela to Bruno and the hours that Angela works
Angelas reservation option (which depends on whether slavery is legal) and legislation limiting work hours.
Angelas increased productivity due to an improvement in seeds allows Bruno a larger surplus when he has all the bargaining power.


Borrowing, lending and investment: Julia and Marco (Unit 10)
Julia: $100 next year; Marco: $100 now
Julia: consume nothing now, $100 later; Marco: consume some now, store and consume some later
Julia benefits from a low interest rate and Marco benefits from a high interest rate.
Competition among lenders and interest rate regulation
An improvement in storage technology (for example less loss of grain to the mice) makes it easier for Marco to move his goods forward in time, and also raises the rate of return on his investments.


Specialization and trade: Greta and Carlos (Unit 18)
The skills and resources of each that determine their feasible consumption set in the absence of specialization and trade
Both: the utility they would enjoy if they did the best possible without trading
Price at which they exchange the good in which they specialize when they trade
Price-setting power by either Greta or Carlos
An improvement in the technology of the good in which one specializes will benefit both, the larger gains going to the person with price-setting power.


Firm: owners and employees (Unit 6)
Owner: ownership of the firm; Employee: capacity to work given her skills
Owner: hire some other employee; Employee: unemployment insurance and job search
Wage, working conditions, effort on the job
Level of unemployment insurance, employment level, and legislation regulating work conditions
A new technology may increase the productivity of the employees effort, increasing the employers profits (short run) and increasing employment and the real wage (long run). It may also affect how easily the employer can monitor the employees effort.


Banana plantation: owners and downstream fishing communities (Unit 12)
Owners: the land and other capital goods of the plantation; Fishing communities: their boats and capacity to catch fish, access to fisheries
Owners: raise bananas without using Weevokil pesticide; Fishing communities: convert to farming
Use of polluting chemical, possible compensation for destruction of fisheries or commitment not to use Weevokil
Regulations governing the use of pollutants and enforcement of private agreements made between the parties
A new pesticide technology could reduce or increase the conflict between the two groups depending on its external effects.





Figure 19.17 
Inequality: Endowments, reservation options, conflicts, institutions, and technologies.
        




In the last column of Figure 19.17 we consider the way that changes in technology affect the degree of inequality. In the row concerning the firms owners and employees, a labour-saving technology, as we saw in Unit 16, canat least initiallyreduce the number of workers a firm needs, making employees more vulnerable to job loss and reducing the likelihood of getting another job at the same wage for those who have been fired.
Like technology, institutions and policies affect the value of endowments. In the example of Ella, the medical technician, her specialized skills are part of her endowment but their paid value (30 per hour in the example) will depend on institutions. If gender discrimination is a common practice of employers, then her skills might be worth less. If a license is required to do this work, then the value of her skills will be greater if she is licensed. These are examples of institutions and policies affecting the value of endowments.
The credit market in Unit 10 is another example. Recall that Julias endowment is $100 next year. What she can consume now depends on her wealth (what is in the bathtub), and that depends on the institutions and policies determining whether she can borrow, and the interest rate at which she can borrow.
If her only option is the village moneylender in Chambar or a payday lender in New York, she faces a high interest rate and her wealth (now) is much lower than $100. If she can borrow at a low interest rate, her wealth is quite close to $100. If she cant borrow at all, then there is nothing in the bathtub and her wealth now is zero.
How endowments, technology, institutions, and inequality interact over time
Endowments and the income that they provide are constantly changing as people acquire more skills or as the value of some endowmentsuch as a piece of land or a rental apartmentfalls. Figure 19.16 illustrated the causes of economic inequality. In Figure 19.18, we illustrate inequality as a cause of changes in institutions, technology, and differences in endowments.
The arrow from economic inequality to differences in endowments in the next period captures the fact that the children of richer parents may end up with more and higher quality education, or with greater inherited wealth.











Figure 19.18 
Economic inequality over time. The red arrows show that economic inequality in one period has effects on technologies, institutions and policies, and differences in endowments in the future.
        




Economic inequality may also influence institutions and policies. An example we shall see in Unit 22 is that in most countrieseven democraciesa wealthy person typically has more influence on what the government does than does a poor person. A greater gap between the rich and the poor could increase the political advantage of the wealthy, resulting in policies favouring those with higher incomes.

Exercise 19.7 Yichen, Renfu, Mark, and Stephanie
Consider the economic situation of Yichen, Renfu, Mark, and Stephanie, discussed at the start of this unit. Give examples of how technology, institutions, and differences in endowments explain economic inequality between these actors, and how inequality between them could change over time.