19.7 Putting the model to work: Explaining changes in inequality
The model presented in the previous section helps us to understand why individuals have different incomes. To understand inequality, however, we need to consider the changes across the entire income distribution. In this section, we will apply the labour market model from Unit 9, in combination with our understanding of the determinants of individuals income, to look at the effect on inequality of:

an increase in the educational level of the workforce
a reduction in discrimination against a segment of the workforce
automation of production reducing the demand for some skills and increasing others

You may wish to review the workings of the labour market model described in Unit 9 before proceeding.
A more educated and more productive workforce
What will be the consequences if workers have acquired more schooling? We expect additional schooling to increase productivity, meaning that a unit of effort by a more educated worker produces more goods per hour using the same technology. The direct effect of additional schooling on an individual is therefore to improve their endowment of labour. Holding everything else equal, the increased productivity means that any individual can get paid a higher wage for their labour.
However, what if the entire workforce becomes more educated? This could be the result, for instance, of an increase in the compulsory schooling age. At the pre-existing real wage, the result of higher productivity will be a higher profit for the firms. This shifts the price-setting curve upwards, as shown in the left panel of Figure 19.20. With higher profits, new firms enter and existing firms hire additional workers, which reduces the unemployment rate. Lower unemployment in turn makes it easier for a dismissed worker to find a new job. It therefore increases the workers reservation position, raising the wage. Workers both possess a better, higher-productivity endowment of labour time and enjoy better prices for their endowment.
The effects on inequality are shown in the right panel of Figure 19.20. There are now fewer unemployed workers. The segment of the Lorenz curve representing employed workers is now flatter because even though the real wage has risen, a larger fraction of the work force (85% instead of 80%) receives the same 60% of the (now increased) total output.
The line segment for the owners is unaffected because the same 10% of the population continue to receive 40% of the output; like the wages of workers, their profits are up because more is being produced. In this example, the effect of the increased education and productivity of the workforce on inequality is to reduce the Gini coefficient from 0.36 to 0.33.












Figure 19.20 
The effect of a more educated workforce on inequality among employers, employees, and the unemployed: The economy-wide labour market and the Lorenz curve.
        















Our model economy


Consider how the economy described in the left panel, with its initial equilibrium at point X, changes when workers (both employed and unemployed) get more education.














Worker productivity rises, shifting up the price-setting curve


The wage consistent with the price-setting firms profit maximizing markup is now higher.














Firms enter


In response to higher profits, production expands, which reduces the unemployment rate. Since this increases the reservation position of employees, it induces firms to set a higher wage. The new labour market equilibrium is at Y.














Inequality falls


The Lorenz curve shifts up, as fewer workers are unemployed. The percentage division of output between workers and owners remains unchanged.




A reduction in labour market segmentation

primary labour marketA market in which workers are typically represented by trade unions, and enjoy high wages and job security. See also: secondary labour market, segmented labour market.

Until now we have assumed that all workers receive the same wage in a single labour market, but in reality there are many distinct labour markets. In what is termed the primary labour market, workers may be represented by trade unions, and enjoy high wages and job security. Job ladders allow promotion to better paying and more secure jobs. Primary labour market jobs are frequently referred to as good jobs.

secondary labour marketWorkers typically on short-term contracts with limited wages and job security. This might be due to their age, or because they are discriminated against by race or ethnic group. See also: primary labour market, segmented labour market.

Workers in the secondary labour market are on short-term contracts with limited wages and job security, and tend to be young or from populations discriminated against by race or ethnic group. In many European countries, these are called zero-hours contracts because the employer does not commit to providing work for any particular number of hours. The secondary labour market is also referred to as the gig economy in which freelance work or very short-term contracts are the norm, rather than permanent jobs. For any given endowment of skills, these workers will usually receive a lower income than the workers in the primary labour market. Institutions therefore benefit the workers in the primary labour market and disadvantage workers in the secondary market, increasing income inequality.

segmented labour marketA labour market whose distinct segments function as separate labour markets with limited mobility of workers from one segment to the other (including for reasons of racial, language, or other forms of discrimination). See also: primary labour market, secondary labour market.

Figure 19.21 shows a Lorenz curve for an economy with labour market segmentation, with a low-wage segment and an equal number of high-wage primary segment workers. The owners are not segmented because they can easily invest their wealth in firms in either or both sectors and, as a consequence, the rate of return will be the same in both sectors. The elimination of labour market segmentation means that all workers receive the same wage, but unless this affects the relative bargaining power of workers and owners, it does not alter the share of the output going to workers as a whole. This demonstrates how institutional change can reduce inequality by aligning the wages individuals receive for their endowments.
The figure illustrates the fact that much of the inequality in modern economies is among employees (from secondary labour market workers to very highly paid professionals), and that reducing these inequalities can significantly reduce the Gini coefficient. Where trade unions have reduced labour market segmentation and narrowed the wage differentials among workers, inequality is lower. An example is the so-called solidarity wage policy introduced in Sweden, which we will discuss in Unit 22.












Figure 19.21 
The effect of labour market segmentation.
        















A model economy with labour market segmentation


Forty workers in the secondary labour segment of the market receive just 10% of the economys output; the 40 workers in the primary labour market receive half of the output (they are paid five times as much as the secondary workers). The 10 owners receive 40% of the output (they are paid 16 times as much as the secondary workers).














Elimination of labour market segmentation


All 80 workers now receive the same pay, and as a whole receive 60% of the output of the economy. The secondary workers wages have risen, while the primary sector workers wages have fallen.














Effect on inequality


The Gini coefficient, which had been 0.52 under labour market segmentation, has fallen to 0.36.




Automation

automationThe use of machines that are substitutes for labour.

Automation is a term used to describe new technologies that allow machines to do the work that people used to do. Technological innovations that replace labour have been an essential part of the capitalist economy since the introduction of the spinning jenny in the eighteenth century, which we described in Unit 2. As we saw in Unit 16, new technologies typically put some people out of work, while increasing the demand for the skills of other workers. We can study these effects using the Lorenz curve and the Gini coefficient derived from it.
To see how, consider a hypothetical economy in Figure 19.22, before and after it introduces machines that perform routine operations that had always been done by humans. Well call these machines robots. The solid blue Lorenz curve depicts the distribution of income between five employers and 95 workers before the introduction of the robots. Five of the workers are unemployed, and among the 90 who are employed, all receive the same wage, whether they do routine or non-routine work.
The slope of the flatter of the two upward-sloping lines is an indication of how much workers are paid relative to their productivity. We see that the 90 employed workers receive 60% of the income of the economy. So each receives 0.60/90 or two-thirds of a per cent of what the economy produces. The slope of the steeper solid line shows that five owners receive 40% of the income, so that each receives 8% (= 0.40/5) of the output of the entire economy.












Figure 19.22 
The effect of robots on inequality: polarization of the labour market.
        















The Lorenz curve before the introduction of the robots


The solid blue Lorenz curve shows the distribution of income among the unemployed, employees, and owners. All workers, whether doing routine or non-routine work, earn the same wage.














The introduction of robots replaces and cheapens routine labour


After the introduction of robots, 5 more workersthose who were doing routine work that robots now can dobecome unemployed. The remaining 55 routine workers now receive just 10% of the economys output.














The robots make some workers labour more valuable


Thirty of the employees have skills complementary to the machines. They earn higher wages.














The effect of the robots on inequality


The introduction of robots polarizes the labour market and increases the Gini coefficient.




To understand the short-run impact of the plan to introduce robots, think about the skill endowments of the workers. Sixty of them are doing routine jobs that were once relatively well paid, such as machine tending or mail sorting, that can now be done by robots. Others have the training to not just operate machinery, but to design, repair, and calibrate machinery, and manage its deployment.
The short-run effects depend on the kinds of work a worker does:

The robots are labour-replacing: For routine jobs in which the machines and skills are substitutes, the value of a workers endowment is reduced by the new technology because the robot can replace the worker.
The robots are labour-enhancing: For those jobs in which the machines and skills are complements, the value of a workers endowment is increased by the new technology.

These two effects are shown in the new (dashed) Lorenz curve depicting the short-run effects of the new technology on workers who previously earned two-thirds of a per cent of output each. At least some of the 60 workers for whom the robots are labour-replacing lose their job. Five of them have now joined the unemployed; the machines have replaced their labour. Those who remain employed have suffered a fall in their bargaining power (because they too can be replaced). These 55 workers now receive 25% of the output of the economy, and their earnings fall to 0.5% of the total output each.
On the other hand, the 30 workers with skills that are complementary to the robots have gained. They now receive 35% of the output of the economy, or a little more than 1% each.
The effect of automation thus can be similar to the effect of labour market segmentation, but in the case of robots, the segregation of workers depends on whether their skills are easily substituted by machines (the losers) or instead are complementary to the machines (the gainers).
The result is that the Gini coefficient increases from 0.38 to 0.53, shown by the new Lorenz curve falling further below the perfect equality line.
An example of the effect of automation is the introduction of automatic teller machines (ATMs) by banks. Surely this would have increased unemployment among human bank tellers?
James Bessen, an economist, looked at the employment levels in the US and found that the number of bank tellers continued to rise even after the machines were installed. Rather than doing mechanical tasks, they were now providing other services such as advice to customers.10
Bessen also found employment increased among bookkeepers and retail sales staff despite automation of some of their tasks, but on the other hand, technology did displace the jobs of travel agents. Automation was complementary to the skills of some bookkeepers and bank tellers, but it was a substitute for the skills of travel agents.
Listen to James Bessen talk about his book in a May 2016 episode of the EconTalk podcast.
What determines whether automation increases or decreases wages and employment? We can use an analysis similar to the one we did in Unit 16. There are two contradictory effects.
On one hand:

Labour-replacing automation reduces the demand for some types of labour: this sends workers into unemployment.
This reduces the reservation option of all workers: It lowers the wage that firms have to set to maintain their desired level of work effort.

On the other hand:

The increase in labour productivity increases profits.
This motivates and finances an expansion of the capital stock of the economy.
The increase in capital stock creates additional employment opportunities: It reduces unemployment and increases the wage required to motivate workers along the wage-setting curve.

As we saw in Unit 16, adjustment of local labour markets to labour-saving technology and competition from imports may take a very long time.
The model cannot determine whether the new Nash equilibrium in the labour market will result in a more equal distribution of income or a less equal one. Inequality among workers will be greater due to the fact that the robots created winners and losers among employees, by raising the value of some labour endowments (the engineers) and lowering the value of the labour endowments of others (the routine workers). If the level of unemployment goes back down to its pre-automation level, and if the firms markup on costs is unaffected, then the only durable effect will be greater inequality among workers, resulting in an increase in the Gini coefficient.
A government observing the process of automation might respond with levying taxes on the enhanced profits of the owners and on the incomes of the workers with increased wages. In designing the taxes, it would need to take into account their effect on the behaviour of workers and employers. The revenue from these taxes can be used to finance:

Additional employment and opportunities for career progression and rising wages: These opportunities could be in human services such as health and care, where jobs are non-routine but often poorly paid.
Opportunities for workers with routine skills to upgrade their endowments: Their labour becomes machine-enhanced rather than machine-replaceable; for example, a former drill press operator learning how to code.


Exercise 19.8 How automation affects employment
Return to Figures 19.6 and 19.7. Use what you have learned in this section about robots as substitutes or complements to employees endowments to explain some of the patterns in job growth shown in these figures.


Question 19.7 Choose the correct answer(s)
Which of the following statements regarding segmented labour markets are correct?

The gig economy is not part of the primary labour market.
Workers in the secondary labour market are better paid than those in the primary labour market.
Trade unions have attempted to reduce hours of work by introducing zero hours contracts.
Primary labour market jobs are concentrated in agriculture.


The gig economy is part of the secondary labour market.
Workers in the primary labour market enjoy higher wages and job security, while those in the secondary labour market have lower wages and limited job security.
When trade unions negotiate with employers over working hours, employers have to guarantee that employees can work for the agreed number of hours. This is different from zero hours contracts, in which the employer does not commit to providing work for any particular number of hours. Zero hours contracts occur in the secondary labour market, which is not protected by trade unions.
Primary labour market jobs are those that are well-represented by trade unions, and have high wages and job security. Thus, while some agricultural jobs fall into this category, a greater proportion of primary labour market jobs are professional (white-collar) jobs.