1.9 Capitalism, causation and historys hockey stick
We have seen that the institutions associated with capitalism have the potential to make people better off, through opportunities for both specialization and the introduction of new technologies, and that the permanent technological revolution coincided with the emergence of capitalism. But can we conclude that capitalism caused the upward kink in the hockey stick?
We should be sceptical when anyone claims that something complex (capitalism) causes something else (increased living standards, technological improvement, a networked world, or environmental challenges).
In science, we support the statement that X causes Y by understanding the relationship between cause (X) and effect (Y) and performing experiments to gather evidence by measuring X and Y.

causalityA direction from cause to effect, establishing that a change in one variable produces a change in another. While a correlation is simply an assessment that two things have moved together, causation implies a mechanism accounting for the association, and is therefore a more restrictive concept. See also: natural experiment, correlation.

We want to make causal statements in economicsto understand why things happen, or to devise ways of changing something so that the economy works better. This means making a causal statement that policy X is likely to cause change Y. For example, an economist might claim that: If the central bank lowers the interest rate, more people will buy homes and cars.
But an economy is made up of the interactions of millions of people. We cannot measure and understand them all, and it is rarely possible to gather evidence by conducting experiments (though in Unit 4 we will give examples of the use of conventional experiments in one area of economics). So how can economists do science? This example shows how the things we observe in the world can help us investigate causes and effects.

How economists learn from facts Do institutions matter for growth in income?

natural experimentAn empirical study exploiting naturally occurring statistical controls in which researchers do not have the ability to assign participants to treatment and control groups, as is the case in conventional experiments. Instead, differences in law, policy, weather, or other events can offer the opportunity to analyse populations as if they had been part of an experiment. The validity of such studies depends on the premise that the assignment of subjects to the naturally occurring treatment and control groups can be plausibly argued to be random.

We can observe that capitalism emerged at the same time as, or just before, both the Industrial Revolution and the upward turn in our hockey sticks. This would be consistent with the hypothesis that capitalist institutions were among the causes of the era of continuous productivity growth. But the emergence of a free-thinking cultural environment known as The Enlightenment also predated or coincided with the upturn in the hockey sticks. So was it institutions, or culture, both, or some other set of causes? Economists and historians disagree, as you will see in Unit 2, when we ask What were the causes of the Industrial Revolution?
Scholars in all fields try to narrow the range of things on which they disagree by using facts. For complicated economic questions, like Do institutions matter economically?, facts may provide enough information to reach a conclusion.
A method for doing this is called a natural experiment. It is a situation in which there are differences in something of interesta change in institutions for examplethat are not associated with differences in other possible causes.
The division of Germany at the end of the Second World War into two separate economic systemscentrally planned in the east, capitalist in the westprovided a natural experiment. During this time a political Iron Curtain, as the British Prime Minister Winston Churchill described it, divided the country. It separated two populations that until then had shared the same language, culture, and capitalist economy.9
Because we cannot change the past, even if it were practical to conduct experiments on entire populations, we rely on natural experiments. In this interview, Jared Diamond, a biologist, and James Robinson, a professor of government, explain.
In 1936, before the Second World War, living standards in what later became East and West Germany were the same. This is a suitable setting for using the natural experiment method. Before the war, firms in Saxony and Thuringia were world leaders in automobile and aircraft production, chemicals, optical equipment and precision engineering.
With the introduction of centralized planning in East Germany, private property, markets and firms virtually disappeared. Decisions about what to produce, how much and in which plants, offices, mines and farms were taken not by private individuals, but by government officials. The officials managing these economic organizations did not need to follow the principle of capitalism and produce goods and services that customers would buy at a price above their cost of manufacture.
West Germany remained a capitalist economy.
The East German Communist Party forecast in 1958 that material wellbeing would exceed the level of West Germany by 1961. The failure of this prediction was one of the reasons the Berlin Wall separating East from West Germany was built in 1961. By the time the Berlin Wall fell in 1989, and East Germany abandoned central planning, its GDP per capita was less than half of that of capitalist West Germany. Figure 1.10 shows the different paths taken by these and two other economies from 1950. It uses the ratio scale.











Figure 1.10 
The two Germanies: Planning and capitalism (195089).
        






                                View this data at OWiD
                        


Conference Board, The. 2015. Total Economy Database. Angus Maddison. 2001. The World Economy: A Millennial Perspective. Development Centre Studies. Paris: OECD.



Notice from Figure 1.10 that West Germany started from a more favourable position in 1950 than East Germany. Yet in 1936, before the war began, the two parts of Germany had virtually identical living standards. Both regions had achieved successful industrialization. East Germanys relative weakness in 1950 was not mainly because of differences in the amount of capital equipment or skills available per head of the population, but because the structure of industries in East Germany was more disrupted by splitting the country than was the case in West Germany.10
Unlike some capitalist economies that had even lower per capita incomes in 1950, East Germanys planned economy did not catch up to the world leaders, which included West Germany. By 1989, the Japanese economy (which had also suffered war damage) had, with its own particular combination of private property, markets, and firms, along with a strong government coordinating role, caught up to West Germany, and Spain had closed part of the gap.
We cannot conclude from the German natural experiment that capitalism always promotes rapid economic growth while central planning is a recipe for relative stagnation. Instead what we can infer is more limited: during the second half of the twentieth century, the divergence of economic institutions mattered for the livelihoods of the German people.

History, instability, and growthGlobal economyPolitics and policy