1.2 Measuring income and living standards

gross domestic product (GDP)A measure of the market value of the output of final goods and services in the economy in a given period. Output of intermediate goods that are inputs to final production is excluded to prevent double counting.

The estimate of living standards that we used in Figure 1.1a (GDP per capita) is a measure of the total goods and services produced in a country (called gross domestic product, or GDP), which is then divided by the countrys population.
GDP measures the market value of the output of final goods and services in the economy in a given period, such as a year. Diane Coyle, an economist, says it adds up everything from nails to toothbrushes, tractors, shoes, haircuts, management consultancy, street cleaning, yoga teaching, plates, bandages, books, and the millions of other services and products in the economy.2

Listen to Diane Coyle talking about the benefits and limitations of measuring GDP.

Adding up these millions of services and products requires finding some measure of how much a yoga class is worth compared to a toothbrush. Economists must first decide what should be included, but also how to give a value to each of these things. In practice, the easiest way to do this is by using their prices. When we do this, the value of GDP corresponds to the total income of everyone in the country.
Dividing by the population gives GDP per capitathe average income of people in a country. But is that the right way to measure their living standards, or wellbeing?
Disposable income

disposable incomeIncome available after paying taxes and receiving transfers from the government.

GDP per capita measures average income, but that is not the same as the disposable income of a typical person.
Disposable income is the amount of wages or salaries, profit, rent, interest and transfer payments from the government (such as unemployment or disability benefits) or from others (for example, gifts) received over a given period such as a year, minus any transfers the individual made to others (including taxes paid to the government). Disposable income is thought to be a good measure of living standards because it is the maximum amount of food, housing, clothing and other goods and services that the person can buy without having to borrowthat is, without going into debt or selling possessions.
Is our disposable income a good measure of our wellbeing?
Income is a major influence on wellbeing because it allows us to buy the goods and services that we need or enjoy. But it is insufficient, because many aspects of our wellbeing are not related to what we can buy.3
For example, disposable income leaves out:

The quality of our social and physical environment such as friendships and clean air.
The amount of free time we have to relax or spend time with friends and family.
Goods and services that we do not buy, such as healthcare and education, if they are provided by a government.
Goods and services that are produced within the household, such as meals or childcare (predominantly provided by women).

Average disposable income and average wellbeing
When were part of a group of people (a nation for example, or an ethnic group) is the average disposable income a good measure of how well off the group is? Consider a group in which each person initially has a disposable income of $5,000 a month, and imagine that, with no change in prices, income has risen for every individual in the group. Then we would say that average or typical wellbeing had risen.
But now think about a different comparison. In a second group, the monthly disposable income of half the people is $10,000. The other half has just $500 to spend every month. The average income in the second group ($5,250) is higher than in the first (which was $5,000 before incomes rose). But would we say that the second groups wellbeing is greater than that of the first group, in which everyone has $5,000 a month? The additional income in the second group is unlikely to matter much to the rich people, but the poor half would think their poverty was a serious deprivation.
Absolute income matters for wellbeing, but we also know from research that people care about their relative position in the income distribution. They report lower wellbeing if they find they earn less than others in their group.
Since income distribution affects wellbeing, and because the same average income may result from very different distributions of income between rich and poor within a group, average income may fail to reflect how well off a group of people is by comparison to some other group.
Valuing government goods and services
GDP includes the goods and services produced by the government, such as schooling, national defence, and law enforcement. They contribute to wellbeing but are not included in disposable income. In this respect, GDP per capita is a better measure of living standards than disposable income.
But government services are difficult to value, even more so than services such as haircuts and yoga lessons. For goods and services that people buy we take their price as a rough measure of their value (if you valued the haircut less than its price, you would have just let your hair grow). But the goods and services produced by government are typically not sold, and the only measure of their value to us is how much it cost to produce them.
The gaps between what we mean by wellbeing, and what GDP per capita measures, should make us cautious about the literal use of GDP per capita to measure how well off people are.4
But when the changes over time or differences among countries in this indicator are as great as those in Figure 1.1a (and in Figures 1.1b, 1.8 and 1.9 later in this unit), GDP per capita is undoubtedly telling us something about the differences in the availability of goods and services.
In the Einstein at the end of this section, we look in more detail at how GDP is calculated so that we can compare it through time and make comparisons between countries. (Many of the units have Einsteins. You dont have to use them, but they will show you how to calculate and understand many of the statistics that we employ.) Using these methods, we can use GDP per capita to unambiguously communicate ideas such as people in Japan are on average a lot richer than they were 200 years ago, and a lot richer than the people of India today.

Exercise 1.3 What should we measure?
While campaigning for the US presidency on 18 March 1968, Senator Robert Kennedy gave a famous speech questioning the mere accumulation of material things in American society, and why, among other things, air pollution, cigarette advertising and jails were counted when the US measured its living standards, but health, education or devotion to your country were not. He argued that it measures everything, in short, except that which makes life worthwhile.
Read his speech in full or listen to a sound recording of it.

In the full text, which goods does he list as being included in a measure of GDP?
Do you think these should be included in such a measure, and why?
Which goods does he list in the full text as missing from the measure?
Do you think they should be included, and why?



Question 1.1 Choose the correct answer(s)
What does UK GDP per capita measure?

the total output of Londons economy
the average disposable income of a UK resident
the total output of the UK residents, divided by the number of the residents
the total output of the UKs economy, divided by the countrys population


Per capita means per person, and not in the capital city!
Disposable income is a persons income (for example wages, interests on savings, benefits) minus any transfers (for example tax). GDP includes the goods and services produced by the government, such as schooling, national defence and law enforcement, which are not included in disposable income.
This is called the GNP (Gross National Product) per capita. GNP adds the output produced abroad attributable to UK residents, and subtracts UK output attributable to residents abroad.
This is the correct definition of GDP per capita as defined in Section 1.2.



Einstein Comparing income at different times, and across different countries
The United Nations collects and publishes estimates of GDP from statistical agencies around the world. These estimates, along with those made by economic historians, allow us to construct charts like Figure 1.1a, comparing living standards across countries and at different time periods, and looking at whether the gap between rich and poor countries has narrowed or widened over time. Before we can make a statement like: On average, people in Italy are richer than people in China, but the gap between them is narrowing, statisticians and economists must try to solve three problems:

We need to separate the thing we want to measurechanges or differences in amounts of goods and servicesfrom things that are not relevant to the comparison, especially changes or differences in the prices of the goods and services.
When comparing output in one country at two points in time, it is necessary to take into account differences in prices between the two points in time.
When comparing output between two countries at a point in time, it is necessary to take into account differences in prices between the two countries.

Notice how similar the last two statements are. Measuring changes in output at different points in time presents the same challenges as we face when we try to compare countries by measuring differences in their output at the same time. The challenge is to find a set of prices to use in this calculation that will allow us to identify changes or differences in outputs, without making the mistake of assuming that if the price of something rises in a country, but not in another, then the amount of output has increased in the country.
The starting point: Nominal GDP
When estimating the market value of output in the economy as a whole for a given period, such as a year, statisticians use the prices at which goods and services are sold in the market. By multiplying the quantities of the vast array of different goods and services by their prices, they can be converted into money, or nominal, terms. With everything in the common unit of nominal (or money) terms, they can be added together. Nominal GDP is written like this:

In general, we write that:

Where  pi is the price of good i,  qi is the quantity of good i, and  indicates the sum of price times quantity for all the goods and services that we count.
Taking account of price changes over time: Real GDP
To gauge whether the economy is growing or shrinking, we need a measure of the quantity of goods and services purchased. This is called real GDP. If we compare the economy in two different years, and if all the quantities stay the same but the prices increase by, say, 2% from one year to the next, then nominal GDP rises by 2%, but real GDP is unchanged. The economy has not grown.
Because we cannot add together the number of computers, shoes, restaurant meals, flights, fork-lift trucks, and so on, it is not possible to measure real GDP directly. Instead, to get an estimate of real GDP, we have to begin with nominal GDP as defined above.
On the right-hand side of the equation for nominal GDP are the prices of each item of final sales multiplied by the quantity.
To track what is happening to real GDP, we begin by selecting a base year: for example, the year 2010. We then define real GDP using 2010 prices as equal to nominal GDP that year. The following year, nominal GDP for 2011 is calculated as usual using the prices prevailing in 2011. Next, we can see what has happened to real GDP by multiplying the 2011 quantities by the 2010 prices. If, using the base year prices, GDP has gone up, we can infer that real GDP has increased.
constant pricesPrices corrected for increases in prices (inflation) or decreases in prices (deflation) so that a unit of currency represents the same buying power in different periods of time. See also: purchasing power parity.
If this method produces the result that, when computed using 2010 prices, GDP in 2011 is the same as in 2010, we can infer that although there might have been a change in the composition of output (fewer flights taken but more computers sold, for example), the overall quantity of output of goods and services has not changed. The conclusion would be that real GDP, which is also called GDP at constant prices, is unchanged. The growth rate of the economy in real terms is zero.
Taking account of price differences among countries: International prices and purchasing power
To compare countries, we need to choose a set of prices and apply it to both countries.
To begin with, imagine a simple economy which produces only one product. As an example, we choose a regular cappuccino because we can easily find out the price of this standard product in different parts of the world. And we choose two economies that are very different in their level of development: Sweden and Indonesia.
At the time we wrote this, when prices are converted into US dollars using current exchange rates, a regular cappuccino costs $3.90 in Stockholm and $2.63 in Jakarta.
If you want the up-to-date statistic a website called Numbeo shows cost-of-living comparisons.
But simply expressing the two cappuccinos in a common currency is not enough, because the international current exchange rate that we used to get these numbers is not a very good measure of how much a rupiah will buy in Jakarta and how much a krona will get you in Stockholm.
purchasing power parity (PPP)A statistical correction allowing comparisons of the amount of goods people can buy in different countries that have different currencies. See also: constant prices.
This is why when comparing living standards across countries, we use estimates of GDP per capita in a common set of prices known as purchasing power parity (PPP) prices. As the name suggests, the idea is to achieve parity (equality) in the real purchasing power.
Prices are typically higher in richer countriesas in our example. One reason for this is that wages are higher, which translates into higher prices. Because prices of cappuccinos, restaurant meals, haircuts, most types of food, transport, rents and most other goods and services are more expensive in Sweden than in Indonesia, once a common set of prices is applied, the difference between GDP per capita in Sweden and Indonesia measured at PPP is smaller than it is if the comparison is made at current exchange rates.
At current exchange rates, GDP per capita in Indonesia is only 6% of the level of Sweden; at PPP where the comparison uses international prices, GDP per capita in Indonesia is 21% of the level of Sweden.
What this comparison shows is that the buying power of the Indonesian rupiah compared to the Swedish krona is more than three times greater than would be indicated by the current exchange rate between the two currencies.
We will examine the measurement of GDP (and other measures of the whole economy) in more detail in Unit 13.

History, instability, and growthGlobal economyInequalityInnovation