1.5 The economy and the environment
Humans have always relied on their environment for the resources they need to live and produce their livelihoods: the physical environment and the biosphere, which is the collection of all forms of life on earth, provide essentials for life such as air, water and food. The environment also provides the raw materials that we use in the production of other goodssuch as wood, metals, and oil.
Figure 1.5 shows one way of thinking about the economy: it is part of a larger social system, which is itself part of the biosphere. People interact with each other, and also with nature, in producing their livelihood.











Figure 1.5 
The economy is part of society, which is part of the biosphere.
        




Through most of their history, humans have regarded natural resources as freely available in unlimited quantities (except for the costs of extracting them). But as production has soared (see Figures 1.1a and 1.1b), so too have the use of our natural resources and degradation of our natural environment. Elements of the ecological system such as air, water, soil, and weather have been altered by humans more radically than ever before.
The most striking effect is climate change. Figures 1.6a and 1.6b present evidence that our use of fossil fuelscoal, oil, and natural gashas profoundly affected the natural environment. After having remained relatively unchanged for many centuries, increasing emissions of carbon dioxide (CO2) into the air during the twentieth century have resulted in measurably larger amounts of CO2 in the earths atmosphere (Figure 1.6a) and brought about perceptible increases in the northern hemispheres average temperatures (Figure 1.6b). Figure 1.6a also shows that CO2 emissions from fossil fuel consumption have risen dramatically since 1800.

Exercise 1.5 How much difference does a couple of degrees warmer or colder make?
Between 1300 and 1850 there were a number of exceptionally cold periods as you can see from Figure 1.6b. Research this so-called little ice age in Europe and answer the following.

Describe the effects of these exceptionally cold periods on the economies of these countries.
Within a country or region, some groups of people were exceptionally hard hit by the climate change while others were less affected. Provide examples.
How extreme were these cold periods compared to the temperature increases since the mid-twentieth century and those projected for the future?


Figure 1.6b shows that the average temperature of the earth fluctuates from decade to decade. Many factors cause these fluctuations, including volcanic events such as the 1815 Mount Tambora eruption in Indonesia. Mount Tambora spewed so much ash that the earths temperature was reduced by the cooling effect of these fine particles in the atmosphere, and 1816 became known as the year without a summer.











Figure 1.6a 
Carbon dioxide in the atmosphere (10102010) and global carbon emissions from burning fossil fuels (17502010).
        





Years 10101975: David M. Etheridge, L. Paul Steele, Roger J. Francey, and Ray L. Langenfelds. 2012. Historical Record from the Law Dome DE08, DE08-2, and DSS Ice Cores. Division of Atmospheric Research, CSIRO, Aspendale, Victoria, Australia. Years 19762010: Data from Mauna Loa observatory. T. A. Boden, G. Marland, and Robert J. Andres. 2010. Global, Regional and National Fossil-Fuel CO2 Emissions. Carbon Dioxide Information Analysis Center (CDIAC) Datasets.



Since 1900, average temperatures have risen in response to increasingly high levels of greenhouse gas concentrations. These have mostly resulted from the CO2 emissions associated with the burning of fossil fuels.











Figure 1.6b 
Northern hemisphere temperatures over the long run (10002006).
        






                                View the latest data at OWiD
                        


Michael E. Mann, Zhihua Zhang, Malcolm K. Hughes, Raymond S. Bradley, Sonya K. Miller, Scott Rutherford, and Fenbiao Ni. 2008. Proxy-based reconstructions of hemispheric and global surface temperature variations over the past two millennia. Proceedings of the National Academy of Sciences 105 (36): pp.1325213257.



The human causes and the reality of climate change are no longer widely disputed in the scientific community. The likely consequences of global warming are far-reaching: melting of the polar ice caps, rising sea levels that may put large coastal areas under water, and potential changes in climate and rain patterns that may destroy the worlds food-growing areas. The long-term physical and economic consequences of these changes, and the appropriate policies that governments could adopt as a result, are discussed in detail in Unit 20 (Economics of the environment).
The authoritative source for research and data about climate change is the Intergovernmental Panel on Climate Change.
Climate change is a global change. But many of the environmental impacts of burning fossil fuels are local, as residents of cities suffer respiratory and other illnesses as a result of high levels of harmful emissions from power plants, vehicles, and other sources. Rural communities, too, are impacted by deforestation (another cause of climate change) and the depletion of the supply of clean water and fishing stocks.
From global climate change to local resource exhaustion, these effects are results of both the expansion of the economy (illustrated by the growth in total output) and the way the economy is organized (what kinds of things are valued and conserved, for example). The relationship between the economy and the environment shown in Figure 1.5 is two-way: we use natural resources in production, which may in turn affect the environment we live in and its capacity to support future production.
But the permanent technological revolutionwhich brought about dependence on fossil fuelsmay also be part of the solution to todays environmental problems.
Look back at Figure 1.3, which showed the productivity of labour in producing light. The vast increases shown over the course of history and especially since the mid-nineteenth century occurred largely because the amount of light produced per unit of heat (for example from a campfire, candle, or light bulb) increased dramatically.
In lighting, the permanent technological revolution brought us more light for less heat, which conserved natural resourcesfrom firewood to fossil fuelsused in generating the heat. Advances in technology today may allow greater reliance on wind, solar and other renewable sources of energy.

Question 1.4 Choose the correct answer(s)
Which of the following variables have followed the so-called hockey-stick trajectorythat is, little to no growth for most of history followed by a sudden and sharp change to a positive growth rate?

GDP per capita
labour productivity
inequality
atmospheric CO2


GDP per capita grows slowly or not at all in economies prior to industrialization, whereupon it begins to grow at an ever-increasing rate.
Labour productivity grows slowly or not at all in economies prior to industrialization, whereupon it begins to grow at an ever-increasing rate.
There is no unidirectional trend in inequality over time. While early hunter-gatherer tribes were undoubtedly almost perfectly equal, economies in the modern era have varied from highly equal to highly unequal.
See Figure 1.6a. The growth in atmospheric CO2 began from the mid-nineteenth century as a consequence of the burning of fossil fuels as the technologies introduced in the Industrial Revolution spread.


History, instability, and growth