1.6 Capitalism defined: Private property, markets, and firms
Looking back over the data in Figures 1.1a, 1.1b, 1.3, 1.4 and 1.6 we see an upward turn, like the kink in our hockey stick, repeated for:

gross domestic product per capita
productivity of labour (light per hour of work)
connectivity of the various parts of the world (the speed at which news travels)
impact of the economy on the global environment (carbon emissions and climate change)

How can we explain the change from a world in which living conditions changed little unless there was an epidemic or a war, to one in which each generation is noticeably, and predictably, better off than the previous one?
An important part of our answer will be what we call the capitalist revolution: the emergence in the eighteenth century and eventual global spread of a way of organizing the economy that we now call capitalism. The term capitalismwhich we will define shortlywas barely heard of a century ago, but as you can see from Figure 1.7, its use has skyrocketed since then. The figure shows the fraction of all articles in the New York Times (excluding the sports section) that include the term capitalism.











Figure 1.7 
Mention of the word capitalism in New York Times articles (18512015).
        






                                View this data at OWiD
                        


Calculations by Simon DeDeo, Santa Fe Institute, from New York Times. 2016. NYT article archive.




capitalismAn economic system in which the main form of economic organization is the firm, in which the private owners of capital goods hire labour to produce goods and services for sale on markets with the intent of making a profit. The main economic institutions in a capitalist economic system, then, are private property, markets, and firms.economic systemA way of organizing the economy that is distinctive in its basic institutions. Economic systems of the past and present include: central economic planning (e.g. the Soviet Union in the twentieth century), feudalism (e.g. much of Europe in the early Middle Ages), slave economy (e.g. the US South and the Caribbean plantation economies prior to the abolition of slavery in the nineteenth century), and capitalism (most of the worlds economies today).institutionThe laws and informal rules that regulate social interactions among people and between people and the biosphere, sometimes also termed the rules of the game.

Capitalism is an economic system characterized by a particular combination of institutions. An economic system is a way of organizing the production and distribution of goods and services in an entire economy. And by institutions, we mean the different sets of laws and social customs regulating production and distribution in different ways in families, private businesses, and government bodies.

Private property
This means that you can:

enjoy your possessions in a way that you choose
exclude others from their use if you wish
dispose of them by gift or sale to someone else
 who becomes their owner


In some economies in the past, the key economic institutions were private property (people owning things), markets (where goods could be bought and sold) and families. Goods were usually produced by families working together, rather than by firms with owners and employees.
In other societies, the government has been the institution controlling production, and deciding how goods should be distributed, and to whom. This is called a centrally planned economic system. It existed, for example, in the Soviet Union, East Germany and many other eastern European countries prior to the end of Communist Party rule in the early 1990s.
Though governments and families are essential parts of the workings of every economy, most economies today are capitalist. Since most of us live in capitalist economies, it is easy to overlook the importance of institutions that are fundamental for capitalism to work well. They are so familiar, we hardly ever notice them. Before seeing how private property, markets and firms combine in the capitalist economic system, we need to define them.
Over the course of human history, the extent of private property has varied. In some societies, such as the hunters and gatherers who are our distant ancestors, almost nothing except personal ornaments and clothing was owned by individuals. In others, crops and animals were private property, but land was not. The right to use the land was granted to families by consensus among members of a group, or by a chief, without allowing the family to sell the plot.
In other economic systems some human beingsslaveswere private property.

capital goodsThe durable and costly non-labour inputs used in production (machinery, buildings) not including some essential inputs, e.g. air, water, knowledge that are used in production at zero cost to the user.

In a capitalist economy, an important type of private property is the equipment, buildings, and other durable inputs used in producing goods and services. These are called capital goods.
Private property may be owned by an individual, a family, a business, or some entity other than the government. Some things that we value are not private property: for example, the air we breathe and most of the knowledge we use cannot be owned or bought and sold.

Question 1.5 Choose the correct answer(s)
Which of the following are examples of private property?

computers belonging to your college
a farmers land in Soviet Russia
shares in a company
a workers skills


Although computers owned by the college may be used by many students, they are still property of the college, which requires payment (tuition) for access and can exclude their use by non-students.
In the Soviet era Russia your land could be transferred to others by the state and hence was not private property.
Shares in a company represent a claim to that companys future profits; this claim can be sold, gifted, or realized as the owner wishes and represents income to which non-shareholders are not entitled.
While intellectual property is private property (of your company, your university or yourself), your skills in general are not disposable to others for them to become the owners.



Markets
Markets are:

a way of connecting people who may mutually benefit
by exchanging goods and services
through a process of buying and selling


Markets are a means of transferring goods or services from one person to another. There are other ways, such as by theft, a gift, or a government order. Markets differ from these in three respects:
They are reciprocated: unlike gifts and theft, one persons transfer of a good or service to another is directly reciprocated by a transfer in the other direction (either of another good or service as in barter exchange, or money, or a promise of a later transfer when one buys on credit).
They are voluntary: Both transfersby the buyer and the sellerare voluntary because the things being exchanged are private property. So the exchange must be beneficial in the opinion of both parties. In this, markets differ from theft, and also from the transfers of goods and services in a centrally planned economy.
In most markets there is competition. A seller charging a high price, for example, will find that buyers prefer to buy from other competing sellers.

Exercise 1.6 The poorest mans cottage
The poorest man may in his cottage bid defiance to all the forces of the Crown. It may be frail, its roof may shake; the wind may blow through it; the storms may enter, the rain may enterbut the King of England cannot enter; all his forces dare not cross the threshold of the ruined tenement.  William Pitt, 1st Earl of Chatham, speech in the British Parliament (1763).

What does this tell us about the meaning of private property?
Does it apply to peoples homes in your country?



Exercise 1.7 Markets and social networks
Think about a social networking site that you use, for example Facebook. Now look at our definition of a market.
What are the similarities and differences between that social networking site and a market?


Question 1.6 Choose the correct answer(s)
Which of the following are examples of markets?

wartime food rationing
auction websites such as eBay
touts selling tickets outside concert halls
sale of illegal arms


The transfer of goods and services that occur in a centrally planned economy as a result of government orders is not a market.
An auction-based market is still a market, just one in which the pricing mechanism works through bidding as opposed to a negotiated or listed price.
A resale market is still a market, even though the goods in question have already been sold once before.
An illegal market is still a market in the economic sense.



Firm
A firm is a way of organizing production with the following characteristics:

One or more individuals own a set of capital goods that are used in production.
They pay wages and salaries to employees.
They direct the employees (through the managers they also employ) in the production of goods and services.
The goods and services are the property of the owners.
The owners sell the goods and services on markets with the intention of making a profit.


But private property and markets alone do not define capitalism. In many places they were important institutions long before capitalism. The most recent of the three components making up the capitalist economy is the firm.
The kinds of firms that make up a capitalist economy include restaurants, banks, large farms that pay others to work there, industrial establishments, supermarkets, and internet service providers. Other productive organizations that are not firms and which play a lesser role in a capitalist economy include family businesses, in which most or all of the people working are family members, non-profit organizations, employee-owned cooperatives, and government-owned entities (such as railways and power or water companies). These are not firms, either because they do not make a profit, or because the owners are not private individuals who own the assets of the firm and employ others to work there. Note: a firm pays wages or salaries to employees but, if it takes on unpaid student interns, it is still a firm.

labour marketIn this market, employers offer wages to individuals who may agree to work under their direction. Economists say that employers are on the demand side of this market, while employees are on the supply side. See also: labour force.

Firms existed, playing a minor role, in many economies long before they became the predominant organizations for the production of goods and services, as in a capitalist economy. The expanded role of firms created a boom in another kind of market that had played a limited role in earlier economic systems: the labour market. Firm owners (or their managers) offer jobs at wages or salaries that are high enough to attract people who are looking for work.

demand sideThe side of a market on which those participating are offering money in return for some other good or service (for example, those purchasing bread). See also: supply side.supply sideThe side of a market on which those participating are offering something in return for money (for example, those selling bread). See also: demand side.

In economic language, the employers are the demand side of the labour market (they demand employees), while the workers are the supply side, offering to work under the direction of the owners and managers who hire them.
A striking characteristic of firms, distinguishing them from families and governments, is how quickly they can be born, expand, contract and die. A successful firm can grow from just a few employees to a global company with hundreds of thousands of customers, employing thousands of people, in a few years. Firms can do this because they are able to hire additional employees on the labour market, and attract funds to finance the purchase of the capital goods they need to expand production.
Firms can die in a few years too. This is because a firm that does not make profits will not have enough money (and will not be able to borrow money) to continue employing and producing. The firm shrinks, and some of the people who work there lose their jobs.
Contrast this with a successful family farm. The family will be better off than its neighbours; but unless it turns the family farm into a firm, and employs other people to work on it, expansion will be limited. If, instead, the family is not very good at farming, then it will simply be less well off than its neighbours. The family head cannot dismiss the children as a firm might get rid of unproductive workers. As long as the family can feed itself there is no equivalent mechanism to a firms failure that will automatically put it out of business.
Government bodies also tend to be more limited in their capacity to expand if successful, and are usually protected from failure if they perform poorly.
Defining capitalism precisely
In everyday language, the word capitalism is used in different ways, in part because people have strong feelings about it. In the language of economics, we use the term in a precise way because that helps us to communicate: we define capitalism as an economic system combining three institutions, each of which we need in turn to define.
Capitalism refers not to a specific economic system, but to a class of systems sharing these characteristics. How the institutions of capitalismprivate property, markets, and firmscombine with each other and with families, governments, and other institutions differs greatly across countries. Just as ice and steam are both water (defined chemically as a compound of two hydrogen atoms bonded with one oxygen atom), China and the US are both capitalist economies. But they differ in the extent to which the government influences economic affairs, and in many other ways. As this demonstrates, definitions in the social sciences often cannot be as precise as they are in the natural sciences.
Some people might say that ice is not really water, and object that the definition is not the true meaning of the word. But debates about the true meaning (especially when referring to complex abstract ideas like capitalism, or democracy) forget why definitions are valuable. Think of the definition of water, or of capitalism, not as capturing some true meaningbut rather as a device that is valuable because it makes it easier to communicate.
Definitions in the social sciences often cannot be as precise as they are in the natural sciences. Unlike water, we cannot identify a capitalist economic system using easy-to-measure physical characteristics.

Exercise 1.8 Capitalism
Look again at Figure 1.7.

Can you suggest an explanation for why the usage of the term capitalism spikes when it does?
Why do you think it has remained so high since the late 1980s?


History, instability, and growth