Unit 20 Economics of the environment  The Economy




































The Economy






Contents








Unit 20 Economics of the environment
How economic activity affects the fragile biosphere of our planet, and how the resulting environmental problems can be addressed

Production and distribution of goods and services unavoidably alter the biosphere.
Climate change resulting from economic activity is a major threat to future human wellbeing, and it illustrates many of the challenges of designing and implementing appropriate environmental policies.
Well-designed environmental policies implement the least-cost ways of reducing environmental damages and balance the cost of reducing environmental damage against the benefits.
Some policies use taxes or subsidies to alter prices so that people internalize the external environmental effects of their production and consumption decisions; other policies directly prohibit or limit the use of environmentally damaging materials and practices.
Some environmental systems exhibit processes of degradation, in which substantial and hard to reverse environmental damage occurs abruptly. Prudent policies avoid triggering such processes.
Evaluating environmental policies raises challenging questions about how to value our natural surroundings and the wellbeing of future generations.

In 1980, one of the most famous bets in science history took place. Paul Ehrlich, a biologist, predicted that rapidly increasing population would make mineral resources scarcer. Julian Simon, an economist, thought that humanity would never run out of minerals because higher prices would stimulate the search for new reserves, and ways of economizing on the use of resources. Ehrlich bet Simon that the price of a basket of five commoditiescopper, chromium, nickel, tin, and tungstenwould increase in real terms over the decade, reflecting increased scarcity.

inflation-adjusted pricePrice that takes into account the change in the overall price level.

On 29 September 1980, they bought $200 of each of the five commodities (a total wager of $1,000). If prices of these resources went up faster than inflation over the next 10 years, Simon would pay Ehrlich the difference between the inflation-adjusted prices and $1,000. If real prices fell, Ehrlich would pay Simon the difference. During that time, the global population increased by 846 million (19%). Also during that time, income per person increased by $753 (15%, adjusted for inflation in 2005 dollars). Yet, in those 10 years, the inflation-adjusted prices of the commodities fell from $1,000 to $423.93. Ehrlich lost the bet and sent Simon a cheque for $576.07.
The Ehrlich-Simon bet was motivated by the question of whether the world was running out of natural resources, but an interval of 10 years is unlikely to tell us much about the long-run scarcity of raw materials. The basic framework of supply and demand (see Units 8 and 11) tells us why. Commodities such as copper or chromium generally have inelastic (steep) short-run demand and supply curves because there are few substitutes for these resources. This means that relatively small demand or supply shocks generate large and sudden changes in the market-clearing price, similar to the market for crude oil that you encountered in Unit 11.











Figure 20.1 
Global commodity prices (19602015).
        






                                View the latest data at OWiD
                        


The World Bank. 2015. Commodity Price Data.



But what should happen to the price and availability of copper or chromium in the long run?
As the price of copper rises, producers have an incentive to invest in new technologies that will make its extraction cheaper. Consumers will substitute away from copper to other raw materials. Both of these forces push prices down.
As prices of copper begin to fall, firms cut down on new extraction investments and consumers demand more copper. This pushes the prices back up. The presence of market prices for raw materials therefore ensures that despite increases in population and affluence, we do not run out of resources. The ratio of known reserves to production does not fall far.

resources (natural)The estimated total amount of a substance in the earths crust. See also: reserves (natural resource).

Over the last 200 years, prices for many mineral resources have not changed much, although extraction has increased dramatically. Although prices fluctuate from year to year, the overall trend is flat. This indicates that the supply of many raw materials in the earths crustnatural resourcesis quite vast.
The transformation of living standards since the Industrial Revolution has been possible because of the combination of human ingenuity and available resources in the form of air, water, soil, metals, hydrocarbons like coal and oil, fish stocks, and so on. These were all once abundant and free, apart from the costs of extraction. Some, like hydrocarbons and mineral resources, are still abundant. Others, like unpolluted air, biodiversity (including coral reefs and many land and marine species), forests (due to deforestation and desertification), and clean water, are becoming scarce.
But the absence of prices is not the only reason why managing renewable natural resources is so hard. In some cases, the fragility of our environment under pressure from the growth of economic activity can lead not only to progressive degradation, but also to accelerating, self-reinforcing collapse. An example is the Grand Banks cod fishery, in the north of the Atlantic Ocean. In the eighteenth and nineteenth centuries, legendary schooners such as the Bluenose (Figure 20.2) raced back to port to sell their catch to be the first on the market, and to offer fresh fish. By the late twentieth century, the Grand Banks had sustained the livelihoods of the US and Canadian fishing communities for 300 years.











Figure 20.2 
The Grand Banks fishing schooner, The Bluenose.
        




Then suddenly, the fishing industry in the Grand Banks died and, along with it, many of the old fishing towns. Figure 20.3 gives the quantity of cod caught over 163 years, showing a gradual upward trend and a pronounced spike coinciding with the introduction of industrial fishing less than 50 years before the eventual disappearance of cod from the Grand Banks. You learned some reasons why an open-access resource is likely to be overexploited in Units 4 Unit 12, and it appears that in this case the cod was greatly overfished. North Atlantic fisheries are now recovering after governments imposed restrictions, but we still do not know if the cod will come back in their previous numbers.











Figure 20.3 
The amount of cod caught in the Grand Banks (North Atlantic) fisheries (18512014).
        






                                View this data at OWiD
                        


Millennium Ecosystem Assessment. 2005. Ecosystems and Human Well-Being: Synthesis. Washington, DC: Island Press.




positive feedback (process)A process whereby some initial change sets in motion a process that magnifies the initial change. See also: negative feedback (process).

Rapid changes like the Grand Banks cod disappearance are referred to as ecosystem collapse, and result from environmental vicious circles. In the Amazon, for example, change may become self-reinforcing due to the positive feedback processes illustrated in Figure 20.4. Past a certain level of deforestation, the process becomes self-sustaining even without further expansion of farming.











Figure 20.4 
Positive feedback processes and deforestation in the Amazon.
        




Similarly, the process of global warming can be self-reinforcing due, for example, to its impact on Arctic ice cover, as we will see later in Section20.8.
The depletion of commodities and global warming are two aspects of environmental degradation. But we will see that there is also an important difference between the two: commodities are priced and traded, and so over-use of some resources may self-correct as prices of scarce commodites rise. Negative external environmental effects are usually only corrected through coordinated policy or political action, which is harder to achieve. This action has often been too little or too late, as we will see.
In the rest of this unit, we will show that environmental problems are as diverse as nature itself, and that understanding the economics of the environment will require you to employ not only the tools you have learned already, but also to study the interaction of physical and biological processes with human economic activity.











Look back at Figure 11.7 showing world oil prices and global oil consumption to answer Question 20.1.
        





Question 20.1 Choose the correct answer(s)
Figure 11.7 shows the world oil price (in 2014 prices) and global oil consumption.
You also have the additional information that the world reserves of oil more than doubled to 1.7 trillion barrels between 1981 and 2014. More than 1 trillion barrels were extracted and consumed in the same period. Based on this information, which of the following statements is correct?

Both the 1970s and the 2000s oil price hikes were due to the demand curve shifting to the right.
The sharp fall in the oil price after the global financial crisis of 2008 was due to the supply curve shifting to the right.
Paul Ehrlichs forecast, that the increases in demand due to population growth and growing affluence would outstrip supply, was correct in the period 19812014.
Julian Simons forecast, that the discovery of technologies to find new resources and extract them more efficiently would outstrip increases in demand, was correct in the period 19812014.


False. The 1970s oil shock was caused by a reduction of supply, not an increase in demand.
False. The global financial crisis caused a fall in demand, rather than supply.
False. Reserves increased by more than the amount extracted, suggesting that the increases in supply were greater than the increases in demand.
True. Reserves increased by more than extraction. This is likely to be largely due to technological improvements that allowed more oil to be identified and economically extracted.