20.11 Conclusion
For 100,000 years or more, humanslike other animalslived in ways that modified the biosphere but did not substantially and irreversibly degrade its capacity to support life on the planet. Starting 200 years ago, humans learned how to use the energy available from nature (burning carbon) to transform how we produced goods and services, radically increasing the productivity of our labour.
The capitalist economy provided both the carrots and the sticks that made the technological revolution profitable to private firms and hence a permanent feature of our lives. The result was a sustained increase in the output of goods and services per person.
In many countries, the extension of the vote to people who worked as employees, and their organization into trade unions and political parties enhanced the bargaining power and the wages of workers (Figure 2.19). The increasing costs of hiring labour provided ongoing incentives for owners of firms to seek innovations that would use less labour, replacing human labour with machinery and the non-human energy of coal and other fuels that powered them.
In many countries, this process of increased productivity and bargaining power of labour resulted in growing living standards for workers. But the replacement of human labour by non-human energy to power the machines also led to an impoverishment of nature.
A degraded and threatened environment cannot be reversed, however, by the same mechanism that created this affluence. When it came to developing an economically equitable society, workers were their own advocates, and their success in pursuing their private interests of seeking a higher living standard led to wage increases and a pattern of technological change in which less labour was used in production.
You could imagine that a similar process would raise the price of using our natural environment, leading to nature-saving technical change, just as higher wages led to labour-saving innovations. But the biosphere does not have the vote. Political organizations of soon-to-be-extinct animals will not be formed. Future generations of our own species and non-human elements of the contemporary and future biosphere are not capable of advocating for saving nature in the same way that workers indirectly advocated for saving labour, that is, by raising its price.
Public policies to impose prices on the use of nature sufficient to deter the degrading external effects of the production of goods and services today will be propelled not by the silent voices of the biosphere and generations unborn, but by people today, concerned not only about their private interests, but about the preservation of a flourishing biosphere in the future.
Economists along with other scholars can clarify the costs and benefits of alternative environmental policies and practices and help to inform public debate on these policies.

Concepts introduced in Unit 20
Before you move on, review these definitions:

Abatement
Abatement policies
Natural resources and reserves
Global greenhouse gas abatement cost curve
Marginal productivity of abatement expenditures
Price- and quantity-based environmental policies
Cap and trade
Contingent valuation
Hedonic pricing
Discounting future generations costs and benefits
The polluter pays principle
Tipping point, disequilibrium process
Prudential policy