20.3 The abatement of environmental damages: Cost-benefit analysis

abatement policyA policy designed to reduce environmental damages. See also: abatement.

Like other environmental problems, climate change can be addressed by environmental damage abatement policies such as:

discovering and adopting technologies that are less polluting
choosing to consume fewer or less environmentally damaging goods
banning or limiting the use of environmentally harmful substances or activities

However, the economic costs of immediately eliminating all CO2 emissions would surely exceed the environmental benefits. But what level of environmental abatement should be adopted instead?
This is in part a question about the facts: What is the trade-off between the benefits of producing and consuming more, and the enjoyment of a less-degraded environment? It is also an ethical question: how should we value environmental quality? How should we trade off consumption now, with environmental quality enjoyed both by current and future generations?
If we ask citizens about their views of proposed environmental policies, we expect their responses will differ, partly because a deteriorating environment affects different people in different ways. Your point of view may depend on whether you work outdoors (you will benefit more from a less polluted local environment) or in fossil fuel production (you may lose your job if the higher abatement costs levied on your firm causes it to shut down). It may depend on whether you have no choice but to live near a source of air pollution, or are wealthy enough to have a second home in the countryside.
Your opinion about how much we should spend today to protect future environments would no doubt differ from the values of those who make up the distant future generations that would be affected by our choices, if we could ask them. Peoples views are strongly influenced by their self-interest but, as you would expect from the behavioural experiments in Unit 4, not totally so. We worry about the effect on others, even complete strangers.
For simplicity, we begin by setting aside these differences and consider a population composed of identical individuals. We ignore future generations, or optimistically assume that we will all live forever. We will begin by also assuming that everyone enjoys (or suffers from) the same level of environmental quality. Later in this unit we will look at what changes when we do not make these assumptions.
We will also start off with what we call the ideal policymaker who seeks to serve the citizens interests.
How can economics help the policymaker determine the level of environmental quality that we would like to enjoy, knowing that people may have to consume less so they can enjoy a better environment? The first thing to think about is the actions that we can take and their consequences: the feasible set of outcomes.
To do this, we need to consider the ways that the resources of the society could be diverted from their current uses to reduce the environmentally degrading effects of economic activity. The nation may adopt policies to limit environmental damage. We refer to such policies as abatement policies, since they abate (reduce) pollution and environmental damage. The amount of reduction in emissions caused by these policies is referred to as the quantity of abatement. Abatement policies include taxes on emissions of pollutants, and incentives to use fuel-efficient cars.
In the rest of this section, we use a specific example to illustrate the general approach to environmental cost-benefit analysis. The specific case is the choice of global policies that reduce greenhouse gas emissions. Keep in mind that we are assuming that the policymakers throughout the world are able to implement these policies.
Abatement costs and the feasible set

global greenhouse gas abatement cost curveThis shows the total cost of abating greenhouse gas emissions using abatement policies ranked from the most cost-effective to the least. See also: abatement policy.

To get some idea of how economists assess abatement policy options, we look at the estimated cost of reduction of global greenhouse gas emissions in Figure 20.9, which shows the relationship between potential abatement and the cost of abatement per tonne. It is the marginal cost curve for the good, which we refer to as the global greenhouse gas abatement cost curve. These estimates were made by the consultancy firm McKinsey.
The measure of potential abatement, gigatonnes (10 tonnes) ofcarbon dioxide equivalent(GtCO2e), is a unit used by the UN climate change scientific panel,the IPCC, to measure the effect of a technology or process onglobal warming. It expresses how much warming a given type of greenhouse gas would cause by using the equivalent amount of CO2 emissions that would have the same effect.
Each bar represents a change that could reduce carbon emissions. The height shows the cost of using the technology to reduce carbon emissions, in terms of euros per tonne of reduced CO2 emissions. The width shows the reduction of CO2 emissions, compared to the level without policy intervention. Therefore, for each method, a short bar means that there is a lot of abatement per euro spent. A wider bar means that this method has a higher potential to abate emissions.
Note that in this figure we have only included policies which have a cost. There are many other policies that are win-win, because they both reduce carbon emissions and save money, such as fitting insulation in older houses. The full range of policies can be seen in Figure 20.26; the costly ones are in Figure 20.9. We discuss the implications of win-win policies in Section 20.10. You may wish to read that section now before working through the rest of the unit.











Figure 20.9 
The cost of potential global greenhouse abatement in 2030 (compared with business as usual), using different policies.
        





McKinsey & Company. 2013. Pathways to a Low-Carbon Economy: Version 2 of the Global Greenhouse Gas Abatement Cost Curve. McKinsey & Company.



In Figure 20.9, we order the policies from those with the least cost per tonne of CO2 abated on the left to the highest cost per tonne abated on the right. By this measure, abating carbon emissions through changes in agriculture is the most efficient method, if we disregard the win-win policies. Nuclear, wind, and solar photovoltaics are all moderately efficient. At the time these estimates were produced, retrofitting gas-fired power plants for carbon capture and storage is the highest-cost policy per tonne of CO2 abated. Together, the bars form a marginal cost curve, showing the cost of an additional tonne of abatement at any given level of abatement, assuming that we adopt the most efficient technologies first.
The science in this field is young, and technologies are continuously developing. As knowledge advances, the estimated abatement cost curve will changeindeed, it is likely to have changed already from the data shown here, which was published in 2013. For instance, rapid reductions in costs of solar power are likely to increase the efficiency of solar abatement, and therefore reduce the height of the bars associated with solar energy (see Figure 20.19a).
But even focusing on only the most efficient bars, implementing any of these abatement policies would divert resources from the production of other goods and services: the opportunity cost of an improved environment would be reduced consumption.
We can use data from the marginal cost curve for abatement (as in Figure 20.9) to estimate how much abatement we get for any level of expenditure, assuming we implement the most efficient methods first. These calculations are given in Figure 20.10. We would start by implementing the cheap and effective measures, such as land management and conversion policies. Having exhausted these policies, the curve becomes flatter at higher levels of expenditure, where we would be devoting more resources to less efficient methods such as carbon capture and storage (CCS) modifications to power stations. For more detail on the calculations of marginal abatement costs, see the Einstein at the end of this section.











Figure 20.10 
The least-cost abatement curve: How total abatement (at least cost) depends on total abatement expenditures.
        





McKinsey & Company. 2013. Pathways to a Low-Carbon Economy: Version 2 of the Global Greenhouse Gas Abatement Cost Curve. McKinsey & Company.



The curve in the figure, called the least-cost abatement curve, gives all the combinations of expenditures and resulting abatement when the lowest-cost changes are introduced first and the higher-cost ones are introduced later.
Using figures like 20.10, we can establish all of the possible combinations of consumption and abatement that are feasible. The available abatement technology is shown by the shaded set of points in Figure 20.11. In this figure, the horizontal axis measures the expenditure on abatement. The vertical axis measures environmental quality by the amount of abatement achieved. The zero point on the vertical axis is a situation in which no abatement occurs.

dominatedWe describe an outcome in this way if more of something that is positively valued can be attained without less of anything else that is positively valued. In short: an outcome is dominated if there is a win-win alternative.

The shaded area is the feasible set of abatement expenditures and environmental outcomes. Points like A in the interior of the set are inefficient abatement policies. At A, we can see that there are alternative measures that would achieve the same level of abatement (25 gigatonnes) at lower cost (400 billion rather than 600 billion). Similarly, for an expenditure of 600 billion, the choice of the most cost-effective abatement techniques would deliver 30 tonnes of CO2 abatement and therefore higher environmental quality than at point A. Economists say that a point like A is dominated by points A and A and all the points in between. This means that at any of these other points there could be lower abatement costs and the same level of abatement (A), or greater abatement at the same cost (A).











Figure 20.11 
The least-cost abatement curve: The trade-off between total cost of abatement and amount of abatement.
        




How would an inefficient point like A in Figure 20.11 occur? In Figure 20.10, the policies were ordered so that the first expenditures on abatement are devoted to the most effective abatement policy. After exhausting the potential of each policy we moved to the next most effective policy.
To highlight the difference between an efficient and an inefficient abatement policy, Figure 20.12 shows the abatement options based on the data in Figure 20.9, but with more costly policies adopted first. If a society has committed to spend 8.37 billion on abatement, and spends it all on coal carbon capture, nuclear, and other less effective options, then the least-cost abatement curve would be as shown in Figure 20.12.











Figure 20.12 
An abatement cost curve in which more costly technologies are adopted first.
        




We can see that if 8.37 billion were spent on abatement, the level of abatement would be 4.94 gigatonnes of CO2, rather than the abatement of 11.2 gigatonnes that would have occurred if the society implemented least-cost policies, as shown in Figure 20.10.
Figures 20.10 and 20.12 send a clear message about priorities. If we have a limited amount to spend on abatement, and abatement technology does not change, focus on reducing pastureland conversion. According to Figure 20.10, we should also adopt nuclear power (assuming that waste storage and other security issues can be addressed), solar, and wind power before building new coal plants with carbon capture and storage (CCS), or retrofitting old coal plants for CCS.
To study environment-consumption trade-offs, we invert the least-cost abatement curve, just as we did with the grain production function in Unit 3. Suppose that, after a given level of government expenditure on other policies and also a given level of investment, the maximum amount that people could consume in the economy if no abatement is implemented is 500 billion of goods and services. Then the feasible choices are the shaded portion of Figure 20.13.
In Figure 20.13, the vertical axis still measures the quality of the environment, but the horizontal axis now measures the goods available for consumption after abatement costs (from left to right). So, abatement expenditures are now measured from right to left.












Figure 20.13 
Feasible consumption and environmental quality.
        















If no abatement policies are adopted


If abatement costs are zero, the nation can have 500 billion of consumption.














50 billion of abatement costs


The nation is at point X after spending this amount.




The abatement choice problem now looks familiar. The policymaker wishes to select a point among the alternatives on the feasible frontier. Recall from the earlier units that the slope of the feasible frontier, also known as the marginal rate of transformation (MRT), is how much of the quantity on the vertical axis you would get by giving up one unit of the quantity on the horizontal axis. In the consumption-environment feasible frontier, this is the marginal rate of transformation of foregone consumption into environmental quality:

The steeper the feasible frontier (the greater the slope), the smaller the opportunity cost, in terms of foregone consumption, of further environmental improvements.
Environment-consumption indifference curves
Which point on the feasible set will the policymaker choose? The answer can be found by studying the policymakers environment-consumption indifference curves in Figure 20.14, which show how much consumption citizens are willing to trade in exchange for better environmental quality.
We can write the slope of the indifference curve, the marginal rate of substitution (MRS) as:

The policymakers MRS will be high (a steep indifference curve) if consumption is valued highly by the citizens (a large marginal utility of consumption), and if citizens do not place a high value on additional abatement to improve environmental quality (marginal utility of abatement is low). Conversely, if the citizens value additional environmental quality highly relative to consumption, the MRS will be less steep.
In Figure 20.14, the indifference curves are straight lines because we have assumed for simplicity that the marginal utility of consumption and the marginal utility of environmental quality are both constant. That means they do not depend on the quantity of consumption or on the amount of abatement.












Figure 20.14 
The ideal policymakers choice of the abatement level.
        















Allocating 50 billion to abatement


Point X is the level of environmental protection that the policymaker would wish to implement, with environmental quality at E*.














Allocating less than 50 billion to abatement


At B, the MRS is less than the MRT (the slope of the feasible set at B), so the policymaker would be better off by switching more resources from consumption into improving environmental quality. Spending more on abatement shifts the policymaker onto higher indifference curves until point X is reached.




To think about how citizens preferences affect the optimal policy chosen, we suppose that the policymaker takes account of the preferences of all of the citizens, counting them equally. This means that if citizens decide to value environmental quality more, then the indifference curves of the policymaker will be flatter to reflect this.
Cost-benefit analysis: The ideal policymaker chooses an abatement level
Our policymaker uses two principles to make a decision about the level of abatement:

She considers only abatement policies on the frontier of the feasible set: This eliminates higher-cost abatement policies that are inside the shaded area.
She chooses the combination of environmental quality and consumption that puts her on the highest possible indifference curve.

To satisfy both conditions, she finds the point on the feasible frontier that equates the MRT (the slope of the feasible frontier) with the MRS (the slope of her highest possible indifference curve).
We can see from Figure 20.14 that point X is the level of environmental protection that the policymaker will wish to implement. The benefit indicated by the environmental quality index of 62 is achieved at a cost of reducing consumption by 50 billion and allocating it to abatement.
What would produce a different choice of abatement level?

Different values: If the citizens cared less about the environment, then the indifference curves would be steeper than those in Figure 20.14, and the policymaker would choose a point like B, with higher consumption and lower abatement.
Different costs of abatement: If abatement became cheaper than shown in Figure 20.14, then the feasible set would be steeper at each level of abatement. This would expand the production frontier upwards, implying that the policymaker would choose a higher level of abatement and lower consumption.


Exercise 20.3 Choosing abatement strategies
Look at the high-cost abatement strategies that we use to illustrate an inefficient abatement policy in Figure 20.12. Can you think of reasons why these policies might be introduced instead of the more cost-effective ones?


Exercise 20.4 Optimistic and pessimistic policies
In Figure 20.14, we described how a policymaker representing a uniform group of identical citizens chooses the optimal amount of abatement.

Draw the indifference curves of the policymaker if she were to represent two different groups of citizens (again, we assume that all citizens in each group are identical, and the marginal utility of consumption and environmental quality are both constant). In the first group, citizens care more about environmental quality than consumption, and in the other group, citizens care more about consumption of goods and services. Explain why the optimal level of abatement costs will differ across groups.
Now consider the example in the text of the abatement of global greenhouse gases. What are the main simplifications in the model that might lead the policy maker who uses this model to ignore important aspects of the problem of global greenhouse gas abatement?

In reality, there is uncertainty about the effectiveness of abatement expenditure and hence how costly abatement of environmental damage will be.

On a new diagram, draw the feasible consumption frontier based on an optimistic assessment of the costs of abatement.
Now draw the feasible consumption frontier based on a pessimistic assessment of the costs of abatement on the same diagram.
By adding the policymakers indifference curves to your diagram in each case (assuming all citizens are identical), show how actual environmental quality chosen by the policymaker will differ, even if preferences are the same, depending on whether costs of abatement are assessed optimistically or pessimistically.



Question 20.4 Choose the correct answer(s)
Figure 20.9 shows a global greenhouse gas abatement curve, defined as the abatement in 2030 compared with business as usual, produced by McKinsey in 2015. The width of each bar indicates potential abatement measured in gigatonnes of CO2, while the height indicates the cost of abatement per tonne.
Based on this information, which of the following statements is correct?

Solar energy produces more abatement per euro spent than nuclear power.
Nuclear energy has a higher potential to abate emissions than reforestation of degraded forests.
Geothermal technology has a very low abatement potential and therefore should never be adopted.
Solar energy should be preferred to nuclear power in the abatement of greenhouse gas emissions.


False. The Nuclear bar is shorter than the Solar PV or Solar CSP bars, indicating a lower cost of abatement per tonne.
True. The nuclear bar is wider, indicating greater abatement potential.
False. The abatement potential is relatively small, but the cost per tonne abated is very low. It will therefore likely form one component of a least-cost mix of abatement opportunities.
False. Solar energy is indicated in the diagram to be less efficient, in terms of abatement per euro spent. There may, however, be reasons unrelated to efficiency (such as safety) that justify preferring it to nuclear power.



Question 20.5 Choose the correct answer(s)
Figure 20.11 shows the graph of the amount abated against its total cost, under different abatement policies.
Based on this information, which of the following statements are correct?

Point A is not a feasible option.
Point A is dominated by point A.
The fact that the slope of the curve is monotonically diminishing implies that the technologies are adopted in increasing order of their cost.
It is possible to attain a higher curve by modifying the order in which the technologies are adopted.


False. A is in the feasible set.
False. A is lower cost but also has lower abatement. A is higher cost but achieves more abatement. In general, no point on the feasibility frontier is ever dominated.
True. The diminishing slope indicates that the initial technologies adopted offer the most abatement per euro spent. Technically, the slope of this curve is the inverse of the marginal cost curve, therefore the decreasing slope indicates increasing marginal cost.
False. The diminishing slope indicates that the technologies are being adopted in increasing order of their cost, so no higher curve can be attained.



Einstein Marginal abatement costs and the total productivity of abatement expenditures
How do we construct the line segments that define the boundary of the feasible set in Figure 20.10 from the data in Figure 20.9?
Let the height of the first bar (the most cost-effective abatement expenditure) in Figure 20.8 be y and the width of that bar be x. Then, in Figure 20.10:

the initial slope of the curve is 1/y
the horizontal axis value of the first point is xy
this points vertical axis value is x

The other line segments making up the curve in Figure 20.9 are constructed in the same way.