Unit 21 Innovation, information, and the networked economy  The Economy




































The Economy






Contents








Unit 21 Innovation, information, and the networked economy
Innovations that enhance our wellbeing are a hallmark of capitalism. Making the most of human creativity and inventiveness is a public policy challenge

Innovation depends on many factors: the state of knowledge, individual creativity, public policy, economic institutions, and social norms.
Individuals or companies who introduce socially beneficial innovations are rewarded with profits above the opportunity cost of capital, referred to as innovation rents.
Innovation rents are eventually competed away by imitators who spread the new knowledge by using it.
The production and use of new knowledge is unusual in three ways: knowledge is a non-rival good, producing new knowledge is initially costly, but once produced it can be distributed and used for free, and innovations generally become more useful as more people use them.
Innovating firms often have little immediate competition and can profit by setting prices far above the marginal costs of production, which disadvantages consumers.
But innovating firms still cannot capture all of the benefits their innovations generate, so may invest too little in innovation.
Public policy therefore seeks to spread socially beneficial innovations, while at the same time providing adequate rewards for those producing innovations.
Given this trade-off, intellectual property rights can be either too strong, preventing new innovations from spreading, or too weak, providing innovation rents that are too small to sufficiently reward innovators.
Digital technologies support two-sided markets like Facebook, eBay, and Airbnb, which match individuals who can mutually benefit from exchanges.
These technologies have altered the nature of economic competition, but exhibit many of the same market failures observed in the production of knowledge.

Around the turn of the present century, South Africa had one of the highest rates of people living with HIV in the world: about 5 million South Africans, 1 in 10 of the population, were HIV positive. But in 1998, Bristol-Myers Squibb, Merck, and 37 other multinational pharmaceutical companies brought a lawsuit against the government of South Africa, seeking to prevent it from importing generic (non-brand name) drugs, other inexpensive antiretroviral drugs, and other AIDS treatments from around the world.
Street protests erupted in South Africa, and both the European Union and the World Health Organization announced their support for the South African governments position. Al Gore, then US vice president, who had represented the interests of pharmaceutical companies in negotiations with South Africa, was confronted by AIDS activists chanting, Gores greed kills! In September 1999, the US governmentpreviously the drug companies strongest allysaid that it would not impose sanctions on poor countries that are affected by the HIV epidemic, even if US patent laws were broken, so long as the countries abided by international treaties governing intellectual property. The pharmaceutical giants pushed back, engaging an army of intellectual property rights lawyers to promote their case. They closed factories in South Africa and cancelled planned investments.
But three years later, with millions of dollars spent on litigation and with the even greater cost to their reputations, the companies backed down (even paying the South African governments legal fees). Jean-Pierre Garnier, the chief executive officer of GlaxoSmithKline, telephoned Kofi Annan, secretary general of the United Nations, to ask him to help make a deal with President Thabo Mbeki of South Africa. Were not insensitive to public opinion. That is a factor in our decision-making, Garnier later explained.12
It was too late: the damage had already been done. This has been a public relations disaster for the companies, commented Hemant Shah, an industry analyst. The probability of any drug company suing a developing country on a life-saving medicine is now extremely low based on what they learned in South Africa.
Of course, pharmaceutical company owners cannot sell an AIDS treatment at less than what it cost them to manufacture it and still stay in business. Moreover, few of the industrys research projects lead to a marketable product (research in 2016 estimated the industrys success rate as just over 4%). The sales of a successful product must therefore cover the costs of many failed projects because, of course, it is impossible to predict which research projects will succeed.
In this instance, the drug companies went to court in South Africa to protect their patents. In the pharmaceutical industry, the patent system gives the innovating company a time-limited monopoly that allows the company to charge a price much higher than the cost of producing the drug (sometimes by a factor of 10) during the years of patent protection. The prospect of high profits provides an incentive for companies to invest in risky research and development.
By creating a government-imposed monopoly, patent protection often conflicts with the equally important objective of making goods and services available at their marginal cost (recall from Unit 7 that a monopolist will set a price above the marginal cost). The high pricesufficient to cover the cost of research and development, including investments on failed projectsmeans that many of those who could benefit from access to the drug will not get it. This is an example of the deadweight efficiency losses resulting from monopoly pricing studied in Unit 7.
Conflicts between competing objectivesin this case, the production of new knowledge on the one hand and its rapid diffusion on the otherare unavoidable in the economy, and are particularly difficult to resolve when they concern innovation, as we will see.
But sometimes, new technologies allow for win-win outcomes.
Recall the problem of the fishermen and fish buyers of Kerala that we described at the beginning of Unit 11. On returning to port to sell their daily catch of sardines to fish dealers, fishermen often found that there was excess supply in the market. The result was higher prices for the consumer, on average, and lower incomes for the fishermen.34

law of one priceHolds when a good is traded at the same price across all buyers and sellers. If a good were sold at different prices in different places, a trader could buy it cheaply in one place and sell it at a higher price in another. See also: arbitrage.

When the fishermen got mobile phones, they would phone the many coastal fish markets from out at sea, and pick the one where the prices that day were highest. The mobile phone made it possible to implement the law of one price in Keralan fish markets, to the benefit of fishermen and consumers. It was not entirely win-win, however. The mobile phones greatly increased the competition among the dealers who were the intermediaries between fishermen and buyers, because a fisherman could bargain for higher prices before choosing which market to enter. The dealers were the losers from this innovation.
But the mobile phone had much weaker effects in other parts of the world, such as Uttar Pradesh and Rajasthan in India, where the lack of roads and storage facilities prevented farmers from profiting from information on price differences. A small farmer in Allahabad remarked that price information that he could get on his phone was not worth much to him because there were no roads to go there. In this case the innovation was of little use, because of a lack of public investment in the necessary infrastructure.
Similarly, when mobile phones came to Niger, in West Africa, farmers lacked the means to transport their cowpeas and other crops to alternative markets, and so traders who transported the goods took much of the benefit. The fishermen did not face this problem because the boats used to catch the fish were also a means of transport, allowing them to choose among markets.
In this unit, we will show how economic concepts can make sense of the South African governments policies to make AIDS treatments more widely available, the conflict that the policies caused, and the contrasting impact of the mobile phone on fishermen in Kerala and farmers in other Indian states.
To understand innovation, you will have to forget about the image of an eccentric inventor, working alone, creating a better mousetrap, and getting rich as a reward for the public benefit of his inspiration. Innovation is not a one-off event set off by a spark of genius. Instead:

Innovation is a process: It is a fundamental source of change in our life that itself is constantly undergoing change.
Innovation is also systemic: It connects networks of users, private firms, individuals, and government bodies.

We discuss innovation as a process and as a system in the next two sections.







                        Other video options
                    


Bilibili
Download
View transcript




F.M.Scherer, an economic historian who specializes in the effects of technological change, explains how patents support innovation in pharmaceuticals.



Exercise 21.1 Patents and innovation in the pharmaceutical industry

According to Scherer in the Economist in action video, what are the key features of the pharmaceutical market that differentiate it from other markets?
According to the video, what prevented the same drug from being made available in both high and low-income countries, and how was this issue resolved?