21.2 Innovation systems
Innovative activities are not spread evenly across the globe or even across a country. Think of the area now known as Silicon Valley in California, once a sleepy farming area centred on Santa Clara Valley. Silicon Valley got its nickname when high-growth firms in computing and semiconductor design moved in, later joined by innovators in biotech. In 2010, in a single US postal area (ZIP code 95054) in the centre of Silicon Valley, 20,000 patents were registered. Patent attorneys cluster in this part of Santa Clara. If this small area of 16.2 km2 were a country, it would have ranked 17th in the world in patents in 2010.8
The outpouring of patents from Silicon Valley is a measure of its output of what is termed codified knowledge, meaning knowledge that can be written down. But much of the knowledge produced cannot be written down, or at least not exactly. This non-codifiable knowledge is termed tacit knowledge.
The difference between codified and tacit knowledge can be illustrated this way. A recipe for a cake can be written down, as it is codified knowledge, but being able to read the recipe and follow it exactly does not get you a reputation for being an outstanding cook; on the other hand, the tacit knowledge of an exceptional chef is not something that you can easily write in a book.

codified knowledgeKnowledge that can be written down in a form that would allow it to be understood by others and reproduced, such as the chemical formula for a drug. See also: tacit knowledge.tacit knowledgeKnowledge made up of the judgements, know-how, and other skills of those participating in the innovation process. The type of knowledge that cannot be accurately written down. See also: codified knowledge.

The importance of tacit knowledge is demonstrated in the destruction and re-emergence of the German chemical industry. After the First World War and again after the Second World War, German chemical companies had their factories in Germany disassembled and their facilities in the US and UK expropriated. All that remained were key personnel.
Had all of the necessary knowledge to build a modern chemical industry been codified, there is no particular reason why Germany should have resumed its leadership in this field. Any country with a large scientific and engineering labour force could have created the industry using the available codified knowledge, more or less like the cook following a recipe. But using their know-how and experience (the tacit knowledge), German companies nevertheless managed to resume dominant positions in some markets.
Silicon Valley is as famous for its tacit knowledge as it is for its patented codified knowledge. The extraordinary concentration of innovative businesses in Silicon Valley reflects the importance of external effects and public goods in the production and application of new technologies. The two words Silicon Valley no longer just refer to a place. They now represent a particular way that innovation gets done. Silicon Valley has become associated with an innovation system.
As well as the legal institutions that protect codifiable knowledge and that govern how easily holders of tacit knowledge can move between firms, an innovation system includes financial institutions such as venture capital funds, banks, or technology-oriented firms that will finance projects that seek to commercialize innovations.
Different countries provide quite different innovation systems that often co-evolve with industries in which they specialize. For example, radical innovation is more prevalent in the US, where labour can move easily between firms and venture capital is well developed, and incremental innovation is more prevalent in Germany, where ties of workers to firms are stronger and finance for innovation comes from retained profits and banks rather than from venture capital.

non-compete contractA contract of employment containing a provision or agreement by which the worker cannot leave to work for a competitor. This may reduce the reservation option of the worker, lowering the wage that the employer needs to pay.

Even within the US, Silicon Valley was unusual. During the 1960s, Silicon Valley was a minor player in technology compared to the Route 128 concentration near Boston, Massachusetts, which benefited from proximity to Harvard and MIT. But Route 128 differed from Silicon Valley in important ways, including the use of non-compete contracts that prohibited anyone leaving one firm from taking up employment with a competing firm, as a way of protecting information that a firm produced:

The state of Massachusetts enforced non-compete contracts: This limited inter-firm mobility and the information-sharing that resulted from it.
The state of California took the opposite position: It outlawed non-compete contracts, saying that: Every contract by which anyone is restrained from engaging in a lawful profession, trade, or business of any kind is void. The resulting circulation of engineers among firms in Silicon Valley promoted the rapid diffusion of new knowledge among firms.

The Silicon Valley innovation system
Why is innovation concentrated in Silicon Valley? Institutions and incentives reinforce each other to produce a radical innovation cluster. The Silicon Valley model is one of highly mobile entrepreneurs, investors, and employees linked within a small geographical area, with support from government and educational institutions.910
The Silicon Valley system consists of:

Innovating firms: Most innovation takes place in firms specializing in producing new methods or products (start-ups) rather than in existing firms that produce goods and services.
Other innovating institutions: In a partnership that began early in the 1900s, two universities, one public (University of California at Berkeley) and the other private (Stanford University) work closely with firms to commercialize innovations. An industrial park was set up in 1951 at Stanford with major corporations like General Electric, IBM, and Hewlett Packard. University, government, and private R&D labs are co-located in the Valley, even including the R&D centre of Walmart, the retail giant.
Government: Military research in electronics and high-energy physics was funded at the universities and in private firms in the area, starting in the run-up to the Second World War. During the Cold War (from the end of the Second World War until the 1990s), this continued with Lockheed Missiles and Space the largest employer in the Valley. A change in the law in 1980, called the Bayh-Dole Act, enabled universities to gain ownership of their output and commercialize it even if the federal government had helped fund it. This brought private investors into the network.
Social norms: A social norm for high-risk, high-return behaviour, which some say has its origins in the speculators who flooded into California to mine for gold in the nineteenth century, sustains a culture of serial entrepreneurship. Failed innovators can start again with a new idea. High firm failure rates and other reasons for employee mobility across firms distribute the tacit knowledge acquired in one firm to other firms. Some have concluded that this unintentional sharing of information among firms was key to Silicon Valleys success.
Finance: Entrepreneurs at an early stage will pitch their project to venture capital (VC) investors. When the VCs decide to invest and take a substantial ownership stake, usually for a period of 12 to 18 months, it creates strong incentives for the startup to grow rapidly and, if successful, means the VC investor can exit with a high rate of profit. The funding model for startups is a rapid-paced cycle of pitching a new business idea to investors, which is based on the commercialization of an invention, followed by recruiting key employees (often with earnings linked to the value of the firm when it is sold), market growth, and seeking more cash. Founders, investors, and employees all understand that failure is likely. Funders still benefit, because the few successful ventures produce large returns that compensate for many losses.

The German innovation system
Innovation in the US is concentrated in industries whose patents heavily cite scientific articles. This is one indicator of radical innovation. By contrast, the very successful export industries of Germany rely on incremental innovation, where patents are much less intensive in scientific citations and tacit knowledge tends to be more important. Networks are also crucial to the German innovation system but they work differently from those in Silicon Valley. Like Silicon Valley, innovation is concentrated geographically, with centres around Munich and Stuttgart in southwest Germany.
The German system consists of:

Read the introduction to: Peter A Hall and David Soskice. 2001.Varieties of Capitalism: The Institutional Foundations of Comparative Advantage. New York, NY: Oxford University Press.



Innovating firms: Incremental innovation takes place in medium-size and large long-lived companies in Germany, and relies on long-term relationships between employers and workers, between firms and banks, and among firms linked through production relationships and ownership and control ties. To succeed in introducing new technology, firms face many coordination problems, which can be solved through cooperative and competitive relationships with employees, other firms, and banks.

Government: The government supports the training of highly skilled workers through a government-subsidized apprenticeship system, which is supervised by industry associations. This system reduces training costs for firms and ensures high quality training. Apprentices contribute by accepting low training wages. Large firms are required to have elected bodies to represent workers in negotiations with managers. They help to devise ways to exploit all possible mutual gains and to distribute these gains in a way acceptable to all.
Innovators: Skilled workers are needed for the successful introduction of process and product innovations. To make this possible, young people need to be assured of long-term, high-wage employment before they are willing to commit to multi-year apprenticeships. Similarly, workers engaging in innovation that could result in job cuts need to be assured that they will not lose their jobs. The vocational training scheme addresses these issues in a number of ways. As discussed above, the government sponsors and subsidizes high-quality apprenticeships. Training schemes are also certified. This assures trainees that their skills are valuable outside the firm, improving their reservation position should their job end, and helping to ensure high wages as long as the job continues.
Social norms: Incremental innovation (for example, in the automobile industry) requires industry-wide standards to make technology transfer easier. Long-term relationships and cross-ownership among firms are essential for facilitating technology transfer, because long-term employment contracts mean that the Silicon Valley-style technology transfer that occurs when workers move from one firm to another is much less common. Similarly, the assurance that firms highly trained workers will not be poached is not achieved through laws but by norms that are widely respected by the otherwise highly competitive firms.
Finance: The system of ownership of large German firms differs sharply from that of US or UK firms. Takeovers are easier in the US or the UK, and allow for rapid changes in the use of the assets of a firm. Because ownership of firms is much more concentrated in Germany, it is virtually impossible for a hostile takeoverthat is, one opposed by the managementto occur. Therefore, long-run inter-firm collaboration over technology development is possible, and industry-wide standards are easier to set. The financing of innovation in Germany comes from retained profits (profits not distributed to shareholders) and bank loans. Long-term finance provides reassurance for trainees who invest in acquiring company-specific skills, as well as for other companies investing in related technology developments.

Figure 21.5 compares the two systems. Both are successful, but in different ways. Silicon Valley-based firms dominate important digital technologies (ICT) associated with the latest general-purpose technology, while the German firms making up its distinctive innovation system have managed to sustain a much higher level of well-paid industrial jobs in the face of global competition, compared to the US or any other country outside of East Asia.







Silicon Valley
German innovation system




Innovation
Radical codified, especially in ICT
Incremental tacit, especially in capital goods and transport equipment


Innovating firms
Entrepreneurial innovation specialists
Established industrial and other firms


Government
Military contracts, higher education
Subsidies for training workers


Innovators
Engineers, scientists, universities
Skilled workers and engineers


Social norms
Competitive; risk-taking
Cooperative; risk-pooling


Finance
Venture capital
Bank loans, retained earnings


Property rights
Patents of more importance
Non-patent forms of protection of more importance





Figure 21.5 
Two innovation systems: Silicon Valley and Germany.
        




The economics of innovation systems
Successful innovation can contribute to rising living standards by expanding the set of products available to consumers, and by reducing the prices of existing products. However, many societies struggle to innovate. Economist Lisa Cook of Michigan State University asks why the transition to capitalism in Russia in the 1990s did not spark a wave of innovation. She documents the late 19th century inventions contributed by African American inventors, including gas masks, traffic lights, and light bulb technology and how this burst of innovations was cut short by a wave of attacks and anti-black mob violence. Her insights on the political and economic conditions under which innovation will flourish are relevant to understanding the vast differences across the world today in the extent of innovation.







                        Other video options
                    


Bilibili
Download
View transcript




In our Economist in action video, Lisa Cook explains what promotes or kills innovation.


Compare the amount of innovation in capitalist economies to the amount in centrally planned economies of the Soviet Union and its allies during the twentieth century. In a list of 111 major non-military product and process innovations between 1917 and 1998, only onesynthetic rubbercame from Soviet bloc countries. Scholars have suggested that an important factor contributing to the collapse of the Soviet planned economies was the Communist Partys failure to deliver innovation in consumer goods, which eroded the legitimacy of its rule.11
The successful capitalist innovation systems in Silicon Valley and Germany have two things in common:

The innovation system is not based on individual creativity: A single firm or an inventor relies on the relationships among all of the actorsowners, employees, governments, and sources of finance. Regions without these support networks are less successful at innovation.
There is a helping hand as well as an invisible hand: Successful innovation systems involve profit-seeking competition among individuals and firms, but the government also plays an essential rolemilitary contracts in Silicon Valley and worker training in Germany, for example.

In the next three sections, we explore three aspects of invention and diffusion that make the innovation process a challenge to public policy, and why it has proven so difficult for other localities to copy the Silicon Valley or German innovation systems.

external effectA positive or negative effect of a production, consumption, or other economic decision on another person or people that is not specified as a benefit or liability in a contract. It is called an external effect because the effect in question is outside the contract. Also known as: externality. See also: incomplete contract, market failure, external benefit, external cost.public goodA good for which use by one person does not reduce its availability to others. Also known as: non-rival good. See also: non-excludable public good, artificially scarce good.economies of scaleThese occur when doubling all of the inputs to a production process more than doubles the output. The shape of a firms long-run average cost curve depends both on returns to scale in production and the effect of scale on the prices it pays for its inputs. Also known as: increasing returns to scale. See also: diseconomies of scale.

These aspects are:

External effects and the problem of coordination among innovators*: A firms successful invention almost always has either positive or negative effects on the value of other firms investments in the innovation process. Owners of a firm who are concerned solely about their profits will fail to take into account these external effects.
Public goods: Innovation can be seen as the production of new knowledge by the use of a combination of old knowledge and creativity. The fact that most forms of knowledge are non-rivalmaking it available to an additional user does not mean that some current user will be deprived of its usemakes the innovation process one that uses public goods to produce other public goods.
Economies of scale and winner-take-all competition: Big is beautiful when it comes to the knowledge-based economy. Average costs fall as more units of a good or service are provided, and this means that firms entering a market first often can take the entire market, at least temporarily.

Recall from Unit 12 that these three characteristics are all sources of market failure. Simply letting market competition regulate the process of innovation will generally not result in an efficient outcome. These same three aspects of the innovation process also pose challenges to governments that seek to address these market failures. This is because governments may lack the necessary information (or the motivation) to develop appropriate policies.
We begin with a model of the problem of external effects and the problem of coordination among innovators, simplified to just two firms considering investing in innovations, and a government that may assist in the innovation process.

Exercise 21.3 Comparing innovation systems
In this unit, we compared the Silicon Valley and German innovation systems.
Which of these two systems do you think would be more likely to be introduced and succeed in the country or region in which you are now living? Why or why not? (If you are in Germany, would the Silicon Valley system work where you are? If you are in California, would the German system work there?)


Question 21.2 Choose the correct answer(s)
Which of the following statements is correct regarding the Silicon Valley and German innovation systems?

The Silicon Valley innovation system is considered much more successful than the German innovation system.
Both Silicon Valley and German innovation systems rely on universities to provide highly skilled, and therefore highly paid, graduates.
The successes of Silicon Valley and German innovation systems are both due to the relationships among all of the actors (owners, employees, governments and financiers) that promote innovation.
Both Silicon Valley and German innovation systems benefit from a high level of financing from venture capitalists, whose high tolerance for business failure sustain a culture of entrepreneurship.


The two systems, though very different, are both regarded as very successful. Silicon Valley-based firms dominate important ICT technologies, while the German firms have managed to sustain a much higher level of well-paying industrial jobs despite global competition.
Whilst this statement is true for Silicon Valley, workers in Germany are trained through multi-year apprenticeships at low wages by the firms.
As explained in the text.
The financing of innovation in Germany comes from retained earnings and bank loans, which allows investment in more industry-specific skills.