21.4 Economies of scale and winner-take-all competition
Innovation involves developing new knowledge, and putting it to use. Recall that knowledge is unusual in two ways. It is a public good (what one consumes does not subtract from what is available to others) and its production and use are characterized by extraordinary increasing returns to scale. We discussed knowledge as a public good in Unit 12. In this section, we discuss the two ways in which knowledge-intensive innovation creates economies of scale.
The supply side: First copy costs and economies of scale in production

first copy costsThe fixed costs of the production of a knowledge-intensive good or service.

The first copy of new knowledge is costly to produce, but virtually costless to make available to others. Because first copy costs are large relative to the costs (variable or marginal) of making additional goods available, information production and distribution is different from any other part of the economy.

Thriller, by Michael Jackson: This is the best-selling music album in history. It cost $750,000 to produce in 1982 (about twice that amount in 2015 dollars). The marginal cost of producing additional copies is less than $1 for a CD, and almost nothing if it is a download. A CD sells for about $10, and a download for the same amount. The first copy cost of even a modest production by a new band will be at least $10,000, with marginal costs of around $1 for each CD, and zero for a download.
Textbooks: To develop a new high-quality textbook in the US costs between $1 million and $2 million, to compensate the writers, designers, editors, and others for their work. This is the first copy cost. The cost of producing and distributing the physical books (printing, warehousing, and delivery included) for a successful text are approximately $12 per book. This is its marginal cost. Students all over the world know that introductory course textbooks typically sell for ten times this amount.
Star Wars: The Force Awakens: the production budget for this film, released in 2015, was $200 million. The development cost for the computer game Star Wars: The Old Republic (2011) was between $150 million and $200 million. These figures do not include the marketing and promotion costs, such as advertising, that should be included in the first copy cost, and may be bigger than the production costs. Now that movies are distributed digitally to cinemas, making a film available costs virtually nothing. The marginal costs for movies or games sold on DVD are around the same as for a CD, and when they are sold as digital downloads, they are zero.
New drugs: The average first copy cost of a new drug according to a study in the US in 2003 was $403 million. This fact explains the difference in price between drugs that are still under patent, giving the producer a temporary monopoly, and the prices that users pay once the patent has expired so that other producers compete with the originator of the drug. For instance, Omeprazole, a very widely prescribed dyspepsia drug, was patented and launched in 1989, sold under the brand name Prilosec. In the US the patent expired in 2001, and by 2003, 28 tablets of brand-name Prilosec sold for $124, while the equivalent packet of generic Omeprazole cost only $24.12

In Unit 7 we studied how a firm sets prices, and how it decides how much to produce. In Figure 21.8, we show a set of cost curves for a firm producing a knowledge-intensive good. The numbers are hypothetical, and they understate the true size of the first copy cost relative to marginal cost. Even so, the vertical axis is still not drawn to scale so we can read the figure.

Total cost: The curve starts at the first copy cost, and then rises very little with increased production.
Marginal cost (MC): The curve is low and constant.
Average cost (AC): The curve (including economic profits and the first copy costs) falls as quantity increases, as the cost of the first copy is spread over larger units of output.
MC < AC: No matter how many units are produced, the marginal cost will always be less than the average.

A firm producing a knowledge-intensive good that wants to make economic profits will have to cover its first copy cost. To do so, the price will have to be at least as high as the average cost curve and therefore higher than marginal cost.
This means the production of knowledge-intensive goods cannot be described by the competitive markets of Unit 8 in which price equals marginal cost (P = MC), but instead by the model of price-setting firms in Unit 7. In Unit 7, we assumed that P > MC because of limited competition. Here it is an unavoidable consequence of first copy costs, and no matter how many competitors there are, price cannot be competed all the way down to marginal cost.











Figure 21.8 
A knowledge-intensive good: Marginal, average, and first copy costs.
        




Earlier in this unit (and in Units 1 and 2), we explain that in the absence of intellectual property rights, competition from followers would eventually eliminate the innovation rents made by first adopters of an improved technology or new product. This is how the diffusion of a new technology happens, and results in lower prices. The same process will take place where first copy costs are important. Other firms will copy the innovator until the economic profits (rents) are eliminated, so that the price being charged offsets the average cost of production, including the first copy cost and the opportunity cost of the capital goods used. But in this situation, the price being charged must be greater than the average cost (due to the first copy costs, as shown in Figure 21.8). Figure 21.9 below illustrates these cases.







Restricted entry (IPR or other)
Unrestricted entry




Declining average costs
Economic profits P > AC > MC
No economic profits P = AC > MC


Non-declining average costs
Economic profits P > MC  AC
No economic profits P = MC = AC





Figure 21.9 
The average cost curve, economic profits, and competition.
        




The demand side: Economies of scale through network effects

network external effectsAn external effect of one persons action on another, occuring because the two are connected in a network. See also: external effect.

The value of many forms of knowledge increases when more people use it. Because the benefits to users increase as the network of users grows, demand-side increasing returns are sometimes called network external effects. The external effect is that when one more person joins the network, all others benefit.
Languages are a good example. Today, more than one billion people are learning English, which is more than three times as many people who speak English as their first language. The demand for English is not due to the intrinsic superiority of the language or because it is easy to learn (as many of you will know), but simply because so many other people, in many parts of the world, speak it. There are many more people who speak Mandarin (Chinese) and Spanish as a first language, and almost as many Hindi and Arabic speakers, but none of these languages is as useful to communicate globally as is English.
Having a particular games console is better when lots of people have the same one, because developers will produce more games for it. A credit card is more useful when many people have the same card, because lots of shops will accept it as payment.
But have you ever wondered who bought the first telephone, and what they intended to do with it? Or what you could do with the first fax machine?
The technology behind the fax, a device to send images of documents over a telephone line, was first patented by Alexander Bain in 1843although his image-sending innovation had to use the telegraph, because nobody had invented a telephone yet. A commercial service that could transmit handwritten signatures using the telegraph was available in the 1860s. But the fax remained a niche product until 120 years later when it became so popular that, within the space of 10 years, almost every office installed its own fax machine.
This tells us the first thing we need to know about demand-side economies of scale: there is little incentive to be the first to adopt a technology with this characteristic.
The second thing we need to know is that, if two versions of this type of technology are competing, the one that gains a larger number of adopters at the outset will have an advantage, even if the other one is cheaper or better. To see this, lets take another look at the video format war between Sony and JVC.
Sonys Betamax format was superior to JVCs VHS for its picture and sound quality. But in the early 1980s, Sony made a strategic error by limiting the recording time to 60 minutes. If customers wanted to use their new Sony Betamax to record a feature film, they needed to change the tape in the middle of the recording. By the time Sony had extended its recording length to 120 minutes, there were so many more VHS users that the Betamax format all but disappeared.

winner-take-all competitionFirms entering a market first can often dominate the entire market, at least temporarily.

The video formatting war, and its outcome, is an example of winner-take-all competition, in which economies of scale in production or distribution give the firm with the largest share of the market a commanding competitive edge. Winner-take-all competition does not necessarily select the best.
To see how this works, Figure 21.10 depicts competition based on the Sony and JVC case. The length of the horizontal axis is the number of people purchasing either Sonys Betamax or JVCs VHS. We assume that the price of the two products is identical.
To simplify our example, assume that the value of using the product for a new user is approximately the number of individuals currently using the product, n, multiplied by an index for the quality of the product, q. The net benefit of purchasing a good is then equal to the benefit from using the good, qn, minus the price that the consumer pays, p. Our simplifying assumptions then allow us to write the net value of buying the product as = qn  p. Higher quality products have a higher value of q, so consumers faced with two products with the same number of users and same price will prefer the higher quality good.
The number of individuals buying Betamax is measured from the left to the right, starting at zero and extending potentially all the way to the entire market. The blue line shows the net benefits of using Betamax for consumers. Its equation is B = qBnB  p, where the superscript B is for Betamax. If everyone buys Betamax, the value to each purchaser is shown in the figure, Bmax, which is equal to qBntotal  p. If no one else buys Betamax, the value to that first purchaser is negative and equal to the price paid, shown by the intercept on the left-hand vertical axis below the horizontal axis.
In the same figure, the net value of JVCs product VHS is given by the red line whose equation is V = qVnV  p (where the superscript V stands for VHS). Because there are only two firms competing, the number buying VHS is just the total size of the market, minus the number buying Betamax.
Lets assume that the Betamax format is higher quality. Within our model, this means that qB > qV. This implies that if everyone bought Betamax, the net value would be greater than if everyone bought VHS format, that is Bmax > Vmax. In Figure 21.10, this is illustrated by the fact that the height of the blue Betamax line where it intersects the right-hand axis (everyone using Betamax) is above the intercept of the red VHS line with the left-hand axis (everyone using VHS).












Figure 21.10 
The net value of becoming part of a network.
        















The net benefit of Betamax


The net benefit to a consumer of Betamax is given by the blue line, reading from left to right.














If everyone buys Betamax


The net benefit to each purchaser is shown in the figure by Bmax, which is equal to qBntotal  p. This is the case where Betamax is the winning format and takes all of the market, shown by point A.














If nobody buys Betamax


The net benefit to a purchaser would be negative and equal to the price paid for it.














The net benefit of VHS


The red line gives the net benefit to a consumer of the VHS format. The VHS format is the winner and takes all the market at point B.














For Betamax to break a VHS monopoly


For the net benefit of Betamax to be greater than the net benefit of VHS, it would require at least 4,000 buyers to purchase a Betamax recorder, shown in the diagram as all the outcomes to the right of point C.




The first thing to notice is that if at a particular moment everyone is buying VHS (point B), then a new buyer will certainly prefer VHS to Betamax. To see this in the diagram, look at the left-hand side and consider a new buyer. For this person, the value of VHS is high (the intercept with the left-hand axis), whereas the value of Betamax is negative. This is because the new user would have to pay the price of the Betamax recorder, but would not get any benefits because there are no other users, and therefore no video content is provided. This is true even though we have assumed that Betamax costs the same as VHS, and that Betamax is the better quality video cassette.

lock-inA consequence of the network external effects that create winner-take-all competition. The competitive process results in an outcome that is difficult to change, even if users of the technology consider an alternative innovation superior.

The second lesson from the figure is that even if many consumers (but fewer than 4,000) were buying Betamax, the new consumer would still prefer VHS (the red line is still above the blue line at that point). For Betamax to break the VHS monopoly, it would have to get at least 4,000 buyers. Then Betamax rather than VHS would offer higher value, and could eventually take the entire market (at point A).
So the winner need not be the better alternative. This is sometimes called lock-in.
But this is not the whole story. The history of innovation in the knowledge economy is full of more complicated stories, in which changes are constantly occurring for many reasons.
For example:

Browser wars: When the Internet became popular, the market for Internet browsers was dominated by a product called Netscape Navigator. It was displaced by Microsoft Internet Explorer in the browser wars of the early 2000s. Internet Explorer, in turn, was later challenged by Mozilla Firefox and Google Chrome.
Smartphones: At the beginning of 2009, Android smartphones had a market share of 1.6%, Apples iPhones had 10.5%, and the market was dominated by a technology called Symbian, with 48.8% share. At the beginning of 2016, 84.1% of smartphones sold were based on Android, Apples smartphones had a share of 14.8%, and Symbian smartphones were no longer being manufactured.
Social networks: In June 2006, 80% of people who used a social network used a site called MySpace. By May 2009, more people used Facebook than MySpace.


Question 21.4 Choose the correct answer(s)
Figure 21.8 shows the cost curves for a firm producing a knowledge-intensive good.
The marginal cost is constant at $1 for all output Q. Based on this information, which of the following statements is correct?

With positive first copy cost and constant marginal cost, the firms average cost will always be above its marginal cost.
The firms average costs will eventually start increasing, at which point the firms production no longer benefits from economies of scale.
The government should encourage competition to drive the price down to p = $1.
A small-scale car valeting business is a good example of a firm with the cost structure shown in the graph.


With positive first copy cost (say F) and constant marginal cost (MC), the average cost (AC) will always be higher than the marginal cost by F/Q, as AC = TC/Q = (F + (MC  Q))/Q = (F/Q) + MC.
With positive first copy cost (say F) and constant marginal cost (MC), the average cost (AC) will always be higher than the marginal cost by F/Q, as AC = TC/Q = (F + (MC  Q))/Q = (F/Q) + MC. Now AC > MC for all values of Q, so the AC curve will always be downward sloping. Hence the firms production will always exhibit economies of scale.
A firm producing a knowledge-intensive good needs to cover its first copy cost and thus must charge a price greater than its marginal cost. It would be making a loss if the price were below its average cost.
A small-scale car valeting business would have a very small initial fixed costjust the cost of car wash equipmentand virtually zero training cost. It is unlikely to benefit from much economies of scale.