21.6 Intellectual property rights
Patent protection may be unnecessary for an innovator if secrecy is possible, or social norms prevent copying. The formula for Coca-Cola has famously remained a secret for 100 years. The company claims it is known by only two executives at any time, who never travel on the same aeroplane. A chefs signature dish is not a secret, but social norms among chefs would make the costs of copying a recipe without permission extraordinarily high. Comedians rarely steal each others jokes for the same reason.
In other cases, an innovation may be known, but barriers to copying can be built into the product itself. Digital watermarking technology allowed some music distributors (briefly) to make recorded music that could not be copied. Seed companies successfully accomplished the same thing by introducing hybrid corn and other varieties that do not reproduce well.
Firms can also rely on superior capabilities that are complementary to a technological product to protect their innovation rents. Such capabilities could be a superior sales force, the ability to bring products to market more quickly, or exclusive contracts with input suppliers.
Secrecy, barriers to copying, or complementary capabilities may not be effective against rivals who manage to invent the same product independently, or who reverse-engineer it by starting with the finished product and working out how it was made.

patentA right of exclusive ownership of an idea or invention, which lasts for a specified length of time. During this time it effectively allows the owner to be a monopolist or exclusive user.trademarkA logo, a name, or a registered design typically associated with the right to exclude others from using it to identify their products.copyrightOwnership rights over the use and distribution of an original work.

Where a novel idea is both codifiable (it can be written down) and non-excludable (imitation cannot be prevented), governments have created laws protecting intellectual property rights. There are many kinds of intellectual property, but the most commonly used are patents, trademarks, and copyright. What they have in common is that they give the holder of the right exclusive use of the thing covered by the right for some designated period of time. In economic terms, the holder of the intellectual property right is made a temporary monopolist.
Intellectual property rights
Codifiable and non-excludable ideas can be protected by the following forms of intellectual property rights in the following ways:
Patents
Patents require the innovator to disclose their idea in a patent application, which is examined by a patent office and subsequently published. If the examiners are convinced the idea is sufficiently new and inventive, they will grant the innovator a patent. In most cases, a patent gives the innovator the right to take any imitator to court for 20 years: this can be extended to 25 years in the case of pharmaceutical patents. Some countries vary the length of patent protection.
Trademarks
A trademark gives the owner of a logo, a name, or a registered design the right to exclude others from using it to identify their products. Trademarks can be extended indefinitely. Patents and trademarks are generally registered at a dedicated office.
Copyright
Copyright gives the author of an intellectual work such as a book, an opera, or software code the right to exclude others from reproducing, adapting, and selling it. Copyright is generally not registered. The author must make a claim if he or she believes it has been violated. Copyright terms are far longer than those for patents, and have been progressively extended. Copyright applies for a minimum of 25 years and in the US currently for 70 years after the death of the creator. Long copyright terms are controversial, because often the benefits go to people who did not create the work.
How intellectual property rights affect innovation
Until recently, it had been thought that patents encourage the development and use of innovations. Now economists and historians are taking a second look at whether intellectual property rights promote or actually destroy innovation. The answer depends on which of two opposite effects is more important:

Creating a monopoly: This has a beneficial effect for the holder of the intellectual property rights, and creates economic profits (innovation rents) which stimulate research and development.
Impeding innovation and diffusion of new ideas: These rights limit the ability of others to copy the innovation.

An important historical case is the steam engine, which was so important to the Industrial Revolution. There were several types of steam engine invented during the eighteenth century, but the most successful type was patented in 1769 by James Watt. He was an engineer, and did nothing to commercialize his innovation. In fact, he did not begin production in earnest until six years after he invented it.
The commercial value of the patent was an afterthought for Watt. The businessman Matthew Boulton bought a share in the patent, and persuaded Watt to move to Birmingham (one of the centres of the Industrial Revolution) to develop the new engine he had invented. Boulton also campaigned successfully to extend the period of the patent from 14 to 31 years.

Creative commons licensing

The CORE economics text you are reading is available online under what is called a Creative Commons copyright license.

It allows anyone to access our curriculum material and use it in non-commercial ways, as long as they credit CORE as the originator.
We do this so that as many people as possible can access the work of our contributors at no cost, but not make a profit from it.


Afterwards, Watt and Boulton used the courts vigorously to prevent any other steam engines from being sold, even if they were different to Watts design. Among these was Jonathan Hornblowers rival invention, which was more efficient than the Watt design. Watt and Boulton challenged Hornblowers patent, eventually winning the case in 1799.
Another superior invention, created by an employee, was blocked when Watt and Boulton succeeded in broadening their patent to cover the new design, even though they had not had any part in its development. Ironically, Watt knew how to make his machine more efficient, but he couldnt make the improvement. Someone else held the patent.
Under the Watt-Boulton patent, the UK added about 750 horsepower of steam engines per year. In the 30 years after it expired, more than 4,000 horsepower a year of steam engines were installed in England. Fuel efficiency, which had barely improved while the patent was in force, increased by a factor of five between 1810 and 1835.
There is no doubt that patent protection is essential to the process of new knowledge creation in some industries. When the patent on a pharmaceutical blockbuster drug (a drug with annual sales of more than $1billion in the US) expires, firms specializing in copying drug formulations and selling generic versions of the drug can enter the market, and the drugs price decreases as it is exposed to price competition. The patent owners profits decrease significantly. Rapid falls in profits demonstrate that the monopolies created by patents can be immensely valuable for the patent owner, but costly for users of the patented innovation.
When the DVD was introduced, it became apparent that the technology would allow consumers to not just own, but also to copy music and films from these disks in high quality. This posed a significant dilemma for the music and film industries that was addressed through new laws making it illegal to subvert digital rights management (DRM) technology, which the film companies used to stop people copying the content without permission. These same laws are now often used when users share content that is copyright protected over the Internet. Today DRM technology helps to protect the companies we now call content providers, who use the Internet as a distribution devicethink of a television company that streams sports events live to computers and phones.
Figure 21.12 is a schematic representation of the innovation process. Arrows represent inputs, pointing towards the aspect of innovation that they affect. The figure highlights how the creation of new knowledge always builds on existing knowledge. For instance, Hornblower built on the existing Watt-Boulton design to improve efficiency. As was the case in the early days of the Industrial Revolution, existing patents restrict the ability to build on existing knowledge, and can therefore have a negative effect on innovation. On the other hand, by securing innovation rents for creators, they encourage innovation.












Figure 21.12 
Patents and the production of new knowledge.
        















Old knowledge helps make new knowledge


Patents slow down this process. As Watt and Boulton found out, patents can impede the use of some aspects of old knowledge that are covered by patents.














Patents encourage innovation


The creation of new knowledge gives successful inventors recognition and innovation rents. Watt did not invent the steam engine to profit from the patent he would receive, but other innovators are strongly motivated by the prospect of commercializing their inventions.














Patents slow diffusion


Patents prevent other innovators from realizing the full benefits of new knowledge after it has been created. Watt and Boulton managed to use patents to stop rival inventors from creating their own, perhaps better, steam engines.




When Petra Moser, an economic historian, studied the number and quality of technical inventions shown at mid-nineteenth century technology expositions, she found that countries with patent systems were no more inventive than countries without patents. Patents did, however, affect the kinds of inventive activities in which countries excelled.

When economists disagree Intellectual property rights: Dynamo or drag?
Recall that in one of our Economist in action videos, F.M.Scherer argues that patents incentivize R&D in pharmaceutical companies (unlike in many other sectors, he says), so that they continue to develop new blockbuster drugs.
Petra Moser explains that copyright protection for nineteenth-century Italian operas led to more and better operas being written. But she also presents evidence suggesting that intellectual property rights may do more harm than good for the innovation process if they are too broad or too long term.1415


Exercise 21.10 Thomas Jefferson
Thomas Jefferson (17431826), Americas third president, noted the peculiar and wonderful nature of an idea:

Its peculiar character is that no one possesses the less, because every other possesses the whole of it. He who receives an idea from me, receives instruction himself without lessening mine; as he who lights his taper [candle] at mine, receives light without darkening me. (Thomas Jefferson to Isaac McPherson, Writings, 1813)

Jefferson went on to say something that even then was controversial:

It would be curious, then, if an idea, the fugitive fermentation of an individual brain could be claimed in exclusive and stable property.

To him, granting to an individual the exclusive right to own and exclude others from the use of an idea just did not make sense, any more than it would make sense for a person to refuse to tell someone what time of day it was.

Rewrite the first part of Jeffersons quote using the economic terms you learned in this course.
Do you agree with Jeffersons statement that ideas should not be claimed in exclusive and stable property? Why, or why not?









                        Other video options
                    


Bilibili
Download
View transcript




Petra Moser discusses copyright protection for nineteenth century Italian operas.



Exercise 21.11 How copyright improved Italian opera, and how such protection should be limited
Watch our Economist in action video, in which Petra Moser discusses copyright protection for nineteenth-century Italian operas.

Outline Petra Mosers research question, and her approach to answering it.
What were Petra Mosers findings about patents and copyrights?
What factors should governments consider when determining the effective time period of IPR protection laws such as patents and copyrights?



Exercise 21.12 Intellectual property rights
Why does an extension of copyright terms (for example, an extension of the life of the protection) not change incentives to improve intellectual works (texts and operas) as much as the introduction of copyright itself? In your answer, consider who benefits from extended copyright terms.


Question 21.6 Choose the correct answer(s)
Which of the following statements is correct regarding laws protecting intellectual property rights?

A patent is a non-registered right that gives the producer of an intellectual work (such as a book or software code) the right to exclude others from reproducing, adapting and selling it.
Copyright is granted if a work is found to be sufficiently new and inventive after an examination by the copyright office.
Trademarks give the owners of a registered design the right to exclude others from using it.
Economists agree that patents, copyright, and trademarks all promote innovation unambiguously.


Patents are registered and are granted after an examination by the patent office. Copyright is the non-registered right to exclude others from reproducing ones work.
This statement is for patents and the patent office. Copyright does not require an examination.
This is the definition of trademark.
Whilst intellectual property rights exist to protect revenues from a technological innovation, they can also hinder innovation when the new knowledge is based on the old knowledge already protected by intellectual property rights. Economists disagree about the conditions under which intellectual property rights promote or destroy innovation.