22.10 Democracy makes a difference
Our model of the government also allows us to understand the impact of one of the major developments in twentieth-century economics and politics: the extension of voting rights to virtually all adults. In consequence, governments have increasingly devoted tax revenues to public services and other expenditures that differentially helped the poor. As we saw in Unit 19, the result has been that people have acquired more of their wellbeing by right, as a citizen, rather than purchasing it as a marketed good or service.
The growth of various forms of social insurance is a big part of the two steps up in the size of the government that you saw in the UK in Figure 22.2, the first taking place after the extension of the suffrage in 1928, and the second in the aftermath of the Second World War.
Friedrich Hayek warned in his book Road to Serfdom that the growing size of government would undermine democracy and the rule of law, pointing to the experience of Germany under fascism and Russia under communism.13 This does not appear to be the case in general: the countries ranked highest on measures of rule of lawNorway, Finland, Sweden, Denmark, and the Netherlandsall are notable for their high levels of government tax revenues as a fraction of GDP. The US and the UK, with a smaller government, are ranked lower.1415
But this correlation does not show that a larger government promotes the rule of law and democracy. The most that can be said is that longstanding democracy, rule of law, and a large government (relative to the size of the economy) can coexist.

How economists learn from facts Womens suffrage and the reduction in child mortality in the US
Recall James Bronterre OBrien who, when campaigning against property ownership as a requirement for voting in nineteenth century Britain, wrote: Because you are unrepresented you have no property.
But does getting the right to vote increase the wealth and wellbeing of groups previously excluded from voting?
This is not a simple question to answer. Consider South Africa. Throughout its history prior to 1994, people of non-European origin were denied the right to vote, but they were also discriminated against by employers, landlords, schools, and medical institutions. Were the racial disparities in wealth, health, and other dimensions of wellbeing in that country a result of race restrictions on democratic political rights?
In behavioural experiments and in other evidence, women on average place a higher value on child welfare and public services. In that case, we would expect that public policy would change when women got the vote.
A natural experiment to assess the importance of voting rights is womens suffrage in the US, because voting laws differ by state. As a result, women gained the right to vote at different times, starting from 1869 in Wyoming. In 1920, an amendment to the US Constitution granted the vote to women in all states. Grant Miller used information on when women got the right to vote to do a before-after comparison on actions taken by elected officials, public expenditures related to child health, and health outcomes for children.16
Miller chose to focus on child healthcare policies because women had campaigned to expand health services for children. It is therefore reasonable to assume that women would have chosen different policies at this time than men would have chosen. During the nineteenth century and before, however, those who argued that only men should vote often claimed that women were represented through their husbands, brothers, and fathers.
The logic of the natural experiment is shown below, with each of the arrows representing possible causes that Miller explored:












Here is what Miller found:

Looking state-by-state at the date women got the right to vote, enfranchisement had no apparent effects on state public spending in other areas, but it boosted social service spending by 24%. At the federal government level, within a year of the passage of the Nineteenth Amendment, the US Congress voted a substantial increase in public health spending, especially aimed at children. A historian of the legislation concluded that the principal force moving Congress was fear of being punished at the polls by women voters.
The deaths of children under the age of nine fell by somewhere between 8% and 15%, primarily as a result of drops in the kinds of diseases related to the public programs that had been adopted, especially large-scale door-to-door hygiene campaigns. To put these numbers in perspective, in 1900 one in five children did not live to the age of five. The passage of healthcare programs prevented an estimated 20,000 child deaths per year.

These effects were possible because of the nineteenth-century revolution in scientific knowledge of bacteria and disease, advances that had yet to be brought to the public in improved health. Womens suffrage helped to do this.
Millers research shows that a big change in public policy resulted when women in the US were directly represented. This is why for Switzerland, where men got the right to vote earlier than any other nation, we nonetheless dated democracy from 1971, the time that women got the vote (Figure 22.10), because who can vote matters.

Other than an increase in the size of government, are there other effects of the advance of democracy on the functioning of the economy? The experience of many countries suggests a positive answer. For example, the golden age of capitalism (the three decades following the Second World War) was the first period in which all of the major economies were governed by democracies.17
While it seems reasonable that democracy was partly behind these success stories, for example through greater political stability, it is impossible to establish democracy as the only or main cause. Too many other things changed at the same time that might account for the economic changes.
The countries that took the lead in advancing political equality have a different balance now between work time and free time, as Figure 22.16 shows. This is not surprising, given that the reduction in working hours over the past 100 years was not simply a matter of individuals choosing shorter workdays. As we saw in Unit 3, it was also the result of political parties (especially after the extension of the vote to workers) seeking legislation to limit the number of hours a person could be asked to work without additional pay.











Figure 22.16 
The duration of democracy and working hours (2014).
        






                                View the latest data at OWiD
                        


Penn World Tables.



But the countries with the fewest work hours in 2014 and the highest number of years of democracy (Denmark, Sweden, and the Netherlands) had longer work hours at the time they became democracies than the average of other countries for which we have data. This is evidence to support the case that democracy had an effect on work hours.
Figure 22.17 shows that countries that were the first to give the vote to allFinland, Norway, Sweden, Denmark, and the Netherlandstoday have more equal disposable incomes than countries with a shorter experience of this kind of political equality. In many cases, reduced inequality in disposable income was the result of government programs that benefited poorer voters (women and workers, for example) who had previously been excluded from voting (as we have seen in Figures 19.1 and 5.16).











Figure 22.17 
The duration of democracy and inequality in disposable income (2015).
        






                                View this data at OWiD
                        


Cross National Data Center. LIS Database. Household market (labour and capital) income and disposable income are equivalized and top- and bottom-coded.




Exercise 22.11 Work times and inequality in less democratic democracies


Redraw Figure 22.16 and 22.17 using a different definition of democracy, over the same period as in Figure 22.13 (18902015). For example, allow a country to be democratic even if women and some ethnic minorities were excluded from voting (you already know that this will affect the duration of democracy of Australia, US, Canada, Switzerland, and France). You can download the Polity IV dataset that was used to create Figure 22.13, and consider a polity score of 6 or above as democratic. The data on working hours and inequality are shown below.



Country
Average hours worked (2014)
Disposable income Gini




Australia
1,803
0.330


Denmark
1,438
0.247


Germany
1,371
0.287


Netherlands
1,420
0.254


US
1,765
0.390


Sweden
1,609
0.236


UK
1,675
0.335


France
1,474
0.288


Italy
1,734
0.327


Belgium
1,575
0.282


Canada
1,688
0.317


Switzerland
1,568
0.291


Finland
1,643
0.262


Norway
1,427
0.244


Austria
1,629
0.268


Brazil
1,711
0.462


South Korea
2,124
0.310


India
2,162
0.502


Japan
1,729
0.302


Poland
2,039
0.307


South Africa
2,215
0.605


Mexico
2,137
0.437





Would you reach a different conclusion about how democracy is statistically related to the following, under this alternative, less strict, definition of democracy?

work time
inequality