22.16 Conclusion
Harold Lasswell, a prominent mid-twentieth-century American political scientist, is best known for his book Politics: Who gets what, when and how. The title captures a basic point of this unit, though we will go beyond Lasswells title. Politics is all about:

who gets what
who gets to be what
who gets to do what

The reason is that political processes determine the rules of the gamethe basic institutions that govern how we interact in the economy and other arenas of our society.23
But politics is not simply about dividing up a pie, with the powerful getting the larger slice and the struggle for power sometimes resulting in a smaller pie. Well-designed government policies are also able to increase the size of the pie, improving living standards for the vast majority of people. Examples that you have already seen include the economic policies of the government of China, which since the 1980s resulted in the most rapid eradication of large-scale poverty ever witnessed in human history. Another example was the clean water and sanitation policies that were behind the global reduction in child mortality.
Economics is an essential tool to understanding how government policies can both increase the size of the pie and ensure its fair division. The Economy has given you a way of understanding the manner in which we interact with each other, and with our natural environments in producing our livelihoods. Our economy is all about people and what we do as buyers and sellers, borrowers and lenders, employees and employers, voters and government officials. We learn a lot about this economy by seeing actors as doing the best that they can under a given set of circumstances, while also seeking to change their circumstances, often through political movements and governments.
Economics can help to adequately address the problems of inefficiency and unfairness in our economies, by designing policies that are both economically and administratively feasible. Economics can also play a role in making good policies politically possible: economic reasoning can have a powerful effect on public understanding of what can be done in the economy, and even on what ought to be done.
The capitalist revolution with which we began in Unit 1 and the democratic revolutionsextending the vote to all adultswith which we have concluded here have together produced the distinctive economic and political system under which most readers of The Economy now live. Capitalism and democracy continue to change, and to change the world.
Economics will help you understand how capitalism and democracy together are changing your circumstances, and how youwith othersin turn might participate in this process of change.

Concepts introduced in Unit 22
Before you move on, review these definitions:

Government, governing elite
Economic accountability, political accountability, democratic accountability
Political rents
Political institutions
Median voter model
Short-termism
Economic feasibility, administrative feasibility