22.12 Economic infeasibility
Many important economic actions cannot be simply enforced by the government. The government can use its powers of tax collection to provide for schools and order that all children must attend those schools until age 16. But it cannot mandate that students study hard and learn a lot, or that teachers teach effectively.
As we saw in Section 22.1, the government uses regulation and public provision, but can also provide incentives and information that are intended to lead people to act in a way consistent with its objectives. For example, the central bank can lower the interest rate at which it lends to commercial banks, with the intention of inducing them to lend to households and businesses at a lower rate, and, in this way, to stimulate spending. Or the government can impose a tax on fuel to alter the opportunity cost of driving, providing people with their own reasons to drive less.
Two examples of important but difficult to command economic activities are investing and working hard. Governments do not have the information or the legal authority to command wealthy individuals to use their financial resources to invest in infrastructure (other than in exceptional circumstances such as wartime), or workers to work hard and well.
How policies work by shifting the Nash equilibrium
Understanding how private actors respond to public policy is essential when addressing social and economic problems. For example, the government official who imposes a tax on sugary drinks in order to reduce obesity does not control the responses of consumers. An economically feasible outcome of the tax must be based on how consumers respond if it costs more to have another soda drink. The policy needs, for example, to take account of consumers who switch from sugary drinks to other sources of sugar that have not been taxed. Economic research surveyed in Section 7.9 gives the policymaker some guidelines about how successful the policy might be in controlling diabetes through its effect on relative prices.

ceteris paribusEconomists often simplify analysis by setting aside things that are thought to be of less importance to the question of interest. The literal meaning of the expression is other things equal. In an economic model it means an analysis holds other things constant.

To be economically feasible, the intended outcome of the policy must be a Nash equilibrium, that is, all individuals affected are doing the best they can do, given how all other actors are acting in response to the policy. Many of the models economists use include the ceteris paribus condition, which means other things being equal. But as economists like to point out, in many important applications of economic theory, ceteris aint paribus. All other things arent ever equal before and after the policy is implemented. Checking whether a policy is economically feasible means relaxing the ceteris paribus condition to consider the full set of strategies available to actors under the new circumstances.
To understand the ways that economic feasibility constrains policymakers, consider the case of the proposal to introduce an unemployment benefit financed by a tax on profits. The aim of the policy is to improve the standard of living of the unemployed without increasing the unemployment rate.
Unintended consequences
We begin by identifying the Nash equilibrium in the initial situation before the policy is introduced. In Figure 22.18a, the economy is at the point marked N, where the wage- and price-setting curves intersect. As we confirmed in Unit 9 (Section 9.6), this is a Nash equilibrium because neither a worker (employed or unemployed) nor a firm could be better off by setting a different wage or price, offering to work at a different wage, or hiring a different number of workers.
First, we look at the short-run impact of the policy using Figure 22.18a.

Initial situation: The Nash equilibrium is at point N.
Voters demand a new policy: The workersemployed and unemployedvote to elect a government that wishes to introduce an unemployment benefit that workers will receive when out of work, financed by a tax on profits.
Short-run impact: This raises the reservation option of employed workers, shifting up the wage-setting curve, so that employers now have to pay more to induce workers to work hard and well. This is shown by point C.

The policy has its intended effect: the unemployed receive a higher income, and employed workers wages have risen too, seemingly an unexpected feature of the policy. However, this unintended effect, raising wages, takes the economy away from its initial Nash Equilibrium. We will see how the long-run effects can differ from the short-run effects.
Using the analysis in Figure 22.18a, follow through the logic of the model as the actors respond to the policy.












Figure 22.18a 
Introducing an unemployment benefit: Short- and long-run effects.
        















The status quo


The Nash equilibrium is at point N. The new government introduces an unemployment benefit that workers will receive when out of work, financed by a tax on profits.














The unintended consequence


This raises the reservation option of employed workers, so that employers now have to pay more to induce workers to work hard and well. This is shown by point C.














The result


The tax on profits shifts the price-setting curve downwards. The new Nash equilibrium is at N, with higher unemployment and a lower real wage.




What is the long-run impact of the policy? In the labour market diagram, we see that there is:

A new Nash equilibrium: The unemployment benefit has shifted the wage-setting curve upwards. In the short-term, the labour market shifts to point C. But the tax which finances the more generous benefits has shifted the price-setting curve downwards, so in order to ensure the required profit margin for firms, the real wage must be lower.
Firms reduce employment, or shut down: Some firms paying the new higher wage will be making insufficient profits to motivate further investment and so they will cut back employment; other firms will fail or move production to other countries.
Long-run impact: These changes will push the economy towards point N, where (as intended) the unemployed will now receive higher income when out of work, but fewer workers are employed and the employed workers receive a lower wage.

The policy objectiveraise the living standards of the unemployed without increasing unemploymentwas economically infeasible.
Yet we have seen in Unit 16, Figure 16.16 that countries with more generous unemployment benefits do not necessarily have higher unemployment rates. This suggests that these countries were able to achieve a Nash equilibrium outcome different from either N or N. Figure 22.18b shows how this may have happenedthere is a third Nash equilibrium at N where a new higher price-setting curve intersects the post reform wage-setting curve.











Figure 22.18b 
Combining the introduction of an unemployment benefit with a solidarity wage policy.
        











                        Other video options
                    


Bilibili
Download
View transcript




In our Economist in action video, John Van Reenen uses the game of cricket to explain how the economys average productivity is affected by the survival of low productivity firms.


The Swedish approach had its origins in the solidarity wage policy, devised in 1951 by Gsta Rehn and Rudolph Meidner, two economists who worked at the research institute of the Trade Union Confederation in Sweden.
They reasoned that workers and employers have a common interest in rapid productivity growth, and that workers could enjoy higher wages without the profits of firms being reduced if more of the economys output was produced by high-productivity firms rather than in firms with low productivity.
The solidarity wage policy in Sweden was actually three linked policies:

Equal wages for equal work: This means that the wage for each job was set at the national level by negotiations between the employers association and the union. This had the effect of compressing wage differences among workers doing similar jobs. The lowest-productivity firms had survived by paying lower wages to equivalent workers than other firms paid. Under the new policy, they could not pay the negotiated wage and still remain profitable, and so had to exit the industry. Higher-productivity firms survived and took over the market share of the failed firms.
Unemployment benefits: These were generous but time-limited. See Unit 16 for more detail on how this policy works.
Active labour market policy: Retraining and mobility allowances to displaced workers, for example, aimed to improve matching them with vacancies. It protected workers rather than jobs. Again, you can find more detail on this type of policy in Unit 16.

The tax-financed increase in unemployment benefits alone would likely have pushed the price-setting curve downwards, as in the example above. But the solidarity wage policy also forced low-productivity firms out of the market. The remaining firms had higher productivity and could therefore maintain their profit margins at lower prices, pushing the price-setting curve upwards. Retraining and mobility allowances ensured that these high-productivity firms had access to a well-trained workforce, allowing them to cut costs and prices even further. Figure 22.18b shows how this combination of policies resulted in a new equilibrium with higher real wages at N, and without the rise in unemployment at N.
This is an example of how a democratic political environment with large nationally oriented trade unions and a responsive government could sustain low levels of inequality (shown in Figure 22.17), while raising average living standards.
Economic feasibility: An example from Chile
The previous analysis using the labour market model is a simplification. But it helps us understand real economic forces operating in the world. Chile is one example.
In 1970, the socialist Salvador Allende was elected president of Chile in a surprise victory, on a platform promising greater public services and nationalization of many of the privately held firms in the country.
The reaction of the wealthy is seen in the stock market prices, shown in Figure 22.19. A stock (or share) is a share in the ownership of a company, and its price (as you know from Unit 11) measures how much it is worth to own part of that company and as a result receive a share of its profits, and benefit in the future from selling it to another person.
Share prices rise when, taking everything into account, owners or potential buyers of shares think that the company will be more profitable in the future. When a socialist president was elected in Chile, wealthy people were worried about higher taxes, policies favouring their employees that would mean paying them higher wages, and the possibility that the government or even workers might expropriate (take over the ownership of) the firms assets.
These worries created a limit to the policies that would prove economically feasible for the Allende government. If the wealthy thought that the firms they owned would be less profitable in the future, they would have no incentive to invest in increasing the assets of the firm. Rather than invest in these firms, the wealthy might then invest in another country (known as capital flight), in housing, or in other Chilean assets more likely to be valuable in the future.
As you can see from Figure 22.19, stock prices plummeted straight after Allendes election day. We will pick up the Chile story a bit later, seeing that political interests as well as economic infeasibility can limit what a democratically elected government can do.











Figure 22.19 
Stock market prices in Chile: The election of a socialist president, 1970.
        





Proprietary data from the Santiago stock market. Time zero is the first trading day on the Santiago stock market following the election. Daniele Girardi and Samuel Bowles. 2018. Institution shocks and economic outcomes: Allendes election, Pinochets coup, and the Santiago stock market. Journal of Development Economics 134: pp. 16-27.




Exercise 22.12 Economies succeed when national policies align with individual impulses
In 1759, Adam Smith wrote in The Theory of Moral Sentiments:

The man enamored of his own ideal plan of government, seems to imagine that he can arrange the different members of a great society with as much ease as the hand arranges the different pieces upon a chess-board. but in the great chess-board of human society, every single piece has a principle of motion of its own, altogether different from that which the legislature might choose to impress upon it. If those two principles coincide and act in the same direction, the game of human society will go on easily and harmoniously, and is very likely to be happy and successful. If they are opposite or different, the game will go on miserably, and the society must be at all times in the highest degree of discord.


In your own words, explain Smiths idea of the economic feasibility of government policies.
Using what you have learned about the constraints faced by the Central Bank as a policymaker, give an example that illustrates Smiths point.



Question 22.4 Choose the correct answer(s)
Look again at Figure 22.18a. Which of the following statements are true?

The upward shift in the wage-setting curve would have caused real wages to increase if taxes on firms had not also been increased.
Policies that shift the wage-setting curve without also changing the price-setting curve cannot increase real wages in equilibrium.
The long-run impact of financing an increase in unemployment benefit by a tax on profits is the opposite of the short-run impact.
Increasing unemployment benefits made all workers worse off.


False. Without the tax on firms, the new equilibrium point would be at the intersection of the old price-setting curve and the new wage-setting curve. As you can see from the diagram, real wages would remain at the level they were at before the policy was introduced and employment would decrease.
True. The price-setting curve is horizontal; therefore, unless the price-setting curve moves up or down, any equilibrium will have real wages at the same level.
True. In the short run, real wages increase and employment is constant. In the long run, real wages and employment both fall.
False. Unemployment benefits offer valuable insurance to workers who could lose their job. While workers are clearly made worse off by the fall in wages and decrease in employment, they may still benefit overall from the policy.