22.15 Policy matters and economics works
In this unit, you have learned that Adam Smiths reasoning about the men on the chessboard can now be expressed in economic terms by saying that, for a policy to improve an outcome, it must change the current Nash equilibrium to a different and preferable one (economic feasibility). And it also must be favoured by a governing elite with the authority and capacity to implement it (political and administrative feasibility).
The limits posed by special interests, as well as economic and administrative feasibility, explain why governments often do not successfully address the problems of market failure and unfairness that we have encountered throughout this course. Looking at the different economies of the world, however, you see substantial differences in the extent to which these problems are effectively addressed. As a result, the limits posed by economic, political, and administrative feasibility differ substantially among countries.
To see this, return to the problem of climate change and Figure 20.25a. Sweden, Australia and the US have roughly the same per capita income. If they all faced similar constraints of economic, policy, and political feasibility in adopting policies to limit greenhouse gas impacts on climate, then we would expect to see their similarity in income matched by similarity in CO2 emissions per capita.
But this is not at all what we see in the figure. The US and Australia emit about three times as much per capita as Sweden. It seems likely that what is economically feasible may not differ very much in these three countries, as all share the same knowledge about technologies, and their citizens are likely to respond in similar ways to incentives to adopt cleaner energy sources. The government information and capacities in the three countries are also similar: all have well-informed and capable governments.











As we saw in Figure 20.25a, countries with similar per capita income do not necessarily have similar levels of CO2 emissions per capita.
        




Although carbon dioxide emissions are affected by industrial structure and trade specialization, they are also affected by what is desired by the elites, who have political influence. Policies to address climate change are more likely to have political support in Sweden than in Australia and the US. One reason for this difference is the importance in US and Australian politics of lobbies representing the natural resource industries, including the gas, oil, and coal producers.
A similar contrast appears when we look at inequality, shown in Figure 19.30. Germany and the US have both experienced about the same rate of growth in GDP per capita over the past four decades, but they differ markedly in inequality of living standards, as can be seen by the much higher Gini coefficient for disposable income in the US. The comparison for the measure of intergenerational inequality is similar. Denmark, Sweden, and Finland are more equal by this measure than even Germany.
Many things could account for these differences. They are, at least in part, due to the greater political influence in Germany than in the US, of those who value sustaining a higher living standard for the least well-off.











As we saw in Figure 19.30a, high income countries with a similar growth in GDP per capita do not necessarily have similar levels of inequality.
        




What can we learn from these comparisons?
One lesson, if we wish to address problems like climate change and unfair inequalities in living standards, is that for most countries it is possible to do a lot more than is currently being done. The fundamental forces contributing to inequality in the high-income countriesnew technologies and growing imports (from China, for example) that make the skills of low-paid workers redundantdo not differ much among the high-income countries in Figure 19.30. The differences appear to be a matter of choices among the similar set of policies that are economically and administratively feasible, some countries opting for policies that sustain high levels of inequality, and others pursuing the goal of greater equality.
We also have a lot to learn from the top performers in these and similar figures, by studying the policies and institutions that appear to account for their success in addressing market failures and unfairness.
Not all policies and institutions that are effective in one country can be transferred to another. The comparison between the innovation systems in Silicon Valley and in Germany in Section 21.2 shows how different combinations of innovating firms, government policies, financial institutions, and social norms in these two regions produce effective solutions to the market failures associated with knowledge production. Neither would be easily adopted in the other country, or in a country like Brazil or Portugal.
Some countries have school systems that teach much more effectively than others. Because educational policies differ greatly among countries, we can get some idea of the importance of good policy by looking at differences among nations in performance on a mathematics test administered to 15-year-old students around the world.
You can access the data from this test at the OECDs Programme for International Student Assessment.
Lets compare two countries that are ethnically diverse and have about the same per capita income: the US and Singapore. The average maths score in Singapore was 20% higher than in the US. Even more striking, the student whose score placed him or her in the middle of the US students (the student with the median score) would have been in the bottom quarter of Singapores students. A similar comparison would place the median American student in the bottom quarter of Japanese students, and just above the bottom quarter of Finlands students.







                        Other video options
                    


Bilibili
Download
View transcript




James Heckman explores the question of how schooling and preschool experience affects inequality.


Economic research has explored the question of how schooling and preschool experience affects inequality. A leader in this research is James Heckman, who was the subject of one of our Economist in action videos. You may also want to read his book Giving kids a fair chance.22
His book begins by noting that:

The accident of birth is a principal source of inequality in America today. American society is dividing into skilled and unskilled birth is becoming fate.

Heckmans strategy that works is based on the following logic. Both cognitive and socio-emotional skills develop in early childhood and their development depends on family environment. Growing up poor deprives children of opportunities to develop these skills, and family environments in the US have deteriorated.
In response, Heckman advocates early interventions such as enriched preschool environments and home visits by professionals to assist parents, which his research shows can produce positive and lasting effects on children in disadvantaged families.
Policies of the kind advocated by Heckman are being implemented in countries including Colombia, Jamaica, Chile, and in the state of Orissa in India. Teams of economists and experts in child development are rigorously evaluating them for their longer-term effects and to assess the feasibility of scaling them up from small pilot interventions.
So we know that the kids of poor parents often grow up to be poor. We now also know that this has little to do with genetics, and more to do with the socio-emotional behaviour associated with growing up poor. We now know of, and govenments can implement, effective policy remedies to break this cycle of poverty.