22.1 The government as an economic actor
A government allows people to do things together that they could not do individually, notably going to war. But governments also engage in activities that vastly improve living standards and the quality of life for their citizens. Examples include:2

Poverty: Fifty years ago, even in rich countries, many retired or elderly people were trapped in poverty. For example, in 1966, 28.5% of US citizens aged 65 and over were classed as poor. Government transfers in many countries have virtually eliminated serious economic deprivation among the elderly. In 2012 just 9.1% of elderly people in the US were poor.
Economic security: The increased size of government spending, as well as the policy lessons from the Great Depression and the golden age of capitalism, have reduced economic insecurity by making the business cycle less volatile.
Increased life expectancy and the dramatic reduction in child mortality in many countries: When these occurred in the late nineteenth and early twentieth century, they were not primarily the result of advances in medicine, most of which came later. They followed government policies that improved sanitation and water supply.

Like firms and families, the government is an economic actor. Its taxes, spending, laws, wars, and other activities are as much a part of economic life as the investment, savings, buying, and selling activities of families and firms.
Coercion and providing public services
The government is an actor that dwarfs families and most firms. The US government, federal and local, employs almost 10 times as many people as the countrys largest firm, Walmart. However, governments were not always economic actors on this large a scale. In Figure 22.2 we show the total tax revenues collected by the government of the UK as a fraction of gross domestic producta measure of the size of the government relative to the size of the economyover more than 500 years. The figure rises from about 3% in the period prior to 1650 to 10 times that amount after the Second World War.34











Figure 22.2 
The growth of government in the UK (15002015).
        






                                View the latest data at OWiD
                        


UK Public Revenue; Patrick K. OBrien and Philip A. Hunt. 1993. The rise of a fiscal state in England, 1485-1815. Historical Research 66 (160): pp.12976. Note: Pax Britannica refers to the century between the end of the Napoleonic Wars and the beginning of the First World War, in which (compared to earlier or subsequent periods) Europe and most of the world was relatively peaceful, with the UK the militarily dominant nation. The Glorious Revolution deposed King James II in 1688 and increased the independent power of parliament.



Not only is the government a much bigger economic actor than any family or firm, it is also unique among actors in any society. Within a given territory, it can dictate what people must do or not do and can use force and restraints on an individuals freedom to achieve that end. Because citizens generally see the use of the governments coercive powers to maintain order, regulate the economy and deliver services as legitimatemeaning that they accept the governments authoritymost citizens comply with government-made laws. One application of governments coercive power is the collection of taxes, which can be used to fund government operations.

governmentWithin a given territory, the only body that can dictate what people must do or not do, and can legitimately use force and restraints on an individuals freedom to achieve that end. Also known as: state.

To distinguish governments from private economic actors like firms, families, individuals, trade unions, and professional organizations, we define the government as the only body in a geographical territory (the nation) that can legitimately use force and the threat of force on citizens of that nation. Governments routinely do thingslocking people up, for examplewhich, if done by a private individual, would be considered wrong.
To see why the governments monopoly on the use of force is important, return to Bruno and Angela, whom you met in Unit 5.
Initially, Bruno was heavily armed and Angela was at his mercy. Bruno was not a government official. He was acting only as a private citizen. He used the threat of force to control the labour of others and to enjoy the fruits of their labour. As an economic actor, the only constraint Bruno faced was biological. He could not force Angela to work under conditions that would result in her death, not because that would have been murder, but because it would have deprived Bruno of his worker.
Then we introduced a government that imposed laws on both Angela and Bruno, disarming Bruno. If he wanted Angela to work for him, he now had to make her an offer that she would accept without threat of harm from him. The government, in other words, came to monopolize the use of force. It used its force to protect Brunos private ownership of the land, which is why Angela could not simply farm the land herself, keeping all of the crops that she produced.
In the next stage of the story, the government became democratic, and as there were many more Angelas than Brunos in the population, Angela improved her economic position.
Beyond its legitimate use of coercive powers, a second feature of the government, one that also distinguishes it from firms and other private economic entities, is that it has obligations to its citizens based on civil and human rights. To advance and protect these rights, governments use tax funds to provide services such as national defence, police protection, and schooling. These services are often provided without restrictions to those who use them, and without charging a price.
People differ greatly in their income and wealth, and therefore in the taxes they pay, but because they are citizens, they are equally entitled to many of the services of the government. This is the cause of many debates about the appropriate size of the government: people with less income and wealth benefit from many government services but, as we saw in Unit 19, people with more wealth and income pay more (in absolute terms) of the taxes that finance these services.
The tax, transfer, and expenditure systems of democratic governments typically redistribute income from those with higher to those with lower incomes, as shown in Figure 5.16 for a large sample of countries, and in more detail for the case of Mexico in Figure 19.29a. At the same time, ecologically and socially damaging practices are often used by those with higher incomes to increase their income further, at the expense of the poor.
Part of the solution

Jean Tirole, an economist who specializes in the role of intervention and regulation, describes the way that governments can intervene in his Nobel prize lecture.

In Figures 12.8 and 12.9, we looked at a variety of decisions made by private actors in the economy that affect others by imposing an uncompensated external cost or benefit. We also examined possible remedies for these market failures, often through government intervention. We also saw that governments adopt policies to correct the unfairness that sometimes results from private economic interactions. Governments may adopt the twin objectives that we have used in this course:

ensuring that the mutual gains possible through our economic interactions are as large as possible and are fully realized
sharing these gains in a fair manner

Examples of policies to address market failures and unfairness include:

Competition policies: To reduce the price-setting powers of monopolies.
Environmental policies: To reduce emissions of pollutants.
Subsidies: For R&D.
Policies that establish the expectation that aggregate demand will be relatively stable: So that firms will invest.
Public provision of healthcare or compulsory insurance.
Providing information: To allow people to make better decisions, such as the risks associated with financial products, childrens toys, and foods.
Central bank policies: That require commercial banks to minimize their risk exposure by restricting the leverage of their balance sheets.
Minimum wage laws: That prohibit contracts that pay below a stated minimum.

Governments pursue these objectives by some combination of four means:

Incentives: Taxes, subsidies, and other expenditures alter the costs and benefits of activities that have external effects, which would lead to market failures or unfair outcomes if left unaccounted for.
Regulation: Direct regulation of economic activities such as the degree of competition, including mandatory universal participation in social and medical insurance, and regulation of aggregate demand.
Persuasion or information: Altering available information and peoples expectations about what others will do (for example, their belief that their property is secure or that other firms will invest) so as to allow people to coordinate their actions in a desirable way.
Public provision: In-kind provision or through monetary transfers, including merit goods such as basic education, legal representation in court proceedings, and income transfers to alter the distribution of living standards.

Figure 22.3 brings together many of the examples of policies studied in earlier units. In each case, the policy targets a particular market failure or perceived unfairness. We identify the objective of the policy and the instrument used. The further readings to be found in the units and videos shed light on the extent to which the policy objectives were achieved.
Whilst such policies have been effective in addressing concerns of inefficiency and unfairness in some countries, in Section 22.9 we discuss why market failures and economic outcomes viewed as unfair by many citizens can still persist in democracies.






Policy
Unit
Market failure or unfairness
Policy objective
Type of policy instrument
Example referred to in the text




Tax on sugary drinks
7
Too much sugar consumption; negative external effects from health consequences
Reduce sugar consumption
Incentives; information
Denmark; France


Progressive structure of taxes; monetary and in-kind transfers
19
Unfair inequality of market incomes
Reduce unfair inequality of final incomes
Incentives; public provision
Mexico; South Africa; Brazil; EU


Reduce tariffs
18
Too few imports are purchased (P > MC)
Exploit all possible gains from trade
Incentives
Globalizations I and II;  (Dani Rodrik video)


R&D subsidies
12, 21
Too little R&D
Increase R&D
Incentives
Germany


Cap and trade or carbon tax
20
Too much CO2 emissions (common-pool resource)
Reduce CO2  emissions
Regulation (cap); incentives (trade)
EU and US (cap and trade)


Ban on CFCs
4
Emissions damaging ozone layer (common-pool resource)
Eliminate use
Regulation
Montreal Protocol 1989


Patent protection but limited in length
21
Too little R&D
Encourage R&D but ensure timely diffusion
Regulation (monopoly on innovation); incentives (for R&D)
Copyright on 19th century operas; US pharmaceutical patents; (Petra Moser video; (F.M.Scherer video)


Competition policy to address monopoly
7
Too low a quantity is sold (P > MC); monopoly favours owners over consumers
Bring price closer to MC
Regulation
European Commission (Volvo/Scania); US Department of Justice (Microsoft)


Land tenure reform
5
Poverty among share-croppers; unfair distribution of the crop
Raise farmers income as higher share of harvest goes to farmer
Regulation
Operation Barga; West Bengal


Minimum wage
19
Incomes at the bottom of the income distribution are too low
Reduce poverty
Regulation
US state legislation (Arin Dube video)


Eliminate ethnic, gender, or racial discrimination in labour markets
19
Unfair inequalities in labour earnings
Raise incomes of targeted groups
Regulation; information
South Africa


Mandatory purchase of health insurance or public provision
12, 19
Adverse selection: Too little insurance offered; premiums too high for high-risk people
Improve access to health care
Regulation; public provision
UK; US; Finland


Capital requirements on banks
17
Excessively risky lending with external costs for others (for example taxpayers)
Reduce risk to the financial system and to government finance
Incentives; regulation
Comparison between pre- and post-global financial crisis regulation (Joseph Stiglitz video; Anat Admati video)


Inflation-targeting monetary policy
15, 17
Unemployment higher than the inflation-stabilizing rate
Keep unemployment close to the labour market Nash equilibrium
Incentives; persuasion
Bank of England, Federal Reserve, and other central banks during the great moderation


Labour market reforms (active labour market policy, shorter-duration unemployment benefits)
16
Unemployment too high
Improve matching between vacancies and unemployed
Incentives; regulation; information
Hartz reforms in Germany


Aggregate demand management policy
14, 17
Coordination failure among firms about expected demand
Stabilize aggregate demand
Persuasion; public provision
Comparison between Great Depression and post-Second World War policy regimes (Barry Eichengreen video)


International cooperation
14
Coordination failure among countries about fiscal stimulus
Prevent collapse in aggregate demand
Persuasion
2009 London G20 Summit


International cooperation
20
Coordination failure among countries about climate change mitigation
Reduce CO2 emissions
Persuasion
2015 Paris Climate Agreement


R&D public funding
21
Too little R&D
Increase publicly funded R&D (university and other)
Public provision
US military and higher education; UK government; CERN consortium


Early childhood intervention in education
19
Non-level playing field for children
Increases opportunities for poorer children to attain more advanced schooling
Public provision
Interventions in US (James Heckman video)





Figure 22.3 
Economic policies aimed at mitigating market failures or addressing unfairness, discussed in earlier units.
        




Part of the problem
To accomplish these valuable policies, governments must have extraordinary powers to acquire information and to compel compliance. This creates a dilemma. For the government to be a successful problem-solver, it must also be powerful enough to potentially be a problem itself. Examples from history, and todays news, show governments using their monopoly on the use of force to silence opposition and to acquire huge personal wealth for their officials and leaders.
Before the French Revolution, Louis XIV of France, called the Sun King by his subjects, claimed Letat, cest moi (I am the state). The word state is sometimes usedas the Sun King did hereto mean government in general, distinguishing it from any particular body such as the government of France. In neighbouring Britain, at almost the same time, William Pitt had a different view of his King, declaring that The poorest man may in his cottage bid defiance to all the forces of the Crown, as we saw in Exercise 1.6.
Well-governed societies have devised ways to limit the damage that the use of government powers can inflict without undermining the governments capacity to solve societys problems. These have generally included a combination of:

Democratic elections: To allow citizens to dismiss a government that is using its powers for its own benefit, or the interests of some other small group.
Institutional checks and balances: Plus constitutional restrictions on what the government can do.

The second point is why Pitt could observe that while the farmer may have difficulty keeping rain out of his cottage, he could confidently exclude the King of England.
In a capitalist economy, barring exceptional circumstances, the government cannot seize what you own, which limits its capacity to enrich itself at your expense. This is an essential limit on arbitrary government powers. An example of a special case would be if you owned a piece of land that was the only possible site for a bridge that was needed to solve a traffic problem. Most governments would have the right to acquire the land at what is independently judged to be a fair price, even if you were unwilling to sell. This power to take private property for public use has many names. For example it is known as the right of eminent domain in the US or a compulsory purchase order in the UK.
Even with well-designed limits on government powers, and provision for exceptions allowing governments to better serve the public, we will see that governments, like markets, sometimes fail.

natural monopolyA production process in which the long-run average cost curve is sufficiently downward-sloping to make it impossible to sustain competition among firms in this market.

To see why neither markets nor governments may provide ideal solutions to economic problems, think about the case of a natural monopoly that we studied in Units 7 and 12. An example would be the provision of tap water in a city, or electricity transmission over a national network. In these cases, economies of scale means that the most efficient solution would be to have a single entitya private firm or the governmentprovide the service.
If it was privately owned as a monopoly, we know that the firm would face a downward-sloping demand curve, which would limit the price at which it could sell its goods. The monopoly firm would both seek to reduce costs and restrict output so that it could charge a higher price. The result would be a price above the marginal cost of production, which would mean that some consumers who value the service at more than its marginal cost would not consume it.
Would the government do a better job?

economic accountabilityAccountability achieved by economic processes, notably competition among firms or other entities in which failure to take account of those affected will result in losses in profits or in business failure. See also: accountability, political accountability.political accountabilityAccountability achieved by political processes such as elections, oversight by an elected government, or consultation with affected citizens. See also: accountability, economic accountability.market failureWhen markets allocate resources in a Pareto-inefficient way.government failureA failure of political accountability. (This term is widely used in a variety of ways, none of them strictly analogous to market failure, for which the criterion is simply Pareto inefficiency).

Ideally a government-owned natural monopoly would set the price equal to the marginal cost and finance the fixed costs through well-designed taxation. But the government may have little incentive to reduce costs. The publicly owned water or electricity supply company may be under pressure to overstaff the company with well-paying jobs for politically connected individuals. As a result, the costs may be higher than they otherwise would be. Wealthy individuals or firms may lobby the government-owned monopoly to provide its services on favourable terms to special-interest groups.
This case illustrates both the similarities and differences between the economic accountability provided by the market and the political accountability provided by a democratic form of government. Both the monopoly firm and the government may act to further their own interests at the expense of the consumer or taxpayer, but they would both operate within constraints. The monopoly firm would not be free to charge whatever price it wished. Its profits were limited by the demand curve. The government would not be free to inflate the costs of provision by only hiring or catering to friends of the government, because it may suffer an election defeat.
These two casesprivate or government ownership of a natural monopolyillustrate the problem of market failure (the monopoly charging more than the marginal cost) and what is sometimes called government failure (the failure to minimize the cost of providing the service), and the problem of adopting policies in a real world in which neither issue can be avoided entirely.
Which works better? There is no general answer to this question. And there are many choices besides private ownership or government ownership, including:

private ownership under public regulation
public ownership with competition among private firms for the time-limited right to produce and price the service

Viewing the government as an economic actor that pursues its objectives, but is constrained by what is feasible, helps us clarify which factors can influence a government to be more of a problem-solver, and less of a problem.5

Exercise 22.1 Building self-control into government
James Madison, a leading figure in the debates about the US Constitution after the formerly British colonies in the United States of America won its war of independence, wrote in 1788:6

In framing a government which is to be administered by men over men, the great difficulty lies in this: you must first enable the government to control the governed; and in the next place oblige it to control itself.

How does democracy (including the rule of law) address Madisons concerns to oblige the government to control itself?


Exercise 22.2 The relationship between economic development and size of government
Use Figure 22.2 to help you answer the following questions:

Why was Pax Britannica a period of smaller government?
Compare Figure 22.2 with Figure 1.1a. Why do you think that the growth of the size of government coincides with both the emergence of capitalism as an economic system in the seventeenth and eighteenth century, and the increase in output per capita?
Compare two peacetime periodsPax Britannica, and the period since the end of the Second World War. Why do you think the size of government was so much larger in the second?