22.2 Government acting as a monopolist
As mentioned in the previous section, governments have the power to solve problems, but also cause them. Heads of governments and their associates often misuse their power for personal gain:

France: The Sun King Louis XIV ruled France from 1643 to 1715. Between 1661 and 1710 he constructed a luxurious palace and grounds for himself at the Palace of Versailles, which is now one of the top tourist attractions of the world.
Ivory Coast: As president from 1960 to 1993, Felix Houphouet Boigny accumulated a fortune estimated to be between $7 and $11 billion, much of it held in Swiss bank accounts. He once asked, Is there any serious man on earth not stocking parts of his fortune in Switzerland?
Romania: Nicolae Ceausescu, the head of state under Communist Party rule for over two decades, amassed extraordinary wealth, the most visible parts of which were more than a dozen palaces that had bathrooms with gold-tiled baths and solid-gold toilet paper holders.
Russia: Personal connections with President Vladimir Putin have allowed a class of business people called oligarchs to obtain hundreds of millions of roubles worth of assets.

Other governments, even undemocratic ones like the ones just mentioned, sometimes provide valuable public services and rule without extravagant personal gain.
Preferences and feasible sets
To understand why governments do what they do, we first model the government as a single individual, and use the usual concepts:

his preferences
the constraints which determine which actions and outcomes are feasible for him

We consider the government as a single actor, but in fact it is made up of a large number of actors. And just as managers and owners of firms have a wide variety of motivations, so do those in government. The following motives are common among those in leadership roles in government:

Benevolence: To improve the wellbeing of citizens.
Nepotism: To give special importance to a particular group, such as the region from which government leader comes, or a particular religion.
Self-interest: Using the power of the government position for personal enrichment.

To begin, we model the government as a political monopolist, which means there is no competition from elections that could remove it from power. We call this the government as monopolist model, and a government like this is referred to as a dictatorship. Even in the absence of elections, the dictator faces a feasibility constraint: his powers are not unlimited, because if he takes too much from the population, he may be removed from office by an uprising of citizens.
Depending on its preferences and the constraints it faces, the government may use the tax revenues it collects for a variety of purposes, which may include:

The provision of services to virtually all citizens: These include schooling and health.
The delivery of government services or other benefits to a narrowly targeted group: These might be well-paying jobs, or special reductions in tax obligations.
Granting substantial incomes to themselves: Or other economic benefits, to themselves or their families.

A rent-seeking dictator
As with all models, we simplify greatly so as to focus on the most important aspects of the problem:

the dictator is entirely selfish
he decides on a tax that he will collect from the citizens
 and keeps the tax revenue, apart from his spending on a public service (such as basic health services or schooling) for the citizens
 whom he provides for because if he keeps too much, a popular uprising may remove him from office

While simple, this model captures some key realities:

The Romanian people revolted against Nicolae Ceausescu in 1989 after he had been in office for 29 years. The armed forces joined the revolt, and he and his wife were executed.
Louis XVI of France was removed from power in a revolution in 1789, during which thousands of armed men and women besieged the Palace of Versailles. He was executed by guillotine in 1793.


political rentA payment or other benefit in excess of the individuals next best alternative (reservation position) that exists as a result of the individuals political position. The reservation position in this case refers to the individuals situation were he or she to lack a privileged political position. See also: economic rent.

The costs of the public service include what the dictator would earn as a normal civilian. The amount the dictator receives (taxes in excess of the costs of the public service) is called a political rent:

It is a rent: This is what the dictator gets above and beyond his next best alternative (namely, working as an ordinary civilian).
The rents are political: They exist as a consequence of the political institutions in force. The dictator receives an income above his reservation income because he occupies a position of power in government.

These rents are an example of persistent (or stationary) rents (as in Figure 11.23). Unlike the stationary rents that encourage workers to work hard and well, or the dynamic rents received by successful innovators, these rents do not play a useful role in the economy. They are simply a reward for having power.
Rent-seeking by the dictator (activities to enlarge or to perpetuate these high incomes) often involves using the economys resources to police the population in order to keep the dictator in power, rather than to produce goods and services. These are similar to some of the rent-seeking activities of a profit-maximizing firmadvertising or lobbying the government to gain a tax break, for examplebut are different from other rent-seeking activities such as innovation, which often creates substantial economic benefits.
To simplify the dictators decision-making problem, we assume that the dictator does not choose the public service to supplythe public service is taken as given. The dictator only chooses how much to collect in taxes.
Even a dictator faces constraints on what he can do
As in Unit 5, when Bruno was using his coercive powers to exploit Angela, the dictator will not want to collect so much in taxes that the citizens would lack the strength and ability to produce. But the dictator will face an additional constraint: if the taxes are too high, the citizens will try to remove him from power, by revolting or engaging in other forms of civil unrest.
We assume there are two reasons for removing the dictator:

Performance-related reasons: He collects too much tax, for example.
Reasons unrelated to performance: The dictator has no control over these.

The dictator wants to maximize the total political rent that he can expect to get over his period in office, not the rent he can get in any particular year. So he has to think about how long he is likely to last. Of course, this is impossible to predict, but he will reasonably expect that if he is providing a given amount of the public service, then the lower the taxes he imposes, the longer his duration in office will be.
Figure 22.4 illustrates how a forward-looking dictator would evaluate two possible levels of taxation. With the higher tax, the dictator gets a larger rent per year but for a shorter time in office, because the likelihood of being removed is greater.












Figure 22.4 
The forward-looking dictator contemplates the total political rent he will get with two different levels of annual taxation.
        















Higher tax


If the dictator collects T2 in taxes, he anticipates that he will remain in office for D2 years. His total political rent is (T2 C)D2, where C is the cost of supplying the public good.














Lower tax


If he collects less in taxes, he will expect to remain in office longer. His total political rent is (T1  C)D1.




Assuming the private sector does not also provide this service to the public, you can think about the government as a monopolist providing the public service at a price (the tax), which citizens are legally obliged to pay. The dictator faces a constraint similar to a demand curve. Just as the amount a monopolistic firm is able to sell is inversely related to the price that it sets, the duration of the governments time in office is inversely related to the tax rate it sets.
Figure 22.5 shows how the tax rate imposed by the dictator affects the expected duration of the government, defined as the number of years he may expect to stay in office following this year.











Figure 22.5 
The duration curve: The dictator sets the tax given the cost of the public service.
        




What is the longest time (Dmax) that the dictator could expect to remain in office? To figure this out, imagine that our dictator suddenly lost interest in money and simply wanted to remain in office as long as possible. What would he do?
He cannot reduce the probability that he will be removed for reasons unrelated to his performance. But he can reduce the performance-related probability of being removed by only collecting enough taxes to meet the production costs of the public service. In Figure 22.5, Dmax is therefore where the duration curve meets the cost line. It is the expected duration when only considering factors unrelated to the dictators performance. Any tax rate above the cost of production will reduce the expected duration below Dmax, as shown by the downward slope of the duration curve.
Leibniz: Expected duration of the dictator or governing elite
The duration curve goes through points X and Y in Figure 22.4 and does not go below the cost line because if it did, the dictator would be paying out of his own pocket toward the cost of the public service. A dictator in a country with a stronger rule of lawand therefore a lower likelihood of a coup unrelated to performancewould face a duration curve that meets the cost line to the right of the one shown.
The duration curve is the feasible frontier for the dictator. Points in the feasible set above the cost curve result in positive rents for him. The curve represents a familiar trade-off:

Higher taxes: More rents in the short run at the cost of a greater likelihood of an early dismissal from office. A shorter duration in office is the opportunity cost of higher rents per year.
Lower taxes: The dictator earns rents for longer, but at a lower level per year. Lower rents per year is the opportunity cost of a longer duration in office.

The dictator chooses a tax to maximize his total rents
How does a dictator facing a duration curve decide the tax rate to impose on the citizens? The answer is similar to the way that a monopolistic firm decides on the price to charge for its product. This can be seen in Figure 22.6.











Figure 22.6 
The dictator chooses a tax level to maximize his political rents.
        




The dictator will find the tax that maximizes his total expected political rent, which as in Figure 22.6 will be

This is analogous to the profit-maximizing firm that chooses the price that allows it to get the highest expected profits equal to (P  C)Q, where P is the price charged by the firm and Q is the quantity sold.
Convexity means that for a given value of D, moving upwards in the figure (increasing T) makes the curves steeper, while for a given T, moving to the right (increasing D) makes the curves flatter.
Just as we used the firms isoprofit curves to determine the price it would charge in order to maximize profits, we can now use the dictators isorent curves shown in the figure to determine the tax rate it will impose on the citizens. The shape of the isorent curves is similar to the isoprofit curves:

Higher isorent curves are further from the origin.
The absolute value of their slope is (T  C)/D.
They are bowed inward (convex) towards the origin, as shown in the figure.
The no rent isorent curve is the horizontal cost line (its slope is zero).

Now suppose the dictator is considering setting a modest tax and expecting a long tenure in office, indicated by point A. Because the isorent curve is flatter than the duration curve at this point, we can see that he would do better by raising the tax and bearing the opportunity cost associated with doing so (a shorter expected stay in office).
Continuing this reasoning, we can see that the tax rate indicated by point F on the duration curve gets the dictator a large surplus per year, but not enough to offset the short duration of his government. A lower tax rate would increase his expected rent.
Leibniz: How the monopolist sets the rent-maximizing level of taxes
To maximize his political rent, the dictator will select point B, imposing the tax T* and expecting to stay in office for D* years, making a total rent of (T*  C)D*. At this point, the slope of the highest isorent curve is equal to the slope of the feasible frontier (the duration curve):


Question 22.1 Choose the correct answer(s)
Consider Figure 22.6. Which of the following statements is true?

A self-interested dictator will maximize the annual tax revenue they collect.
Moving from A to B in the diagram is a Pareto improvement, improving outcomes for both citizens and the dictator.
At T*, an increase in the tax rate will increase total expected rent.
Dictators use some tax revenues to provide essential public services.


False. Dictators will maximize total expected rent, which will require taxes to be below the maximum level (as at T* in the diagram above).
False. It improves outcomes for the dictator. However, outcomes will be worse for the citizens, who will have to pay higher taxes with no improvement in public services or increase in public service provision.
False. T* is the optimal taxation rate. Further increases in tax rates will decrease total expected rent because the decrease in expected duration will outweigh the increase in annual rent.
True. Dictators cannot appropriate all of the tax revenue as rent, but must spend at least C to provide essential public services (rule of law, defence etc.) to avoid being overthrown.