22.3 Political competition affects how the government will act
Just as competition disciplines firms in the economy by limiting the profits they can get by setting too high a price, competition to win elections is the way that a democracy disciplines its politicians to provide the services desired by the public at a reasonable cost (in terms of taxes). Below we give some evidence of this from the US.
There is also evidence from other countries that the prospect of being removed from office affects what politicians do. The introduction of village-level elections in China led to increased provision of local public services such as health services and schooling, and arguably a reduction in corruption.7
Even in undemocratic settings, the threat of losing office can discipline politicians. In China, provincial governors and Communist Party secretaries are not subject to review by voters but instead by higher officials in the central government. Governors and party secretaries are frequently promoted and almost as frequently fired. The records of all terminations over the period 19751998 show that those whose provinces experienced rapid economic growth were promoted, while those whose provinces lagged behind in growth were dismissed.

How economists learn from facts Does electoral competition affect policy?
Think of a politician as wanting to stay in office and knowing that she must satisfy a majority of voters when seeking re-election. But she also has her own objectives: to advance a particular project that she favours, or to maintain good relations with wealthy individuals who will support her political campaigns or employ her when her political career is over. Does the threat of give the voters what they want or get thrown out lead her to emphasize the publics interests, instead of her own?
Just comparing the policies adopted by politicians in districts that are non-competitive (for example, there will be no other candidate for the seat) with those who face electoral competition will not answer the question. The reason is that competitive and non-competitive political districts, and the politicians who represent them, are different in so many ways that the comparison would mix the effects of political competition with the effects of these other differences.
Economists Tim Besley and Anne Case devised an ingenious way to answer the question. Some state governors in the US are limited to two four-year terms of office. This means that at the end of their first term they will face electoral competition when they ask voters to re-elect them. During their second term, the prospect of political competition does not affect them, because they are not allowed to stand for re-election.
Considered as an experiment, the treatment is the prospect of electoral competition, the governors in the first term are the treatment group and the same governors in the second term are the control group. As in any good experiment, other important influences are held constant. We are measuring the same individuals, in the same districts, under a treatment and a control condition.
They found that during their first terms (the treatment period), Republican and Democratic governors implemented virtually identical levels of total taxation per capita. But during their second terms (the control period), Democratic Party governors, who tend to favour more public expenditures and taxation, implemented much higher levels of taxation than Republicans did. And Republican governors, when not facing political competition, implemented much lower levels of the state minimum wage.
Whether Democrat or Republican, governors faced with electoral competition in their first term implemented very similar policies to those favoured by the swing voters who tend to change who they vote for, and so tend to decide many electionslower taxes and higher minimum wages. But they diverged according to their own political preferences or economic interests when electoral competition was removed.

Political competition as a constraint

governing eliteTop government officials such as the president, cabinet officials, and legislative leaders, unified by a common interest such as membership in a particular party.

Next, we introduce political competition to the model to see how it affects the governments choice of tax level. The government leadership is no longer represented by a dictator, but instead by what we call a governing elite, that is the top government officials and legislative leaders, unified by a common interest such as membership in a particular party. Unlike a dictator, the elite can only be removed from office by losing an election, and not by a citizen uprising or some other non-electoral means.
When we speak of its removal from power or the duration of its time in office, we do not mean the removal of an individual (as might have been the case with a dictator), but rather the entire group and its affiliation with a political party. In the US, for example, the Republican Party governing elite was removed from office in 2008, when President Obama was elected. The Democratic Party governing elite associated with President Obama was removed from office when President Trump was elected eight years later.
In the model, there are now two ways that a governing elite can be removed from office, both of which occur through elections (although, of course, reality is more complex):

Performance-related reasons: It collects too much tax, for example.
Reasons unrelated to performance: Even governing elites that serve the interests of their citizens often lose elections.

Figure 22.7 illustrates a few of examples of governing elites duration in office and the reasons that they eventually left office. The longest continuous rule by a governing elite was the government of the Mexican Institutional Revolutionary Party (PRI), which governed Mexico from the time of the Mexican revolution in the early twentieth century right into the twenty-first century. The longest rule by an individual at the head of a governing elite was by Fidel Castro (49 years) in Cuba, who was then succeeded by his brother Raul. The shortest period in office in this table is the elected government of Gough Whitlam in Australia, which was removed by the Governor General (not an elected official) following a parliamentary impasse over the budget.






Governing elite
Country
Rule
Came to power by
Left power by




Congress Party
India
19471977
Election (end of colonial rule )
Election


Communist Party
Cuba
1959
Revolution
Still in power as of 2017


Social Democratic Party
Sweden
19321976
Election
Election


Second Republic
Spain
19311939
Election
Military coup civil war


Francisco Franco
Spain
19391975
Military coup, civil war
Natural death; return to democracy


Institutional Revolutionary Party
Mexico
19292000
Election
Election


Democratic Party
US
19331953
Election
Election


Sandinista Party
Nicaragua
19791990
Revolution
Election


African National Congress
South Africa
1994
Non-violent revolution & election
Still in power as of 2017


Australian Labor Party
Australia
19721975
Election
Dismissed by (unelected) executive





Figure 22.7 
Examples of governing elites, their period of rule, and reasons for their end.
        




The key idea in our model is that political competition makes the likelihood of losing an election more dependent on the governments performance. This means that it makes the duration curve flatter. In other words, an increase in taxes by the government will have a larger effect on the elites expected duration in office than it would if there was no political competition.
The response of expected duration to the change in taxes is:

This is the inverse of the slope of the duration curve. If we have weak political competition, the duration curve is steep, just as a steep (inelastic) demand curve indicates weak competition in a market for goods or services.
The flatter, more competitive, duration curve that you see in Figure 22.8 shows a situation in which raising taxes above the cost of providing the public services is associated with a reduction in the current governing elites period in power.












Figure 22.8 
The feasible set for taxes and government duration in a relatively uncompetitive and competitive political system.
        















A dictatorship


In a dictatorship, the duration curve is steep.














A flatter curve


The more competitive duration curve (darker) is flatter.














A rise in taxes


Raising taxes to T above the cost of providing the public services is associated with a more substantial reduction in the current governments expected lifetime when political competition is stronger.




The model helps show why governing elites, and the wealthy and powerful members of society who are allied to these elites, have so often resisted democracy, and attempted to limit the political rights of the less well off. In Figure 22.9, voting is initially restricted to the wealthy and as a result, the elite faces little political competition (the duration curve is steep), and maximizes its rents at point B. But now suppose that everyone has the right to vote and that opposition political parties are allowed to challenge the elite. This increase in political competition is represented by the flatter duration curve, indicating that the feasible set of the elite has shrunk. It now chooses point G, and collects lower taxes per year.











Figure 22.9 
Choice of taxes under less and more competitive conditions.
        




Notice that, in the figure, the governing elite in a more competitive political system implements lower taxes but has the same expected duration as the elite in the less competitive system (with higher taxes). But this need not be the case. Generally, the duration could be longer or shorter if conditions become more competitive.

substitution effectThe effect that is only due to changes in the price or opportunity cost, given the new level of utility.income effectThe effect that the additional income would have if there were no change in the price or opportunity cost.

You are already familiar with the reason why the expected duration might not change after increase in political competition. There are two offsetting effects:

Raising taxes bears a heavier risk of the governing elite being dismissed: We can see the duration curve is flatter. This is the substitution effect: leading the governing elite to choose a higher expected duration and lower rent per year.
The governing elite has lost some of its power: The inward shift of the duration curve means that it will now receive lower rents whatever it does. This is the income effect that results in the governing elite choosing a lower expected duration, and lower tax rate.

In the case we have shown, the substitution effect happens to exactly offset the income effect.
Leibniz: The income and substitution effect of an increase in political competition

Exercise 22.3 Comparing duration curves for governments and monopolistic firms
How is the duration curve in Figure 22.8 similar to and different from the demand curve faced by a monopolistic firm that you studied in Unit 7?


Exercise 22.4 Income and substitution effects
Applying what you learned about income and substitution effects and how they can be analysed in a diagram with indifference curves and feasible frontiers (from Unit 3), redraw Figure 22.9 to show the decomposition of the final choice after increased competition into the income effect (reduction in duration, D) and the substitution effect (increase in D).