22.4 Why an erstwhile dictator might submit to political competition
We have now seen two versions of the government as monopolist model: one in which the government is a dictator who may be overthrown, as Louis XVI and Nicolae Ceausescu were, and the other in which the governing elite is subject to electoral competition, with the possibility that another political party may defeat it in an election and become the new governing elite.
Over the course of the past 200 years, many countries have seen an increase in the degree of political competition so that the political competition version of the government as a monopoly model applies more often than the dictator version.
Read more on South Africas and El Salvadors transitions to democracy in this book: Elisabeth Jean Wood. 2000. Forging Democracy from Below: Insurgent Transitions in South Africa and El Salvador. Cambridge: Cambridge University Press.
This has happened in many cases because governing elites have found it in their interest to concede to a more competitive political system, or even introduce one on their own initiative:

South Africa: You already read that the population of European origin (those who were both business and governing elites) responded to waves of industrial strikes, community protests, and student stay-away-from-school demonstrations by extending the vote to all adult South Africans, irrespective of race.
El Salvador: After 10 years of civil war, and faced with an armed insurrection that they could not defeat, the economic, political, and military elites of El Salvador conceded to the demands of their opponents that the country should adopt a democratic political system.
The US: At the time of adoption of the US Constitution in the late eighteenth century, James Madison, the author of The Tenth Federalist Paper, thought that the only way to ensure stability was to increase democracy. He persuaded his fellow wealthy landowners (and slave owners) to take a chance on democracy for this reason. The result was the ratification of the US Constitution in 1788, which despite its recognition of slavery as a legal institution, is considered to be a landmark on the long journey to a full democracy.

Faced with unrest, one way the governing elite in an undemocratic political system could increase the stability of the system would be to use the coercive powers of the government to imprison and intimidate opponents who would expose the extent of the governments political rents. Nevertheless, there are limits to the effectiveness of these police state strategies, as illustrated by the white governing elite under apartheid in South Africa, who attempted to do this, and failed. The elite of the Communist Party of the German Democratic Republic (East Germany) also discovered the limits to its ability to impose stability by force. Popular demonstrations and challenges to the government were successful, in part because the police and armed forces eventually could not be counted on to defend the incumbent government.
An alternative way to ensure stability is to introduce changes in the political system that make it more democratic, providing the dissatisfied with legal means to seek a change in government.
A greater degree of democracy will flatten the duration curve, thereby reducing the size of the elites feasible set, as we showed in Figure 22.9. If greater democracy also increased the stability of the political system however to the extent shown in Figure 22.10, it might allow the elite an even greater expected rent at the point A. This would be possible because the increased expected duration of the government, due to increased stability, would more than offset the reduced taxes that could be imposed due to the increased power of the citizens to dismiss the government for excessive rent-taking. In Figure 22.10, the greater expected rent at A is shown by the larger area of (T**  C)D** as compared with (T*  C)D*.











Figure 22.10 
Effect of greater stability and competition: A case where the elite gains.
        





Exercise 22.5 Effects of cost-saving improvements to public services
Suppose the elite can introduce a policy that will provide the same level of public services at a lower cost. This would be called an increase in the effectiveness of the government. An example might be that the government could adopt teaching methods that are more effective, or find ways to motivate teachers to improve their teaching. Or the government could require that the construction firms that build public infrastructure, such as roads, compete with each other rather than colluding in setting high prices.

Which curves in the diagram will this change alter? Draw a figure depicting this new situation. Hint: The (absolute value of the) slope of the isorent curves is (T  C)/D.
Explain why the governing elite would want to introduce these policies.
Can you say if the elite will levy the same level of taxes, higher taxes, or lower taxes?
Can you think of reasons why these policies might not be introduced?



Question 22.2 Choose the correct answer(s)
Consider Figure 22.10. Which of the following statements is true?

Moving from A to A in the diagram is a Pareto improvement, improving outcomes for both citizens and the governing elite.
Increased competition will always improve outcomes for the governing elite.
Increased competition would make the elite worse off if they did not reduce tax rates in response.
The substitution effect will cause elite that is facing greater competition to charge higher tax rates.


True. Citizens benefit from both lower tax rates and longer expected durations (assuming that regime change is costly for citizens). The elite increases its total expected rent.
False. In this example, the total expected rent of the elite increases. But in other situations, such as that shown in Figure 22.8, the government ends up on a lower isorent curve.
False. In the example above, if the elite maintained a tax rate T* following the shift in the duration curve it would still reach a higher isorent curve than they were previously on.
False. The substitution effect caused by the flattening of the duration curve will cause an elite to charge lower tax rates.