22.7 A more realistic model of electoral competition
The median voter model of ice cream sellers on the beach as an illustration of political competition predicts similar party platforms that reflect the median citizens preferences. This presents a very limited view of the competitive process. Not surprisingly, we see that parties often do not all move toward the centre, or offer identical platforms. For example, two-candidate elections in the US in 2016 and France in 2017 occurred between a nationalist, anti-immigration candidate (Donald Trump and Marine Le Pen) and a candidate who was in favour of global trade and supported tolerance to outsiders (Hillary Clinton and Emmanuel Macron).
Recall that the model of perfect competition among firms that you studied in Unit 8 ignores many of the ways that firms actually compete (for example, advertising, innovation, or lobbying the government for favourable legislation). Similarly, the median voter model leaves a lot out. Four facts will lead us to quite different conclusions from the median voter model:

Not everyone votes: If neither partys platform is attractive to a voter, they may abstain, and in many countries the least well offthose who would benefit from greater public expenditureare less likely to vote.
Winning votes is not the only reason a party or candidate chooses a platform: It may win financial contributions from citizens, or persuade volunteers to work for the campaign.
The leaders of political parties care about other things: Getting elected isnt the only reason they are in politics.
Voters are not evenly distributed: The political spectrum is not like the beach.

In our beach example from Figure 22.11, we looked at what would happen if the bathers on the furthest left of the beach were not going to buy ice cream under any circumstances (they are like the citizens who do not vote). Then April and Bob would locate in the centre of those who do vote, namely at points An and Bn to the right of the centre in the figure. If this is the way politics works, then the platforms are similar, but the advantaged voter is now not the median citizen but a voter to the right of centre.
Next, suppose that not all families will buy exactly one ice cream. Some families will buy lots of ice cream, whereas others will buy less. Where would April and Bob stand if bathers wanted to buy lots of ice cream at one end of the beach, but not the other?
Both April and Bob would locate side-by-side as before, but nearer to these ice-cream-loving families. In politics, this means that parties would move their platforms toward voters who could contribute to their election campaign. These contributions could be money, or time spent campaigning. This would lead them to locate further right, if those voters were prepared to make contributions to the partys election funding.
The same would occur if dissatisfied citizens at one end of the political spectrum were more likely to engage in other political activitiesdemonstrating, or criticizing the party platforms. The desire to attract, or perhaps silence, these alienated voters would be another magnet pulling the platforms of both parties in their direction.
But when these things happen, both parties still have similar platforms. Now suppose there is one more condition. Instead of bathers uniformly spread along our beach, there are few in the centre and most are in two groups. One is on the left, and the other on the right. To make sure as many bathers dont have to walk too far and so are more likely to buy an ice cream, then April and Bob would choose to move away from the centre to be closer to the distant potential buyers on the left or right.
Politics is very different from selling ice cream for another reason. As well as wanting to win elections, party leaders typically do care about the platform. They would be willing to risk losing voters at one end of the political continuum to take a position more in line with their personal values.
The bathers on the beach model, when amended to take account of:

the problem of voter abstention
the importance of money and political activities beyond voting
the fact that voters may not be evenly distributed along the political continuum
the fact that party leaderships care about the content of their platforms

helps us understand which political platforms will be Nash equilibria in the process of political competition by means of elections.
There is, however, another important difference between elections and ice creams. April and Bob split the market and both survive, one perhaps taking slightly more of the market. In a majoritarian political system, if both parties offer similar platforms, the party that gets just one vote more than the other forms the government. The winner appoints all of the government ministers, for example, not just 51% of them.

Great economists Albert O. Hirschman

Albert Hirschman (19152012) lived an extraordinary life. Born in Berlin in 1915, he fled to Paris in 1933 after Adolf Hitler won power in Germany, and joined the French Resistance in 1939, helping many artists and intellectuals to escape from the Nazis. He migrated to the US in 1941.
Given this history, its hardly surprising that Hirschmans career as an economist did not follow a conventional path. He crossed disciplinary boundaries with ease, grappled with questions that lay well outside the professional mainstream, and developed ideas that were imaginative, profound, and enduring.
Among Hirschmans many influential contributions, he is best known for the thesis laid out in his 1970 book Exit, Voice and Loyalty. He was concerned with how the performance of entities such as firms and governments could be improved.11
He identified two forcesexit and voicethat could serve to alert an organization that it was facing decline and provide incentives for recovery. Exit refers to the departure of a firms customers to a competitor. And voice refers to protest, the tendency of disappointed customers to kick up a fuss. When a company performs poorly or unethically, shareholders can sell their shares (exit) or campaign for a change of management (voice).
Hirschman observed that economists had traditionally extolled the virtues of exit (competition), while neglecting the operation of voice. They favoured exit-based policies, for example those that made it easier for parents to choose which school their children attended so that schools would have to compete to enroll students.
He considered this an omission, because voice could allow a lapse to be reversed at little cost (parents could usefully seek changes in school policies, in this example), while exit might waste physical capital and human capabilities. Also, exit is not an option in some case, for example tax administration, so the free exercise of voice is critical to good performance.
After making this distinction, Hirschman explored how exit and voice interact. If exit was too readily available, voice would have little time to act. A repairable lapse could end up being fatal to an organization. This effect would be even stronger if those most sensitive to performance decline were also the fastest to exit. As he put it, the rapid exit of the highly quality conscious customers paralyzes voice by depriving it of its principal agents.
The fact that easy exit undermines voice has some paradoxical implications. A monopolistic firm might welcome a modest amount of competition, allowing it to get rid of its more troublesome customers. A national railway system might perform better if roads were poor, so that angry customers could not easily exit, and would work to improve it instead. And the availability of private school options might result in worse public school performance if the most quality-conscious parents took their children out of the system.
The interplay between exit and voice works through a third factor, which Hirschman called loyalty. Attachment to an organization is a psychological barrier to desertion. By slowing exit, loyalty can create the space needed for voice to do its work. But loyalty can hinder performance too if it becomes blind allegiance, because that stifles both exit and voice. Organizations may promote loyalty for precisely this reason. But if they are too effective repressing exit and voice, they would deprive themselves of both recuperation mechanisms.
Hirschman was deeply critical of the claim that, in a two-party system, both parties would adopt similar platforms that reflected the preferences of the median voter. This claim relies on reasoning that accounts for exit and neglects voice. Voters on the extreme fringes of a political party had no viable exit option, Hirschman agreed, but he rejected the implication that such a voter was powerless:

True, he cannot exit but just because of that he will be maximally motivated to bring all sorts of potential influence into play so as to keep the party from doing things that are highly obnoxious to him [T]hose who have nowhere else to go are not powerless but influential.


For further reading on Albert Hirschman, see these blogs by Rajiv Sethi:

Rajiv Sethi. 2010. The Astonishing Voice of Albert Hirschman. Updated April 7 2010.
Rajiv Sethi. 2011. The Self-Subversion of Albert Hirschman. Updated April 7 2011.
Rajiv Sethi. 2013. Albert Hirschman and the Happiness of Pursuit. Updated 24 March 2013.


Albert Hirschman loved to play with language. English was the fourth language in which he gained fluency (after German, French, and Italian) but he still managed to coin the most wonderful expressions. He invented palindromes (words like eve that read the same backwards as forwards) as a hobby, and presented a collection of theseusing the title Senile Lines by Dr. Awkwardto his daughter Katya as a birthday gift. The right to life, liberty and the pursuit of happiness in the US Declaration of Independence was his inspiration for the memorable phrase the happiness of pursuit, by which he meant the joy of engaging in collective action. Hirschmans own playful exercise of voice was itself a demonstration that people often act not simply to get something, but also to be someone.

Accountability through political and economic competition: Summing up
At the beginning of this unit we considered how a natural monopoly might be run if it were in private or government hands, contrasting two ways that power in the hands of the monopolist or the government official can be made accountable. The key idea is that customers facing a monopoly are not powerless. They have the option to buy less, or even not at all. Citizens facing a government-owned firm similarly have ways of fighting back against inadequate service, by seeking to replace the government in an election.
The models we have studied have clarified the similarities and differences between the profit-maximizing behaviour of a monopoly firm and the political-rent-maximizing behaviour of a governing elite. These are summarized in Figure 22.12, along with the ways in which each provides some combination of what Albert Hirschman called exit and voice as a way to make power accountable to those affected.
In the table, we represent ideal democracy in the government as monopolist model with a situation where the duration curve is flat (similar to the firm in a perfectly competitive market facing a flat demand curve). This means that any governing elite that sought to skim off any rents at all would be removed from office at the end of the year, just as any firm charging a higher price than the competing firms would lose all of its customers at once, and go out of business.






Varieties of political and economic competition
Demand/duration curve
Accountability  (exit/voice)
Price/tax and cost
Profits/rents
Comment




Limited political competition (dictator)
Steep
None
T > C
Political rents > 0
Govt. as monopolist


Limited economic competition (monopoly)
Steep
Limited exit
P > MC
Economic profits > 0
Unit 7


Ideal democracy (competition among parties)
Flat
Voice and exit
T = C
Political rents = 0
Section 22.3


Perfect competition among firms
Flat
Exit
P = MC
Economic profits = 0
Units 8 & 11





Figure 22.12 
Comparison between models of monopolistic and competitive firms and governments. Notation: T = total taxes raised in a year; C = cost of providing the public good for a year; P = price of the good; MC = marginal cost of the good.
        





Exercise 22.7 Nash equilibria in the median voter model
Would locating at the middle of the beach still be a Nash equilibrium in the following cases? In each case, explain the political analogy to the ice cream seller example.

Suppose people will not walk very far to get their ice cream.
Suppose instead of being spread evenly along the beach, there was a concentration of bathers at each end.
Suppose the bathers are evenly spread along the beach, but those at the left end of the beach will not walk very far to purchase ice cream, while those at the right end of the beach will surely purchase a cone, no matter what the distance.



Question 22.3 Choose the correct answer(s)
Consider Figure 22.11. Which of the following statements are true?

When April is positioned at A0 and Bob is at B0, April will attract more customers than Bob.
When April is positioned at A1 and Bob is at B1, April will attract more customers than Bob.
The Nash equilibrium would change if all of the customers to the far right of the beach moved halfway towards Bn.
Beachgoers that never buy ice cream have no effect on the position of the stalls.


False. Bob is the closest stall for more than half of the customers.
True. April will attract all of the customers to the right of their position, which is clearly more than half of the total customers.
False. Both April and Bob will still be the closest stall for exactly half of the customers. If they move anywhere else, they will reduce the number of customers they attract.
True. April and Bob care only about maximizing sales and therefore they ignore any individuals who wont buy ice cream when determining their position on the beach.