22.8 The advance of democracy
Social unrest and universal suffrage
By extending the model of the government as monopolist to include political competition, we have a framework for understanding the emergence of representative institutions and eventually universal suffrage, as described at the beginning of this unit. Governments survived if they provided citizens with essential public services at reasonable tax rates, rather than through palace intrigues or the threat of force.
For example, in the US, the school committee in the textile city of Lowell, Massachusetts advocated an expansion of free public education in its 1846 Annual Report with these words: Let then the influence of our Common Schools become universal; for they are our surest safety against internal commotions.
Fear of instability that prompted some of the wealthy in the US and elsewhere to advocate greater democracy also helped spread democracy (in Figure 22.13). As you saw in Figure 19.2, inequality grew in the years following the capitalist revolution in the countries for which we have data. During this period, farmers, industrial workers, and the poor demanded greater political equalityand especially the right to voteas a means of gaining a larger share of the output and wealth of the rapidly growing economies. In 1848 there were attempted revolutions against the monarchy in Sicily, France, Germany, Italy, and the Austrian Empire. At the same time, Karl Marx was writing The Communist Manifesto. One of the revolutionary leaders, James Bronterre OBrien, told the people:

Knaves will tell you that it is because you have no property, you are unrepresented. I tell you on the contrary, it is because you are unrepresented that you have no property12

Gaining political power according to OBrien was the route to gaining a larger slice of the economic pie, not the other way around.
In the late nineteenth and early twentieth century the wealthy in many countries concluded that extending democracy might be prudent, much as the leaders of the South African government were to conclude a century later.
Figure 22.13 shows that democracy, as defined by all three of the characteristics (rule of law, civil liberties, and inclusive fair elections), is a recent arrival in human history.











Figure 22.13 
The advance of democracy in the world.
        





Center for Systemic Peace. 2016. Polity IV annual time series ; Inter-parliamentary union. 2016. Womens Suffrage. Initial periods of democracy of less than five years are not shown in the chart.



The first democratic nation was New Zealand, which became fully democratic just before the turn of the twentieth century, although it remained a British colony until 1907. At that time elections were held in many countries but women, those without property, or other disadvantaged groups were denied the right to vote.
South Africa, Mexico and some of the countries once ruled by the Communist Party (Poland, for example) are relatively recent additions to the club of democratic nations. Switzerland is also a recent addition. By the time that Swiss women finally won the right to vote in 1971, the prime ministers of Sri Lanka, India, and Israel were all women. Universal male suffrage in Switzerland had been granted 90 years earlier. If universal male suffrage were considered sufficient for an inclusive election, then Switzerland and France (1848) would have been the first democracies, but the exclusion of major population groups means that elections are not inclusive, and so they fail our test.
Excluding women from voting makes a difference in the policies that elected governemnts adopt. The feature in the next section, Womens suffrage and the reduction in child mortality in the US, shows that excluding women from the vote had significant effects on government policies, and also on the wellbeing of citizens.
The US enfranchised women in 1920 but had denied the vote to black people in many states before 1965. We indicate the complicated status of the US using a light green bar. We have done the same for Australia, where indigenous Australians were denied the right to vote before 1962, and for Canada, which restricted the voting rights of Native Americans for a brief period.
The worlds most populous democracy (by far) is India, since it gained independence from the UK in 1947. The most populous country that is not a democracy is (also by far) China.
Notice in the figure the two waves of countries that became democratic. The first wave occurred at the time of the First World War and the Russian Revolution, which tripled the number of democracies in the world in less than 10 years. The First World War provided much of the impetus for the spread of democracy during this first wave.
If you look at the figure, you will see that the US was not democratic at this time, because the right to vote was restricted to men. The other winning countries in the First World War (France and the UK) were not democracies either at the time. In both countries, women and those without property were denied the right to vote.
A second wave of democracies emerged after the Second World War. Many former colonies, including India and Indonesia, became democratic at this time.
The extension of suffrage in the early years of the twentieth century made many countries in northern Europe and New Zealand into democracies. In those countries, the rule of law and civil libertiesthe other two criteria for a democratic political systemhad been in force long before the introduction of universal suffrage.
After the Second World War, most countries had already granted the right to vote to virtually all adults (though in Saudi Arabia, for example, women gained voting rights only in 2015). Today, countries judged to be undemocratic (such as Russia) often do not fail our test because of restrictions on the electorate. They are not democracies because the rule of law and civil liberties are inadequate.
The blue patches in the bars show that there have been some interruptions in democracy, including the period of dictatorship in Chile following the military overthrow of the democratic government, and the period of Fascist rule in Germany between 1933 and 1945, but most countries that have become democratic have continued to be democracies.
All the countries in the figure can be decribed as democratic because they are sufficiently close to the criteria we have laid out. But in some cases, there is a large difference between our three criteria of rule of law, civil liberties, and inclusive fair elections, and how the system functions in practice. In the US for example:

In 2000 and 2016, the winner of the presidential election received fewer votes than his opponent.
Private contributions from wealthy individuals and groups play a major part in the financing of political campaigns (see the feature Does money talk? in Section 22.14 to see how this may undermine the democratic value of political equality).


Spending priorities in a democracy
Joseph Schumpeter (see Section 2.5) once wrote that the public budget is the skeleton of the state stripped of all misleading ideologies. He argued that the way in which a government spends its money reveals its true priorities, much in the way that an individuals spending pattern is a lens through which to study his or her preferences.
Joseph Schumpeter. 1918. The crisis of the tax state. Reproduced in Swedberg R. (ed.) 1991. Joseph A. Schumpeter, The Economics and Sociology of Capitalism. Princeton University Press.

As we have seen, before the twentieth century a major activity of governments was defence (in some cases, predation on other nations), and raising the taxation to support it. But well before that time, some ruling institutions came to understand that they would benefit from providing conditions for the growth of the economybuilding canals, roads and schools in the nineteenth century, for example. Economic development could be an asset either by creating a larger tax base, a more scientifically oriented cadre of citizens, or by building financial institutions that could loan money to the government.
During the twentieth century large-scale production in firms was easy for the govenment to see, and happened in one place. This made taxation and regulation of firms easier, and governments could also use the accounting books and payroll records of firms to find out who was paid what. This meant that taxing individuals became easier too. Governments in many countries deducted tax directly from the pay of their citizens, and many workers were taxed explicitly for social security, that is, to fund pensions and sometimes healthcare.
The 2010 Mirrlees Review offered proposals for a comprehensive reform of the UKs tax and transfer system, addressing the scope for better addressing market failures and unfairness.
Changes in the structure of the economy also made it easier for governments to levy taxes, not on a specific good such salt or imports, but on consumption in general and ultimately on value added in production. These broad-based taxes play an important role in the public finances of advanced economies. With the extension of voting rights to virtually all adults, governments became accountable to their citizens for delivering services.
This historical processes of transition from political monopoly to political competition have produced most of the modern governments in the world, with their distinctive patterns of spending.
Figure 22.14 shows how the democratic governments of the US, South Korea, and Finland spend their money.











Figure 22.14 
Patterns of public expenditure in Finland, the US, and South Korea (2013).
        





OECD. 2015. Government at a Glance. This dataset takes data from OECD National Accounts Statistics and from Eurostat government finance statistics.



The size of the government of Finlands expenditure is 57.5% of its GDP, which is the largest among the three countries. For the US, it is 38.8%. Note: this does not mean that the US spends less than Finland in absolute terms, just that government expenditure is a smaller fraction of the countrys GDP. Expenditure by South Koreas government is 31.8% of its GDP.
This is what the categories mean:

social insuranceExpenditure by the government, financed by taxation, which provides protection against various economic risks (for example, loss of income due to sickness, or unemployment) and enables people to smooth incomes throughout their lifetime. See also: co-insurance.


Public services: These include funds for running parliament, congress, local councils, also foreign aid and public debt transactions.
Military: As previously stated, one of the motivations for government has been for protection or to wage war.
Economic affairs: This includes expenditures on infrastructure such as roads, bridges, and the Internet.
Public order and safety: This includes police, fire, prison services, and law courts.
Social protection: We discussed the social insurance spending that a government might make in Unit 19, and those are labelled Social protection in the figure.
Schooling: All governments are responsible for at least some education provision.
Health: This includes medical equipment, hospital and outpatient services, and public health.

There are many reasons why governments differ in their spending patterns. One reason is that political institutions differ, even among democracies.

Exercise 22.8 Past influences on current government spending patterns


How would you characterize the two biggest differences in the pattern of spending between the three pairs of countries (the US vs South Korea, the US vs Finland, and Finland vs South Korea)?


Can you think of differences in the countries and their histories that might account for these differences? You will need to do some research to support your claims.




Exercise 22.9 Comparing government expenditures
Go to the source of Figure 22.14, OECD statistics, and see if you can find different countries for each of the following criteria (for the year 2015, or the most recent year available).

General government expenditure (as a percentage of GDP) is greater than South Koreas, but less than Finlands.
Government expenditure on health (as a percentage of GDP) is greater than the USs.
Government expenditure on social protection (as a percentage of GDP) is greater than Finlands.
Government expenditure on defence (as a percentage of GDP) is greater than South Koreas.