Unit 2 Technology, population, and growth  The Economy





































The Economy






Contents








Unit 2 Technology, population, and growth
Themes and capstone units   17: History, instability, and growth            18: Global economy            19: Inequality            21: Innovation         
History, instability, and growthInnovation
How improvements in technology happen, and how they sustain growth in living standards

Economic models help explain the Industrial Revolution, and why it started in Britain.
Wages, the cost of machinery, and other prices all matter when people make economic decisions.
In a capitalist economy, innovation creates temporary rewards for the innovator, which provide incentives for improvements in technology that reduce costs.
These rewards are destroyed by competition once the innovation diffuses throughout the economy.
Population, the productivity of labour, and living standards may interact to produce a vicious circle of economic stagnation.
The permanent technological revolution associated with capitalism allowed some countries to make a transition to sustained growth in living standards.

In 1845, a mysterious disease appeared for the first time in Ireland. It caused potatoes to rot in the ground, but by the time it became clear that a plant was infected, it was too late. The potato blight, as it became known, devastated Irish food supplies for the rest of the decade. Starvation spread. By the time the Irish famine ended, about a million people out of an initial total of 8.5 million had died, which in percentage terms is equivalent to the mortality suffered by Germany through defeat in the Second World War.
The Irish famine sparked a worldwide relief effort. Former slaves in the Caribbean, convicts in Sing Sing prison in New York, Bengalis both rich and poor, and Choctaw Native Americans all donated money, as did celebrities such as the Ottoman Sultan Abdulmecid and Pope Pius IX. Then, as now, ordinary people felt empathy for others who were suffering, and acted accordingly.
But many economists were much more hard-hearted. One of the best-known, Nassau Senior, consistently opposed British government famine relief, and was reported by a horrified Oxford University colleague as saying that he feared the famine of 1848 in Ireland would not kill more than a million people, and that would scarcely be enough to do much good.
Seniors views are morally repulsive, but they did not reflect a genocidal desire to see Irish men and women die. Instead, they were a consequence of one of the most influential economic doctrines of the early nineteenth century, Malthusianism. This was a body of theory developed by an English clergyman, Thomas Robert Malthus, in An Essay on the Principle of Population, first published in 1798.1
Malthus held that a sustained increase in income per capita would be impossible.
His logic was that, even if technology improved and raised the productivity of labour, people would still have more children as soon as they were somewhat better off. This population growth would continue until living standards fell to subsistence level, halting the population increase. Malthus vicious circle of poverty was widely accepted as inevitable.
There is evidence that Victorian colonial administrators thought that famine was natures response to overbreeding. Mike Davis argues that their attitudes caused an avoidable and unprecedented mass extinction, which he calls a cultural genocide.2
It provided an explanation of the world in which Malthus lived, in which incomes might fluctuate from year to year or even century to century, but not trend upwards. This had been the case in many countries for at least 700 years before Malthus published his essay, as we saw in Figure 1.1a.
Unlike Adam Smith, whose book The Wealth of Nations had appeared just 22 years earlier, Malthus did not offer an optimistic vision of economic progressat least as far as ordinary farmers or workers were concerned. Even if people succeeded in improving technology, in the long run the vast majority would earn enough from their jobs or their farms to keep them alive, and no more.

Industrial RevolutionA wave of technological advances and organizational changes starting in Britain in the eighteenth century, which transformed an agrarian and craft-based economy into a commercial and industrial economy.

But in Malthus lifetime something big was happening all around him, changes that would soon allow Britain to escape from the vicious circle of population growth and income stagnation that he described. The change that had sprung Britain from the Malthusian trap, and would do the same for many countries in the 100 years that followed, is known as the Industrial Revolutionan extraordinary flowering of radical invention that allowed the same output to be produced with less labour.
In textiles, the most famous inventions involved spinning (traditionally carried out by women known as spinsters, meaning female spinner, a term which has come to mean an older unmarried woman), and weaving (traditionally carried out by men). In 1733, John Kay invented the flying shuttle, which greatly increased the amount a weaver could produce in an hour. This increased the demand for the yarn that was used in weaving to the point where it became difficult for spinsters to produce sufficient quantities using the spinning wheel technology of the day. James Hargreaves spinning jenny, introduced in 1764, was a response to this problem.

general-purpose technologiesTechnological advances that can be applied to many sectors, and spawn further innovations. Information and communications technology (ICT), and electricity are two common examples.

Technological improvements in other areas were equally dramatic. James Watts steam engine, introduced at the same time as Adam Smith published The Wealth of Nations, was a typical example. These engines were gradually improved over a long period of time and were eventually used across the economy: not just in mining, where the first steam engine powered water pumps, but also in textiles, manufacturing, railways and steamships. They are an example of what is termed a general-purpose innovation or technology. In recent decades the most obvious equivalent is the computer.
Coal played a central role in the Industrial Revolution, and Great Britain had a lot of it. Prior to the Industrial Revolution, most of the energy used in the economy was ultimately produced by edible plants, which converted sunlight into food for both animals and people, or by trees whose wood could be burned or transformed into charcoal. By switching to coal, humans were able to exploit a vast reserve of what is effectively stored sunlight. The cost has been the environmental impact of burning fossil fuels, as we saw in Unit 1 and will return to in Unit 20.
These inventions, alongside other innovations of the Industrial Revolution, broke Malthus vicious circle. Advances in technology and the increased use of non-renewable resources raised the amount that a person could produce in a given amount of time (productivity), allowing incomes to rise even as the population was increasing. And as long as technology continued improving quickly enough, it could outpace the population growth that resulted from the increased income. Living standards could then rise. Much later, people would prefer smaller families, even when they earned enough to afford to have a lot of children. This is what happened in Britain, and later in many parts of the world.











Figure 2.1 
Real wages over seven centuries: Wages of craftsmen (skilled workers) in London (12642001), and the population of Britain.
        





Robert C. Allen. 2001. The Great Divergence in European Wages and Prices from the Middle Ages to the First World War. Explorations in Economic History 38 (4): pp.411447; Stephen Broadberry, Bruce Campbell, Alexander Klein, Mark Overton and Bas van Leeuwen. 2015. British Economic Growth, 12701870, Cambridge University Press.



Figure 2.1 shows an index of the average real wage (the money wage in each year, adjusted for changes in prices) of skilled craftsmen in London from 1264 to 2001, plotted together with the population of Britain over the same period. There is a long period in which living standards were trapped according to Malthusian logic, followed by a dramatic increase after 1830. You can see that at the time both were increasing.

Index of real wages
The term index means the value of some quantitative amount relative to its value at some other time (the reference period) which is usually normalized to 100.
The term real means that the money wage (say, six shillings per hour at the time) in each year has been adjusted to take account of changes in prices over time. The result represents the real buying power of the money the workers earned.
The reference year is 1850 in this case, but the curve would have the same shape if any other year had been selected. It would be positioned higher or lower, but would still look like our familiar hockey stick.


Question 2.1 Choose the correct answer(s)
Figure 2.1 shows an index of average real wages of skilled workers in London between 1264 and 2001. What can we conclude from this graph?

Skilled workers were paid about 100 in 1408.
The average wage in 1850 was about the same as that in 1408 in nominal terms (pounds).
The average real wage was more or less constant between 1264 and 1850.
The average real wage increased by around 600% between 1850 and 2001.


This is a graph of an index of real wages. The index is approximately 100 in 1408, but this does not tell us what the money wage was.
The wages graphed are real wages, so are adjusted to take account of changes in prices.
Whilst the graph looks fairly constant between 1264 and 1850 compared to the rapid increase since 1850, the average real wage actually almost doubled and then halved again between 1264 and 1600 (look at the scale on the vertical axis).
In 1850, the real wage index was approximately 100. By 2001, the index had increased by roughly six times that value, to more than 700.


Why did the spinning jenny, the steam engine, and a cluster of other inventions emerge and spread across the economy in Britain at this time? This is one of the most important questions in economic history, and historians continue to argue about it.
In this unit we examine one explanation of how these improvements in technology came about, and why they first occurred in Britain only, and during the eighteenth century. We will also explore why the long flat part of Figure 2.1s hockey stick proved so hard to escape not only in Britain, but also throughout the world in the 200 years that followed. We will do this by building models: simplified representations that help us to understand what is going on by focusing attention on what is important. Models will help us understand both the kink in the hockey stick and the long flat handle.
History, instability, and growthGlobal economyInnovation