2.9 The Malthusian trap and long-term economic stagnation
The major long-run impact of better technology in this Malthusian world was therefore more people. The writer H.G.Wells, author of War of the Worlds, wrote in 1905 that humanity spent the great gifts of science as rapidly as it got them in a mere insensate multiplication of the common life.
So we now have a possible explanation of the long, flat portion of the hockey stick. Human beings periodically invented better ways of making things, both in agriculture and in industry, and this periodically raised the incomes of farmers and employees above subsistence. The Malthusian interpretation was that higher real wages led young couples to marry earlier and have more children, and they also led to lower death rates. Population growth eventually forced real wages back to subsistence levels, which might explain why China and India, with relatively sophisticated economies at the time, ended up with large populations butuntil recentlyvery low incomes.
As with our model of innovation rents, relative prices and technological improvements, we need to ask: can we find evidence to support the central prediction of the Malthusian model, that incomes will return to subsistence level?
Figure 2.18 is consistent with what Malthus predicted. From the end of the thirteenth century to the beginning of the seventeenth century, Britain oscillated between periods of higher wages, leading to larger populations, leading to lower wages, leading to smaller populations, leading to and so on, a vicious circle.
We get a different view of the vicious circle by taking Figure 2.18 and focusing on the period between 1340 and 1600, shown in Figure 2.19. As a result of the outbreak of bubonic plague known as the Black Death, from 1349 to 1351 between a quarter and a third of Europes population died. The lower part of the figure shows the causal linkages that led to the effects we see in the top part.











Figure 2.18 
The Malthusian trap: Wages and population (1280s1600s).
        






                                View this data at OWiD
                        


Robert C. Allen. 2001. The Great Divergence in European Wages and Prices from the Middle Ages to the First World War. Explorations in Economic History 38 (4): pp.411447.





















A Malthusian economy in England


Figure 2.19 
The Black Death, labour supply, politics, and the wage: A Malthusian economy.
        





Robert C. Allen. 2001. The Great Divergence in European Wages and Prices from the Middle Ages to the First World War. Explorations in Economic History 38 (4): pp.411447.




















A Malthusian economy in England (13001600)


In this figure, we examine the Malthusian economy that existed in England between the years 1300 and 1600, highlighted above.




Robert C. Allen. 2001. The Great Divergence in European Wages and Prices from the Middle Ages to the First World War. Explorations in Economic History 38 (4): pp.411447.




















The Black Death (134850)


The bubonic plague of 134850 was known as the Black Death. It killed 1.5million people out of an estimated English population of 4 million, leading to a dramatic fall in labour supply.




Robert C. Allen. 2001. The Great Divergence in European Wages and Prices from the Middle Ages to the First World War. Explorations in Economic History 38 (4): pp.411447.




















Wages rose following the plague


This decline in the population had an economic benefit for the farmers and workers who survived: it meant that farmers had more and better land, and workers could demand higher wages. Incomes rose as the plague abated.




Robert C. Allen. 2001. The Great Divergence in European Wages and Prices from the Middle Ages to the First World War. Explorations in Economic History 38 (4): pp.411447.




















Farmers and workers used their power


In 1351, King Edward III of England tried to limit wage rises by law, helping to cause a period of rebellions against authority, notably the Peasants Revolt of 1381. Despite the Kings actions, incomes continued to increase.




Robert C. Allen. 2001. The Great Divergence in European Wages and Prices from the Middle Ages to the First World War. Explorations in Economic History 38 (4): pp.411447.




















Population increased in the sixteenth century


By the middle of the fifteenth century, the real wages of English building workers had doubled. Increased wages helped the population to recover in the sixteenth century, but Malthus law asserted itself: as the population increased, incomes fell.




Robert C. Allen. 2001. The Great Divergence in European Wages and Prices from the Middle Ages to the First World War. Explorations in Economic History 38 (4): pp.411447.




















Malthusian stagnation (13501600)


By 1600, real wages had fallen to the level they were 300 years previously.




Robert C. Allen. 2001. The Great Divergence in European Wages and Prices from the Middle Ages to the First World War. Explorations in Economic History 38 (4): pp.411447.




















Cause and effect in Malthusian economics


Our model of Malthusian economics helps to explain the rise and fall of incomes between 1300 and 1600 in England.




Robert C. Allen. 2001. The Great Divergence in European Wages and Prices from the Middle Ages to the First World War. Explorations in Economic History 38 (4): pp.411447.




The decline of the number of people working on farms during the Black Death raised agricultural productivity according to the principle of diminishing average product of labour. Farmers were better off, whether they owned their land or paid a fixed rent to a landlord. Employers in cities had to offer higher wages too, to attract workers from rural areas.
The causal links in Figure 2.19 combine the two features of the Malthusian model with the role of political developments as responses to, and causes of changes in, the economy. When, in 1349 and 1351, King Edward passed laws to try to restrain wage increases, economics (the reduced labour supply) won out over politics: wages continued to rise, and peasants began to exercise their increased power, notably by demanding more freedom and lower taxes in the Peasants Revolt of 1381.
But when the population recovered in the sixteenth century, labour supply increased, lowering wages. Based on this evidence, the Malthusian explanation is consistent with the history of England at this time.

Exercise 2.9 What would you add?
The cause-and-effect diagram that we created in Figure 2.19 made use of many ceteris paribus assumptions.

How does this model simplify reality?
What has been left out?
Try redrawing the figure to include other factors that you think are important.



Question 2.7 Choose the correct answer(s)
Look again at Figure 2.1 and Figure 2.19 showing graphs of real wages in England between 1300 and 2000.
You are also told the following facts:
During the bubonic plague of 1348 and 1351, between one-quarter and one-third of Europes population died.
In the seventeenth and eighteenth centuries, the wages of unskilled workers relative to the incomes of land owners were only one-fifth of what they had been in the sixteenth century.
What can we conclude from this information?

According to the Malthusian model, the fall in the population due to the bubonic plague would have led to an increase in the average productivity of workers, causing the observed rise in the real wage post-plague.
The doubling and halving of the real wage index over 250 years from around 1350 is contrary to the Malthusian model.
The fall in the unskilled workers share of total output in the seventeenth and eighteenth centuries was due to the fall in their average product of labour.
The fall in the relative wages of the unskilled workers in the seventeenth and eighteenth centuries was one of the factors that led to the eventual shooting up of the real wage in the nineteenth century, seen in the graph.


In the Malthusian model, fewer workers means higher average productivity, increasing output per capita. Given that their bargaining power did not remain constant but actually increased, workers claimed a larger share of this output and real wages rose.
According to the Malthusian model, the increase in population caused by the rise in real wages would have led to a decrease in average productivity, leading to an eventual fall in the real wage back down to subsistence level. This seems to be what is observed in the graph.
The average product of labour determines the size of the pie (the total output), but what share of this is claimed by the workers is determined by their bargaining power, which diminished over the Malthusian cycles in the graph.
On the contrary, wage growth happened in spite of the low wages relative to the incomes of the land owners. The key to this process was that wages remained high compared to the prices of energy and capital goods, leading to innovation for less labour-intensive technology.



Exercise 2.10 Defining economic progress
Real wages also rose sharply following the Black Death in other places for which we have evidence, such as Spain, Italy, Egypt, the Balkans, and Constantinople (present-day Istanbul).16

How does the growth of real wages compare with the growth of real GDP per capita as a measure of economic progress?
Try out your arguments on others. Do you agree or not? If you disagree, are there any facts that could resolve your disagreement, and what are they? If there are not, why do you disagree?


We have focused on farmers and wage earners, but not everyone in the economy would be caught in a Malthusian trap. As population continues to grow, the demand for food also grows. Therefore the limited amount of land used to produce the food should become more valuable. In a Malthusian world, a rising population should therefore lead to an improvement in the relative economic position of landowners.
This occurred in England: Figure 2.19 shows that real wages did not increase in the very long run (they were no higher in 1800 than in 1450). And the income gap between landowners and workers increased. In the seventeenth and eighteenth centuries, the wages of unskilled English workers, relative to the incomes of landowners, were only one-fifth of what they had been in the sixteenth century.
But while wages were low compared to the rents of landlords, a different comparison of relative prices was the key to Englands escape from the Malthusian trap: wages remained high compared to the price of coal (Figure 2.10) and even increased compared to the cost of using capital goods (Figure 2.11), as we have seen.
History, instability, and growthInequalityInnovation