2.11 Conclusion
We have introduced an economic model in which firms choice of production technologies depends on the relative prices of inputs, and the economic rent from adopting a new technology provides an incentive for firms to innovate. Testing this model against historical evidence shows that it could help to explain why the Industrial Revolution occurred in Britain in the eighteenth century.
We showed how the Malthusian model of a vicious circle, in which population growth offset temporary gains in income, could explain stagnation in living standards for centuries before the Industrial Revolution, until the permanent technological revolution allowed an escape due to improvements in technology.

Concepts introduced in Unit 2
Before you move on, review these definitions:

Equilibrium
Ceteris paribus
Relative prices
Incentives
Diminishing average product of labour
Reservation option
Economic rent
Isocost line
Innovation rent