2.3 Basic concepts: Prices, costs, and innovation rents

ceteris paribusEconomists often simplify analysis by setting aside things that are thought to be of less importance to the question of interest. The literal meaning of the expression is other things equal. In an economic model it means an analysis holds other things constant.


incentiveEconomic reward or punishment, which influences the benefits and costs of alternative courses of action.


relative priceThe price of one good or service compared to another (usually expressed as a ratio).


economic rentA payment or other benefit received above and beyond what the individual would have received in his or her next best alternative (or reservation option). See also: reservation option.

In this unit, we are going to build an economic model to help explain the circumstances under which new technologies are chosen, both in the past and in contemporary economies. We use four key ideas of economic modelling:

Ceteris paribus and other simplifications help us focus on the variables of interest. We see more by looking at less.
Incentives matter, because they affect the benefits and costs of taking one action as opposed to another.
Relative prices help us compare alternatives.
Economic rent is the basis of how people make choices.

Part of the process of learning to do economics involves learning a new language. The terms below will recur frequently in the units that follow, and it is important to learn how to use them precisely and with confidence.
Ceteris paribus and simplification
As is common in scientific inquiry, economists often simplify an analysis by setting aside things that are thought to be of less importance to the question of interest, by using the phrase holding other things constant or, more often, the Latin expression ceteris paribus, meaning other things equal. For example, later in the course we simplify an analysis of what people would choose to buy by looking at the effect of changing a priceignoring other influences on our behaviour like brand loyalty, or what others would think of our choices. We ask: what would happen if the price changed, but everything else that might influence the decision was the same. These ceteris paribus assumptions, when used well, can clarify the picture without distorting the key facts.
When we study the way that a capitalist economic system promotes technological improvements, we will look at how changes in wages affect firms choice of technology. For the simplest possible model we hold constant other factors affecting firms. So we assume:

Prices of all inputs are the same for all firms.
All firms know the technologies used by other firms.
Attitudes towards risk are similar among firm owners.


Exercise 2.2 Using ceteris paribus
Suppose you build a model of the market for umbrellas, in which the predicted number of umbrellas sold by a shop depends on their colour and price, ceteris paribus.

The colour and the price are variables used to predict sales. Which other variables are being held constant?

Which of the following questions do you think this model might be able to answer? In each case, suggest improvements to the model that might help you to answer the question.

Why are annual umbrella sales higher in the capital city than in other towns?
Why are annual umbrella sales higher in some shops in the capital city than others?
Why have weekly umbrella sales in the capital city risen over the last six months?


Incentives matter
Why did the water in Fishers hydraulic economy machine move when he changed the quantity of supply or demand for one or more of the goods, so that the prices were no longer in equilibrium?

Gravity acts on the water so it finds the lowest level.
Channels allow the water to seek out the lowest level, but restrict the ways in which it can flow.

All economic models have something equivalent to gravity, and a description of the kinds of movements that are possible. The equivalent of gravity is the assumption that, by taking one course of action over another, people are attempting to do as well as they can (according to some standard).
The analogy to the free movement of water in Fishers machine is that people are free to select different courses of action, rather than simply being told what to do. This is where economic incentives affect the choices we make. But we cant do everything we want to do: not every channel is open to us.
Like many economic models, the one we use to explain the permanent technological revolution is based on the idea that people or firms respond to economic incentives. As we will see in Unit 4, people are motivated not only by the desire for material gain but also by love, hate, sense of duty, and desire for approval. But material comfort is an important motive, and economic incentives appeal to this motive.
When owners or managers of firms decide how many workers to hire, or when shoppers decide what and how much to buy, prices are going to be an important factor determining their decision. If prices are a lot lower in the discount supermarket than in the corner shop, and it is not too far away, then this will be a good argument for shopping in the supermarket rather than in the shop.
Relative prices
A third characteristic of many economic models is that we are often interested in ratios of things, rather than their absolute level. Economics focuses attention on alternatives and choices. If you are deciding where to shop, it is not the corner shop prices alone that matter, but rather the prices relative to those in the supermarket and relative to the costs of reaching the supermarket. If all of these were to rise by 5%, your decision probably wouldnt change.
Relative prices are simply the price of one option relative to another. We often express relative price as the ratio of two prices. We will see that they matter a lot in explaining not just what shoppers (or consumers, as we usually call them) decide to buy, but why firms make the choices that they do.  When we study the Industrial Revolution, you will see that the ratio of energy prices (the price of coal, for example, to power a steam engine), to the wage rate (the price of an hour of a workers time) plays an important part in the story.
Reservation positions and rents
Imagine that you have figured out a new way of reproducing sound in high quality. Your invention is much cheaper to use than anyone elses method. Your competitors cannot copy you, either because they cannot figure out how to do it or because you have a patent on the process (making it illegal for them to copy you). So they continue offering their services at a price that is much higher than your costs.
If you match their price, or undercut them by just a bit, you will be able to sell as much as you can produce, so you can charge the same price but make profits that greatly exceed those of your competitors. In this case, we say that you are making an innovation rent. Innovation rents are a form of economic rentand economic rents occur throughout the economy. They are one of the reasons why capitalism can be such a dynamic system.
We will use the idea of innovation rents to explain some of the factors contributing to the Industrial Revolution. But economic rent is a general concept that will help explain many other features of the economy.
When taking some action (call it action A) results in a greater benefit to yourself than the next best action, we say that you have received an economic rent.

The term is easily confused with everyday uses of the word, such as the rent for temporary use of a car, apartment, or piece of land. To avoid this confusion, when we mean economic rent, we emphasize the word economic. Remember, an economic rent is something you would like to get, not something you have to pay.

reservation optionA persons next best alternative among all options in a particular transaction. Also known as: fallback option. See also: reservation price.

The alternative action with the next greatest net benefit (action B), is often called the next best alternative, your reservation position, or the term we use: reservation option. It is in reserve in case you do not choose A. Or, if you are enjoying A but then someone excludes you from doing it, your reservation option is your Plan B. This is why it is also called a fallback option.
Economic rent gives us a simple decision rule:

If action A would give you an economic rent (and nobody else would suffer): Do it!
If you are already doing action A, and it earns you an economic rent: Carry on doing it!

This decision rule motivates our explanation of why a firm may innovate by switching from one technology to another. We start in the next section by comparing technologies.

Question 2.2 Choose the correct answer(s)
Which of the following is an economic rent?

The amount you pay your landlord for the use of an apartment.
The amount you pay to hire a car for a weekend.
The extra profit that a successful innovator makes on bringing a new product to the market before its competitors.
The extra profit that a firm makes when it doubles in size and there are no changes to costs or the price for each unit of its output.


This is the rent as used in everyday language. Economic rent is something you would like to get and not something you have to pay.
An economic rent is what you earn above the next best alternative, which in this case may be the additional earnings compared to subletting the land to someone else at the same rate.
This particular form of economic rent is called an innovation rent, where profits are made in excess of those offered by the next best alternative due to the adoption of new technology.
This would be the normal profit you can earn in return for hard work. An economic rent is what you earn over and above the next best option, for example working really hard in another job.


Innovation