2.4 Modelling a dynamic economy: Technology and costs
We now apply these modelling ideas to explain technological progress. In this section we consider:

What is a technology?
How does a firm evaluate the cost of different technologies?

What is a technology?
Suppose we ask an engineer to report on the technologies that are available to produce 100 metres of cloth, where the inputs are labour (number of workers, each working for a standard eight-hour day) and energy (tonnes of coal). The answer is represented in the diagram and table in Figure 2.3. The five points in the table represent five different technologies. For example, technology E uses 10 workers and 1 tonne of coal to produce 100 metres of cloth.
Follow the steps in Figure 2.3 so you can understand the five technologies.















Technology
Number of workers
Coal required (tonnes)




A
1
6


B
4
2


C
3
7


D
5
5


E
10
1





Figure 2.3 
Different technologies for producing 100 metres of cloth.
        


















Technology
Number of workers
Coal required (tonnes)




A
1
6


B
4
2


C
3
7


D
5
5


E
10
1





Five technologies for producing 100metres of cloth compared


The table describes five different technologies that we refer to in the rest of this section. They use different quantities of labour and coal as inputs for producing 100 metres of cloth.

















Technology
Number of workers
Coal required (tonnes)




A
1
6


B
4
2


C
3
7


D
5
5


E
10
1





Technology A: energy-intensive


The A-technology is the most energy-intensive, using 1 worker and 6tonnes of coal.

















Technology
Number of workers
Coal required (tonnes)




A
1
6


B
4
2


C
3
7


D
5
5


E
10
1





Technology B


The B-technology uses 4 workers and 2tonnes of coal: it is a more labour-intensive technology than A.

















Technology
Number of workers
Coal required (tonnes)




A
1
6


B
4
2


C
3
7


D
5
5


E
10
1





Technology C


The C-technology uses 3 workers and 7tonnes of coal.

















Technology
Number of workers
Coal required (tonnes)




A
1
6


B
4
2


C
3
7


D
5
5


E
10
1





Technology D


The D-technology uses 5 workers and 5tonnes of coal.

















Technology
Number of workers
Coal required (tonnes)




A
1
6


B
4
2


C
3
7


D
5
5


E
10
1





Technology E: Labour-intensive


Finally, the E-technology uses 10 workers and 1 tonne of coal. This is the most labour-intensive of the five technologies.




We describe the E-technology as relatively labour-intensive and the A-technology as relatively energy-intensive. If an economy were using technology E and shifted to using technology A or B we would say that they had adopted a labour-saving technology, because the amount of labour used to produce 100 metres of cloth with these two technologies is less than with technology E. This is what happened during the Industrial Revolution.

dominatedWe describe an outcome in this way if more of something that is positively valued can be attained without less of anything else that is positively valued. In short: an outcome is dominated if there is a win-win alternative.

Which technology will the firm choose? The first step is to rule out technologies that are obviously inferior. We begin in Figure 2.4 with the A-technology and look to see whether any of the alternative technologies use at least as much labour and coal. The C-technology is inferior to A: to produce 100 metres of cloth, it uses more workers (three rather than one) and more coal (7 tonnes rather than 6 tonnes). We say the C-technology is dominated by the A-technology: assuming all inputs must be paid for, no firm will use technology C when A is available. The steps in Figure 2.4 show you how to see which of the technologies are dominated, and which technologies dominate.












Figure 2.4 
Technology A dominates C; technology B dominates D.
        















Which technologies dominate others?


The five technologies for producing 100 metres of cloth are represented by the points A to E. We can use this figure to show which technologies dominate others.














A dominates C


Clearly, technology A dominates the C-technology: the same amount of cloth can be produced using A with fewer inputs of labour and energy. This means that, whenever A is available, you would never use C.














B dominates D


Technology B dominates the D-technology: the same amount of cloth can be produced using B with fewer inputs of labour and energy. Note that B would dominate any other technology that is in the shaded area above and to the right of point B.














E does not dominate


Technology A dominates C; technology B dominates D. The E-technology does not dominate any of the other available technologies. We know this because none of the other four technologies are in the area above and to the right of E.




Using only the engineering information about inputs, we have narrowed down the choices: the C- and D-technologies would never be chosen.  But how does the firm choose between A, B and E? This requires an assumption about what the firm is trying to do. We assume its goal is to make as much profit as possible, which means producing cloth at the least possible cost.
Making a decision about technology also requires economic information about relative pricesthe cost of hiring a worker relative to that of purchasing a tonne of coal. Intuitively, the labour-intensive E-technology would be chosen if labour was very cheap relative to the cost of coal; the energy-intensive A-technology would be preferable in a situation where coal is relatively cheap. An economic model helps us be more precise than this.
How does a firm evaluate the cost of production using different technologies?
The firm can calculate the cost of any combination of inputs that it might use by multiplying the number of workers by the wage and the tonnes of coal by the price of coal. We use the symbol w for the wage, L for the number of workers, p for the price of coal and R for the tonnes of coal:


isocost lineA line that represents all combinations that cost a given total amount.

Suppose that the wage is 10 and the price of coal is 20 per tonne. In the table in Figure 2.5, we have calculated the cost of employing two workers and three tonnes of coal, which is 80. This corresponds to combination P1 in the diagram. If the firm were to employ more workerssay, sixbut reduce the input of coal to one tonne (point P2), that would also cost 80. Follow the steps in Figure 2.5 to see how we construct isocost lines to compare the costs of all combinations of inputs.












Figure 2.5 
Isocost lines when the wage is 10 and the price of coal is 20.
        















The total cost at P1


The total cost of employing 2 workers with 3 tonnes of coal is (2  10) + (3  20) =80.














P2 also costs 80


If the number of workers is increased to 6, costing 60, and the input of coal is reduced to 1 tonne, the total cost will still be 80.














The isocost line for 80


The straight line through P1 and P2 joins together all the points where the total cost is 80. We call this an isocost line: iso is the Greek for same. When drawing the line, we simplify by assuming that fractions of workers and of coal can be purchased.














A higher isocost line


At point Q1 (3 workers, 6 tonnes of coal) the total cost is 150. To find the 150 isocost line, look for another point costing 150: if 2 more workers are employed, the input of coal should be reduced by 1 tonne to keep the cost at 150. This is point Q2.














More isocost lines


We could draw isocost lines through any other set of points in the diagram. If prices of inputs are fixed, the isocost lines are parallel. A simple way to draw any line is to find the end points: for example, the 80 line joins the points J (4 tonnes of coal and no workers) and H (8 workers, no coal).














The slope of every isocost line is: (w/p)


The slope of the isocost lines is negative (they slope downward). In this case the slope is 0.5, because at each point, if you hired one more worker, costing 10, and reduced the amount of coal by 0.5 tonnes, saving 10, the total cost would remain unchanged. The slope is equal to (w/p), the wage divided by the price of coal.














Points above an isocost line cost more


If we look at one isocost linethe 80 onewe can see that all points above the line cost more than 80, and all points below cost less.




Isocost lines join all the combinations of workers and coal that cost the same amount. We can use them to help us compare the costs of the three technologies A, B, and E that remain in play (that is, are not dominated).
The table in Figure 2.6 shows the cost of producing 100 metres of cloth with each technology when the wage is 10 and the price of coal is 20. Clearly the B-technology allows the firm to produce cloth at lower cost.
In the diagram, we have drawn the isocost line through the point representing technology B. This shows immediately that, at these input prices (remember that the wage is the price of labour), the other two technologies are more costly.














Technology
Number of workers
Coal required (tonnes)
Total cost ()




B
4
2
80


A
1
6
130


E
10
1
120



Wage 10, cost of coal 20 per tonne


Figure 2.6 
The cost of using different technologies to produce 100 metres of cloth: Low relative cost of labour.
        




We can see from Figure 2.6 that B is the least-cost technology when w=10 and p=20. The other available technologies will not be chosen at these input prices. Notice that it is the relative price that matters and not the absolute price: if both prices doubled, the diagram would look almost the same: the isocost line through B would have the same slope, although the cost would be 160.
We can now represent the isocost lines for any wage w and coal price p as equations. To do this, we write c for the cost of production. We begin with the cost of production equation:

that is:

This is one way to write the equation of the isocost line for any value of c.
To draw an isocost line, it can help to express it in the form:

where a, which is a constant, is the vertical axis intercept and b is the slope of the line. In our model, tonnes of coal, R, are on the vertical axis, the number of workers, L, is on the horizontal axis and we shall see that the slope of the line is the wage relative to the price of coal, (w/p). The isocost line slopes downward so the slope term in the equation (w/p) is negative.
The equation:

can be rewritten as:

and further rearranged as:

So when  w = 10 and p = 20, the isocost line for c = 80 has a vertical axis intercept of 80/20 = 4 and a negative slope equal to (w/p) = 1/2. The slope is the relative price of labour.

Exercise 2.3 Isocost lines
Suppose the wage is 10 but the price of coal is only 5.

What is the relative price of labour?
Using the method in the text, write down the equation of the isocost line for c = 60, and rewrite it in the standard form y = a + bx.
Write the equations for the 30 and 90 isocost lines in the standard form too, and draw all three lines on a diagram. How does the set of isocost lines for these input prices compare to the ones for w = 10 and p = 20?


Innovation