2.6 The British Industrial Revolution and incentives for new technologies
Before the Industrial Revolution, weaving, spinning, and making clothes for the household were time-consuming tasks for most women. Single women were known as spinsters because spinning was their primary occupation.
Eve Fisher, a historian, calculated that making a shirt at this time required 500 hours of spinning, and 579 hours of work in totalcosting $4,197.25 at todays minimum wage in the US.
What did inventions such as the spinning jenny do? The first spinning jennies had eight spindles. One machine operated by just one adult therefore replaced eight spinsters working on eight spinning wheels. By the late nineteenth century, a single spinning mule operated by a very small number of people could replace more than 1,000 spinsters. These machines did not rely on human energy, but were powered first by water wheels, and later by coal-powered steam engines. Figure 2.9 summarizes these changes that happened in the Industrial Revolution.






Old technology
New technology




Lots of workers
Few workers


Little machinery (spinning wheels)
Lots of capital goods (spinning mules, factory buildings, water wheels or steam engines)


 requiring only human energy
 requiring energy (coal)


Labour-intensive
Labour-saving


Capital-saving
Capital-intensive


Energy-saving
Energy-intensive





Figure 2.9 
The change in spinning technology during the Industrial Revolution.
        




The model in the previous section provides a hypothesis (potential explanation) for why someone would bother to invent such a technology, and why someone would want to use it. In this model, producers of cloth chose between technologies using just two inputsenergy and labour. This is a simplification, but it shows the importance of the relative costs of inputs for the choice of technology. When the cost of labour increased relative to the cost of energy, there were innovation rents to be earned from a switch to the energy-intensive technology.
This is just a hypothesis. Is it actually what happened? Looking at how relative prices differed among countries, and how they changed over time, can help us understand why technologies such as the spinning jenny were invented in Britain rather than elsewhere, and in the eighteenth century rather than at an earlier time.











Figure 2.10 
Wages relative to the price of energy (early 1700s).
        






                                View this data at OWiD
                        


Page 140 of Robert C. Allen. 2008. The British Industrial Revolution in Global Perspective. Cambridge: Cambridge University Press.



Figure 2.10 shows the price of labour relative to the price of energy in various cities in the early 1700sspecifically, the wages of building labourers divided by the price of 1 million BTU (British Thermal Units, a unit of energy equivalent to slightly more than 1,000 joules). You can see that labour was more expensive relative to the cost of energy in England and the Netherlands than in France (Paris and Strasbourg), and much more so than in China.
Wages relative to the cost of energy were high in England, both because English wages were higher than wages elsewhere, and because coal was cheaper in coal-rich Britain than in the other countries in Figure 2.10.











Figure 2.11 
Wages relative to the cost of capital goods (late sixteenth to the early nineteenth century).
        






                                View this data at OWiD
                        


Page 138 in Robert C. Allen. 2008. The British Industrial Revolution in Global Perspective. Cambridge: Cambridge University Press.



Figure 2.11 shows trends in the cost of labour relative to the cost of capital goods in England and France, from the late sixteenth to the early nineteenth century. It shows the wages of building labourers divided by the cost of using capital goods. This cost is calculated from the prices of metal, wood, and brick, the cost of borrowing, and takes account of the rate at which the capital goods wear out, or depreciate.
As you can see, wages relative to the cost of capital goods were similar in England and France in the mid-seventeenth century but from then on, in England but not in France, workers became steadily more expensive relative to capital goods. In other words, the incentive to replace workers with machines was increasing in England during this time, but this was not true in France. In France, the incentive to save labour by innovating had been stronger during the late sixteenth century than it was 200 years later, at the time the Industrial Revolution began to transform Britain.
From the model in the previous section we learned that the technology chosen depends on relative input prices. Combining the predictions of the model with the historical data, we have one explanation for the timing and location of the Industrial Revolution:

Wages relative to the cost of energy and capital goods rose in the eighteenth century in Britain compared with earlier historical periods.
Wages relative to the cost of energy and capital goods were higher in Britain during the eighteenth century than elsewhere.

No doubt it helped, too, that Britain was such an inventive country. There were many skilled workmen, engineers and machine makers who could build the machines that inventors designed.












Figure 2.12 
The cost of using different technologies to produce 100 metres of cloth in Britain in the seventeenth and eighteenth centuries.
        















Technology in the 1600s


In the 1600s, the relative prices are shown by isocost line HJ. The B-technology was used. At those relative prices, there was no incentive to develop a technology like A, which is outside the isocost line HJ.














Technology in the 1700s


In the 1700s, the isocost lines such as FG were much steeper, because the relative price of labour to coal was higher. The relative cost was sufficiently high to make the A-technology lower cost than the B-technology.














Why is technology A lower cost?


We know that when the relative price of labour is high, technology A is lower cost because the B-technology lies outside the isocost line FG.











                        Other video options
                    


Bilibili
Download
View transcript




Economic historian Bob Allen addresses the question of why Britain industrialized when others did not.



Exercise 2.4 Britain but not France
Watch our video in which Bob Allen, an economic historian, explains his theory of why the Industrial Revolution occurred when and where it did.

Summarize Allens claim using the concept of economic rents. Which ceteris paribus assumptions are you making?
What other important factors may explain the rise of energy-intensive technologies in Britain in the eighteenth century?


The relative prices of labour, energy and capital can help to explain why the labour-saving technologies of the Industrial Revolution were first adopted in England, and why at that time technology advanced more rapidly there than on the continent of Europe, and even more rapidly compared with Asia.
What explains the eventual adoption of these new technologies in countries like France and Germany, and ultimately China and India? One answer is further technological progress, where a new technology is developed that dominates the existing one in use. Technological progress would mean that it would take smaller quantities of inputs to produce 100metres of cloth. We can use the model to illustrate this. In Figure 2.13, technological progress leads to the invention of a superior energy-intensive technology, labelled A. The analysis in Figure 2.13 shows that once the A-technology is available, it would be chosen both in countries using A, and in those usingB.












Figure 2.13 
The cost of using different technologies to produce 100 metres of cloth.
        















Energy- or labour-intensive?


Where the relative price of labour is high, the energy-intensive technology, A, is chosen. Where the relative price of labour is low, the labour-intensive technology, B, is chosen.














An improvement in technology


Improvements in cloth-making technology occur, resulting in a new technology, labelled A. This technology uses only half as much energy per worker to produce 100 metres of cloth. The new technology dominates the A-technology.














A is least-cost


The A technology is cheaper than both A and B, both in countries where wages are relatively high (isocost line FG) and in low-wage, expensive-energy economies (isocost line HJ).  The new labour- and energy-saving technology, A, is inside FG and HJ, so it will be adopted in both economies.




A second factor that promoted the diffusion across the world of the new technologies was wage growth and falling energy costs (due, for example, to cheaper transportation, allowing countries to import energy cheaply from abroad). This made isocost lines steeper in poor countries, again providing an incentive to switch to a labour-saving technology.12
Either way, the new technologies spread, and the divergence in technologies and living standards was eventually replaced by convergenceat least among those countries where the capitalist revolution had taken off.13
Nevertheless, in some countries we still observe the use of technologies that were replaced in Britain during the Industrial Revolution. The model predicts that the relative price of labour must be very low in such situations, making the isocost line very flat. The B-technology could be preferred in Figure 2.13 even when the A-technology is available if the isocost line is flatter than HJ, so that it goes through B but below A.

Question 2.5 Choose the correct answer(s)
Look again at Figure 2.12 which depicts isocost lines for the 1600s and the 1700s in Britain.
Which of the following is true?

The flatter isocost line HJ for 1600s Britain indicates higher wages relative to the price of coal.
The increase in wages relative to the cost of energy in the 1700s is represented by the outward shift of the isocost line from HJ to the parallel isocost line going through A.
Had the wage level fallen together with the falling energy costs (due for example to cheaper transportation), then 1700s Britain would definitely have stayed with technology B.
The comparison between isocost line FG and the parallel isocost going through B suggests that an innovation rent was earned in 1700s Britain when firms moved from technology B to A.


The slope of the isocost line is the negative of the price ratio, (wage/price of coal). A flatter isocost line indicates lower wages relative to the price of coal.
An increase in the level of wages relative to the cost of energy would lead to a steeper isocost line.
The relative price matters, not the absolute level. So if wages fall, but by relatively less than the energy costs so that the price ratio still increases, then technology A may still be the better choice.
The comparison between these two lines shows that that the cost of producing is lower at A than at B. Therefore, firms adopting technology A enjoy some profit in excess of that which they earned with the alternative: an innovation rent.



Exercise 2.5 Why did the Industrial Revolution not happen in Asia?
Read David Landes answer to this question, and this summary of research on the great divergence to discuss why the Industrial Revolution happened in Europe rather than in Asia, and in Britain rather than in Continental Europe.

Which arguments do you find most persuasive, and why?
Which arguments do you find least persuasive, and why?