2.8 Malthusian economics: Population grows when living standards rise
On its own, the diminishing average product of labour does not explain the long, flat portion of the hockey stick. It just means that living standards depend on the size of the population. It doesnt say anything about why, over long periods, living standards and population didnt change much. For this we need the other part of Malthuss model: his argument that increased living standards create a population increase.
Malthus was not the first person to have this idea. Years before Malthus developed his theories, Richard Cantillon, an Irish economist, had stated that, Men multiply like mice in a barn if they have unlimited means of subsistence.
Malthusian theory essentially regarded people as being not that different from other animals:

Elevated as man is above all other animals by his intellectual facilities, it is not to be supposed that the physical laws to which he is subjected should be essentially different from those which are observed to prevail in other parts of the animated nature.15

So the two key ideas in Malthus model are:

the law of diminishing average product of labour
population expands if living standards increase

Imagine a herd of antelopes on a vast and otherwise empty plain. Imagine also that there are no predators to complicate their lives (or our analysis). When the antelopes are better fed, they live longer and have more offspring. When the herd is small, the antelopes can eat all they want, and the herd gets larger.
Eventually the herd will get so large relative to the size of the plain that the antelopes can no longer eat all they want. As the amount of land per animal declines, their living standards will start to fall. This reduction in living standards will continue as long as the herd continues to increase in size.
Since each animal has less food to eat, the antelopes will have fewer offspring and die younger so population growth will slow down. Eventually, living standards will fall to the point where the herd is no longer increasing in size. The antelopes have filled up the plain. At this point, each animal will be eating an amount of food that we will define as the subsistence level. When the animals living standards have been forced down to subsistence level as a result of population growth, the herd is no longer getting bigger.
If antelopes eat less than the subsistence level, the herd starts to get smaller. And when consumption exceeds the subsistence level, the herd grows.
Much of the same logic would apply, Malthus reasoned, to a human population living in a country with a fixed supply of agricultural land. While people are well-fed they would multiply like Cantillons mice in a barn; but eventually they would fill the country, and further population growth would push down the incomes of most people as a result of diminishing average product of labour. Falling living standards would slow population growth as death rates increased and birth rates fell; ultimately incomes would settle at the subsistence level.
Malthuss model results in an equilibrium in which there is an income level just sufficient to allow a subsistence level of consumption. The variables that stay constant in this equilibrium are:

the size of the population
the income level of the people

If conditions change, then population and incomes may change too, but eventually the economy will return to an equilibrium with income at subsistence level.

Exercise 2.7 Are people really like other animals?
Malthus wrote: [I]t is not to be supposed that the physical laws to which [mankind] is subjected should be essentially different from those which are observed to prevail in other parts of the animated nature.
Do you agree? Explain your reasoning.

Malthusian economics: The effect of technological improvement
We know that over the centuries before the Industrial Revolution, improvements in technology occurred in many regions of the world, including Britain, and yet living standards remained constant. Can Malthus model explain this?
Figure 2.15 illustrates how the combination of diminishing average product of labour and the effect of higher incomes on population growth mean that in the very long run, technological improvements will not result in higher income for farmers. In the figure, things on the left are causes of things to the right.











Figure 2.15 
Malthus model: The effect of an improvement in technology.
        




Beginning from equilibrium, with income at subsistence level, a new technology such as an improved seed raises income per person on the existing fixed quantity of land. Higher living standards lead to an increase in population. As more people are added to the land, diminishing average product of labour means average income per person falls. Eventually incomes return to subsistence level, with a higher population.
Why is the population higher at the new equilibrium? Output per farmer is now higher for each number of farmers. Population does not fall back to the original level, because income would be above subsistence. A better technology can provide subsistence income for a larger population.
The Einstein at the end of this section shows how to represent Malthus model graphically, and how to use it to investigate the effect of a new technology.
The Malthusian model predicts that improvements in technology will not raise living standards if:

the average product of labour diminishes as more labour is applied to a fixed amount of land
population grows in response to increases in real wages

Then in the long run, an increase in productivity will result in a larger population but not higher wages. This depressing conclusion was once regarded as so universal and inescapable that it was called Malthus Law.


Einstein Modelling Malthus
Malthuss argument is summarized in Figure 2.16, using two diagrams.
The downward-sloping line in the left-hand figure shows that the higher the population, the lower the level of wages, due to the diminishing average product of labour. The upward-sloping line on the right shows the relationship between wages and population growth. When wages are high, population grows, because higher living standards lead to more births and fewer deaths.












A Malthusian economy.


Figure 2.16 
A Malthusian economy.
        















Left-hand diagram: How wages depend on the population level


At a medium population level, the wage of people who work the land is at subsistence level (point A). The wage is higher at point B, where the population is smaller, because the average product of labour is higher.














Right-hand diagram: How population growth depends on living standards


The line in the right-hand diagram slopes upward, showing that when wages (on the vertical axis) are high, population growth (on the horizontal axis) is positive (so the population will rise). When wages are low, population growth is negative (population falls).














Linking the two diagrams


At point A, on the left, population is medium-sized and the wage is at subsistence level. Tracing across to point A on the right shows that population growth is equal to zero. So if the economy is at point A, it is in equilibrium: population stays constant and wages remain at subsistence level.














A lower population


Suppose the economy is at B, with a higher wage and lower population. Point B, on the right, shows that the population will be rising.














The economy returns to equilibrium


As the population rises, the economy moves down the line in the left diagram: wages fall until they reach equilibrium at A.




The two diagrams together explain the Malthusian population trap. Population will be constant when the wage is at subsistence level, it will rise when the wage is above subsistence level, and it will fall when the wage is below subsistence level.
Figure 2.17 shows how the Malthusian model predicts that even if productivity increases, living standards in the long run do not.












Introduction of a new technology in a Malthusian economy.


Figure 2.17 
The introduction of a new technology in a Malthusian economy.
        















Initially the economy is in equilibrium


The economy starts at point A, with a medium-sized population and wage at subsistence level.














An advance in technologywages rise


A technological improvement (for example, better seeds) raises the average product of labour, and the wage is higher for any level of population. The real wage line shifts upward. At the initial population level, the wage increases and the economy moves to point D.














Population begins to rise


At point D, the wage has risen above subsistence level and therefore the population starts to grow (point D).














Population increases


As population rises, the wage falls, due to the diminishing average product of labour. The economy moves down the real-wage curve from D.














C is the equilibrium with the new technology


At C, the wage has reached subsistence level again. The population remains constant (point C).  The population is higher at equilibrium C than it was at equilibrium A.






Exercise 2.8 Living standards in the Malthusian world
Imagine that the population growth curve in the right panel of Figure 2.16 shifted to the left (with fewer people being born, or more people dying, at any level of wages). Explain what would happen to living standards describing the transition to the new equilibrium.

History, instability, and growthInnovation