Unit 3 Scarcity, work, and choice  The Economy





































The Economy






Contents








Unit 3 Scarcity, work, and choice
Themes and capstone units   17: History, instability, and growth            18: Global economy            21: Innovation            22: Politics and policy         
History, instability, and growth
How individuals do the best they can, and how they resolve the trade-off between earnings and free time

Decision making under scarcity is a common problem because we usually have limited means available to meet our objectives.
Economists model these situations, first by defining all of the feasible actions, then evaluating which of these actions is best, given the objectives.
Opportunity costs describe the unavoidable trade-offs in the presence of scarcity: satisfying one objective more means satisfying other objectives less.
A model of decision making under scarcity can be applied to the question of how much time to spend working, when facing a trade-off between more free time and more income.
This model also helps to explain differences in the hours that people work in different countries, and the changes in our hours of work throughout history.

Imagine that you are working in New York, in a job that is paying you $15 an hour for a 40-hour working week, which gives you earnings of $600 per week. There are 168 hours in a week, so after 40 hours of work, you are left with 128 hours of free time for all your non-work activities, including leisure and sleep.
Suppose, by some happy stroke of luck, you are offered a job at a much higher wagesix times higher. Your new hourly wage is $90. Not only that, your prospective employer lets you choose how many hours you work each week.
Will you carry on working 40 hours per week? If you do, your weekly pay will be six times higher than before: $3,600. Or will you decide that you are satisfied with the goods you can buy with your weekly earnings of $600? You can now earn this by cutting your weekly hours to just 6 hours and 40 minutes (a six-day weekend!), and enjoy about 26% more free time than before. Or would you use this higher hourly wage rate to raise both your weekly earnings and your free time by some intermediate amount?
The idea of suddenly receiving a six-fold increase in your hourly wage and being able to choose your own hours of work might not seem very realistic. But we know from Unit 2 that technological progress since the Industrial Revolution has been accompanied by a dramatic rise in wages. In fact, the average real hourly earnings of American workers did increase more than six-fold during the twentieth century. And while employees ordinarily cannot just tell their employer how many hours they want to work, over long time periods the typical hours that we work do change. In part, this is a response to how much we prefer to work. As individuals, we can choose part-time work, although this may restrict our job options. Political parties also respond to the preferences of voters, so changes in typical working hours have occurred in many countries as a result of legislation that imposes maximum working hours.
So have people used economic progress as a way to consume more goods, enjoy more free time, or both? The answer is both, but in different proportions in different countries. While hourly earnings increased by more than six-fold for twentieth century Americans, their average annual work time fell by a little more than one-third. So people at the end of this century enjoyed a four-fold increase in annual earnings with which they could buy goods and services, but a much smaller increase of slightly less than one-fifth in their free time. (The percentage increase in free time would be higher if you did not count time spent asleep as free time, but it is still small relative to the increase in earnings.) How does this compare with the choice you made when our hypothetical employer offered you a six-fold increase in your wage?
Figure 3.1 shows trends in income and working hours since 1870 in three countries.
As in Unit 1, income is measured as per-capita GDP in US dollars. This is not the same as average earnings, but gives us a useful indication of average income for the purposes of comparison across countries and through time. In the late nineteenth and early twentieth century, average income approximately trebled, and hours of work fell substantially. During the rest of the twentieth century, income per head rose four-fold.
Hours of work continued to fall in the Netherlands and France (albeit more slowly) but levelled off in the US, where there has been little change since 1960.











Annual hours of work and income (18702000).


Figure 3.1 
Annual hours of work and income (18702000).
        






                                View the latest data at OWiD
                        


Maddison Project. 2013. 2013 edition. Michael Huberman and Chris Minns. 2007. The times they are not changin: Days and hours of work in Old and New Worlds, 18702000. Explorations in Economic History 44 (4): pp.538567. GDP is measured at PPP in 1990 international Geary-Khamis dollars.



While many countries have experienced similar trends, there are still differences in outcomes. Figure 3.2 illustrates the wide disparities in free time and income between countries in 2013. Here we have calculated free time by subtracting average annual working hours from the number of hours in a year. You can see that the higher-income countries seem to have lower working hours and more free time, but there are also some striking differences between them. For example, the Netherlands and the US have similar levels of income, but Dutch workers have much more free time. And the US and Turkey have similar amounts of free time but a large difference in income.











Annual hours of free time per worker and income (2013).


Figure 3.2 
Annual hours of free time per worker and income (2013).
        






                                View the latest data at OWiD
                        


OECD. Average annual hours actually worked per worker. OECD. Level of GDP per capita and productivity. Accessed June 2016. Data for South Korea refers to 2012.



In many countries there has been a huge increase in living standards since 1870. But in some places people have carried on working just as hard as before but consumed more, while in other countries people now have much more free time. Why has this happened? We will provide some answers to this question by studying a basic problem of economicsscarcityand how we make choices when we cannot have all of everything that we want, such as goods and free time.
Study the model of decision making that we use carefully! It will be used repeatedly throughout the course, because it provides insight into a wide range of economic problems.

Question 3.1 Choose the correct answer(s)
Currently you work for 40 hours per week at the wage rate of 20 an hour. Your free hours are defined as the number of hours not spent in work per week, which in this case is 24 hours  7 days  40 hours = 128 hours per week. Suppose now that your wage rate has increased by 25%. If you are happy to keep your total weekly income constant, then:

Your total number of working hours per week will fall by 25%.
Your total number of working hours per week will be 30 hours.
Your total number of free hours per week will increase by 25%.
Your total number of free hours per week will increase by 6.25%.


The new wage rate is 20  1.25 = 25 per hour. Your original weekly income is 20  40 hours = 800. Therefore, your new total number of working hours is 800/25 per hour = 32 hours. This represents a change of (32  40)/40 = 20%.
The new wage rate is 20  1.25 = 25 per hour. Your original weekly income is 20  40 hours = 800. Therefore, your new total number of working hours is 800/25 per hour = 32 hours.
The new wage rate is 20  1.25 = 25 per hour. Your original weekly income is 20  40 hours = 800. Therefore, your new total number of working hours is 800/25 per hour = 32 hours. Then your free time is now 24 hours per day  7 days per week  32 = 136 hours per week, an increase of (136  128)/128 = 6.25%.
The new wage rate is 20  1.25 = 25 per hour. Your original weekly income is 20  40 hours = 800. Therefore, your new total number of working hours is 800/25 per hour = 32 hours. Then your free time is now 24  7  32 = 136 hours per week, an increase of (136  128)/128 = 6.25%.



Question 3.2 Choose the correct answer(s)
Look again at Figure 3.1, which depicts the annual number of hours worked against GDP per capita in the US, France and the Netherlands, between 1870 and 2000.
Which of the following is true?

An increase in GDP per capita causes a reduction in the number of hours worked.
The GDP per capita in the Netherlands is lower than that in the US because Dutch people work fewer hours.
Between 1870 and 2000, French people have managed to increase their GDP per capita more than ten-fold while more than halving the number of hours worked.
On the basis of the evidence in the graph, one day French people will be able to produce a GDP per capita of over $30,000 with less than 1,000 hours of work.


The negative relationship between the number of hours worked and GDP per capita does not necessarily imply that one causes the other.
The lower GDP per capita in the Netherlands may be due to a number of factors, including the possibility that Dutch people may prefer less income but more leisure time for cultural or other reasons.
The GDP per capita of France increased from roughly to $2,000 to $20,000 (ten-fold) while annual hours worked fell from over 3,000 to under 1,500.
That would be nice. However past performance does not necessarily mean that the trend will continue in the future.