Unit 4 Social interactions  The Economy





































The Economy






Contents








Unit 4 Social interactions
Themes and capstone units   18: Global economy            19: Inequality            20: Environment            21: Innovation            22: Politics and policy         
Environment
A combination of self-interest, a regard for the wellbeing of others, and appropriate institutions can yield desirable social outcomes when people interact

Game theory is a way of understanding how people interact based on the constraints that limit their actions, their motives, and their beliefs about what others will do.
Experiments and other evidence show that self-interest, a concern for others, and a preference for fairness are all important motives that explain how people interact.
In most interactions there is some conflict of interest between people, but also some opportunity for mutual gain.
The pursuit of self-interest can sometimes lead to results that are considered good by all participants, or outcomes that none of the participants would prefer.
Self-interest can be harnessed for the general good in markets, by governments limiting the actions that people are free to take, and by ones peers imposing punishments on actions that lead to bad outcomes.
A concern for others and for fairness allows us to internalize the effects of our actions on others, and so can contribute to good social outcomes.


The scientific evidence is now overwhelming: climate change presents very serious global risks, and it demands an urgent global response.1

This is the blunt beginning of the executive summary of the Stern Review, published in 2006. The British Chancellor of the Exchequer (finance minister) commissioned a group of economists, led by former World Bank chief economist Sir Nicholas (now Lord) Stern, to assess the evidence for climate change, and to try to understand its economic implications. The Stern Review predicts that the benefits of early action to slow climate change will outweigh the costs of neglecting the issue.
The Fifth Assessment Report by the Intergovernmental Panel on Climate Change (IPCC) agrees. Early action would mean a significant cut in greenhouse gas emissions, by reducing our consumption of energy-intensive goods, a switch to different energy technologies, reducing the impacts of agriculture and land-use change, and an improvement in the efficiency of current technologies.2
But none of this will happen if we pursue what Stern referred to as business as usual: a scenario in which people, governments and businesses are free to pursue their own pleasures, politics, and profits without taking adequate account of the effect of their actions on others, including future generations.
National governments disagree on the policies that should be adopted. Many nations in the developed world are pressing for strict global controls on carbon emissions, while others, whose economic catch-up has until recently been dependent on coal-burning technologies, have resisted these measures.

social dilemmaA situation in which actions taken independently by individuals in pursuit of their own private objectives result in an outcome which is inferior to some other feasible outcome that could have occurred if people had acted together, rather than as individuals.

The problem of climate change is far from unique. It is an example of what is called a social dilemma. Social dilemmaslike climate changeoccur when people do not take adequate account of the effects of their decisions on others, whether these are positive or negative.
Social dilemmas occur frequently in our lives. Traffic jams happen when our choice of a way to get aroundfor example driving alone to work rather than car-poolingdoes not take account of the contribution to congestion that we make. Similarly, overusing antibiotics for minor illnesses may help the sick person who takes them recover more quickly, but creates antibiotic-resistant bacteria that have a much more harmful effect on many others.
The Tragedy of the Commons
In 1968, Garrett Hardin, a biologist, published an article about social dilemmas in the journal Science, called The Tragedy of the Commons. He argued that resources that are not owned by anyone (sometimes called common property or common-pool resources) such as the earths atmosphere or fish stocks, are easily overexploited unless we control access in some way. Fishermen as a group would be better off not catching as much tuna, and consumers as a whole would be better off not eating too much of it. Humanity would be better off by emitting less pollutants, but if you, as an individual, decide to cut your consumption, your carbon footprint or the number of tuna you catch will hardly affect the global levels.3

free rideBenefiting from the contributions of others to some cooperative project without contributing oneself.

Examples of Hardins tragedies and other social dilemmas are all around us: if you live with roommates, or in a family, you know just how difficult it is to keep a clean kitchen or bathroom. When one person cleans, everyone benefits, but it is hard work. Whoever cleans up bears this cost. The others are sometimes called free riders. If as a student you have ever done a group assignment, you understand that the cost of effort (to study the problem, gather evidence, or write up the results) is individual, yet the benefits (a better grade, higher class standing, or simply the admiration of classmates) go to the whole group.4
Resolving social dilemmas
There is nothing new about social dilemmas; we have been facing them since prehistory.

altruismThe willingness to bear a cost in order to benefit somebody else.

More than 2,500 years ago, the Greek storyteller Aesop wrote about a social dilemma in his fable Belling the Cat. A group of mice needs one of its members to place a bell around a cats neck. Once the bell is on, the cat cannot catch and eat the other mice. But the outcome may not be so good for the mouse that takes the job.5 There are countless examples during wars or natural catastrophes in which individuals sacrifice their lives for others who are not family members, and may even be total strangers. These actions are termed altruistic.
Altruistic self-sacrifice is not the most important way that societies resolve social dilemmas and reduce free riding. Sometimes the problems can be resolved by government policies. For example, governments have successfully imposed quotas to prevent the over-exploitation of stocks of cod in the North Atlantic. In the UK, the amount of waste that is dumped in landfills, rather than being recycled, has been dramatically reduced by a landfill tax.
Local communities also create institutions to regulate behaviour. Irrigation communities need people to work to maintain the canals that benefit the whole community. Individuals also need to use scarce water sparingly so that other crops will flourish, although this will lead to smaller crops for themselves. In Valencia, Spain, communities of farmers have used a set of customary rules for centuries to regulate communal tasks and to avoid using too much water. Since the middle ages they have had an arbitration court called the Tribunal de las Aguas (Water Court) that resolves conflicts between farmers about the application of the rules. The ruling of the Tribunal is not legally enforceable. Its power comes only from the respect of the community, yet its decisions are almost universally followed.

game theoryA branch of mathematics that studies strategic interactions, meaning situations in which each actor knows that the benefits they receive depend on the actions taken by all. See also: game.social interactionsSituations in which the actions taken by each person affect other peoples outcomes as well as their own.

Even present-day global environmental problems have sometimes been tackled effectively. The Montreal Protocol has been remarkably successful. It was created to phase out and eventually ban the chlorofluorocarbons (CFCs) that threatened to destroy the ozone layer that protects us against harmful ultraviolet radiation.
In this unit, we will use the tools of game theory to model social interactions, in which the decisions of individuals affect other people as well as themselves. We will look at situations that result in social dilemmas and how people can sometimes solve thembut sometimes not (or not yet), as in the case of climate change.
But not all social interactions lead to social dilemmas, even if individuals act in pursuit of their own interests. We will start in the next section with an example where the invisible hand of the market, as described by Adam Smith, channels self-interest so that individuals acting independently do reach a mutually beneficial outcome.

Exercise 4.1 Social dilemmas
Using the news headlines from last week:

Identify two social dilemmas that have been reported (try to use examples not discussed above).
For each, specify how it satisfies the definition of a social dilemma.