4.9 Cooperation, negotiation, conflicts of interest, and social norms

cooperationParticipating in a common project that is intended to produce mutual benefits.

Cooperation means participating in a common project in such a way that mutual benefits occur. Cooperation need not be based on an agreement. We have seen examples in which players acting independently can still achieve a cooperative outcome:

The invisible hand: Anil and Bala chose their crops in pursuit of their own interests. Their engagement in the village market resulted in a mutually beneficial division of labour.
The repeated prisoners dilemma: They may refrain from using Terminator for pest control because they recognize the future losses they would suffer as a result of abandoning IPC.
The public goods game: Players willingness to punish others sustained high levels of cooperation in many countries, without the need for agreements.

In other cases, such as the one-shot prisoners dilemma, independent actions led to an unfortunate outcome. Then, the players could do better if they could reach an agreement.
People commonly resort to negotiation to solve their economic and social problems. For example, international negotiation resulted in the Montreal Protocol, through which countries agreed to eliminate the use of chlorofluorocarbons (CFCs), in order to avoid a harmful outcome (the destruction of the ozone layer).
But negotiation does not always succeed, sometimes because of conflicts of interest over how the mutual gains to cooperation will be shared. The success of the Montreal Protocol contrasts with the relative failure of the Kyoto Protocol in reducing carbon emissions responsible for global warming. The reasons are partly scientific. The alternative technologies to CFCs were well-developed and the benefits relative to costs for large industrial countries, such as the US, were much clearer and larger than in the case of greenhouse gas emissions. But one of the obstacles to agreement at the Copenhagen climate change summit in 2009 was over how to share the costs and benefits of limiting emissions between developed and developing countries.
As a simpler example of a conflict of interest, consider a professor who might be willing to hire a student as a research assistant for the summer. In principle, both have something to gain from the relationship, because this might also be a good opportunity for the student to earn some money and learn. In spite of the potential for mutual benefit, there is also some room for conflict. The professor may want to pay less and have more of his research grant left over to buy a new computer, or he may need the work to be done quickly, meaning the student cant take time off. After negotiating, they may reach a compromise and agree that the student can earn a small salary while working from the beach. Or, perhaps, the negotiation will fail.
There are many situations like this in economics. A negotiation (sometimes called bargaining) is also an integral part of politics, foreign affairs, law, social life and even family dynamics. A parent may give a child a smartphone to play with in exchange for a quiet evening, a country might consider giving up land in exchange for peace, or a government might be willing to negotiate a deal with student protesters to avoid political instability. As with the student and the professor, each of these bargains might not actually happen if either side is not willing to do these things.
Negotiation: Sharing mutual gains
To help think about what makes a deal work, consider the following situation. You and a friend are walking down an empty street and you see a $100 note on the ground. How would you decide how to split your lucky find? If you split the amount equally, perhaps this reflects a social norm in your community that says that something you get by luck should be split 5050.
Dividing something of value in equal shares (the 5050 rule) is a social norm in many communities, as is giving gifts on birthdays to close family members and friends. Social norms are common to an entire group of people (almost all follow them) and tell a person what they should do in the eyes of most people in the community.
In economics we think of people as making decisions according to their preferences, by which we mean all of the likes, dislikes, attitudes, feelings, and beliefs that motivate them. So everyones preferences are individual. They may be influenced by social norms, but they reflect what people want to do as well as what they think they ought to do.
We would expect that, even if there were a 5050 norm in a community, some individuals might not respect the norm exactly. Some people may act more selfishly than the norm requires and others more generously. What happens next will depend both on the social norm (a fact about the world, which reflects attitudes to fairness that have evolved over long periods), but also on the specific preferences of the individuals concerned.

fairnessA way to evaluate an allocation based on ones conception of justice.

Suppose the person who saw the money first has picked it up. There are at least three reasons why that person might give some of it to a friend:

Altruism: We have already considered this reason, in the case of Anil and Bala. This person might be altruistic and care about the other being happy, or about another aspect of the others wellbeing.
Fairness: Or, the person holding the money might think that 5050 is fair. In this case, the person is motivated by fairness, or what economists term inequality aversion.
Reciprocity: The friend may have been kind to the lucky money-finder in the past, or kind to others, and deserves to be treated generously because of this. In this case we say that our money-finder has reciprocal preferences.

These social preferences all influence our behaviour, sometimes working in opposite directions. For example, if the money-finder has strong fairness preferences but knows that the friend is entirely selfish, the fairness preferences tempt the finder to share but the reciprocity preferences push the finder to keep the money.

Question 4.9 Choose the correct answer(s)
Anastasia and Belindas favourite hobby is to go metal detecting. On one occasion Anastasia finds four Roman coins while Belinda is unsuccessful. Both women have reciprocal preferences. From this, can we say that:

If both women are altruistic, then they will definitely share the find 5050.
If Anastasia is altruistic and Belinda is selfish, then Anastasia may not share the find.
If Anastasia is selfish and Belinda is altruistic, then Anastasia will definitely not share the find.
If Anastasia is altruistic and Belinda believes in fairness, then they may or may not share the find 5050.


It depends how altruistic Anastasia is. She could be altruistic but give only one coin to Belinda.
Because Anastasia has reciprocal preferences, she may want to punish Belinda for having been selfish in the past. So even if she is altruistic, she may derive greater satisfaction from punishment than sharing.
Reciprocity means that Anastasia may still share, if she has benefitted from Belindas altruism in the past or hopes to benefit from it in the future.
Anastasias altruism and desire not to go against Belindas standard of fairnessso as to not incur punishmentmay or may not be sufficient to encourage her to split the find 5050.


Inequality