4.13 Social interactions: Conflicts in the choice among Nash equilibria
In the invisible hand game, the prisoners dilemma, and the public goods game, the action that gave a player the highest payoffs did not depend on what the other player did. There was a dominant strategy for each player, and hence a single dominant strategy equilibrium.
But this is often not the case.
We have already mentioned a situation in which it is definitely untrue. Driving on the right or on the left. If others drive on the right, your best response is to drive on the right too. If they drive on the left, your best response is to drive on the left.

Nash equilibriumA set of strategies, one for each player in the game, such that each players strategy is a best response to the strategies chosen by everyone else.

In the US, everyone driving on the right is an equilibrium, in the sense that no one would want to change their strategy given what others are doing. In game theory, if everyone is playing their best response to the strategies of everyone else, these strategies are termed a Nash equilibrium.
In Japan, though, Drive on the Left is a Nash equilibrium. The driving game has two Nash equilibria.
Many economic interactions do not have dominant strategy equilibria, but if we can find a Nash equilibrium, it gives us a prediction of what we should observe. We should expect to see all players doing the best they can, given what others are doing.
But even in simple economic problems there may be more than one Nash equilibrium (as in the driving game). Suppose that when Bala and Anil choose their crops the payoffs are as shown in Figure 4.15. This is different from the invisible hand game. If the two farmers produce the same crop, there is now such a large fall in price that it is better for each to specialize, even in the crop they are less suited to grow. Follow the steps in Figure 4.15 to find the two equilibria.












Figure 4.15 
A division of labour problem with more than one Nash equilibrium.
        















Anils best response to Rice


If Bala is going to choose Rice, Anils best response is to choose Cassava. We place a dot in the bottom left-hand cell.














Anils best response to Cassava


If Bala is going to choose Cassava, Anils best response is to choose Rice. Place a dot in the top right-hand cell. Notice that Anil does not have a dominant strategy.














Balas best responses


If Anil chooses Rice, Balas best response is to choose Cassava, and if Anil chooses Cassava he should choose Rice. The circles show Balas best responses. He doesnt have a dominant strategy either.














(Cassava, Rice) is a Nash equilibrium


If Anil chooses Cassava and Bala chooses Rice, both of them are playing best responses (a dot and a circle coincide). So this is a Nash equilibrium.














(Rice, Cassava) is also a Nash equilibrium


If Anil chooses Rice and Bala chooses Cassava then both of them are playing best responses, so this is also a Nash equilibrium, but the payoffs are higher in the other equilibrium.




Situations with two Nash equilibria prompt us to ask two questions:

Which equilibrium would we expect to observe in the world?
Is there a conflict of interest because one equilibrium is preferable to some players, but not to others?

Whether you drive on the right or the left is not a matter of conflict in itself, as long as everyone you are driving towards has made the same decision as you. We cant say that driving on the left is better than driving on the right.
But in the division of labour game, it is clear that the Nash equilibrium with Anil choosing Cassava and Bala choosing Rice (where they specialize in the crop they produce best) is preferred to the other Nash equilibrium by both farmers.
Could we say, then, that we would expect to see Anil and Bala engaged in the correct division of labour? Not necessarily. Remember, we are assuming that they take their decisions independently, without coordinating. Imagine that Balas father had been especially good at growing cassava (unlike his son) and so the land remained dedicated to cassava even though it was better suited to producing rice. In response to this, Anil knows that Rice is his best response to Balas Cassava, and so would have then chosen to grow rice. Bala would have no incentive to switch to what he is good at: growing rice.
The example makes an important point. If there is more than one Nash equilibrium, and if people choose their actions independently, then an economy can get stuck in a Nash equilibrium in which all players are worse off than they would be at the other equilibrium.

Great economists John Nash

John Nash (19282015) completed his doctoral thesis at Princeton University at the age of 21. It was just 27 pages long, yet it advanced game theory (which was a little-known branch of mathematics back then) in ways that led to a dramatic transformation of economics. He provided an answer to the question: when people interact strategically, what would one expect them to do? His answer, now known as a Nash equilibrium, is a collection of strategies, one for each player, such that if these strategies were to be publicly revealed, no player would regret his or her own choice. That is, if all players choose strategies that are consistent with a Nash equilibrium, then nobody can gain by unilaterally switching to a different strategy.
Nash did much more than simply introduce the concept of an equilibrium, he proved that such an equilibrium exists under very general conditions, provided that players are allowed to randomize over their available set of strategies. To see the importance of this, consider the two-player childrens game rock-paper-scissors. If each of the players picks one of the three strategies with certainty, then at least one of the players would be sure to lose and would therefore have been better off choosing a different strategy. But if both players choose each available strategy with equal probability, then neither can do better by randomizing over strategies in a different way. This is accordingly a Nash equilibrium.
What Nash was able to prove is that any game with a finite number of players, each of whom has a finite number of strategies, must have at least one equilibrium, provided that players can randomize freely. This result is useful because strategies can be very complicated objects, specifying a complete plan that determines what action is to be taken in any situation that could possibly arise. The number of distinct strategies in chess, for instance, is greater than the number of atoms in the known universe. Yet we know that chess has a Nash equilibrium, although it remains unknown whether the equilibrium involves a win for white, a win for black, or a guaranteed draw.
What was remarkable about Nashs existence proof is that some of the most distinguished mathematicians of the twentieth century, including Emile Borel and John von Neumann, had tackled the problem without getting very far. They were able to show the existence of equilibrium only for certain zero-sum games; those in which the gain for one player equals the loss to the others. This clearly limited the scope of their theory for economic applications. Nash allowed for a much more general class of games, where players could have any goals whatsoever. They could be selfish, altruistic, spiteful, or fair-minded, for instance.
There is hardly a field in economics that the development of game theory has not completely transformed, and this development would have been impossible without Nashs equilibrium concept and existence proof. Remarkably, this was not Nashs only path-breaking contribution to economicshe also made a brilliantly original contribution to the theory of bargaining. In addition, he made pioneering contributions to other areas of mathematics, for which he was awarded the prestigious Abel Prize.
Nash would go on to share the Nobel Prize for his work. Roger Myerson, an economist who also won the prize, described the Nash equilibrium as one of the most important contributions in the history of economic thought.
Nash originally wanted to be an electrical engineer like his father, and studied mathematics as an undergraduate at Carnegie Tech (now Carnegie-Mellon University). An elective course in International Economics stirred his interest in strategic interactions, which eventually led to his breakthrough.16
For much of his life Nash suffered from mental illness that required hospitalization. He experienced hallucinations caused by schizophrenia that began in 1959, though after what he described as 25 years of partially deluded thinking he continued his teaching and research at Princeton. The story of his insights and illness are told in the book (made into a film starring Russell Crowe) A Beautiful Mind.

Resolving conflict
A conflict of interest occurs if players in a game would prefer different Nash equilibria.
To see this, consider the case of Astrid and Bettina, two software engineers who are working on a project for which they will be paid. Their first decision is whether the code should be written in Java or C++ (imagine that either programming language is equally suitable, and that the project can be written partly in one language and partly in the other). They each have to choose one program or the other, but Astrid wants to write in Java because she is better at writing Java code. While this is a joint project with Bettina, her pay will be partly based on how many lines of code were written by her. Unfortunately Bettina prefers C++ for just the same reason. So the two strategies are called Java and C++.
Their interaction is described in Figure 4.16a, and their payoffs are in Figure 4.16b.











Figure 4.16a 
Interactions in the choice of programming language.
        




From Figure 4.16a, you can work out three things:

They both do better if they work in the same language.
Astrid does better if that language is Java, while the reverse is true for Bettina.
Their total payoff is higher if they choose C++.

How would we predict the outcome of this game?











Figure 4.16b 
Payoffs (thousands of dollars to complete the project) according to the choice of programming language.
        




If you use the dot-and-circle method, you will find that each players best responses are to choose the same language as the other player. So there are two Nash equilibria. In one, both choose Java. In the other, both choose C++.
Can we say which of these two equilibria is more likely to occur? Astrid obviously prefers that they both play Java while Bettina prefers that they both play C++. With the information we have about how the two might interact, we cant yet predict what would happen. Exercise 4.12 gives some examples of the type of information that would help to clarify what we would observe.

Exercise 4.12 Conflict between Astrid and Bettina
What is the likely result of the game in Figure 4.16b if:

Astrid can choose which language she will use first, and commit to it (just as the Proposer in the ultimatum game commits to an offer, before the Responder responds)?
The two can make an agreement, including which language they use, and how much cash can be transferred from one to the other?
They have been working together for many years, and in the past they used Java on joint projects?



Exercise 4.13 Conflict in business
In the 1990s, Microsoft battled Netscape over market share for their web browsers, called Internet Explorer and Navigator. In the 2000s, Google and Yahoo fought over which companys search engine would be more popular. In the entertainment industry, a battle called the format wars played out between Blu-Ray and HD-DVD.
Use one of these examples to analyse whether there are multiple equilibria and, if so, why one equilibrium might emerge in preference to the others.


Question 4.12 Choose the correct answer(s)
This table shows the payoff matrix for a simultaneous one-shot game in which Anil and Bala choose their crops.












We can conclude that:

There are two Nash equilibria: (Cassava, Rice) and (Rice, Cassava).
The choice of Cassava is a dominant strategy for Anil.
The choice of Rice is a dominant strategy for Bala.
There are two dominant strategy equilibria: (Cassava, Rice) and (Rice, Cassava).


In these two cases, both Anil and Bala are playing their best response to the others strategy. Therefore, these strategy pairs are Nash equilibria.
When Bala chooses Cassava, Anil is better off choosing Rice. Hence Cassava is not a dominant strategy for Anil.
When Anil chooses Rice, Bala is better off choosing Cassava. Hence Rice is not a dominant strategy for Bala.
There are no dominant strategies. Hence there are no dominant strategy equilibria.



Exercise 4.14 Nash equilibria and climate change
Think of the problem of climate change as a game between two countries called China and the US, considered as if each were a single individual. Each country has two possible strategies for addressing global carbon emissions: Restrict (taking measures to reduce emissions, for example by taxing the use of fossil fuels) and BAU (the Stern reports business as usual scenario). Figure 4.17 describes the outcomes (top) and hypothetical payoffs (bottom), on a scale from best, through good and bad, to worst. This is called an ordinal scale (because all that matters is the order: whether one outcome is better than the other, and not by how much it is better).























Figure 4.17 
Climate change policy as a prisoners dilemma (top). Payoffs for a climate change policy as a prisoners dilemma (bottom left), and payoffs with inequality aversion and reciprocity (bottom right).
        





Show that both countries have a dominant strategy. What is the dominant strategy equilibrium?
The outcome would be better for both countries if they could negotiate a binding treaty to restrict emissions. Why might it be difficult to achieve this?
Explain how the payoffs in the bottom right of Figure 4.17 could represent the situation if both countries were inequality averse and motivated by reciprocity. Show that there are two Nash equilibria. Would it be easier to negotiate a treaty in this case?
Describe the changes in preferences or in some other aspect of the problem that would convert the game to one in which (like the invisible hand game) both countries choosing Restrict is a dominant strategy equilibrium.