4.1 Social interactions: Game theory
On which side of the road should you drive? If you live in Japan, the UK, or Indonesia, you drive on the left. If you live in South Korea, France, or the US, you drive on the right. If you grew up in Sweden, you drove on the left until 5 p.m. on 3 September 1967, and at 5.01 p.m. you started driving on the right. The government sets a rule, and we follow it.
But suppose we just left the choice to drivers to pursue their self-interest and to select one side of the road or the other. If everyone else was already driving on the right, self-interest (avoiding a collision) would be sufficient to motivate a driver to drive on the right as well. Concern for other drivers, or a desire to obey the law, would not be necessary.
Devising policies to promote peoples wellbeing requires an understanding of the difference between situations in which self-interest can promote general wellbeing, and cases in which it leads to undesirable results. To analyse this, we will introduce game theory, a way of modelling how people interact.
In Unit 3 we saw how a student deciding how much to study and a farmer choosing how hard to work both faced a set of feasible options, determined by a production function. This person then makes decisions to obtain the best possible outcome. But in the models we have studied so far, the outcome did not depend on what anyone else did. Neither the student nor the farmer was engaged in a social interaction.
Social and strategic interactions

strategic interactionA social interaction in which the participants are aware of the ways that their actions affect others (and the ways that the actions of others affect them).strategyAn action (or a course of action) that a person may take when that person is aware of the mutual dependence of the results for herself and for others. The outcomes depend not only on that persons actions, but also on the actions of others.gameA model of strategic interaction that describes the players, the feasible strategies, the information that the players have, and their payoffs. See also: game theory.

In this unit, we consider social interactions, meaning situations in which there are two or more people, and the actions taken by each person affects both their own outcome and other peoples outcomes. For example, one persons choice of how much to heat his or her home will affect everyones experience of global climate change.
We use four terms:

When people are engaged in a social interaction and are aware of the ways that their actions affect others, and vice versa, we call this a strategic interaction.
A strategy is defined as an action (or a course of action) that a person may take when that person is aware of the mutual dependence of the results for herself and for others. The outcomes depend not only on that persons actions, but also on the actions of others.
Models of strategic interactions are described as games.
Game theory is a set of models of strategic interactions. It is widely used in economics and elsewhere in the social sciences.

To see how game theory can clarify strategic interactions, imagine two farmers, who we will call Anil and Bala. They face a problem: should they grow rice or cassava? We assume that they have the ability to grow both types of crop, but can only grow one type at a time.

division of labourThe specialization of producers to carry out different tasks in the production process. Also known as: specialization.

Anils land is better suited for growing cassava, while Balas is better suited for rice. The two farmers have to determine the division of labour, that is, who will specialize in which crop. They decide this independently, which means they do not meet together to discuss a course of action.
(Assuming independence may seem odd in this model of just two farmers, but later we apply the same logic to situations like climate change, in which hundreds or even millions of people interact, most of them total strangers to one another. So assuming that Anil and Bala do not come to some common agreement before taking action is useful for us.)
They both sell whatever crop they produce in a nearby village market. On market day, if they bring less rice to the market, the price will be higher. The same goes for cassava. Figure 4.1 describes their interaction, which is what we call a game. Lets explain what Figure 4.1 means, because you will be seeing this a lot.

Game
A description of a social interaction, which specifies:

The players: Who is interacting with whom
The feasible strategies: Which actions are open to the players
The information: What each player knows when making their decision
The payoffs: What the outcomes will be for each of the possible combinations of actions


Anils choices are the rows of the table and Balas are the columns. We call Anil the row player and Bala the column player.
When an interaction is represented in a table like Figure 4.1, each entry describes the outcome of a hypothetical situation. For example, the upper-left cell should be interpreted as:

Suppose (for whatever reason) Anil planted rice and Bala planted rice too. What would we see?

There are four possible hypothetical situations. Figure 4.1 describes what would happen in each case.











Figure 4.1 
Social interactions in the invisible hand game.
        




To simplify the model, we assume that:

There are no other people involved or affected in any way.
The selection of which crop to grow is the only decision that Anil and Bala need to make.
Anil and Bala will interact just once (this is called a one-shot game).
They decide simultaneously. When a player makes a decision, that player doesnt know what the other person has decided to do.


payoffThe benefit to each player associated with the joint actions of all the players.

Figure 4.2a shows the payoffs for Anil and Bala in each of the four hypothetical situationsthe incomes they would receive if the hypothetical row and column actions were taken. Since their incomes depend on the market prices, which in turn depend on their decisions, we have called this an invisible hand game.











Figure 4.2a 
The payoffs in the invisible hand game.
        





Because the market price falls when it is flooded with one crop, they can do better if they specialize compared to when they both produce the same good.
When they produce different goods they would both do better if each person specialized in the crop that was most suitable for their land.


Question 4.1 Choose the correct answer(s)
In a simultaneous one-shot game:

A player observes what others do before deciding how to act.
A player decides his or her action, taking into account what other players may do after knowing his or her move.
Players coordinate to find the actions that lead to the optimal outcome for society.
A player chooses an action taking into account the possible actions that other players can take.


A simultaneous game (as opposed to a sequential game) means that players all make a decision on their action simultaneously.
In a one-shot game (as opposed to a repeated game), each person only takes action once, without knowing what the other player(s) have chosen.
The players take actions non-cooperatively, driven by self-interest.
An essential element of strategic games is that each player takes into account the possible actions of other players, when the actual choices made are unknown.