4.3 The prisoners dilemma
Imagine that Anil and Bala are now facing a different problem. Each is deciding how to deal with pest insects that destroy the crops they cultivate in their adjacent fields. Each has two feasible strategies:

The first is to use an inexpensive chemical called Terminator. It kills every insect for miles around. Terminator also leaks into the water supply that they both use.
The second is to use integrated pest control (IPC) instead of a chemical. A farmer using IPC introduces beneficial insects to the farm. The beneficial insects eat the pest insects.

If just one of them chooses Terminator, the damage is quite limited. If they both choose it, water contamination becomes a serious problem, and they need to buy a costly filtering system. Figures 4.3a and 4.3b describe their interaction.











Figure 4.3a 
Social interactions in the pest control game.
        




Both Anil and Bala are aware of these outcomes. As a result, they know that their payoff (the amount of money they will make at harvest time, minus the costs of their pest control strategy and the installation of water filtration if that becomes necessary), will depend not only on what choice they make, but also on the others choice. This is a strategic interaction.











Figure 4.3b 
Payoff matrix for the pest control game.
        




How will they play the game? To figure this out, we can use the same method as in the previous section (draw the dots and circles in the payoff matrix for yourself).
Anils best responses:

If Bala chooses IPC: Terminator (cheap eradication of pests, with little water contamination).
If Bala chooses Terminator: Terminator (IPC costs more and cannot work since Balas chemicals will kill beneficial pests).

So Terminator is Anils dominant strategy.
You can check, similarly, that Terminator is also a dominant strategy for Bala.
Because Terminator is the dominant strategy for both, we predict that both will use it. Both players using insecticide is the dominant strategy equilibrium of the game.

prisoners dilemmaA game in which the payoffs in the dominant strategy equilibrium are lower for each player, and also lower in total, than if neither player played the dominant strategy.

Anil and Bala each receive payoffs of 2. But both would be better off if they both used IPC instead. So the predicted outcome is not the best feasible outcome. The pest control game is a particular example of a game called the prisoners dilemma.

The prisoners dilemma
The name of this game comes from a story about two prisoners (we call them Thelma and Louise) whose strategies are either to Accuse (implicate) the other in a crime that the prisoners may have committed together, or Deny that the other prisoner was involved.
If both Thelma and Louise deny it, they are freed after a few days of questioning.
If one person accusing the other person, while the other person denies, the accuser will be freed immediately (a sentence of zero years), whereas the other person gets a long jail sentence (10 years).
Lastly, if both Thelma and Louise choose Accuse (meaning each implicates the other), they both get a jail sentence. This sentence is reduced from 10 years to 5 years because of their cooperation with the police. The payoffs of the game are shown in Figure 4.4.











Figure 4.4 
Prisoners dilemma (payoffs are years in prison).
        




(The payoffs are written in terms of years of prisonso Louise and Thelma prefer lower numbers.)
In a prisoners dilemma, both players have a dominant strategy (in this example, Accuse) which, when played by both, results in an outcome that is worse for both than if they had both adopted a different strategy (in this example, Deny).






A solution to the prisoners dilemma on the show Golden Balls


Our story about Thelma and Louise is hypothetical, but this game applies to many real problems. For example, watch the clip from a TV quiz show called Golden Balls, and you will see how one ordinary person ingeniously resolves the prisoners dilemma.
In economic examples, the mutually beneficial strategy (Deny) is generally termed Cooperate, while the dominant strategy (Accuse) is called Defect. Cooperate does not mean that players get together and discuss what to do. The rules of the game are always that each player decides independently on a strategy.

The contrast between the invisible hand game and the prisoners dilemma shows that self-interest can lead to favourable outcomes, but can also lead to outcomes that nobody would endorse. Such examples can help us understand more precisely how markets can harness self-interest to improve the workings of the economy, but also the limitations of markets.
Three aspects of the interaction between Anil and Bala caused us to predict an unfortunate outcome in their prisoners dilemma game:

They did not place any value on the payoffs of the other person, and so did not internalize (take account of) the costs that their actions inflicted on the other.
There was no way that Anil, Bala or anyone else could make the farmer who used the insecticide pay for the harm that it caused.
They were not able to make an agreement beforehand about what each would do. Had they been able to do so, they could have simply agreed to use IPC, or banned the use of Terminator.

If we can overcome one or more of these problems, the outcome preferred by both of them would sometimes result. So, in the rest of this unit, we will examine ways to do this.

Question 4.3 Choose the correct answer(s)
Dimitrios and Ameera work for an international investment bank as foreign exchange traders. They are being questioned by the police on their suspected involvement in a series of market manipulation trades. The table below shows the cost of each strategy (in terms of the length in years of jail sentences they will receive), depending on whether they accuse each other or deny the crime. The first number is the payoff to Dimitrios, while the second number is the payoff to Ameera (the negative numbers signify losses). Assume that the game is a simultaneous one-shot game.












Based on this information, we can conclude that:

Both traders will hold out and deny their involvement.
Both traders will accuse each other, even though they will end up being in jail for eight years.
Ameera will accuse, whatever she expects Dimitrios to do.
There is a small possibility that both traders will get away with two years each.


Denying is a dominated strategy for both Dimitrios and Ameera, so they will Accuse.
For both Dimitrios and Ameera, Accusing is a dominant strategy. Therefore, the outcome in which they both Accuse and end up with 8-year sentences is a dominant strategy equilibrium.
Accusing is Ameeras best response regardless of what Dimitrios does, so she will always Accuse. It is a dominant strategy.
This outcome can only happen if both Dimitrios and Ameera Deny. Denying is a dominated strategy for both of them, so this would never happen.



Exercise 4.2 Political advertising
Many people consider political advertising (campaign advertisements) to be a classic example of a prisoners dilemma.

Using examples from a recent political campaign with which you are familiar, explain whether this is the case.
Write down an example payoff matrix for this case.


Inequality