4.7 Public good contributions and peer punishment
The Experiencing Economics ebook contains a public goods game that you can play with your students in the classroom or during synchronous online teaching. Visit the instructors section to find a step-by-step guide for running the game.
An experiment demonstrates that people can sustain high levels of cooperation in a public goods game, as long as they have opportunities to target free riders once it becomes clear who is contributing less than the norm.
Figure 4.9a shows the results of laboratory experiments that mimic the costs and benefits from contribution to a public good in the real world. The experiments were conducted in cities around the world. In each experiment participants play 10 rounds of a public goods game, similar to the one involving Kim and the other farmers that we just described. In each round, the people in the experiment (we call them subjects) are given $20. They are randomly sorted into small groups, typically of four people, who dont know each other. They are asked to decide on a contribution from their $20 to a common pool of money. The pool is a public good. For every dollar contributed, each person in the group receives $0.40, including the contributor.
Imagine that you are playing the game, and you expect the other three members of your group each to contribute $10. Then if you dont contribute, you will get $32 (three returns of $4 from their contributions, plus the initial $20 that you keep). The others have paid $10, so they only get $32  $10 = $22 each. On the other hand, if you also contribute $10, then everyone, including you, will get $22 + $4 = $26. Unfortunately for the group, you do better by not contributingthat is, because the reward for free riding ($32) is greater than for contributing ($26). And, unfortunately for you, the same applies to each of the other members.
After each round, the participants are told the contributions of other members of their group. In Figure 4.9a, each line represents the evolution over time of average contributions in a different location around the world. Just as in the prisoners dilemma, people are definitely not solely self-interested.











Figure 4.9a 
Worldwide public goods experiments: Contributions over 10 periods.
        






                                View this data at OWiD
                        


Benedikt Herrmann, Christian Thoni, and Simon Gachter. 2008. Antisocial Punishment Across Societies. Science 319 (5868): pp.136267.



As you can see, players in Chengdu contributed $10 in the first round, just as we described above. In every population where the game was played, contributions to the public good were high in the first period, although much more so in some cities (Copenhagen) than in others (Melbourne). This is remarkable: if you care only about your own payoff, contributing nothing at all is the dominant strategy. The high initial contributions could have occurred because the participants in the experiment valued their contribution to the payoffs that others received (they were altruistic). But the difficulty (or, as Hardin would have described it, the tragedy) is obvious. Everywhere, the contributions to the public good decreased over time.
Nevertheless, the results also show that despite a large variation across societies, most of them still have high contribution levels at the end of the experiment.
The most plausible explanation of the pattern is not altruism. It is likely that contributors decreased their level of cooperation if they observed that others were contributing less than expected and were therefore free riding on them. It seems as if those people who contributed more than the average liked to punish the low contributors for their unfairness, or for violating a social norm of contributing. Since the payoffs of free riders depend on the total contribution to the public good, the only way to punish free riders in this experiment was to stop contributing. This is the tragedy of the commons.
Many people are happy to contribute as long as others reciprocate. A disappointed expectation of reciprocity is the most convincing reason that contributions fell so regularly in later rounds of this game.
To test this, the experimenters took the public goods game experiment shown in Figure 4.9a and introduced a punishment option. After observing the contributions of their group, individual players could pay to punish other players by making them pay a $3 fine. The punisher remained anonymous, but had to pay $1 per player punished. The effect is shown in Figure 4.9b. For the majority of subjects, including those in China, South Korea, northern Europe and the English-speaking countries, contributions increased when they had the opportunity to punish free riders.











Figure 4.9b 
Worldwide public goods experiments with opportunities for peer punishment.
        






                                View this data at OWiD
                        


Benedikt Herrmann, Christian Thoni, and Simon Gachter. 2008. Antisocial Punishment Across Societies. Science 319 (5868): pp.136267.



People who think that others have been unfair or have violated a social norm may retaliate, even if the cost to themselves is high. Their punishment of others is a form of altruism, because it costs them something to help deter free riding behaviour that is detrimental to the wellbeing of most members of the group.
This experiment illustrates the way that, even in large groups of people, a combination of repeated interactions and social preferences can support high levels of contribution to the public good.
The public goods game, like the prisoners dilemma, is a situation in which there is something to gain for everyone by engaging with others in a common project such as pest control, maintaining an irrigation system, or controlling carbon emissions. But there is also something to lose when others free ride.
Politics and policy