5.3 Evaluating institutions and outcomes: Fairness
Although the Pareto criterion can help us to evaluate allocations, we will also want to use another criterion: justice. We will ask, is it fair?
Suppose, in the ultimatum game, the Proposer offered one cent from a total of $100. As we saw in Unit 4, Responders in experiments around the world typically reject such an offer, apparently judging it to be unfair. Many of us would have a similar reaction if we witnessed two friends, An and Bai, walking down the street. They spot a $100 bill, which An picks up. She offers one cent to her friend Bai, and says she wants to keep the rest.
We might be outraged. But we might think differently if we discovered that, though both An and Bai had worked hard all their lives, An had just lost her job and was homeless while Bai was well off. Letting An keep $99.99 might then seem fair. Thus we might apply a different standard of justice to the outcome when we know all of the facts.
We could also apply a standard of fairness not to the outcome of the game, but to the rules of the game. Suppose we had observed An proposing an even split, allocating $50 to Bai. Good for An, you say, that seems like a fair outcome. But if this occurred because Bai pulled a gun on An, and threatened that unless she offered an even split she would shoot her, we would probably judge the outcome to be unfair.

substantive judgements of fairnessJudgements based on the characteristics of the allocation itself, not how it was determined. See also: procedural judgements of fairness.procedural judgements of fairnessAn evaluation of an outcome based on how the allocation came about, and not on the characteristics of the outcome itself, (for example, how unequal it is). See also: substantive judgements of fairness.

The example makes a basic point about fairness. Allocations can be judged unfair because of:

How unequal they are: In terms of income, for example, or subjective wellbeing. These are substantive judgements of fairness.
How they came about: For example by force, or by competition on a level playing field. These are procedural judgements of fairness.

Substantive and procedural judgements
To make a substantive judgement about fairness, all you need to know is the allocation itself. However, for procedural evaluations we also need to know the rules of the game and other factors that explain why this allocation occurred.
Two people making substantive evaluations of fairness about the same situation need not agree, of course. For example, they may disagree about whether fairness should be evaluated in terms of income or happiness. If we measure fairness using happiness as the criterion, a person with a serious physical or mental handicap may need much more income than a person without such disabilities to be equally satisfied with his or her life.3
Substantive judgements
These are based on inequality in some aspect of the allocation such as:

Income: The reward in money (or some equivalent measure) of the individuals command over valued goods and services.
Happiness: Economists have developed indicators by which subjective wellbeing can be measured.
Freedom: The extent that one can do (or be) what one chooses without socially imposed limits.


Exercise 5.1 Substantive fairness
Consider the society you live in, or another society with which you are familiar.

To make society fairer, would you want greater equality of income, happiness, or freedom? Why? Would there be a trade-off between these aspects?
Are there other things that should be more equal to achieve greater fairness in this society?


Procedural judgements
The rules of the game that brought about the allocation may be evaluated according to aspects such as:

Voluntary exchange of private property acquired by legitimate means: Were the actions resulting in the allocation the result of freely chosen actions by the individuals involved, for example each person buying or selling things that they had come to own through inheritance, purchase, or their own labour? Or was fraud or force involved?
Equal opportunity for economic advantage: Did people have an equal opportunity to acquire a large share of the total to be divided up, or were they subjected to some kind of discrimination or other disadvantage because of their race, sexual preference, gender, or who their parents were?
Deservingness: Did the rules of the game that determined the allocation take account of the extent to which an individual worked hard, or otherwise upheld social norms?


Exercise 5.2 Procedural fairness
Consider the society in which you live, or another society with which you are familiar. How fair is this society, according to the procedural judgements of fairness listed above?

We can use these differing judgements to evaluate an outcome in the ultimatum game. The experimental rules of the game will appear to most peoples minds as procedurally fair:

Proposers are chosen randomly.
The game is played anonymously.
Discrimination is not possible.
All actions are voluntary. The Responder can refuse to accept the offer, and the Proposer is typically free to propose any amount.

Substantive judgements are evaluations of the allocation itself: how the pie is shared. We know from the behaviour of experimental subjects that many people would judge an allocation in which the Proposer took 90% of the pie to be unfair.
Evaluating fairness
The rules of the game in the real economy are a long way from the fair procedures of the ultimatum game, and procedural judgements of unfairness are very important to many people, as we will see in Unit 19 (Economic inequality).
Peoples values about what is fair differ. Some, for example, regard any amount of inequality as fair, as long as the rules of the game are fair. Others judge an allocation to be unfair if some people are seriously deprived of basic needs, while others consume luxuries.
The American philosopher John Rawls (19212002) devised a way to clarify these arguments, which can sometimes help us to find common ground on questions of values. We follow three steps:

We adopt the principle that fairness applies to all people: For example, if we swapped the positions of An and Bai, so that it was Bai instead of An who picked up $100, we would still apply exactly the same standard of justice to evaluate the outcome.
Imagine a veil of ignorance: Since fairness applies to everyone, including ourselves, Rawls asks us to imagine ourselves behind what he called a veil of ignorance, not knowing the position that we would occupy in the society we are considering. We could be male or female, healthy or ill, rich or poor (or with rich or poor parents), in a dominant or an ethnic minority group, and so on. In the $100 on the street game, we would not know if we would be the person picking up the money, or the person responding to the offer.
From behind the veil of ignorance, we can make a judgement: For example, the choice of a set of institutionsimagining as we do so that we will then become part of the society we have endorsed, with an equal chance of having any of the positions occupied by individuals in that society.

The veil of ignorance invites you, in making a judgement about fairness, to put yourself in the shoes of others quite different from yourself. You would then, Rawls argued, be able to evaluate the constitutions, laws, inheritance practices, and other institutions of a society as an impartial outsider.

Exercise 5.3 Splitting the profits in a partnership
Suppose you and a partner are starting a business involving each of you selling a new app to the public. You are deciding how to divide the profits and are considering four alternatives. The profits could be split:

equally
in proportion to how many apps each of you sells
in inverse proportion to how much income each of you has from other sources (for example, if one of you has twice the income of the other, the profits could be split one-third to the former and two-thirds to the latter)
in proportion to how many hours each of you has spent selling.

Order these alternatives according to your preference and give arguments based on the concepts of fairness introduced in this section. If the order depends on other facts about this joint project, say what other facts you would need.

Neither philosophy, nor economics, nor any other science, can eliminate disagreements about questions of value. But economics can clarify:

How the dimensions of unfairness may be connected: For example, how the rules of the game that give special advantages to one or another group may affect the degree of inequality.
The trade-offs between the dimensions of fairness: For example, do we have to compromise on the equality of income if we also want equality of opportunity?
Public policies to address concerns about unfairness: Also, whether these policies compromise other objectives.

History, instability, and growthInequality