6.9 Another kind of business organization

cooperative firmA firm that is mostly or entirely owned by its workers, who hire and fire the managers.

Even in capitalist economies, some business organizations have an entirely different structure to the one we have been analysing: their workers are the owners of the capital goods and other assets of the company, and they select managers who run the company on a day-to-day basis. This form of business organization is called a worker-owned cooperative or cooperative firm.1819
One well-known example of a cooperative is the large British retailer John Lewis Partnership, founded in 1864 and held in trust for its employees since 1950. Every employee is a partner, and employee councils elect five out of seven members of the company board. The benefits for employees (pension, paid holidays, long-service sabbaticals, social activities) are generous, and the business profits are shared out as a bonus, calculated as a percentage of each persons salary every year. The bonus normally ranges between 10% and 20% of pay, even after a significant chunk of the profits are retained for future investment. John Lewis is one of the countrys most profitable and consistently successful retail businesses.
Worker-owned cooperatives are hierarchically organized, like conventional firms, but the directives issued from the top of the hierarchy come from people who owe their jobs to the worker-owners. Other than this, the main differences between conventional firms and worker-owned cooperatives are that the cooperatives need fewer supervisors and other management personnel to ensure that the worker-owners work hard and well. Fellow worker-owners will not tolerate a shirking worker because the shirker is reducing the profit share of the other workers. Reduced need for the supervision of workers is among the reasons that worker-owned cooperatives produce at least as much (if not more) per hour than their conventional counterparts.
Inequalities in wages and salaries within the company, for example between managers and production workers, are also typically less in worker-owned cooperatives than in conventional firms. And worker-owned cooperatives tend not to lay off workers when the economy goes into recession, offering their worker-owners a kind of insurance (often they cut back on the hours of all workers rather than terminating the employment of some).
Case studies show that in those unusual companies owned primarily by the workers themselves, work is done more intensely with less supervision. There have been many attempts to establish other types of business organization throughout recent history, but borrowing the funds to start and sustain worker-owned companies is often difficult because, as we will see in Unit 10, banks are often reluctant to lend funds (except at high interest rates) to people who are not wealthy.

Charles Fourier (17721837), a philosopher in France, envisioned a utopian world in which people would live in communities of between 1,600 and 1,800 people, called phalanxes. Fourier imagined that members would do all the industrial, craft, and agricultural activity, and would work hard because they did the jobs they liked. Who would clean the sewers and toilets, or put manure on gardens? Fourier suggested giving these jobs to children who love playing with dirt! Dozens of phalanxes existed in the mid-nineteenth century, with more than 40 in the US alone.


Exercise 6.8 A worker-owned cooperative
In Figure 6.1 we showed the actors and decision-making structure of a typical firm.

How do the actors and decision-making structure of John Lewis Partnership differ from that of a typical firm?
Redraw Figure 6.1 to show this.



Great economists John Stuart Mill

John Stuart Mill (18061873) was one of the most important philosophers and economists of the nineteenth century. His book On Liberty (1859) parallels Adam Smiths Wealth of Nations in advocating limits on governmental powers, and is still an influential argument in favour of individual freedom and privacy.
Mill thought that the structure of the typical firm was an affront to freedom and individual autonomy. In The Principles of Political Economy (1848), Mill described the relationship between firm owners and workers as an unnatural one: To work at the bidding and for the profit of another, without any interest in the work is not, even when wages are high, a satisfactory state to human beings of educated intelligence, he wrote.2021
Attributing the conventional employer-employee relationship to the poor education of the working class, he predicted that the spread of education, and the political empowerment of working people, would change this situation:

The relation of masters and work-people will be gradually superseded by partnership perhaps finally in all, association of labourers among themselves. (The Principles of Political Economy, 1848)



Exercise 6.9 Was Mill wrong?
Why do you think Mills vision of a post-capitalist economy of worker-owned cooperatives has not yet occurred?