6.10 Principals and agents: Interactions under incomplete contracts
In the relationship between Maria and her employer, Marias work effort matters to both parties but is not covered by the employment contract. This leads to the existence of employment rents. If they had been able to write a complete contract, the situation would have been quite different. The employer could have offered her an enforceable contract specifying both the wage and the exact level of effort she should provide, and if these terms were acceptable to her, she would have agreed and worked as required. To maximize his profit he would have chosen a contract that was only just acceptable, so she would not have earned any rents.
This example is not unusual. In practice, all employment relationships are governed by incomplete contracts. Employment contracts often do not even bother to mention that the worker should work hard and well. And there are many other ways in which we interact without a complete contract:

People and banks lend money in return for a promise to repay the full amount plus the stipulated interest. But this may be unenforceable if the borrower is unable to repay.
Owners of firms would like managers to maximize the value of the owners assets, but managers have their own objectives (first class air travel, lavish offices) and managerial contracts often fall short of an enforceable requirement to maximize the owners wealth.
The contracts signed by tenants renting apartments may include clauses requiring that they maintain the value of the property. But aside from gross neglect, the liability for not maintaining the property is unenforceable.
Insurance contracts require (but typically cannot enforce) that the people who purchase insurance should behave prudently and try not to take risks.
Families devote a sizeable fraction of their budgets to purchasing educational and health services, the quality of which is rarely specified in a contract (and would be unenforceable if it were).
Parents care for their children with the hope, but no contractual assurance, that their children will reciprocate when the parents are old and unable to work.

For these and a great many other exchanges, it appears that Emile Durkheim (18581917), the founder of modern sociology, was right when he observed that not everything in the contract is contractual. As above, there is usually something that matters to at least one of the parties that cannot be written down in an enforceable contract.
Why are contracts incomplete?
Thinking about some examples of economic interactions, we can see that there are several reasons for the absence of a complete contract:

Information is not verifiable: For a contract to be enforceable, relevant information must be observable by both parties, but also verifiable by third parties such as courts of law. The court must be able to establish whether or not the requirements of the contract were met. Verifiable information is often unavailable: for example, it may be impossible to prove whether the poor condition of a rented apartment is due to normal wear and tear or the tenants negligence.
Time and uncertainty: A contract is generally executed over a period of time, for example specifying that Party A does X now and Party B does Y later. But what B should do later may depend on things that are unknown when the contract is written. People are unlikely to be able to anticipate every possible thing that might happen in futureand trying to do so would probably not be cost-effective.
Measurement: Many services and goods are inherently difficult to measure or describe precisely enough to be written into a contract. How would the restaurant owner measure how pleasantly his waiters interact with customers?
Absence of a judiciary: For some transactions there are no judicial institutions (courts or other relevant third parties) capable of enforcing contracts. Many international transactions are of this type.
Preferences: Even where the nature of the goods or services to be exchanged would permit a more complete contract, a less complete contract might be preferred. Intrusive surveillance of workers by employers may backfire if the employers distrust angers the workers, leading to less satisfactory work performance. You do not necessarily want to know the exact quality of a concert before you buy the ticketdiscovering it may be part of the experience.

Principalagent models

principalagent relationshipThis relationship exists when one party (the principal) would like another party (the agent) to act in some way, or have some attribute that is in the interest of the principal, and that cannot be enforced or guaranteed in a binding contract. See also: incomplete contract. Also known as: principalagent problem.

Many contractual relationships can be modelled in the same way, as a game between two players, whom we call the principal and the agent, who face a conflict of interest. These are known as principalagent problems. In the case of Maria and her employer, the employer is the principal. He would like to offer Maria, the agent, an employment contract, and she wants the job, but the amount of effort she will provide cannot be specified in the contract because it is not verifiable. This is a problem because there is a conflict of interest: he would prefer her to work hard, whereas Maria prefers an easy life.
Our model of Marias employment is an example of a general class of principalagent models, in which an action taken by the agent is hidden from the principal, or unobservable.

The agent can take some action (such as working hard),
the principal benefits from this action,
but taking the action is something the agent would not choose to do, perhaps because it is costly or unpleasant (this is the conflict of interest),
and because information about the action is either not available to the principal or is not verifiable,
there is no way that the principal can use an enforceable contract to guarantee that the action is performed.


hidden actions (problem of)This occurs when some action taken by one party to an exchange is not known or cannot be verified by the other. For example, the employer cannot know (or cannot verify) how hard the worker she has employed is actually working. Also known as: moral hazard. See also: hidden attributes (problem of).

In short: a hidden action problem occurs when there is a conflict of interest between the principal and the agent over some action that may be taken by the agent, and this action cannot be subjected to a complete contract. In these problems, information about the action is either asymmetric (the agent knows what action is taken, but the principal doesnt) or unverifiable (it cannot be used by a court to enforce a contract).
The table in Figure 6.8 identifies the principals and agents in the examples from this section.






Principal
Agent
Action that is hidden, and not covered in the contract




Employer
Employee
Quality and quantity of work


Banker
Borrower
Repayment of loan, prudent conduct


Owner
Manager
Maximization of owners profits


Landlord
Tenant
Care of the apartment


Insurance company
Insured
Prudent behavior


Parents
Teacher/doctor
Quality of teaching and care


Parents
Children
Care in old age





Figure 6.8 
Hidden action problems.
        





Verifiable information, asymmetric information
Information is verifiable if it can be used in court to enforce a contract. Non-verifiable information, such as hearsay, cannot be used to enforce contracts.
Information that is known by one party but not another is asymmetric.

We study the banker-borrower principalagent model in Unit 10. In Unit 12 we will introduce the second main class of principalagent models, in which it is not the agents action that cannot be contracted (hidden action) but rather something about the agent herself that is unknown to the principal (hidden attribute).

Exercise 6.10 Principalagent relationships
For each of the following examples, explain who is the principal, who is the agent, and what aspects of their interaction are of interest to each and are not covered by a complete contract.

A company hires a security guard to protect its premises at night.
A charity wants to commission research to find out as much as possible about a new virus.