6.1 Firms, markets, and the division of labour
The economy is made up of people doing different things, for example producing Apple display modules or making clothing for export. Producing display modules also involves many distinct tasks, done by different employees within Toshiba or Sharp, the companies that make them for Apple.

division of labourThe specialization of producers to carry out different tasks in the production process. Also known as: specialization.

Setting aside the work done in families, in a capitalist economy, the division of labour is coordinated in two major ways: firms and markets.
Among the institutions of modern capitalist economies, the firm rivals the government in importance. John Micklethwait and Adrian Wooldridge explain how this happened. John Micklethwait and Adrian Wooldridge. 2003. The Company: A Short History of a Revolutionary Idea. New York, NY: Modern Library.
Why do firms work the way they do? For example, why do the owners of the firm hire the workers, rather than the other way around? Randall Kroszner and Louis Putterman summarize this field of economics. Randall S. Kroszner and Louis Putterman (editors). 2009. The Economic Nature of the Firm: A Reader. Cambridge: Cambridge University Press.

Through firms, the components of goods are produced by different people in different departments of the firm, and assembled to produce the finished shirt or iPhone.
Or components produced by groups of workers in different firms may be brought together through market interactions between firms.
By buying and selling goods on markets, the finished iPhone gets from the producer into the pocket of the consumer, and the American Apparel shirt ends up on somebodys back.

So in this unit we study firms. In the units to follow, we study markets. Herbert Simon, an economist, used the view from Mars to explain why it is important to study both.

Great economists Herbert Simon

Imagine a visitor approaching Earth from Mars, Herbert Herb Simon (19162001) urged his readers. Looking at Earth through a telescope that revealed social structure, what would our visitor see? Companies might appear as green fields, he suggested, divisions and departments as faint contours within. Connecting these fields, red lines of buying and selling. Within these fields, blue lines of authority, connecting boss and employee, foreman and assembly-worker, mentor and mentee.
Traditionally, economists had focused on the market and the competitive setting of prices. But to a visitor from Mars, Simon suggested:

Organizations would be the dominant feature of the landscape. A message sent back home, describing the scene, would speak of large green areas interconnected by red lines. It would not likely speak of a network of red lines connecting green spots. (Organizations and Markets, 1991)1

Trained as a political scientist, Simons desire to understand society led him to study both institutions and the human mindto open the black box of motivations that economists had come to take for granted. He was celebrated in departments of computer science, psychology, and, of course, economics, for which he won the Nobel Prize in 1978.
A firm, he pointed out, is not simply an agent, shifting to match supply and demand. It is composed of individuals, whose needs and desires might conflict. In what ways could these differences be resolved? Simon asked, when would an individual shift from contract work (a sale of a particular, predefined task) to an employment relation (where a boss dictates the task after the salethe relationship at the heart of a firm)?
When the desired task is easy to specify in a contract, Simon explained that we could view this as simply work-for-hire. But high uncertainty (the employer not knowing in advance what needs to be done) would make it impossible to specify in a contract what the worker was to do and, in this case, the result would be an employer-employee relation that is characteristic of the firm.2
This early work showcased two of Simons lasting interests: the complexity of economic relations, where one might sell an obligation that was incompletely described, and the role of uncertainty in changing the nature of decision making. His argument demonstrated the emergence of the boss.
Understanding how contract work turns into employment only implies that we understand a particular relationship between two members of an organization. We have yet to explain the firm as a wholethe Martians green fields.
What makes a good organization? This is a question for psychologists as much as economists, because we know that incentives that tie individual rewards to the success of the organization appear to have little effect.
Simons intellectual career can be contrasted with another great economist, Friedrich Hayek, whose ideas we will examine in detail in Unit 11. Both were interested in how societies could thrive in the face of uncertainty and imperfect agents. For Hayek, the price mechanism was all: a device to collect and process vast quantities of information, and so synchronize systems of arbitrary size.
But for Simon, the price mechanism needed to be supplementedeven supplantedby institutions and governments better equipped to handle uncertainty and rapid change. These alternative authority mechanisms draw on partially understood aspects of the human psyche: loyalty, group identification, and creative satisfaction.
By the time of his death in 2001, Simon had seen many of his ideas reach the mainstream. Behavioural economics has roots in his attempts to build economic theories that reflect empirical data. Simons view from Mars shows that economics could not be a self-contained science: an economist needs to be both a mathematician, working with decision-sets and utilities, and a social psychologist, reasoning about the motivations of human relationships.

The coordination of work
The way that labour is coordinated within firms is different to coordination through markets:

Firms represent a concentration of economic power: This is placed in the hands of the owners and managers, who regularly issue directives with the expectation that their employees will carry them out. An order in the firm is a command.
Markets are characterized by a decentralization of power: Purchases and sales result from the buyers and sellers autonomous decision. An order in a market is a request for a purchase that can be rejected if the seller pleases.

The prices that motivate and constrain peoples actions in a market are the result of the actions of thousands or millions of individuals, not a decision by someone in authority. The idea of private property specifically limits the things a government or anyone else can do with your possessions.
In a firm, by contrast, owners or their managers direct the activities of their employees, who may number in the thousands or even millions. The managers of Walmart, the worlds largest retailer, decide on the activities of 2.2 million employees, a larger number of people than any army in world history before the nineteenth century. Walmart is an exceptionally large firm, but it is not exceptional in that it brings together a large number of people who work together in a way coordinated (by the management) to make profits.
Unlike flash mobs, firms do not form spontaneously and then disappear. Like any organization, firms have a decision-making process and ways of imposing their decisions on the people in it. When we say that Apple outsourced its component production or the firm sets a price of $10.75, we mean that the decision-making process in the firm resulted in these actions.3
Figure 6.1 shows a simplified picture of the firms actors and decision-making structure.












Figure 6.1 
The firms actors and its decision making and information structures.
        















Owners decide long-term strategies


The owners, through their board of directors, decide the long-term strategies of the firm concerning how, what, and where to produce. They then direct the manager(s) to implement these decisions.














Managers assign workers


Each manager assigns workers to the tasks required for these decisions to be implemented, and attempts to ensure that the assignments are carried out.














Flows of information


The green arrows represent flows of information. The upward green arrows are dashed lines because workers often know things that managers do not, and managers know things that owners do not.





asymmetric informationInformation that is relevant to the parties in an economic interaction, but is known by some but not by others. See also: adverse selection, moral hazard.

The dashed upward green arrows represent a problem of asymmetric information between levels in the firms hierarchy (owners and managers, managers and workers). Since owners or managers do not always know what their subordinates know or do, not all of their directions or commands (grey downward arrows) are necessarily carried out.
This relationship between the firm and its employees contrasts with the firms relationship to its customers, which we study in the next unit. The bakery firm cannot text its customers to tell them to Show up at 8 a.m. and purchase two loaves of bread at the price of 1 each. It could tempt its customers with a special offer, but unlike the employer with its employees, it cannot require them to show up. When you buy or sell something, it is generally voluntary. In buying or selling you respond to prices, not orders.
The firm is different: it is defined by having a decision-making structure in which some people have power over others. Ronald Coase, the economist who founded the study of the firm as both a stage and an actor, wrote:

If a workman moves from department Y to department X, he does not go because of a change in relative prices but because he is ordered to do so the distinguishing mark of the firm is the suppression of the price mechanism. (The Nature of the Firm, 1937)4

Coase pointed out that the firm in a capitalist economy is a miniature, privately owned, centrally planned economy. Its topdown decision-making structure resembles the centralized direction of production in entire economies that took place in many Communist countries (and in the US and the UK during the Second World War).5
Contracts and relationships

contractA legal document or understanding that specifies a set of actions that parties to the contract must undertake.

The difference between market interactions and relationships within firms is clear when we consider the differing kinds of contracts that form the basis of exchange.
A sale contract for a car transfers ownership, meaning that the new owner can now use the car and exclude others from its use. A rental contract on an apartment does not transfer ownership of the apartment (which would include the right to sell it); instead it gives the tenant a limited set of rights over the apartment, including the right to exclude others (including the landlord) from its use.

wage labourA system in which producers are paid for the time they work for their employers.

Under a wage labour contract, an employee gives the employer the right to direct him or her to be at work at specific times, and to accept the authority of the employer over the use of his or her time while at work.
The employer does not own the employee as a result of this contract. If the employer did, the employee would be called a slave. We might say that the employer has rented the employee for part of the day. To summarize:

Contracts for products sold in markets permanently transfer ownership of the good from the seller to the buyer.
Contracts for labour temporarily transfer authority over a persons activities from the employee to the manager or owner.

Firms differ from markets in another way: social interactions within firms sometimes extend over decades, or even a lifetime. In markets, we shop around, so our interactions are typically short-lived and not repeated. One of the reasons for this difference is that working in a firmas either a manager or an employeemeans acquiring a network of associates who are essential for the job to be done well. Some of our workmates will become our friends. Managers and employees also acquire both technical and social skills that are specific to the firm they work for.

firm-specific assetSomething that a person owns or can do that has more value in the individuals current firm than in their next best alternative.

Oliver Williamson, an economist, termed these skills, networks, and friendships relationship-specific or firm-specific assets because they are valuable only while the worker remains employed in a particular firm. When the relationship ends, their value is lost to both sides. Think about how different this is to the social interactions in the market. Although you may know the face or even the name of a person from whom you buy, or to whom you sell something, the relationship is typically temporary, in which case this knowledge has little value.
This social aspect becomes important economically when economic changes disrupt social interactions.
Imagine how your life as a shopper changes if your local grocery store closes tomorrow. You would have to find a new place to shop, and it might take you a few minutes to learn where the various items you need are on display.
Now imagine what would change if the company in which you work goes out of business tomorrow. You would lose your network of work associates, your workplace friendships, and your firm-specific social and technical skills would suddenly have become useless to you. You might have to move to a new town. Your children would need to change school, so they would lose contact with their friends too.
Thus, the people making up the firmowners, managers, and employeesare united in their common interest in the firms success, because all of them would suffer if it were to fail. However, they have conflicting interests about how to distribute the profits from the firms success amongst themselves (wages, managerial salaries, and owners profits), and may disagree about other policies such as conditions of work, managerial perks, and who makes the key decisionssuch as whether Apple should assemble iPhones in China or the US.

Exercise 6.1 The structure of an organization
In Figure 6.1 we showed the actors and decision-making structure of a typical firm.

How might the actors and decision-making structure of three organizations, Google, Wikipedia, and a family farm compare with this?
Draw an organizational structure chart in the style of Figure 6.1 to represent each of these entities.



Question 6.1 Choose the correct answer(s)
Which of the following statements is true?

A labour contract transfers ownership of the employee from the employee to the employer.
The office where the employee works is a relation-specific asset, because the employee cannot use it after leaving the firm.
In a labour contract, one side of the contract has the power to issue orders to the other side, but this power is absent from a sale contract.
A firm is a structure that involves decentralization of power to the employees.


That would be slavery. A labour contract grants the firm the authority to direct the activities of the employee during specific times.
The office is not a relation-specific asset, because after the relationship ends another employee can use it, so it still has value to the firm.
A labour contract gives the employer the authority to direct the activities of the employee, whereas a sale contract transfers property rights and does not bind the parties to further actions.
Firms represent a concentration of economic power in the hands of the owners and managers.