6.6 Work and wages: The labour discipline model
When the cost of job loss (the employment rent) is large, workers will be willing to work harder in order to reduce the likelihood of losing the job. Holding constant other ways that it might influence the employment rent, a firm can increase the cost of job loss, and therefore the effort exerted by its employees, by raising wages.
We now represent this social interaction in the firm as a game played by the owners (through their managers) and the employees.
Remember that a game is a description of a social interaction, including:

a list of the players
the strategies they can adopt
the order in which the players choose their actions
what the players know when they choose their actions
the outcomes for each of the players (their payoffs) for all of the strategies that may be chosen

As with other models, we ignore some aspects of their interaction to focus on what is important, following the principle that sometimes we see more by looking at less.
On the stage of the firm, the cast of characters is just the owner (the employer) and a single worker, Maria. The game is sequential (one of them chooses first, like the ultimatum game that we saw in Section 10 of Unit 4) and is repeated in each period of employment. Here is the order of play:

The employer chooses a wage: This is based on his knowledge of how employees like Maria respond to higher or lower wages, and informs her that she will be employed in subsequent periods at the same wageas long as she works hard enough.
Maria chooses a level of work effort: This is in response to the wage offered, taking into account the costs of losing her job if she does not provide enough effort.

The payoff for the employer is the profit. The greater Marias effort, the more goods or services she will produce, and the more profit he will make. Marias payoff is her net valuation of the wage she receives, taking into account the effort she has expended.

Nash equilibriumA set of strategies, one for each player in the game, such that each players strategy is a best response to the strategies chosen by everyone else.

If Marias chooses her work effort as a best response to the employers offer, and the employer chooses the wage that maximizes his profit given that Maria responds the way she does, their strategies are a Nash equilibrium.
Employers typically hire work supervisors and may install surveillance equipment to keep watch on their employees, increasing the likelihood that the management will find out if a worker is not working hard and well. Here we will ignore these extra costs and just assume that the employer occasionally gets some information on how hard or well an employee is working. This is not enough to implement a piece-rate contract, but more than enough to fire a worker if the news is not good. Maria knows that the chance of the employer getting bad news decreases the harder she works.
To decide on the wage to set, the employer needs to know how the employees work effort will respond to higher wages. So we will consider Marias decision first.
The employees best response
Marias effort can vary between zero and one. We can think of this as the proportion of each hour that she spends working diligently (the rest of the time she is not working). An effort level of 0.5 indicates she is spending half the working day on non-work related activities such as checking Facebook, shopping online, or just staring out of the window.
We will assume that Marias reservation wage is $6. Even if she put in no work whatsoever (and so endured no disutility of effort, spending all day on Facebook and day-dreaming) her job at a $6 wage would be no better than being without work. So she would not care one way or the other if her job ended. Her best response to a wage of $6 would be zero effort.
What if she were paid a higher wage?
For Maria, effort has a costthe disutility of workand a benefit: it increases the likelihood of her keeping the job, and the employment rent. In her choice of effort she needs to find a balance between these two.
A higher wage increases the employment rent and hence the benefit from effort, so it will lead her to choose a higher level of effort. Marias best response (the effort she chooses) will increase with the level of the wage chosen by the employer.

workers best response function (to wage)The optimal amount of work that a worker chooses to perform for each wage that the employer may offer.

Figure 6.4 shows the effort Maria chooses for each level of the wage, referred to as her best response curve, or best response function. (Just like the production functions in Unit 3, it shows how one variable, in this case effort, depends on another, the wage.)












Figure 6.4 
Marias best response to the wage. Point J refers to the information in Figure 6.3 (wage = $12, effort = 0.5 and expected duration of unemployment if she were to lose her job = 44 weeks).
        















Effort per hour


Effort per hour, measured on the vertical axis, varies between zero and one.














The relationship between effort and the wage


If Maria is paid $6 she does not care if she loses her job because $6 is her reservation wage. This is why she provides no effort at a $6 wage. If she is paid more, she provides more effort.














The workers best response


The upward-sloping curve shows how much effort she puts in for each value of the hourly wage on the horizontal axis.














The effect of a wage increase when effort is low


When the wage is low, the best response curve is steep: a small wage increase raises effort by a substantial amount.














Diminishing marginal returns


At higher levels of wages, however, increases in wages have a smaller effect on effort.














The employers feasible set


The best response curve is the frontier of the employers feasible set of combinations of wages and effort that it gets from its employees.














The employers MRT


The slope of the best response curve is the employers marginal rate of transformation of higher wages into more worker effort.




Point J in Figure 6.4 represents the situation in Figure 6.3 discussed at the end of the previous section. Marias reservation wage is $6, she is paid $12, and chooses effort of 0.5.
The best response curve is concave. It becomes flatter as the wage and the effort level increase. This is because, as the level of effort approaches the maximum possible level, the disutility of effort becomes greater. In this case it takes a larger employment rent (and hence a higher wage) to get effort from the employee.
Seen from the standpoint of the owner or the employer, the best response curve shows how paying higher wages can elicit higher effort, but with diminishing marginal returns. In other words, the higher the initial wage, the smaller the increase in effort and output the employer gets from an extra $1 per hour in wages.
The best response curve is the frontier of the feasible set of combinations of wages and effort the firm can get from its employees, and the slope of the frontier is the marginal rate of transformation of wages into effort.
The lowest wage the firm could set for Maria would be the reservation wage, $6, where the best response curve hits the horizontal axis and effort is zero. So we can see that the firm would never offer the lowest wage possible, because she would not work.
Leibniz: The workers best response function
We have drawn the best response function in Figure 6.4 under the assumption that unemployment is expected to last 44 weeks. If the expected duration were to change, the best response function would change too. If economic conditions worsened, increasing unemployment duration, Marias employment rent would be higher. So for any wage, her best response would be to exert a higher level of effort.

Question 6.6 Choose the correct answer(s)
Figure 6.4 depicted Marias best response curve when the expected duration of unemployment was 44 weeks. Which of the following statements is correct?

If the expected unemployment duration increased to 50 weeks, Marias best response to a wage of $12 would be an effort level above 0.5.
If the unemployment benefit was reduced, then Marias reservation wage would be higher than $6.
Over the range of wages shown in the figure, Maria would never exert the maximum possible effort per hour.
Increasing effort from 0.5 to 0.6 requires a bigger wage increase than increasing effort from 0.8 to 0.9.


0.5 is Marias best response to a wage of $12 when expected unemployment duration is 44 weeks. If duration increases to 50 weeks, the cost of job loss is higher, so Maria will work harder for the same wage.
If the unemployment benefit was reduced, then the reservation wage would fall below $6.
The maximum level of effort would not be provided over the wage range shown.
When effort is lower, a smaller wage rise is required to increase it by 0.1.


Inequality