6.8 Putting the model to work: Owners, employees, and the economy
Until now we have considered how the employer chooses a point on the best response function. But changes in economic conditions or public policies can shift the entire best response function, moving it to the right (or up) or to the left (or down).
The employees incentive to choose a high level of effort depends on how much she has to lose (the employment rent), but also the likelihood of losing it. So the position of the best response function depends on:

the utility of the things that can be bought with the wage
the disutility of effort
the reservation wage
the probability of getting fired when working at each effort level

If there are changes in any of these factors, the best response curve will shift.
First, imagine how an increase in the unemployment rate affects the best response curve. When unemployment is high, workers who lose their jobs can expect a longer spell of unemployment. Recall that unemployment benefits (including support from family and friends) are limited, so the longer the expected spell of unemployment, the lower the level of the unemployment benefit per hour of lost work (or per week). So an increase in the duration of a spell of unemployment has two effects:

It reduces the reservation wage: This increases the employment rent per hour.
It extends the period of lost work time: This increases total employment rents (the cost of job loss).

Figure 6.7 shows the effects on the best response curve of a rise in unemployment, and also of a rise in unemployment benefits.












Figure 6.7 
The best response curve depends on the level of unemployment and the unemployment benefit.
        















The status quo


The position of the best response curve depends on the reservation wage. It crosses the horizontal axis at this point.














The effect of unemployment benefits


A rise in the unemployment benefit increases the reservation wage and shifts the workers best response curve to the right.














An increase in unemployment


If unemployment rises, the expected duration of unemployment increases. So the workers reservation wage falls and the best response curve shifts to the left.














Effort changes for each wage


For a given hourly wage, say $18, workers put in different levels of effort when the levels of unemployment or unemployment benefit change.




A rise in the level of unemployment shifts the best response curve to the left:

For a given wage, say $18, the amount of effort that the worker will provide increases, improving the profit-making conditions for the employer.
The wage that the employer would have to pay to get a given effort level, say 0.6, decreases.

A rise in unemployment benefits shifts the best response curve to the right, so it has the opposite effects.
Economic policies can alter both the size of the unemployment benefit and the extent of unemployment (and hence the duration of a spell of unemployment). These policies are often controversial. A rightward shift of the employees best response function favours employees, who will put in less effort for any given wage, while a leftward shift favours owners, who will acquire the effort of their employees at a lower cost, raising profits.

Exercise 6.5 Effort and wages
Suppose that, with the status quo best response curve in Figure 6.7, the firm chooses the wage to minimize the cost of effort, and the workers best response is an effort level of 0.6. If unemployment rose:

Would effort be higher or lower than 0.6 if the firm did not change the wage?
How would the firm change the wage if it wanted to keep the effort level at 0.6?
How would the wage change if the firm minimized the cost of effort at the new unemployment level?



How economists learn from facts Workers speed up when the economy slows down
The idea that employment rents are an incentive for employees to work harder is illustrated in a study by Edward Lazear (an economic advisor to former US President George W. Bush) and his co-authors. They investigated a single firm during the global financial crisis, to see how the managers and workers reacted to the turbulent economic conditions. The firm specializes in technology-based services such as insurance-claims processing, computer-based test grading, and technical call centres, and operates in 12 US states. The nature of the work made it easy for the management of the firm to track the productivity of workers, which is a measure of worker effort.
It also allowed Lazear and his colleagues to use the firms data from 20062010 to analyse the effect on worker productivity of the worst recession since the Great Depression.
When unemployment rose, workers could expect a longer spell of unemployment if they lost their job. Firms did not use their increased bargaining power to lower wages as they could have, fearing the reaction of their employees.
Lazear and his co-authors found that, in this firm, productivity increased dramatically as unemployment rose during the financial crisis. One possible explanation is that average productivity increased because management fired the least productive members of the workforce. But Lazear found that the effect was more due to workers putting in extra effort. The severity of the recession raised the workers employment rent for any given wage, and they were therefore willing to work harder. We would predict from our model that the best response curve would have shifted to the left as a result of the recession. This meant that (unless employers lowered wages substantially) workers would work harder. Apparently, this is what happened.16
Our model shows that employers could have cut wages, while sustaining an employment rent sufficient to motivate hard work. An earlier recession provided another insight that helps to explain their reluctance to reduce wages in the crisis. Truman Bewley, an economist, was puzzled when he saw only a handful of firms in the northeast of the US cutting wages during the recession of the early 1990s. Most firms, like the one Lazears team studied, did not cut their wages at all.
Bewley interviewed more than 300 employers, labour leaders, business consultants, and careers advisors in the northeast of the US. He found that employers chose not to cut wages because they thought it would hurt employee morale, reducing productivity and leading to problems of hiring and retention. They thought it would ultimately cost the employer more than the money they would save in wages.17


Exercise 6.6 Lazears results
Use the best response diagram to sketch the results found by Lazear and co-authors in their study of a firm during the global financial crisis.


Draw a best response curve for each of the following years and explain what it illustrates:

the pre-crisis period (2006)
the crisis years (20078)
the post-crisis year (2009)

Assume that the employer did not adjust wages.


Is there a reason why a firm might not cut wages during a recession? Think about the research of Truman Bewley and the experimental evidence about reciprocity in Unit 4.




Exercise 6.7 Outsourcing comes home
At the start of this unit, we discussed the decision by many clothing companies to outsource production to Bangladesh and other low-wage economies. Show your results in a single diagram.

Draw the best response curve of the workers in the high-wage home country in the absence of outsourcing (with the wage on the horizontal axis, and effort on the vertical axis).
In the same diagram show the best response curve of workers in the foreign low-wage country in the absence of outsourcing. (Assume that wages are measured in dollars in both cases.)
Show in your diagram what the home country employer will pay home country workers if outsourcing is not possible.
Show in your diagram what the home country employer will pay workers in the low-wage country if it switches production there (ignore the costs of moving production).
Now assume that outsourcing is possible and is widely practiced by many firms in the clothing industry. Show the best response function for home country workers under these conditions. Explain why this is different from your answer to 1. Show these outcomes in a diagram.



Question 6.8 Choose the correct answer(s)
Which of the following statements are true?

If unemployment benefits are increased, the minimum cost of a unit of effort for the employer will rise.
If the wage doesnt change, employees will work harder in periods of high unemployment.
If workers continue to receive benefits however long they remained unemployed, an increase in the level of unemployment will have no effect on the best response curve.
If an employees disutility of effort increases, the reservation wage will rise.


An increase in unemployment benefits shifts the best response curve to the right. The employer will no longer be able to reach the isocost line tangent to the original best response curve, so the cost of effort must rise.
In periods of high unemployment, the cost of job loss is higher. At any given wage level, employees will choose higher effort to reduce the chance of losing their jobs.
In this case, an increase in the level of unemployment would not affect the reservation wage, but it would increase the cost of job loss so the best response curve will change.
At the reservation wage, the employee is indifferent between employment and unemployment, and would exert no effort. So a change in the disutility of effort would have no effect.


InequalityPolitics and policy