Unit 7 The firm and its customers  The Economy





































The Economy






Contents








Unit 7 The firm and its customers
Themes and capstone units   21: Innovation            22: Politics and policy         
How a profit-maximizing firm producing a differentiated product interacts with its customers

Firms producing differentiated products choose price and quantity to maximize their profits, taking into account the product demand curve and the cost function.
Technological and cost advantages of large-scale production favour large firms.
The responsiveness of consumers to a price change is measured by the elasticity of demand, which affects the firms price and profit margin.
The gains from trade are shared between consumers and firm owners, but prices above marginal cost cause market failure and deadweight loss.
Firms can increase profit through product selection and advertising. Those with fewer competitors can achieve higher profit margins, and monopoly rents.
Economic policymakers use elasticities of demand to design tax policies, and reduce firms market power through competition policy.

Ernst F. Schumachers Small is Beautiful, published in 1973, advocated small-scale production by individuals and groups in an economic system designed to emphasize happiness rather than profits.1 In the year the book was published, the firms Intel and FedEx each employed only a few thousand people in the US. Forty years later, Intel employed around 108,000 people, and FedEx more than 300,000. Walmart had around 3,500 employees in 1973. In 2016 it employed 2.3 million.
Most firms are much smaller than this, but in all rich economies, most people work for large firms. In the US, 52% of private-sector employees work in firms with at least 500 employees. Firms grow because their owners can make more money if they expand, and people with money to invest get higher returns from owning stock in large firms. Employees in large firms are also paid more. Figure 7.1 shows the growth of some highly successful US firms.











Firm size in the US: Number of employees (19002006).


Figure 7.1 
Firm size in the US: Number of employees (19002006).
        






                                View this data at OWiD
                        


Erzo G. J. Luttmer. 2011. On the Mechanics of Firm Growth. The Review of Economic Studies 78 (3): pp.104268.



What strategies can firms use to prosper and grow like the ones in Figure 7.1? The story of the British retailer Tesco, founded in 1919 by Jack Cohen, suggests one answer.

Jack Cohen, the founder of Tesco, began as a street market trader in the East End of London. The traders would gather at dawn each day and, at a signal, race to their favourite stall site, known as a pitch. Cohen perfected the technique of throwing his cap to claim the most desirable pitch. In the 1950s, Cohen began opening supermarkets on the US model, adapting quickly to this new style of operation. Tesco became the UK market leader in 1995, and now employs almost half a million people in Europe and Asia.
Today Tescos pricing strategy aims to appeal to all segments of the market, labelling some of its own-brand products as Finest, and others as Value. The BBC Money Programme summarized the three Tesco commandments as be everywhere, sell everything, and sell to everyone.

Pile it high and sell it cheap, was Jack Cohens motto. He started as a street trader in the East End of London, and opened his first store 10 years later. Today, 1 in every 9 spent in a shop in the UK is spent in a Tesco store, and the company expanded worldwide in the 1990s. In 2014 Tesco had higher profits than any other retailer in the world except Walmart. Keeping the price low as Cohen recommended is one possible strategy for a firm seeking to maximize its profits: even though the profit on each item is small, the low price may attract so many customers that total profit is high.
Other firms adopt quite different strategies. Apple sets high prices for iPhones and iPads, increasing its profits by charging a price premium, rather than lowering prices to reach more customers. For example, between April 2010 and March 2012, profit per unit on Apple iPhones was between 49% and 58% of the price. During the same period, Tescos operating profit per unit was between 6.0% and 6.5%.
A firms success depends on more than getting the price right. Product choice and ability to attract customers, produce at lower cost and at a higher quality than their competitors all matter. They also need to be able to recruit and retain employees who can make all these things happen.
Figure 7.2 illustrates key decisions that a firm makes. In this unit, we will focus particularly on how a firm chooses the price of a product, and the quantity to produce. This will depend on the demand it facesthat is, the willingness of potential consumers to pay for its productand its production costs.
The demand for a product will depend on its price, and the costs of production may depend on how many units are produced. But a firm can actively influence both consumer demand and costs in more ways than through price and quantity. As we saw in Unit 2, innovation may lead to new and attractive products, or to lower production costs. If the firm can innovate successfully it can earn economic rentsat least in the short term until others catch up. Further innovation may be needed if it is to stay ahead. Advertising can increase demand. And as we saw in Unit 6, the firm sets the wage, which is an important component of its cost. As we will see in later units, the firm also spends to influence taxes and environmental regulation in order to lower its production costs.











The firms decisions.


Figure 7.2 
The firms decisions.