7.9 Using demand elasticities in government policy
Measuring elasticities of demand is useful to policymakers. If the government puts a tax on a particular good, the tax will raise the price paid by consumers, so the effect of the tax will depend on the elasticity of demand:

If demand is highly elastic: A tax will cause a large reduction in sales. That may be intentional, as when governments tax tobacco to discourage smoking because it is harmful to health.
If a tax causes a large fall in sales: It also reduces potential tax revenue.

So a government wishing to raise tax revenue should choose to tax products with inelastic demand.
Several countries, including Mexico and France, have introduced taxes intended to reduce the consumption of unhealthy food and drink. A 2014 international study found worrying increases in adult and childhood obesity since 1980. In 2013, 37% of men and 38% of women worldwide were overweight or obese. In North America, the figures were 70% and 61%, but the obesity epidemic does not only affect the richest countries: the corresponding rates were 59% and 66% in the Middle East and North Africa.
Matthew Harding and Michael Lovenheim used detailed data on the food purchases of US consumers to estimate elasticities of demand for different types of food, to investigate the effects of food taxes. They divided food products into 33 categories and used a model of consumer decision making to examine how changes in their prices would change the share of each category in consumers expenditure on food, and hence the nutritional composition of the diet, taking into account that the change in the price of any product would change the demand for that product and other products too. Figure 7.19 shows the prices and elasticities for some of the categories.





Category
Type
Calories per serving
Price per 100 g ($)
Typical spending per week ($)
Price elasticity of demand


1
Fruit and vegetables
660
0.38
2.00
1.128


2
Fruit and vegetables
140
0.36
3.44
0.830


15
Grain, pasta, bread
1,540
0.38
2.96
0.845


17
Grain, pasta, bread
960
0.53
2.64
0.292


28
Snacks, candy
433
1.13
4.88
0.270


29
Snacks, candy
1,727
0.68
7.60
0.295


30
Milk
2,052
0.09
2.32
1.793


31
Milk
874
0.15
1.44
1.972




Figure 7.19 
Price elasticities of demand for different types of food. See the Calories per serving to compare high and low calorie groups of each food type.
        





Matthew Harding and Michael Lovenheim. 2013. The Effect of Prices on Nutrition: Comparing the Impact of Product- and Nutrient-Specific Taxes. SIEPR Discussion Paper No. 13-023.



You can see that the demand for lower-calorie milk products (category 31) is the most price-responsive. If their price increased by 10%, the quantity purchased would fall by 19.72%. Demand for snacks and candy is quite inelastic, which suggests that it may be difficult to deter consumers from buying them.

Exercise 7.6 Elasticity and expenditure
Figure 7.19 shows the spending per week in each category of a US consumer whose total expenditure on food is $80, with typical spending patterns across food categories. Suppose that the price of category 30, high-calorie milk products, increased by 10%:

By what percentage would his demand for high-calorie milk products fall?
Calculate the quantity he consumes, in grams, before and after the price change.
Calculate his total expenditure on high-calorie milk products before and after the price change. You should find that expenditure falls.
Now choose a category for which the price elasticity is less than 1, and repeat the calculations. In this case you should find that expenditure rises.



For additional insight, this blog illustrates one reaction to Matthew Harding and Michael Lovenheims research: The Huffington Post. 2014. Theres An Easy Way To Fight Obesity, But Conservatives Will HATE It.

Harding and Lovenheim examined the effects of 20% taxes on sugar, fat and salt. A 20% sugar tax, for example, would increase the price of a product that contains 50% sugar by 10%. A sugar tax was found to have the most positive effect on nutrition. It would reduce sugar consumption by 16%, fat by 12%, salt by 10%, and calorie intake by 19%.6

Exercise 7.7 Food taxes and health
Food taxes intended to shift consumption towards a healthier diet are controversial. Some people think that individuals should make their own choices, and if they prefer unhealthy products, the government should not interfere. In view of the fact that those who become ill will be cared for at some public expense, others argue that the government has a role in keeping people healthy.
In your own words, provide arguments for or against food taxes designed to encourage healthy eating.

Politics and policy