7.10 Price-setting, competition, and market power

monopolyA firm that is the only seller of a product without close substitutes. Also refers to a market with only one seller. See also: monopoly power, natural monopoly.

Our analysis of the firms pricing decisions applies to any firm producing and selling a product that is in some way different from that of any other firm. In the nineteenth century the French economist Augustin Cournot carried out a similar analysis using the example of bottled water from a mineral spring which has just been found to possess salutary properties possessed by no other. Cournot referred to this as a case of monopolyin a monopolized market there is only one seller. He showed, as we have done, that the firm would set a price greater than the marginal production cost.7

Great economists Augustin Cournot

Augustin Cournot (18011877) was a French economist, now most famous for his model of oligopoly (a market with a small number of firms). Cournots 1838 book Recherches sur les Principes Mathmatiques de la Thorie des Richesses (Research on the Mathematical Principles of the Theory of Wealth) introduced a new mathematical approach to economics, although he feared it would draw on me the condemnation of theorists of repute. Cournots work influenced other nineteenth century economists such as Marshall and Walras, and established the basic principles we still use to think about the behaviour of firms. Although he used algebra rather than diagrams, Cournots analysis of demand and profit maximization is very similar to ours.

We saw in Section 7.6 that when the producer of a differentiated good sets a price above the marginal cost of production, the market outcome is not Pareto efficient. When trade in a market results in a Pareto-inefficient allocation, we describe this as a case of market failure.

Market failure
Market failure occurs when markets allocate resources in a Pareto-inefficient way.

The deadweight loss gives us a measure of the consequences of market failure: the size of the unexploited gains from trade. And we saw in Section 7.7 that the deadweight loss resulting from setting a price above marginal cost is high when the elasticity of demand is low.
So what determines the elasticity demand for a product, and why do some firms face more elastic demand than others? To answer this question, we need to think again about how consumers behave.
Markets with differentiated products reflect differences in the preferences of consumers. People who want to buy a car are looking for different combinations of characteristics. A consumers willingness to pay for a particular model will depend not only on its characteristics, but also on the characteristics and prices of similar types of car sold by other firms.
For example, Figure 7.20 shows the purchase prices of a three-door 1.0litre hatchback in the UK in January 2014, which a consumer could find on a price comparison website.






Price ()


Ford Fiesta
11,917


Vauxhall Corsa
11,283


Peugeot 208
10,384


Toyota IQ
11,254




Figure 7.20 
Car purchase prices in the UK (January 2014, Autotrader.com).
        




Although the four cars are similar in their main characteristics, the website compares them on 75 other features, many of which differ between them.
When consumers can choose between several quite similar cars, the demand for each of these cars is likely to be quite elastic. If the price of the Ford Fiesta, for example, were to rise, demand would fall because people would choose to buy one of the other brands instead. Conversely, if the price of the Fiesta were to fall, demand would increase because consumers would be attracted away from the other cars. The more similar the other cars are to a Fiesta, the more responsive consumers will be to price differences. Only those with the highest brand loyalty to Ford, and those with a strong preference for a characteristic of the Ford that other cars do not possess, would fail to respond. Then the firm will have a relatively low price and profit margin.

monopoly rentsA form of economic profits, which arise due to restricted competition in selling a firms product. See also: economic profit.

In contrast, the manufacturer of a very specialized type of car, quite different from any other brand in the market, faces little competition and hence less elastic demand. It can set a price well above marginal cost without losing customers. Such a firm is earning monopoly rents (economic profits over and above its production costs) arising from its position as the only supplier of this type of car (likewise, an innovative firm earns rents while it is the only firm using a new technology: see Unit 2).

substitutesTwo goods for which an increase in the price of one leads to an increase in the quantity demanded of the other. See also: complements.market powerAn attribute of a firm that can sell its product at a range of feasible prices, so that it can benefit by acting as a price-setter (rather than a price-taker).

So a firm will be in a strong position if there are few firms producing close substitutes for its own brand, because it faces little competition. Then its elasticity of demand will be relatively low. We say that such a firm has market power. It will have sufficient bargaining power in its relationship with customers to set a high price without losing them to competitors.
Competition policy
This discussion helps to explain why policymakers may be concerned about firms that have few competitors. Market power allows them to set high prices, and make high profits, at the expense of consumers. Potential consumer surplus is lost both because few consumers buy, and because those who buy pay a high price. The owners of the firm benefit, but overall there is a deadweight loss.
A firm selling a niche product catering for the preferences of a small number of consumers (such as a Beautiful Car or a luxury brand like a Lamborghini) is unlikely to attract the attention of policymakers, despite the loss of consumer surplus. But if one firm is becoming dominant in a large market, governments may intervene to promote competition. In 2000 the European Commission prevented the proposed merger of Volvo and Scania, on the grounds that the merged firm would have a dominant position in the heavy trucks market in Ireland and the Nordic countries. In Sweden the combined market share of the two firms was 90%. The merged firm would have been almost a monopolythe extreme case of a firm that has no competitors at all.

cartelA group of firms that collude in order to increase their joint profits.

A particular concern is that when there are only a few firms in a market they may form a cartel: a group of firms that collude to keep the price high. By working together and behaving as a monopoly, rather than competing, they can increase profits. A well-known example is OPEC, an association of oil-producing countries. OPEC members jointly agree to set production levels to control the global price of oil. The OPEC cartel played a major role in sustaining high oil prices at a global level following the sharp increase in oil prices in 1973 and again in 1979. We return to study the causes of fluctuations in oil prices in Unit 11 and the effect of the oil price shocks on inflation and unemployment in Unit 15.

competition policyGovernment policy and laws to limit monopoly power and prevent cartels. Also known as: antitrust policy.

While cartels between private firms are illegal in many countries, firms often find ways to cooperate in the setting of prices so as to maximize profits. Policy to limit market power and prevent cartels is known as competition policy, or antitrust policy in the US.
Dominant firms may exploit their position by strategies other than high prices. In a famous antitrust case, the US Department of Justice accused Microsoft of behaving anti-competitively by bundling its own Internet Explorer web-browser with its Windows operating system.8 In the 1920s, an international group of companies making electric light bulbs, including Philips, Osram, and General Electric, formed a cartel that agreed a policy of planned obsolescence to reduce the lifetime of their bulbs to 1,000 hours, so that consumers would have to replace them more quickly.9 Despite its promise of always low prices, some people accuse Walmart of using its power unfairly, to reduce wages in the area around its stores, drive smaller retailers out of the market, or reduce the profits of its wholesale suppliers to unsustainable levels.10 A paper by John Vickers examines the economic basis for these claims.11

Exercise 7.8 Multinationals or independent retailers?
Imagine that you are a politician in a town where a multinational retailer is planning to build a new superstore. A local campaign is protesting that it will drive small independent retailers out of business, and thereby reduce consumer choice and change the character of the area. Supporters of the plan argue in turn that this will only happen if consumers prefer the supermarket.
Which side are you on?


Question 7.16 Choose the correct answer(s)
Suppose that in a small town a multinational retailer is planning to build a new superstore. Which of the following arguments could be correct?

The local protestors argue that the close substitutability of some of the goods sold between the new retailer and existing ones means that the new retailer faces inelastic demand for those goods, giving it excessive market power.
The new retailer argues that the close substitutability of some of the goods implies a high elasticity of demand, leading to healthy competition and lower prices for consumers.
The local protestors argue that once the local retailers are driven out, there will be no competition, giving the multinational retailer more market power and driving up prices.
The new retailer argues that most of the goods sold by local retailers are sufficiently differentiated from its own goods that their elasticity of demand will be high enough to protect the local retailers profits.


The availability of close substitutes implies elastic demands for those goods.
Close substitutability between goods implies competition between providers, which typically results in lower prices.
If the local retailers are driven out, the multinational will have more market power. It will face less elastic demand, and be able to raise prices without losing customers.
High differentiability (low substitutability) implies less elastic demand.


Innovation