7.13 Conclusion
We have studied how firms producing differentiated goods choose the price and the quantity of output to maximize their profit. These decisions depend on the demand curve for the productespecially the elasticity of demandand the cost structure for producing it. They will choose a price above the marginal cost of productioneven more so when competition is limited and the elasticity of demand low.
Increasing returns in production and other cost advantages favour firms operating at large scale, where the unit cost is low. Innovation can also reduce costs and raise profits.
When the market price is above the marginal production cost, there is market failure: the allocation of the good is Pareto inefficient. Firms make economic profits, but consumer surplus is lower than it would be if the price was equal to the marginal cost, and there is a deadweight loss. So policymakers may be concerned when firms achieve a dominant position in a market. They can use competition policy and regulation to limit the exercise of market power.

Concepts introduced in Unit 7
Before you move on, review these definitions:

Differentiated product
Economies of scale
Cost function
Willingness to pay
Demand curve
Price-setting
Consumer surplus
Producer surplus
Deadweight loss
Market failure
Elasticity of demand
Profit margin