7.1 Breakfast cereal: Choosing a price

demand curveThe curve that gives the quantity consumers will buy at each possible price.

To decide what price to charge, a firm needs information about demand: how much potential consumers are willing to pay for its product. Figure 7.3 shows the demand curve for Apple-Cinnamon Cheerios, a ready-to-eat breakfast cereal introduced by the company General Mills in 1989. In 1996, Jerry Hausman, an economist, used data on weekly sales of family breakfast cereals in US cities to estimate how the weekly quantity of cereal that customers in a typical city would wish to buy would vary with its price per pound (there are 2.2 pounds in 1 kg). For example, you can see from Figure 7.3 that if the price were $3, customers would demand 25,000 pounds of Apple-Cinnamon Cheerios. For most products, the lower the price, the more customers wish to buy.

How economists learn from facts Estimating demand curves using surveys
Jerry Hausman used data on cereal purchases to estimate the demand curve for Apple-Cinnamon Cheerios. Another method, particularly useful for firms introducing completely new products, is a consumer survey. Suppose you were investigating the potential demand for space tourism. You could try asking potential consumers:
How much would you be willing to pay for a 10-minute flight in space?
But they may find it difficult to decide, or worse, they may lie if they think their answer will affect the price eventually charged. A better way to find out their true willingness to pay might be to ask:
Would you be willing to pay $1,000 for a 10-minute flight in space?
In 2011, someone did this, so now we know the consumer demand for space flight.2
Whether the product is cereal or space flight, the method is the same. If you vary the prices in the question, and ask a large number of consumers, you would be able to estimate the proportion of people willing to pay each price. Hence you can estimate the whole demand curve.












Estimated demand for Apple-Cinnamon Cheerios.


Figure 7.3 
Estimated demand for Apple-Cinnamon Cheerios.
        





Adapted from Figure 5.2 in Jerry A. Hausman. 1996. Valuation of New Goods under Perfect and Imperfect Competition. In The Economics of New Goods, pp.207248. Chicago, IL: University of Chicago Press.



If you were the manager at General Mills, how would you choose the price for Apple-Cinnamon Cheerios in this city, and how many pounds of cereal would you produce?
You need to consider how the decision will affect your profits (the difference between sales revenue and production costs). Suppose that the unit cost (the cost of producing each pound) of Apple-Cinnamon Cheerios is $2. To maximize your profit, you should produce exactly the quantity you expect to sell, and no more. Then revenue, costs, and profit are given by:

So we have a formula for profit:

Using this formula, you could calculate the profit for any choice of price and quantity and draw the isoprofit curves, as in Figure 7.4. Just as indifference curves join points in a diagram that give the same level of utility, isoprofit curves join points that give the same level of total profit. We can think of the isoprofit curves as the firms indifference curves: the firm is indifferent between combinations of price and quantity that give you the same profit.













Isoprofit curves for the production of Apple-Cinnamon Cheerios. Note: Isoprofit data is illustrative only, and does not reflect the real-world profitability of the product.


Figure 7.4 
Isoprofit curves for the production of Apple-Cinnamon Cheerios. Note: Isoprofit data is illustrative only, and does not reflect the real-world profitability of the product.
        















Isoprofit curves


The graph shows a number of isoprofit curves for Cheerios.














Isoprofit curve: $60,000


You could make $60,000 profit by selling 60,000 pounds at a price of $3, or 20,000 pounds at $5, or 10,000 pounds at $8, or in many other ways. The curve shows all the possible ways of making $60,000 profit.














Isoprofit curve: $34,000


The $34,000 isoprofit curve shows all the combinations of P and Q for which profit is equal to $34,000.














Isoprofit curve: $23,000


The isoprofit curves nearer to the origin correspond to lower levels of profit.














Isoprofit curve: $10,000


The cost of each pound of Cheerios is $2, so profit = (P  2)  Q. This means that isoprofit curves slope downward. To make a profit of $10,000, P would have to be very high if Q was less than 8,000. But if Q = 80,000 you could make this profit with a low P.














Zero profits


The horizontal line shows the choices of price and quantity where profit is zero: if you set a price of $2, you would be selling each pound of cereal for exactly what it cost.





Question 7.1 Choose the correct answer(s)
A firms cost of production is 12 per unit of output. If P is the price of the output good and Q is the number of units produced, which of the following statements is correct?

Point (Q, P) = (2,000, 20) is on the isoprofit curve representing the profit level 20,000.
Point (Q, P) = (2,000, 20) is on a lower isoprofit curve than point (Q, P) = (1,200, 24).
Points (Q, P) = (2,000, 20) and (4,000, 16) are on the same isoprofit curve.
Point (Q, P) = (5,000, 12) is not on any isoprofit curve.


At (Q, P) = (2,000, 20), profit = (20  12)  2,000 = 16,000.
At (Q, P) = (1,200, 24), profit = (24  12)  1,200 = 14,400. At (Q, P) = (2,000, 20), profit = (20  12)  2,000 = 16,000. Therefore, (2,000, 20) is on a higher isoprofit curve.
At (Q, P) = (2,000, 20), profit = (20  12)  2,000 = 16,000. At (Q, P) = (4,000, 16), profit = (16  12)  4,000 = 16,000. Therefore, these two points are on the same isoprofit curve.
At P = 12 the firm makes no profit. Therefore (5,000, 12) will be on a horizontal isoprofit curve representing zero profit.



Question 7.2 Choose the correct answer(s)
Consider a firm whose unit cost (the cost of producing one unit of output) is the same at all output levels. Which of the following statements are correct?

Each isoprofit curve depicts the firms profit for different outputs for a given price of the output good.
Isoprofit curves can be upward-sloping when at high profit levels.
Every price-quantity combination lies on an isoprofit curve.
Isoprofit curves slope downward when the price is above the unit cost.


An isoprofit curve joins all combinations of price and output for which the firms profit is the same.
If profit is high, the price must be above the unit cost. Then if output is increased, the price has to be reduced to keep the profit level constant. Therefore, isoprofit curves must slope downward.
You can calculate the profit for any combination of price and quantity, and draw an isoprofit curve through it by finding other points that give the same profit.
If the price is above the unit cost, then if output is increased the price must be lowered to keep profit constant, so isoprofit curve slopes downward.


To achieve a high profit, you would like both price and quantity to be as high as possible, but you are constrained by the demand curve. If you choose a high price, you will only be able to sell a small quantity; and if you want to sell a large quantity, you must choose a low price.
The demand curve determines what is feasible. Figure 7.5a shows the isoprofit curves and demand curve together. You face a similar problem to Alexei, the student in Unit 3, who wanted to choose the point in his feasible set where his utility was maximized. You want to choose a feasible price and quantity combination that will maximize your profit.












Figure 7.5a 
The profit-maximizing choice of price and quantity for Apple-Cinnamon Cheerios.
        





Demand curve data from Jerry A. Hausman. 1996. Valuation of New Goods under Perfect and Imperfect Competition. In The Economics of New Goods, pp.207248. Chicago, IL: University of Chicago Press.














The profit-maximizing choice


The manager would like to choose a combination of P and Q on the highest possible isoprofit curve in the feasible set.




Demand curve data from Jerry A. Hausman. 1996. Valuation of New Goods under Perfect and Imperfect Competition. In The Economics of New Goods, pp.207248. Chicago, IL: University of Chicago Press.














Zero profits


The horizontal line shows the choices of price and quantity where profit is zero: if you set a price of $2, you would be selling each pound of cereal for exactly what it cost.




Demand curve data from Jerry A. Hausman. 1996. Valuation of New Goods under Perfect and Imperfect Competition. In The Economics of New Goods, pp.207248. Chicago, IL: University of Chicago Press.














Profit-maximizing choices


The manager would choose a price and quantity corresponding to a point on the demand curve. Any point below the demand curve would be feasible, such as selling 8,000 pounds of cereal at a price of $3, but you would make more profit if you raised the price.




Demand curve data from Jerry A. Hausman. 1996. Valuation of New Goods under Perfect and Imperfect Competition. In The Economics of New Goods, pp.207248. Chicago, IL: University of Chicago Press.














Maximizing profit at E


You reach the highest possible isoprofit curve while remaining in the feasible set by choosing point E, where the demand curve is tangent to an isoprofit curve. The manager should choose P=$4.40, and Q = 14,000 pounds.




Demand curve data from Jerry A. Hausman. 1996. Valuation of New Goods under Perfect and Imperfect Competition. In The Economics of New Goods, pp.207248. Chicago, IL: University of Chicago Press.




Your best strategy is to choose point E in Figure 7.5a: you should produce 14,000 pounds of cereal, and sell it at a price of $4.40 per pound, making $34,000 profit. Just as in the case of Alexei in Unit 3, your optimal combination of price and quantity involves balancing two trade-offs. As manager, we have assumed that you care about profit, rather than any particular combination of price and quantity.

marginal rate of substitution (MRS)The trade-off that a person is willing to make between two goods. At any point, this is the slope of the indifference curve. See also: marginal rate of transformation.marginal rate of transformation (MRT)The quantity of some good that must be sacrificed to acquire one additional unit of another good. At any point, it is the slope of the feasible frontier. See also: marginal rate of substitution.


The isoprofit curve is your indifference curve, and its slope at any point represents the trade-off you are willing to make between P and Qyour MRS. You would be willing to substitute a high price for a lower quantity if you obtained the same profit.
The slope of the demand curve is the trade-off you are constrained to makeyour MRT, or the rate at which the demand curve allows you to transform quantity into price. You cannot raise the price without lowering the quantity, because fewer consumers will buy a more expensive product.

These two trade-offs balance at the profit-maximizing choice of P and Q.
The manager at General Mills probably didnt think about the decision in this way.
Perhaps the price was chosen more by trial and error, informed by past experience and market research. But we expect that a firm will find its way, somehow, to a profit-maximizing price and quantity. The purpose of our economic analysis is not to model the managers thought process, but to understand the outcome, and its relationship to the firms cost and consumer demand.
Even from an economists point of view, there are other ways to think about profit maximization. The lower panel of Figure 7.5b shows how much profit would be made at each point on the demand curve.












Figure 7.5b 
The profit-maximizing choice of price and quantity for Apple-Cinnamon Cheerios.
        





Demand curve data from Jerry A. Hausman. 1996. Valuation of New Goods under Perfect and Imperfect Competition. In The Economics of New Goods, pp.207248. Chicago, IL: University of Chicago Press.














The profit function


The firm can calculate its profit at each point on the demand curve.




Demand curve data from Jerry A. Hausman. 1996. Valuation of New Goods under Perfect and Imperfect Competition. In The Economics of New Goods, pp.207248. Chicago, IL: University of Chicago Press.














Profit at low quantities


When the quantity is low, so is the profit.




Demand curve data from Jerry A. Hausman. 1996. Valuation of New Goods under Perfect and Imperfect Competition. In The Economics of New Goods, pp.207248. Chicago, IL: University of Chicago Press.














Increasing profits


As quantity increases, profit rises until




Demand curve data from Jerry A. Hausman. 1996. Valuation of New Goods under Perfect and Imperfect Competition. In The Economics of New Goods, pp.207248. Chicago, IL: University of Chicago Press.














Maximum profits


 profit reaches a maximum at E.




Demand curve data from Jerry A. Hausman. 1996. Valuation of New Goods under Perfect and Imperfect Competition. In The Economics of New Goods, pp.207248. Chicago, IL: University of Chicago Press.














Falling profits


Beyond E the profit falls.




Demand curve data from Jerry A. Hausman. 1996. Valuation of New Goods under Perfect and Imperfect Competition. In The Economics of New Goods, pp.207248. Chicago, IL: University of Chicago Press.














Zero profits


Profit falls to zero when the price is equal to the unit cost, $2.




Demand curve data from Jerry A. Hausman. 1996. Valuation of New Goods under Perfect and Imperfect Competition. In The Economics of New Goods, pp.207248. Chicago, IL: University of Chicago Press.














Negative profits


To sell a very high quantity, the price has to be lower than the unit cost, so profit is negative.




Demand curve data from Jerry A. Hausman. 1996. Valuation of New Goods under Perfect and Imperfect Competition. In The Economics of New Goods, pp.207248. Chicago, IL: University of Chicago Press.




The graph in the lower panel is the profit function: it shows the profit you would achieve if you chose to produce a quantity, Q, and set the highest price that would enable you to sell that quantity, according to the demand function. And it tells us, again, that you would achieve the maximum profit of $34,000 with Q = 14,000 pounds of cereal.

Question 7.3 Choose the correct answer(s)
The table represents market demand Q for a good at different prices P.


Q
100
200
300
400
500
600
700
800
900
1,000


P
270
240
210
180
150
120
90
60
30
0


The firms unit cost of production is 60. Based on this information, which of the following is correct?

At Q = 100, the firms profit is 20,000.
The profit-maximizing output is Q = 400.
The maximum profit that can be attained is 50,000.
The firm will make a loss at all outputs of 800 and above.


At Q = 100, profit = (270  60)  100 = 21,000.
At Q = 400, profit = (180  60)  400 = 48,000. If you calculate the profit for each point on the demand curve you will see that profit is lower at the other points.
The maximum profit is attained at Q = 400, where profit = (180  60)  400 = 48,000.
The firm will make a loss (negative profit) at all outputs above 800. At exactly 800, the profit is zero.



Exercise 7.1 Changes in the market
Draw diagrams to show how the curves in Figure 7.5a would change in each of the following cases:

A rival company producing a similar brand slashes its prices.
The cost of producing Apple-Cinnamon Cheerios rises to $3 per pound.
A well-publicized government study shows that General Mills products are healthier than other breakfast cereals.

To make sketching the curves easier, assume the demand curve is linear. In each case, can you say what would happen to the price and the profit?

Innovation