7.3 Production: The cost function for Beautiful Cars
To set the price and the quantity produced for Apple-Cinnamon Cheerios, the manager needed to know the demand function and the production costs. Since we assumed that the cost of producing every pound of Cheerios was the same, the scale of production was determined by the demand for the good. In this section and the next, we will look at a different example, in which costs vary with the level of production.
Consider a firm that manufactures cars. Compared with Ford, which produces around 6.6 million vehicles a year, this firm produces specialty cars and will turn out to be rather small, so we will call it Beautiful Cars.
Think about the costs of producing and selling cars. The firm needs premises (a factory) equipped with machines for casting, machining, pressing, assembling, and welding car body parts. It may rent them from another firm, or raise financial capital to invest in its own premises and equipment. Then it must purchase the raw materials and components, and pay production workers to operate the equipment. Other workers will be needed to manage the production process, market, and sell the finished cars.

opportunity costWhen taking an action implies forgoing the next best alternative action, this is the net benefit of the foregone alternative.opportunity cost of capitalThe amount of income an investor could have received by investing the unit of capital elsewhere.fixed costsCosts of production that do not vary with the number of units produced.marginal costThe effect on total cost of producing one additional unit of output. It corresponds to the slope of the total cost function at each point.

The firms ownersthe shareholderswould usually not be willing to invest in the firm if they could make better use of their money by investing and earning profits elsewhere. What they could receive if they invested elsewhere, per dollar of investment, is another example of opportunity cost (discussed in Unit 3), in this case called the opportunity cost of capital. Part of the cost of producing cars is the amount that has to be paid out to shareholders to cover the opportunity cost of capitalthat is, to induce them to continue to invest in the assets that the firm needs to produce cars.
The more cars produced, the higher the total costs will be. The upper panel of Figure 7.6 shows how total costs might depend on the quantity of cars, Q, produced per day. This is the firms cost function, C(Q). From the cost function, we have worked out the average cost of a car, and how it changes with Q; the average cost curve (AC) is plotted in the lower panel.












Figure 7.6 
Beautiful Cars: Cost function and average cost.
        















The cost function


The top panel shows the cost function, C(Q). It shows the total cost for each level of output, Q.














Fixed costs


Some costs do not vary with the number of cars. For example, once the firm has decided the size of its factory and invested in equipment, those costs will be the same irrespective of output. These are called fixed costs. So when Q=0, the only costs are the fixed costs, F.














Total costs are increasing


As Q increases, total costs rise and the firm needs to employ more production workers. At point A, 20 cars are produced (we call this Q0) costing $80,000 (we call this C0).














Average cost


If the firm produces 20 cars per day, the average cost of a car is C0 divided by Q0, which is shown by the slope of the line from the origin to A. The average cost is now $80,000/20 = $4,000. We have plotted the average cost at point A on the lower panel.














Falling average cost


As output rises above A, fixed costs are shared between more cars. The average cost falls. At point B, the total cost is $136,000, average cost is $3,400.














Rising average cost


Average cost is lowest at point B. When production increases beyond B, the line to the origin gets gradually steeper again. At D average cost has risen to $3,600.














The average cost curve


We can calculate the average cost at every value of Q to draw the average cost (AC) curve in the lower panel.




We can see in Figure 7.6 that Beautiful Cars has decreasing average costs at low levels of production: the AC curve slopes downward. At higher levels of production, average cost increases so the AC curve slopes upward. This might happen because the firm has to increase the number of shifts per day on the assembly line. Perhaps it has to pay overtime rates, and equipment breaks down more frequently when the production line is working for longer.

Marginal cost
At each point on the cost function, the marginal cost (MC) is the additional cost of producing one more unit of output, which corresponds to the slope of the cost function. If cost increases by C when quantity is increased by Q, the marginal cost can be estimated by:


Figure 7.7 shows how to find the marginal cost of a car, that is, the cost of producing one more car. In Unit 3, we saw that the marginal product for a given production function was the additional output produced when the input was increased by one unit, corresponding to the slope of the production function. Similarly, Figure 7.7 demonstrates that the marginal cost (MC) corresponds to the slope of the cost function.












Figure 7.7 
The marginal cost of a car.
        















Total cost, average cost and marginal cost


The upper panel shows the cost function (also called the total cost curve). The lower panel shows the average cost curve. We will plot the marginal costs in the lower panel too.














Total cost


Suppose the firm is producing 20 cars at point A. The total cost is $80,000.














Marginal cost


The marginal cost is the cost of increasing output from 20 to 21. This would increase total costs by an amount that we call C, equal to $2,200. The triangle drawn at A shows that the marginal cost is equal to the slope of the cost function at that point.














Marginal cost at A


We have plotted the marginal cost at point A in the lower panel.














Marginal cost at D


At point D, where Q = 60, the cost function is much steeper. The marginal cost of producing an extra car is higher: C = $4,600.














Marginal cost at B


At point B, the curve is steeper than at A, but flatter than at D: MC = $3,400.














The cost function


Look at the shape of the whole cost function. When Q = 0 it is quite flat, so marginal cost is low. As Q increases, the cost function gets steeper, and marginal cost gradually rises.














The marginal cost curve


If we calculate marginal cost at every point on the cost function, we can draw the marginal cost curve.




By calculating the marginal cost at every value of Q, we have drawn the whole of the marginal cost curve in the lower panel of Figure 7.7. Since marginal cost is the slope of the cost function and the cost curve gets steeper as Q increases, the graph of marginal cost is an upward-sloping line. In other words, Beautiful Cars has increasing marginal costs of car production. It is the rising marginal cost that eventually causes average costs to increase.
Notice that in Figure 7.7 we calculated marginal cost by finding the change in costs, C, from producing one more car. Sometimes it is more convenient to take a different increase in quantity. If we know that costs rise by C = $12,000 when 5 extra cars are produced, then we could calculate C/Q, where Q = 5, to get an estimate for MC of $2,400 per car. In general, when the cost function is curved, a smaller Q gives a more accurate estimate.
Leibniz: Average and marginal cost functions
Now look at the shapes of the AC and MC curves, shown again in Figure 7.8. You can see that the AC is downward-sloping at values of Q where the AC is greater than the MC, and it is upward-sloping where AC is less than MC. This is not just a coincidence: it happens whatever the shape of the total cost function. Follow the analysis in Figure 7.8 to see why this happens.












Figure 7.8 
Average and marginal cost curves.
        















Average and marginal cost


The diagram shows both the average cost curve and the marginal cost curve.














MC < AC when Q = 20


Look at point A on the AC curve. When Q = 20, the average cost is $4,000, but the marginal cost is only $2,200. So if 21 cars rather than 20 are produced, that will reduce the average cost. Average cost is lower at Q = 21.














Average cost curve slopes downward when AC > MC


At any point, like point A, where AC > MC, the average cost will fall if one more car is produced, so the AC curve slopes downward.














Average cost curve slopes upward when AC < MC


At point D where Q = 60, the average cost is $3,600, but the cost of producing the 61st car is $4,600. So the average cost of a car will rise if 61 cars are produced. When AC < MC, the average cost curve slopes upward.














When AC = MC


At point B, where the average cost is lowest, the average and marginal costs are equal. The two curves cross. When AC = MC, the AC curve doesnt slope up or down: it is flat (the slope is zero).





Question 7.5 Choose the correct answer(s)
Consider a firm with fixed costs of production. Which of the following statements about its average cost (AC) and marginal cost (MC) is correct?

When AC = MC, the AC curve has a zero slope.
When AC > MC, the MC curve is downward-sloping.
When AC < MC, the AC curve is downward-sloping.
The MC curve cannot be horizontal.


When AC = MC, the cost of an additional unit equals the average cost of all existing units. Therefore, the new AC will be the same and the slope is zero.
The MC curve can be upward-sloping, horizontal, or downward-sloping, irrespective of the relative size of AC and MC.
When AC < MC, the cost of an additional unit is greater than the average cost of the existing outputs. So the new AC will be larger. The AC curve is upward-sloping.
If MC is constant, then the MC curve is horizontal.



Question 7.6 Choose the correct answer(s)
Suppose that the unit cost of producing a pound of cereal is $2, irrespective of the level of output. (This means there are no fixed costs, that is, costs that are present for any level of output, including zero.) Which of the following statements is correct?

The total cost curve is a horizontal straight line.
The average cost curve is downward-sloping.
The marginal cost curve is upward-sloping.
The average cost and the marginal cost curves coincide.


The total cost = 2Q, where Q is the output. This is an upward-sloping straight line through the origin.
The average cost = 2 for all outputs. This is a horizontal straight line.
The marginal cost = 2 for all outputs. This is a horizontal straight line.
Both the average and the marginal cost are 2 for all outputs, so the curves representing them coincide.



Exercise 7.2 The cost function for Apple-Cinnamon Cheerios
Of course, cost functions can have different shapes from the one we drew for Beautiful Cars. For Apple-Cinnamon Cheerios, we assumed the average cost was constant, so that the unit cost of a pound of cereal was equal to $2, regardless of the quantity produced.

Draw the cost function (also called the total cost curve) for this case.
What do the marginal and average cost functions look like?
Now suppose that the marginal cost of producing a pound of Cheerios was $2, whatever the quantity, but there were also some fixed production costs. Draw the total, marginal, and average cost curves in this case.



economies of scopeCost savings that occur when two or more products are produced jointly by a single firm, rather being produced in separate firms.

Economists Rajindar and Manjulika Koshal studied the cost functions of universities in the US.3 They estimated the marginal and average costs of educating graduate and undergraduate students in 171 public universities in the academic year 199091. As you will see in Exercise 7.3, they found decreasing average costs. They also found that the universities benefitted from what are termed economies of scope: there were cost savings from producing several productsin this case graduate education, undergraduate education, and researchtogether.4
If you want to know more about costs, George Stigler, an economist, has written an entertaining discussion of the subject in chapter 7 of his book.5

Exercise 7.3 Cost functions for university education
Below you can see the average and marginal costs per student for the year 199091 that Koshal and Koshal calculated from their research.



Students
MC ($)
AC ($)
Total cost ($)


Undergraduates
2,750
7,259
7,659
21,062,250


5,500
6,548
7,348
40,414,000


8,250
5,838
7,038



11,000
5,125
6,727
73,997,000


13,750
4,417
6,417
88,233,750


16,500
3,706
6,106
100,749,000



Students
MC ($)
AC ($)
Total cost ($)


Graduates
550
6,541
12,140
6,677,000


1,100
6,821
9,454
10,339,400


1,650
7,102
8,672



2,200
7,383
8,365
18,403,000


2,750
7,664
8,249
22,684,750


3,300
7,945
8,228
27,152,400



How do average costs change as the numbers of students rise?
Using the data for average costs, fill in the missing figures in the total cost column.
Plot the marginal and average cost curves for undergraduate education on a graph, with costs on the vertical axis and the number of students on the horizontal axis. On a separate diagram, plot the equivalent graphs for graduates.
What are the shapes of the total cost functions for undergraduates and graduates? (You could sketch them using what you know about marginal and average costs.) Plot them on a single chart using the numbers in the total cost column.
What are the main differences between the universities cost structures for undergraduates and graduates?
Can you think of any explanations for the shapes of the graphs you have drawn?