7.8 The elasticity of demand
The firm maximizes profit by choosing the point where the slope of the isoprofit curve (MRS) is equal to the slope of the demand curve (MRT), which represents the trade-off that the firm is constrained to make between price and quantity.

price elasticity of demandThe percentage change in demand that would occur in response to a 1% increase in price. We express this as a positive number. Demand is elastic if this is greater than 1, and inelastic if less than 1.

So the firms decision depends on how steep the demand curve is: in other words, how much consumers demand for a good will change if the price changes. The price elasticity of demand is a measure of the responsiveness of consumers to a price change. It is defined as the percentage change in demand that would occur in response to a 1% increase in price. For example, suppose that when the price of a product increases by 10%, we observe a 5% fall in the quantity sold. Then we calculate the elasticity, , as follows:

 is the Greek letter epsilon, which is often used to represent elasticity. For a demand curve, quantity falls when price increases. So the change in demand is negative if the price change is positive, and vice versa. The minus sign in the formula for the elasticity ensures that we get a positive number as our measure of responsiveness. So in this example we get:

The price elasticity of demand is related to the slope of the demand curve. If the demand curve is quite flat, the quantity changes a lot in response to a change in price, so the elasticity is high. Conversely, a steeper demand curve corresponds to a lower elasticity. But they are not the same thing, and it is important to notice that the elasticity changes as we move along the demand curve, even if the slope doesnt.
Figure 7.15 shows (again) the demand curve for cars, which has a constant slope: it is a straight line. At every point, if the quantity increases by one (Q = 1), the price falls by $80 (P = $80):

Since P = $80 when Q = 1 at every point on the demand curve, it is easy to calculate the elasticity at any point. At A, for example, Q = 20 and P=$6,400. So:

And so:

The table in Figure 7.15 calculates the elasticity at several points on the demand curve. Use the steps in the analysis to see that, as we move down the demand curve, the same changes in P and Q lead to a higher percentage change in P and a lower percentage change in Q, so the elasticity falls.














Elasticity =  % Change in Q/% Change in P



A
B
C


Q
20
40
70


P
$6,400
$4,800
$2,400


Q
1
1
1


P
$80
$80
$80


% change in Q
5.00
2.50
1.43


% change in P
1.25
1.67
3.33


Elasticity
4.00
1.50
0.43


MR
$4,720
$1,520
$3,280




Figure 7.15 
The elasticity of demand for cars.
        

















Elasticity =  % Change in Q/% Change in P



A
B
C


Q
20
40
70


P
$6,400
$4,800
$2,400


Q
1
1
1


P
$80
$80
$80


% change in Q
5.00
2.50
1.43


% change in P
1.25
1.67
3.33


Elasticity
4.00
1.50
0.43


MR
$4,720
$1,520
$3,280




This demand curve is a straight line


At each point on the demand curve if Q increases by 1, P changes by P = $80.
















Elasticity =  % Change in Q/% Change in P



A
B
C


Q
20
40
70


P
$6,400
$4,800
$2,400


Q
1
1
1


P
$80
$80
$80


% change in Q
5.00
2.50
1.43


% change in P
1.25
1.67
3.33


Elasticity
4.00
1.50
0.43


MR
$4,720
$1,520
$3,280




Elasticity at A


At point A, if Q = 1, the % change in Q is 100  1/20 = 5%. Since P = $80, the % change in price is 100  (80)/6,400 = 1.25%. The elasticity is 4.00.
















Elasticity =  % Change in Q/% Change in P



A
B
C


Q
20
40
70


P
$6,400
$4,800
$2,400


Q
1
1
1


P
$80
$80
$80


% change in Q
5.00
2.50
1.43


% change in P
1.25
1.67
3.33


Elasticity
4.00
1.50
0.43


MR
$4,720
$1,520
$3,280




Elasticity is lower at B than at A


At B, Q is higher, so the percentage change when P = 1 is lower. Similarly, P is lower and the percentage change in P is higher. So the elasticity at B is lower than at A. The table shows that it is 1.50.
















Elasticity =  % Change in Q/% Change in P



A
B
C


Q
20
40
70


P
$6,400
$4,800
$2,400


Q
1
1
1


P
$80
$80
$80


% change in Q
5.00
2.50
1.43


% change in P
1.25
1.67
3.33


Elasticity
4.00
1.50
0.43


MR
$4,720
$1,520
$3,280




As Q increases, elasticity decreases


The elasticity is below 1 at C.
















Elasticity =  % Change in Q/% Change in P



A
B
C


Q
20
40
70


P
$6,400
$4,800
$2,400


Q
1
1
1


P
$80
$80
$80


% change in Q
5.00
2.50
1.43


% change in P
1.25
1.67
3.33


Elasticity
4.00
1.50
0.43


MR
$4,720
$1,520
$3,280




The marginal revenue


The table also shows the marginal revenue at each point. When the elasticity is higher than 1, MR > 0. When the elasticity is below 1, MR < 0.




We say that demand is elastic if the elasticity is higher than 1, and inelastic if it is less than 1. You can see from the table in Figure 7.15 that the marginal revenue is positive at points where demand is elastic, and negative where it is inelastic. Why does this happen? When demand is highly elastic, price will only fall a little if the firm increases its quantity. So by producing one extra car, the firm will gain revenue on the extra car without losing much on the other cars and total revenue will rise; in other words, MR > 0. Conversely, if demand is inelastic, the firm cannot increase Q without a big drop in P, so MR < 0. In the Einstein at the end of this section, we demonstrate that this relationship is true for all demand curves.

Question 7.14 Choose the correct answer(s)
A shop sells 20 hats per week at $10 each. When it increases the price to $12, the number of hats sold falls to 15 per week. Which of the following statements are correct?

When the price increases from $10 to $12, demand increases by 25%.
A 20% increase in the price causes a 25% fall in demand.
The demand for hats is inelastic.
The elasticity of demand is approximately 1.25.


When the price increases from $10 to $12, demand decreases.
The percentage price increase is 100  2/10 = 20%. It causes a percentage decrease in demand of 100  5/20 = 25%.
Using the figures to estimate the price elasticity of demand gives a value greater than 1, so demand is elastic.
The percentage price increase is 100  2/10 = 20%; the percentage decrease in demand is 100  5/20 = 25%. So the elasticity can be estimated as 25/20 = 1.25.


How does the elasticity of demand affect a firms decisions? Remember that the car manufacturers profit-maximizing quantity is Q = 32. You can see in Figure 7.15 that this is on the elastic part of the demand curve. The firm would never want to choose a point such as D where the demand curve is inelastic because the marginal revenue is negative there; it would always be better to decrease the quantity, since that would raise revenue and decrease costs. So the firm always chooses a point where the elasticity is greater than1.

profit marginThe difference between the price and the marginal cost.

Secondly, the firms profit margin (the difference between the price and the marginal cost of production) is closely related to the elasticity of demand. Figure 7.16 represents a different situation of highly elastic demand. The demand curve is quite flat, so small changes in price make a big difference to sales. The profit-maximizing choice is point E. You can see that the profit margin is relatively small. This means that the quantity of cars it chooses to make is not far below the Pareto-efficient quantity, at point F, where the profit margin is zero.











Figure 7.16 
A firm facing highly elastic demand.
        




Figure 7.17 shows the decision of a firm with the same costs of car production, but less elastic demand for its product. In this case, the profit margin is high, and the quantity is low. When the price is raised, many consumers are still willing to pay. The firm maximizes profits by exploiting this situation, obtaining a higher share of the surplus, but the result is that fewer cars are sold and the unexploited gains from trade, shown by the deadweight loss, are high.











Figure 7.17 
A firm facing less elastic demand.
        





price markupThe price minus the marginal cost divided by the price. It is inversely proportional to the elasticity of demand for this good.

Leibniz: The elasticity of demand
These examples illustrate that the lower the elasticity of demand, the more the firm will raise the price above the marginal cost to achieve a high profit margin. When demand elasticity is low, the firm has the power to raise the price without losing many customers, and the markup, which is the profit margin as a proportion of the price, will be high. The Einstein at the end of this section shows you that the markup is inversely proportional to the elasticity of demand.

Question 7.15 Choose the correct answer(s)
The figure depicts two demand curves, D1 and D2.












Based on this figure, which of the following statements are correct?

At E, demand curve D1 is less elastic than D2.
The elasticity is the same at A and C.
At E, both demand curves have the same elasticity.
The elasticity is higher at E than at B.


At E, the price and quantity are the same on both demand curves, but D1 is steeper, so it is less elastic than D2.
The slope is the same at A and C, but at A the price is higher and quantity is lower, so the elasticity is higher.
The price and quantity are the same on both demand curves, but D1 is steeper, so the elasticities are not the same.
The slope is the same at E and B. But at E the price is higher and quantity is lower, so the elasticity is higher.



Einstein The elasticity of demand and the marginal revenue
The diagram shows how to obtain a general formula for the elasticity at a point (Q, P) on the demand curve.
It also shows how the elasticity is related to the slope of the demand curve. A flatter demand curve has a lower slope, indicating higher elasticity.











Figure 7.18 
The elasticity of demand and the marginal revenue.
        




At point A, the price is P and the quantity is Q. If the quantity increases by Q, the price falls: it changes by P, which is negative.

Suppose that the demand curve is elastic at A. Then the elasticity is greater than one:

Multiplying by QP (which is positive):

and rearranging, we get:

Consider the special case when Q = 1. The inequality becomes:

Now remember that the marginal revenue at point A is the change in revenue when Q increases by one unit. This change consists of the gain in revenue on the extra unit, which is P, and the loss on the other units, which is QP. So this inequality tells us that the marginal revenue is positive.
We have shown that if the demand curve is elastic, MR > 0. Similarly, if the demand curve is inelastic, MR < 0.
The size of the markup chosen by the firm
We can find a formula that shows that the markup is high when the elasticity of demand is low.
We know that the firm chooses a point where the slope of the isoprofit curve is equal to the slope of the demand curve, and that the slope of the demand curve is related to the price elasticity of demand:

Rearranging this formula:

We also know from Section 7.4:

When the two slopes are equal:

Rearranging this gives us:

The left-hand side is the profit margin as a proportion of the price, which is called the markup. Therefore:

The firms markup is inversely proportional to the elasticity of demand.


Politics and policy