Unit 8 Supply and demand: Price-taking and competitive markets  The Economy





































The Economy






Contents








Unit 8 Supply and demand: Price-taking and competitive markets
Themes and capstone units   17: History, instability, and growth            18: Global economy            22: Politics and policy         
History, instability, and growthGlobal economy
How markets operate when all buyers and sellers are price-takers

Competition can constrain buyers and sellers to be price-takers.
The interaction of supply and demand determines a market equilibrium in which both buyers and sellers are price-takers, called a competitive equilibrium.
Prices and quantities in competitive equilibrium change in response to supply and demand shocks.
Price-taking behaviour ensures that all gains from trade in the market are exhausted at a competitive equilibrium.
The model of perfect competition describes idealized conditions under which all buyers and sellers are price-takers.
Real-world markets are typically not perfectly competitive, but some policy problems can be analysed using this demand and supply model.
There are important similarities and differences between price-taking and price-setting firms.

Students of American history learn that the defeat of the southern Confederate states in the American Civil War ended slavery in the production of cotton and other crops in that region. There is also an economics lesson in this story.
At the wars outbreak on 12 April 1861, President Abraham Lincoln ordered the US Navy to blockade the ports of the Confederate states. These states had declared themselves independent of the US to preserve the institution of slavery.
As a result of the naval blockade, the export of US-grown raw cotton to the textile mills of Lancashire in England came to a virtual halt, eliminating three-quarters of the supply of this critical raw material. Sailing at night, a few blockade-running ships evaded Lincolns patrols, but 1,500 were destroyed or captured.

excess demandA situation in which the quantity of a good demanded is greater than the quantity supplied at the current price. See also: excess supply.

We will see in this unit that the market price of a good, such as cotton, is determined by the interaction of supply and demand. In the case of raw cotton, the tiny quantities reaching England through the blockade were a dramatic reduction in supply. There was large excess demandthat is to say, at the prevailing price, the quantity of raw cotton demanded exceeded the available supply. As a result, some sellers realized they could profit by raising the price. Eventually, cotton was sold at prices six times higher than before the war, keeping the lucky blockade-runners in business. Consumption of cotton fell to half the prewar level, throwing hundreds of thousands of people who worked in cotton mills out of work.
Mill owners responded. For them, the price rise was an increase in their costs. Some firms failed and left the industry due to the reduction in their profits. Mill owners looked to India to find an alternative to US cotton, greatly increasing the demand for cotton there. The excess demand in the markets for Indian cotton gave some sellers an opportunity to profit by raising prices, resulting in increases in the prices of Indian cotton, which quickly rose almost to match the price of US cotton.
Responding to the higher income now obtainable from growing cotton, Indian farmers abandoned other crops and grew cotton instead. The same occurred wherever cotton could be grown, including Brazil. In Egypt, farmers who rushed to expand the production of cotton in response to the higher prices began employing slaves, captured (like the American slaves that Lincoln was fighting to free) in sub-Saharan Africa.
There was a problem. The only source of cotton that could come close to making up the shortfall from the US was in India. But Indian cotton differed from American cotton, and required an entirely different kind of processing. Within months of the shift to Indian cotton, new machinery was developed to process it.
As the demand for this new equipment soared, firms like Dobson and Barlow, who made textile machinery, saw profits take-off. We know about this firm, because detailed sales records have survived. It responded by increasing production of these new machines and other equipment. No mill could afford to be left behind in the rush to retool, because if it didnt, it could not use the new raw materials. The result was, in the words of Douglas Farnie, a historian who specialized in the history of cotton production, such an extensive investment of capital that it amounted almost to the creation of a new industry.
The lesson for economists: Lincoln ordered the blockade, but in what followed, the farmers and sellers who increased the price of cotton were not responding to orders. Neither were the mill owners who cut back the output of textiles and laid off the mill workers, nor were the mill owners desperately searching for new sources of raw material. By ordering new machinery, the mill owners set off a boom in investment and new jobs.
All of these decisions took place over a matter of months, by millions of people, most of whom were total strangers to one another, each seeking to make the best of a totally new economic situation. American cotton was now scarcer, and people responded, from the cotton fields of Maharashtra in India to the Nile delta, to Brazil, and the Lancashire mills.
To understand how the change in the price of cotton transformed the world cotton and textile production system, think about the prices determined by markets as messages. The increase in the price of US cotton shouted: find other sources, and find new technologies appropriate for their use. Similarly, when the price of petrol rises, the message to the car driver is: take the train, which is passed on to the railway operator: there are profits to be made by running more train services. When the price of electricity goes up, the firm or the family is being told: think about installing photovoltaic cells on the roof.
In many caseslike the chain of events that began at Lincolns desk on 12 April 1861the messages make sense not only for individual firms and families but also for society: if something has become more expensive then it is likely that more people are demanding it, or the cost of producing it has risen, or both. By finding an alternative, the individual is saving money and conserving societys resources. This is because, in some conditions, prices provide an accurate measure of the scarcity of a good or service.1
In planned economies, which operated in the Soviet Union and other central and eastern European countries before the 1990s (discussed in Unit 1), messages about how things would be produced are sent deliberately by government experts. They decide what will be produced and at what price it will be sold. The same is true, as we saw in Unit 6, inside large firms like General Motors, where managers (and not prices) determine who does what.
The amazing thing about prices determined by markets is that individuals do not send the messages, but rather the anonymous interaction of sometimes millions of people. And when conditions changea cheaper way of producing bread, for examplenobody has to change the message (put bread instead of potatoes on the table tonight). A price change results from a change in firms costs. The reduced price of bread says it all.