8.10 Price-setting and price-taking firms
We now have two different models of how firms behave. In the Unit 7 model, the firm produces a product that is different from the products of other firms, giving it market powerthe power to set its own price. This model applies to the extreme case of a monopolist, who has no competitors at all, such as water supply companies, and national airlines with exclusive rights granted by the government to operate domestic flights. The Unit 7 model also applies to a firm producing differentiated products such as breakfast cereals, cars, or chocolate barssimilar, but not identical, to those of its competitors. In such cases, the firm still has the power to set its own price. But if it has close competitors, demand will be quite elastic and the range of feasible prices will be narrow.
In the supply-and-demand model developed in this unit, firms are price-takers. Competition from other firms producing identical products means that they have no power to set their own prices. This model can be useful as an approximate description of a market in which there are many firms selling very similar products, even if the idealized conditions for a perfectly competitive market do not hold.
In practice, economies are a mixture of more and less competitive markets. In some respects, firms act the same whether they are the single seller of a good or one of a great many competitors: all firms decide how much to produce, which technologies to use, how many people to hire, and how much to pay them so as to maximize their profits.
But there are important differences. Look back at the decisions made by price-setting firms to maximize profits (Figure 7.2). Firms in more competitive markets lack either the incentive or the opportunity to do some of these things.

public goodA good for which use by one person does not reduce its availability to others. Also known as: non-rival good. See also: non-excludable public good, artificially scarce good.

A firm with a unique product will advertise (Buy Nike!) to shift the demand curve for its product to the right. But why would a single competitive firm advertise (Drink milk!)? This would shift the demand curve for all of the firms in the industry. Advertising in a competitive market is a public good: the benefits go to all of the firms in the industry. If you see a message like Drink milk! it is probably paid for by an association of dairies, not by a particular one.
The same is true of expenditures to influence public policy. If a large firm with market power is successful, for example, in relaxing environmental regulations, then it will benefit directly. But activities like lobbying or contributing money to electoral campaigns will be unattractive to the competitive firm because the result (a more profit-friendly policy) is a public good.
Similarly, investment in developing new technologies is likely to be undertaken by firms facing little competition, because if they are successful in finding a profitable innovation, the benefits will not be lost to competitors also adopting it. However, one way that successful large firms can emerge is by breaking away from the competition and innovating with a new product. The UKs largest organic dairy, Yeo Valley, was once an ordinary farm selling milk, just like thousands of others. In 1994 it established an organic brand, creating new products for which it could charge premium prices. With the help of imaginative marketing campaigns it has grown into a company with 1,800 employees and 65% of the UK organic market.
The table in Figure 8.20 summarizes the differences between price-setting and price-taking firms.






Price-setting firm or monopoly
Firm in a perfectly competitive market




Sets price and quantity to maximize profits (price-maker)
Takes market determined price as given and chooses quantity to maximize profits (price-taker)


Chooses an output level at which marginal cost is less than price
Chooses an output level at which marginal cost equals price


Deadweight losses (Pareto inefficient)
No deadweight losses for consumers and firms (can be Pareto efficient if no one else in the economy is affected)


Owners receive economic rents (profits greater than normal profits)
If the owners receive economic rents, the rents are likely to disappear as more firms enter the market


Firms advertise their unique product
Little advertising: it costs the firm, but benefits all firms (its a public good)


Firms may spend money to influence elections, legislation and regulation
Little expenditure by individual firms on this (same as advertising)


Firms invest in research and innovation; seek to prevent copying
Little incentive for innovation; others will copy (unless the firm can succeed in differentiating its product and escaping from the competitive market)





Price-setting and price-taking firms.


Figure 8.20 
Price-setting and price-taking firms.