8.11 Conclusion
Buyers or sellers who have little influence on market prices, due to competition, are called price-takers. A market is in competitive equilibrium if all buyers and sellers are price-takers, and at the prevailing market price, the quantity supplied is equal to the quantity demanded (the market clears).
Price-taking firms choose their quantity so that the marginal cost is equal to the market price. The equilibrium allocation exploits all possible gains from trade.
The model of perfect competition describes a set of idealized market conditions in which we would expect a competitive equilibrium to occur. Markets for real goods dont conform exactly to the model. But price-taking can be a useful approximation, enabling us to use supply and demand curves as a tool for understanding market outcomes, for example, the effects of a tax, or a demand shock.

Concepts introduced in Unit 8
Before you move on, review these definitions:

Price-taking firms
Competitive equilibrium
Exogenous shocks
Taxation
Model of perfect competition