8.4 Market supply and equilibrium
The market for bread in the city has many consumers and many bakeries. Lets suppose there are 50 bakeries. Each one has a supply curve corresponding to its own marginal cost curve, so we know how much it will supply at any given market price. To find the market supply curve, we just add up the total amount that all the bakeries will supply at each price.
Figure 8.7 shows how this works if all the bakeries have the same cost functions. We work out how much one bakery would supply at a given price, then multiply by 50 to find total market supply at that price.












The firm and market supply curves.


Figure 8.7 
The firm and market supply curves.
        















The firms supply curve


There are 50 bakeries, all with the same cost functions. If the market price is 2.35, each bakery will produce 120 loaves.














The market supply curve


When P = 2.35, each bakery supplies 120 loaves, and the market supply is 50120 = 6,000 loaves.














Firm and market supply curves look similar


At a price of 1.52 they each supply 66 loaves, and market supply is 3,300. The market supply curve looks like the firms supply curve, but the scale on the horizontal axis is different.














What if different firms had different costs?


If the bakeries had different cost functions, then at a price of 2.35 some bakeries would produce more loaves than others, but we could still add them together to find market supply.




The market supply curve shows the total quantity that all the bakeries together would produce at any given price. It also represents the marginal cost of producing a loaf, just as the firms supply curve does. For example, if the market price is 2.75, total market supply is 7,000. For every bakery, the marginal costthe cost of producing one more loafis 2.75. And that means that the cost of producing the 7,001st loaf in the market is 2.75, whichever firm produces it. So the market supply curve is the markets marginal cost curve.
Leibniz: Market supply curve
Now we know both the demand curve (Figure 8.4) and the supply curve (Figure 8.7) for the bread market as a whole. Figure 8.8 shows that the equilibrium price is exactly 2.00. At this price, the market clears: consumers demand 5,000 loaves per day, and firms supply 5,000 loaves per day.











Equilibrium in the market for bread.


Figure 8.8 
Equilibrium in the market for bread.
        




Leibniz: Market equilibrium
In the market equilibrium, each bakery is producing on its marginal cost curve, at the point where its marginal cost is 2.00. If you look back to the isoprofit curves in Figure 8.6, you will see that the firm is above its average cost curve, the isoprofit curve where economic profits are zero. So the owners of the bakeries are receiving economic rents (profit in excess of normal profit). Whenever there are economic rents, there is an opportunity for someone to benefit by taking an action. In this case, we might expect the economic rents to attract other bakeries into the market. We will see presently how this would affect the market equilibrium.

Question 8.4 Choose the correct answer(s)
There are two different types of producers of a good in an industry where firms are price-takers. The marginal cost curves of the two types are given below:












Type A is more efficient than Type B: for example, as shown, at the output of 20 units, the Type A firms have a marginal cost of $2, as opposed to a marginal cost of $3 for the Type B firms. There are 10 Type A firms and 8 Type B firms in the market. Which of the following statements is correct?

At price $2, the market supply is 450 units.
The market will supply 510 units at price $3.
At price $2, the markets marginal cost of supplying one extra unit of the good will depend on the type of the firm that produces it.
With different types of firms, we cannot determine the marginal cost curve for the market.


At $2, type A firms supply 20 units and type B firms supply 15 units. So the market supply is (10  20) + (8  15) = 320.
At $3, type A firms supply 35 units and type B firms supply 20 units. So the market supply is (10  35) + (8  20) = 510.
Both types will be producing at the marginal cost of $2. Therefore the market marginal cost is $2, irrespective of which firm produces the extra unit.
The markets marginal cost curve is its supply curve. We can calculate supply at each price as in (a) and (b).