Unit 9 The labour market: Wages, profits, and unemployment  The Economy





































The Economy






Contents








Unit 9 The labour market: Wages, profits, and unemployment
Themes and capstone units   17: History, instability, and growth            18: Global economy            19: Inequality            22: Politics and policy         
Global economy
How the economy-wide market for labour determines wages, employment, and the distribution of income

The labour market functions quite differently from the bread market described in the previous unit because firms cannot purchase the work of employees directly but only hire their time.
As we saw in Unit 6, the principalagent model is used to explain the conflict of interest between the employer and the employee over how hard the worker works, and why this issue cannot be resolved by a contract.
The outcome of the wage-setting process across all firms in the economy is the wage-setting curve, which shows the wage associated with each unemployment rate.
The prices that firms charge for their products are influenced by the demand for their goods and the cost of labour, the wage.
The outcome of the price-setting process across all firms is the price-setting curve, which gives the value of the real wage that is consistent with a firms profit-maximizing markup over production costs.
Excess supply of labour (involuntary unemployment) is a feature of labour markets, even in equilibrium.
If economy-wide demand for goods and services is too low, unemployment will be higher than its equilibrium level and may persist.
Unions and public policies can affect labour market equilibrium.

As in many parts of the world, mining was a way of life for Doug Grey, a rigger who operated giant cranes at mines in the Northern Territory, Australia. In the 1990s, he helped construct the MacArthur River zinc mine, one of the worlds largest, where his son Rob got his first job. I ended up driving ore trucks, Rob reminisced, That was an awesome opportunity.
Rob, it seemed then, had been born at the right time. He entered the labour market just as the worldwide natural resources boom was taking off, driven by the demand from the rapidly growing economy of China. Rob lived in Thailand for a time, spending little, and flying into his job in Borroloola.
About when Rob started work, Doug, the elder Grey, took a job at the Pilbara iron ore mine in Western Australia (WA), which paid about twice the average family income in Australia at the time. Both father and son were putting away substantial savings.
But by 2015 the natural resource boom was a distant memory, and the price of ore and zinc continued to plummet. Rob and his fellow miners were worried. Everybody knew the economic downturn and commodity prices were a problem. We had that in the back of our minds. Their dream economy couldnt last. It was obvious that it was coming to an end, Doug said.
And it did. In late 2015, Rob got the bad news: Two days into my break the general manager called and said, thanks for your service, we appreciate it, we have to let you go. His father, too, was laid off.
Driving ore trucks is Robs passion and he still hopes to get back behind the wheel. But that is not going to happen, at least not at the Pilbara mine where his dad once worked. Faced with collapsing demand, the mining company cut production, and also sought to drastically reduce costs. As part of this process, they replaced human labour by machines wherever possible. In the Pilbara, nobody is behind the wheel of any of their giant robot ore trucks that are now being driven by university graduates with joysticks 1,200 km away in Perth (we return to this process of automation and its effects on the labour market in Units 16 and 19).
The rise and fall of the Grey familys economic fortunes is all about the workings of the labour market in the mining and construction industries in Western Australia and the Northern Territory. Figure 9.1 shows that their experience was far from unusual. The boom in ore prices (in the top figure) made mining highly profitable, leading to strong demand for labour, which eventually dried up the pool of unemployed riggers and truck-drivers. Mining companies had no choice but to pay extraordinarily high salaries, and while the mining boom lasted, the companies remained highly profitable.
The downturn in commodity prices began in mid-2011 and unemployment began to rise. The Grey familys good fortunes lasted another four years.












Figure 9.1 
Real weekly earnings for males in Western Australia (left axis), world price of iron-ore and unemployment rate in Australia (right axis), (19892015).
        





Australian Bureau of Statistics and International Monetary Fund. Note: Unemployment rates are seasonally adjusted.














Weekly earnings


The chart shows real weekly earnings for males in Western Australia, together with the world price of iron-ore in the top panel and the unemployment rate in Australia in the bottom panel.




Australian Bureau of Statistics and International Monetary Fund. Note: Unemployment rates are seasonally adjusted.














Growth slows, unemployment rises


Following the peak in iron-ore prices, real wage growth slowed and unemployment began to rise.




Australian Bureau of Statistics and International Monetary Fund. Note: Unemployment rates are seasonally adjusted.




In this unit, we describe how the labour market works and why even in equilibrium, the supply of labour (number of people seeking jobs) exceeds the demand for labour (number of jobs offered). Those without work in this situation are termed the involuntary unemployed (to distinguish them from those who are unemployed by choice, but are looking for a job).