9.10 Labour unions: Bargained wages and the union voice effect

trade unionAn organization consisting predominantly of employees, the principal activities of which include the negotiation of rates of pay and conditions of employment for its members.

The labour market model presented so far is about firms and individual workers. But in many countries labour unions play a big part in how the labour market works.3 A trade union is an organization that can represent the interests of a group of workers in negotiations with employers over issues such as pay, working conditions, and working hours. The resulting contract is between the firm or organization representing employers and the labour union.4
As you can see from Figure 9.20, the fraction of the workforce employed under collective bargaining agreements negotiated by labour unions varies greatly across countries, from virtually all workers in France and some northern European economies, to hardly any in the US and South Korea.











Figure 9.20 
Share of employees whose wages are covered by collective bargaining agreements (early 2010s).
        






                                View this data at OWiD
                        


Jelle Visser. 2015. ICTWSS Data base. version 5.0.. Amsterdam: Amsterdam Institute for Advanced Labour Studies AIAS. Updated October 2015.



Labour unions and the bargained wage-setting curve
Where workers are organized into trade unions, the wage is not set by HR but instead is determined through a process of negotiation between union and firm. Although the wage must always be at least as high as the wage indicated by the wage-setting curve for the given level of unemployment, the bargained wage can be above the wage-setting curve. The reason is that now the employers threat to dismiss the worker is not the only exercise of power that is possible. The union can threaten to dismiss the employer (at least temporarily) by going on strike, that is, withdrawing the employees labour from the firm.
We can think of a bargaining curve lying above the wage-setting curve, which indicates the wage that the union-employer bargaining process will produce for every level of employment.
The relative bargaining power of the union and the employer determines how much this bargaining curve lies above the wage-setting curve. The unions power depends on the ability to withhold labour from the firm, so its bargaining strength will be greater if it can ensure that during a strike, no other workers will offer their services to the firm. This and the other determinants of bargaining power depend on the laws and social norms that are in force in an economy. In many countries, for example, it is a serious violation of a social norm among workers to seek employment in a firm whose workers are on strike.
A powerful union, however, may not choose to raise the wage even if it has the power to do so. This is because even a very powerful union can only set the wage, and it cannot determine how many people the firm hires. Too high a wage may squeeze profits sufficiently to lead the firm to close down, or cut back on employment.
Unions may choose to restrain their use of bargaining power. If their wage-setting covers a substantial part of the economy, they will take into account the effect of their wage decision on the wages and employment of workers in the economy as a whole.
To see the difference that a labour union makes, lets see how the labour market would work if instead of the employer setting the wage and the employees individually responding, the process would now be:

The union sets the wage.
The employer informs workers that insufficient work will result in job termination.
Employees respond to the wage and the prospect of dismissal by choosing how hard to work.

In this case, the employer no longer sets the wage that maximizes profits (the point of tangency of the isocost line for effort and the best response curve at point A in Figure 9.21). Use the steps in Figure 9.21 to see what happens when the union rather than the firm sets the wage.












Figure 9.21 
The union sets the firms wage.
        















The employer sets the wage


At point A, the employer sets the wage that maximizes profits at the point of tangency of the isocost line and the best response function.














The union sets the wage instead


If the union sets the wage, it will be higher than that preferred by the employer, and effort levels correspondingly higher














Higher effort but lower profits


 but profits would be lower (indicated by the flatter isocost line passing through C).




As shown in the figure, the wage will be higher than that preferred by the employer. Workers will now be working harder, but wages increase by more than productivity, so firms receive less effort for each dollar spent on wages. It follows that profits will be lower than without the union, that is, on the flatter isocost line passing through C.
By translating Figure 9.21 to the model of the labour market in Figure 9.22, we see that the bargained wage-setting curve lies above the wage-setting curve. Looking at the equilibrium where the bargained wage-setting curve intersects with the price-setting curve, the wage is unaffected, but the level of employment is lower.











Figure 9.22 
The bargained wage-setting curve when there is no union voice effect.
        




Paradoxically, it seems that the unions success in bargaining would harm workers, since the real wage is unchanged and more people are out of work. But if we look at the data on union bargaining coverage and unemployment in Figure 9.23, it does not seem to be the case that unemployment is higher in countries where union bargains are important in wage-setting.
Austria, with almost all employees covered by union wage bargains, has a lower unemployment rate (averaged over 20002014) than the US, where fewer than one in five workers are covered by union contracts. Spain and Poland both had massive unemployment over this period, but union coverage was very high in Spain and very low in Poland.











Figure 9.23 
Collective wage bargaining coverage and unemployment across the OECD.
        






                                View this data at OWiD
                        


Jelle Visser. 2015. ICTWSS Data base. version 5.0.. Amsterdam: Amsterdam Institute for Advanced Labour Studies AIAS. Updated October 2015.



So the fact that unions can push up the wage-setting curve to the new bargained wage-setting curve must not be the entire story.
The union voice effect
Suppose that over time, the employer and the trade union had developed a constructive working relationshipfor example, solving problems that arise in ways that benefit both employees and the owners. The employees may interpret the employers recognition of the trade union, and its willingness to compromise with them over a higher wage, as a sign of goodwill.
As a result, they might identify more strongly with their firm and experience effort as less of a burden than before, shifting their best response curve in Figure 9.24 up.
The result of the greater bargaining power of the workers, and their reciprocation of the companys worker-friendly policy, is shown as point D in the Figure 9.24. The wage is the same as in the previous case but because worker effort is higher, the firms profits are higher. Note that in the example shown, the firm is still worse off than it was in the absence of the union.
With the new best response function, there is of course an outcome for a wage-setting firm that is even better than Dwhere the isocost curve is tangent to it (not shown). However, this is not feasible. The workers will not exert the higher effort in the absence of the negotiations about wages and conditions opened up by the unions role in wage-setting.












Figure 9.24 
Union sets the firms wage and employees reciprocate.
        















The employer sets the wage


At point A, the employer sets the wage that maximizes profits at the point of tangency of the isocost line and the best response curve.














The employer recognizes a trade union


If the employees interpret the employers recognition of the trade union, and its willingness to compromise with them over a higher wage, as a sign of goodwill, the best response curve shifts up.














The effect of a worker-friendly policy


The result of the greater bargaining power of the workers, and their reciprocation of the companys worker-friendly policy, is shown as point D.




We have shown two effects of the presence of a labour union, which we can now represent in the labour market diagram:

It may be able to get the firm to pay a wage greater than the minimum necessary to induce the employees to work (the bargaining curve is above the wage-setting curve).
Providing employees with both recognition and a voice in how decisions are made may lower the disutility of effort and thus reduce the lowest wage necessary to motivate employees to work effectively.

The two effects are illustrated in Figure 9.25. In this figure, we show the case in which the equilibrium level of employment is higher and unemployment lower with the union (point Y) than without (point X). This is because the second effect (called the union voice effect) that shifts the wage-setting curve down was greater than the bargaining effect that shifts the wage-setting curve up.











Figure 9.25 
The bargained wage-setting curve and labour market equilibrium when there is a union voice effect.
        




But it could have worked out the other way around. The bargained wage effect could have been greater than the union voice effect, in which case the effect of unions would have been to reduce employment in the labour market equilibrium.
This provides a reason why the data in Figure 9.23 do not show any clear correlation (either positive or negative) of the extent of union contracts and the amount of unemployment.
Unions may also affect the average productivity of labour, which will shift the price-setting curve. If unions foster cooperation with management in solving production problems, average product and the price-setting curve will rise (leading to higher wages and less unemployment). If unions resist productivity improvements such as the introduction of new machinery or changes in work rules, then the effect will go in the opposite direction.

Question 9.11 Choose the correct answer(s)
Figure 9.21 depicts the effect of union wage-setting. What can we conclude from this figure?

Compared to A, at C the effort per hour is higher and therefore the firms profit is higher.
The resulting bargained wage-setting curve will be above the wage-setting curve with no union.
The effect of a strong union will always be to increase unemployment.
Under union wage-setting, the firm is still setting the wage that maximizes its profits.


The isocost line is flatter through C than through A. This means that the firm receives less effort from workers for each dollar spent on wages. Therefore the firms profit is lower at C.
Due to the union effect, employees need to be paid a higher wage to work hard, compared to when there is no union. This shifts the wage-setting curve higher.
If the employees reciprocate (for example when they have a lower disutility of effort) and there is a union voice effect, then this has an effect of shifting the wage-setting curve downward. If this more than offsets the wage bargaining effect that shifts the wage-setting curve up, then there will be an overall decrease in unemployment.
Unlike at A, at C the firm is not producing at the point of tangency between the isocost line and the best response curve. Therefore it is no longer setting the profit-maximizing wage level.


InequalityPolitics and policy