9.1 The wage-setting curve, the price-setting curve, and the labour market
In previous units we have looked at particular marketsbuying and selling bread, for exampleand sometimes at a single firm. Here we model the labour market of an entire economy, which determines the amount of unemployment in the population as a whole. We look at price-setting firms, selling differentiated products (as described in Unit 7), and a large number of identical workers who may be employed by the firms for the same wage set by the firm (as studied in Unit 6).

nominal wageThe actual amount received in payment for work, in a particular currency. Also known as: money wage. See also: real wage.

We consider the simple case in which the only input to production is labour, so that the only cost is the wage, and profits are determined by just three things: the nominal wage (the actual amount received in a particular currency), the price at which the firm sells its goods, and the average output produced by a worker in an hour.
The labour market
The labour market brings together two earlier themes: the firm and its employees (Unit 6) and the firm and its customers (Unit 7). Two things you have learned will be essential to seeing how the labour market functions.

employment rentThe economic rent a worker receives when the net value of her job exceeds the net value of her next best alternative (that is, being unemployed). Also known as: cost of job loss.

Firms and employees
In order to motivate employees to work hard and well, firms must set the wage sufficiently high so that the worker receives an employment rent. This means there is a cost of job loss: she is better off being employed than being fired due to inadequate effort. If the worker is very likely to find alternative work if she is fired, which will be the case if the employment level in the economy is high, she will need a higher wage to work hard. Think of wage-setting as the business of the human resources (HR) department of the firm.
Firms and customers
In setting the price of the good they sell, firms face a trade-off between selling more goods and setting a higher price, due to the demand curve they face. To determine the price to set, the firm finds the markup over their production cost that balances the gains from a higher price against the losses from lower sales so as to maximize its profits. This profit-maximizing markup determines the division of the firms revenues between profits and wages. Think of price-setting as the business of the marketing department of the firm.

real wageThe nominal wage, adjusted to take account of changes in prices between different time periods. It measures the amount of goods and services the worker can buy. See also: nominal wage.

Wages and employment
We want to know how the real wage and the level of employment in the economy as a whole are determined. Keep in mind that the real wage is the nominal wage divided by the price level of a standard bundle of consumer goods, so it is determined both by the nominal wages paid by the firms and the prices they each set. Think about this in two stages:

First, each firm decides what wage to pay, what price to charge for its products, and how many people to hire.
Then, adding up all of these decisions across all firms gives the total employment in the economy and the real wage.

Here is how the first stage (choosing the wage, price, and employment) takes place in each firm:

The human resources department determines the lowest wage it can pay: It must not undermine the workers motivation to work, and its decision is based on the prices of other firms products, the wages the other firms are paying, and the unemployment rate in the economy. This is the nominal wage set by the firm. It communicates this information to the marketing department.
The marketing department sets the price: This is based on the firms nominal wage and the shape and position of the demand curve facing the firm. For example, if the demand curve is elastic, indicating a high level of competition from other firms, it will set a lower price. Setting the price is the same thing as fixing the size of the markup over the cost of hiring labour. Given the position of the demand curve, which indicates the level of economy-wide demand, the marketing department then determines the amount of output the firm will sell. It communicates this information to the production department (PD).
The production department then calculates how many employees have to be hired to produce the output determined by the marketing department, based on the firms production function.


wage-setting curveThe curve that gives the real wage necessary at each level of economy-wide employment to provide workers with incentives to work hard and well.price-setting curveThe curve that gives the real wage paid when firms choose their profit-maximizing price.

The second stageconsidering the outcome of all the firms decisions added togetheris more complicated. But the key idea is simple. Once all firms in the economy have made their wage and price (markup) decisions, the output per worker in the economy is divided into the real wage that a worker receives, and the real profits that the owner receives. If all firms are charging the same price and setting the same nominal wage, then a higher real wage (W/P) means a lower markup (1  (W/P)). To understand how the real wage and employment are jointly determined in the labour market, we need two basic concepts:

The wage-setting curve: This gives the real wage necessary at each level of economy-wide employment to provide workers with incentives to work hard and well.
The price-setting curve: This gives the real wage paid when firms choose their profit-maximizing price.

In the next section we look at how employment and unemployment are measured. After that, we introduce the wage-setting curve using the model of wage-setting from Unit 6. Then we describe how a single firm determines its employment level using the model of price-setting from Unit 7. This will provide a reason why the price-setting curve is essential to understanding the labour market in the economy as a whole. We then show how the two curves together determine the equilibrium level of employment, the real wage, and the distribution of income between wages and profits. Finally, we use this model to explore the effect of changes in public policy such as taxation of firms profits and workers wages, subsidies to firms for hiring more labour, changes in the unemployment insurance benefit received by those out of work, and changes in the degree of competition among firms.

Question 9.1 Choose the correct answer(s)
Which of the following statements is correct?

To maximize profits, firms set the wage at the level where the workers are indifferent between working and not working.
Firms aim to set as high a price as possible.
In equilibrium, the wage clears the labour market, so there is no unemployment.
If all firms set the same price and pay the same nominal wage, then the higher the real wage that they pay, the lower is their markup.


In order to motivate employees to work hard and well, firms set the wage sufficiently high so that workers receive an employment rent, in other words, there is a nonzero cost of job loss.
There is a trade-off between a higher price/markup and quantity of sales. A firm chooses the price at which its profit is maximized.
In labour market equilibrium there is involuntary unemployment, as the wage has to be set at a level higher than the full-employment level in order to motivate employees to work hard and well.
The real wage is W/P while the markup is (P  W)/P = 1  (W/P). So the higher the former, the lower the latter.


Global economy