9.2 Measuring the economy: Employment and unemployment

unemploymentA situation in which a person who is able and willing to work is not employed.

According to the standardized definition of the International Labour Organization (ILO), the unemployed are the people who:

were without work during a reference period (usually four weeks), which means they were not in paid employment or self-employment
were available for work
were seeking work, which means they had taken specific steps in that period to seek paid employment or self-employment


population of working ageA statistical convention, which in many countries is all people aged between 15 and 64 years.inactive populationPeople in the population of working age who are neither employed nor actively looking for paid work. Those working in the home raising children, for example, are not considered as being in the labour force and therefore are classified this way.labour forceThe number of people in the population of working age who are, or wish to be, in work outside the household. They are either employed (including self-employed) or unemployed. See also: unemployment rate, employment rate, participation rate.

Figure 9.2 provides an overview of the labour market and shows how these components fit together. We begin on the left-hand side with the population. The next box shows the population of working age. This is the total population, minus children and those over 64. It is divided into two parts: the labour force and those out of the labour force (known as inactive). People out of the labour force are not employed or actively looking for work, for example, people unable to work due to sickness or disability, or parents who stay at home to raise children. Only members of the labour force can be considered as employed or unemployed.











Figure 9.2 
The labour market.
        





participation rateThe ratio of the number of people in the labour force to the population of working age. See also: labour force, population of working age.

There are a number of statistics that are useful for evaluating labour market performance in a country and for comparing labour markets across countries. The statistics depend on the relative sizes of the boxes shown in Figure 9.2. The first is the participation rate, which shows the proportion of the working age population that is in the labour force. It is calculated as follows:


unemployment rateThe ratio of the number of the unemployed to the total labour force. (Note that the employment rate and unemployment rate do not sum to 100%, as they have different denominators.) See also: labour force, employment rate.

Next is the most commonly cited labour market statistic: the unemployment rate. This shows the proportion of the labour force that is unemployed. It is calculated as follows:


employment rateThe ratio of the number of employed to the population of working age. See also: population of working age.

Lastly, we come to the employment rate, which shows the proportion of the population of working age that are in paid work or self-employed. It is calculated as follows:

It is important to note that the denominator (the statistic on the bottom of the fraction) is different for the unemployment and the employment rate. Hence, two countries with the same unemployment rate can differ in their employment rates if one has a high participation rate and the other has a low one.
The table in Figure 9.3 provides a picture of the Norwegian and Spanish labour markets between 2000 and 2015, and shows how the labour market statistics relate to each other. It also shows that the structure of the labour market differs widely across countries. We can see that the Norwegian labour market worked better than the Spanish labour market in the last 15years: Norway had a much higher employment rate and a much lower unemployment rate. Norway also had a higher participation rate, which is a reflection of the higher proportion of women in the labour force.






Norway 
Spain 


Number of persons, millions




Population of working age
3.5
37.6


Labour force
2.5
21.6


Out of labour force (inactive)
1.0
16.0


Employed
2.4
18.1


Unemployed
0.1
3.5


Rates (%)




Participation rate 
2.5/3.5 = 71%
21.6/37.6 = 58%


Employment rate
2.4/3.5 = 69%
18.1/37.6 = 48%


Unemployment rate
0.1/2.5 = 4%
3.5/21.6 = 16%




Figure 9.3 
Labour market statistics for Norway and Spain (averages over 20002015).
        





International Labour Association. 2015. ILOSTAT Database.



Norway and Spain are illustrations of two common cases. Norway is a low-unemployment, high-employment economy (the other Scandinavian countriesSweden, Denmark, and Finlandare similar) and Spain is a high-unemployment, low-employment economy (the other southern European economiesPortugal, Italy and Greeceare other examples). Other combinations are possible, however: South Korea is an example of an economy that has both a low unemployment rate and a low employment rate.

Exercise 9.1 Employment, unemployment, and participation

Visit the ILOs website and use the ILOSTAT Database to calculate the employment, unemployment, and participation rates for two economies of your choice.
Describe the differences in these two countries data and compare them with Spain and Norway. Choose a visual representation of the data (for example, using the graph function of your spreadsheet software) and explain your choice.
After studying this unit, use the model of the labour market to suggest possible reasons for the differences in unemployment rates in these countries. You may need to find out more about the two countries labour markets.



Question 9.2 Choose the correct answer(s)
Which of the following statements is correct?

participation rate = employed  labour force
unemployment rate = unemployed  population of working age
employment rate = employed  population of working age
employment rate + unemployment rate = 1


participation rate = labour force  population of working age
unemployment rate = unemployed  labour force
This is the definition of the employment rate.
unemployment rate = unemployed  labour force, while employment rate = employed  population of working age. They do not add up to 1 because the denominator is different.