9.6 Wages, profits, and unemployment in the whole economy
By superimposing the wage-setting curve on the price-setting curve in Figure 9.12, we have a picture of the two sides of the labour market.











Figure 9.12 
Equilibrium in the labour market.
        




All of the points in the shaded area below the wage-setting curve are labeled no work done because in this region the real wage is insufficient to motivate workers to work. In this situation, there is no work done and no profits, so nobody is hired: the only outcome possible in the long run if the real wage is below the wage-setting curve is zero employment. These shaded points are not feasible.
The equilibrium of the labour market is where the wage- and price-setting curves intersect. This is a Nash equilibrium because all parties are doing the best they can, given what everyone else is doing. Each firm is setting the nominal wage where the isocost curve is tangent to the best response function (Unit 6), and is setting the profit-maximizing price (Unit 7). Taking the economy as a whole, at the intersection of the wage- and price-setting curves (point X):

The firms are offering the wage that ensures effective work from employees at least cost (that is, on the wage-setting curve). HR cannot recommend an alternative policy that would deliver higher profits.
Employment is the highest it can be (on the price-setting curve), given the wage offered. The marketing department cannot recommend a change in price or output.
Those who have jobs cannot improve their situation by changing their behaviour. If they worked less on the job, they would run the risk of becoming one of the unemployed, and if they demanded more pay, their employer would refuse or hire someone else.
Those who fail to get jobs would rather have a job, but there is no way they can get onenot even by offering to work at a lower wage than others.

Unemployment as a characteristic of labour market equilibrium
We have shown that unemployment can exist in Nash equilibrium in the labour market.

labour market equilibriumThe combination of the real wage and the level of employment determined by the intersection of the wage-setting and the price-setting curves. This is the Nash equilibrium of the labour market because neither employers nor workers could do better by changing their behaviour. See also: equilibrium unemployment, inflation-stabilizing rate of unemployment.equilibrium unemploymentThe number of people seeking work but without jobs, which is determined by the intersection of the wage-setting and price-setting curves. This is the Nash equilibrium of the labour market where neither employers nor workers could do better by changing their behaviour. See also: involuntary unemployment, cyclical unemployment, wage-setting curve, price-setting curve, inflation-stabilizing rate of unemployment.excess supplyA situation in which the quantity of a good supplied is greater than the quantity demanded at the current price. See also: excess demand.

We now show why there will always be unemployment in labour market equilibrium, using the argument from Unit 6. This is called equilibrium unemployment.
Unemployment means that there are people seeking work but not finding it. This is also termed excess supply in the labour market, meaning that demand for labour at the given wage is lower than the number of workers willing to work at that wage. To understand why there will always be unemployment in labour market equilibrium, we refer to the labour supply curve.
In our model, we assume that the labour supply curve is vertical, meaning that higher wages do not lead more people to offer more hours at work. At higher wages some people seek (and find) more hours of work, and others seek (and find) shorter hours. You know from Unit 3 that the substitution effect of a wage increase (leading to the choice of more hours of work and less of free time) may be offset by the income effect. For simplicity we draw a supply curve such that the wage has no effect on the labour supply. But this is not important. The model would not be different if higher wages led to either more or fewer people seeking work. To see this, you can experiment with labour supply curves with different shapes in Figure 9.12.
Why will there always be some involuntary unemployment in labour market equilibrium?

If there was no unemployment: The cost of job loss is zero (no employment rent) because a worker who loses her job can immediately get another one at the same pay.
Therefore some unemployment is necessary: It means the employer can motivate workers to provide effort on the job.
Therefore the wage-setting curve is always to the left of the labour supply curve.
It follows that in any equilibrium, where the wage and price-setting curves intersect, there must be unemployed people: This is shown by the gap between the wage-setting curve and the labour supply curve.

Another way to see this is to look again at Figure 9.12. Notice that the wage-setting curve rises steeply when it comes close to the labour supply line, exceeding both the price-setting and labour productivity curves. This fact about our model highlights an important limit on policies to reduce unemployment. According to our model, any policy that comes close to entirely eliminating unemployment would put employers in a position that the best they could do would be to pay wages so high they would eliminate the employers profits and drive the firms out of business.

Exercise 9.4 Is this really a Nash equilibrium?
In this model, the unemployed are no different from the employed (except for their bad luck). Imagine you are an employer, and one of the unemployed comes to you and promises to work at the same effort level as your current workers but at slightly lower wage.

How would you reply?
Does your reply help explain why unemployment must exist in a Nash equilibrium?



Question 9.6 Choose the correct answer(s)
Figure 9.12 depicts the labour market model. Consider now a reduction in the degree of competition faced by the firms. Which of the following statements is correct regarding the effects of reduced competition?

The price-setting curve shifts up.
The wage-setting curve shifts down.
The equilibrium real wage falls.
The unemployment level falls.


Decreased competition implies a higher markup. This decreases the share of output claimed by the workers, reducing their real wage. Hence the price-setting curve shifts down.
The wage-setting curve is determined by the supply of labour. It is therefore unaffected.
Decreased competition leads to a lower price-setting curve, while the wage-setting curve is unaffected. Therefore the equilibrium (the intersection of the two curves) shifts down and to the left, implying lower real wage and higher unemployment.
With the price-setting curve shifting down, the intersection of the two curves moves down the wage-setting curve to where there is higher unemployment.



Question 9.7 Choose the correct answer(s)
Which of the following statements is correct regarding the effects of a rise in the real wage on the labour supply of a worker?

The income effect means that the worker will increase his labour supply.
The substitution effect means that the worker will increase his consumption of free time.
The income and substitution effects always enhance each other, leading to higher labour supply.
At high wage levels, the income effect dominates the substitution effect, leading to lower labour supply.


As the real wage rises, the worker feels richer. This would induce him to work less, in other words, the income effect is negative.
The real wage is the price of consuming leisure. Therefore when the wage rises, free time becomes more expensive relative to consumption goods (which are purchased using the wage income). Hence the worker would substitute out of consuming leisure into consuming goods, implying lower free time and higher labour supply.
The income and substitution effects always work against each other, leading to higher labour supply at lower wages and lower labour supply at higher wages.
The negative income effect and the positive substitution effect always work against each other. At high wages the former more than offsets the latter, implying that the worker reduces his labour supply (he already earns enough).


Politics and policy