9.8 Labour market equilibrium and the distribution of income
As we have seen, the labour market model determines not only the level of employment, unemployment, and the wage rate, but also the division of the economys output between workers (both employed and unemployed) and employers. So the labour market model is also a model of the distribution of income in a simple economy in which there are just these two classes (employers, who are the owners of the firms, and workers), where some of the latter are without work.
As we did in Unit 5, we can construct the Lorenz curve and calculate the Gini coefficient for the economy in this model. Refer back to the Einstein in Unit 5 on the Lorenz curve and to the Einstein at the end of this section, which explain how to calculate the Gini coefficient with different kinds of information about a population.











Figure 9.17 
The distribution of income at labour market equilibrium.
        




In the left panel of Figure 9.17 we show the labour market of an economy with 80 identical employees of 10 identical firms. As you can see, there are 10 unemployed people. Each firm has a single owner. The economy is in equilibrium at point A, where the real wage is both sufficient to motivate workers to work and consistent with the firms profit-maximizing price markup over costs (w = 0.6 in this case).
The right-hand panel shows the Lorenz curve for income in this economy. Because the unemployed people receive no income if there are no unemployment benefits, the Lorenz curve (the solid blue line) begins on the horizontal axis to the right of the left-hand corner. The price-setting curve in the left panel indicates that total output is divided up so that workers receive a 60% share and their employers receive the rest. In the right panel this is shown by the second kink in the Lorenz curve, where we see that the poorest 90 people in the population (the 10 unemployed workers and the 80 employees, shown on the horizontal axis) receive 60% of the total output (on the vertical axis).
The size of the shaded area measures the extent of inequality, and the Gini coefficient is 0.36. To learn how to calculate the Gini coefficient from information like this see the Einstein at the end of this section.
The Lorenz curve is made up of three line segments with the beginning point having coordinates of (0, 0) and the endpoint (1, 1). The first kink in the curve occurs when we have counted all the unemployed people.
The second is the interior point, whose coordinates are (fraction of total number of economically active population, fraction of total output received in wages). The fraction of output received in wages, called the wage share in total income, s, is:

Therefore the shaded area in the figureand hence inequality measured by the Gini coefficientwill increase if:

A larger fraction of the employees are without work (higher unemployment rate): The first kink shifts right.
The real wage falls (or equivalently, the markup rises) and nothing else changes: The second kink shifts down.
Productivity rises and nothing else changes (real wages do not rise): This implies that the markup rises, so again the second kink shifts down.

Factors that affect labour market equilibrium: Unemployment and inequality
What can change the level of employment and the distribution of income between profits and wages in equilibrium? Follow the steps in Figure 9.18 to see what would happen if there were an increase in the degree of competition faced by firms, perhaps as a result of a decrease in the barriers to firms from other countries competing in this economys markets.












Figure 9.18 
The effect of an increase in the extent of competition faced by firms: The price-setting curve shifts up and inequality falls.
        















The initial equilibrium


We start from the equilibrium at A with a Gini coefficient of 0.36. Suppose that the degree of competition faced by firms is increased.














A new equilibrium


The markup charged by firms in the market will decrease, and so the price-setting curve will be higher. The new equilibrium is at B.














A new Gini coefficient


At the new equilibrium there is a higher wage and a higher level of employment. Stronger competition means that firms have weaker market power: the share going to profits falls, and the share going to wages rises. Inequality falls: the new Gini coefficient is 0.19.




The markup would decrease, and as a result the real wage shown by the price-setting curve would increase, leading to a new equilibrium at point B with a higher wage and a higher level of employment. The share of output going to profits falls, and the share going to wages rises.

Question 9.9 Choose the correct answer(s)
Figure 9.17 is the Lorenz curve associated with a particular labour market equilibrium. In a population of 100, there are 10 firms, each with a single owner, 80 employed workers, and 10 unemployed workers. The employed workers receive 60% of the total income as wages. The Gini coefficient is 0.36. In which of the following cases would the Gini coefficient increase, keeping all other factors unchanged?

A rise in the unemployment rate.
A rise in the real wage.
A rise in the workers productivity while the real wage is unchanged.
A rise in the degree of competition faced by the firms.


A rise in the unemployment rate would shift the first kink of the Lorenz curve to the right. This shifts the curve down, increasing the Gini coefficient.
A rise in the real wage would raise the second kink of the Lorenz curve. This shifts the curve up, decreasing the Gini coefficient.
This implies a rise in the markup, or equivalently, a fall in the wage share in total income. This shifts the second kink of the Lorenz curve downwards, increasing the Gini coefficient.
A rise in the degree of competition would raise the price-setting curve in the model of the labour market, resulting in higher employment and higher wage share. This shifts the first kink of the Lorenz curve to the left and the second kink upwards, reducing the Gini coefficient.



Einstein The Lorenz curve and the Gini coefficient in an economy with unemployed, employed, and employers (owners)












We now use the figure to derive an equation for the value of the Gini coefficient in terms of the following variables:

u, the fraction of the population that is unemployed
n, the fraction of the population that is employed
w, the real wage
q, output per employed worker
s = w/q, the wage share received by workers

Recall that the Gini coefficient is equal to the area A divided by the area under the 45-degree line, and so it is equal to A/0.5 = 2A. We calculate A as 0.5  B where B = B1 + B2 + B3:

Rearranging these variables gives us:

This implies that the Gini coefficient is:

Recall that s = w/q. What can we learn from the expression:


If the class of employers gets relatively smaller: Then u + n rises. This implies that g rises, and point Y shifts right on the Lorenz curve: inequality goes up. This is because the same amount of profit is divided among fewer people, so they are even richer than before. This could depict the early evolution of capitalism from an economy of smallish family-owned firms and manufacturers, each employing a few workers, to a modern economy with concentrated wealth.
An increase in the wage share w/q, ceteris paribus, will reduce the Gini coefficient: This shifts point Y upwards.
If all firms are cooperatives: If there are no employers and the workers keep all that they produce (w/q = 1), then the Gini coefficient declines to g = 2u + n  1 and point Y moves to the top right corner. If in addition there is no unemployment, then u = 0 and n = 1, so g = 0: there is perfect equality because everyone is a worker receiving an identical wage. This assumes productivity remains unchanged.
As we saw in the Einstein in Unit 5, this calculation does not work if the population is small: In this case the formula we derived for the Gini coefficient does not equal 1 when a single person receives all of the incomeas it should. To show this, suppose that w = 0, so the only income goes to the employers. Then in our formula above g = u + n. Now imagine that there are 10 people in the population, just one of whom is the employer. Then g = 0.9 when the Gini is really equal to1. This is the small population bias. If you calculate the Gini coefficient by taking differences among pairs of people in the population, your result for g will not be subject to this small population bias. Alternatively, you can multiply the g calculated above by N/(N  1) to correct the bias, where N is the size of the population: multiplying 0.9 by 10/9 gives g = 1.


Global economy